[2011-12-28 14:44] h-east commented on #116
ご意見、情報ありがとうございます。

タブ以外での :qa の挙動については現状のままで問題なくて、
タブ使用時はお二人の意見に賛成です。

<br>
あと、タブ関連のコマンドで提案です。
- `:tabs` でも hidden なバッファを表示してはどうか？ （`:buffers` のような感じで）
- `:buffers` にタブページ番号を表示するようにしてはどうか？<br>
  もしくは `:buffers` の指定タブ限定版コマンドを追加してはどうか？<br>
  (例) `:tabbuffers` [N]<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;タブページ[N](デフォルト: カレントタブ)内の全バッファを表示する。

[2011-12-28 19:26] h-east commented on #116
:qa 時に「未保存のバッファを持ったタブ&バッファに移動する」patch

[code]

[2011-12-29 06:54] h-east commented on #116
`:bmodified` の挙動は今のままで良いんじゃないかと思います。 **バッファ**コマンドなので。
ただ `:tab bmodified` ってやったら新しいタブを開いて欲しい気はする。（実装漏れ？？）

[2011-12-29 09:10] tyru commented on #116
@h-east++

[2011-12-29 09:16] ynkdir commented on #116
おつかれさまです。

FOR_ALL_TAB_WINDOWS() のループを break で抜けようとしてますがこのマクロは二重の for 文になるので抜けれてないです。
念のため。
まあ他の場所でも break を使ってるコードありますが…。
動作的には最初に見つかったのと最後に見つかったのとどっちを使うかの選択ですね。

対象の未保存バッファがカレントタブページ内 (の他のウィンドウ) にあっても他のタブページに移動してしまいます。
私的にはどっちでもいいんですが世間的にカレントタブページを優先した方がいいような気がします。

`:bmodified` をタブで開くのは `:tab sbmodified` になっちゃいますね。
`:tab` はウィンドウを作成するコマンドにしか効かないので。

[2011-12-29 09:20] koron opened #117 "FOR_ALL_TAB_WINDOWS()とbreakの関係を検討する"
#116 で @ynkdir さんが言ってる

これって潜在的な問題ではなかろか? 要検討。

[2011-12-29 09:25] koron commented on #117
擬似コードで書くとこんな感じ。

[code]

で、 tabsのループを抜けらんなくて、最後のタブが操作対象になるんだろう。
でもこれって計算時間的にはかなりのムダじゃなかろうか。
FOR_ALL_TAB_WINDOWS()が上記のAで示した位置にコードを差し込めないのであれば
breakは常に意図しない動作になるということか。

[2011-12-29 09:47] ynkdir commented on #117
aucmd_restbuf() の一ヶ所だけなのでタブ化時の直し忘れだと思いますけど
このてのマクロは間違えやすいですよねぇ…

[2011-12-29 09:57] ynkdir commented on #117
直し忘れというより意図的に手を抜いてる可能性もありますが

[2011-12-29 10:08] h-east commented on #116
@ynkdir

わぉ！、まんまと引っかかってしまいましたorz。指摘ありがとうございます。
gotoに変更しました。

[code]

なるほど！勉強になりました。ありがとうございます。

[2011-12-29 12:10] h-east commented on #117
aucmd_restbuf() [fileio.c : 8896]

[code]

↑この条件に合致する wp は1つなので不正な処理がされることはなさそうです。
（条件合致以降もループするのは明らかに無駄ですけどね。）
<br>
一方、[#116のpatch](https://github.com/vim-jp/issues/issues/116#issuecomment-3299469)の場合は

[code]

バッファでチェックしてます。バッファは別ウィンドウや別タブで多重に存在できるので、gotoでループを抜ける/抜けないとで処理結果が変わってしまって(ﾟдﾟ)ﾏｽﾞｰでした。

[2011-12-29 12:34] koron commented on #117
無駄な処理があるのはVim的には非許容なはずなんで、なんらかの訂正をしたいですね。

[2011-12-29 12:34] koron commented on #117
あ、ドキュメントで逃げるってのもありです。マクロの解説にそのことが書いてアレば別に構わない。

[2011-12-30 08:25] h-east commented on #94
こちらにも貼っておきます。(まだ解析途中です)
[VimのソースコードをVimで解析しよう(Part1-1)](http://d.hatena.ne.jp/h_east/20111230)

[2012-01-01 02:37] Shougo commented on #100
そういえば、このパッチって結局完成したんでしたっけ。問題があるなら解決して、早めに本家にパッチを送れると良いのですけど。neocomplcacheをcomplete_check()に対応させたいです。

[2012-01-04 00:51] mattn commented on #100
完成してないですね。findstart=1 で -1 を返した場合に cw した際のレジスタがおかしくなるという根本原因はまだ突き止めれてないです。

[2012-01-04 04:49] Shougo commented on #100
あ、確かにその問題もありましたね。
これって、neocomplcache以外でも再現するんですかね？

[2012-01-04 06:38] mattn commented on #100
追えてないので分かりません。

[2012-01-05 05:25] h-east commented on #107
Patch 7.3.393 で取り込まれました。
https://groups.google.com/d/topic/vim_dev/eVdhqFW0cSo/discussion

[2012-01-05 05:38] mattn commented on #107
とじまーす

[2012-01-05 05:38] #107 closed, assigned to ynkdir

[2012-01-05 09:22] Shougo opened #118 ":cd []-[]が失敗する"
本日発見したバグ？的挙動。

<pre>:cd `="[]-[]"`</pre>や、`:cd []-[]`を実行すると、

`E16: Invalid range`になります。
エスケープで回避できるか調べたのですが、`:cd \[]-\[]`も失敗してしまい、回避方法が分からず。
内部でexpand()しちゃっているんじゃないかなぁと予想しています。

Linuxで確認。おそらく、Windows他でも再現するはず。

[2012-01-05 09:25] thinca commented on #118
`:cd []-[]` は確かにエラーが出ましたが、<pre>:cd `="[]-[]"`</pre> は問題なく成功しました。Linux です。

[2012-01-05 09:36] Shougo commented on #118
んー、もう一度やってみました。
一回目は成功しますが、二回目失敗しますね。E16:が出ます。
ちょっとこの挙動がよく分かりません。
あと、vimshell#cd()が失敗します。vimshell#cd()は`=`を使っているので、
本来エスケープなしで動かないといけないはずです。

[2012-01-05 09:40] thinca commented on #118
それは単に cd が成功したので移動先のディレクトリがないだけではないですか。
存在しないディレクトリに対して `:cd` すると E16 がでるようです(何故かはわかりませんが)。

[2012-01-05 09:52] mattn commented on #118
windowsですが、2回目出ませんね。
ちゃんとcd出来てます。

[2012-01-05 09:55] mattn commented on #118
`:edit`を使ったスクリプトがエスケープもしくは``="[]-[]"``する必要がある様に、`:cd`も対応する必要があるかと思います。

[2012-01-05 10:01] thinca commented on #118
色々試してみましたが、E16 が出るのはおかしい気がしますねぇ。
普段は出ないんですが、

[code]

みたいにカレントディレクトリが(詳しい条件はわかりませんが)アレの場合に E16 が出るっぽいです。
まあ元々 `:cd` できなくてエラー出るので実害はほぼないかとは思いますが。

[2012-01-05 10:07] ynkdir commented on #107
ありがとうございます。

[2012-01-05 10:22] Shougo commented on #118
そのエラーなんですかね？
少なくともエラーメッセージ間違っていますよね。

うーん、現在 `:cd \`={var}``というようになっているんですが、これではだめなのでしょうか？
editは問題なくできます。しかし、cdが動きません。

[2012-01-05 10:23] Shougo commented on #118
<pre>
let hoge = "[]-[]"
cd `=hoge`
</pre>

あれ、これは動作した。なぜ、vimfilerのcdが失敗するんだろう。調べてみます。

[2012-01-05 10:25] thinca commented on #118
私のところではそれは動いてます。

[2012-01-05 10:29] ynkdir commented on #118
E16: Invalid range は /[z-a] と同じエラーかと思います。範囲指定が start < end になってない。

[2012-01-05 10:30] mattn commented on #118
注意：このパッチは入れてはいけません

[code]

これで動いてそげ。要人柱。

[2012-01-05 10:34] ynkdir commented on #118
@mattn glob の [] が無効化されます。:edit fileio.[c] など。

[2012-01-05 10:37] koron commented on #118
`]-[` で検索してんのコレ?

[2012-01-05 10:41] mattn commented on #118
む... これいれると pathogen.vim がちゃんと動かなくなるな。どっちの問題かは不明。

[2012-01-05 10:42] mattn commented on #118
@ynkdir あーそんなのもあるか

[2012-01-05 10:45] Shougo commented on #118
えーっと、vimshellのcdの件は、こちらのミスです。
自分が使っていたオリジナルcdコマンドがexpand()にうまく対応していなかったため。
修正すると、動くようになりました。
だから、残る問題はエラーメッセージがおかしいことだけですね。

[2012-01-05 10:45] thinca commented on #118
えーとつまり、E16 の原因は、`:cd` の際に引数にないカレントディレクトリ部分もワイルドカード(`:help wildcard`)として展開しようとしてしまっているってことですかね?
で、`]-[` と言うのは文字クラスの範囲として認識したけど、これは範囲として無効(ASCII的に `[` < `]` だから)、で、E16 が出る、言うこと?

[2012-01-05 10:49] Shougo commented on #118
すみません、もう一つバグっぽい挙動を発見しました。
カレントディレクトリに[]-[]というパスが含まれる状態で、`finddir('.git')`をするとE16が出ます。

[]-[]というファイル名は、Vim的にかなりのトラップのようです。

[2012-01-05 11:18] mattn commented on #118
原因は全て `file_pat_to_reg_pat()` な気がする。この関数はフルパスを求める際に使われていて`dos_expandpath()`から呼ばれる。この関数が `[]-[]` をどう表すか。

[2012-01-05 14:23] ynkdir commented on #118
'path', 'cdpath' 関連なんですかね。

on linux

[code]

[code]

windowsだと :set isfname-=[ で E16 はでなくなりますね。解決にはなりませんが。

[2012-01-05 14:29] ynkdir commented on #118
おっと、ディレクトリが存在しててもエラーでした。

[code]

[2012-01-07 01:26] koron commented on #118
「どーでもいーこと」なんだけど、githubのNotificationsのタイトルが

になってるのはマークアップかなんかで潰れてるのかなぁ?

[2012-01-07 01:27] thinca commented on #118
本当だ。githubのバグですかね。

[2012-01-07 03:40] koron opened #119 "Lua 5.2でコンパイルできない"
Vim 7.3.393 + Lua 5.2 でコンパイルできない。
確認したのはWindows版。

とりあえず今からパッチ書きます。

[2012-01-07 04:07] koron commented on #119
LUA_ENVIRONINDEX が無くなってる。
そのせいで手こずりそうな予感。

[2012-01-07 08:48] koron commented on #119
あとはbufferとwindowオブジェクトだけなんとかすれば良さそうなんだけど…これオリジナルコードかなりマズいんじゃなかろうか? なんかテストを書いたほうが良いかもしれん。

[2012-01-07 09:17] koron commented on #119
やっぱし…解放済みメモリの参照を引き起こした。

[2012-01-07 09:31] koron opened #120 "if_luaで解放済みメモリへの参照を引き起こせる"
[code]

こんなスクリプトを実行すると `buf.name` が解放済みのメモリへの参照を引き起こす。もちろんLuaスクリプトの側で事前に `buf:isvalid()` を調べることで対処は可能だが、不正なメモリ参照を起こして良い理由にはならない。OSや環境によってはSEGVで落ちても文句は言えないだろう。

[2012-01-07 09:35] koron commented on #120
このようなことが起こりうるオブジェクトはbufferとwindowである。
対処法としては、各種ポインタをデリファレンスするまえにisvalid()相当のチェックを行い、不正な参照を起こさないようにするのが良いと考えている。

[2012-01-07 09:59] koron commented on #120
ちょっとした応用でメモリリーク(wastedと言ったほうが良いかもしれない)を起こせそう。これが引き起こせればこのあたりを修正する良い口実になりそうだ。試してみよう。

[2012-01-07 10:21] koron commented on #120
メモリリークはちゃんとブロックする機構があった。

ところで50万回のほぼ空なループをVimスクリプトとLuaで比較したら15secと0.30secとなり、約50倍の速度差があった。どうすんだコレw

[2012-01-07 12:20] koron commented on #119
解放済みメモリの参照の件は #120 に追加。

[2012-01-07 12:43] koron commented on #119
とりあえずコンパイルできるところまでのパッチ。

https://gist.github.com/1574612

単純な `:lua print('Hello Vim')` くらいは動いた。

[code]

これは動かない。現時点では落ちる原因がプログラミングミスなのか、コンパイラ不一致によるものなのかは定かではない。
(VimをMSVC10、LuaはMinGW) まぁ、ほぼプログラミングミスだけど。

# 変更のポイント

Lua 5.2では「環境テーブル」がなくなってしまった。そのかわりにuserdataにバインドできるuservalueが増えた。

## 変更前

Vimのif_luaでは環境テーブルを使って、bufferとwindowについてVim側の値とLua側での値を保持していた。Vim側の値はそれぞれのポインタ(lightudata)であり、Lua側の値はポインタへのポイ

[2012-01-08 05:05] koron commented on #119
落ちていた原因が判明。uservalueはuserdataに与えられるもので、lightuserdataには与えられない。先のパッチではlightuserdataにこれを与えようとしていた。またLUA_USE_APICHECKをdefineせずにコンパイルするとLuaは実行時に型チェックを行わない。そのためこのことがLua 5.2のソースコードを読むまでわからなかった。

ENVが使えないならREGISTRYを使えば良いという考え方もできるが、それでもENVを使ったのはweak tableの件と無関係ではなさそう。windowやbufferは回収タイミングがあるが、listやdictには(今は)無いんじゃないか?それを自動でやるための施策、と考えるとわかる気がする。シナリオとしてはこう。
1. Luaにコピったlistやdictを回収するタイミングがないなぁ
2. ENVをweak tab

[2012-01-08 06:06] ynkdir commented on #119
Vim から Lua への list/dict のコピーは copy by value なのに intern (?) を管理してるのはへんですね。

[code]

[2012-01-08 06:11] koron commented on #119
さっきわかったんですがたぶんcopyを返すのが仕様です。internは循環参照を切るために一時的に使ってます。なのでweak tableなんですわ。

[2012-01-08 06:48] ynkdir commented on #119
あーなるほど。一時的な用途なのに一時的になってないと…。

[2012-01-08 09:11] koron commented on #119
@ynkdir その例、非常にいいですね。今、作ってるENVIRON使わない為のパッチの、正当性の根拠になりそうです。

[2012-01-08 09:28] koron commented on #119
まずはENVIRON使わないようにするパッチできた。

https://gist.github.com/1577830

このパッチを当てると先の @ynkdir さんの上記の例、最後のところで 123 になります。

[2012-01-08 10:01] koron commented on #119
とりあえず第一段 [「ENVIRONを潰せ」](https://groups.google.com/forum/?hl=ja#!topic/vim_dev/g6JU0S5gKkU) を投げた。

[2012-01-08 10:16] ynkdir commented on #119
luaV_get_associated_luavalue() 等の関数が "#ifdef DYNAMIC_LUA ... #endif" の内側に入ってるのでlinuxだとコンパイルエラーになります。

[2012-01-08 10:24] koron commented on #119
@ynkdir Thanks! MLには訂正版を送信し [Gist](https://gist.github.com/1577830) は更新しました。

[2012-01-08 11:43] koron commented on #119
5.2対応のパッチできた https://gist.github.com/1578073
バグ修正パッチ https://gist.github.com/1577830 の後に当てる必要あり。

[2012-01-08 14:28] thinca opened #121 "type() の結果の定数が欲しい"
`type()` の結果は数値であり、`:help type()` では以下のような使い方をしろと書いてある。

[code]

しかし、

- パッと見わかりづらい
- function は長い
- 定数を得るために関数呼び出しをするのはパフォーマンス上気になる(まあ微々たるもんでしょうが)

などの理由で改めて定数を用意することがよくある。
どうせなら最初から `v:` などに組み込み定数として用意してあると嬉しい。

[2012-01-08 14:30] thinca commented on #121
定数名は、一番シンプルに考えるなら型名そのままですかね。長いと結局利便性も落ちるので。

[code]

`dictionary` は長いので `dict` にしてみた。

[2012-01-08 15:06] koron commented on #121
v:listとか、多分ほかで使うんじゃないかなぁ。
t:とか新しいprefixを作るかv:t_みたいなほうが良くない?

他の定数を考えるとc:のほうが良いのかしら?

[2012-01-08 15:09] thinca commented on #121
うーん、やっぱりそうですかねぇ。

[code]

`c:`とかの新しいプレフィックスを追加するのってやりたいことに対して大仰すぎちゃうかなーって感じちゃうんですが、そこは他の方はどう思うでしょう?
ちなみに`t:` はタブローカルですでに使ってますね。

[2012-01-09 17:35] h-east commented on #94
@jbking ちょっと時間経ってますがいくつか確認させてください。
・`set lz?` の結果を教えて下さい。
・再現率はどれくらいでしょうか？ 頻繁に発生する感じでしょうか？
・再現時のキー操作手順を教えて下さい。(2～3パターン)

[2012-01-10 03:53] mattn commented on #121
s:true/s:falseネタに近い気もしなくないですね。
僕は c: はあまり好きくない。

[2012-01-10 07:28] Shougo commented on #121
そうですね。近い問題ですね。あれも却下されてしまったしなぁ。

[2012-01-10 07:33] koron commented on #121
似てるけど #38 は型追加のはなしでしたからね。あと見なおしたらこんなのあった。これがまさに「別issue」のはなしですね。

[2012-01-10 15:32] ynkdir commented on #118
バグレポート出します。

フラグ追加してexpandしないようにすればよさそうだけどよくわからないのでださない。

[code]

[2012-01-10 17:23] h-east commented on #95
Patch 7.3.397で取り込まれました！
https://groups.google.com/d/topic/vim_dev/QeQ5OG2YXrg/discussion

[2012-01-11 00:18] #95 closed, assigned to nobody

[2012-01-11 00:20] mattn commented on #118
ワークアラウンドになってしもた。

[2012-01-11 03:07] Shougo opened #122 "neocomplcacheにおいて &l:omnifunc が ClangComplete のとき、 neocomplcache#manual_omni_complete() を使用すると SEGVる。"
2chにて報告されていた問題です。

http://toro.2ch.net/test/read.cgi/unix/1322212163/82

現在のneocomplcacheはclang_completeのオムニ補完関数に対応していません。
だから、動く保証は全くないのですが、SEGVするのはさすがにVimの問題だと思うためこちらに報告しました。

[2012-01-11 03:09] thinca commented on #122
dllでのSEGVはさすがにVimにはどうしようもないのでは?

[2012-01-11 03:27] mattn commented on #122
落ちてる箇所がvimのソースなのが少し気になる。

[2012-01-11 04:24] ynkdir commented on #118
ヒィ、すみません。
なんか簡単ではないみたいですねぇ。

[2012-01-11 07:37] jbking commented on #94
nolazyredraw

1000行オーバーくらいの大きいソースコードで、シンタックスハイライトと折り畳みが効いているとき、100%。

jやkを押しっぱなしで行移動しているとき。

[2012-01-11 09:43] koron commented on #122
具体的になにを実行した時になるんだろう?

(特定の状況下で)スクリプトからインサートモードの<C-N>押下をエミュレートした?

[2012-01-11 09:46] koron commented on #51
https://twitter.com/#!/thinca/status/157033444344479744

https://twitter.com/#!/kaoriya/status/157034230478671872

私は、なんど同じ議論を繰り返せば気がすむのだろうw

[2012-01-11 11:38] koron commented on #51
とりあえずスケルトンだけ組んでみた。

https://gist.github.com/1594280

TODOの関数を実装すればだいたいOK。
使う時はset compactfuncした時とset nocompactfunc(デフォルト)時とで、
起動時間やメモリ使用量、それから実行時間を比較してみると良いかも。

[2012-01-11 11:55] mattn commented on #51
[code]

これが `- f o o -` を出すので行が `^\s*\\` な行を連結するってので行けそう。

[2012-01-11 11:58] koron commented on #51
@mattn それだと普通のインデントは想定してない?

[2012-01-11 12:07] mattn commented on #51
[code]

これも `- f o o -` なので先頭空白+`\`を連結でいいかと。

[2012-01-11 12:14] Shougo commented on #51
コメントを取り除くとエラー時のスタックトレースの行数とずれてしまうと思うのですが、これは行番号を別に保存するということですか？

[2012-01-11 12:16] mattn commented on #51
このpatchだとそうなりますね。もし行を補償するなら空行突っ込んどくのも手ですが。

[2012-01-11 12:18] koron commented on #51
@mattn ごめん。ちょいとわからない。もともとのコメント行の削除の話は置いておくとして、後から出てきた「行頭の空白を削除する話(a)」と「`\`を含む行の連結の話(b)」は別だと認識してるんだけど。それともaによる影響がbにないかを検討した、という意味?

@Shougo まずは実験。最終的にどうなるかはわからない。このコンセプトが機能するのかどうかを確認してからでも遅くはないでしょ。

なお、ソースコードを見た限りだと、`\`の行は連結されて保存されてるくさい。で、空いた行数をNULLパディングしている。あと私のパッチは、一行の内容を保存する直前に書き換えるためのスケルトンなので、詰まるとかそういうことはないはず。

[2012-01-11 12:21] Shougo commented on #51
了解しました。まずは、どれくらい高速化するかですね。

[2012-01-11 12:23] mattn commented on #51
@koron 2個目の例で言うと
1. 先頭から空白が続き
2. `\`で始まる行があった場合
3. 1の空白は無視され2で見つけた`\`以降の空白は有効となる。

という挙動の様です。

[2012-01-11 12:25] koron commented on #51
@mattn 了解。そのあたりはevalとは関係無く、ex_cmds2.cのgetsourceline()がやってくれちゃうみたい。

[2012-01-11 12:28] mattn commented on #51
あー、コメント行の話だったw
コメント行の場合は少し難しいかもね。

[2012-01-11 12:34] ynkdir commented on #51
自分の環境だと起動直後は 24 のスクリプトファイルが読み込まれてます。
使用状況によりもう少し読み込まれるとしてざっくり多めに見積もっても
100files \* 2000lines \* 80bytes = 16MB
くらいかなぁと考えると消費メモリはそんなに気にするほどでもない気がします。

起動直後に以下のスクリプトでコメントとインデントを集計すると
indent: 9100 bytes
  = (9100bytes / 24files) \* 100files = 37.9KB
comment: 56192 bytes
  = (56431bytes / 24files) \* 100files = 235.1KB
となるのでこれもまぁたいしたことはないなぁと思います。富豪的?

処理的なオーバーヘッドはどんなもんかわかりませんが…。

[code]

[2012-01-11 12:39] mattn commented on #51
その調査スクリプトを組む速さも驚いたが、24ファイルしか使ってない事にもっと驚いた。

[2012-01-11 12:41] koron commented on #51
@ynkdir それスクリプト全体に対しての何%なんですかね?

私、この前のujihisaさんの起動に数分かかるVimを見ちゃったんですよw
変な待ちが無いのだとしたら、スクリプトの占める総サイズはかなりヒドイことになってるので
割合で考えたらかなり稼げるという判断です。

あと、ちょっとこのあたりはメモリを稼ぐために再割当てしてるところがあって

[code]

滑りこませる余地があるかなぁ、とも思ってます。

[2012-01-11 12:54] ynkdir commented on #51
全体 212.7KB
インデント 9.1KB (4.2%)
コメント 56.4KB (26.5%)   関数内のみ 12.3KB (5.8%)

です。
自分はあんまりいろいろ入れないんですが起動に数分とか恐ろしい環境もあるんですね…。

[2012-01-11 12:57] koron commented on #51
@ynkdir Thanks! おおまかに30%はメモリ使用量を稼げるということにはなりそうですね。仮に1Gとか使ってたら300MB…w

ちなみにあれは私も目を疑いました。昔のワークステーションで動かすEmacsか?みたいなw

[2012-01-11 12:57] koron commented on #51
ああ、関数内だけだと10%か…

[2012-01-11 12:58] ynkdir commented on #51
あーでもほぼデフォルト&起動直後なのでこれはほとんど標準プラグインのみの集計ですね。

[2012-01-11 13:05] mattn commented on #51
まずujihisaさんのvimの`--startuptime`がみたいwww

[2012-01-11 13:15] koron commented on #51
…そういえば「これでも速くなったほうだ」みたいなことを聞いたのを思い出したw

[2012-01-11 13:30] koron commented on #51
更新した: https://gist.github.com/1594280
- compactinfo()追加: それまでにメモリへ溜め込んだ関数の、シュリンク前とシュリンク後のサイズをListで取れる
- compactreset()追加: 上記の情報をリセットする

まだシュリンクロジック自体は作ってない。で、ちょっと自分の起動直後の環境がどのくらいか見てみたんですよ。そしたら約75KBしか関数の保存に使ってなかったwww

[2012-01-11 13:41] koron commented on #51
とりあえず行頭の空白、削ったら120バイト省略できたっぽ。僕の環境じゃテストにならんwww

[2012-01-11 13:46] koron commented on #51
シュリンク前のサイズ、シュリンク後のサイズ、対象となる関数の数…微妙なのでコメント削りもやってみるか。

[2012-01-11 13:52] koron commented on #51
簡単なロジックだけどコメントも削ってみた。

数字の意味はさっきといっしょ。274バイトほど削れたwww 今からパッチ更新してみるわ。

[2012-01-11 13:56] koron commented on #51
https://gist.github.com/1594280

更新点:
- シュリンク処理した関数の数を追加
- ON/OFFのオプション名をcompactに変更&デフォルトでONにした(テストしやすくするため)
- シュリンク処理を実装
  - 行頭の空白を削除
  - コメント行(らしきもの)は空文字列に置換

とりあえずこんな感じ。使ってるスクリプトが多い人に計測してみてほしい。ただコメント行の判定は超いい加減なので、バグるケースがあるかも。

[2012-01-11 13:57] koron commented on #51
autoloadを考えると、ある程度使ってから `echo compactinfo()` で確認したほうがよさげ。

[2012-01-11 21:50] Shougo commented on #51
はい。私も確認しました……。私の環境でも数秒しかかからないので、ちょっとアレはありえなかった。

[2012-01-12 00:12] mattn commented on #51
`\`で行連携してる部分を減らせば速度アップという話は別途あった気がするんだけど、そこはこのパッチだと片付かないのかな。

[2012-01-12 00:31] koron commented on #51
ぜんぜん片付かないですw

そのあたりはget_one_sourceline()とgetsourceline()の合わせ技で簡単に言うと、長い行があるほどメモリ確保とコピーが繰り返されるという構造になっているのが原因で、そっちは解決していません。

[2012-01-12 00:41] koron opened #123 "スクリプトの行連結を高速化できないか"
Vimスクリプトでは行頭の `\` で行の連結ができますが、これが多い場合にスクリプトの読み込みに時間がかかることが知られています。これを解決できないかと考えています。

遅くなっている原因はex_cmd2.cのgetsourceline()とget_one_sourceline()によりますが、特に行連結に限ればgetsourceline()だけ考えれば良いでしょう。問題のコードはこんな感じです。

[code]

要点を整理すると
- 行連結を見つけた際に前後の行をひとつのバッファに合成する/strlenとallocとstrcpy/catが発生する
- 行連結が連続すると上記操作が無駄に繰り返される/同じ行の内容を何度もコピーする

という構造です。経験上、特にstrlenとstrcpy/catが痛いかも。

[2012-01-12 00:46] koron commented on #123
対策としては連結行を見つけた場合は、それらをgarray_Tに格納しておいて最後にまとめてひとつに合成する、ことでしょう。ポイントはstrlen的な操作とmemcpy的な操作(走査とコピー)を最小限にすることと、あとメモリ開放をわすれないことになります。なので

[code]

こんな構造をgarray_Tにとっとくとよさそうです。

[2012-01-12 00:47] koron commented on #51
この件、Vim側である程度対策できそうだと感じたので、 #123 を登録しておきました。

[2012-01-12 01:05] mattn commented on #123
少なくとも先に捜査して、そのインデックス内でjoinする様にすればゼロコピーでいけそうな気がする。

[2012-01-12 01:35] mattn commented on #123
注意：このパッチは入れてはいけません。

うむ。いくらか差が出るね。

[code]

[2012-01-12 01:50] mattn commented on #123
むむー。遅くなるケースもあるのか。

[2012-01-12 01:51] mattn commented on #123
あ、開放漏れてた。

[2012-01-12 01:53] mattn commented on #123
パッチ更新

[code]

[2012-01-12 01:53] koron commented on #123
www

[2012-01-12 01:55] mattn commented on #123
https://gist.github.com/1598017

のソースを使って

[code]

した場合。オリジナルのvimだと

1回目: 0.619650
2回目: 0.622633
3回目: 0.617841

パッチ当てたvimの場合

1回目: 0.544637
2回目: 0.556371
3回目: 0.549445

となった。結構いいかもしれない。

[2012-01-12 01:58] koron commented on #123
それだと一行しかないケースで、パフォーマンス悪化しそうなんだけど、なんでそうなってないんだろ?

[2012-01-12 01:59] mattn commented on #123
今から1行のテストもしますね。

[2012-01-12 02:07] mattn commented on #123
https://gist.github.com/1598072

のソースを使って(長すぎてバイナリ扱いされてますが...)

[code]

した場合。オリジナルのvimだと

1回目: 0.094956
2回目: 0.094568
3回目: 0.094608

パッチ当てたvimの場合

1回目: 0.107829
2回目: 0.108217
3回目: 0.108141

となった。まぁ間違いなくga_init2なんかのオーバヘッドなんだろうけど。
ちなみにfoo.vimは4行連結が2000個と2000行連結が1つ、bar.vimは1行連結のパターンが8000個以上あるソース。

[2012-01-12 02:23] mattn commented on #123
単一行の時も通る事を考慮すればもすこし速いパッチ書けそう。

[2012-01-12 02:45] koron commented on #123
++@mattn !

[2012-01-12 03:05] mattn commented on #123
あー、バイト数なのに20はないわー。ないわー。増やしたらbar.vimでも同じ速度だった。
つまり使えるパッチになる。

[2012-01-12 03:08] mattn commented on #123
パッチ更新

[code]

以下計測予定

[2012-01-12 03:16] mattn commented on #123
https://gist.github.com/1598017 の場合(foo.vim)

オリジナル

1回目: 0.619650
2回目: 0.622633
3回目: 0.617841

パッチ済み

1回目: 0.429687
2回目: 0.480521
3回目: 0.447725

https://gist.github.com/1598072 の場合(bar.vim)

オリジナル

1回目: 0.071133
2回目: 0.095809
3回目: 0.095556

パッチ済み

1回目: 0.073162
2回目: 0.097247
3回目: 0.097458

bar.vimは実質、実行コードが変わらないはずなので出てるのは誤差だと思う。
foo.vimは如実に結果が出た。

[2012-01-12 03:26] koron commented on #123
bar.vimのほう誤差にしてはコンスタントに上昇している感があるんじゃないかな。
ステップ数が多くなったことでなにかあるのかなぁ?…ちょっと私も修正版作ってみます。

[2012-01-12 03:28] koron commented on #123
あ、ga_init2()に渡すsizeofの中身、間違ってない? ただしくはchar_uでいいんじゃないかな?

[2012-01-12 03:30] mattn commented on #123
あー、そうすね。直します。

[2012-01-12 03:31] mattn commented on #123
[code]

ちなみに、行数が増えたのは1行の場合にオリジナルと同じ実行コードにする為。1行の場合にはga_init2が走らない。

[2012-01-12 03:33] mattn commented on #123
上昇とは違いそうなんですよね。なぜかga_xxxは初回が抜群に速い。

[2012-01-12 03:33] koron commented on #123
こうしてみた。

https://gist.github.com/1598475

ga_init2()のオーバーへッドはでるけど値セットしてるだけなので大したことないだろう、という推測。@mattn さんの最初の版との違いは、一行だけのときはgaにコピーせずに通過させた(つもりの)点。

[2012-01-12 03:37] mattn commented on #123
僕の、１行の時通過しますよ？

[2012-01-12 03:37] mattn commented on #123
最初の

[code]

がそれ

[2012-01-12 03:39] mattn commented on #123
あー、初版との差ですね。
ちなみにそのオーバヘッドが実はまぁまぁ食ったので↑の様にしました。

[2012-01-12 03:41] koron commented on #123
最初の版はga_init2()の直後にga_concat()してたけど、こっちはしてないというだけです。で、今の版との違いは、連結かの判定が2ヶ所であるか1箇所にまとまってるか、という点ね。

grow時にcopyが走るからじゃないか?

[2012-01-12 03:42] koron commented on #123
あ、さっきの僕のパッチ、バグってるw

[2012-01-12 03:43] mattn commented on #123
実際、行連結してない行の方がおおいのでこっちの方がBram好みかも。

[2012-01-12 03:43] mattn commented on #123
w

[2012-01-12 03:44] koron commented on #123
https://gist.github.com/1598475

pをconcatする前に、ga_dataがNULLならlineを入れなきゃダメだた。

[2012-01-12 03:45] mattn commented on #123
そうなんすよね。それをifせずに並べたのが僕の...になるんかな。

[2012-01-12 03:55] koron commented on #123
ですね。メンテ的にはわけない方がよいけど、Vimのスピードへの偏向ぶりを考慮すれば分けるのも十分ありなんですが…って、行連結がまったく無い場合(buz.vim?)の速度差があるかどうかで判断したほうが良いかも。bar.vimは各一回だけ行連結してますよね。

ちなみに僕のバージョンはbuzでga_init2()のオーバヘッドがでて、fooでif文のオーバーヘッドがでるハズ。誤差でわかんないかもですがw

[2012-01-12 04:17] mattn commented on #123
https://gist.github.com/1598017 の場合(foo.vim)

オリジナル

1回目: 0.619650
2回目: 0.622633
3回目: 0.617841

パッチ済み

1回目: 0.429687
2回目: 0.480521
3回目: 0.447725

https://gist.github.com/1598072 の場合(bar.vim)

オリジナル

1回目: 0.071133
2回目: 0.095809
3回目: 0.095556

パッチ済み

1回目: 0.073162
2回目: 0.097247
3回目: 0.097458

https://gist.github.com/1598628 の場合(baz.vim)

オリジナル

1回目: 0.060940
2回目: 0.060682
3回目: 0.060463

パッチ済み

1回目:

[2012-01-12 04:40] mattn commented on #123
テストをバッチ化して再度やってみた。

# foo.vim

4行連結が2000個、2000行連結が1個のミックス

| original | patched | % |
| --- | --- | --: |
| 0.613521 | 0.327214 | 53.3 |
| 0.573789 | 0.285416 | 49.7 |
| 0.573679 | 0.284159 | 49.5 |

# bar.vim

2行連結が12000個

| original | patched | % |
| --: | --: | --: |
| 0.071625 | 0.071539 | 99.9 |
| 0.070986 | 0.071226 | 100.3 |
| 0.070920 | 0.071064 | 100.2 |

# baz.vim

連結無しが10000個

| origina

[2012-01-12 04:46] koron commented on #123
fooとbazは良いですね。barはやはりなんか理由がある気がしますが、問題にはならないんじゃないですかね。

このデータと合わせて出す価値ありだと考えます。

[2012-01-12 05:11] mattn commented on #123
ベンチ用プロジェクト

https://github.com/mattn/vimjp-issue-123

報告の際に使うつもり。

[2012-01-12 05:23] mattn commented on #123
報告ed

https://groups.google.com/d/topic/vim_dev/WCwNEgJXlb4/discussion

[2012-01-12 05:30] thinca opened #124 "BufReadCmd でエラーが発生したときの挙動が `:new` と `:edit` で違う"
そもそも未定義な動作な気もしますが。
- `:new` => エラーが出ると新しいバッファは開かれない。
- `:edit` => エラーが出てもバッファが開かれる。

どちらの方が嬉しいかは状況によりそうです…。が、統一はして欲しいです。

[2012-01-12 05:48] koron commented on #124
直感的には new でBufReadCmdが動く、ってのもアレゲじゃないですかね? ただ "edit with new window" なのか…なら変か。

[2012-01-12 06:01] thinca commented on #124
`:new {file}` は、「新しいウィンドウで {file} を編集する」で、BufReadCmd は編集しようとしたファイル名(バッファ名)にマッチしたときに発動するものなので、特におかしくはないと思います。

[2012-01-12 06:16] koron commented on #124
ゴメン、これ「なら変じゃないか」のtypoだw 一番肝心なとこ抜けてんのwww

[2012-01-12 06:47] koron opened #125 "vim-cmdsrv-noxをpushしないか?"
@ynkdir さんによる http://code.google.com/r/yukihironakadaira-vim-cmdsrv-nox/
Xが無くてもcmdsrv機能が動くようになるというもの。

セキュリティ的な対応もバッチリっぽいのにもかかわらずvim-devでの反応がない? Bram氏のTODOに入ってんのかな?

このissueは取り込まれるように働きかけるためのissueとしましょう。

[2012-01-12 06:58] koron commented on #51
誰か、Vimスクリプトをたくさん入れてることにかけては自信がある人、 https://gist.github.com/1594280 このパッチを試してみてもらえませんか?

[code]

で、どの程度、メモリ使用量が削減されたかが分かるようになっています。

[2012-01-12 07:15] koron commented on #119
現在 https://groups.google.com/forum/?hl=ja#!topic/vim_dev/g6JU0S5gKkU で議論は進行中。ほぼ終わりに近づいていて、現行とほぼ動作が変わらない版と、ListやDictの動作がより洗練された版ができてしもたw。if_luaの作者Luisは後者をえらくプッシュしている状況。

まだ詳しくは見てないけど、後者はListやDictをVimとLua双方向に操作可能なものになっていると思われる。

[2012-01-12 07:17] mattn commented on #125
https://groups.google.com/d/msg/vim_dev/dm8nvb5b3do/-SzW7dq4EBIJ

[2012-01-12 07:19] koron commented on #125
サクラをするチャンス! ってか +kaoriya に取り込んで、大量の人柱を立てるか?w

[2012-01-12 07:20] Shougo commented on #125
その手はありますね。

[2012-01-12 07:27] mattn opened #126 "join()が遅い"
らしい。

https://groups.google.com/d/msg/vim_dev/WCwNEgJXlb4/Wh3D59HDfuMJ

ここからのくだり。

[code]

リストのサイズが予め分かってるのに、なぜに80 www

[2012-01-12 07:30] mattn commented on #126
あー文字列か...しっけい

[2012-01-12 07:30] koron commented on #126
list_join()の中を見るとわかるけど、結局一行一行を文字列化するから、どのくらいずつ伸ばすのが良いかはわからないらしい。あ～でもgrowのタイミングが多ければそれだけ多くmemcpyが走ることに変わりはないか。

[2012-01-12 07:30] mattn commented on #126
でもそれ、80はまずいよ

[2012-01-12 07:36] mattn commented on #126
[code]

これいれただけで

オリジナル:  0.035153
パッチ済み:  0.003007

とかどういうことよ。

[2012-01-12 07:37] koron commented on #126
そのサイズの決定もなんかムチャクチャに見えるけど、そんなんはやくなるんだ?w

[2012-01-12 07:39] mattn commented on #126
むちゃくちゃというか、リストのサイズに比例していないのがまずいはず。

[2012-01-12 07:40] mattn commented on #126
これ、ga_xxx なんか使わない方が速くなるはず。

[2012-01-12 07:40] koron commented on #126
リストを先に舐めちゃえば、だいたいのサイズはわかるよね。

[2012-01-12 07:41] koron commented on #126
再確保とmemmoveがなくなるだけで、全然変わってくるとは思う。

[2012-01-12 07:49] mattn commented on #126
よーしパパ、このissueをkoronさんに投げちゃうぞ！

[2012-01-12 07:56] koron commented on #126
まじでかw

[2012-01-12 09:01] h-east commented on #94
@jbking ありがとうございます。
うーん、現象が再現出来ていないのでお手数ですがもう少し情報をください。
・`:source $VIMRUNTIME/bugreport.vim` を実行して、作成された bugreport.txt ファイルをgist等にコピペしてURLを貼って頂けないでしょうか？
・現象発生時の編集ファイル名。(可能であれば内容をgistにコピペお願いします)
・折り畳みの設定は何かプラグインをお使いでしょうか？
・現象発生後に `:syntax off` とした後でも現象は起きますでしょうか？

[2012-01-12 10:30] koron commented on #126
とりあえず作った: https://gist.github.com/1599706

コンパイル通しただけで試験はしてない。

戦略: 最初のループで文字列化したsとtofreeだけを **別のgarray_T** にストックしていき、同時に連結後に必要なサイズを計算してしまう。必要なバッファはサイズ指定で一気に作り、次のループでそこに文字列を構築する。関数を分けたのはreturn FAILのケースで **別のgarray_T** のメモリ解放をキッチリやるため。

特徴: 速度は速くなると思われるが一時的とはいえメモリの利用量が理論上は倍以上になる。またループが増えた分のオーバーヘッドが考えられる。

[2012-01-12 10:30] koron commented on #126
どやってテストするのが良いの?

[2012-01-12 11:08] mattn commented on #126
とりあえず https://gist.github.com/1599910 で

[code]

した際の join.log を...

[2012-01-12 11:35] ynkdir commented on #125
TODOというほどのものでもないんですが気になってることをいちおう書いておきます。
- ソケットへのアクセスはディレクトリの権限で制限してるので getpeer\* はいらない気がするけどなんとなく残している。
- Windowsのnamed pipeのアクセス制限はどうなってるのか。Windowsはマルチユーザーない？
- ソケットファイルの名前をurlエンコードっぽくしてるけど&encをそのまま使ってるのでutf-8にしたほうがいいのか。
- /tmp とかハードコーディングしてる。
- ソケット通信でEOFをデータの終了としてるけど、データサイズを送受信したほうがよさそうな。
- メッセージ書式。今は "Key1<NUL>Value1<NUL>Key2<NUL>Value2<NUL><NUL>" という感じ。パースを楽するため。
- 異常終了するとソケットファイルが残る。/tmp に

[2012-01-12 11:52] Shougo commented on #125
Vimの一時ファイル自体クラッシュすると残ってしまうから、これは仕方ないでしょう。

ハードコードな部分はこれから修正しないとだめでしょうね。
/tmpについては、Vimが使っているテンポラリなディレクトリではだめなんですか？

[2012-01-12 12:10] ynkdir commented on #125
各Vimインスタンスが同じパスを参照できればいいのでどこでもいいんですが
Vimが自動で作る一時ディレクトリはインスタンス毎なのでだめだと思います。

で、思い出したんですがサーバー一覧をソケットファイルの一覧からとってるので --serverlist で死んだサーバーがでたりします。まあしょうがないですが。

[2012-01-12 12:14] mattn commented on #125
そのソケットファイルのファイル名にプロセスIDが埋まっているなら生死確認は出来るかも。

[2012-01-12 12:20] koron commented on #126
ちょwww +kaoriya 7.3.401でso join.vimしたら…なにも言わずに落ちたwww

[2012-01-12 12:21] koron commented on #126
ああjoin.log吐いて、終了するのか。あせったあせったwww

[2012-01-12 12:22] mattn commented on #126
罠です

[2012-01-12 12:26] koron commented on #126
バグってた。

[code]

だっておwww

数字のバッファ使いまわしてんのかよ orz

[2012-01-12 12:28] koron commented on #126
ただ速度の上げ幅は激烈かも。約100倍?

[code]

[2012-01-12 12:33] mattn commented on #126
バグってkoronバージョン！？

[2012-01-12 12:34] mattn commented on #126
あ、すんません。別のissueと混乱してた。

[2012-01-12 12:34] koron commented on #126
Yes. 数字の文字列化はnumbuf使い回してて、帰ってくるsが書き換わってるのw

[2012-01-12 12:38] mattn commented on #125
@ynkdir  久々最新取ってwin32で試したんですが、結構遅いすね。調整すれば速くなります？

[2012-01-12 12:39] mattn commented on #126
その修正が終ったら僕もためそかな。

[2012-01-12 12:40] koron commented on #126
とりあえず何でも vim_strsave() するようにしたら

[code]

さっきより遅くなったけど、元から比べると30倍ってところ。

[2012-01-12 12:41] koron commented on #126
とりあえずもう少し刈り込んでみる。

[2012-01-12 12:45] ynkdir commented on #125
むぅそうですか。
なんでしょうねぇ。
調整できそうなポイントはなかったと思います。

[2012-01-12 12:51] ynkdir commented on #125
あーあと気になるといえば複数のサーバー間で互いに呼び出し合うような場合に問題ないかどうかきっちり検証できてないです。問題ないとは思いますが。

[2012-01-12 13:05] koron commented on #126
Rev.2 一応、30倍というところ。

[2012-01-12 13:07] koron commented on #126
ちょっと全然違うバリエーションも作ってみるわ。今度はメモリ使わないタイプ。

[2012-01-12 13:19] koron commented on #126
https://gist.github.com/1600472 やってみたけどダメだった。全然早くなってなかった。

速度的には r2 だけど、書き換えの量と速度のバランス的には @mattn のやつのほうが良いんじゃないかな。

[2012-01-12 13:20] mattn commented on #126
検証あざす！

[2012-01-12 13:20] mattn commented on #126
まぁこの閾値をどうするかって問題は残ってますが...

[2012-01-12 13:22] koron commented on #126
ああ、そうそう。その閾値だけど、list_joinを使っている場所が3箇所くらいあるから、全部なおさないとアカンかも。もしくは私がやったみたいにlist_join()自体で治しちゃうか。

[2012-01-12 13:27] koron commented on #126
せっかくだから、もう一手間だけかけてみるわ。

[2012-01-12 13:28] ynkdir commented on #125
あと同時接続数の問題もありました。
 "# define CMDSRV_INSTANCES 5" なんですが。
リクエストを受けて結果を返すまでを一つの接続でやってるので
ちょっとアクセスが立て込んだり互いに呼び出しあったりするだけで制限に到達してしまいます。
受信と送信の接続を分ける (現実装と同じ) といいと思うんですがなんか複雑になりそうなのでとりあえず今の形になってます。

[2012-01-12 13:35] ynkdir commented on #125
そうするとサーバーIDとパスが一意に定まらないのでタイミングによって同じIDのサーバーができてしまって
それを防ぐにはロックしたりなんなりしないといけなくて面倒くさいと思った記憶があります。

死活チェックのために接続してみてエラーをみるというのもやってみたんですが
IOでウェイトがかかったり同時接続数の制限にかかったり(開放に時間がかかる?)でうまくいきませんでした。

どうしても死活チェックが必要ならそれしかないですかねぇ。

[2012-01-12 13:39] koron commented on #126
Rev.4: https://gist.github.com/1600566

オリジナルよりも平均して90倍くらい速い。Rev.2と比べても3倍。このくらいならだしてもこちらのが良いんじゃなかろうか?

[code]

[2012-01-12 14:20] ynkdir commented on #126
total_strlen はリストが空だとマイナスになります。動作的には問題ないのであえてスルーしてるならいいんですが念のため。

[2012-01-12 15:00] koron commented on #126
@ynkdir Thanks! たしかに…治すかどうか微妙に迷うところですねぇw 効率的には今のままのほうがカッコヨイんですが…このまま行くにしてもせめてコメントくらいは足すべきか。

[2012-01-12 15:41] koron commented on #126
https://gist.github.com/1600566

気持ち悪いので、セパレータの長さを加算するところにそれが必要になる条件(ga_len >= 2)を追加した。

[2012-01-14 05:13] thinca opened #127 ":tab :drop でカレントウィンドウが移動する"
一番右側のタブにいて、そのタブに複数のウィンドウがある時に `:tab drop new-file` のようにすると、
新しいタブで `new-file` が開きますが、前にいたタブにもどると、そのタブのカレントウィンドウが最後にあるウィンドウに移動しています。
一番右側以外のタブだとなぜか大丈夫です。

[2012-01-14 06:24] thinca commented on #127
`todo.txt` を漁ってたら関連しそうなのが2つ見付かりました。

[code]

[code]

`:tab drop file` で他のタブの分割ウィンドウに `file` があっても常に新しいタブが開く。
現象としてはちょっと違いますが、`:tab drop` 絡みですね。
しかし、この2つの項目被ってる…。

[2012-01-14 08:42] h-east commented on #127
補足です。

###### 再現手順

`vim -N -u NONE -U NONE -i NONE --noplugin` または
`vim -N -u NONE -U NONE -i NONE --noplugin -p2 -c ":tabl"`

[code]

ウィンドウが(上から)
　`hoge`
　`[No Name]`
だったのが
　`[No Name]`
　`hoge`
と入れ替わっってしまった！(＃＾ω＾)ﾋﾟｷﾋﾟｷ

###### 備考

・`vim -N -u NONE -U NONE -i NONE --noplugin -p2` の場合は入れ替わらない。
・hogeは存在していなくてもOK

タブ周りはいろいろアレですね。

[2012-01-14 08:47] thinca commented on #127
タブ周りというよりかは、`:drop` コマンドがアレな気がしますねー。(勘で言ってますが)

[2012-01-14 11:09] h-east commented on #127
まだ、核心までは行ってないんだけど、、ここ↓間違ってますよね！？

[code]

[2012-01-14 11:43] ynkdir commented on #127
[code]

なのであってます。

[2012-01-14 11:52] h-east commented on #127
@ynkdir (´・ω・`) ありがとうございます。

[2012-01-14 11:59] mattn commented on #127
@h-east ++

[2012-01-14 12:55] h-east commented on #127
ごめん、ちょっと混乱させてしまっているかも。
https://github.com/vim-jp/issues/issues/127#issuecomment-3491518
のpatchはNG（もとのソースが正しい）です。
ynkdirさんは「(もとのソースが)あってます」と言ってます。

[2012-01-14 12:59] mattn commented on #127
おうっふ。
@h-east -- で0にもどします。すんません。

[2012-01-15 01:32] koron commented on #123
Bram氏から前向きな反応きてますよ。ただパッチのインデント直してと言われてるみたいですが…どういうことだろ?
1. 文字通りインデントがetされてた
2. for (;;)内がインデント代えてコピペされていることを勘違い/指摘している

[2012-01-15 02:30] h-east commented on #123
@koron
https://gist.github.com/1600566 をダウンロードしてローカルで `set ts=8 sts=4 sw=4` で開いたら変数宣言部のインデントが一部ずれてるみたい。
https://lh3.googleusercontent.com/-jC4DfRqJho0/TxI4awoZV0I/AAAAAAAAA2w/Eu77hhzNfVM/w500-h413-k/indent.png

[2012-01-15 23:57] mattn commented on #123
あれ？でも僕宛ての返信ですよね？

[2012-01-16 01:11] mattn opened #128 "UserCommandの引数がマルチバイト対応出来ていない"
[code]

これを実行すると本来ならば「ギャバソ」が3回出るはずだけど

[code]

と表示される。

[2012-01-16 01:12] mattn commented on #128
パッチ。後で出す。

[code]

[2012-01-16 01:18] mattn commented on #128
報告ed

https://groups.google.com/d/topic/vim_dev/mWuhNJ68THI/discussion

[2012-01-16 01:30] h-east commented on #123
@mattn  あっ、ほんとですね。
Bram氏に「どのpatchのこと言うとんねん？」って聞きたい。

[2012-01-16 01:52] koron commented on #128
絶滅危惧種「TOMB(Trail Of Multi Bytes」

[2012-01-16 01:58] mattn commented on #128
よくぞ生き残った我が精鋭たちよ

[2012-01-16 08:13] h-east commented on #127
これで色々試してもらえるとありがたい。

[code]

[2012-01-16 08:53] ynkdir commented on #127
直ったみたいです。

このパッチとは関係ないですが別issueかもしれませんが
一番最後のタブページ内のカーソルが、最後のウィンドウに移動するみたいです。
`:tab drop ...` 実行時にどのタブページがカレントタブページかに関係なく最後のタブページだけです。

[code]

[2012-01-16 09:16] thinca opened #129 "'verbose' で表示される値の省略のされ方がおかしい"
[code]

結果

[code]

どうしてこうなった。

[2012-01-16 09:22] h-east commented on #127
@ynkdir チェック＆指摘ありがとうございます。
これでどないでっしゃろ？

[code]

[2012-01-16 09:50] ynkdir commented on #127
直りました。ありがとうございます。

別の問題ですがこれ動きが変なのはtodo.txtに載ってるやつですかね。
hoge が既に開いてるのに最後のタブページの[no name]ウィンドウで開かれる。
ヘルプに書いてあるとおりの動作といえばそうなんですが。

[code]

[2012-01-16 09:53] thinca commented on #127
私が最初に書いたコメントのやつですね。
別問題のバグだと思います。

[2012-01-16 10:00] mattn opened #130 "棚卸ししたい"
パッチはあるけどポストされてない物があると思うので、出来ればvim_devに送ってしまいたい。

[2012-01-16 10:02] mattn commented on #118
これ閉じた方がいいですか？

[2012-01-16 10:05] thinca commented on #130
kaoriya版に含まれているパッチは、全て1度送ったことがあるのでしょうか?

以前私が独自に調べたもの
http://d.hatena.ne.jp/thinca/20090619/1245338963

"browsefilter にマルチバイト文字が含まれていると化けるバグ" とかは明らかにバグなので送っていれば取り込まれていてもおかしくなさそうな気がしますが…。

[2012-01-16 10:11] mattn commented on #130
これもバグといえばバグ。

[2012-01-16 10:12] ynkdir commented on #118
閉じていいんじゃないかと思います。閉じます。

[2012-01-16 10:12] #118 closed, assigned to nobody

[2012-01-16 10:17] mattn commented on #129
頭の10桁とオシリの数桁が出るっぽい

[code]

[2012-01-16 10:26] mattn commented on #47
このpatchで直ったはず。

https://groups.google.com/d/topic/vim_dev/4mbGeAG0OVo/discussion

[2012-01-16 10:26] #47 closed, assigned to mattn

[2012-01-16 10:34] mattn commented on #130
どうなったの？的な所も含めて...

#49 :help! で E478 が発生する
#30 gVimでIMEオン時のカーソル表示が残る(環境依存)
#64 iminsertとimdisableが直ちには反映されない
#66 QuickRunで落ちるらしい
#70 Issueの管理方法を整理したい
#82 ファイル選択ダイアログでのIM状態がGVimに反映されてしまう
#116 カレントタブ以外に変更されたバッファがある場合に :qa するとカレントタブが変更されたバッファに切り替わる

[2012-01-16 10:44] h-east commented on #130
#30 は解決してないです。調査途中のまま。
#82 はpatchあるけど、Windowsのみのバグのくせに message.c を修正してて「それでいいの？」状態です。

[2012-01-16 10:48] mattn commented on #82
これは一度提案した方がいいと思う。bramの好き嫌いもあるだろうし。

[2012-01-16 10:49] h-east commented on #127
修正の目処はたちました。
あるファイルが複数バッファで開かれている時にどのバッファをカレントにするかの判定を入れればOK。
(カレントウィンドウ優先＞カレントタブ内のやつ優先＞近いタブ優先)みたいなやつ。案外難しいか？

[2012-01-16 10:59] mattn commented on #30
んー、再現しないすね。
WinXP SP3 クラッシック

[2012-01-16 12:01] mattn commented on #113
原因これでした。

https://github.com/thinca/vim-localrc/pull/1

って事でclose

[2012-01-16 12:01] #113 closed, assigned to nobody

[2012-01-17 01:48] koron commented on #130
+kaoriyaパッチは基本的に「これ送っても取り込まれる見込みないわ」っていう愚連隊です。

ただMigemoはスクリプトに形を変えればありなんじゃないかとも思ってます。概念的にはpattern_hook_exprみたいな形で。

[2012-01-17 01:49] koron commented on #130
メッセージやメニューの翻訳ファイルは時々、本体に反映させてます。タイミング的にはリリースと、あと時間がとれて全部見直せた時など。

[2012-01-17 01:50] Shougo commented on #130
個人的に、Migemoは本体に取り込まれてほしいですね。

[2012-01-17 01:51] koron commented on #130
#64 はimdisable だけが対応済み。iminsertは未対応。

[2012-01-17 01:52] mattn commented on #130
@koron browsefilter は送ってない感じ？

[2012-01-17 01:52] mattn commented on #130
ちなみにkaoriya版のdiffって手軽に見れるかしら

[2012-01-17 01:52] koron commented on #129
これ、簡単に直せそうなきがするけど。

[2012-01-17 01:53] koron commented on #130
@mattn browsefilterってなんだっけ?w diffはzipに入ってたはず。

[2012-01-17 01:55] thinca commented on #130
@koron >>2

[2012-01-17 01:57] h-east commented on #130
#116 カレントタブ以外に変更されたバッファがある場合に :qa するとカレントタブが変更されたバッファに切り替わる
↑これもpatchあります。＆vim-jp内でタブ関連の提案をしているけど反応ないなぁ。

[2012-01-17 01:58] koron commented on #130
`convert_filterW()` の修正か。だれかIssue化&切り出して送ってもらえませんか。ところでこれ僕が書いたんだっけ?

[2012-01-17 01:59] koron commented on #130
昔は機能毎にパッチを分けて管理してたけど、最近はめんどくさくて一枚にしちゃったからいろいろわかりませんなw

[2012-01-17 02:07] mattn commented on #129
ちなみに僕の環境だと @thinca さんと同じにならない。↑のコードだと

[code]

[2012-01-17 02:08] koron opened #131 "+kaoriyaパッチを棚卸ししたい"
とりあえず今日の時点のパッチは https://gist.github.com/1624100 にあげときました。

基本的にvim-devにだしても見込みがないものの寄せ集めですが、出せるけど時間がなくて忘れてしまったものもあります。今は1枚のdiffになってるけど、mqとかで整理しなおして機能毎に分けたいなぁ、とおもいつつ。

概要は@thinca さんがおおよそまとめてくれています。 http://d.hatena.ne.jp/thinca/20090619/1245338963 ちょっと古くなってるかもなので見る時は注意してください。

[2012-01-17 02:12] koron commented on #131
私的メモ: Vim本体以外の+kaoriyaなレポジトリをあとでどこかのhgにアップする。ま、googlecodeでいいか。

方針: とりあえずdiffを機能毎に分割してvim-devに送れるものとそうでないものにわける必要がある。現時点の私には分ける気力(と時間)がないが、やってくれる人が分けるのに必要な質問に対して答えるのはできるはず。

[2012-01-17 02:15] mattn commented on #131
githubがいいなぁ

↓ 以下、同文

[2012-01-17 02:18] koron commented on #131
@mattn すでにhgで運用しvim本体もhgのため、というあたり。とりあえずは公開すること優先でgitじゃなくても良いんじゃない?gitにする、だと出すのが遅れる。

[2012-01-17 02:21] mattn commented on #131
browsefilter のパッチはどれにあたるんだろ...

[2012-01-17 02:22] koron commented on #129
この違いはなに?

[2012-01-17 02:23] mattn commented on #129
ちなみに`vim -N -u NONE verb.vim`で`:so %`したら

[code]

になった...。僕ちゃんもう寝ていい？

[2012-01-17 02:25] koron commented on #131
@mattn たぶんこれ https://gist.github.com/1624170

[2012-01-17 02:27] thinca commented on #129
`vim -u NONE -i NONE -N` で試しても大して変わらず…。

[code]

+kaoriya なんですけど関係ありますかね?

[2012-01-17 02:28] koron commented on #129
@mattn どうしてそうなったwww

[2012-01-17 02:32] thinca commented on #129
eval.c:22286 の `trunc_string(s, buf, MSG_BUF_CLEN)` の呼び出しが省略してる部分っぽいのだけど、`trunc_string()` の実体が見付けられない残念な私。

[2012-01-17 02:32] koron commented on #129
+kaoriya で試した。

[code]

あるぇ?

[2012-01-17 02:34] thinca commented on #129
message.c:244 にあった。読んでみる。

[2012-01-17 02:40] thinca commented on #129
`if (enc_utf8)` ってのを見付けたから、もしかして mattn さんは `encoding=cp932` なんじゃないだろうか。

[2012-01-17 02:42] koron commented on #129
++ @thinca

[2012-01-17 02:44] mattn commented on #129
assigned to @thinca

[2012-01-17 02:57] mattn commented on #131
このパッチ当たってない場合、どうやったら再現できますか？

[2012-01-17 02:58] koron commented on #131
@thinca これわかります?

[2012-01-17 02:59] mattn commented on #129
ヒント:

[code]

の`i`がおかしい。

[2012-01-17 03:05] thinca commented on #131
[code]

とかでできるはず。今ちょっと手元に素のVimがないので未確認。

[2012-01-17 03:06] mattn commented on #131
なるほど化けた。

[2012-01-17 03:09] thinca commented on #129
mattn さん実はすでにパッチできてたりするのでは…。

[2012-01-17 03:14] mattn commented on #129
ないです。お弁当美味しいです。

[2012-01-17 03:35] thinca commented on #129
うーん、こんな感じですかね?

[code]

[code]

[code]

私の自信もぐらぐら揺れてます。

[2012-01-17 03:43] mattn commented on #129
roomは幅なのでvim_strsize()を使った方がよさげ

[2012-01-17 03:45] mattn commented on #129
すぐ上の行のNOT MBYTEな処理見てたので僕が間違いだったかも＞`iが変`

[2012-01-17 04:03] thinca commented on #129
仰せのままに。

[code]

[2012-01-17 05:01] mattn commented on #129
仰せのままに vim_dev にメールお願いします

[2012-01-17 05:45] mattn commented on #131
@koron このパッチだけ分離して vim_dev に送って貰えますか。

[2012-01-17 05:49] koron commented on #131
@mattn さんのほうでお願いできません?

[2012-01-17 05:53] mattn commented on #131
「This patch is written by MURAOKA Taro」でおｋ？

[2012-01-17 05:55] koron commented on #131
OKです。無くてもOKなんですが…それだとVim的にはまずいのか?

てか自分で書いたものかどうかもアヤシイのがアレなんですけど、
コードを見ると僕が書いたっぽいw

[2012-01-17 08:55] h-east commented on #127
( ﾟ∀ﾟ)･∵. ｸﾞﾊｯ!!
`do_arg_all()` はそこそこ香ばしいことに気が付いたので備忘録。
- なんで `:all` と `:drop` の処理を同じ関数で処理するん？(愚痴&賞賛)
- `goto_tabpage_tp()` 等でタブページ移動したら `curwin` の参照元も変わるよ！？<br>(カレントタブが変化する状況での `ARGCOUNT` と `ARGLIST` の使用は慎重に！)<br>(buffer.c:4452行辺りの `ARGCOUNT` と `ARGLIST` の参照はアウト！関数冒頭でコピーを作成しておくべき！)<br>(curwinが`win_close()`される可能性があるので必ずコピーして参照して頂戴!!)
- カレントウィンドウにローカル引数リスト(`:argl`)が設定されている状態で `:all` か `:tab all` を実

[2012-01-17 10:30] mattn commented on #100
パッチを見直しました。
結果から言うと、compl_leaderという変数が`always`時にも更新されてしまう事で`cw`のレジスタが壊れてしまう様でした。`always`の場合はcompl_leaderを再生成しない様に修正する事で修正しました。

[code]

これでissue本題も @koron さんのいう

も`cw`でレジスタが壊れる件も直ったつもりです。
誰か検証してくれませんか。

検証手順
1. vimのソースリポジトリルートで以下を実行
   - `# cd /path/to/vim-repo`
   - `# curl https://raw.github.com/gist/1626122/gistfile1.diff | patch -p1`
   - `# make && make install`
2. neocomplcacheをalwaysモードにする

[2012-01-17 12:45] Shougo commented on #100
おお、ありがとうございます！！

mattn++

[2012-01-17 12:53] Shougo commented on #100
ちょっと時間があったため、こちらの環境で試してみました。上の設定で、動いているみたいです。
.レジスタの値も正常（と思います）。
あとは何を確認すればよいですか？

[2012-01-17 13:07] Shougo commented on #100
あれ、g:neocomplcache_enable_prefetch=0, g:neocomplcache_enable_auto_select=1とするとおかしくなります。
具体的には二つ目の候補が自動選択されてしまう。g:neocomplcache_enable_prefetch=1ならOKです。
g:neocomplcache_enable_prefetch=0, g:neocomplcache_enable_auto_select=0とすると自動的に選択されますね。
なんでこんな動作になるのかな……。

あと、そのときの選択状態もおかしい。というのは、auto_select=1だと選択はされていますが候補は挿入されていない状態のはずなのです。が、このパッチを当てると候補挿入までやってしまっているっぽい。

ちなみに、候補がないときのチラつき問題もまだ残っているみたいです。
これはn

[2012-01-17 13:08] mattn commented on #100
その変数がどう作用するのか分からないのでどうおかしいか分かりません。

[2012-01-17 13:48] Shougo commented on #100
つまり、prefetch = 0のときが問題です。

prefetch = 0のとき、おそらく今回のパッチが有効になっています。
そのとき、auto_select = 0にもかかわらず最初の候補が勝手に選択される。
まずこれは問題。しかもその選択が`<Down>`の選択（挿入しない）ではなく、`<C-n>`（挿入あり）である。

auto_select=1になるとさらに問題で、auto_selectの処理でおそらく<Down>が入っているため、
二番目の候補が選択されることになります。

本題として、今回のパッチはチラつきを軽減するはずなのですが、補完関数が-2を返しても毎回「Pattern Not found」が出ます。

というか-2を返したらメッセージを表示しないという変更が最新のパッチではそもそも入っていません。
上のパッチではその処理があるのに。これはなぜでしょうか。

以上より

[2012-01-17 16:54] h-east commented on #127
上のコメントの通りにキッチリ修正したいけど深みにハマりそうなので今はやめときます。
とりあえず最後にynkdirさんに指摘された分(thincaさんが最初にコメントした分)も改善されているはず。
(修正箇所は `:all` `:tab all` にも影響あり)

あと、`:args` と `:argl` を組み合わせた時の仕様がよー分からんすなー。

[code]

[2012-01-17 17:01] h-east commented on #127
`opened`の宣言部分のコメントしっくり来てないので添削よろしくです。

[2012-01-17 23:58] tyru opened #132 "Vimの正規表現のバグ？"
自分の勘違いかもしれませんが、同じと思われる正規表現のパターンの結果がVimとPerlで違います。
https://gist.github.com/1629848

Perl

[code]

Vim

[code]

[2012-01-18 00:00] tyru commented on #132
`set magic?`はonです。(当たり前かもしれませんが...

[2012-01-18 00:17] thinca commented on #132
最初の`[:alpha:]`は文字クラスなので`[[:alpha:]]`とする必要があります。

[2012-01-18 00:22] koron commented on #132
まだ試してないのですけど `[:{keyword}:]` の解釈の仕様が違うんじゃないですかね?

Vimは `[]` の中でしか機能しない、みたいな。

[2012-01-18 00:23] mattn commented on #132
その正規表現、等価じゃないですね。

`[:alpha:]`は文字クラスなので`[]`の中で使われるべきです。`([:alpha:])`は`[]`内で使われていないので`:alpha:`という文字のどれかがマッチし得る単なるグループに相当します。なので

[code]

ならば1が出るはず。ちなみにちゃんと書くならば

[code]

と書くべきです。

[2012-01-18 00:23] #132 closed, assigned to nobody

[2012-01-18 00:40] koron commented on #132
なんでPerlはOKとしてんだろう?昔は違った(使えなかった)と記憶してるんだけど…その理由次第ではVimに移植しても良いんじゃない?

[2012-01-18 00:45] tyru commented on #132
@thinca @koron @mattn おおお！無事機能しました！勘違いしてたみたいです。ありがとうございます。

[2012-01-18 01:01] matsuu commented on #132
[code]

が間違ってますね。

[code]

としないとダメだと思います。前者だと$RXは空になります。
なので、意図した動作にするためには、こんな感じでしょうか。

[code]

[2012-01-18 01:13] tyru commented on #132
@matsuu あーそうか！`my $RX = /.../`は`my $RX = ($_ =~ /.../)`と同じですね。どうもです。
やっぱりPerlでも`[:alpha:]`は`[[:alpha:]]`としなきゃダメのようですね。

[2012-01-18 01:17] mattn commented on #100
レジスタがおかしくなる事がずっと気になっていたので今回、これまでのパッチは全て捨てて一からパッチを作り始める事にしました。これまでのパッチに引きずられて修正点が見えなくなってしまっていた為です。
チラツキの問題とレジスタの件は別件で、かつチラツキの問題は簡単なパッチで直せるので、まず最後のパッチでレジスタの問題が無くなってから、それに対して入れ込みます。

自動選択の件、了解です。少し調べます。

[2012-01-18 02:31] mattn commented on #129
thinca++

[2012-01-18 03:07] mattn commented on #131
browsefilterの件は送った。

https://groups.google.com/d/topic/vim_dev/64YQ0ei5jB0/discussion

[2012-01-18 04:05] Shougo commented on #100
了解しました。じゃあ次はチラつきと自動選択の問題ということですね。

vim_devには、二つのパッチに分けて投げたほうがよさそうですね。

[2012-01-18 04:11] koron commented on #131
@mattn Thanks! arigato!

[2012-01-18 04:14] mattn commented on #100
自動選択の件ですが、パッチを外したモジュールでも同じ動作に見えますが、neocomplcache側で何か変わったって事はありませんか？

[2012-01-18 07:05] Shougo commented on #100
＞ 自動選択の件ですが、パッチを外したモジュールでも同じ動作に見えますが、neocomplcache側で何か変わったって事はありませんか？

確かに以前からあった動作な気がします。
neocomplcache側の動作を変えた覚えはないです。
つまり、以前からalwaysだとおかしかったのかな。

この問題もどうにかする必要がありそうですね……。

自動選択の件ですが、auto select自体は正しい挙動でした。

つまり、勝手に`<C-n>`されているのが問題ですね。
今のところの問題は`<C-x><C-u><C-p>`の`<C-p>`が効いていないところです。

それにしても、なぜprefetchすると正常に動くのだろう……。

[2012-01-18 07:08] Shougo commented on #100
タイミングを見る限り、`<Plug>(neocomplcache_start_auto_complete)`の挙動がおかしくなっているように見えますね。

[2012-01-18 07:13] mattn commented on #100
実際、最後のパッチが影響を与えるのはレジスタだけです。

[2012-01-18 07:14] Shougo commented on #100
はい。パッチが分離されたからそうだと思います。
となると、そもそもKaoriyaさんのパッチがおかしかった可能性。

[2012-01-18 07:26] Shougo commented on #100
すみません。どうやら、neocomplcacheがKaoriyaさんのパッチにうまく対応していなかったようです。
こちらで修正したら、きちんと動作するようになりました。

よって、あとはチラつきの問題のみ修正してもらえればOKです。

[2012-01-18 07:29] mattn commented on #100
最新取ればOK?

[2012-01-18 07:35] Shougo commented on #100
はい。

[2012-01-18 07:38] mattn commented on #100
vim_devには2回に分けて送ります。レジスタの件は(違う形になるかもしれないけど)マージされると思います。-2でgracefull cancelさせる件については、説得はしてみますがもしかしたら駄目かも知れません。

[2012-01-18 07:43] Shougo commented on #100
了解しました。うーん、私も説得のお手伝いができると良いのですが……。
neocomplcache自体はよく使われているプラグインだし、他にも自動補完プラグインはあるので、利点はあると思います。

[2012-01-18 07:49] mattn commented on #100
あー、redobufは弄らなくても良さそう。もっとパッチがシンプルになる。

[2012-01-18 10:35] ynkdir commented on #127
確認しました。テストが入ってるのかはわかりませんが make test も通りますね。

[code]

[code]

[code]

[2012-01-19 02:39] koron opened #133 "非同期なsystem()はどうだろうか?"
背景。Vim自身に非同期に機能が欲しいが、スクリプト実行系のレベルにおいて今の構造では絶対に無理。server機能は環境によって使えなかったり、大仕掛けすぎるところもある。で、中間案としてsystem()の非同期版=asystem()を用意するというのはどうか。なおこのasystem()は以下のように段階的に実装すると良いかもしれない。

  1. 実行したプログラムの終了を待って関数コールバックする
  2. 実行したプログラムが標準出力を(一行)行う度に関数コールバックする

増やす関数はこんな感じだろうか?

  * asystem({expr}, {callback_func}, {userdata}, [{callback_mode}]): returns task_id.
  * asystem_send({task_id}, {expr}): send {expr} to s

[2012-01-19 02:44] thinca commented on #133
`v:shell_error` にあたるものも受け取りたいです。あれ最後の1つしか保持できないので。

[2012-01-19 02:51] koron commented on #133
@thinca 外部プロセス終了時のコールバックを規定して、そこに終了コードを入れれば良い感じ?

[2012-01-19 02:56] thinca commented on #133
ですね。1. の場合はコールバック関数で直接受け取れるといいんですが、そうなると 2. と関数のシグネチャが変わりますね。
仕様上違っても問題はなさそうですが、使い勝手の面だとどうなんだろう…。

[2012-01-19 03:01] koron commented on #133
エンジニアリング的には2のケースはコールバック関数自体を分けろってところですね。Vim本体の実装的には一個のほうが気が楽ですw

[2012-01-19 03:06] thinca commented on #133
1 と 2 を明確に分けるのではなく、基本は 1 だけど、オプションでもう1つ関数を渡せば 2 を受け取ることもできるよ、とか。
- `asystem({expr}, {userdata}, {callback_func}, [{callback_for_line}])`

こんな感じで。(関数並べたかったので順番変えてみました)

[2012-01-19 03:14] koron commented on #133
[code]

ってところかしらねぇ。ただcallback_funcのほうのstdoutはテンポラリファイル名にするとか、line利用時にはなくなるとかだと良いのかしら?

逆に一つにまとめるなら

[code]

にして、line時にexit_codeをnilで呼び出す、とかね。

[2012-01-19 03:16] thinca commented on #133
nil 欲しいですね…。

[2012-01-19 03:17] koron commented on #133
ってnilないんだっけ?w

[2012-01-19 03:17] thinca commented on #133
Vim script に nil はありません！

[2012-01-19 04:39] ynkdir commented on #133
非同期の話題はMLでも何度か目にしたことがあります。
試してはないですが。

http://article.gmane.org/gmane.editors.vim.devel/28791/

[2012-01-19 05:32] mattn commented on #133
コンテキスト風にするのもありかと。javascript風？

[code]

thincaさんやtyruさんあたりはこっちの方が好きなんじゃなかろうかと勝手に想像。

[2012-01-19 05:33] thinca commented on #133
割と好きですが、Bramさんは逆に嫌いそう…。

[2012-01-19 05:36] koron commented on #133
私も好き。だけどドキュメントが書きにくそうなのと、Bramが嫌がりそうなのを考慮して、実装が早そうな例をを提案したつもりw

[2012-01-19 05:48] mattn commented on #133
こっちの方が拡張性あるんだよねー。あと`asystem`呼ぶと、ctxにメソッド生やしてくれて、そこから

[code]

なんてのもありかも。OOだねー。Bramに嫌われるだろうけど。

[2012-01-19 05:54] koron commented on #133
ctx風のI/Fを導入するのはそれはそれで重要なトピックだよね。

[2012-01-19 05:54] koron commented on #133
何気なくキーボードで `e` タイプしたら閉じられたwww

[2012-01-19 05:55] mattn commented on #133
結論：lambda欲しい...

こうですか？

[2012-01-19 05:55] koron commented on #133
それは意味合いが全然違ってくるwww

[2012-01-19 05:56] thinca commented on #133
折角辞書があるのだしそういうUIがあっても良い。と言うか、各種 if_xxx にあるような OO なインターフェース pure Vim script に欲しいですね。完全に別 Issue ですが。

[2012-01-19 06:04] mattn commented on #133
おー`e`で閉じれるのか。

[2012-01-19 06:29] mattn commented on #100
報告ed

https://groups.google.com/d/topic/vim_dev/k1Wo5Fv6e3E/discussion

もう一つのパッチ

https://gist.github.com/1631877

はこの件が片付いてから。

[2012-01-19 09:33] thinca commented on #119
なんか新しいパッチ来ましたね。

[2012-01-19 10:03] Shougo commented on #100
了解しました。

[2012-01-19 11:14] h-east commented on #91
Hi.
@thinca and vimmer

`:set cino=+3` だとブロック内の`a` `改行` でネストが3文字になったので前のコメントの推測があっているということになります。
(cino-N の不具合ではないという認識です。)

[code]

問題なければクローズお願いします。

[2012-01-19 11:57] h-east commented on #30
Windows 7 Home Premium(64bit) SP1でテーマを「Windowsクラシック」 + GVimですんなり再現しました。

[2012-01-19 13:02] koron opened #134 "7.3.233の修正が機能してない"
https://twitter.com/#!/sgur/status/159484864062697472 から引用。

要調査。

[2012-01-19 14:15] h-east commented on #134
updated for version 7.3.233
Problem:    ":scriptnames" and ":breaklist" show long file names.
Solution:   Shorten to use "~/" when possible. (Jean-Rene David)

http://code.google.com/p/vim/source/detail?r=69b90e43b728ec28939b0a536de32f818b7ee756&name=v7-3-233

[2012-01-19 15:29] jakalada opened #135 "コマンドラインウィンドウの開閉時にWinLeave,WinEnterイベントが発生しない"
現在使用している[Powerline](https://github.com/Lokaltog/vim-powerline)というプラグインの表示の更新のタイミングが、
イベント発生時のカレントウィンドウの値に依存しているので気づきました。

仕様かもしれないのですが、
コマンドラインウィンドウに入る前にWinLeaveが発生しません。
また、コマンドラインウィンドウを閉じ、他のウィンドウに移ったときWinEnterが発生しません。

CmdwinEnterがBufEnter やWinEnter の代わりに発生することと、
CmdwinLeaveがBufLeave やWinLeave の代わりに発生することは、
ヘルプで把握したのですが、上述のタイミングでイベントが発生しないのは不自然に感じます。

[2012-01-20 00:34] koron opened #136 "Win32 マルチスクリーン利用での残課題"
https://twitter.com/#!/_samy_3/status/160101721996148737

twitterで指摘を発見したので転載。直すべきなのか、可能なのか要検討。

[2012-01-20 00:52] koron commented on #135
内部実装から説明するとコマンドラインはウィンドウではない。ウィンドウ登場前のviにすら存在する。それらのイベントはカレントウィンドウが変更になった時に発生する。仮にコマンドラインウィンドウに入った時にカレントウィンドウの変更をしてしまうと、そこで入力したスクリプトは直前にいたカレントウィンドウへの操作を行えなくなって非常に不便である。仮にイベントの発生タイミングを変えた(増やした)場合、問題になるプラグインが山のようにでてくると推測される。

指摘文からは読み取りづらいが「コマンドライン内でカレントウィンドウを変更した時にWinEnter, WinLeaveが発生しない」と言っている可能性が考えられる。仮にそれがあるのだとすれば修正の必要がある。

[2012-01-20 00:55] mattn commented on #136
フックしてWM_INITDIALOGでMoveWindowすれば行けるけど、そこまでやるか的な印象

[2012-01-20 01:09] koron commented on #136
普通のプログラムはどうしてんだろうね? 親ウィンドウを指定すれば大丈夫で、Vimは指定していないとか?

[2012-01-20 02:14] jakalada commented on #135
最初の"コマンドラインはウィンドウではない"は、
"コマンドラインウィンドウはウィンドウではない"と読み替えても間違いはないですか？

`q:`でコマンドラインウィンドウに入ってから、
`:`でコマンドラインに入り、
`echo winnr()`を実行して表示される値は、
コマンドラインウィンドウの番号だと思うのですが、
「カレントウィンドウではない」のでしょうか

[2012-01-20 02:20] koron commented on #135
把握。以下、cmdlineとcmdwinと分けて書きましょう。

まだソースを見てないけどセンシティブそうなことは間違いない。cmdwinはカレントウィンドウとしないみたいになってないとやはり困りそうな気はする。cmdlineとcmdwinでカレントウィンドウに対する操作の結果が変わってしまうから。たとえば `echo winnr()` で表示される値はcmdlineだろうとcmdwinだろうと同じじゃないと困る。

[2012-01-20 02:38] jakalada commented on #135
分けて書く了解です。

すみません、cmdlineを開いた時点でカレントウィンドウが、
cmdwinになってるのは説明のとおりっぽいです。
cmdwinからcmdlineを開いて`q`を実行するとcmdwinが閉じられるので。

今出先なので、家に帰ってから調べて書こうと思います(>_<)

[2012-01-20 05:06] sgur commented on #134
この件ですが、機能しない条件がわかりました。
$HOMEに指定するパスの文字列の末尾に`\`を付けるかどうかに依っていて、msysgit云々は直接関係ありませんでした。

Windows の場合、環境変数PATH をシステムのプロパティ等で指定しますが、この際、パスの末尾に`\`を入れてしまうと ~ に展開できないようです。 末尾に`\`をつけないようにすれば Windows 環境であっても短縮します。

msysgit の場合、システムのプロパティでは 末尾に`\` 混みのパスを指定していても git bash を起動した時点でパスを`\`から`/`へ変換する処理が入り、末尾の区切り文字が取り除かれるため、置き換えに成功するようです。

実際、git bash 上で `export HOME=$HOME/` として末尾に `/` を付与してから vim を起動すると、 `:scriptn

[2012-01-20 05:08] koron commented on #134
++@sgur

[2012-01-20 06:44] thinca commented on #41
`mkdir()` のオプションにならうなら、`rmdir('dir', 'r')` とかですかね。

[2012-01-20 06:47] koron commented on #41
タイトルを「delete()をディレクトリを削除できるようにする」から「関数 rmdir() を追加する」に変更しました。

[2012-01-20 10:46] jakalada commented on #135
現在は下記のようなタイミングでイベントが発生しています。

パターン1: win1でwin2を開いて閉じた場合

[code]

パターン2: win1でcmdwinを開いて閉じた場合

[code]

パターン2の状況でPowelineプラグインがwin1の&l:statuslineの値を更新しないため、
自動コマンドを登録しようとして適切なイベントを探したところ、
(aを離れる前)と(aに入った後)に発生するようなイベントがないことに気づきました。
Powerlineの今のコードには関数を呼び出したときのカレントウィンドウの更新を行なう関数しかないのです。

発生するイベントなど、省略しているところもあるのですが、
説明に間違っているところなどがないか、確認をお願いしますm(_ _)m

[2012-01-20 11:22] ynkdir commented on #136
ファイルを開くとかの標準ダイアログは問題ないですよね？
inputdialog()なんかはWM_INITDIALOGでCenterWindow()を呼び出して中央に移動してます。
が、CenterWindow()がマルチモニタ対応してないみたいです。モニタが左でも右でも。

[2012-01-20 13:34] koron commented on #41
ちょっとパッチ作ってみる。

[2012-01-20 14:07] koron commented on #41
うわ。windowsではmch_rmdirが定義されてないのかw

[2012-01-20 14:48] koron commented on #41
とりあえず一段のrmdirはできた。が、この先は面倒なので一旦手を引きます。

https://gist.github.com/1647644

recursiveは想像以上に大変。ディレクトリエントリを列挙する機能がmch_*に無いみたいw
`glob()` 相当の機能(ExpandInit と ExpandOne)を使うこともできそうだが…再帰的に使うのはちょっと不安がある。
で、たぶん `mch_opendir()` `mch_readdir()` `mch_closedir()` を実装するのが一番良いハズ。

もしくは再帰なしで出しちゃうか。

[2012-01-20 15:03] koron commented on #135
@jakalada

推測ですが、たぶん内部的な「現在のウィンドウ(以下curwin)」はパターン2では変わってない、というより変えられないんですよね。一方WinEnter/Leaveはcurwinが変わる時にだけ発生する。だからパターン1では発生する。実装の何らかの都合でcmdwinを開いた時にcurwinを変更する(=WinEnter/Leaveを発行する)ことができなかったので、代用品としてCmdwinEnter/Leaveという別のイベントを作ったのかもしれません。そう考えると、直感的にはこのイベント発生のロジック/タイミングは変えるべきではないと考えられます。

Powelineプラグインの作りはわかりませんが、以上を踏まえてプラグイン側でのこんな代替案はどうでしょう。CmdwinEnterでwin1のウィンドウを記憶しておき、CmdwinLeaveで記憶したwin1の&l:st

[2012-01-20 16:00] koron commented on #136
gui_w48.c の `CenterWindow()` ですね? ということはコイツをマルチモニタに対応させるように直せば良い、ということになるのかな?

一瞬、`CenterWindow()` があるのかとWINAPIにあるのかと思ってMSDNを漁っちゃった。

[2012-01-20 16:01] koron commented on #136
MSDNをみたらMFCのCWndやATLのCWindowにCenterWindowメソッドがありました。
こいつらの実装がマルチモニタに対応していたら、パクってくれば楽ちんかも。

[2012-01-20 16:08] h-east commented on #135
@koron 同じ事(後半の後者)考えてました。

[2012-01-20 16:11] koron commented on #135
正確にはcurwinはcmdwinで実行するコマンドの適用先なのでcmdwinへ変更できない、と書くほうが良いかな?

[2012-01-20 18:10] jakalada commented on #135
@koron

Powerlineの対応はそのような流れになると思います。
cmdwinを開いたときのバッファが、cmdwinのバッファの代替バッファになっているので、
記憶せずに、そういうところから辿れたらいいなぁとか。

"実装の何らかの都合でcmdwinを開いた時にcurwinを変更する(=WinEnter/Leaveを発行する)がことできなかった"について、
私はWinEnter/Leaveを発行することと、curwinを変更することは分けて考えていました。

curwinの定義が違っていないか少し不安ですが、
CmdwinEnter/Leaveで実行される自動コマンドはcmdwinをcurwinとして扱います。
また、cmdwinで開いたcmdlineで`let b:bar = 1`や`let w:bar = 1`を実行するとcmdwinの変数が作られます。
こうした動作から、c

[2012-01-21 01:01] koron commented on #135
自分がVimの本体のプログラマだったら、そう作るか、そういう経路を辿るかを想像してみてください。きっとそうはしないでしょう?

実際はセンシティブな理由があります。これを考える上でのポイントはVimではまず普通のウィンドウとWinEnterLeaveが実装されて、随分たってからcmdwinが実装されたという点と、cmdwinは普通のウィンドウと性質が大きくことなるという2点です。おそらくcmdwinを作った最初期にはcmdwinに対してもWinEnter/Leaveを発行していたことは推測に難くありません。こうした場合WinEnter/Leaveを使って普通のウィンドウを操作する既存のプラグインの多くがcmdwinに対して誤動作をするようになったハズです。それを受けてcmdwinに対するWinEnter/Leaveを止め、新たにCmdwinEnter/Leaveを新設したと考えるほうが自然

[2012-01-21 02:18] jakalada commented on #135
私もその点を変更してほしいとは思っていません。
CmdwinEnterのヘルプにも"このイベントはイベント BufEnter やWinEnter の「代わりに」発生する"と書かれているので、仕様だと納得しています。

私が不自然に感じているのは、"cmdwinを開いたウィンドウ"に対してイベントが発行されていない点です。
そこを区別した上での判断であれば、閉じていただいて良いです。

[2012-01-21 03:05] koron commented on #135
では閉じます。

感想ですが、私は不自然に感じません。

[2012-01-21 03:05] #135 closed, assigned to nobody

[2012-01-21 03:25] koron commented on #135
私がなんで不自然と感じないか、少し考えてみましたので以下に補足しておきます。

Vimの実装経緯から考えると、そもそもcmdwinの実装方法と存在が不自然な状態にあります。なのでそれにまつわるイベントが不自然な状態になるのは当然で、逆説的に自然です。

もうひとつ懸念事項が浮かんだのでメモ代わりに。

おそらくcmdwinには操作対象となるウィンドウが設定されています。その「操作対象となるウィンドウ」がcmdwinを開いたまま変更された場合(できるかどうかはわかりませんが)に、しっかりWinEnter/Leaveが出ているかどうか気になります。仮にできるとして&出ていないのだとすれば、それは直さないとダメでしょう。

[2012-01-21 03:26] jakalada commented on #135
了解です。
ありがとうございました。

[2012-01-21 03:57] mattn commented on #41
開放漏れてない？

[2012-01-21 03:58] koron commented on #41
あ。wdirnameの解放ね。忘れてた。

[2012-01-21 04:00] mattn commented on #136
MFC/ATLのソース見てないけど、これもしソースで解決しなきゃいけない問題ならバグじゃね？な気がする。
親ウィンドウ渡してんだから、真ん中表示しろよ的な。

[2012-01-21 04:03] koron commented on #136
だれのバグ? CenterWindow()のバグ、という意味なら同意。で、治すのにMFCかATLの方法が参考になるなら、自分たちで考えるよりパクったほうが速いんじゃないか、というお話。

[2012-01-21 04:04] koron commented on #136
くそ。また `e` 押したw

[2012-01-21 04:18] thinca commented on #131
7.3.406で入りましたね >browsefilter

[2012-01-21 04:23] mattn commented on #131
閉じます。

https://groups.google.com/d/topic/vim_dev/RuL5KJTs0As/discussion

[2012-01-21 04:24] mattn commented on #129
Patch 7.3.407

https://groups.google.com/d/topic/vim_dev/rfLeod8XDFU/discussion

良ければ閉じて下さい。

[2012-01-21 04:24] koron commented on #131
…このissueって確か+kaoriya全体の話だよね?w

[2012-01-21 04:25] mattn commented on #97
Patch 7.3.404

https://groups.google.com/d/topic/vim_dev/YtgEVpjjoGQ/discussion

あとは #100 の件でチラツキ修正パッチを送ります。

[2012-01-21 04:25] #97 closed, assigned to nobody

[2012-01-21 04:26] mattn commented on #100
Patch 7.3.404

https://groups.google.com/d/topic/vim_dev/YtgEVpjjoGQ/discussion

で #97 の件は完了。あとは上の簡単なパッチを送るのみ。（がしかしこれはTODO行きの可能性あり)

[2012-01-21 04:26] mattn commented on #131
あー。そうですね。issue分ければよかった。

[2012-01-21 04:27] mattn opened #137 "b:browsefilerがマルチバイト対応していない。"
#131 から分岐

既にclose: 7.3.406

https://groups.google.com/d/topic/vim_dev/RuL5KJTs0As/discussion

[2012-01-21 04:28] #137 closed, assigned to koron

[2012-01-21 04:29] mattn commented on #136
Windowsのバグという意味です。

[2012-01-21 04:31] thinca commented on #129
パッチは取り込まれませんでしたが別の方法で修正されたのでclose.

[2012-01-21 04:31] #129 closed, assigned to thinca

[2012-01-21 04:32] koron commented on #136
ややこしいけどVimが使ってるCeterWindow()はWINAPIじゃないよ。Vimが実装している関数です。

MFCやATLはMicrosoftが実装しているけどWindowsではないよね?

[2012-01-21 04:34] koron commented on #129
407は指摘を受けて、もっと広範に同じような問題をぜんぶ修正した、って感じかしらね。

[2012-01-21 04:38] Shougo commented on #100
了解。ちょっとドキドキですね。ToDo行きでも取り込まれる可能性さえあれば、良いのですが……。
補完候補の取得もToDo行きですし。

[2012-01-21 04:59] thinca commented on #129
Bram++

[2012-01-21 05:26] mattn commented on #129
僕はあまり賛同できないな。この修正。
thincaさんバージョンの修正で何がいかんのかと思ったり。

[2012-01-21 05:28] mattn commented on #136
はい。知ってます。
親ウィンドウを与えてて、Windows側で親ウィンドウの位置やサイズまで分かるはずなのにマルチモニタになった途端それが出来ていないのはWindowsのバグだろ...という意味です。

[2012-01-21 05:30] mattn commented on #136
os_mswin.c の PrintHookProc で同じ事やってる。これコピれば(もしくは共通化すれば)直る。

[2012-01-21 05:32] koron commented on #136
CenterWindowで、メトリクス使って補正してSetWindowPosしてるから、その補正の問題じゃないの? Windowsではなくて。

[2012-01-21 05:40] thinca commented on #129
(良し悪しが判断できるほど知識がない…)

[2012-01-21 05:50] mattn commented on #136
自前で作ったウィンドウならそうでしょうね。しかしこれはファイルオープンダイアログ。ファイルを開く(保存)ダイアログを親ウィンドウと違うモニタに表示したい方が特別な例なので、デフォルトの動作がそうなってない方がおかしいっしょw。それのためにフラグ１個弄るだけならまだしも、フックかけないといけないとかアホらしい。そんな機能の為に万人がフックを書いてるのかと思うと...と思った冬のmattnでした。

[2012-01-21 05:55] koron commented on #136
つまりダイアログについてはCenterWindowを呼ばなきゃいけない現状がおかしいということね。それは同意。

それはそれとしてCenterWindowの実装がなんか変なのも事実。

実は呼ばなければダイアログは期待する位置に表示されたりして…OSによってはなw

[2012-01-21 06:02] mattn commented on #136
MFCのCenterWindowは90ステップもあるのか。置き換えるにしても手数が多くて嫌な感じ。

[2012-01-21 06:15] mattn commented on #129
あーすんません。
やっぱりbramのであってた。いままではバッファサイズが渡ってないや。バッファサイズと幅サイズが間違えられたままroomという変数で渡ってた。

[2012-01-21 06:46] mattn opened #138 "Vim Script Licenseについて"
https://groups.google.com/d/topic/vim_dev/U_uA9o416wo/discussion

このスレッドで話されている話題について。
何人かが既に署名（？）してますが、Vim同梱の配布物について、今は作者ライセンスになってる物を扱いやすくする為に`Vim Script License`にしようという動き。
以下、署名のテンプレート

https://groups.google.com/d/msg/vim_dev/U_uA9o416wo/Bx80w-vQbgwJ

またそれに付随して`ca.po`に署名した人も。

https://groups.google.com/d/topic/vim_dev/f-trr_k85FM/discussion

これになぞって日本Vimチームもそうすべきかと思いました。現在Vimに同梱されている配布物で、私達が関係しそ

[2012-01-21 07:03] mattn opened #139 "今後 noXXX という名前の真偽値変数が出来た場合 nonoXXX という名前になってしまう問題について考える"
例えば新しいオプション`notify`があったとして

[code]

に対して

[code]

これって

[code]

のfalseって意味で

[code]

じゃねぇのかよ！とか。
　
　
　
　
　
　
　
　
　
jokeです。

[2012-01-21 10:37] ynkdir commented on #136
CenterWindow()呼び出しなしだと DLGTEMPLATE.[xy] で指定した位置に出ます。

[code]

スタイルに DS_CENTER を指定するとオーナーウィンドウのモニタの真ん中に出ます。

オーナーウィンドウの真ん中に出すフラグはないんですねー。

[2012-01-21 15:57] h-east commented on #127
@ynkdir Thanks!

ところでヘルプに `:all` `:sall` は `!` 付けられるような説明があるけど、`:all!` とか `:sall!` したら `E477` でエラーになります（｀ェ´）ﾋﾟｬｰ
（処理関数`do_arg_all()`の第2引数に`forceit`があるので `!` は付けられるはず！）

(只今、両足突っ込んでリファクタリング中。。脳みそヤバい)

[2012-01-21 16:44] thinca commented on #91
名前空間に対応するインデントの機能がある以上、名前空間の `{` と関数の `{` は区別して認識されるべきだと思います。

[2012-01-21 17:37] h-east commented on #91
@thinca
`cino-N` の動作自体には問題ないのでこのIssueはクローズしません？
指摘の件は`cino-+` の動作の話になりますから。

必要でしたら別Issueを立ててください。
おそらく `cino-+` で「namespace の`{`は関数の始まりだと判定しない」というスペシャル処理を入れるのは厳しいんじゃないかと思います。

[2012-01-21 17:43] thinca commented on #91
了解です。

[2012-01-21 17:43] #91 closed, assigned to nobody

[2012-01-21 17:49] thinca opened #140 "cinoptions=+ がnamespace 内を関数と認識する"
#91 から引き継ぎです。

関数内の継続行をインデントする `:help cino-+` が、`namespace {}` 内を関数と認識してしまっているようです。
これにより、namespace 内に書いた テンプレート関数やテンプレートクラスがインデントされてしまいます。

[code]

[2012-01-21 18:14] h-east commented on #139
csh系のシェル変数 `nonomatch` みたいなみたいなみたいな

[2012-01-21 18:21] h-east commented on #139
野々村さんが実装した機能をオフにするときは
`set nononomura`
になってしまうぉ

[2012-01-22 01:32] koron commented on #140
http://vim-jp.org/vimdoc-ja/indent.html#cino-+

[2012-01-22 05:54] thinca commented on #140
#91 を見てもらうとわかると思いますが、`cinoptions=N-s` (namespace 内でインデントしない) の状態でも、namespace 内を関数内と誤認識して行継続のインデントがされてしまうようです。

[2012-01-22 17:24] koron commented on #138
そもそも寄贈したつもりなので基本的には賛成だけど、GPL3互換だったらちょっとイヤかも。
src/dehqx.py ってなんだか一瞬わからなかったけど、たぶん昔Macがらみで使ったんだな…すっかり忘れてた。

具体的に署名ってなにすんの?

ところでVim ScriptでないものもVim Script Licenseなの?w

[2012-01-22 17:30] koron commented on #138
[code]

こんなんついてた。私の分は後日、まとめて書き加えて送ります。

[2012-01-22 23:57] mattn commented on #139
野村さん：「`set nomura`ってオレのオプションじゃないのかよ」

[2012-01-23 00:04] mattn commented on #140
単にブラケットがあったらインデントしてそう

[2012-01-23 00:06] mattn commented on #138
書き換えなくともファイル一覧を添えてvim_devに上記ライセンス文付けて送ればそれで良さそうな気もする。

[2012-01-23 01:25] koron commented on #138
どのみちそろそろ翻訳ファイルは見直さなきゃいけなかったので。

[2012-01-23 01:27] koron commented on #138
ところでmbyteとmlangって何をしたいの?

[2012-01-23 01:51] mattn commented on #138
メールアドレスを直したいっす

[2012-01-23 01:53] koron commented on #138
mbyteのメアドの件は了解。新しいアドレスに変えたい、とかでパッチ作ればOKでしょう。

でmlangは?

[2012-01-23 02:07] mattn commented on #138
mlangはデマだった

[2012-01-23 04:53] h-east commented on #139
斑(むら)さん：「俺を無視すんな！」

[2012-01-23 07:03] ujihisa commented on #139
http://b.hatena.ne.jp/entry/s/github.com/vim-jp/issues/issues/139

[2012-01-23 07:04] ujihisa commented on #139
very magicなどにあやかって、先頭にveryなどをつけると回避できそうです。野村さんにはベリー野村さんになっていただくことで解決しましょう。

[2012-01-23 11:06] h-east commented on #127
香ばしい部分も直したpatchです。`:all!` とか `:sall!`がエラーになる件も修正しました。
https://gist.github.com/1662433

`make test`合格してます。が、
- test31で`:all`, `:n`(:args), `hidden`をテストしてる。
- test62で`:tab～`のテストしてるけど`:tab all`や`:tab drop`とかはやってない。
- `:drop`のテストはどこにも無い。

テスト足したほうがいいのかな？(誰かー)

これで様子を見て問題なければvim_devへ投げます。(英文大変やー)

[2012-01-23 11:08] thinca commented on #127
あるに越したことはない気がしますね >テスト
よくMLでBramにテスト書いてって言われているの見ますし。

[2012-01-23 11:53] ynkdir commented on #127
h-east++

パッチは分けたほうがよさげな気がしますたぶん。

[2012-01-23 12:39] h-east commented on #127
@ynkdir ありがとうございます。

テスト追加patchは別に作成した方が良いということでしょうか？
それとも今のpatchの`!` 付きでエラーになる件の修正とそれ以外の修正を分けた方が良いということでしょうか？

[2012-01-23 13:14] ynkdir commented on #127
すみません。`:tab ...` と `!` で分けたほうがいいという意味です。

[2012-01-23 13:23] h-east commented on #127
@ynkdir 了解です。分けるようにします。Thanks!

[2012-01-23 23:50] mattn commented on #127
お、 @h-east ++

[2012-01-24 01:37] mattn commented on #100
https://groups.google.com/d/topic/vim_dev/gJLt32Qznb8/discussion

提出しました。取り込まれるかどうかは分かりません。なんとなくTODO行きな気がします。

今後なのですが、せっかくvimscriptが書けるのですがから、「ユーザ補完関数が-1を返すと"Pattern Not Found"が出てチラつく」という所まで絞った上で、それ相当の題名にしてもらえると解析が早くなりそうな気がします。その再現としてネオコンを使うというのはアリかもしれませんが、vimmerならば出きればチラつきだけ再現する物を書いて下さい。今回はかなり回りクドくて2個のissueも消費してしまいました。
実質、頻繁にvim_devにパッチを投げてるvim-jpの3名が誰もネオコン使ってないという現状を踏まえて、今後から分かりやすくお願いします。

って事で

[2012-01-24 01:37] mattn commented on #131
あとkaoriyaパッチでvim_devに還元しないといけない物ってありました？

[2012-01-24 01:43] mattn commented on #138
良く考えたらtutorも僕だった。

[2012-01-24 01:50] mattn commented on #138
再ライセンス完了

https://groups.google.com/d/topic/vim_dev/xnDhv3lTr54/discussion

[2012-01-24 02:25] h-east commented on #100
@mattn ++
そして同意見。私も3日ほど前に同じようなことをGoogle+に投稿してます。
https://m.google.com/app/plus/mp/396/#~loop:aid=z13ye50xgr2pcjz4z04cf5m55legdvipomk0k&view=activity

[2012-01-24 02:38] thinca opened #141 "foldmethod=expr の時に最初に1度だけ走るような処理が書ける機能が欲しい"
`foldmethod=expr` を使うと、`'foldexpr'` に設定した式が毎行に対して呼ばれます。
しかし、毎行に対して式を実行する前にバッファ全体の傾向を調べたりしたいことがままあります。
なので、`'foldexpr'` の前に1度だけ走る処理を書けるようにするか、
もしくはもっといい柔軟な方法が(何か案があれば)欲しいです。

[2012-01-24 02:40] thinca commented on #141
書いてて思ったのだけど、`foldmethod=manual` にして `InsertLeave` イベントなどで `:fold` や `:normal!` を駆使して設定すれば柔軟な設定は可能ではある。かなり強引だけど。

[2012-01-24 02:42] koron commented on #141
その前に「一度だけ」の定義をハッキリさせたいなぁ。

foldmethodが設定された後? バッファが読み込まれた後?

[2012-01-24 02:43] mattn commented on #141
例えばどんな物でしょうか。

[2012-01-24 02:49] thinca commented on #141
`'foldexpr'` の式が実行される前です。

具体的には、今 [diff_fold](https://github.com/thinca/vim-ft-diff_fold) をいじろうとしてたんですが、
diff って出力するソフトによって微妙に表記が揺れるんですね。
で、毎行処理する式で毎回それを判定していると重くなるので、
最初にその傾向を掴んでから処理をしたいと思いました。
diff に限って言えば概ねReadOnlyなので最初に判定しても良さそうですが、
似たようなことは以前別の fold プラグインを書いているときも感じた記憶があります。詳細は忘れてしまいましたが。

[2012-01-24 02:54] mattn commented on #141
バッファ変数にそこらを持たせるのでは駄目すか？(ﾆｹﾞﾆｹﾞ...)

[2012-01-24 02:58] thinca commented on #141
それを持たせるタイミングが欲しいんですよね。
バッファが変更されていた場合、fold の計算を行う前に1度だけその辺りを計算してそのバッファ変数を更新する必要があります。`'foldexpr'` は毎行に対して呼ばれてしまうので、最初かどうかの判定ができません。

[2012-01-24 02:59] koron commented on #141
@thinca 一度だけの定義がハッキリしない。正確に言うと、内部で「一度呼び出したら立てる」フラグを管理するとしてそれを寝かせるタイミングが不明。仮にバッファに付随するものなら @mattn さんの言うとおりバッファ変数でも良い気がする。

[2012-01-24 03:00] mattn commented on #141
[code]

こんなのはどうでしょ(ﾆｹﾞﾆｹﾞ)

[2012-01-24 03:08] thinca commented on #141
`'foldexpr'` の式は、折り畳みの再計算が必要になったときに _各行に対して_ 実行されます。100行あれば100回実行されます。その際、現在何回目の実行なのかを知ることができません。これらの実行の前に1度だけ処理がしたい場合がある、ということです。

@mattn
それは現状での回避策としてはアリですね。ありがとうございます。
ただ、`'foldexpr'` はその処理回数から可能な限り軽くしたいので、できればそのチェックのオーバーヘッドもなくしたいですね…。

[2012-01-24 03:09] koron commented on #141
呼び出す関数refを差し替えれば良いのでは?

[2012-01-24 03:14] thinca commented on #141
うーん、あれこれ言っておいてアレですが、複雑な計算が必要な折り畳みの生成は
最初に言った方法が強引とは言え処理効率としては一番いい気がしてきました…。
問題があるとすれば、折り畳みの再計算が必要な正確なタイミングがわからないってことですかね。
`InsertLeave` でも概ね機能はしそうですが。

[2012-01-24 03:15] koron commented on #141
ふと考えたら `foldmethod` 前回呼び出し以降、バッファ変更があったかなかったかだけわかれば良いんじゃなかろうか? undolist をみることで判別つかないか?

[2012-01-24 03:16] mattn commented on #141
@thinca つまりは FoldingStart みたいなイベントが欲しいって事すよね？

[2012-01-24 03:18] thinca commented on #141
どういうことでしょう?

それがさっき @mattn さんが示してくれたコードです。

@mattn そういうことですね。

[2012-01-24 03:21] koron commented on #141
全然違います。あれは「foldexprが以前に呼ばれたかどうか」で、私の言う「前回のfoldexpr呼び出し以降にバッファに変更があったかどうか」とは別物ですよ。

[2012-01-24 03:22] koron commented on #141
バッファに変更があったかどうかはundotree()['seq_cur'] あたりで判別可能そう。

[2012-01-24 03:22] thinca commented on #141
あのコードは、`b:changedtick` を使うことで「前回のfoldexpr呼び出し以降にバッファに変更があったかどうか」をチェックしてますよ。

[2012-01-24 03:23] mattn opened #142 "ユーザ定義イベントが欲しい"
observable observer な仕組みが欲しい。Vimの挙動に対するイベントではなく、例えば特定アプリのバッファに入った際に　MyAppEnter　みたいなイベントが作れればプラグインのプラグイン開発が楽になるんじゃなかろうか。

出きれば敷居を低める意味でも autocmd と同じ仕組みで動くと嬉しい。

[2012-01-24 03:24] koron commented on #141
ああなるほど。すまんす。

[2012-01-24 03:25] thinca commented on #142
すでにあります。
`:help User` `:help :doautocmd`

[2012-01-24 03:28] koron commented on #142
Userは自動ではNever executedですよね。 @mattn の書きっぷりだとなんか自動実行されるモノっぽい。

[2012-01-24 03:28] mattn commented on #142
それは知ってるのですが、それを自由な名前で作れるといいなーという意味す。
例えば`NeoComplCacheEnabled`とか、`CalendarDiaryClosed`とか...

[2012-01-24 03:30] mattn commented on #142
要は名前だけ決めて、throwする側とcatchする側を造りたいのです。
そうしないと、受け側はそのアプリが入ってる前提のコードを書かなきゃいけないので...

[2012-01-24 03:30] thinca commented on #142
しかしそうすると、Vim 本体が将来イベントを追加したい場合に衝突する恐れがあるのではあるのではないでしょうか?

[2012-01-24 03:31] koron commented on #142
@mattn groupで識別するのも限界がある、とかそういう言い方かしらねぇ。

@thinca 名前空間わければ良いだけでは?

[2012-01-24 03:32] mattn commented on #142
そうそこ。そこをなんとかうまく出来ないかなーという意味なのです。(最初から書けよ)

[2012-01-24 03:34] thinca commented on #142
その名前空間が `User` ではないんですかねぇ。
ちなみに念のための補足ですが、`User` イベントはパターンを使って区別します。

[code]

[2012-01-24 03:34] koron commented on #142
Userと同じ動作でいいなら、group名にu:とかプリフィクスをつけたらeventには自由に命名可能なUserと同等のイベント作れまっせ、ってすれば良いんじゃない?

[2012-01-24 03:36] mattn commented on #142
@koron @thinca 今使い方知った！

[2012-01-24 03:36] #142 closed, assigned to nobody

[2012-01-24 03:37] koron commented on #142
名前付けをずらさないとなんか困る気もするけどw

[2012-01-24 03:37] mattn commented on #142
User ってイベント名しか使えないのかと思ってたw

[2012-01-24 03:38] koron commented on #142
プラグイン間で、という意味ね。
なんかプラグイン同士の住み分けや連携を整えてあげる事は必要な気がしてきた。

[2012-01-24 03:40] koron commented on #141
タイトルの

は @mattn さんので満たされませんかね? スピードの件はあのくらいのチェックであればたいしたオーバヘッドとは考えにくく、仮にオーバーヘッドになるという主張ならちゃんと計測に基づくべきだし。

[2012-01-24 03:45] mattn commented on #142
ただ、今思ったんだけど引数で何か渡したいね

[code]

みたく。イベント引数？そうなるともう autocmd でやる意味無いか。

[2012-01-24 03:47] koron commented on #142
うん。ないねw

C#みたいにdelegateからevent作りましょう、的な話になってくる。

[2012-01-24 04:02] thinca commented on #141
そうですね。オーバーヘッドになりそうな予感を除けば、あれで良さそうです。
…Closeした方が良い?

[2012-01-24 04:05] mattn commented on #142
こんなので十分か...

autoload/observe.vim

[code]

example.vim

[code]

[2012-01-24 04:06] mattn commented on #141
一度閉じましょうか。やってみてオーバーヘッドが激しい様ならオーバーヘッドが激しいというお題でもう一度議論しましょう。 :)

[2012-01-24 04:08] thinca commented on #142
簡単な文字列程度ならパターン経由で無理矢理渡せなくもないですが。

[code]

まあ面倒だし応用範囲は広くない。

[2012-01-24 04:08] #141 closed, assigned to nobody

[2012-01-24 04:52] Shougo commented on #100
そうですね……。うーん、簡単な自動補完する関数を書けばいいのかな。

[2012-01-24 04:53] Shougo commented on #100
はい。補完やスニペットに関しては好きな人と嫌いな人の差が激しいんですよね。
使う人は多用しますが、使わない人は全く使わない。
その温度差はなんとかしたいな、と常々考えているんですが……。

ちなみに、neocomplcacheを入れるだけでは全く副作用はないです。
明示的に有効にする必要があるので。

[2012-01-24 05:05] Shougo commented on #100
https://gist.github.com/1668061

サンプルコードを書きました。これでチラつきが出るかどうかを気軽に試すことができます。

[2012-01-24 05:17] mattn commented on #100
そうとも言えないw

今日、ネオコン抜いたらエラー出て、unite抜きました。
unite抜いたらvimshellだったかvimfilerだったかでエラーがドバーって出て、結局全部消しましたw

それはバグです、という話かもしれないけど、常用エディタを不安定な状態に置いておきたく無い、出来れば起動も速い状態に置いておきたい、というのがおそらくkoronさんや僕の思いだと思います。（勝手に)

まぁそもそも僕は何時でもvimのオリジナルの動作を知る必要があるので、あまり自動で何かする系は入れないです。

[2012-01-24 05:28] koron commented on #100
あ! 「重い」→「思い」治したなwww

[2012-01-24 05:29] koron commented on #100
とっているそばから僕も直す羽目になったでござるwww

[2012-01-24 05:38] Shougo commented on #100
そういえば今思い出したのですが、これは実は「チラつく」だけではないのです。
この「Pattern Not found」が出ている間、CursorHoldIが発生しないという副作用があります。
unite.vimやvimshellなどCursorHoldI時に再描画をするようなプラグインで問題になります。
そういう意味で、私は自動補完の場合「Pattern Not found」が出るべきではないと考えます。

[2012-01-24 05:43] mattn commented on #100
それを最初に知っていたのなら、そういうissueにして下さい。
unite.vim、vimshellの中身は興味ないので、vimスクリプト書けるならばサンプルで示して下さい。
`Pattern Not Found`以外にも問題があるのならば、別のissueを立てて下さい。
（返信は不要です）

[2012-01-24 05:52] Shougo commented on #100
それはバグ……なのかな。
uniteを抜いたら、vimfilerでエラーになるでしょうね。vimfilerはunite.vimに完全に依存しています。
ドバーっと出ているのは、.vimrcでvimfilerの関数などを呼んでいる可能性がありますね。
vimshellはvimproc以外に依存していないのでエラーが出ないはずです。

私のプラグインは相互に依存していることが多いので、そういうことが起きやすいですね。

変なプラグインを入れたくない、というのは私も分かります。難しいところですね。

いや、今思い出したのです。
ふむ。前にも報告をしたと思いますが、別Issusを立てるべきですかね？

[2012-01-24 06:11] Shougo commented on #100
ソースを見ましたが、それらしいコードはありませんでした。
unite.vim本体ではなく、他のunite sourceのエラーだった可能性があります。

[2012-01-24 06:12] Shougo opened #143 "補完ウインドウが出ている間、CursorHoldIイベントが発生しない"
これはおそらく、Vimの仕様ですが補完ウインドウが出ている間はCursorHoldIイベントが発生しません。

普通はこの仕様は問題になりませんが、neocomplcacheなどの自動補完プラグインを併用していると問題が発生しています。なぜなら、自動補完プラグインは勝手に補完ウインドウを開くからです。

さらに自動補完関数を呼んでも候補がなくて「Pattern Not Found」が出ていると、この状態でもCursorHoldIイベントが発生しません。これは見た目には補完ウインドウが表示されているように見えないため、ハマりポイントとなります。

https://github.com/vim-jp/issues/issues/100

mattnさんのこのパッチが取り込まれれば問題はありません。
しかし取り込まれなければ問題は残ります。
# 補足(2012/01/27 13:42 村岡追記)

[2012-01-24 06:14] mattn commented on #100
原因は消したのでわかりません。あとネオコンのissueトラッカじゃないので別の場所でやって下さい。

[2012-01-24 06:15] mattn commented on #143
しかしまぁ、ネオコンって出さずに書けませんかwww

[2012-01-24 06:18] Shougo commented on #143
実は、neocomplcache以外に自前で補完を実装しているプラグインがほとんどないのです。
おそらく、これで問題になる人の99%はneocomplcacheをインストールしている環境です。
あとはclang_completeも自前で自動補完を実装しているんですが、これは自動補完が出てくるパターンが非常に限られているので
ほとんど問題にはならないはずです。

[2012-01-24 06:24] mattn commented on #143
あちらのissueに通知したいので... #100

[2012-01-24 06:33] Shougo commented on #143
了解。

[2012-01-24 10:47] koron commented on #143
特定プラグインの名前を出さないほうが良いのには、実は明確な理由があります。

って思わせないためです。こう思われると真面目に見てくれる人は減ります。
そうじゃなくて「こんなん作ったらこうなったんだけど、これだと皆が困るよね」っていうコンテキストにしてあげると
ちゃんと見てくれる人が増えます。

実は特定のドメインの問題を解決したいだけであっても
まるで広いドメインに属する問題を解決したいという風に振る舞うのは
かなーり重要なテクニックですw

[2012-01-24 11:06] Shougo commented on #143
そうですね。今後気をつけたいと思います。

[2012-01-24 14:14] h-east commented on #140
誰かが調査する時の情報として貼っておきます。

該当関数： `get_c_indent()` [misc1.c : 6187行辺り]
`cinoptions=+N`のN値を保持しているローカル変数： `ind_continuation`
継続行のインデント量を保持しているローカル変数： `cont_amount` ←行毎に変化しうる

関係ありそうな変数、関数
`ourscope`
`lookfor_cpp_namespace`
`cin_is_cpp_namespace()`

[2012-01-24 14:46] h-east commented on #127
patch分けました。
(といっても別々のファイルへの修正だったのでそれを分けただけー)

:drop hoge や :tab drop hogeがイケてないのを修正するpatch
https://gist.github.com/1662433

:all! とか :sall! したら E477になるのを修正するpatch
https://gist.github.com/1670489

[2012-01-24 23:07] thinca opened #144 "GUI版で画面にノイズが残ることがある"
Lingr部屋で報告があったので転載。

http://lingr.com/room/vim/archives/2012/01/24#message-7554314

![noise](http://cache.gyazo.com/6408b3f87ea9d188dc3bd5011e2aeae2.png)

http://lingr.com/room/vim/archives/2012/01/24#message-7554326

http://lingr.com/room/vim/archives/2012/01/24#message-7562284

http://lingr.com/room/vim/archives/2012/01/24#message-7563054

[2012-01-24 23:59] mattn commented on #144
windowsではguifontwideは使わない方がいい

[2012-01-25 01:42] koron commented on #144
おそらくWindowsの話とLinuxの話は別対応が必要。なぜならソースコード的にGUIの描画はそれらのプラットフォーム毎に完全に分離しているから。コピペで似たようなバグが2つある可能性はある。

[2012-01-25 02:13] mattn commented on #144
残ってるのはカーソルじゃなさそうなので、ポイントは `gui_mch_adjust_charheight` `gui_mch_clear_block` `draw_glyph_string` ですかね。まぁ実際にはグリフは font.xml なんかで嘘がつけるしヒントの値で微妙にずらせたりするはずなので、それ次第な気もしなくない。
monospaceで再現するかが知りたいですね。

[2012-01-25 02:19] Shougo commented on #143
ちなみに、この問題はautocomplpopでも発生します。
というより、autocomplpopではneocomplcacheのようにprefetchして補完ウインドウを出さないという機構が存在しないため、影響はより深刻です。mattnさんのパッチもユーザ定義補完でないと効果はありません。

そもそも、CursorHoldIが補完ウインドウを開いていると発生しないのが問題だと思います。
CursorMovedIも発生しませんが、こちらは補完ウインドウが「Pattern Not Found」状態なら発生します。
CursorHoldIは「Pattern Not Found」状態でも発生しません。

[2012-01-25 02:22] mattn commented on #144
ノイズ部を1行上にずらしてみた...

![](http://go-gyazo.appspot.com/5802a6402c50fc51.png)

![](http://go-gyazo.appspot.com/7e014861e8696758.png)

_完全に一致_

[2012-01-25 02:33] mattn commented on #143
どのプラグインが...とかの説明は不要です。この問題を解決する為にprefetchやらautocomplpopも発生する...とか要らない要素を学習したくないです。なので要点を纏めて書いて貰うだけでok。

その上で、@koron さんや僕、他の皆さんが「その機能、一般向けにあった方がいいかもね」であったり「そんなの要るの？」って話になって、そこで一例としてプラグイン名が出て来るのは分かります。

今回であれば「CursorMovedIがポップアップ表示中に発生しない」が第一報告、「なんでそんなの必要なの？」となって「例えば自動補完を実装する上でこうなって欲しい」って流れだと思います。

なんか...毎回こういうのを書きたくないです。

[2012-01-25 02:46] thinca commented on #144
これはw

[2012-01-25 02:54] koron commented on #144
つまり…システムが返すフォントメトリクスが描画時よりも小さいサイズになっている?

[2012-01-25 02:57] mattn commented on #144
たぶん

[2012-01-25 03:40] mattn opened #145 "sessionoptionsにglobalsがある状態でmksessionするとfloat値に&が付く"
題名の通り。
バグです。

参照: http://d.hatena.ne.jp/osyo-manga/20120125/1327458482#c

[code]

[2012-01-25 03:44] mattn commented on #145
報告ed

https://groups.google.com/d/topic/vim_dev/azvvcp6UmXA/discussion

[2012-01-25 03:52] Shougo commented on #143
それでは正確に書きます。

CursorMovedIがポップアップ表示中に発生しません。ただし、候補がなくなり「Pattern Not Found」となったときは発生します。
CursorHoldIもポップアップ表示中に発生しません。「Pattern Not Found」となったときも発生しません。

これはバグではないのですか？ 意図した挙動なのでしょうか。

[2012-01-25 04:03] Shougo commented on #100
どうやら、Bram氏のTodoリストに入ったようです。

https://groups.google.com/forum/#!topic/vim_dev/gJLt32Qznb8

[2012-01-25 04:38] mattn commented on #140
いまこの部分のソース見て昼飯をもどしそうになった。

[2012-01-25 05:04] h-east commented on #140
Welcome to wonderland. :-)
とりあえず 7057行辺りの判定はまったく意味が無いｗ

[code]

[2012-01-25 05:18] mattn commented on #140
正しいかどうかそっちのけでやってみた。

[code]

[2012-01-25 05:26] mattn commented on #143
edit.c の`ins_redraw`

[code]

で `pum_visible()` を見てるからでしょうかね。

[2012-01-25 05:37] Shougo commented on #143
もうソースコードでそうなっていますね。

CursorMovedI eventの仕様については、仕方のない面はあるのかもしれませんが、
「Pattern Not Found」でも発生しない、CursorHoldI eventは納得できないんですよね。

[2012-01-25 06:08] h-east commented on #140
@mattn nice!
たぶん、lookfor_cpp_namespaceの値でind_levelの加算を制御するのは間違いだと思います。

ちゃんと説明してなかったのでここでします。

`set cino=` (インデントデフォルト >s,N0,+s)で以下のコードを整形すると以下のようなインデントになります。

[code]

※+sが関数の内側ではないのに設定値分インデントされているのがNG！！

<br>
`set cino=>s,Ns,+s` で以下のコードを整形すると以下のようなインデントになります。

[code]

※+sが関数の内側ではないのに設定値分インデントされているのがNG！！

<br>
`set cino=>s,N1,+2` で整形すると分り易いと思います。

つまり、ind_levelの反映可否をnamespace中かどうかで決めてはいけないと思うのです。

[2012-01-25 06:19] mattn commented on #140
僕はこのままソース読むとゲロが出るので兄さんに譲ります。

[2012-01-25 06:37] h-east commented on #140
兄さん( @thinca )、譲られました。

[2012-01-25 07:00] thinca commented on #140
トスしたい。

[2012-01-25 07:04] mattn commented on #140
t0が効かないってのがバグ？

[2012-01-25 07:13] h-east commented on #140
関数の中じゃないのに +s が効いちゃうのがバグです。
:help cino-+

[2012-01-25 07:17] mattn commented on #140
じゃぁこう？

[code]

[2012-01-25 07:45] h-east commented on #140
@mattn ++
cool! 報告の件直りました。

<br>
※ヘルプの文言に対する個人的な感想
:h cino-+の文言「関数の内」「関数の外」(英語だとinside a function/outside a function)は表現を変えたほうが良いんじゃないかなぁ。
だって人間が判定する「関数の内/外」を実装しようとしたら結構大変なのでキリがないんじゃないかと。
例↓

[code]

必要なら別Issue立てて議論しましょう。

[2012-01-25 08:01] h-east commented on #140
あれ？、ちょっとへんです。

`set cino=>s,N1,+2` で整形すると `{` の位置でインデントが変わります。(この場合は上が正解)

[code]

[code]

[2012-01-25 08:15] mattn commented on #140
ふむ...

そろそろヒーローが登場↓

[2012-01-25 08:41] mattn commented on #140
2個目のifに何かしら条件が必要...

[2012-01-25 08:49] mattn commented on #140
ちゅうかあれだな。1個目で付けるフラグをlookfor_cpp_namespaceとは別のフラグにすべきだな。

[2012-01-25 09:39] mattn commented on #140
むずい。丸投げ。

[2012-01-26 07:07] mattn opened #146 "windowsでif_rubyのビルド時にバージョン指定方法がおかしくなっている"
ruby1.8の時までは

[code]

こう指定していたのだけど、ruby1.9ではdll名が`msvcrt-ruby191.dll`になっており、この191は実はAPIバージョン(not RUBY_VER)である事が分かった(結構前にtwitterで教えて貰った)。現状

[code]

としているのだけど、if_ruby.cの中ではこのRUBY_VERが19未満の様な判断がいっぱい入っており、191がどう見てもおかしい条件指定になっている。つまり本来ならば

[code]

こうする事が望ましい。以下パッチ案

[2012-01-26 07:08] mattn commented on #146
[code]

[2012-01-26 07:09] mattn commented on #146
本来ならばRUBY_API_VER等としたいが、波及度が大きすぎるのでRUBY_VER_LONGからsubstで作り上げてる。

[2012-01-26 07:32] koron commented on #146
MSVC的には公式Rubyバイナリがないのでif_ruby外したほうが良いんじゃないかとも考えてしまう。

[2012-01-26 13:12] hdk1983 opened #147 "vi 互換モードで、行頭の 1 文字を c や s で変更する時に $ が表示されない"
vi 互換モードで、行頭の 1 文字 (タブを除く) を c や s で変更する時に、$ が表示されません。
cpoptions の $ がセットされている時に発生します。

再現手順:
1. vim -u NONE で vim を起動する
2. :set cpoptions+=$
3. hoge という文字列を入力する (ahoge[ESC])
4. 行頭の 1 文字だけを c または s で置き換えて編集する (0s, 0cl, 0lc0 など)
期待される画面表示:

<pre>$oge</pre>

実際の画面表示:

<pre>oge</pre>

ソースを見ると、$ のカーソル位置が行頭になった時に、$ を表示していない時との区別がつかなくなるようです。パッチを作ってみました。
http://code.google.com/r/hdk1983-vim/source/detail

[2012-01-26 14:07] hdk1983 opened #148 "vi 互換モードで、an Empty region に対するコマンドがエラーになった時の "." コマンドの動作が不正"
vi 互換モードで、an Empty region に対するコマンドがエラーになった時の . (ピリオド) コマンドの動作が不正です。An Empty region に対する操作がエラーになる、cpoptions E がセットされている時に発生します。
不正というのは、コマンドがエラーになっているにも関わらず、次の . コマンドでエラーになったコマンドが再実行されたり、. コマンドの処理中にエラーが発生しているにも関わらず、. コマンドの処理が中止されません。

再現手順 (1):
まず簡単な例を示します。
1. vim -u NONE で vim を起動する
2. :set cpoptions+=E
3. hoge という文字列を入力する (ahoge[ESC])
4. 行頭で an empty region に対するエラーになる操作を行う (0c0, 0y0, 0d0 など)
5. .

[2012-01-26 14:18] ynkdir commented on #147
ありがとうございます。
とりあえず動作確認しました。
LGTM

[2012-01-26 14:42] h-east commented on #147
こんばんは。GJ!
以下、個人的な意見です。
・`dollar_vcol`の有効無効を表すフラグ変数(例えば)`dollar_vcol_valid`を用意してそれで制御するようにした方がアドホック感がなくなって良いかなと思いました。

[2012-01-26 15:13] ynkdir commented on #148
こちらも動作確認だけしました。
互換性確認は http://ex-vi.sourceforge.net/ です。これも完全にオリジナルではないみたいですが...
パッチの内容についてはよくわかりません。

[2012-01-26 19:21] h-east commented on #147
個人的な意見の続きです。

もしくは
現状、「dollar_vcolが0の時無効。 >0 で有効」
となっているのを、実際は0も有効な値なので、
「dollar_vcolが-1の時無効。 >=0 で有効」
として修正するとかでしょうか。

[2012-01-26 23:55] mattn commented on #147
@hdk1983 awesome. LGTM

私も @h-east さんの後者の意見と同じです。
あともし英語での報告をお願いするとしたら可能ですか？

[2012-01-27 00:02] mattn commented on #148
ありがとうございます。
内容については問題無いと思いますが、コードのスタイルが合ってないかと思いました。

[code]

は、やはり

[code]

とした方がいいかと思います。また

[code]

はvimのコードに無いスタイルなので

[code]

が良いと思いました。というか、`CancelRedobuf()` がなぜいままで無かったのか...。

[2012-01-27 00:09] #128 closed, assigned to mattn

[2012-01-27 00:10] mattn commented on #100
Patch 7.3.418

https://groups.google.com/d/topic/vim_dev/_w4mI5MQITs/discussion

[2012-01-27 00:11] mattn commented on #100
notify to #143

[2012-01-27 00:12] mattn commented on #143
@Shougo

Patch 7.3.418 https://groups.google.com/d/topic/vim_dev/_w4mI5MQITs/discussion

で入りましたがこれで一緒に閉じますか？それともやっぱり CursorMovedI がポップアップ表示中に出た方がいいですか？

[2012-01-27 00:14] mattn commented on #145
Patch 7.3.412

https://groups.google.com/d/topic/vim_dev/SPm4Hzra2PQ/discussion

[2012-01-27 00:14] #145 closed, assigned to mattn

[2012-01-27 00:14] koron commented on #100
418ってdocの変更必要ないの?

[2012-01-27 00:18] koron commented on #143
これは418とは別件でしょ?

[2012-01-27 00:29] mattn commented on #146
報告ed

https://groups.google.com/d/topic/vim_dev/uYg-xFDDMzk/discussion

[2012-01-27 00:32] mattn commented on #128
Patch 7.3.419

https://groups.google.com/d/topic/vim_dev/nRzRqXthq_c/discussion

[2012-01-27 00:35] mattn commented on #100
doc/insertt.txt のパッチ入れてたのに含んでない。コメント入れたので直るまでreopen.

[2012-01-27 00:36] mattn commented on #143
@koron 承知です。issueの説明に例の件が書いてあるので閉じるかどうかを委ねた次第。

[2012-01-27 00:43] mattn opened #149 "utf-8対応版char2nr/nr2char"
#32 の時点で作ったパッチ。パフォーマンスもそんなに上がらない(計算に関してはvimスクリプトは速いので？)し、必要性が見えなかったのでissueは閉じたけど、HTTP通信を伴う処理を書く場合に皆が同じ実装をするのは宜しくないという理由で別issueにしました。

以下パッチとベンチマーク用スクリプト。

[2012-01-27 00:44] mattn commented on #149
https://gist.github.com/1686178

[code]

[2012-01-27 00:50] mattn commented on #149
ベンチマークスクリプト(回数は変更した)

[code]

[code]

[2012-01-27 02:03] Shougo commented on #100
おお、取りこまれたんですね。ありがとうございます。
早速、neocomplcacheを対応させようと思います。

それにしても、こちらは取りこまれたのに、補完関数による学習が取り込まれなかったのはなぜだったのだろう……。
パッチが長かったのかな。

[2012-01-27 02:07] Shougo commented on #143
これに関してはCusorMovedIの動作は問題ないです。
でも、CursorHoldIは「Pattern Not Found」のとき出てほしい。
ただし、CursorHoldIの問題に関してもVim scriptにまともなタイマー機能があれば良いので
結局「タイマー欲しい」という問題に帰結するんですよね。

[2012-01-27 02:09] mattn commented on #100
どれですか？

[2012-01-27 02:10] mattn opened #150 "タイマーが欲しい"
バッファローカルupdatetime?

[2012-01-27 02:16] koron commented on #143
これは別件なので要Issue化(#150) ですね。ってあったような気もしなくはない。

あとささいなことですが、日本語の使い方がちょっと変ですよ。括弧内はあきらかに要求とか要望であって問題ではありません。
このまま「タイマーが欲しい→問題」だと、タイマーが欲しいと思ってしまう自分の願望が問題である、と読むのが普通になります。
「タイマーが無い→問題」と書いたほうがよいでしょう。

[2012-01-27 02:23] koron commented on #100
#14 らしい。送ってないかと思ったw

[2012-01-27 02:23] koron commented on #100
https://groups.google.com/forum/#!topic/vim_dev/DaSiidfQQ5E

[2012-01-27 02:27] mattn commented on #100
全く長すぎないw

取り込まれないとしたら
- 必要性
- 安全性

がBramに見出せてないからでしょうね。

[2012-01-27 02:29] Shougo commented on #143
そうですね。

以前にも書いたような……。ただ、mattnさんが新しくIssuesを作ってくれたようです。こちらは閉じましょう。

[2012-01-27 02:31] mattn commented on #100
あとパッチですが、onselectedがstringにも対応が欲しい。

どこかで話しましたが、やっぱりonXXX系は嫌いなのかな...

[2012-01-27 02:33] Shougo commented on #150
そうですね。ただ、updatetimeとは別の仕組みにしたほうがよいと思います。
なぜなら、CursorHoldIをタイマー代わりに使う仕組みがそもそも副作用が大きすぎるからです。
無意味なswapファイルへの書き込みが頻発してしまいます。

できれば、バッファローカルなだけでなく、プラグインローカルとなるような仕組みがほしいですね。
タイムアウトもプラグイン毎に設定したい。
これは比較的大きなパッチになるでしょう。
しかし、多くのプラグインにおいて性能改善や実装の簡単化・競合の解消につながりますし、「マルチスレッド欲しい」という要望に対する一つの解決方法になるのではないかと考えています。

[2012-01-27 02:34] koron commented on #100
TODOリスト行きになったから、忘れてんでしょw

あとの変更などはまかせた。

[2012-01-27 02:36] koron commented on #143
つまりカーソルホールドイベントが出ない件は要らないの?

[2012-01-27 02:37] Shougo commented on #100
うーん、私としてはこちらも取り込まれてほしいんですけどね。
どうやって説得すればよいのだろう……。

[2012-01-27 02:38] Shougo commented on #143
はい。タイマーがあれば不要です。

[2012-01-27 02:43] koron commented on #143
私の視点からだと新機能であるタイマーよりも
既存のバグの修正であるこちらの方が
はるかに取り込まれやすいって感じるんですがねぇ。

[2012-01-27 02:57] Shougo commented on #143
うーん、CursorHoldIの件はバグかどうかもよく分からないんですよね。
タイマーを実装するまでのつなぎとしては、この修正が必要かなと思いますけど。
CursorHoldIで問題になるのは、CursorHoldIイベントをタイマー代わりに使ったときだけですし。

[2012-01-27 03:21] Shougo commented on #100
neocomplcacheが試験的にVim 7.3.418に対応しました。
Vim 7.3.418以上ならprefetch機能がデフォルトで無効になります。

[2012-01-27 03:25] koron commented on #143
ドキュメントに書いてないならバグ。
仮に現状の動作が変えられないなら、
そうドキュメントを直さないといけない。

いずれにせよこのissueは残すべきでしょう。

[2012-01-27 03:27] Shougo commented on #143
了解。ReOpenしておきました。

[2012-01-27 03:59] Shougo commented on #100
試してみました。副作用もほぼなくて良い感じですが、一点だけ問題が。
補完関数が-2を返すと、「ユーザ定義補完モード」を抜けた後、「^Xモード」に入ってしまうようです。
そのせいで「^X mode ....」という表示がチラつくという問題がまだ残っています。
できればこの部分も修正していただけると助かります。

[2012-01-27 04:08] thinca commented on #150
この手の話題はvim_devでも以前上がってた気がしますね。どこだったかな…(探したけど見付けられなかった)。
JavaScriptのsetTimeout()的な提案もその中でされていたように記憶しています。

[2012-01-27 04:33] koron commented on #100
再現できる簡単なサンプル、ないですか?
neocomplcacheで、というのだとneocomplcacheだけの問題でしょ、って言われますよ。

前に書いてくれた https://gist.github.com/1668061 でも再現できてるのかな?

[2012-01-27 04:33] mattn commented on #150
これかな？

https://groups.google.com/forum/#!topic/vim_dev/LZGIREwdHfE/discussion

[2012-01-27 04:46] koron commented on #143
説明に補足を追記しました。

[2012-01-27 05:00] thinca commented on #70
この問題ずっと放置されているけど内輪で話し合えば解決するのでやってしまいたいですね。
と言うわけでカテゴリ名をprefixにする案に+1。区切りはそのまま / が見易くていいかなぁと思います。

[2012-01-27 05:00] Shougo commented on #100
ちょっと試してみますね。

[2012-01-27 05:01] Shougo commented on #150
それっぽいですね。RepeatするCursorHoldI = Timerでしょうね。

[2012-01-27 05:02] koron commented on #70
反対がいないのに進まない、作業着手しないというジレンマw

orz ｽﾏﾝｽ

[2012-01-27 05:15] mattn commented on #70
やっときました。
嫌な人は自分で治す事にしましょう。
ただし変更はしても追加・削除はしないで下さい。

[2012-01-27 05:30] Shougo commented on #100
gistを一部修正して、再現することを確認しました。
ポップアップは表示されませんが、「^X mode 」が表示されます。

[2012-01-27 05:54] mattn commented on #100
そもそも何を望んでおられるかが分からない。
チラツキでは分からない。

`^X mode ...`が出たままでいて欲しいのか、そもそも出ないでおいて欲しいのか。ソフトウェア技術者らしくお願いします。

[2012-01-27 06:21] Shougo commented on #100
了解しました。確かに分かりづらかったですね。`^X mode ...`は出ないで欲しいです。出ても良いことはないため。

これがチラつきになるのは、私の環境ではCursorHoldIでecho areaが消去されるためですね。

[2012-01-27 06:22] mattn commented on #100
通常の`<C-X>`モードとの違いは何ですか？何を判断して出なくすれば良いですか？

[2012-01-27 06:23] Shougo commented on #100
おそらく、`<C-x>`を押したときと同じ状態です。だから何を判断すればよいかはよく分からないですね。
確か、`<C-x>`モードに関係ないキーを押すと`<C-x>`モードは抜けられるはずなので、それと同じことをやればいいはずですが……。

[2012-01-27 06:24] koron commented on #100
補間関数が -2 返した時にCtrl-Xモードも抜ける、ってのが期待される動作かしらね?

[2012-01-27 06:30] mattn commented on #100
@koron 逆だと思いますよ。
1. モードを抜ける → ステータス行がクリア
2. feedkeys()で再度モードに入る → ステータス行に`^X mode`が表示される

この循環がチラチラさせているので、どちらかのステータス行更新をやめるしかないです。

[2012-01-27 06:34] Shougo commented on #100
`<C-x><C-u>`時の`<C-x>`の表示が残ってしまっているんですかね。

[2012-01-27 06:50] mattn commented on #100
補完が有効な間は`set noshowmode`にするか以下のパッチを当てて

[code]

[code]

こうするしかないかと。

[2012-01-27 06:53] Shougo commented on #100
set noshowmode良いですね。ただ、プラグイン側でこの設定を強制するわけにもいかないし……。副作用が大きすぎるので。上記のパッチが採用されるのが良いと思います。
私は以前から「`<silent>`なのに余計なメッセージが表示されるのは変だ」と思っていました。そうすればいいんですね。

[2012-01-27 07:03] mattn commented on #100
ただ今朝入った補完を-2でキャンセルさせる仕組みは、「スクリプトから補完をキャンセル出切る方法が無い」という理由にする事で取り込んで貰う戦略がうまくいっただけなので、いかにもアドホックなこのパッチを入れてもらおうとすると、「`silent! call feedkeys('\<c-x>\<c-u>')`でステータス行出ちゃうよ」っていうバグ扱いな理由に持っていくしかないのが少し心苦しい。

[2012-01-27 07:05] Shougo commented on #100
私はその挙動はバグという主張で問題がないと思いますけど……。

[2012-01-27 07:06] mattn commented on #100
この場合、全ての`showmode()`をsilentで出さなくする修正になっちゃう可能性もある。

[2012-01-27 07:09] Shougo commented on #100
ふむ。それだと問題になるのでしょうか？

[2012-01-27 07:09] mattn commented on #100
であればshowmode()の中でmsg_silent判定をすればいいのだけど、既に

[code]

とやってる箇所が多すぎる。

[2012-01-27 07:15] Shougo commented on #100
みんなアドホックな修正を……。
この機会にその部分を修正できればいいんですけどね。

[2012-01-27 07:19] koron commented on #100
@mattn: あーそうか。だったらそもそも-2を返した後にCursorHoldI拾って feedkeys() するのがおかしいんだ。

@Shougo: -2 を返して補完を完了した直後のCursorHoldIではfeedkeys()を出さないコードにできませんか? そもそもバッファに変更がなければもう一回補完を呼び出す意味はないわけです。それで、少なくともCursorMovedIが一度は呼ばれた後であれば、feedkeys()を出すようにする。

少なくとも418以降で `Ctrl-X` がチラチラしているのは、プラグイン側の不備のせいでしょうね。

[2012-01-27 07:23] Shougo commented on #100
んー、それが補完文字列が同じ場合、二回目の補完は出さないはずなんですよ。
それがなぜポップアップが出ているのかが謎です。
さらに、私の設定ではCursorHoldIを使っていません。

[2012-01-27 07:27] Shougo commented on #100
調べてみましたが、間違いなく「feedkeys()は一度しか呼ばれていない」です。
が、「^X mode (...)」は発生しています。これはなぜでしょうか？
だから私は補完関数が-2を返したとき、^xモードを抜けていないのではないかと思ったのです。

私のプラグインが悪いのなら、直したいのですが、直すべき箇所が見つからなかったのです。

[2012-01-27 07:28] koron commented on #100
スクリプトの問題はスクリプトで対応する必要があります。

私は、さっきのサンプルスクリプトではfeedkeys()がCursorHoldI時に無条件で実行されていることがチラツキの原因になっている、と言っているのです。そのスクリプト側の原因を取り除いてなお「Ctrl-X～がチラツクという現象」が再現しない限り、Vimには責任および問題が無いという結論です。

[2012-01-27 07:31] koron commented on #100
ありゃ? こっちではちらつかないな… あとCursorMovedIになってるか。

[2012-01-27 07:31] mattn commented on #100
@koron @Shougo どちらも違う方向に行ってる。

まず `<C-X>` を押したタイミングで showmode() が呼ばれる。その後 `<C-U>` でユーザ補完モードに移行、この時も showmode() が呼ばれる。
つまり feedkeys() で `<C-X><C-U>` した場合必ず showmode() が2回呼ばれる。これは1回目とか2回目とか関係ないです。
これは手でタイプしようが feedkeys でやろうが同じです。

これを解決するには↑の様にパッチを当てるか noshowmode にする他ない。

[2012-01-27 07:31] koron commented on #100
出っぱなしになるのね。

[2012-01-27 07:33] Shougo commented on #100
どうやらKaoriyaさんは勘違いしておられるようです。
上記のサンプルではCursorHoldIを使っていません。しかしチラつきは発生します。
うーん、上記サンプルで試したところ、^xモードに入っているというより、メッセージが出ているだけみたいですね。

さらに、そもそも`<C-x>`を押したとき^Xモードの表示が出なくなっていますね。
`<C-x><C-o>`は動いているみたいですけど。vim -u NONEで確認。これはなぜでしょう。

[2012-01-27 07:40] koron commented on #100
@Shougo @mattn ごめん。

少なくとも[サンプル](https://gist.github.com/1668061) を `source`してもチラツキはしないんだけど
これはWindowsのGUI版を使ってて画面描画が高速だから?

[2012-01-27 07:43] Shougo commented on #100
あ、ようやく理解しました。つまり、`<C-u>`のset showmodeでなく、`<C-x>`のset showmodeが悪さをしているんですね。

これはset showmodeすればOKでした。

[2012-01-27 07:44] koron commented on #100
重ねてごめん。409だった。なんかアップデータが動作してない。

[2012-01-27 07:55] koron commented on #100
とりあえず32bit版は420だったので確認。ただ普通にはチラチラしない。
キーをおしっぱにするとちょっとチラチラするか。

あと-2でキャンセル後にやはりCtrl-Xモードが維持されているみたいなんだけど、これは許容なの?

そもそもこれがフォーカスすべき現象なのでは?

[2012-01-27 07:59] Shougo commented on #100
はい。チラつき具合は環境によるようです。

ぽいですね。ただ、これは表示だけのような気がしています。なぜ表示が残っているのかはよく分かりません。

[2012-01-27 08:01] koron commented on #100
私が試した限り表示だけではないみたい。
仮に表示だけならCtrl-Pを押せば、即座にキーワード補完が反応するはずだけど、実際は動作しない。

[2012-01-27 08:05] Shougo commented on #100
あ、確かにそうですね。となるとバグ？
メッセージを表示しない、というだけの問題では済まないようですね。

[2012-01-27 08:07] koron commented on #100
@mattn さん、どうですか? -2で補完キャンセルした時に、Ctrl-Xモードにとどまっているのは意図したものか、避けられないもの?

[2012-01-27 08:11] mattn commented on #100
元々の動きのままなので仕様です。
-2 を返す場合と -1 を返す場合の違いはエラーメッセージが出るかどうかだけです。

[2012-01-27 08:12] mattn commented on #100
まぁこの辺ドキュメントに何も書いてないので仕様もなんもないけどね。

[2012-01-27 08:15] koron commented on #100
うん。わかってるw

実用上、Ctrl-X抜けないのは痛いんじゃないの?
逆にCtrl-Xを維持しなきゃこまる、というケースもあるんだろうか?

仮にCtrl-XにCtrl-Xな補完が増えたら、今のサンプルはそもそも変なことになりそうね。
あとちょっと別Issue立てるよ(もっと早くヤレよという感じだがw)

[2012-01-27 08:19] koron opened #151 "補完関数を<0で終了するとCtrl-Xモードになる"
#100 より継続の話題。

7.3.418 以降で https://gist.github.com/1668061 を使うと文字入力後にCtrl-Xモードになる。
これは補完関数が失敗する(return FAIL;)とCtrl-Xモードに戻る、というVimの暗黙の仕様によって発生している。

これは微妙に不便に思うし、逆に必要な動作かもしれないとも思う。
どっちに振るのが良いか要検討。

[2012-01-27 08:20] koron commented on #100
残課題(Ctrl-Xに留まる)は #151 でやりましょう。
こちらは閉じます。

[2012-01-27 08:21] mattn commented on #100
まぁそれは `\<C-g>\<C-x>\<C-u>` にすればいいだけ。

[2012-01-27 08:22] koron commented on #100
それは違うでしょ。-2出した時に、どのモードに落ちるべきか、って話だから。

[2012-01-27 08:22] #100 closed, assigned to mattn

[2012-01-27 08:24] Shougo commented on #100
@mattn
それをやってみましたが、無理でした……。

@Koron 了解です。

[2012-01-27 08:25] mattn commented on #151
いや、-1でも同じだよ。

[2012-01-27 08:25] Shougo commented on #151
私は補完を丸ごと終了するべきだと思いますけど……。
なぜそういう仕様になっているんでしょうか？
もしかして、候補がなかったときに^Xモードを抜けずに連続して他のsourceで補完できるようにするため？
まぁ、手動補完ならそれでもいいんですけど、自動補完でもそれをやられると不便極まりないですね。
どうにかならないものか。

[2012-01-27 08:27] koron commented on #151
-1と同じかどうかではなくて、それが便利かどうかという話。
どちらにどのていど使い道があるかどうか。

仮にどちらの動作もできたほうが良い、ということならCtrl-Xも抜ける -3 を増やすことになる。

[2012-01-27 08:30] koron commented on #151
敢えて言えば、return -2する時に feedkeys("<C-g>") する手で代用できるかも。

[2012-01-27 08:33] mattn commented on #151
タイトル直しました。

[2012-01-27 08:35] Shougo commented on #151
feedkeys()はそのタイミングによって予期せぬ副作用が生じるため、できればやりたくないです。

ユーザ定義補完関数に関しては、^Xを抜けない挙動は必要ないと思います。活用方法が思いつきませんので。

[2012-01-27 08:36] Shougo commented on #151
やってみましたが、無理でした……。

[2012-01-27 08:37] koron commented on #70
ごめん。ラベル増やした。

closeしたチケットにつけるxloseカテゴリ(黒)。
直したのか却下したのか、あとでトレースするため。

[2012-01-27 08:44] koron commented on #70
サーセン…複数のIssueにいっぺんにラベルつけようとしたら、他のIssueのラベルが共有されてしまうというカオスなことに…4個くらいで少なくて本当に良かった。

[2012-01-27 08:56] mattn commented on #70
せっかくカテゴリわけしたのに右上のパネルでソートされない。かなしい。

[2012-01-27 08:56] koron commented on #70
new issueの時はソートされますな。

[2012-01-27 08:58] koron commented on #70
ちなみにxloseはtypoじゃなくて、ソートで一番下にくるようにする苦肉の策なんだからねっ!

[2012-01-27 09:01] koron commented on #101
結果的に問題が解決されたので xlose/fixed とみなしました。

[2012-01-27 09:02] mattn commented on #70
残念なのはこれですわ。

![](http://go-gyazo.appspot.com/8e9fa7bd1fb05baa.png)

[2012-01-27 09:03] koron commented on #70
そうそう。xloseやってて思った。どうしてこうなってんだろうね?w 作った順かな?

[2012-01-27 09:08] koron commented on #137
より広範な内容を扱ったissue内で議論&パッチ送信までやってしまった件を、あとから記録のために分離したissue です。

[2012-01-27 09:09] koron commented on #141
代替手段があるために xlose/worksforme となった。

[2012-01-27 09:11] koron commented on #70
related/windowsがマゼンタなのはミス? とりあえず他のreleatedに合わせて修正します。

[2012-01-27 09:11] koron commented on #70
あとはWikiに運用ドキュメント書いたら閉じる。

[2012-01-27 11:13] ynkdir commented on #143
これはまぁいいですよね。

[code]

`Pattern Not Found` でカーソルが動いてなくても発生しますが。。。

こういう表示が出てるときですよね？
であれば入力待機中にあたるのではないでしょうか。

[code]

[code]

[2012-01-27 13:12] hdk1983 commented on #147
@h-east さん:
ソースコード中に if (dollar_vcol) あるいは if (dollar_vcol == 0) のように 0 かどうかの判定を行う部分が多数あり、修正内容をシンプルにわかりやすくするためこのような修正にしました。Vim のソースコードを見てこのくらいは許容されるのかなと感じたためでもあります。

@mattn さん:
私が英語で報告してもいいのですが、Vim のヘビーユーザーでもないので、慣れている方が代わりにサクッと報告してくれるとうれしいです。

[2012-01-27 13:22] mattn commented on #147
@hdk1983 パッチファイルの先頭に名前を乗せる事になりますが、Hideki EIRAKUさんでよろしいですか？

[2012-01-27 13:23] hdk1983 commented on #148
@mattn さん:
{ } の件、修正しました。
https://code.google.com/r/hdk1983-vim/source/detail?r=e07a94b1cfd8f0273317816da73350dab25ffc65

while () は実は、同じファイル中の flush_buffers() 関数からのコピー &amp; ペーストです。同じファイル中で違う表記というのも変かと思ってそのままにしてあります。

[2012-01-27 13:37] mattn commented on #148
okす

[2012-01-27 13:49] thinca opened #152 "最後に改行がないファイルが作れない"
Vim はテキストを行の集合として管理しているので、ファイルの最後には必ず改行が入ってしまいます。
しかし、最後に改行を入れたくない場合もあると思います。

- 人の作ったファイルが改行なしの場合、無意味な diff が発生する
- golfするとき
- 多分何かあるでしょ

Vim には `'endofline'` と言うまさしくなオプションがあるのですが、これは `'binary'` が有効でないと働きません。

[2012-01-27 13:49] thinca commented on #152
この「`'binary'` がないと動かない」と言う制約がなければ良さそうなんですが、なんでこんな制約があるんでしょう?

[2012-01-27 14:06] h-east commented on #147
@hdk1983
dollar_vcolの値の有効範囲が間違っていたのでそれは全体的に修正したほうが良いと思います。
（そうしないと、後でこの部分のソースをみた人々が迷い易くなってしまうので。）
変更箇所が1000カ所あったらさすがに考えますが、20カ所なら(私なら)サクっと修正しちゃいます。

どのようなpatchにしても取り込む判断をするのはもちろんBram氏なので、私の意見はあくまでも参考意見程度に受け取って下さいー。

[2012-01-27 14:23] ynkdir commented on #152
Bram 答えて曰く

http://groups.google.com/group/vim_use/browse_thread/thread/7257ffbb9e71ace0/b1100f8236d28251

[code]

[2012-01-27 14:35] Shougo commented on #152
ふむ。改行がない手抜きプログラムのほうが悪い、ということなんですね。
そういえば、vinariseでそのあたりをうまく扱えないか考えていたなぁ。

[2012-01-27 14:58] h-east commented on #152
今はどうやってつくっているの？そこはちゃんと書いたほうが良いと思います。

ff=unixなファイルなら

[code]

ff=dosなファイルなら

[code]

じゃ何かアカンです？

[2012-01-27 15:00] thinca commented on #152
ふーむ、テキストの末尾が改行じゃないといけないというのはソースは何なんですかねぇ。聞いたことないけど。

[2012-01-27 15:06] thinca commented on #152
binaryでテキストを保存するとencodingが変換されなかったりと無視できないレベルの副作用があります。

[2012-01-27 15:08] hdk1983 commented on #147
@mattn さん: はい、だいじょうぶです。ありがとうございます。

@h-east さん: たしかに 1 画面におさまる程度の量ですので、この際すべて修正するほうがいいという考え方もありますね。どちらでも、Vim ハッカーの方におまかせします。

[2012-01-27 15:09] Shougo commented on #152
本当のテキストファイルの仕様だと、確かに改行は必須だったはずです。
末尾に改行がないテキストファイルもかなり多いですが……。

sourceを発見しました。GCCも警告を出すらしいです。

http://d.hatena.ne.jp/hiroakiuno/20070409/p1

[2012-01-27 15:11] Shougo commented on #152
という訳で、全体的に@thincaさんが悪いという結論に……。本体を修正するのは諦めましょう。

[2012-01-27 15:33] h-east commented on #152
@thinca

「簡単には作れない」って書くということは、「簡単じゃないけど作れる」方法を知っているってことでしょ？
そしたら最初に書いといてくれたら良いのに。
最初から「Vim本体を修正しないといけない」という思考で話をしなくてもええやん。

。。。って思ってます。
柔軟にいこう。

[2012-01-27 15:44] ynkdir commented on #152
私も :set noeol で普通に改行なくせばいいのにとは思います
ので特攻に期待

[2012-01-27 16:13] thinca commented on #152
@Shougo  読みました。
POSIXのルールのようですね。VimはPOSIX準拠のようですが(:help posix-compliance)、全てに完全に従っているわけでもなさそうです。
オプションによってPOSIX準拠でなくなることもあるようですし、利便性が勝れば最後に改行が必要だとは私は思いません。

@h-east 言葉足らずでしたね。すみませんでした。
そして、正確には「作れないこともないけど副作用が大きいので実用上は無理」ですね。2重で間違ってた。

@ynkdir ですよね…しかしすでに撃沈の前例があるので、相当の論理武装と英語力が必要そうです…むむむ。

[2012-01-28 12:01] h-east commented on #152
私は、「noeolなファイルを作る」のが目的なので、`set bin noeol`したらすぐファイル保存して閉じれば良いと思ってるのだけど、
もしかして @thinca さんの言っている副作用って、「`set bin` や`:w`の後に編集操作した場合」の事を言っている？

[2012-01-28 13:58] Shougo commented on #152
@thinca
「Vimでnoeolなファイルを作りたい」なのか、「Vimでnoeofなファイルを編集したい」なのかはっきりさせるべきだと思います。
どっちなのかによって、話がぜんぜん違ってくる。

[2012-01-28 14:02] mattn commented on #152
僕も特攻に期待したい。
特に他のエディタで編集したファイルをvimで編集した時にdiff差分が出るので。
一度binモードに移すとencoding変換が行われないので、これはあるべきだと思います。

[2012-01-28 14:09] mattn commented on #147
@h-east どっちにするかはお任せします。

[2012-01-28 14:59] mattn commented on #148
ヘタな英語で申し訳ないですが、報告しました。

https://groups.google.com/d/topic/vim_dev/m18JK3kW_zU/discussion

[2012-01-28 15:14] thinca commented on #152
@h-east @Shougo
`:set binary` でエンコーディング変換が行われない以上、一時的だろうとなんだろうと問題になります。
つまり、純粋に最後の改行を消す目的で `:set binary` を使うことはできないってことです。
紛らわしいのでタイトルを変えておきました。

[2012-01-28 15:25] thinca commented on #70
これ、同じ種類のタグは1つのIssueには複数つかないって感じになるんでしょうか。
現状だと複数ついてるのがあって、もしそうなら整理した方がいいのかな、と思ったり。

[2012-01-28 15:37] mattn commented on #70
あまり難しいのは嫌だなー。xloseにいっぱいあるのは少し苦手。

[2012-01-28 15:42] thinca commented on #70
kindに赤と青があるのはなぜでしょう?単純にミス?

[2012-01-28 15:43] h-east commented on #147
@mattn
patch書きました。
https://gist.github.com/1694734

[2012-01-28 15:47] mattn commented on #147
@h-east ++

あざす。動作確認して報告しときます。
作業してもらって申し訳ないすが hdk1983 さんのクレジットにさせて貰います。

[2012-01-28 15:59] h-east commented on #152
@thinca
一時的とは？
ちゃんと私の主張＆質問内容も理解して欲しいな。
「noeolなファイルを作る」のが目的だったらset bin noeolしてすぐファイル保存して閉じれば副作用、問題は起きないでしょ？

noeolなファイルを読み込んで編集して(noeolの状態を保持したまま)保存することは現状でも出来るはず。
(保存直前にset binする＋α)

前提条件を明確にして下さい。
（ファイルを読み込んですぐに set bin して編集動作をしようとするからそういう主張になるのかなぁ。。）

[2012-01-28 16:00] h-east commented on #147
@mattn OKっす。

[2012-01-28 16:11] thinca commented on #152
どうもはっきりしなくてすいません。
まず、ファイルを作りたいだけではないです。そもそもVimはエディタで、ファイルを単発で作りたいだけならVimを使う必要性がないですよね?Vimを使っているのだから、ファイルを編集したいのです。
で、一時的というのは、一時的に 'binary' を変えるということです。そういう主張ですよね?
'binary' を on にして保存すると `'fileformat'`の値が無視されるため、`fileformat=dos` の場合でも `unix` であるように保存されるなど、本来行いたい結果を得ることができません。なので、`:set binary noeol` して保存という方法ではそもそも目的を達成することができません。
ここまではよろしいでしょうか。

[2012-01-28 16:13] thinca commented on #152
ここの人たちに日本語でもうまく説明できてないのに英語で説明するのは私には無理な気がしてならない…。

[2012-01-28 16:14] mattn commented on #147
報告ed

https://groups.google.com/d/topic/vim_dev/jerD6deKGH4/discussion

ヘタな英語が心苦しい...

[2012-01-28 16:15] mattn commented on #152
w

[2012-01-28 16:34] h-east commented on #152
@thinca

うーん。私は「ファイルを新規で作ってそれの最終行をnoeolにできるでしょ！」とは主張してないですよ。
既存のファイル(noeol/eol関係なく)をVimで開いて編集しまくって、保存する直前になってから:set binary noeolすればええやん!? って言ってます。

↓これ試してないでしょ？
https://github.com/vim-jp/issues/issues/152#issuecomment-3687837

[2012-01-28 16:39] h-east commented on #152
いや、今見たら、そう受け取られる文章かもしれん。ごめん＞＜
でもさっきのコメントで分かってもらえると思う。

[2012-01-28 17:01] thinca commented on #152
すいませんでした。確かに目的のファイルを作ることはできるみたいです。
ただ、この `:w ++ff=dos` などは(保存コマンド自体を再定義しない限り)スクリプトでhookなどでどうにかできるものではないですし、
毎回行うのは明らかに workaround だと思います。

また、例えば保存するときだけ `:set binary` をするなどしても、`:set binary` は他のオプションの値をいくつか変更するため、
保存時に autocmd などでそれらのオプションを参照していた場合を考えると以前副作用は存在します。

[2012-01-28 18:16] h-east commented on #152
Vim script前提なのは初耳です。
私はVim scriptにどっぷりじゃないですけど「ファイルのnoeol状態を維持するプラグイン」は(現状のVimで)実現出来ると思ってます。

「副作用は存在するんや！だからVim本体を修正するんや！！」という思いが強過ぎる気がします。
主張している事に関しては FilterWrite*イベントで解決できません？変更されるオプションは分かっている訳だし。

※
私は別に「binじゃなくてもnoeol効くようにVim本体を修正しょうぜ!」に反対している訳ではないです。
それはそれで提案して頂いて取り込まれたら嬉しいです。

現状のVimをあまり検証せずに、「副作用が副作用が」といっているのがどうかなと思っているだけです。
もっかい私の考え方のbaseのリンク貼ります。
https://plus.google.com/1097179994067121

[2012-01-28 18:43] thinca commented on #152
前提にした覚えはないです。
スクリプトの話を出したのは、これらの作業を毎回手作業で行うのはどう考えても現実的ではないし、仮にスクリプトで解決しようと思っても、と言うことです。

それを全てのプラグインに強要するということでしょうか? 全ての `BufWrite*` を使うプラグインは、`'binary'` が on になっている可能性を考慮して正常に動作しなければならないということでしょうか?
さすがにそれは現実的ではないと思います。

すいませんが初めて見ました。

また、こんなことを言うと今さら…と思われるかもしれませんが、これまでのやり取りをしてきて改めて感じたことなので書いておきます。
私が疑問なのは、他の多くのテキストエディタができることをなぜVimはわざわざ禁止しているのか、と言うことです。
わざわざ、と言うのは、`'endofline'` と言うオプションが存在するのにこれが

[2012-01-28 19:25] h-east commented on #152
最初に言って。
私が現状Vimでこうすれば。。。の時にも「副作用が～」とか言わずに、
「まぁ、そうかもしれないですけど、直感的に出来るようにしたいんです！」って言って。
変な言い訳するからこっちも応戦する訳で。

前提にした覚えはなくても急に話に出てくるからこっちは面食らいます。

以上

[2012-01-28 19:35] thinca commented on #152
本当に申し訳ないです。
先程も書きましたが、やり取りをしてきて改めて感じたことなので、最初はあまりそういう意識はなかったんです。
最初にかけていれば良かったのですけどね…本当にすいませんでした。

[2012-01-28 20:03] koron commented on #152
遅れて参戦w

僕の古い記憶では、binを指定するとfencみなくなるので、enc != fencな場合は保存直前に:set bin noeolするとfencがふっとぶ、というのがあったんだけど、その問題はいまないんだっけ?

[code]

でbinもencも指定できてちゃんと動いて、なおかつeolが無い事をファイル開いた時点でちゃんと検出できるなら、なんか今はもうスクリプトで対応できちゃいそう。逆にそのあたりがスクリプトで対応できないとか不備の証拠があればそれを盾に「Vimに手を入れましょう」という提案が通りやすくなるんじゃないかな?

[2012-01-28 20:13] koron commented on #70
一応xcloseの説明
- fixed: 修正されました
- invalid: 無効。何かあったらさらうことになる。
- wontfix: 修正しない。前向きな理由
- duplicated: 別のissueと同じで、閉じた場合。
- worksforme: 報告者の勘違いなどで登録された。

何か問題があって、あとで見る時にこのくらいの種別があると見やすい。

[2012-01-28 20:36] koron commented on #152
確かに他のプラグインとの兼ね合いを考えると、プラグインだけでやるのは難しいか。

たぶんeolの導入はbinの導入の副作用だったんじゃないかと推測。特にxxdとの連携がくさい。

既存のeolの動作の変更は難しそうだけど、新しいオプションの追加という推し方ならできるかもよ。
例えばEOFの制御オプションを追加する、みたいに。

[2012-01-29 01:04] Shougo commented on #152
binaryをセットすると、encodingを見なくなるだろうから、そうでしょう。

scriptだけでeolの検出は非常に難しいと思います。Vimが教えてくれるなら可能ですけど……。
本体にその機能がないとしても、せめてスクリプトできちんと対応できるような機能があれば良いですね。

[2012-01-29 01:26] ynkdir commented on #148
お疲れさまです。

[code]

mattnさんのメールはHTMLメール(たぶん)になってて
text/html の方はインデントがついてますが
text/plain の方はタブ文字が削除されてるみたいです。

ブラウザで gmail で見るとインデントは付いてるように見えます (そこからコピペするとタブ文字はなくなりますが...)。
google groups で見るとインデントは付いてないです。

[2012-01-29 01:35] koron commented on #152
なんで難しいの? BufReadPostで&l:eolをチェックすればよいだけでしょ。読み込みが終わった時点で値がセットされてるみたいよ。

[2012-01-29 01:35] hdk1983 commented on #148
ありがとうございます!

[2012-01-29 01:38] hdk1983 commented on #147
ありがとうございます!

[2012-01-29 02:13] Shougo commented on #152
あれ、そうだったんですか。Vimが教えてくれるのを知りませんでした。
となると、「バッファ読み込み時に&eolをチェックするスクリプト」＋「保存時に一時的にbinaryにするscript」を使えば一応可能なのかな。
それでも全ての副作用に対応できるかはわからないし、手間がかかるのは間違い無いですが……。

[2012-01-29 02:39] koron commented on #152
気持ち悪さの根本は、読み込み時はbinの有無関係なしにeolが設定されるにも関わらず、書き込み時はbinが無いとeolが設定されないことかもね。これを理由に
- binが無い場合は読み込み時にeolを設定しない
- binの有無に書かわらず書きこみ時にeolの値を反映させる

のどちらかに倒すべきだ、と主張することはできるかも。ただ既存との互換性を考えたらeofを追加する方が安全だとは思う。

[2012-01-29 06:26] thinca commented on #152
多分ですが、読み込み時にbinがなくて後でbinを付けた場合を考えてeolは常に設定しているのだと思います。とするとこの主張は難しいですね…。
既存の、「改行を常に付ける」と言う挙動を好む人もいるだろうことも考えると、やはり互換性の点から新オプションが妥当な解決案ですかね。

[2012-01-29 08:26] h-east opened #153 ":all! と :sall! が E477になる"
#127 の修正中に発見したバグです。

ヘルプには `!` が付けられる説明になっているけど、実際に使用するとエラー`E477`になります。

patch作成済みです。
:all! とか :sall! したら E477になるのを修正するpatch
https://gist.github.com/1670489

[2012-01-29 08:33] h-east commented on #153
今からtest31にこれのテストを追加する作業やってみます。

`src/testdir/` 配下のファイルの説明とかガイドラインとかないんでしたっけ？見よう見まねでやるしかない？？

[2012-01-29 10:33] h-east commented on #153
test31にテストを追加しました。
https://gist.github.com/1670489

[2012-01-29 11:22] ynkdir commented on #153
お疲れさまです。
テストは見よう見まねでやるしかないですね。
いちおうテスト走らせてみました。okでした。
たいしたことではないんですがパッチファイルの末尾の改行がなくてpatchコマンドがエラーになりました。

[2012-01-29 11:34] h-east commented on #153
@ynkdir チェック＆指摘ありがとうございます。

あっ、こっそり直しましたｗ。

[2012-01-30 00:53] mattn commented on #32
いまさら感ですが、バイトのnr2charなら素直に `printf("%c", nr)` で良い気がしました。

[2012-01-30 09:26] ynkdir commented on #32
ほんとだいけますね

[2012-01-30 15:29] h-east commented on #153
初投稿ed. (メールで2回、Webで2回の計4回のpost ｗｗ。)
https://groups.google.com/d/topic/vim_dev/lFFp9VdQTjI/discussion

[2012-01-31 07:56] mattn opened #154 "bitwize関数が引数を2個しか受け取れない。"
どう考えても

[code]

が自然だと思うのですが...

[2012-01-31 07:57] mattn commented on #153
ゾンビメールがいっぱいw

[2012-01-31 07:59] koron commented on #154
3つ以上の引数に対応させるのは賛成。

最初は演算子として議論されてましたからね、この用途は忘れ去られたのでしょうw

[2012-01-31 08:08] thinca commented on #154
+1
確か当時の議論の中で、関数で任意個の引数を取れるようにする案は提案されていたと思うのですが、どうしてなくなったんですかね。本当にただ忘れさ去られただけなのか…。

[2012-01-31 08:19] thinca commented on #154
メール漁ってみたけど複数の引数の話は見付けられなかった…記憶違いかも。

[2012-01-31 08:23] mattn commented on #154
なぜ`max()`や`min()`と同じにしなかったのと子一時間、説教したい。

[2012-01-31 08:48] mattn commented on #154
_このパッチは入れてはいけません_

添削希望

https://gist.github.com/1709512

[code]

[2012-01-31 08:50] mattn commented on #154
あ。パッチが混ざってる。

[2012-01-31 08:56] thinca commented on #154
個人的にはリスト抜きでの可変長もできると自然かと思うのですが、難しかったりするのでしょうか。

[code]

[2012-01-31 08:57] mattn commented on #154
失礼しました。

[code]

[2012-01-31 08:59] mattn commented on #154
現状のvimスクリプトの関数には個数という物が渡されていません。配列のポインタのみです。`min` `max` がリストなのもそういう理由だったりします。まぁ、99999とかにすればいいだけの話ですが。

[2012-01-31 09:00] mattn commented on #154
と思ったら printf がやってそげ

[2012-01-31 09:00] mattn commented on #154
[code]

そして19個とか、また微妙な数字wwwwwwww

[2012-01-31 09:02] thinca commented on #154
ドキュメントにまだ余計な char2nr() の差分があります。

[2012-01-31 09:05] thinca commented on #154
`printf()` みたいに、現実的に使いそうな適当な数字、それ以上の場合も考えて配列もサポート、とかどうでしょう。
実際あまり多い場合直接呼ばんでしょうし。

[2012-01-31 09:06] mattn commented on #154
@thinca thanks. eval.txt はラテン文字含んでるのでcp932で修正出来ない＞＜

[2012-01-31 09:07] mattn commented on #154
どちらかにしないとbramは嫌いそう。

[2012-01-31 09:14] mattn commented on #154
ということでアンケート
- and({expr},  ...)
- and([{expr},  ...])

追加でサポートするならどっち...

[2012-01-31 09:32] thinca commented on #154
どっちか、と、言われると…配列ですかね。こちらの方が拡張性が高そう。
手間と言えば `[]` を書かないといけないことくらいですし。
(純粋な可変長を提案したのは、その `[]` すら省けると嬉しい、という意図でした。)

[2012-01-31 09:37] h-east commented on #154
おっす！おら予言者！  #joke
https://twitter.com/#!/h_east/status/147004148322279426

[2012-01-31 09:42] mattn commented on #154
ただ、配列で呼びたい人は、call使えよって言い方も出来るんですよね。悩ましい。

[2012-01-31 10:51] h-east commented on #127
testを追加したpatch
https://gist.github.com/1709817

vim_devに報告しました。
https://groups.google.com/d/topic/vim_dev/8UqYjk24WbI/discussion

[2012-01-31 11:43] koron commented on #154
パッチは簡単で済む方で出して、もう片方をアイデアだけメールに書いて、Bramに判断を委ねたら? 結局そのあたりはBramが気にいる方になるわけだし。

[2012-02-01 01:37] koron commented on #79
こいつは動きなしなのかな? 実はftp上のruntimeは修正されていたりするんだろうか?

[2012-02-01 01:53] mattn commented on #79
どうだろリポジトリのは直ってないお。
たしかメンテナにCC行ってそれから音沙汰なし。

[2012-02-01 01:54] mattn commented on #79
リンク貼っとく

https://groups.google.com/d/topic/vim_dev/wrouKpIDraU/discussion

[2012-02-01 01:58] mattn commented on #79
ping打っといた

[2012-02-02 00:14] mattn opened #155 "syntax/vim.vimをなんとかしたい"
直してやろうという人いない？

[2012-02-02 00:59] Shougo commented on #155
みんなの力を結集すれば……。

各自がいじっているので、その成果をどうにか合わせたいところです。
管理しやすいように、リポジトリを作ってみるという手がありますね。

[2012-02-02 01:02] Shougo commented on #155
私はやりたいんですが、もっと修正してくれる人数いないかなと思う次第なのです。

[2012-02-02 01:42] koron commented on #155
とりあえずイケてない点を列挙&整理したら?

[2012-02-02 02:07] mattn commented on #155
小出しに...
- `let l:read = foo` の read がコマンド扱い
- `let foo = bar / 2` の bar がコマンド扱い
- `let foo = bar + 1` の + はオペレータ扱いなのに `let foo = bar * 2` や `let foo = bar / 2` の */ がオペレータ扱いじゃない

などなど。

[2012-02-02 02:52] Shougo commented on #155
確か、thincaさんも以前列挙していた気がしますね。

[2012-02-02 06:57] thinca commented on #155
個人的には完全に書き直したいところ。

[2012-02-02 07:39] koron commented on #155
全部書きなおしたとしてどのくらいの時間がかかりますか?

[2012-02-02 07:42] thinca commented on #155
調整まで含めるとかなりかかるでしょうね。叩き台が丸々1日でできれば御の字と言ったところでしょうか。

[2012-02-02 10:30] mattn opened #156 "input()後のecho表示がおかしい"
[code]

このコードを実行すると、いわばreplっぽい事が出来るのですが、以下の入力で表示がおかしくなる。

[code]

ここまでは良い

[code]

カーソルを１文字戻してスペースを入れる

[code]

そしてリターンキー。

[code]

と出なきゃいけないけど

[code]

[2012-02-02 10:34] mattn commented on #156
ちなみにこういうワークアラウンドを入れると直る。

[code]

[2012-02-02 11:04] koron commented on #156
自前でプロンプト再描画してるだけやんw

input()終了時、たぶん改行するんだけどそれが `5` にかぶって消しちゃうんだと予想。

[2012-02-02 11:33] mattn commented on #156
いや、しないです。

[code]

これ実行すると分かります。
vimの描画は差分描画をしているんだけど、その位置がおかしい。特にinput()の後。

[2012-02-04 04:40] Shougo commented on #155
あと、callがないときやletがないとき、Error表示にしたいです。初心者はよく忘れるので。

[2012-02-04 06:06] thinca opened #157 "E706 は必要ないのではないか"
現在、自動変換が不可能な型の値を変数に再代入しようとすると E706 エラーが発生します。

[code]

しかし、辞書の値に対してはこのエラーは発生しません。

[code]

なので、`g:` などを経由すれば最初の例でも回避可能です。

[code]

E706 は必要ない気がします。なくせないでしょうか。

[2012-02-04 06:20] koron commented on #157
以下推測。

辞書型の値としての代入はvar_Tのインスタンスの差し替えだけど、変数への代入はvar_Tインスタンスの書き換えになる。
そのため書き換わったことを知らないで動作する奴がいたりして、おかしなことになるんじゃなかろうか。
もちろん知らない奴がいない状態で「var_Tインスタンスの書き換え」できれば良いのだが、
Vimのスパゲティ構造で全部さらうのが大変なのでアウトという感じ。

以上推測終わり。

[2012-02-04 06:23] thinca commented on #157
変更箇所が分散していて修正しきるのが難しいってことでしょうかね。
:let する前に :unlet を暗黙で挟むだけで目的は達せられる気もするのですが、やはり実際にやろうとすると難しいってことだろうか…。

[2012-02-04 08:30] ynkdir commented on #157
vim_dev, vim_use を E706 で検索するといくつか議論がでますがたんに Bram の好みだと思います。

http://thread.gmane.org/gmane.editors.vim/44665/focus=44844

VimL は動的型付け言語ではなかったんです。

[2012-02-04 16:07] mattn commented on #155
これはある意味不可能に近いんじゃないかな。

[code]

はvimコマンドとしてもありえるんだけど（:abbr ())、これを関数として見てしまった場合callが無いと判断する事自体が間違ってるはず。また

[code]

を

[code]

と誤認識する可能性もあるので、結構難しいかと思いますよ。

[2012-02-04 16:20] koron commented on #155
syntaxで書けるかどうかは別として、Vimコマンドのいずれでも無い事を条件にするんかね?w

真に不可能ならVimは動作しないわけだから。

[2012-02-04 16:43] mattn commented on #157
E706はおそらくgcの為ですね。どっちかっていうと

[code]

この時の為です。fooにもbazが出来ているはずなので、barの値を変更した時にgc管理が面倒くさくなるのを懸念してだと思います。まぁ直したい気持ちはすごくわかります。

[2012-02-04 16:49] mattn commented on #155
そもそもASTとして腐ってますからね。

[2012-02-05 01:48] #147 closed, assigned to nobody

[2012-02-05 01:50] #148 closed, assigned to nobody

[2012-02-05 01:50] h-east commented on #148
Patch 7.3.429で取り込まれました！
https://groups.google.com/d/topic/vim_dev/8qkwEjFxllY/discussion

[2012-02-05 01:53] h-east commented on #147
Patch 7.3.426で取り込まれました！
(dollar_vcolの無効判定方法がちょびっとだけ変わったけど^^)
https://groups.google.com/d/topic/vim_dev/6P7TjEfbb5s/discussion

[2012-02-05 03:33] koron commented on #155
AST ってどういう意味? [コレ](http://ja.wikipedia.org/wiki/%E3%82%A2%E3%82%B9%E3%83%91%E3%83%A9%E3%82%AE%E3%83%B3%E9%85%B8%E3%82%A2%E3%83%9F%E3%83%8E%E5%9F%BA%E8%BB%A2%E7%A7%BB%E9%85%B5%E7%B4%A0) なわけないよね?w

[2012-02-05 04:42] h-east commented on #155
なわけないｗｗ
たぶん→AST (Abstract Syntax Tree, 抽象構文木)

[2012-02-05 07:23] h-east commented on #70
本家のtodoリストに入っちゃったissueをずっとopenのままに留めておくのもアレなので、
`xclose/todolisted`
を作って一旦closeしません？

(open issue数を減らしたいー)

[2012-02-05 13:09] koron commented on #70
うん。良いかもしれない。一応、タグは作っておきました。

[2012-02-05 13:34] h-east commented on #70
Thanks!

[2012-02-05 13:38] h-east commented on #153
todoリスト入り。

[2012-02-05 13:38] #153 closed, assigned to h-east

[2012-02-05 13:40] h-east commented on #127
todoリスト入り。

[2012-02-05 13:40] #127 closed, assigned to h-east

[2012-02-05 13:46] h-east commented on #106
todoリスト入り。(ほんとは `] )

[2012-02-05 13:46] #106 closed, assigned to nobody

[2012-02-05 13:59] h-east commented on #46
todoリスト入り。

[2012-02-05 13:59] #46 closed, assigned to mattn

[2012-02-05 14:04] h-east commented on #39
todoリスト入り。

[2012-02-05 14:04] #39 closed, assigned to tyru

[2012-02-05 14:07] h-east commented on #1
https://groups.google.com/d/topic/vim_dev/_W7fClpoULk/discussion

todoリスト入り。

[2012-02-05 14:07] #1 closed, assigned to ynkdir

[2012-02-05 14:27] ynkdir commented on #70
GJ!

[2012-02-05 14:58] Shougo commented on #39
お、これは期待！

[2012-02-05 14:59] Shougo commented on #46
期待！

[2012-02-05 15:05] h-east commented on #39
@Shougo 日付を見てもらえれば分かりますがtodoリストに入ったのは去年です。
今、新設ラベル `xlose/todolisted` でissueを整理中なのです。

[2012-02-05 15:20] h-east commented on #126
todoリスト入り。

[2012-02-05 15:20] #126 closed, assigned to koron

[2012-02-05 23:57] koron commented on #126
https://groups.google.com/d/topic/vim_dev/Kgof8b5YnkI/discussion

included.

[2012-02-06 00:01] koron commented on #123
https://groups.google.com/d/topic/vim_dev/0lR7PYTqdhs/discussion

included.

[2012-02-06 00:01] #123 closed, assigned to mattn

[2012-02-06 00:04] koron opened #158 "find_file_in_path()なおしてw"
https://groups.google.com/d/topic/vim_dev/aZNgLYN2I8k/discussion

Bramがfind_file_in_path()なおしてくれるひと募集してるよw

詳しくはWebで。

[2012-02-06 00:45] mattn commented on #70
乙ですー

[2012-02-06 00:46] mattn commented on #155
[AST48](http://ja.wikipedia.org/wiki/%E6%8A%BD%E8%B1%A1%E6%A7%8B%E6%96%87%E6%9C%A8)ですが、何か。

[2012-02-06 00:47] mattn commented on #147
@hdk1983++ @h-east++

[2012-02-06 00:47] mattn commented on #148
@hdk1983++

[2012-02-06 06:27] h-east commented on #117
「FOR_ALL_TAB_WINDOWS()はbreak使っても2重ループは抜けられないです。1箇所修正したよ。それとマクロ定義のとこに注意書き追加したよ」
でvim_devに投げてみる。
コメントの英文添削よろしく。

[code]

[2012-02-06 07:05] h-east commented on #117
posted
https://groups.google.com/d/topic/vim_dev/ftLDxHhdDxg/discussion

[2012-02-06 10:11] mattn commented on #154
提出ed

https://groups.google.com/d/topic/vim_dev/mmmVfd4643Y/discussion

[2012-02-06 10:26] mattn commented on #152
いま見たんだけど、これencoding変換されてますね

[code]

あれ？binってなんだったっけw
あとちなみに `++bin` ってのもあるのでnoeofなファイル開いて

[code]

ってのでも行けたりしますよね。まぁめんどくさいという意見もあるだろうけど。

[2012-02-06 10:32] Shougo commented on #152
おそらく、binを付けるとVimの自動エンコーディング変換が働かないという意味では？
binはbinary optionですね。Vimがさまざまな変換をしなくなります。

[2012-02-06 10:44] mattn commented on #152
その自動エンコーディング変換をやってるっぽいのですよ。
ちなみに↑のコマンドででたfooというファイルの中身はiso-2022-jpなファイルでした。

[2012-02-06 10:46] ynkdir commented on #117
おつです！

[2012-02-06 10:50] Shougo commented on #152
え、それはどういうことでしょう……。最近仕様が変わったのかな。

[2012-02-06 10:50] thinca commented on #152
変換が無効になるのは読み込み時のみのようですね。
書き込み時は変換されるようです。(これはこれで大丈夫なのか漠然とした不安を感じますが…)
となると、

[code]

これが現在できる最小限の workaround ってことになりますかね。
何だかんだと今まで実際に試していなかったので試したところ、この方法で保存した場合は
BufWritePre と BufWritePost のタイミングで懸念していた`'binary'`が副作用的に変更するオプション値は変わっていないようでした。
ソースコードは見てませんが、恐らく本当に保存するタイミングのみ`'binary'`が変更されているんでしょうね。
となると後は問題があるとすれば、任意のスクリプト内で `:w` が使われていた場合くらいですかね。些細と言われれば些細です。

[2012-02-06 10:54] thinca commented on #152
これは`:help 'binary'` にちゃんと書いてありました。この issue 開いた時点では私も勘違いしてたのは内緒w

それと、`'fileformat'` の問題がまだありました。なので、`:w ++bin` だけでは不完全ですね。`'fileformat'` が unix 以外の場合は、これに加えて `++ff=` も必要になります。これは面倒くさい。

[2012-02-06 12:20] h-east commented on #152
言及していなけど、保存時の検証（エンコーディング変換含む）までやって
https://github.com/vim-jp/issues/issues/152#issuecomment-3687837
を書いたんすよ(ｴﾍｯ
流れ的に言えなかったのよｗ

[2012-02-06 12:57] mattn commented on #152
ちなみに僕は `:e ++bin xxx` がエンコーディング変換しないのに `:w ++bin xxx` がエンコーディング変換する仕様がかなり気持ち悪い。

[2012-02-06 15:40] h-east commented on #116
あ、このpatch不十分だ。
このpatchは未保存バッファの居るタブページ＆ウィンドウに移動するようにしただけ。
(複数ある)未保存バッファから１つ選択する処理がタブページに対応出来ていない。※1

現状は以下の優先順で未保存バッファを選んでいる。
1. カレントバッファ(==カレントウィンドウで表示されているバッファ)
2. バッファ管理リストループで最初に見つかったバッファ

これを以下の優先順で未保存バッファを１つ選ぶようにしないといけない。
1. カレントバッファ(==カレントウィンドウで表示されているバッファ)
2. カレントタブページ内のウィンドウで表示されているバッファ
3. 他のタブページ内のウィンドウで表示されているバッファ
4. hiddenなバッファ (この場合はカレントウィンドウのバッファをこのバッファにする)

※1
$ vim -N -u NONE -i NO

[2012-02-07 04:46] Shougo commented on #151
この挙動では、案の定問題が起こる環境があったようです。

https://twitter.com/#!/haruyama/status/166508831394893824

https://twitter.com/#!/haruyama/status/166728113265442816

https://twitter.com/#!/haruyama/status/166728844601073666

私の環境もuim-skkなので、ちょっと試してみます。
今まではeskk.vimを使っていて、これはVimのIM制御を無効にするので気付きませんでした。

[2012-02-07 05:13] Shougo commented on #151
こちらでやってみると再現しませんでした。おそらく、@haruyamaさんの環境ではIM制御が動いていませんね。
だからneocomplcache側で入力を判別できていない。もしくはvimを使っている。

[2012-02-07 05:18] Shougo commented on #151
と思っていたんですが、Vimでも普通に動きましたね……。
なぜ@haruyamaさんの環境でだけおかしいのか原因がさっぱり分からないですが、
^X modeに戻るのはやはりまずいということが分かりました。実害がある。

[2012-02-07 05:33] mattn commented on #151
iminsertが設定されてないだけな気がする

[2012-02-07 05:52] Shougo commented on #151
この場合、iminsertがどう設定されていればいいんですか？
@haruyamaさんによると、iminsert=2のようです。

[2012-02-07 05:57] h-east opened #159 "テキストオブジェクト拡張(案)"
テキストオブジェクト拡張(案)を出し合おう。
`:help text-objects`
(案)なので「実装面倒そう」とか考えない。jokeもあり。

- snake_caseなシンボル名の編集用にいかが？

<table><tr>
        <td>a_</td><td>a _。[count] 番目に現れる'_'を検索し、それに対応する'_'までを'_'を含めて選択します。</td>
    </tr>
    <tr>
        <td>i_</td><td>inner _。[count] 番目に現れる'_'を検索し、それに対応する'_'までを'_'を除いて選択します。</td>
    </tr>
</table>
<br>

- いっそのこと `:help whitespace` の文字クラスが指定できるようにするとか

ci\u とか ca\u はCamelCaseなシ

[2012-02-07 07:27] Shougo commented on #151
今見てみると、2chでも不具合報告として挙げられていますね。

http://anago.2ch.net/test/read.cgi/software/1314189326/213

むむむ……。

[2012-02-07 08:15] mattn commented on #151
vimrcに `set imsert=0` を設定しておかないと、再度インサートモードに入った時にIMをアクティブにしようとするはず。

[2012-02-07 08:17] mattn commented on #151
あとどうおかしいのかさっぱり伝わらないです。

[2012-02-07 08:33] Shougo commented on #151
ああ、肝心なところを貼っていませんでした。

https://twitter.com/#!/haruyama/status/166744679637991424

という挙動らしいです（こちらでは再現しませんでした）。

[2012-02-07 08:33] Shougo commented on #151
set iminsert = 0 とすると再現するのかは聞いておきます。

[2012-02-07 08:42] Shougo commented on #151
これをやっても改善しなかったようです。

[2012-02-07 09:16] koron commented on #159
textobjexprで話は終わりじゃない?

[2012-02-07 09:26] mattn commented on #159
kanaさんがそんなの書いてましたね。

https://github.com/kana/vim-textobj-user

これつかってURLをテキストオブジェクトにする例

https://github.com/mattn/vim-textobj-url

[2012-02-07 10:14] thinca commented on #154
似たような処理は関数にまとめて欲しいって言われているみたいですね。

[2012-02-07 10:26] tyru commented on #159
textobjじゃなくてoperatorですが、kanaさんのtextobj-user使ってoperator-camelizeとか書きました。
https://github.com/tyru/operator-camelize.vim

[2012-02-07 10:36] h-east commented on #159
うぉー、思てたんと違う(良い意味で)ｗ
編集用途というかインテリジェントに選択するって感じですね。

仮に `textobjexpr` を実装した場合に textobj-user のコード量って減ります？あんまり変わらない？

[2012-02-07 13:55] h-east commented on #159
a_ とか i_ だったら omap で簡単に実現出来ちゃう系だからわざわざ本体弄らなくてもええやん系？

[2012-02-07 14:56] koron commented on #159
現在行と桁数、それとオブジェクト識別文字を受け取って選択範囲 [start, end] を返すVimスクリプト関数

これをexprとして呼び出すように。あとはスクリプトにまかせる。みたいな

[2012-02-07 15:13] h-east commented on #159
@koron うー、よく分かってないけど、それは `'textobjexpr'` というオプションを新設する場合の話をされてます？
それとも omap での <expr> のお話でしょうか？

[2012-02-07 16:06] koron commented on #159
こっちです。omapでもいろいろ駆使すればできますが、なんかスマートじゃないので。

[2012-02-07 16:13] koron commented on #159
ちなみにこれのメリットは大量のmapを設定しなくて良いこと。
textobj-userみたいなのの実装が楽&自然になる…ハズ
デメリットはtextobjの計算(取得)に、かかる時間がわずかながらも増えること。

`'formatexpr'` の時からそうだったんだけど
Vimの機能との整合性をエミュレートするためにmapで苦労して、
かつ不完全なものしかできないのは見るに忍びない。

[2012-02-07 16:40] h-east commented on #159
なるほどです。だいたい理解しました。

[2012-02-08 03:13] mattn commented on #154
あとでやりまーす

[2012-02-08 03:35] Shougo opened #160 "rename()が大文字小文字区別しないファイルシステムでファイルが消失する（勘違い）"
rename()を大文字小文字を区別しないファイルシステム(Mac)で使うと、
hogeをHogeにするときのように、大文字小文字しか違わない名前に変更しようとするとファイルが消えるようです。
おそらく、rename()におけるリネーム処理に問題があります。

追記： これは勘違いだったので、訂正。

[2012-02-08 04:23] Shougo opened #161 "Vim scriptはもっと巨大な整数を扱えないか？"
おそらく、実装の簡単さとパフォーマンス上の理由でしょうが、
Vim scriptの整数型が符号付き32bitなので、たまに困ることがあります。

例：2GB以上のファイルをgetfsize()で取得すると負数になる。

64bit型にする、多倍長整数を実装する、など何か良い手はないでしょうか。

[2012-02-08 05:52] koron commented on #160
以下のような感じと推測
1. リネーム先のファイルがあれば削除
2. リネーム実行

ソースは読んでない。

[2012-02-08 05:57] koron commented on #161
過去のVim Scriptの実装ポリシーとして、テキストエディットに関係のない項目は実装しないというのがあった。今もあるかはわからないが、そのポリシーに基づけば取り込んでもらうのは難しいかもしれない。とはいえfloatもあるしなぁ。

なお例に挙げられたgetfsize()についてはVim全体が意図せず32bitに特化している感じなので、別の問題があると推測している。

いずれにせよちゃんとやろうとするとかなりの作業量になる気がするので、パッチを書き始める前にBram氏に「仮に精度を上げた整数型パッチがあったら取り込む意志があるか?」みたいに聞いておいたほうが良いと思う。

[2012-02-08 06:09] mattn commented on #161
`bigint.vim`を書けばおｋ

[2012-02-08 06:17] koron commented on #161
getfsizeはダメちゃう? まぁ本質的には別問題だけどw

[2012-02-08 06:23] mattn commented on #161
`libcallex-vim` でネイティブに値を取るとか

[2012-02-08 06:54] Shougo commented on #161
本体以外でやろうとすると、それも作業量が多くなるのがネックなんですよね……。

そのネイティブライブラリを使わざるをえないというのが問題なのです。
vimprocでもやたらと苦労しているし。
さらに、ネイティブにしても、Vim scriptで扱うときは変換しないといけない。

[2012-02-08 06:57] h-east commented on #160
こちらの環境では正常にリネームできました。
Windows 7 SP1 (64bit), GVim 7.3.382
`:call rename("aaa","AAA")`

予想は必須ではないので無理に書かなくて良いです。
それよりも、発生したOS、Vimバージョン、再現手順等の情報提供お願いします。

[2012-02-08 07:02] mattn commented on #161
そこで if_python の登場ですよ(ぇ

[2012-02-08 07:04] Shougo commented on #160
ちょっと私が再現した訳ではないので正確な情報が書けないのです。
となると、Windows環境は大丈夫なのかな。ちょっと訂正しておきます。

環境はMac, "hoge"を"Hoge"にリネームしたら消えたそうです。

[2012-02-08 07:10] Shougo commented on #160
私はMacを使っていないので、他の人のMacのVimでやってみてもらったんですが、ちゃんとリネームできていました。
この症状を訴えていたのは、itchnyさんです。
ちょっと詳しい話を聞いておきます。原因が判明するまで、このIssuesはそのままにしておいてください。

[2012-02-08 07:11] Shougo commented on #161
えっ……。

[2012-02-08 07:17] ynkdir commented on #160
Windows は 7.3.172 で直った気がします。記憶薄いですが。
Unix 環境だと stat() で st_dev と st_ino を比較して同じファイルの別名かどうか検査してますが
Mac は stat() を使うようになってない? or st_{dev|ino} が機能してない？

[2012-02-08 07:19] Shougo commented on #160
Vimが古いという可能性はありそうですね。Vimの詳しいバージョンは聞いていませんので。

ああ、そういう問題があったんですね。

ちなみに、試してもらった（正常に動いた）MacのVimのバージョンは7.3.94。

[2012-02-08 07:27] h-east commented on #161
@mattn ∞

[2012-02-08 07:29] mattn commented on #161
直す気がない人！ ... はい！

[2012-02-08 07:42] koron commented on #161
@mattm (´・ω・`)ノ

[2012-02-08 07:54] h-east commented on #161
私がやりましょう！　※但し、年金受給生活に入ってから

[2012-02-08 07:55] koron commented on #161
さぁ年金をもらえないフラグが立ちましたよ。

[2012-02-08 07:56] mattn commented on #161
ニュー速はここですか？

[2012-02-08 08:01] Shougo commented on #161
エディ速Vimと聞いて。

[2012-02-08 08:04] Shougo commented on #160
rename()では消えないようです。別の原因だと思われるため、こちらはcloseします。お手数おかけしてすみません。

[2012-02-08 08:29] Shougo commented on #160
追記：どうやら、こちらのバグだったようです……。

[2012-02-08 09:48] mattn commented on #154
書いた。
https://gist.github.com/1767460

[2012-02-08 10:51] h-east commented on #154
@mattn *= 2

[2012-02-08 14:26] #160 closed, assigned to nobody

[2012-02-10 06:25] thinca opened #162 "switchbuf=useopen + quickfix + <C-w><CR> で無名バッファが開く"
[code]

switchbuf の「すでに開かれている場合は同じウィンドウを使って開く」という挙動と、
quickfix での `:help CTRL-W_<CR>` の「新しいウィンドウを開いてそこにジャンプする」という挙動がバッティングしています。
この場合どちらに傾けるか(バッファを使い回すか新しく開くか)は微妙なところですが、
無名バッファが開くのは明らかに間違いかと思います。

[2012-02-10 06:27] thinca commented on #162
どちらに傾けるかは、個人的には新しく開く方に1票。
理由は`<C-w>`とユーザが明示的にタイプしているから。

[2012-02-10 13:57] koron commented on #162
`CTRL-W_<CR>` を優先に+1

[2012-02-11 16:30] koron opened #163 "tagジャンプを拡張可能にする"
tagジャンプにまつわる機能をスクリプトで拡張できるようにしたらどうか。拡張ポイントは3つ
1. タグが存在しなかった時に駆動するロジック
2. タグをなんらかのDBから検索するロジック
3. カーソル下のタグを識別するロジック

そもそものアイデアと目的は、関数などのタグジャンプ時にタグが存在しなかった時にその関数の雛形を自動で入力できるようなスクリプトを書けるようにすること。EclipseのCtrl+1相当の機能。

書く拡張ポイントでVimのデフォルト機能にフォールバックする方法についてはいくつか考えられるが、過去の教訓を踏まえて関数として公開する方法が良いかもしれないので要検討。
##
### 元ネタ

https://twitter.com/#!/kaoriya/status/168334472427745282
https://twitter.com/#!/kaoriya/st

[2012-02-11 16:35] koron opened #164 "行ごとにメタ情報を載せたい"
内部的に行ごとにメタ情報を載せ、スクリプトからアクセスできるようにしたらどうか。いろいろな用途が考えられるが決定的なものは思いついてないので、vim-devに持って行くにはちょっと要補強。

具体的にはline_Tにdict_Tを持てるようにして、`setlinemeta(line, name, value)` `getlinemeta(line, name)` みたいな感じで各要素を読み書きできるようにする。もちろんdict_Tを取り出せてもよいが…あまり意味はないか。スクリプト毎の名前空間の住み分けはsidなどで握ればよいだろう。

vim自体の動作を、行メタ情報があればそれを使う形にするのも面白い。
##

元ネタ

https://twitter.com/#!/kaoriya/status/168355925722271744

[2012-02-11 16:36] koron commented on #164
なんかここまで書いておいてなんだけど、以前も似たようなネタを書いた記憶がw 古いのがあったら潰してこっちで再度議論しましょう。

[2012-02-11 16:47] thinca commented on #164
#55 ですかね? >似たようなの

[2012-02-11 16:52] thinca commented on #163
ref.vim はコンテキスト限定して 3. のようなことをしてたりしますね。
つまりは独自のキーマッピングで対応しているわけですが、標準機能でhookかけられると確かに便利そうです。
この件に限らず、独自のキーマッピングで置き換えればできないことはないけど…って箇所はいっぱいあるけど…いや、これ言い出すと話が発散するからよそう。

[2012-02-12 00:27] h-east commented on #117
included Patch 7.3.437
https://groups.google.com/d/topic/vim_dev/wWGj67QRY58/discussion

[2012-02-12 00:27] #117 closed, assigned to h-east

[2012-02-12 04:29] Shougo opened #165 "スタックトレース時に、前の関数呼び出しの行番号が欲しい"
Vimでは関数がエラーを出した時にスタックトレースを出しますが、そのとき行番号まで表示されるのは最後にエラーを出した関数だけです。その前の呼び出しは関数名しか出て来ません。それではデバッグ時に不便なことがあります。
オプションでもいいから、トレース時に関数呼び出しの行番号をすべて出してくれると、無名関数のデバッグなどに非常に役立つのではないでしょうか。

[2012-02-12 12:14] h-east commented on #116
patch書きました。
https://gist.github.com/1808179
未保存のバッファがあれば、以下の優先順で探してカレントウィンドウをそこに移動します。
カレントウィンドウ＞カレントタブページ内ウィンドウ＞他のタブページのウィンドウ
hiddenバッファの場合はカレントウィンドウにそのバッファを表示。

<br>
PS
`:bmodified` `:sbmodified` も同様に対応した方が良いと思う。
誰かやらないか

[2012-02-12 12:46] mattn commented on #164
僕はどちらかというと `setmarkmeta` がふさわしいと思う。行はメモリが心配。

[2012-02-12 14:54] koron commented on #165
直感的には、行情報はあるんだけど表示していないだけ、という感じがする。仮に情報がなかったらちょっとめんどそう。

[2012-02-12 15:28] h-east commented on #116
あいやー、これらは現状の動作で問題ないんだった。
なのでさっきのpatchで問題なさそうならvim_devに送りつけます。
<br>
ところでIssueへラベルの付け外しが出来なくなってるんですがどこバグ？

[2012-02-12 16:24] ynkdir commented on #116
簡単な動作確認のみしました。問題なしです。

[2012-02-12 16:52] h-east commented on #116
@ynkdir Thanks!!
(コード書き終えて1発目のmake testで無限ループに入っちゃって、調べたら `:q!` `:qa!` で終われなくなってたのはヒミツｗｗ)

[2012-02-13 00:28] mattn opened #166 "7.3.443で外部コマンドの起動が動かなくなった。"
`shell` に何も設定していない、もしくは `cmd.exe` を設定している人について、 `shellxquote` の扱いが変わったせいで殆どの外部プロセスが起動出来なくなってます。
### 参照

[Patch 7.3.443](https://groups.google.com/d/topic/vim_dev/vVOynF5fKlA/discussion)

[2012-02-13 00:31] koron commented on #166
cmdに渡す引数に `/S` が増えたせいで、引用符 `"` の扱いが変わった。 `/S` の効果はhelp cmdによるとこうなっている。

この変更が受け入れられた理由はなんだろう?

[2012-02-13 01:04] koron commented on #166
提案はこれかな。

[patch for Win32 sxq/shcf defaults, and question about option defaults](https://groups.google.com/d/topic/vim_dev/YkPPRHSIjvM/discussion)

[2012-02-13 01:13] koron commented on #166
w

[2012-02-13 01:28] mattn commented on #166
とりあえず第一報告

https://groups.google.com/d/msg/vim_dev/vVOynF5fKlA/2Rwj18f--hoJ

[2012-02-13 02:19] h-east commented on #153
Patch 7.3.444で入った。
https://groups.google.com/d/topic/vim_dev/OT9vRMuiJ7c/discussion

[2012-02-13 07:20] Shougo commented on #151
この変更と関連する、neocomplcache現在の問題をまとめてもらいました。なぜか英語で書かれていますが……。

https://github.com/Shougo/neocomplcache/issues/147

本日、もうひとつの問題が発見され、それはset iminsert=0で改善したようです。

[2012-02-13 08:52] Shougo commented on #166
ちょ、Vim 7.4でやるべき変更を今入れるとは……。
BramさんはVim 7.4を出す気がないのだろうか。

おそらくこれ、revertされそう。

[2012-02-15 09:03] tyru opened #167 "glob()/globpath()にtimeout用の引数がほしい"
Twitter上でのやりとりが発端です。

https://twitter.com/#!/tyru/status/169682392850771968

https://twitter.com/#!/ShougoMatsu/status/169683745970978816

@n_kaneさんが「発症した」って言ってるのはこれです。

https://twitter.com/#!/n_kane/status/169680928430497792

[2012-02-15 09:06] tyru commented on #167
timeoutしたらtimeoutしたと分かるように返り値ではなく例外を投げるのがよさそうです。
空の返り値とかだとtimeoutしたか結果が空なのか分からないので。

[2012-02-15 09:52] Shougo commented on #167
ただ、そういうときに例外を投げるVimの組み込み関数はあまりないですね。
Javaだとそう実装しそうですけど。try catchで囲むのが面倒だという別の問題も……。

[2012-02-15 09:53] Shougo commented on #167
既存のglob()であっても、パターンがおかしいのか、中身が空なのかは戻り値では判断つかないですね。

[2012-02-15 14:50] tyru commented on #167
パターンがおかしい時は、パターンが悪いので、パターンどおりに動いてるVimの挙動は正しいと思います。
パターンが不正であれば例外を投げるべきだと思いますが、正規表現ならともかく、ワイルドカードの場合不正なパターンってあまり思いつかない・・・
もちろん他にも、パターンの部分にString以外の引数、たとえばListなどが与えられた場合などは例外を投げるべきケースだと思います。

[2012-02-15 14:51] tyru commented on #167
僕もそう思いました。
が、それ以外にエラーを伝える手段がないというのも事実・・・

[2012-02-15 14:59] tyru commented on #167
エラーって言ってますが、timeoutはエラーなのか微妙ですね。
以後単に「timeout」といわせてもらいます。

たった今思いついたのですが、timeoutを伝える方法としてtimeout用のハンドラを設定する、ってのがありますね。
timeoutした場合はそのハンドラ(あるいはVimscriptの式)を評価してその値を返す、みたいな。
その場合引数が増えちゃいますけど。(`v:`変数でもいいけどキモい・・・)

[2012-02-16 04:34] koron commented on #166
まっつんさんのダメ押し、効いてないのかなぁ…

https://groups.google.com/d/msg/vim_dev/vVOynF5fKlA/F_SlwDwzkOoJ

[2012-02-16 06:08] Shougo commented on #166
この流れからすると、プラグイン側で対応しないといけなくなるような気がします。
Windows環境でVimを使っている人はコマンドの知識も少ないし、混乱が増えそう……。

[2012-02-16 06:39] mattn commented on #166
ちゃんと読んでます？ vim_dev

[2012-02-16 06:51] Shougo commented on #166
すみません。斜め読みです。
xquoteが(のときに)でエスケープする、というのは読めたんですけど、これで互換性の問題が解決するのか
分かっていません。

[2012-02-16 06:54] Shougo commented on #166
もしかすると、デフォルトのquoteを(にして、うまく動くようにしようという流れですか？
それなら問題はないです。

[2012-02-17 08:12] thinca opened #168 "環境変数が消せない"
問題があるとか困っているということはまったくなく、ただ単純に気持ち悪いというだけなんですが。

[code]

`:unlet` で消せるといいなぁー。

[2012-02-17 08:24] thinca commented on #168
ちなみに sh 系では unset で消せるみたいです。

[2012-02-17 09:01] Shougo commented on #168
私は空文字列を代入することで簡易的に消していますね。

[2012-02-17 09:02] mattn commented on #168
amigaとかappleのAPI分からんしこれは投げた方がいいかも。
amigaはDeleteVarっぽいんだけどなぁ。その他が unsetenv でいいのか unputenv でいいのか、はたまた setenv("FOO") とするものもあれば Windows の様に空の値設定しただけで消える物もあるし...

[2012-02-17 09:05] thinca commented on #168
amiga が何なのか未だに知らない…。

[2012-02-17 09:22] Shougo commented on #168
thinca: つ http://ja.wikipedia.org/wiki/AmigaOS

[2012-02-17 10:18] ynkdir commented on #167
タイムアウトが便利かどうかはよくわかりませんが
システムコールで刺さってる系だとどっちにしても対応難しそうだなーと思いました。

[2012-02-17 10:46] thinca commented on #168
誤爆?

[2012-02-17 10:58] mattn commented on #168
誤爆りましたw

[2012-02-17 11:36] tyru commented on #167
search()だと対象がバッファだけど、glob()はファイルシステムを走査しますもんね・・・
自分はLinuxのシステムコールもWin
APIも詳しくないですが、Linuxのシステムコールだったら適当にreaddir()を毎回呼び出す前と後に時間をチェックすればよさげ・・・？とか思ってみたり・・・

[2012-02-17 11:46] mattn commented on #167
今回の場合だと、/dev/xxx でデバイスファイルがロックしてるはずなので、タイムアウトとかは正直vimの仕事じゃない気がする。

[2012-02-17 12:35] h-east commented on #168
vim_dev投げちゃってくださいー。
個人的にはunlet $FOO でどうゆう理屈でE488になるのかは興味があるので後で調べてみようと思てます。
知ってる人居ったら教えてー。

[2012-02-17 12:38] mattn commented on #168
理由は、処理が無いからです。

https://gist.github.com/1853188

[code]

[2012-02-17 13:45] h-east commented on #168
@mattn ++
3分でッ!! エスパーか！？

[2012-02-17 14:21] thinca opened #169 "string() で E724 (深すぎるネスト) が発生する"
バグかどうか微妙ですが、`:echo` だとよしなにしてくれるのに `string()` だと E724 が出ます。

[code]

バグであって欲しいけど、仕様だとしてもドキュメントに明記が欲しいところ。

[2012-02-17 15:20] ynkdir commented on #167
readdir() の中で固まってるんじゃないかと思います。
実際見てないのでなんとも言えませんが。

[2012-02-17 15:41] ynkdir commented on #169
:help string()

と言っているのでそんな感じでよさそうに思います。

[2012-02-17 15:41] ynkdir commented on #169
エラーメッセージは少し変ですが。

[2012-02-17 15:44] mattn commented on #169
これはしょうがないというか、僕はこうあって正解だとおもう。 :echo とちがって string() はロジックとして使うので ... で省略されるとこまる物だと思います。
いわば JSON.stringify() なので、失敗したらエラー出てほしいし、勝手に ... で略さないでほしい。

[2012-02-17 15:54] thinca commented on #169
なるほど、確かにそうですね、納得しました。
ありがとうございました。

[2012-02-18 01:14] koron commented on #167
システムコール自身がブロックしてたらお手上げ、っていうことでOK?

OSによっては方法があるかな? タイムアウト有りのシステムコールがあるとか。そっちにスイッチするのは有りだと思う。

WindowsならAsync系とかOVERLAPPEDだっけ、あのあたりになるのかしらねぇ。

[2012-02-18 01:17] koron commented on #168
amiga、憧れのマシンであった。ウゴウゴルーガとか。

[2012-02-18 01:20] koron commented on #169
ネストの深いオブジェクトとしてではなく、循環参照をどう扱うかという問題に読み替えるとちょっと違ってくるかも。

Perl の Data::Dumper だと循環参照はちゃんと検出されてよしなに計らってくれる。あれと同じ仕組はいらないのだろうか?

[2012-02-18 05:44] ynkdir commented on #167
ただまあケーブル抜き差ししたくらいで固まるもんですかね。
/dev/tty.usbserial ってマックなのかな。

[2012-02-18 07:58] Shougo commented on #167
いや、MacじゃなくてBSD系だったと思います。ただ、ドライバがまずいという話でした。
そこで固まる件はVimじゃどうにもならないでしょうね。

[2012-02-18 09:55] h-east commented on #167
なんだかなぁ。

[2012-02-18 10:22] Shougo commented on #167
まぁ、その問題は別として、glob()にタイムアウトが欲しいと思うことはありました。
glob()が大量のファイルをだそうとした場合、Vimが固まるのを防ぐために。

[2012-02-18 18:17] h-east commented on #116
送った。
https://groups.google.com/d/topic/vim_dev/jMf4jOtsatw/discussion

[2012-02-20 02:30] thinca commented on #169
改めて考えると、変数を復元するのが目的ではなく単に変数の概要を表示したい場合もあるので、オプションでもいいのでエラーが出ないで欲しい場合がありますね。
それに復元の観点から言うと Funcref が混じっててもエラーは出ないけどアウトですし。

[2012-02-20 02:34] mattn commented on #169
表示したい目的ならば `:echo` で `:redir` という(ry

[2012-02-20 03:53] Shougo commented on #151
報告その2

https://twitter.com/#!/KSuzukiii/status/170632060753543168

やはり^Xモードに戻るVimの仕様はおかしい。

[2012-02-20 04:53] Shougo commented on #151
環境はUbuntu + iBusのようです。ちょっとこれはさすがに問題なので、neocomplcacheでは環境を見て、一時的にデフォルト値を戻します。

[2012-02-20 07:34] h-east commented on #166
まとめてみた。間違ってたら突っ込んで。

Patch 7.3.443
問題：MS-Windowsにおいて 'shcf' と 'shellxquote' オプションのデフォルト値が良くないよ。
解決：'shell' オプションに "cmd.exe" がセットされていたらいい感じに良しなにするよ。

patch内容
・.vimrcファイルを読んだ後に 'shell'オプションをチェックして "cmd.exe" がセットされていたら以下の処理をするぜ。
  (1) 'shellxquote'(短縮形 'sxq')オプションが未設定だったら設定値とviデフォルト値を "\"" にする。
  (2) 'shellcmdflag'(短縮形 'shcf')オプションが未設定だったら設定値とviデフォルト値を "/s /c" にする。

その後
・cmd.exeの /cオプションは不思議仕様で /sオプシ

[2012-02-20 07:46] mattn commented on #166
デグレとか酷い言葉出す奴がいるな

[2012-02-20 07:56] h-east commented on #166
そもそも何がどう良くなかったのかは @mattn さんが解説してくれると思てます。

[2012-02-20 08:22] mattn commented on #166
もともと

[code]

というコードが動かなかったんですよね。
なぜかというとcmd.exeが変態的な動きをするから。第一引数に空白が入っていない時は

[code]

という実行はokなのだけど先頭のコマンドに空白が入りだすと言うこと聞かなくなる。

[code]

そこでもっかいクォートして`/s`オプションで防げるよねって話になって、誰かがパッチ書いた。でももっと動きが変になった。
さらに`()`でくくったらいいんじゃね？って意見が出て一見うまくいってそうなんだけど

[code]

パイプの動きが変わった。

[code]

これはvimが内部で

[code]

に置き換えてるのに起因していてエラーになっている。

[2012-02-20 08:57] ynkdir commented on #166
コマンドを一時ファイルに書き出して `cmd /c tmp.bat` みたいに実効するのはどうですか

[2012-02-20 09:01] ynkdir commented on #169
オプションはありだと思います

[2012-02-20 09:03] thinca commented on #169
議論の余地ありってことで reopen しておきますね。

[2012-02-20 09:11] mattn commented on #166
バッチファイル内で使えるキーワード `%1`や `%~dpn0` なんかが反応してしまう弊害がありそうですね。あとCTRL-Cで「バッチジョブを終了しますか？」という確認が出そうな気がします

[2012-02-20 09:25] ynkdir commented on #166
なるほどーむずいすね

[2012-02-20 09:32] h-east commented on #166
@mattn 解説どうもです。
もう、Vimにtcsh.exe同梱するとか？(半分冗談ｗ)
誰得 --> koronさん？

[2012-02-20 09:44] mattn commented on #166
本当は、

[code]

となるのが正解なのでそこが直ればよさげ

[2012-02-20 09:58] h-east commented on #166
@mattn  Vimが内部でそうやってるってことはVimのpatch書けば直るということですか？
|を^でエスケープして解決というのはマヤカシ？

[2012-02-20 10:07] mattn commented on #166
です。現状は各処理が append_redir してコマンド名を作ってますが引数を直して call_shell 側で append_redir する様にすれば

[code]

という形式に出来るはずなので。

[2012-02-20 10:09] koron commented on #166
もともとそのあたりは互換性問題があるので、完璧を目指すなら
vim自身が簡易シェルを実装してあげれば良いのかな
と思った。

[2012-02-20 10:20] mattn commented on #166
逆に今使ってる `set shell` と互換性なくて文句言う人がいそう。

[2012-02-20 10:45] Shougo commented on #166
vimprocのような引数解釈の仕組みがVimにあったらな……と思うことはありますね。

[2012-02-20 11:12] h-east commented on #166
`:make` `:grep` `:grepadd` (とl～)の時は 'shellpipe'オプションの値で append_redir()
`:!` `:diffupdate` の時は 'shellredir'オプションの値で append_redir()

'shellxquote'オプションの値で囲む処理が上記処理より前で出来ればOKですね。

[2012-02-20 16:22] h-east commented on #166
また、勉さんがエスケープ、エスケープ言ってます。
もう、patch送りつけるか、以下の文章を英語にして分かってもらうかっすね。。
patchはそこそこ面倒だから、誰か英語の得意な方ー。

'shellxquote'オプションの話。（デフォルト： ')' ）
- ( ) で囲むことは(Bash等でお馴染みの)グルーピングすることであり " " で囲むのとは意味が異なるんだよ。勉。

'shellpipe' もしくは 'shellredir'オプション（デフォルト： '2>&1' ）
- このオプションはコマンド全体の結果を取得するために使用するのでコマンド全体に掛かるようにしないといけないんだ。
  つまり、 ( ) の中に入ってしまってはいけないんだよ！<br>
  しかし、Vim 7.3.445では ( ) の中に入ってしまっている。そう、これがダメ。<br>
  つまり、このオプション

[2012-02-20 16:58] h-east commented on #166
無理矢理なイングリッシュで送ってみた。

[2012-02-20 19:33] h-east commented on #166
あー、リダイレクトの指示を囲みの中に含めない 'shellquote'(短縮形 'shq') ってオプションがあるのね。
7.3.443 も 7.3.445 もsxqの方だけ弄ってて、shqの方はノータッチだ。
まっつんさんの説明が正しいなら shq を sxqのように ( や "( に対応すれば収まるのかな？

[2012-02-20 21:41] h-east commented on #166
nanashiさんの報告通り
!start explorer.exe
でE371になる。
`gvim -N -u NONE` でオプションデフォ状態で発生。Ver.はもちろん7.3.445
vim(CUI)の場合はE371出ない。`shell returned -1` が出る。

7.3.445 の mch_call_shell() にあたってるpatchがおかしい。どうおかしいかは眠くて分からない。T T

[2012-02-20 21:47] h-east commented on #166
shqはsxqの代替にはならないようだ。うむむ

やっぱ、勉さんの言ってるように ^ でのエスケープは必要な気がしてきた。
んで、どうエスケープすれば良いのかの完全攻略パターンを確立させるのが収束への道。
（revertでもええけどｗ）

[2012-02-20 22:01] h-east commented on #166
！！ Patch 7.3.446 で 'shellxescape'オプションが追加されたぞ！！
まっつんさん指摘の
：echo system("cat | grep foo", "foo")
は動くようになった！！

でも相変わらず
!start explorer.exe
でE371が出るね。あとこれさえ直せば収束すると思う。
誰か報告とかフォローよろしくです。寝もす。

[2012-02-20 23:55] mattn commented on #166
startが動かないのは `(start notepad)` みたいに括弧が残ってるから。

[2012-02-21 00:14] mattn commented on #166
そもそも () は cmd.exe 用のワークアラウンドなので start に使ってはいけない。

https://gist.github.com/1872484

[code]

[2012-02-21 00:55] Shougo commented on #166
ようやく収束しそうな気配。おつかれさまです。

[2012-02-21 04:10] h-east commented on #166
@mattn ++ おつです。
ミッション完了？

[2012-02-21 04:35] mattn commented on #166
もすこし

[2012-02-21 05:25] mattn commented on #166
あと少し、`:!start`の問題とcygwinでエラーになる問題があって、その修正が以下。
だれかレビュー...

https://gist.github.com/1873927

[2012-02-21 06:32] h-east commented on #166
@mattn ^エスケープしたやつを^アンエスケープしてる処理って ^エスケープする時点でエスケープの必要有無って分からないんですっけ？
mch_call_shell()内でアンエスケープするのが妥当？

# エスケープ言い過ぎー。＞俺

[2012-02-21 06:36] mattn commented on #166
現状、アンエスケープする処理がWindowsだけで、かつstartが含まれるか、それとパイプモードかどうかによってアンエスケープするかどうかが変わるので前もってってのは出来なくないけどビミョー

[2012-02-21 06:37] mattn commented on #166
ここでいうパイプモードってのは `|` のことじゃなくて、コマンドプロンプトを出すモード出さないモードを処理してるモード mch_call_shell_piped のこと。

[2012-02-21 06:51] h-east commented on #166
なるほどです。

mch_system_piped() のtypoかな?

[2012-02-21 07:20] mattn commented on #166
そんなかんじのtypoです

[2012-02-21 10:15] thinca opened #170 "Vim のコマンドライン引数が取りたい"
Vim のコマンドライン引数が取れると嬉しいです。
singleton.vim を作った際に感じました。

https://github.com/thinca/vim-singleton/blob/c34a4a24c2933a382ac340b7944c36b355b80c30/doc/singleton.txt#L157

具体的な方法や他への応用例などは考えていないので提案としては弱いかもしれないですが、とりあえずするだけしてみます。

[2012-02-21 10:47] koron commented on #170
本当に使い道が思いつかないんだけど、
どういう風に使うの?

実装はかんたんそうだけど。

[2012-02-21 10:52] thinca commented on #170
`singleton.vim` は、ファイルを開こうと新しく Vim を起動した際にすでに他の Vim が起動していたらそちらに送って自分はすぐに終了するってプラグインです。`--remote` 系の機能に比べて若干の利点があるのだけどそこは省略。
で、`vim file +10` みたいに起動されたときに、ファイルを送った後に 10 行目に移動したいところなんですが、今の Vim だとこれができません。

[2012-02-21 11:02] mattn commented on #170
こうですね？わかります。

[code]

[2012-02-21 11:04] thinca commented on #170
環境毎にこれを書いてさらにVimが内部でやっているはずのパースを自前で…ゴクリ。

[2012-02-21 11:06] mattn commented on #170
[code]

さらにこうですね？わかります。

[2012-02-21 11:06] thinca commented on #170
最初にも書きましたが、他に応用例が思い付かないので押しが弱いという意味でどうしても欲しいって感じではないです。
ただ、提案だけでもすれば他の人が思いもよらない応用例を考えてくれるかも? と思ったのでPOSTしました。

[2012-02-21 11:07] thinca commented on #170
解読は諦めましたw

[2012-02-21 11:24] mattn commented on #170
Linux版が欲しいですか？こうですね！

[code]

[2012-02-21 11:25] thinca commented on #170
なんかもうこれを vital に突っ込めばいい気がしてきた。

[2012-02-21 11:25] koron commented on #170
手の込んだいぢめかw

[2012-02-21 11:31] mattn commented on #170
あ！xxd で /proc/self/cmdline みたら xxd のコマンドラインになってしまう... バグだーーーーーー！

[2012-02-21 11:32] thinca commented on #170
`readfile('/proc/self/cmdline')` こうですね。

[2012-02-21 11:37] mattn commented on #170
バイナリなのです...

[2012-02-21 11:40] thinca commented on #170
私の環境ではテキストで返って来ました…。

[code]

つまり環境によって違う。

[2012-02-21 11:42] mattn commented on #170
0x00 入ってると思います。

[2012-02-21 11:44] thinca commented on #170
Vim の仕様で 0x00 は改行になりました！

[2012-02-21 11:45] thinca commented on #170
`:help readfile()`

[2012-02-21 11:49] mattn commented on #170
じゃあsplitでいいのか。解決！

[2012-02-22 03:03] mattn commented on #166
7.3.447 で入った。一度閉じます。

https://groups.google.com/d/topic/vim_dev/K1qWV_0kKmo/discussion

[2012-02-22 03:03] #166 closed, assigned to nobody

[2012-02-22 03:04] mattn commented on #90
7.3.447 で入れた修正にこれの修正を紛れ込ませたつもりなのですが、時間ある時で良いので試してみて下さい。

[2012-02-22 03:20] Shougo commented on #90
mattn++

[2012-02-22 04:19] thinca opened #171 "verbose で E724 が発生する"
[code]

[code]

恐らく `'verbose'` が関数の引数や戻り値を表示しようとして発生しています。
予期せぬところで通常のフローでは起きないエラーが発生してしまうため、`:try` の中などだと強制的に処理が飛び本来追いたい処理が追えなくなります。

[2012-02-22 04:23] koron commented on #171
どう直すのが良いか、提案はありますか?

[2012-02-22 04:27] thinca commented on #171
少なくとも入れ子に関しては `:echo` のように省略してしまうのがいいと思います。
そうでなくても入れ子が深すぎる可能性はありますが、その場合はエラーが出ないように適当に端折って表示すればいいかと思います(適当をどうするかはまあありますが…)。

[2012-02-22 04:34] h-east commented on #170
Vim本体は弄らずに解決できたようなのでcloseしますね。

[2012-02-22 04:34] #170 closed, assigned to nobody

[2012-02-22 04:48] mattn commented on #170
w

[2012-02-22 05:45] h-east commented on #154
todoリスト入り。

[2012-02-22 05:45] #154 closed, assigned to mattn

[2012-02-22 05:52] h-east commented on #70
運用が落ち着いてる今のうちに誰か書いてくれん？

[2012-02-22 05:54] mattn commented on #70
↓救世主登場

[2012-02-22 06:27] koron commented on #70
　.＿＿
ヽ|・∀・|ノ＜殺伐としたissueに鋼の救世主が！
　|＿＿|
　　|　|

[2012-02-22 06:41] mattn commented on #70
「呼んだ？」

![](http://trynext.com/review/images/b0011z6250.jpg)

[2012-02-22 06:56] h-east commented on #70
しこつこ高速連呼voiceーーーー！
http://youtu.be/yixyTLRl4v8

[2012-02-22 07:38] mattn commented on #70
ちょっと書いた。
あとは頼む！ https://github.com/vim-jp/issues/wiki

[2012-02-22 08:42] h-east commented on #70
@mattn ++
閉じ編 後で書きます。

[2012-02-22 14:53] h-east commented on #166
おつかれー。ミッション完了！(maybe)

Patch 7.3.448
https://groups.google.com/d/topic/vim_dev/hAG07vTrs-0/discussion

Patch 7.3.450
https://groups.google.com/d/topic/vim_dev/JqSdFePY31o/discussion

[2012-02-22 17:03] h-east commented on #166
勉さん登場。
「:!start で /b を指定したら stdin, stdout, stderr は全部 \.\NUL にリダイレクトされるって:help :!startに書いてるんちゃうの？
だから、stdoutをファイルにリダイレクト出来ないんちゃうん？」
...
「あ、ごめんごめん、リダイレクト出来たわ！:help整理する？stdoutとstderrの正確な意味はなんなん？」

<br>これって
:!start で /b を指定したら stdin, stdout, stderrは **デフォルトで** 全部 \\.\NUL にリダイレクトされる
ってことですよね？
デフォルトがNULなだけなので、明示的にファイルにリダイレクトしたらちゃんとファイルに出力されまっせ ってことでOK？

[2012-02-22 18:25] h-east commented on #127
Patch 7.3.456
https://groups.google.com/d/topic/vim_dev/Jk_bKgEZ4wA/discussion

[2012-02-22 19:22] h-east commented on #116
todoリスト入り。

[2012-02-22 19:22] #116 closed, assigned to h-east

[2012-02-23 00:41] mattn commented on #166
これから書こうとしているメール↓

これはサブシェルだ。`\\.\NULL` は unixでいうところの `/dev/null` だ。つまり

[code]

という意味だ。
さらに言うなら `:!start` コマンドは `cmd.exe` で使える `start` を擬似している。
つまり同じ動作である必要があり、vimだけ特別なエスケープをする事は望ましくない。
stdoutやstderrについてはドキュメントが間違っている可能性がある。

[2012-02-23 04:49] mattn opened #172 "幾らかのヨーロッパロケールで小数点が機能しない"
元ネタはこちら

https://github.com/Shougo/neocomplcache/issues/142

とあるヨーロッパロケールでは小数点表記に `.` でなく `,` を使う為、 `strtod` が `.` を終端と見てしまい、vimscriptのパースがおかしくなるという問題。strtodがロケールに依存しているのが問題。以下既にパッチを書いて投稿。
vim_strtod を書いたので、できれば皆さんテストして欲しい。

https://groups.google.com/d/topic/vim_dev/XunOXkf8Aq8/discussion

https://gist.github.com/1890186

[2012-02-23 07:44] ynkdir commented on #172
最初は自前で変換してたのを LC_NUMERIC=C を設定するという前提で strtod() を使うようにしたという経緯みたいです。

Patch to try out: floating point
http://thread.gmane.org/gmane.editors.vim.devel/19268/

Updated floating point patch
http://thread.gmane.org/gmane.editors.vim.devel/19832/

[code]

[2012-02-23 08:14] ynkdir commented on #172
ちょっと前に PHP の浮動小数点数の無限ループのバグが話題になってたのが記憶にあったので試してみました。
両方ひっかかるぽいです。

[code]

[2012-02-23 08:19] mattn commented on #172
テスト足します。あざす。

[2012-02-23 08:22] mattn commented on #172
前者は直った。（単純バグ）
後者はINF？

[2012-02-23 08:33] mattn commented on #172
両方直しました。

[2012-02-23 08:35] h-east commented on #70
Issue閉じ編 書いた！
https://github.com/vim-jp/issues/wiki/Member

[2012-02-23 08:37] h-east commented on #172
@ynkdir +++
@mattn ++

[2012-02-23 08:40] mattn commented on #70
@h-east++

[2012-02-23 08:47] koron commented on #70
さーせん。タグの付け方&文章チェック、あとでやります。

[2012-02-23 09:08] mattn commented on #172
ミスってた。

[2012-02-23 09:13] ynkdir commented on #172
ありがとうございます。
計算結果を確認しようにも正解が分からなくてくやしい。

うちのubuntuには pt_BR.UTF-8 が入ってないので `setlocale(LC_ALL, "pt_BR.UTF-8")` でエラーがでます。
setlocale() をコメントアウトするとその先の strtod() との比較でエラーがでます。

[code]

[2012-02-23 09:33] mattn commented on #172
直したつもりですが... 最後のがエラーになる...

[2012-02-23 09:56] mattn commented on #172
locale消しました。
ロケール非依存なのでべつにいらないですね。

[2012-02-24 00:55] mattn opened #173 "行番号表示とテキスト表示の間の空白に任意の文字を指定出来るパッチについて"
パッチ作者さん

http://lsifrontend.blog100.fc2.com/blog-entry-233.html

![](http://blog-imgs-43.fc2.com/l/s/i/lsifrontend/vim_extnu.png)

掲載許可

https://twitter.com/#!/kocha2012/statuses/172844401524097026

ソース(原型)

https://github.com/Kocha/vim-numberchar

最新版(hg)からのパッチ

https://gist.github.com/1896366
https://raw.github.com/gist/1896366/vim-numberchar.diff

以下、レビューよろ。

[2012-02-24 01:06] mattn commented on #173
色を付けるというよりは、指定の文字を入れられるパッチですね。
タイトル変えます。

[2012-02-24 01:07] Shougo commented on #173
はい。これは本家に取り込まれるとよいと思います。使う人がいそうです。

[2012-02-24 01:09] mattn commented on #173
色は現状、`HLF_FL` というフォールドラインで色付けされてる。
もし独自の色を指定出来る様にするなら新設の必要あり。

[2012-02-24 01:13] mattn commented on #173
hg diff の出力

https://raw.github.com/gist/1896447/gistfile1.diff

[code]

[2012-02-24 01:30] mattn commented on #173
以下、ざくっと見た課題

・ドキュメントが無い
・`set numberchar=` とするとNULストップするので本文が見えなくなる
・<del>値設定直後に画面が更新されない</del>
・複数個指定出来る割には使われるのが先頭
・`numberchar` というオプションにせず、`fillchars` の属性の一部にすべき

[2012-02-24 01:49] mattn commented on #173
`fillchars` の num 属性にしてみた。パッチも短いのでこっちの方が好きかも。

https://raw.github.com/gist/1896627/gistfile1.diff

[code]

[2012-02-24 01:50] koron commented on #173
ああ、向こうよりこっちのが良いな。

あとはドキュメント?

[2012-02-24 01:53] mattn commented on #173
ドキュメントも足して上の課題は潰した。

[2012-02-24 02:02] koron commented on #173
一応、向こうのURLを貼っておこう。

https://gist.github.com/1896627

[2012-02-24 02:20] Shougo commented on #173
mattn++;

[2012-02-24 02:27] mattn commented on #173
作者名は kocha さんでokとのこと。

[2012-02-24 07:06] mattn commented on #173
できれば wrap した行の2行目もこの文字使ってほしいなー。
逆に使って欲しくないって人いる？

[2012-02-24 07:49] mattn commented on #173
2行目以降の対応入れてみた。

![](http://go-gyazo.appspot.com/75c9a70cdfcc8d36.png)

[2012-02-24 07:50] mattn commented on #173
まぁこんな所で一旦提出かな？皆ok？

[2012-02-24 07:51] koron commented on #173
見た目、良いね。

[2012-02-24 07:52] koron commented on #173
修正分のパッチをみたいけどそれは単に興味なんで、私はOK。

どうせ投稿されれば見れるわけだしw

[2012-02-24 08:01] mattn commented on #173
あーまだだ。

2html.vim を直さないといけない。

[2012-02-24 08:01] h-east commented on #173
set cpo+=n
と時もおｋ？

[2012-02-24 08:11] mattn commented on #173
@h-east

![](http://go-gyazo.appspot.com/416c851fc4a1a649.png)

[2012-02-24 08:12] mattn commented on #173
2html対応もでけた。もともと2htmlはcpoptions+=nの状態しかサポートしてなかった。

https://gist.github.com/1899106

[2012-02-24 08:15] h-east commented on #173
Nice!

[2012-02-24 08:28] mattn commented on #173
では後ほど提出します。

[2012-02-24 10:16] h-east commented on #70
status/patched, status/posted について提案。

運用で想定される状態と現状の status/\* の関係は
1. patch書いた (status/patched)
2. patch送った (status/patched & status/posted)
3. (patch書いてないけど)問題を報告した (status/posted)

と私は思っていて、でもこれだと「同じ種類のタグは1つのIssueには複数つかないって感じ」に反するよなぁと思ってます。
そこで、status/\* をこんな感じに変更したらどうじゃろ？
1. status/patched
2. status/patch sent
3. status/reported

現状 3. は殆ど無いはずなので
status/posted を   status/patch sent に変更して
stat

[2012-02-24 10:20] thinca commented on #70
+1
せっかくカテゴリ分けしたので、やはり1つのissueに同じカテゴリが複数付かない方がきれいですね。

[2012-02-24 10:29] koron commented on #70
postedはそのままで意味だけ修正してreported増やせば良いんじゃない?

[2012-02-24 12:18] h-east commented on #70
postedだけだと (patch) posted か (report) posted か迷う人/時があるような気がしたので patch sent としました。
(ラベル選ぶ時に3つ並んでたら迷わんと思うけど散らばっているので..)
おまかせします。

[2012-02-24 12:43] teramako opened #174 "*.xul を filetype.vimに含めて欲しい"
[code]

`BufRead` 時は大抵行頭に `<?xml verions="1.0"?>` があるため xmlと判定されますが、`BufNewFile` 時には xmlと判定されません。

[2012-02-24 13:10] Kocha commented on #173
素晴らしいものにしていただき感謝します。

[2012-02-24 14:24] mattn commented on #173
sent: https://groups.google.com/d/topic/vim_dev/AsKIXH-qaBk/discussion

[2012-02-24 14:34] tyru commented on #174
上の1行が$VIMRUNTIME/filetype.vimにないですが、それは追加してほしい1行ですか？
それでBufNewFileの時はxmlと判定されないのでどうにかしたいと。

[2012-02-24 14:53] tyru commented on #174
ああすごい頓珍漢なことを言ってた...
BufNewFile時にxmlを判定したいから上の1行を追加してほしい、ってことですよね。(コードあまり見てなかった...)

今メール送りました。
https://groups.google.com/group/vim_dev/browse_thread/thread/43163eaa220f1772?hl=ja

[2012-02-24 15:02] h-east commented on #70
迷われないようにするなら↓か。
status/patched
status/sent patch
status/sent report

[2012-02-25 06:00] h-east commented on #70
変えました。

ラベル名変更
status/posted → sent patch

ラベル新設
status/sent report

・既存のIssueで `status/patched` と `status/sent patch` 両方付けられているものを `status/sent patch` だけに変更。
・`status/sent patch`ラベルのついているIssueの内 `status/sent report` が妥当なものはそちらに付け替え。

気に入らなかったら戻しちゃってー。

[2012-02-25 06:04] mattn commented on #119
これclose? #120 も?

[2012-02-25 06:07] mattn commented on #104
んー化けない。

[2012-02-25 13:21] ynkdir commented on #104
アンロードバッファからの補完の場合 &enc と &fenc が異なれば Windows でも Linux でも化けるはずなんですが変ですねぇ・・・

[2012-02-25 13:49] ynkdir commented on #173
./configure --with-features=tiny でコンパイルエラーでました

[code]

[2012-02-26 12:52] mattn commented on #173
あざす。
なおします。

[2012-02-26 13:26] mattn commented on #173
なおしました

[2012-02-26 13:41] ynkdir commented on #173
Thanks!

[2012-02-29 12:02] h-east opened #175 "＠ITの「いまさら聞けないVim」の記事の質を向上させたい"
http://www.atmarkit.co.jp/flinux/rensai/vim11/11a.html

ネタをネタと分かって楽しんでいる方はいいんですが、あまりにも反面教師過ぎるので出来ることなら改善したいです。
とりあえず、著者はネット上の意見をフィードバックしたほうが良い気がします。

[2012-02-29 17:48] h-east commented on #46
Patch 7.3.461 で入った！
https://groups.google.com/d/topic/vim_dev/8_6Qtj9Zuns/discussion

[2012-03-01 00:19] koron commented on #175
あれを超える連載記事をvim-jpでホストすれば良いのでは?

[2012-03-01 01:03] mattn commented on #175
記者がいない

[2012-03-01 09:42] thinca opened #176 "InsertCharPre で "\<BS>" や "\<Left>" も動くと嬉しい"
#46 関連。

https://github.com/vim-jp/issues/issues/46#issuecomment-2478652

https://github.com/vim-jp/issues/issues/46#issuecomment-2478822

これが動くと、

[code]

みたいによくある自動補完系の処理が mapping を汚さずに実現できます。

[2012-03-01 10:14] h-east commented on #176
うーん、そういうのはむしろmapping を汚すべきだと思う。

[2012-03-01 10:22] thinca commented on #176
どこまで mapping でやって InsertCharPre には何をさせるべきなのか、本筋とは外れますが、難しいところですね。
ちなみに参考までに聞きたいのですが、どういった場合に mapping ではなく InsertCharPre を使うべきだと思いますか?

[2012-03-01 10:46] h-east commented on #176
ノープランです。ｗ
map押ししたのは :verbose map ~ 等で最後に設定したファイルが分かるのと、noremap系があるからカオス状態にならずにギリギリ秩序は保たれてるのかなと思ったからです。

多段InsertCharPreとかやられたらエライことになりそうｗｗ

[code]

この設定で { って入力すると {}() になりますねｗ
InsertCharPre の処理順番(runtimepathの順番)で挙動が変わるのは怖い。。

[2012-03-01 10:52] h-east commented on #176
あ、そっか、通常入力時(scriptで弄らない)はv:charは１文字だけか。

[2012-03-01 10:56] thinca commented on #176
InsertCharPre がイベントの登録順序に依存してしまうのは確かに問題ではあるんですけど、それは InsertCharPre 自体の問題で `<Left>` などが使えるかどうかとは関係がないですよね。
逆に利点があるとすれば、ユーザのキーマッピングの設定に依存しないところかと思います。
こんな人がいるかわかりませんが、例えば

[code]

みたいな設定をされていたとしても、InsertCharPre は mapping 展開後のキーを受けるのでユーザ側が意識しなくても動きます。
最初の例だと押しが弱いですが、`eskk` みたいなプラグインがマッピングなしで実現できるのはかなり大きいと思います。

[2012-03-01 12:14] mattn commented on #176
InsertCharPreの利点としては
- ノーマルモードに戻らないのでインデントの影響を受けないこと
- 0カラム目での処理に悩まなくていいこと
- マルチバイト文字の入力にフックが掛けられること

だと思います。
逆に `<expr>` の利点としては
- 複数文字の挿入に適している
- feedkeys()と連動出来る

ですかね。

[2012-03-03 00:37] Shougo opened #177 "DLLを複数環境で共有していると問題が発生するかもしれないケースについて考える"
現在、Vimから自分が64bit/32bitを判別できるのは、Windows環境のみです。
他の環境、たとえばCygwinではこれができません。
32bitで64bitのdllが読めないし、64bitでは32bitのdllは読めないので、そういう事故を防止するためにも、簡単に区別ができると良いのではないでしょうか。

追記：　タイトルがわかりにくいので改名しました。

Dropboxやgithubなどを利用してDLLを共有している環境では、DLL名が同じだと問題になります。
Windows環境ではhas('win32') has('win64')で区別して、適切なDLLを読み込むことができますが、他の環境では32bit/64bitの区別ができません。

[2012-03-03 09:09] h-east commented on #177
linuxはfileコマンドで判別できますね。

[code]

Cygwinでも同じはず。

[2012-03-03 14:11] mattn commented on #177
事故を防止する方法が間違ってるんじゃないですか？
ファイル名にアーキテクチャを含んでおけばいいだけでは。

[2012-03-03 23:17] Shougo commented on #177
はい。それをやろうと思っているんですが、32bit/64bitの区別ができるならしたいと思ったのです。
Windows環境ならhas('win32') has('win64')があるので簡単なのですが、それ以外の環境ではどうしようかと思いまして。

[2012-03-03 23:19] Shougo commented on #177
了解しました。fileコマンドでparseすればいいのかな？
ただ、Vimが持っている自分の実行ファイル名はフルパスでないので、$PATHから自分のパスを検索するしかありません。
それで本当に正しい結果が得られるのでしょうか。

[2012-03-04 04:28] koron commented on #177
なんか変ね。hasで検査してるのはアーキテクチャの違いであって、32か64かではないはず。
「アーキテクチャの違いによってリンクするファイル名を変える」ならば有ってる気がするが、
考えてみればWindows以外で困るケースが思い浮かばない。

Windows以外で困る具体的なケースを挙げるべし。

[2012-03-04 09:20] ynkdir commented on #177
`printf('%p', '')` でどうかと思ったけど確実ではなかった

[2012-03-04 10:48] ynkdir commented on #177
http://msdn.microsoft.com/en-us/library/windows/desktop/aa384274.aspx
PROCESSOR_ARCHITECTURE は cygwin ではどうなんでしょう。

[2012-03-04 20:41] Shougo commented on #177
まぁ、あまりないのですが、DLLを複数環境で共有していると問題があるかもしれないと思っただけです。

環境変数で区別できれば、かなり楽ですね。

[2012-03-05 01:27] h-east commented on #177
なんじゃそりゃ。だったら、なんでこの「Windows以外の環境でも64bit/32bitの区別をしたい」というIssueを立てた？

「DLLを複数環境で共有していると問題が発生するかもしれないケースについて考える」とかいうIssueを立てて、ちゃんと状況を説明して議論すればよかったんじゃないの？

[2012-03-05 02:23] Shougo commented on #177
うーむ、やはりよく考えるとこれをやっても無意味ですね。
Cygwin環境で使えるかもしれないくらいで。このIssues自体はcloseします。

[2012-03-05 02:23] #177 closed, assigned to nobody

[2012-03-05 02:30] Shougo commented on #177
Windows以外でも64bit/32bitの区別が出来れば、状況に応じて適切なDLLを読み込めると思ったためです。
ただ、Windows以外の環境でどれだけ問題になるかはよくわからないですね。
あまり聞いたことも無いです。だからcloseしたほうがいいのかな、と思ってcloseしました。
混乱させてしまったようですみません。

[2012-03-05 02:51] mattn commented on #177
うまく表現出来ない場合は、発生している現象と課題をそのまま書くのがいいと思いますよ。
ただなんとなくvimprocのissueな気がするので、そちらで一度issueを纏めてもしvim側に対応が必要であれば改めてこちらに持ってくるのがいいかと思います。

[2012-03-05 03:00] Shougo commented on #177
この問題自体は、vimproc側で解決する予定です。
ただ、Windows以外では32/64bitの判別ができないため、そこを解決するかどうかが問題になっていますね。

[2012-03-05 03:04] mattn commented on #177
仮にvimprocのproc.dllをバイナリ配布して問題となったのならば、それはユーザの責任かと思いますが。

「32bitのWindowsに64bitのkaoriya vim入れたらうごかねーよ！ゴルァ」

とか言われてもどうとも出来ません。逆に自分でコンパイル出来る人にこういう問題は発生しない気もしますし。

※いまだこのissueの意味がよくわかってません。

[2012-03-05 03:36] koron commented on #177
64bit OSに32bit入れて、動かねーみたいな。あと32bitと64bitでロードすべきDLLの名称が異なるとか?

Windowsでは結構簡単にありそうだけど(Eclipseとかでどハマってるのなんどかみた)…Linuxでどうしたらそうなるのかは良くわからない。

[2012-03-05 04:16] Shougo commented on #177
はい。ユーザーの責任というのはたしかにそうなんですが、ハマる人が多いのでこちらでも何とかしたほうがいいのかと思ったのです。

確かに、Windows以外でハマるかと言われると……。ちなみに、自力でコンパイルする人であっても、生成されたバイナリが32bitだったりしてハマる人がいました。

[2012-03-05 17:37] Shougo opened #178 "pathogen, vundle, neobundleを利用したとき、インストールしたプラグインが読み込まれない"
https://github.com/Shougo/neobundle.vim/issues/15

もともとは、neobundleの問題として報告されていましたが、試してもらったところ他のプラグインにおいても発生する問題らしいので広く意見を募るために、こちらに報告します。

詳細は上記Issuesを参照して欲しいのですが、@usaturnさんの環境においてpathogen, vundle, neobundleがうまく動かないようです。runtimepathはプラグインによって適切に設定されていますが、プラグイン群のplugin/*.vimが読み込まれていません。

最初は.vimrcか他のプラグインの問題かと思いましたが、OSとVim, Gitを再インストールした状態でも再現するらしく、その可能性も低いと結論づけました。

ちなみに、私も最新版のVimを使い試してみましたが、普通にプラグ

[2012-03-05 17:53] Shougo commented on #178
どうやら、.gvimrcに書いていたことが原因だったみたいです……。このIssuesは閉じます。

[2012-03-05 17:53] #178 closed, assigned to nobody

[2012-03-07 06:59] Shougo opened #179 "There is not the way to set executed external command encoding."
This is from this issue: https://github.com/Shougo/vimproc/issues/14

What should you do for us?

[2012-03-07 07:01] Shougo commented on #179
I think termencoding option have to allow multiple values(like fileencodings).

[2012-03-07 07:43] koron commented on #179
これはvimprocがencodingを意識してないことが問題なのでは?

[2012-03-07 07:51] Shougo commented on #179
私は、コマンドにより二種類のエンコーディングがあるせいだと思いました。
例えば、ghciやgoshはutf8のエンコーディングを使用します。が、cp932のエンコーディングを使用するコマンドもあります。
両者を現在のVim（やvimproc）の仕組みでは共存させることができません。

同様に、iconv()もできれば複数のエンコーディングを利用した変換に対応させたいですね。
文字化けしたら変換し直すという仕組みで。

[2012-03-07 07:56] Shougo commented on #179
もちろん、vimprocのバグでもあります。が、termencodingにエンコーディングを一つしか指定できない現在のVimの仕様上、vimprocを修正できないのです。

[2012-03-07 07:58] Shougo commented on #179
確か、system()はtermencodingをencodingに修正しますよね？
おそらくvimprocと同じ問題になると思います。

[2012-03-07 08:15] koron commented on #179
vimprocが起動する先と元のエンコーディングがズレているだけでしょ? vimprocがその違いを認識して吸収すりゃいいんじゃない?

termencは現在利用中のtermの特性を示すというその性質上、複数指定できるのは間違いだよ。

[2012-03-07 08:25] Shougo commented on #179
vimproc限定なら専用の変数を作れば可能です。ただ、「正しい変換」というのをどう判定するのかが問題となるのです。
Vimはどうやっているのでしょうか。
あと、system()では変換をどうしているのでしょうか。同じ問題になりますよね？

[2012-03-07 08:27] koron commented on #179
その問題を具体的にVimだけで示してみてよ。少なくともここまでvimproc使った時の問題しか書かれていないので、Vimの問題とは思えない。

[2012-03-07 08:27] mattn commented on #179
system()を使わずにやってるならなおのことvimprocでfileencodingsの順で変換を試せばいいだけでは？もちろんiconv()は失敗せずに?に変換するのでvimprocのdll側でiconv用のインタフェースを作って、そっちでやる必要がありますが。

[2012-03-07 08:28] Shougo commented on #179
Vimに外部コマンド起動用のエンコーディング指定がないのがそもそも問題のような気がしています。
仕方が無いので、vimproc（と多くのVim plugin）はtermencodingを用いていますが、それでは問題が完全に解決しません。

[2012-03-07 08:29] Shougo commented on #179
調べてみましたが、system()はエンコーディング変換しないようです。
encoding変換は明示的にスクリプト側が行わないといけないようです。
よって、タイトルを変更しました。
外部コマンドのエンコーディングを指定できないことが問題だと思います。

[2012-03-07 08:31] koron commented on #179
「気がしています」ではなく具体的な証拠を示してください。可能な限り単純に、他人を納得させるだけのシンプルな問題点を例示してくれれば、適切な対処方法を考慮します。

[2012-03-07 08:32] Shougo commented on #179
はい。vimproc()で変換してみるのはOKです。ただ、iconv()用のインタフェースを作るのは手間がかかりすぎますね……。
うーん。Vim側でサポートしていないとやりづらいです。

[2012-03-07 08:38] Shougo commented on #179
根拠、というのはこれまで説明したんですが、プラグイン側でいちいち外部コマンドの出力を変換しなくてはいけないところです。
さらに、外部コマンドの出力エンコーディングを示すオプションがVimに存在しません。
termencodingを用いてもいいのですが、前述のとおりこのオプションは外部コマンドの出力エンコーディングを示すものではないため、セットされていないことも多いです。termencodingは複数のエンコーディングに対応していないため、複数のエンコーディングに対応させるのは大変です。

[2012-03-07 08:41] Shougo commented on #179
これがvimprocだけの問題ならいいのですが、外部コマンドを起動するすべてのプラグインで問題になります。
私は外部コマンドを起動するプラグインで、複数のエンコーディングを考慮したものを知りません。

[2012-03-07 08:44] koron commented on #179
一般論として外部コマンドの入出力エンコードはその外部コマンドごとに異なります。それに対してVimが何らかの仮定をするのは外部コマンドの自由度を下げることになるため明らかに誤りです。またその外部コマンドを実行したのはプラグインですから、どのようなエンコードであるかをプラグインは知っているべきであり吸収すべきです。既存のプラグインがそれを考慮していないのは、明らかにプラグイン側の瑕疵です。

[2012-03-07 08:45] Shougo commented on #179
system()で起動したコマンドの出力をプラグイン側では明示的に変換しなくてはいけません。
プラグイン側で文字コードが分かるならそれでもいいのですが、（特にWindowsでは）環境によって適切なエンコーディングが異なります。termencodingオプションは上述の問題により信用できません。

問題となるのがvimprocだけならオプションを増やして、それを指定してもらえば良いです。しかし、外部コマンドを起動する他のプラグインにまでそのようなオプションを実装するのは煩雑になりすぎる、というのが私の主張です。

[2012-03-07 08:49] koron commented on #179
ちなみにmattnさんの書くスクリプトはだいたいエンコード考慮してるよねw

[2012-03-07 08:50] Shougo commented on #179
はい。一般論として確かにそのとおりです。
ただ、外部コマンドのエンコーディングはlocaleによって異なります。
プラグイン側での適切な対応はオプション変数を作らない限り不可能だと思います。
そして、プラグインそれぞれが同じようなオプションを実装するのは無駄ではないか、というのが私の主張なのです。

[2012-03-07 08:51] Shougo commented on #179
おそらく、termencodingへの変換だと思うのですが……。うまいやり方があるなら、ぜひ教えてください。
ちなみに、「termencodingに依存するのは問題だ」と以前もLingrの話題には上がっていたんですよね。

[2012-03-07 08:51] mattn commented on #179
それもしutf-8限定の標準入力しか相手しないアプリケーションにvimの文字列を渡したい場合にいちいち複数設定されていた設定をutf-8だけに変えてsystem()呼び出すとか言ってます？そっちの方が面倒でしょう。設定戻したりもしなきゃいけないし。

ちなみに知ってますか？Windowsアプリケーションはいくら標準入力でutf-8を取り扱うプログラムを書いてutf-8対応！とか言ってみたとしても、引数はACPでしか渡ってこない事を。

外部コマンドへの標準出力は自分で考えなきゃいけない。これはプログラムが何を期待してるか分からないから。プログラムAはcp932を扱い、プログラムBがutf-8を扱う場合、個別に適切なエンコーディングに変換して起動するのはプラグイン側の仕事です。この行は言ってる意味が分かりません。
逆にコマンドからの出力を読み取る際にfileencodingsみたいに扱いたい

[2012-03-07 08:53] mattn commented on #179
ちなみに僕がエンコーディング変換しているプラグイン処理で termencoding は使ってないと思いますよ。もしあったとしたら今すぐ直すべきバグです。

[2012-03-07 08:54] mattn commented on #179
なので外部コマンドの扱いに termencoding を使う事が間違いなのです。

[2012-03-07 08:55] koron commented on #179
無駄ではありません。外部コマンドの入出力のlocaleが何になるかについてVim本体は絶対にわかりません。あくまでもその外部コマンドを実行したプラグインで制御すべきことです。

[2012-03-07 08:58] Shougo commented on #179
そうですね。ちょっとIssues登録するのが早すぎたかもしれないです。

はい。そうです。ただ、この「プラグイン側で厳密な判定をする」のが難しいのではないのか、と今回思ったのです。
日本語でWindows限定ならcp932に変換すれば大体うまく行きます。
しかし、外国のコマンドではそうではありません。外国のコマンドでどういう文字コードが使われているのかプラグイン側ではわかりません。

たしかにそうですね。readはどうやってエンコーディング変換をやっているのかと思っていましたが、fileencodingsを使っているんですね。ちょっとこの方向でやってみます。

[2012-03-07 08:59] Shougo commented on #179
了解です。ちょっと見てみます。

[2012-03-07 09:02] Shougo commented on #179
すみません。mattnさんのエンコーディング変換しているプラグインの例を教えてもらえないでしょうか。
私も探してみたのですが、外部コマンドのエンコーディング変換をしている例が見つからなかったのです。

[2012-03-07 09:03] mattn commented on #179
Windowsの場合ならば

[code]

で得られる文字列が変換先のエンコーディングです。ただしこれは外部コマンドがACPを扱うという前提での場合です。
また、linux上でも動かしたいならば

[code]

みたいに `char` というショートカットを使うのが良いです。`char` はロケールに対応したエンコーディングを示してます。
後者の方法は僕はよく使います。

[2012-03-07 09:06] Shougo commented on #179
！

charは知りませんでした。では、それを利用させてもらいます。

[2012-03-07 09:06] #179 closed, assigned to nobody

[2012-03-07 09:07] Shougo commented on #179
今回は、「iconv()では"char"を使うべき」ということがわかり、この程度ならプラグイン側で対応可能なのでcloseします。
教えていただきありがとうございます。

[2012-03-07 09:10] Shougo commented on #179
そもそも、「外部コマンドの出力を正しいエンコーディング変換するノウハウ」がVimmerの中で共有されていないのが一番の問題なんでしょうね。こういうノウハウは、vim-jpのサイトか:helpなどで文書化すべきではないのかと思います。

[2012-03-07 09:13] mattn commented on #179
iconvをCで扱った事ある人には結構常識だと思うし、これを思いつかない人はきっと `libcall` の思いつくだろうし、それを思いつかない人はvimscriptで設定出来るオプションを作ると思う。

[2012-03-07 09:14] koron commented on #179
@mattn charってどのiconvでも使えるの?

[2012-03-07 09:15] mattn commented on #179
vimの問題でないし、この方法が普及していないものvim自身の問題でない。
それを広めたいと思ったらぜひご自分のブログでやって下さい。

[2012-03-07 09:16] Shougo commented on #179
使ったことがない人がここにいます……。

[2012-03-07 09:18] Shougo commented on #179
はい。せっかく教えてもらったので、書きます。

[2012-03-07 09:23] mattn commented on #179
@koron 1.9だかで動く様になったはず。

@Shougo

これはしょうがないでしょう。

これもWindowsの知識がいるのでしょうがないかもしれない(調べたらすぐ出てきますが)

これをやりました？ここまで来ると「encodingオプションをコマンドプロンプトのACP(日本語Windowsならcp932。chcpで変える事も出来る。)へ文字列変換したいが、そのエンコーディングが分からない。」という問題がはっきり見えてくるはずです。
すぐに過程をすっとばしてvimの問題というからこうなるのです。

[2012-03-07 09:26] koron commented on #179
@mattn thx!

[2012-03-07 09:39] Shougo commented on #179
はい。これを頭の中でやろうと思って今回の問題になったのですが、伝わりませんでしたね……。

はい。そうですね。私の問題はこれです。
人に説明するのは難しいですね……。

[2012-03-07 10:08] Shougo commented on #179
https://twitter.com/#!/mattn_jp/status/177319081261801472

はい。スレッドを汚してしまってすみません。ただ、こういうケースもありますし、Vimmer向けのお悩み相談所もあったほうがいいとは思うんですよね。「本体の問題なのかよくわからない問題を議論する」場が欲しい。

[2012-03-08 00:03] mattn commented on #179
質問場になるかどうかは質問内容によると思うんですよね。このissueが「コマンドプロンプトのエンコーディングを取得したい」という内容ならそうなってたでしょうし、それはそれでこのissuesを使って貰っていいと思うのですが、「termencodingの仕様は問題がある」的な書き方をしたあげくにこうなるとそれも許容し難くなります。
このissuesは登録されると題名を見ただけでvimの問題なら直そうとする人が数名いるので、題名だけでその人達の手を動かしてしまう事になります。

issuesを質問場に使うかどうかは考えないといけないすね。

[2012-03-08 00:50] Shougo commented on #179
@kaoriyaさんは「どうせまだ数が少ないからこっちでやっていい」と言っていましたが、私は問題があると思います。
例えばvim-jp/questionsというものを用意して、簡単な質問ならそちらでやったほうがいいと思うのです。
その結果、本体の問題だということになればvim-jp/Issuesに格上げすればいいと思います。
githubを使いたい理由として、ログが残ること、議論に比較的簡単に参加できることが挙げられます。
ある程度ノウハウも蓄積されているし。
バグ議論の場としてだけではなく、Vimのサポートとしてのvim-jpも必要ではないのかな、と。
Vimメーリングリストでいうvim_dev的存在だけではなく、vim_useが必要なのかなと思うのです。

[2012-03-08 01:04] koron commented on #179
以後、https://github.com/vim-jp/vim-jp.github.com/issues/33 こっちでやりましょう。

[2012-03-08 01:12] Shougo commented on #179
はい。了解です。

[2012-03-13 08:18] mattn opened #180 "mingwでif_perlのビルドに失敗する"
gcc4からstaticでないグローバル関数のプロトタイプ宣言がエラーになる。

パッチ提出済み。

https://groups.google.com/d/topic/vim_dev/3KD82kZJwgo/discussion

[2012-03-14 05:42] mattn opened #181 "タスクバーが上部にある場合にウィンドウ位置が不正になる"
http://twitter.com/Eivy_m/statuses/179803215230009344

[2012-03-14 06:37] koron commented on #181
なるほどw タスクバーが左右にある場合の調整もおかしくなる可能性ありかな。

[2012-03-14 07:11] mattn commented on #181
[code]

で取れそげ。

[2012-03-16 18:48] #180 closed, assigned to mattn

[2012-03-16 18:48] h-east commented on #180
イェイ!
Patch 7.3.474
https://groups.google.com/d/topic/vim_dev/Bbc3wABsJ4k/discussion

[2012-03-19 01:06] mattn commented on #115
これ絡んでます？

https://groups.google.com/d/topic/vim_dev/fc0p8bfFo2Y/discussion

[2012-03-19 01:25] koron commented on #115
説明読んだだけだとドンピシャ。でも、なにげにBramの要求(テスト書いてよ)が高度過ぎる件。
テストスクリプト、これ書けるのかなぁ? /\%vあたりが効いてくれればあるいは?

[2012-03-19 01:26] koron commented on #115
`/` で移動後に `col(.)` で拾って明らかに違う位置ってわかるのか。

[2012-03-19 01:28] koron commented on #115
ごめん。

Groupのはインデントの話で、本件はマッチ位置の話だった。

[2012-03-19 01:39] mattn commented on #115
ここに便乗してついでに直してもらうのがいい気がする。

[2012-03-23 19:55] h-east commented on #116
Patch 7.3.480 で入った！
https://groups.google.com/d/topic/vim_dev/7CITJ2g4BsM/discussion

[2012-03-25 13:53] LeafCage opened #182 "sign placeされた状態だとfolding部分がsignカラムに食い込んですごく不格好"
![](http://s1-02.twitpicproxy.com/photos/full/546115250.gif?key=261135)

signで新しく追加される2文字分のカラムのせいでフォールドが左に食い込むのが不格好すぎてsign placeを使うのを躊躇らってしまいます。

WinXP sp3
Vim7.3 (2010 Aug 15,compiled Dec 21 2011 13:00:12)
パッチ1-382
（念のため香り屋最新版7.3.480で試してみましたが再現しました）

---

再現方法。
foldingを有効にする。(:set foldenable)
折り畳みを作成する。(キーバインドzf 移動コマンド)
折り畳みを閉じた状態にしておく。(折り畳み内でzc)

同じバッファ内で適当なsignを設置する。
(
:sign define test text=ts

[2012-03-25 15:33] h-east commented on #182
これは不具合報告？それとも改善要望？
「不格好すぎて」というのは何と比較されていますか？

簡単な再現手順を教えてください。あと確認したOSとVimバージョンを教えて下さい。

[2012-03-25 18:02] LeafCage commented on #182
あっと。言葉足らずでしたね。申し訳ないです。
実用に支障はありませんが見た目が汚くなって不具合です。
FoldedがSignColumnに食い込まないでSignColumnの方が優位となる挙動を望んでいます。

環境と再現方法をトップに追記しました。

[2012-03-26 12:57] ynkdir commented on #182
http://thread.gmane.org/gmane.editors.vim.devel/1361

[code]

http://thread.gmane.org/gmane.editors.vim.devel/6551

[code]

hl-SignColumn の追加が後なので修正忘れですかね。
一応動作確認お願いできますか。

[code]

[2012-03-26 13:05] h-east commented on #182
@LeafCage 追記ありがとうございます。
@ynkdir GJ!

[2012-03-26 15:43] LeafCage commented on #182
@ynkdir ありがとうございます。
コンパイルする方法が分かりませんので試していませんが、恐らくはそれで修正されているでしょう。

（issueに報告するのが初めてなので勝手が分かりませんがもう閉じてもいいのでしょうか？）

[2012-03-26 23:47] ynkdir commented on #182
vim_dev に投げました。

解決さえすれば誰が閉じても構わないと思いますが
一般的には担当者的な人が閉じるのかなーと思います。
今回はとりあえず私が閉じてみます。

[2012-03-26 23:59] mattn commented on #182
リンク付けときます。

https://groups.google.com/d/topic/vim_dev/cDzdYZLhDdQ/discussion

[2012-03-27 04:02] h-east commented on #182
あっコメントボタン押すの忘れたすまそ。

まだクローズするタイミングではないので再オープンさせてもらいました。

Issueを閉じる手順
https://github.com/vim-jp/issues/wiki/Member

[2012-03-27 06:20] ynkdir commented on #182
既出でした。意図的にそうしてるそうです。

http://groups.google.com/group/vim_dev/msg/cf0c5c29c4b6f414

[2012-03-27 06:39] mattn commented on #182
ってことで
見づらい（私は確認してませんが）という意見を持って既存仕様を覆すなら残しましょう。
でない場合は閉じましょう。

[2012-03-27 14:12] LeafCage commented on #182
意図的な仕様であるなら仕方ないです。
お騒がせしました。
xlose/wontfix

[2012-03-27 14:33] #182 closed, assigned to nobody

[2012-03-28 05:17] kyouryuukunn opened #183 "コマンドモードでの単語のコピーが正常に動作しない"
再現法
挿入モードで任意の単語、ここではtestを入力
その単語上でコマンドモードへ
単語の先頭文字を入力、ここではt
C-R,C-Wを入力
ttestとなるはずだが、testとなっている
vim73-kaoriya-win32-20120324を何も設定をいじらない状態でも発生している。
set incsearchを設定するとこうなるようだ。

[2012-03-28 05:25] thinca commented on #183
仕様です。

`:help c_CTRL-R_CTRL-W`

[2012-03-28 05:31] kyouryuukunn commented on #183
仕様だったのか。残念

[2012-03-28 05:32] mattn commented on #183
閉じますね。

[2012-03-28 05:32] #183 closed, assigned to nobody

[2012-03-29 03:52] thinca commented on #183
一応解決手段を書いておきますね。

[code]

[2012-03-30 01:43] mattn opened #184 "ファイナライザが欲しい"
vimでOOするならdictを使う訳ですが、コンストラクタは NewFoo() で我慢するとしてデストラクタはなんとかしたいです。
ただdictにデストラクタ専用の足を生やすのは言語仕様を変えてしまう事になりかねないので、ファイナライザはどうかと思いました。
例えばvim内部で、ファイナライザが設定されたdict一覧をもっておき

[code]

とされたら上記一覧に追加、dictを消してる箇所で一覧に含まれていたらファイナライザを走らせるという仕組みです。

安直に考えただけなので、穴があるかもしれませんが、実装されたらそれなりに使えるかもしれません。
もちろん、1個のオブジェクトに対して1個設定する物なので他のソースから上書きされかねないですが、現状よりは良いかなーと思いました。

[2012-03-30 01:49] koron commented on #184
言語として便利そう&実装上の困難は普通に有りそうってのは良いとして、具体的に今こういうことで困っててファイナライザでこれだけ助かるんですよ、っていう例が欲しいかな。

[2012-03-30 01:53] mattn commented on #184
<h1>ない</h1>

[2012-03-30 01:56] koron commented on #184
# え?w

[2012-03-30 01:57] mattn commented on #184
<h1>や き に く 食 べ た い</h1>

[2012-03-30 02:47] koron commented on #184
# 僕　は　肉　野　菜　炒　め

[2012-03-30 03:22] withgod commented on #184
mattn++

[2012-03-30 03:23] mattn commented on #184
<h1>ま　だ　や　っ　て　な　い</h1>

[2012-03-30 07:08] mattn opened #185 "home_replaceが正しく動作していない"
指定するパスが HOME 配下にある場合 `fnamemodify(path, ':~')` で `~/foo/bar` の様なパスに変換してくれるのだけど、Windowsでちゃんと動いていない。
例えば僕はunix系ツールが誤動作しないように HOME 環境変数を `c:/docume~1/mattn` と設定しているのだけど、WindowsのAPIから得た HOME は `C:\Documents and Settings\mattn` になるのでいくら大文字小文字を同一視しても一致しない。もしかしたら WIN32API の`GetShortPathName` を使えば `c:/docume~1` を取る事が出来るかもしれない。
ちなみにこの処理をやってるのが home_replace

[2012-03-30 07:46] h-east commented on #184
正直、ファイナライザよりもファイナンシャルプランナーが欲しいです。
これが実装されていないVimはもはや時代遅れです。
一刻も早くマネタイズして！ソーシャルエディタ！！
返してっ！お金返してっ！

[2012-03-30 07:49] mattn commented on #184
![](http://www.sikaku-torikata.com/004%E3%83%95%E3%82%A1%E3%82%A4%E3%83%8A%E3%83%B3%E3%82%B7%E3%83%A3%E3%83%AB%E3%83%97%E3%83%A9%E3%83%B3%E3%83%8A%E3%83%BC480%C3%97310.gif)

まずはバッファ運用の計画から始めましょう。

[2012-03-30 08:10] h-east commented on #184
奥さん：「主人が編集したバッファを保存せずに大量に隠しているみたいで...」

[2012-03-30 10:58] koron commented on #185
Windows Vista以降はホームディレクトリが C:\Users\koron みたいになるので問題にならんのか?

[2012-03-30 11:15] mattn commented on #185
たぶん。

[2012-03-30 15:23] koron commented on #19
とりあえず https://gist.github.com/2252240 実験。

job_Tという汎用フレームワークを仕込んだ。このフレームワークではjobの登録と、job終了の監視、job終了後のコールバック呼び出しまでを実装した。終了後のコールバックにはVim関数の呼び出しまで含めるべきかもしれないが、まだ明確にはなっていない。

[2012-03-30 15:55] mattn commented on #19
koron++

[2012-03-31 01:49] Shougo commented on #19
KoRoN++;

[2012-03-31 07:58] koron commented on #19
https://gist.github.com/2252240 ちょっと先に進んだ
- `jobrun({dict})` の追加
- GUIで動くように

`jobrun()` は引数の辞書型に`check`メソッドと`onend`を要求する(予定)
`check`メソッドは定期的にジョブの終了を確認するために呼び出され、あと何msec待てばよいかを返す。終わった場合は0以下。
`onend`メソッドはジョブが終了した際に呼び出される。

[2012-03-31 08:53] Shougo commented on #19
使用例のサンプルがあると良いですね。
テストも楽になりそうです。

あとは、onendとon_endのどっちの命名がVim流には良いのでしたっけ。

[2012-03-31 09:28] Shougo commented on #151
https://github.com/Shougo/neocomplcache/issues/177

うーむ。私のところでは問題になっているわけではないのですが、他の環境では問題が出るみたいですね。

^x modeに入ると、キーマッピングの衝突は確かにあるか。

ここまで報告が多いと、neocomplcacheのデフォルト値をさすがに戻さざるを得ない。

[2012-03-31 09:30] Shougo commented on #151
上の問題は、これまで話題になっていたiminsertとは関係がないですね（おそらく）。

[2012-03-31 09:33] Shougo commented on #151
いつも@mattn_jpさんや@KoRoNさんにばかりパッチを書かせているのもあれなので、今回は自分でVimのソースコードを修正したいのですが、これはどっちの仕様にすればいいのでしょうか。

「-2で^X modeを抜ける」とするのか、「-3で^X modeを抜ける」とするのか、ですね。
個人的には、「-2で^X modeを抜ける」としたいです。

どこのソースを修正すればいいのか、まずはVimのソースを見てみます。
なにかヒントがあればアドバイスをお願いします。

[2012-03-31 09:35] koron commented on #151
今の値は今のままの動作で、新しい動作には新しい値を割り当てるようにすると互換性問題になりにくいです。

[2012-03-31 09:40] Shougo commented on #151
となると、-2 -> silently cancel
-3 -> silently cancel and leave ^x mode

ということでしょうか。

neocomplcache以外にこの機能を使っているVim scriptがあるのか、という話もありますが……。

[2012-03-31 09:43] Shougo commented on #151
mattnさんのパッチより、修正することになるのはsrc/edit.cのIns_complete()であると分かりました。

いや、違うか。edit()ですね。

<pre>

docomplete:
        compl_busy = TRUE;
        if (ins_complete(c) == FAIL)
        compl_cont_status = 0;
        compl_busy = FALSE;
        break;
#endif /* FEAT_INS_EXPAND */

</pre>

このあたりが非常に怪しいような気がします。

[2012-03-31 10:01] Shougo commented on #151
この関数には、ctrl_x_modeという非常に怪しい変数名がありますね。おそらく、この変数の値をいじれば良いのかと思います。

この値が0ならctrl_x_modeを抜けるようです。

[2012-03-31 10:12] Shougo commented on #151
簡単に修正してみました。これでどうでしょうか。

https://gist.github.com/2261497

ドキュメントもとりあえず修正しました。

[2012-03-31 12:40] Shougo commented on #151
こちらで試してみたところ、Ctrl-x modeから抜けていることを確認しました。
ただし、Ctrl-x modeの表示は残っていますね……。うーん。紛らわしいからどうにか消したいなぁ。

[2012-03-31 12:50] Shougo commented on #151
再度修正し、自分の望み通りの挙動になりました！
とりあえず、neocomplcacheを対応させてみます。

[2012-03-31 13:49] ynkdir commented on #151
いちおうきづいたので

[code]

あと以下の設定で挿入モードで CTRL-X CTRL-U を押した後、
なにかキーを入力すると "E473: Internal error" がでます。

[code]

vim-7.3.487 + patch on ubuntu-11.10 です。

[2012-03-31 17:42] koron commented on #19
https://gist.github.com/2252240 原因不明の問題に遭遇し頓挫中。
1. パッチを取り込んでビルド
2. `:source job_test3.vim` (パッチ内に含まれる)
3. `:call JobTimer(1)` (成功)
4. `:call JobTimer(5)` (失敗)

4の動作は実行から1秒後にcheckが呼ばれ(a)て「終わってない、あと4秒待って」と返し、さらに4秒後にも呼ばれて(b)「終わったよ」となるハズ。このbの時にdict_Tが壊れている。メモリをみたら広範囲が0xfeeで埋まってた。dict_unref()が呼ばれた形跡はない。

[2012-03-31 17:45] koron commented on #19
あ、うそ`dict_unref`が呼ばれてるかどうかは観測できてなかったw

[2012-03-31 17:45] mattn commented on #151
僕ならこうする

[code]

[2012-03-31 18:00] mattn commented on #19
いままでdict使ったAPIって無かったから、もすこしプリミティブにしなくてよいの？ってのがファーストインプレッションでした。
仕組みはいまからミマス。

[2012-03-31 18:01] koron commented on #19
ちなみに、4でもaとbの途中でブレークポイントしかけて一瞬でも止めると成功してしまうので、なんかいやらしいのがあるっぽいw

[2012-03-31 23:16] ynkdir commented on #19
動かして確認はしてませんがソースを見た限りだとdictがガベコレで回収されてるきがします。
`++d->dv_refcount` だけではだめで g: とか v: とかから到達できないものは回収されます。

[2012-03-31 23:57] koron commented on #19
@mattn まぁ、まずはproof of conceptな実験とういことで。

@ynkdir Thanks! 薄々そうじゃないかなぁとは思ってたんですが、原理的にはmark&sweepってことですね。これだとrefcountって意味がほぼないですよね…なんか考えます。

[2012-04-01 00:04] koron commented on #19
`garbage_collect()` 読んで納得。mark&sweepですね。

[2012-04-01 01:02] koron commented on #19
https://gist.github.com/2252240
できた。jobvardict, jobvarhtってなものを作ってそこに入れたら(pinしたら)gcで回収されない、ようにした。

とりあえずタイマー的なものは動いた。
あと、以下を実装すると非同期なんちゃらの完成。
- jobrun()の引数のdictに起動するプロセスを指定する口を作る
- プロセスを起動しIDを取得する
- checkendにてプロセスIDが終わったかどうかを監視する

[2012-04-01 05:55] Shougo commented on #19
テストスクリプトはパッチ内にあったんですね。見落としていました。

[2012-04-01 05:56] Shougo commented on #19
これってつまり、vimprocが実現しているプロセス起動・通信機能ということでよいのですか？
Vim本体で実現できるようになるとかなり楽ですね。

[2012-04-01 08:37] koron commented on #19
# 飽　き　た

なのでたぶんしばらく放置します。

[2012-04-01 10:19] Shougo commented on #19
はい……。そういうこともありますよね。

[2012-04-01 10:53] thinca commented on #49
やっとこさ出しました。
https://groups.google.com/forum/?fromgroups#!topic/vim_dev/kGMRZ1P1qBg
一応全部の案載せてます。
もし議論になったら多分私には収拾付けられんので誰かフォローしてくれると助かります…。(無責任で申し訳ない)

[2012-04-01 13:19] thinca commented on #49
Bram さんから早速返事来てた。最後のが一番いいとのことで概ね予想通りだけど、
これは取り込む意思があるのか、取り込んでくれと改めて言った方がいいのか(最初にちゃんと言っておけば良かった)…。
どちらだと思います?

[2012-04-01 13:59] ynkdir commented on #49
おつです！
取り込んでくれると思います。

[2012-04-01 14:05] thinca commented on #49
ありがとうございます！
慣れてなくて不安だったのでそう言ってもらえると安心します。
問題を勘違いしている方がいるっぽいけどBramさんには伝わってるしちゃんと返す自信ないので悪いけどスルーさせてもらおう…。

[2012-04-01 23:05] Shougo commented on #151
@mattn @ynkdir ありがとうございます。それらの変更を取り込んでおきます。

[2012-04-01 23:18] Shougo commented on #151
修正しました。この変更により、@ynkdirさんの例でも問題がないことを確認しました。

[2012-04-02 06:35] koron opened #186 "メタヘルプが欲しい"
https://twitter.com/#!/merborne/status/186699116825419778

とのこと。何か良いアイデアはないだろうか?

[2012-04-02 06:41] thinca commented on #186
`:help helphelp` ではなく、キーワードの指定のコツが知りたいとかそんな感じですかね?

[2012-04-02 06:44] thinca commented on #186
引き方なら `:help help-context` とか、一覧なら `:help index` とかですかねー。

[2012-04-02 06:46] koron commented on #186
「Vimヘルプ使いこなし術」みたいな感じかも?

[2012-04-02 06:53] thinca commented on #186
キーワードのパターンさえ覚えてしまえば、あとはひたすら読むだけ、それと `:helpgrep` も活用、って感じかなー。それ以上はない気がします…。
なので、重要なのはキーワードのパターン?

[2012-04-02 06:55] koron commented on #186
そのあたり含めて、まとまった文章が要る、あったほうが良いってことかもね。

[2012-04-02 07:01] thinca commented on #186
http://vim-users.jp/2009/07/hack45/
http://vim-users.jp/2011/02/hack199/
こういうのは一応あるけど…。

[2012-04-02 07:10] koron commented on #186
@thinca 読んだ。コンパクトに要点を押さえて書けてる。が、そのコンパクトさが逆に仇になってるかも。初めてhelpに触る人にはストーリーベースのガイドの方がわかりやすいのかもしれないと思った。

[2012-04-02 07:13] mattn commented on #186
FAQが無いからじゃないかな

[2012-04-02 07:15] mattn commented on #186
作業するのはいいけど、一定の域まで勉強をしていない人(この方がどの程度vimを勉強しよとしているか把握せずに書きます。ごめんなさい。)の為に作業をするメリットがあるかどうかははからないとなーと思います。ある程度の人はhelpがひけてる訳で。

[2012-04-02 07:18] thinca commented on #186
FAQ

Q. helpの引き方がよくわかりません

[2012-04-02 07:21] mattn commented on #186
うん。それでいいと思う。

とか

とか。
つまりは導線が無いんだわ。

[2012-04-02 07:21] koron commented on #186
とりあえずゴールとしては新人さんにVimを使わせるとして(レアケースだw)「ヘルプ見とけ」だとなかなか1wでは先に進まないと思うんだけど、「ここちゃんと読んで実習しとけ」→1w後→「ヘルプ使いこなせるようになってた」ってのが理想かなぁ。

[2012-04-02 07:25] mattn commented on #186
よくありがちな話だけど、「ある何かが分からない」って人は、突き止めていくと「自分が何が分かっていないかが分かっていない」って人が意外に多いんです。
まぁ例えるなら
　
　
　
　
　
　
　
　
　
　
　
　
　
　
　
　
　
　
　

# 「わたし、恋に恋してる...」

ってやつ？

[2012-04-02 08:12] koron commented on #186
# 青春だなぁ

[2012-04-02 08:36] mattn commented on #186
# あこがれの... Vimセンパイ...

![](http://go-gyazo.appspot.com/f6511a117478b3ca.png)

[2012-04-02 09:37] koron commented on #186
### これが噂のVimさんか…(；ﾟдﾟ)ｺﾞｸﾘ…

[2012-04-02 10:33] h-east commented on #186
追従不可能でございます。

[2012-04-02 14:03] koron commented on #186
# えーマジっすか！Vim先輩マジカッケーんすけど！

[2012-04-03 09:26] eagletmt opened #187 "system() を呼んだ際に、終了した全ての子プロセスが回収されてしまう"
https://gist.github.com/2290573
この proc.vim を source して call Test() とすると、os.waitpid の時点で ECHILD により例外が投げられます。

これは Vim の system() の実装において、wait によって全ての子プロセスを待っていることが原因だと考えました。
実際、以下のように修正すると上記の例外は発生しなくなりました。修正後のコードはすぐ上の #ifdef _THREAD_SAFE の場合とほぼ同じです。

[code]

ゾンビを防いだり終了を待つ意味ではユーザ側で ECHILD を無視すればよいわけですが、終了ステータスを取得したい場合もあると思います。

[2012-04-03 10:44] koron commented on #187
_THREAD_SAFEが定義される時とされない時で同じ動作にしたいなら、そこのifdef消しちゃうのがいいんじゃないですか?

どうやら_THREAD_SAFEはBSD系でだけで定義されるみたいですね。ここに関して言えば分ける意味はあまりなさそうです。

[2012-04-03 11:12] eagletmt commented on #187
WNOHANG が渡されるかどうかが異なっています。

私も分ける必要は無いと思っていて、通常ここで WNOHANG を渡してループする必要なんて無いと思うんですが、コメントとして

とあったので、よくわからないですけど分けたままのほうがいいのかなと考えました。

[2012-04-03 11:16] koron commented on #187
そのコメント、つまりWNOHANGが要る、って言ってますよね。特にPython(のスレッド)絡みで問題になるからそっち使えと。

逆に @eagletmt さんのパッチでWNOHANG使って問題になることはありますかね?

[2012-04-03 11:45] eagletmt commented on #187
ポーリングになってしまうくらいで、大きな問題は無いと思います。

では ifdef を消したほうがいいですかね。

[code]

[2012-04-03 11:50] koron commented on #187
修正内容としては筋が通ったものになったように思います。

仮にポーリングを嫌うなら、そもそもwhileループ自体が無効になるように直した方が好ましいですが、それは `wait() sometimes hangs for no obvious reason` この問題があるから無理っていうところでしょうか。それとも簡単に場合分けできるのかな?

[2012-04-04 06:42] thinca commented on #186
`kind/discuss` をつけようかと思ったけど、`kind/joke` の方がいいの?

[2012-04-04 06:49] h-east commented on #186
discuss or 両方

[2012-04-04 23:12] Shougo opened #188 "system()の実装がwait()することにより、vimprocのwaitpid()内でエラーになることがある"
これは、@eagletmtさんが発見してくれた問題です。

https://twitter.com/#!/eagletmt/status/186741487076245505

https://gist.github.com/2281904

https://twitter.com/#!/eagletmt/status/186833385979789313

https://twitter.com/#!/eagletmt/status/186851288502382593

system()の実装がwait()を用いている理由はなぜでしょうか。
この仕様では、KoRoNさんが実装している非同期機構でも（独自に外部プロセスを生成した場合）問題になりそうですがどうでしょうか。
これはVim本体にパッチを投げるべきでしょうか。それとも、vimproc側でなにか対策する方が良いのでしょうか。

[2012-04-04 23:16] koron commented on #188
すでに https://github.com/vim-jp/issues/issues/187 でやってます。

[2012-04-04 23:16] #188 closed, assigned to nobody

[2012-04-04 23:17] koron commented on #188
#187 こうかけば良いのかな?

[2012-04-04 23:37] Shougo commented on #187
すみません。気づきませんでした……。ということは、バグということになったんですね。

[2012-04-04 23:38] Shougo commented on #188
ありがとうございます。

[2012-04-05 00:02] mattn commented on #187
バグじゃないです。
本来vimは自分の子供を1つだけ起動する機能しか持ってません。なのでwaitでok。そこを型破りしたことでwaitpidじゃないといけなくなった。なのでこれは機能追加です。

[2012-04-05 13:47] Shougo commented on #187
ふむふむ。了解しました。

[2012-04-05 13:52] koron commented on #187
一般的なプログラムとして、子供を1つしか持たない場合にその終了を待つのに `wait()` を使うのはどうなのかなぁ? 子供のIDわかってんだからそいつだけ待てば良いじゃん、というのが素直な感想。

逆に `wait()` から `waitpid()` に変えることで孫以下全部待たなくなるわけだけど、これって何か問題をひき起こさないかしら?

[2012-04-05 14:37] Shougo commented on #187
孫以下がゾンビになったら、initの配下になるので大丈夫なはずです。
あと、子供が一つしかないなら、waitpid()でも問題がないと思います。
wait()は複数の子供プロセスを一気に終了させるためのシステムコールなので。

[2012-04-05 14:50] mattn commented on #187
いやちがうw
wait()は複数の子プロセス(プロセスグループ)の内、どれかが終了するまで待つシステムコール。
親プロセスで複数回fork()した内、どれかが死ねば待機が終了する。上でも言った通り、いままでは一つのプロセスしか相手にしてなかったからok。まぁ今回もvimが扱うのは一つで且つ、目的のpidになるまでループを回してるのでこのケースだとwait()でもwaitpid()でもok。
まぁ、挙動の違いがあるとすればこれまでwait()で待っていたのがwaitpid()のWNOHANGになった事でGUIのイベントループが回る事になるので、もし画面のロックをかけていない様であれば、そこで別のバグがでる可能性はある。

[2012-04-05 15:02] Shougo commented on #187
OH……。認識ミス。調べてみると、確かにそのとおりでした。

バグになったら、そこも修正するしかないですね。あとはこの変更により、その修正が必要になることが妥当かどうか、でしょうか。

[2012-04-05 15:11] koron commented on #187
Thanks. なるほど。Vim側で問題が出る(わずかな?)可能性は把握しました。

ところで次は子プロセス側なんだけど `waitpid()` 使う時って本質的には例外としてECHILDをトラップしなきゃいけないんじゃないの? だって子プロセス起動してから `waitpid()` 呼ぶまでの間に終わっちゃう可能性は0ではないでしょ? 仮に終わってたらやっぱしECHILDがでるような気がするんだけど…どうかな?

つまり元々の [スクリプト](https://gist.github.com/2290573) の書き方が本質的に間違っているのでは?という問。まぁ、Vimが勝手に孫の終了補足しちゃうのは変な動作だけど、`waitpid()` 使うのにそもそもECHILDを想定してないコードはどうなのよ、ということ。

[2012-04-05 15:23] Shougo commented on #187
そのスクリプトはもともとvimprocにあったもので、vimproc側で例外を補足している場合と補足していない場合があったのです。今は修正してあります。

[2012-04-05 15:26] koron commented on #187
つまり `waitpid()` でECHILDを補足しないのは正しくないってことね。だとすればVim側を直す根拠としては弱くなるんじゃないかなぁ。もっと明快に「正しいプログラム書いたのにVimの挙動のせいでちゃんと動かない」っていう例を作ったほうが説得力は増すと思われます。

[2012-04-05 15:33] mattn commented on #187
それはない。一度は取れる。Ⅰプロセスに対して1度waitされたかをカーネルが持ってる。
ちゅうか、でないと終了コードなんて取れない。

[2012-04-05 15:34] mattn commented on #187
ちなみに同じプロセスIDに対して2度waitpidするとECHILDが出ます。

[2012-04-05 15:36] thinca commented on #49
取り込まれました。
https://groups.google.com/forum/?fromgroups#!topic/vim_dev/AC3BsnFQCBA

[2012-04-05 15:36] #49 closed, assigned to thinca

[2012-04-05 15:40] mattn commented on #49
おめでとう

[2012-04-05 15:41] koron commented on #49
ヽ(ﾟ∀ﾟ)メ(ﾟ∀ﾟ)メ(ﾟ∀ﾟ)ノ

[2012-04-05 15:42] koron commented on #187
BSDのmanページより

ってところか。二重否定でわかりにくいけどw

となるとコレを根拠に `waitpid()` 推し行けそう、ってことで良いのかな?

[2012-04-05 15:42] Shougo commented on #187
大分話がややこしくなっていますが、そもそも「vimprocで起動したプロセスがECHILDを発生させることがあるのでトラップしておいた」のが正解なのです。それを@eagletmtさんが原因を調べて、「Vimがwait()しているから」というのが明らかになりました。つまり、Vimがwait()をしなければ、vimproc（とvimprocを使ったプラグイン）にバグがない限り、ECHILDは発生しないはずなのです。

[2012-04-05 15:42] mattn commented on #187
ちょっとGUIロックかけてるか見てみる。

[2012-04-05 15:43] mattn commented on #187
かけてた。(一瞬だった)

[2012-04-05 15:43] thinca commented on #49
あざっす！

[2012-04-05 15:43] mattn commented on #187
あ、嘘だ。

[2012-04-05 15:46] mattn commented on #187
あー、すんません。wait()してるのメインループ側だったw
ってことでwaitpid()でも弊害無しです。

[2012-04-05 15:48] mattn commented on #187
あとは理由付けと、こう変える事でも弊害が無いんだよっていう説明がいる。

[2012-04-05 15:54] koron commented on #187
w

理由としては「waitpidに変えないと、if_*側で作ったプロセスに対するwaitpidが補足できないケースができちゃうよ」というあたりか。できれば「終了コードが取れなくなっちゃうYO!」とか言えるともっと良さそう。

弊害が無いことはここで検証したプロセスを書き下すだけかな。

[2012-04-05 15:56] koron commented on #49
AzaaS!

[2012-04-05 16:00] koron commented on #49
# どんだけ気に入ってるんだ＞オレ

[2012-04-05 16:01] h-east commented on #49
おつです。
WiiS! (wireless internet interesting system)
ここはたのしい無線インターネットですね！

[2012-04-05 16:32] ujihisa commented on #49
このスレはまだまだのびる・・・!

[2012-04-05 16:43] thinca commented on #49
次スレは @ujihisa さんが立てると聞いて。

[2012-04-05 16:45] mattn commented on #49
終わった issue なのにどんどん書きつづけちゃうんだぜ？ ワイルドだろぉ？

[2012-04-05 16:58] koron commented on #49
終わったからこそな!

[2012-04-05 16:59] wozozo commented on #49
ぼくも混ぜて！

[2012-04-05 17:02] ujihisa commented on #49
終わりがないのが「終わり」・・これがパッチだ!

[2012-04-05 17:06] h-east commented on #49
もうエエっす！
MoeeS! (Mostly orient enhance enjoying System)
主に東洋では、楽しんでシステムを強化します！

[2012-04-05 17:07] wozozo commented on #49
まっつんが面白いこと言ったら終わりそう

[2012-04-05 17:09] thinca commented on #49
明日起きたらどこまでスレが伸びてるか楽しみにしながら寝ます。

[2012-04-05 17:13] h-east commented on #49
:help!

[2012-04-05 21:35] ujihisa commented on #49
あわわわわてないでたくさい

[2012-04-05 21:36] ujihisa commented on #158
Nazriさんが頑張っていると聞いて

[2012-04-05 21:43] h-east commented on #49
:help!

英語：`E478: Don't Paciorek! He is Ponce.`
日本語：`E478: 助っ人外国人選手はパチョレックではありません！元横浜大洋ホエールズのカルロス・ポンセです。`

(ちょっと古すぎかｗ 誰が分かんねんｗｗｗ)

[2012-04-05 22:03] ujihisa commented on #49
はい

# 高度すぎてついていけない・・どうしよう・・

[2012-04-06 02:44] thinca commented on #186
関連: #16

[2012-04-06 06:20] thinca commented on #63
すでにあるキーを上書きする場合は動く模様。

[code]

[2012-04-06 07:44] mattn commented on #63
vinatraを書くながれかー

[2012-04-06 08:20] thinca commented on #63
[code]

とりあえず動いてるっぽいけど他で問題がないかちょっとわからないのでどなたかレビューしてもらえると助かります。

[2012-04-06 08:26] thinca commented on #63
ちなみにこの記事がとっても役に立ったのでこの場を借りて御礼を。 http://d.hatena.ne.jp/h_east/20120110/p1
@h-east AzaaS!

[2012-04-06 08:35] mattn commented on #63
コード見てないので確認せずですが、argに収められることを期待したコートの場合、もしかすると開放が漏れる可能性があるかも。

[2012-04-06 08:52] thinca commented on #63
見た限りだと `arg` は一時変数でこの後でも開放していないので、その心配はなさそうです。

[2012-04-09 02:18] ujihisa commented on #49
ping

[2012-04-09 02:20] thinca commented on #49
pong

[2012-04-09 02:26] mattn commented on #49
[code]

[code]

[2012-04-09 22:24] ujihisa commented on #49
[code]

[2012-04-10 00:35] mattn commented on #49
[code]

[code]

[2012-04-17 05:06] mattn commented on #185
[code]

安定してたら出す。

[2012-04-17 05:07] mattn commented on #185
どうやらこの関数に入ってくるsrc自体がLongPathNameらしいので、homedir_envの方をLongPathNameにした。

[2012-04-17 05:15] mattn commented on #187
この件、今は誰がボール握ってるんでしょう

[2012-04-17 05:39] mattn commented on #181
[code]

gui_mch_set_shellsizeは、GetWindowPlacementで得た矩形に対してget_work_areaで得た矩形が収まる様にリサイズする処理だが、GetWindowPlacementは相対座標、get_work_areaは絶対座標となる。最終的に位置設定するAPI、SetWindowPlacementは相対なので、get_work_areaが相対になればうまくまとまる。

[2012-04-17 05:50] mattn commented on #171
これ、エラー起きてなくないですか？

[code]

にしてみましたけど、ちゃんと処理続行してて

[code]

になってますね。コード見ましたけどエラー消してる処理もありました。

[2012-04-17 05:53] mattn commented on #169
それこそ特例になりえるのでredirで良い気がします。頑張りたい人は`maxfuncdepth`弄って下さいという事で。

[2012-04-17 05:56] mattn commented on #162
僕も `CTRL-W_<CR>` を優先に+1

[2012-04-17 05:57] mattn commented on #168
これは溜め込むより報告した方が良い気がするなー。
うちらではリソースが足りない。

[2012-04-17 06:00] thinca commented on #171
エラーが起きるのはそこではなく、return した後です。

[code]

[code]

[2012-04-17 06:35] mattn commented on #171
誰かテストよろ

[code]

[2012-04-17 06:56] thinca commented on #171
とりあえずさっきの例はばっちり動きました！

[code]

[2012-04-17 07:14] mattn commented on #171
しばらくランニングします。

[2012-04-17 07:16] mattn commented on #171
他にもこれいれこまないといけないの結構ありそう。
verbose処理してる所に全部いれていかないといけないかも。

[2012-04-17 07:20] koron commented on #187
@eagletmt さんのパッチで私はOKだと思いますが、状況を伝えるのにちょっとだけ苦労するかも、くらい。

[2012-04-17 07:43] mattn commented on #187
下手な英語で良ければ私がやります。要点だけ。
- 言語拡張でプロセスを起動したい
- 現状プロセスIDの指定無しにwait()しているのでSHGCHLDが発生する
- それwaitpidで出来るよ

でok？

[2012-04-17 08:05] koron commented on #187
OK

[2012-04-17 08:10] mattn commented on #185
ちょっと修正

[code]

[2012-04-17 08:11] mattn commented on #171
tv2string を使ってる箇所調べた。これだけでokぽい。

[code]

[2012-04-17 08:50] thinca commented on #171
軽く動かした感じだと問題なさげですね。

(こういうのってテスト書いた方がいいのかなぁとふと思ったけど書き方よく知らないのだった)

[2012-04-18 09:31] mattn commented on #171
https://groups.google.com/d/topic/vim_dev/ioNATdTA4tI/discussion

[2012-04-18 09:32] mattn commented on #185
https://groups.google.com/d/topic/vim_dev/28bbZcBon18/discussion

[2012-04-18 09:32] mattn commented on #181
https://groups.google.com/d/topic/vim_dev/xRdOvRDM3-Y/discussion

[2012-04-18 09:45] mattn commented on #187
https://groups.google.com/d/topic/vim_dev/dgZRRQPPdKw/discussion

[2012-04-18 09:47] mattn commented on #144
僕の環境ではこれ見た事ないんすよねー。 /etc/fonts.conf がおかしいんじゃなかろうか。もしくはユーザでカスタマイズしてるとか。

[2012-04-18 09:50] mattn commented on #66
pythonのdllって、python27.dll とかバージョンが付いてるはずなので期待と違うというのは考えにくいんだけどなー。

[2012-04-18 09:51] mattn commented on #82
僕はこのパッチで問題ないと思います。

[2012-04-18 09:51] mattn commented on #130
上記で未解決のissue

#30 gVimでIMEオン時のカーソル表示が残る(環境依存)
#64 iminsertとimdisableが直ちには反映されない
#66 QuickRunで落ちるらしい
#82 ファイル選択ダイアログでのIM状態がGVimに反映されてしまう

[2012-04-18 09:52] mattn commented on #175
vim本体のbugカテゴリに入ってくるのはイヤンな気がしたので外します。

[2012-04-18 09:54] mattn commented on #94
@jbking お忙しいところ申し訳ないですが↑の件、お願いします。

[2012-04-18 09:55] mattn commented on #67
これ画像お願いします。

[2012-04-18 10:25] thinca commented on #66
32bit/64bit が違うとか。

[2012-04-18 10:35] mattn commented on #66
その後動いたとの事なのでよくわかりませんね。
たぶん推測だけになって終らない気がするので、これ閉じませんか？

[2012-04-18 10:36] thinca commented on #66
ですね。再現不可ってことで。

[2012-04-18 15:22] thinca commented on #67
![](http://gyazo.com/ca3ad89ba0b5eb304d3510745436c0dd.png)

真ん中の行だけ行頭の `^` の色がコメントのものに変わっています。
この例はコメントですが、コメントに限らず発生します。

[2012-04-18 15:59] h-east commented on #82
送りました。
https://groups.google.com/d/topic/vim_dev/_tweFRjNNTM/discussion

[2012-04-18 16:32] mattn commented on #82
@h-east ++

[2012-04-18 23:23] koron opened #189 "WinコンソールでIMEからの入力が化ける"
Windows CUIのvimにて

[code]

した環境だと、IMEからの入力が文字化けする…なんで?

[2012-04-19 14:34] Shougo commented on #187
mattn++;

[2012-04-21 14:38] uakms commented on #79
コーディネータは同じ方のようですが、本家で同封されている ruby.vim と
https://github.com/vim-ruby/vim-ruby
にある ruby.vim との関係はどのようなものなのでしょうか？

自分は上記のものと入れ替えて警告は表示されなくなりましたが、
Vim をアップデートする度に入れ替えるのは面倒...。

runtime 以下のファイルは patch に含まれませんし、7.4 になるまで
更新されることは無いと考えたほうが良いのでしょうか。

[2012-04-21 16:28] mattn commented on #79
元々は同一のものでしたが、それぞれ一人歩きしてしまっているのが現状です。
ちなみにそちらのリンク先の物はif_rubyが含まれない時にrubygemsをロードしない形なので若干動作が異なります。

なお、現在vim_devにて同梱されているスクリプトに関して個人ライセンスではなく、vimscript licenseという一貫したライセンスを付与しようとしています。
その案に対してこのスクリプトがサインしたかどうかは知らないですが、このライセンス整備はおそらく7.3の間には実現しません。

[2012-04-22 12:32] uakms commented on #79
ありがとうございます。

単なる「色付け+α」スクリプトではないのですね(勉強不足)。
本家と分家で「動作に違いがある」という点(私の理解を越えてます)は
情報として大切な部分だと思いますので、この issue へのリンクを張って
おきます。

ライセンスの整備という大仕事があるのですね。
999 まで余裕がありますから 7.4 になるのはまだ先のことになりそう...

[2012-04-23 01:43] h-east commented on #187
Patch 7.3.499 で入りました。イェイ！
https://groups.google.com/d/topic/vim_dev/M3EE1OaiOd4/discussion

[2012-04-23 01:43] #187 closed, assigned to mattn

[2012-04-23 05:15] koron opened #190 "セキュリティソフトに引っかかるらしい"
だれかNorton持ってる人いたらちょっと気にしておいてください。一人でもひっかからないことが確認取れた時点で xlose/worksforme に落として良いでしょう。そのとき、どのような環境でひっかからなかったか併記してもらえると助かります。

https://twitter.com/#!/lizard_isana/status/194290571022573570

[2012-04-23 14:20] mattn commented on #190
nortonは持ってないなー

[2012-04-24 16:44] drakontia commented on #94
相対行表示しなくても、開けた瞬間から表示がずれていて
少し似たような状況かと思い、何かのお役に立てればと
bugreportの結果を貼っておきます。

https://gist.github.com/2481326

[2012-04-24 17:05] h-east commented on #94
@drakontia ありがとうございます！
お手数ですが発生時の画面キャプチャ画像とオープンしたファイルの内容を頂けると助かります。

あと、(可能でしたら)新しめのバージョンのVimで再現するか確認してもらえると更に助かります。
お願いだらけですがよろしくです。

[2012-04-24 22:30] k-takata opened #191 "less.sh/less.vimの動作をlessに近づける"
less.sh/less.vimの動作をlessに近づけたいと思い、次のようなパッチを作りました。
https://gist.github.com/2484229

変更内容は以下の通りです。
1. ファイルの末尾でスペースキーを押したときに、Vimを終了せずに、何もしないようにする。(less.vim)

   現状の動作は、lessではなくmoreです。
2. 入力がリダイレクトされておらず、ファイル名の指定もないときに、ユーザーからの入力待ちになるのではなく、エラー終了するようにする。(less.sh)

   ユーザーから入力されたものを表示しても意味がないと思うので、とりあえずlessと同じように、"Missing filename"と表示するようにしています。
   （ついでに、インデントがおかしかったので修正。（sw=2に統一））

[2012-04-25 04:19] thinca opened #192 "curly-braces-names と autoload を組み合わせると無効な変数名でも実行できる"
例えば、`{'#$%'}#new()` とすると、`autoload/#$%.vim` が探索され、見付かれば `:source` されます。
実際にこの名前の関数は定義できないので呼び出し時に関数が存在せずにエラーになるのですが、`:source` される時点で問題だと思います。
また、スペースが入っているとまたちょっと違って、`{'foo bar'}#new()` で `autoload/foo` と `bar.vim` の両方が探索されます。
例えば `{'foo filetype'}#new()` で、`'runtimepath'` 直下の `filetype.vim` が `:source` されます。

[2012-04-25 04:20] mattn commented on #192
便利！(ぇ

[2012-04-25 04:42] drakontia commented on #94
発生時の状況はこんな感じです。
http://www.flickr.com/photos/daisuke_miura/6963679752
ファイルはどれというより、どれでもなってしまいます。

vimのバージョンあげるのは、夜までお待ちを。

[2012-04-25 04:49] mattn commented on #94
![](http://farm8.staticflickr.com/7125/6963679752_1baee6e8e4.jpg)

[2012-04-25 07:32] koron commented on #192
複数ファイル読みに行くのはなんかアレですなぁ。

[2012-04-25 07:41] mattn commented on #192
エラーメッセージが2つでてる

[code]

前者はいらない気がする。

[2012-04-25 18:20] drakontia commented on #94
yum cronしかけているので、vimは随時最新でした。
MacのTerminalからsshでCentOSにつないでいるのですが、
Terminalでログをとるためにscriptコマンドを実行しています。
これが原因かとおもい、一度Terminalを再起動したところ、
正常に動作するようになってしまいました。。。

[2012-04-25 18:27] h-east commented on #94
@drakontia 了解です。また何かありましたらよろしくお願いします。

[2012-04-26 01:37] mattn commented on #94
そもそも

という時点で、エスケープシーケンスを投げたvimの責任では無い気がする。もしかして tmux+zsh と zshのみ の場合とで $TERM が違う？

[2012-04-26 06:21] h-east commented on #94
`relativenumber` の場合
1. (ユーザが)カーソル移動
2. 各ウィンドウの各行データの更新処理(カーソル移動により`relativenumber` 表示データ部分を更新する必要がある)
3. 各ウィンドウの描画処理
4. カーソル描画処理

で 2.や3.が処理されずに4.が処理されるケースがあるのかもしれないと思ってます。
質素Vim状態だと起きないがゴージャスVim(foldとhighlightingが富豪的かつtmux)で発生する感じ。

情報が寄せられたら追っかけてみます。それまでは放置。

[2012-04-26 06:37] koron commented on #94
tmuxの代わりにscreen使っても再現させられるのかしら? それ次第で身の振り方変えて良さそう。

[2012-04-26 06:42] mattn commented on #94
+1

↑のキャプチャを見る限り、最右端とその後続行で折り返しが見られます。端末によって最右端で文字を出力した場合に次のカーソル位置がどうなるかは端末によって異なったという記憶があります。
（むかーしむかしtelnetを作った程度の知識しかないですが http://mattn.kaoriya.net/tmp/sTelNet.c.txt)

[2012-04-26 06:53] h-east commented on #94
drakontiaさんのはVim関係ない気がします。たぶん。

[2012-04-26 06:57] mattn commented on #94
まぁ 100% 再現環境がないとつらいすな

[2012-04-27 01:28] ynkdir commented on #191
1 はやるならファイル切り替えの挙動も変えないといけない気がします。

2 は親切でいいと思います。

ただまあこういうどっちもありだなというものは扱いが難しいですねぇ。
気軽にこんなのどうよ？と提案できるスキルが私にあればよかったのですが…。

[2012-04-28 08:59] k-takata commented on #191
s:NextPage()を以下のようにすれば、勝手に次のファイルに行かないようになりますが、そこまですべきかどうかは分からないですね。次のファイルに行ってしまっただけなら、:N で戻ることは可能ですが、終了してしまったら戻りようがないので、それだけは直したいです。

[code]

[2012-04-28 09:11] k-takata commented on #191
おまけで、Windowsユーザー用に、less.shの代わりにless.batを作ってみました。
https://gist.github.com/2517336
less.shとは異なり、標準出力がリダイレクトされているかどうかは判定できないので、その場合の処理は省いています。

[2012-04-28 13:27] ynkdir commented on #191
もし vim_dev にもっていくなら最終的には Bram の判断なので好きな方でいいと思います。

[2012-04-28 15:23] ynkdir opened #193 "Ubuntu 12.04 の gvim がまともに動かない"
他に同じ問題に当たった人が見当たらないのでなんとも言えませんが一応書いておきます。

Ubuntu 12.04 にアップデートしたら gtk gvim がまともに動かなくなりました。

症状は
- 起動直後、ウィンドウを表示したところで1,2分止まる。
- メニューがグローバルメニューに表示されない (ウィンドウにくっついてる)。
- IM (ibus) で入力できない。

です。

念のため ubuntu クリーンインストールで vim-gtk パッケージで確認しましたがやはり動いてませんでした。

`gvim -f` で fork() を抑制すると正常に起動します。

うちの環境では `GTK_IM_MODULE=ibus` になってますが `GTK_IM_MODULE=xim gvim` にすることでも正常に起動します。ただし、この場合はメニューの問題は解決しません。

gtk +

[2012-04-28 17:14] mattn commented on #193
さっきubuntu入れ終わった所です。再現しました。

[2012-04-29 04:32] ynkdir commented on #193
確認ありがとうございます。
こまりましたね。。。

以前の話はおそらくこのへん
https://groups.google.com/d/topic/vim_dev/MUBFw65CRvE/discussion

[2012-04-29 09:31] ynkdir commented on #193
わからないのでとりあえず投げてみました。
http://groups.google.com/group/vim_dev/browse_thread/thread/6d453c5f4a499d69

[2012-04-29 10:19] ynkdir commented on #193
gvim in Precise can't connect to ibus and takes a long time to load
https://bugs.launchpad.net/ubuntu/+source/vim/+bug/987707

やっぱりibus関連の問題なんでしょうかね

[2012-04-30 03:33] k-takata opened #194 "日本語ドキュメントへのリンクが載っていない"
:help help-translated と http://www.vim.org/translations.php を見たところ、どちらも日本語ドキュメントへのリンクが載っていません。載せてもらった方がよいのではないでしょうか。

[2012-04-30 03:42] koron commented on #194
Requested.

https://groups.google.com/d/msg/vim_dev/CdEFUXoSqQ0/NzF964kYKegJ

[2012-04-30 03:53] h-east commented on #194
@k-takata ++
@koron 早っ! おつです。

[2012-04-30 04:34] koron commented on #194
たまたまですw

[2012-04-30 07:50] thinca commented on #190
別の報告を発見。

https://twitter.com/#!/okamo_dayo/status/196867782917373952

[2012-04-30 08:07] thinca commented on #190
詳しい環境を聞いてみました。
- Windows 7 Ultimate x86
- Vim 7.3.509 +kaoriya 32bit版
  - 本日DLしたとのことなので使用OSと組み合わせると恐らくこれ。
- Norton Internet Security 2012
  - 削除されるらしい

https://twitter.com/#!/okamo_dayo/status/196871140700991488
https://twitter.com/#!/okamo_dayo/status/196872355992174593

[2012-04-30 08:18] h-east commented on #194
Added. Johnさんありがとう。
https://groups.google.com/d/msg/vim_dev/CdEFUXoSqQ0/97i2ZNH-h7MJ

[2012-04-30 10:27] koron commented on #194
ハエーよwww

[2012-04-30 10:31] k-takata commented on #194
:help help-translated に載っていないのはどうしますか？

[2012-04-30 10:36] h-east commented on #194
あっ、すんません。クローズしちゃった＞＜     Reopen？

[2012-04-30 10:41] koron commented on #190
まーじかーw

[2012-04-30 11:11] koron commented on #190
シマンテックのフォーラム見てたらこんなんがあった。

http://communityjp.norton.com/t5/forums/forumtopicpage/board-id/NIS_NAV/thread-id/51
http://communityjp.norton.com/t5/forums/forumtopicpage/board-id/NIS_NAV/message-id/74/highlight/true#M74

WS.Reputation.1 ぽいなー

[2012-04-30 13:07] koron commented on #194
patch作って送れば取り込んでくれるでしょう

[2012-04-30 16:33] k-takata commented on #194
https://gist.github.com/2559599
パッチを作りましたが、その後どうすれば……状態です。

[code]

[2012-05-01 00:08] koron commented on #194
…なんでJapanese以外の行に修正が入ってるのですかね?改行コードか、タブ文字かしら?

必要のないところは変更しないパッチにしたほうが良いです。

[2012-05-01 00:13] mattn commented on #194
@k-takata ありがとうございます。ソースを修正するので、patch authorとして名前が必要になります。お名前を教えて下さい。譲渡する場合は私を含む他の人が代理投稿しますがpatch authorはその人になってしまうかと思います。

[2012-05-01 00:14] mattn commented on #194
@koron japanese は長いので「-」を位置をずらして頂いたのだと思います。

[2012-05-01 00:15] koron commented on #194
@mattn あ、そういうことかw

[2012-05-01 00:30] k-takata commented on #194
"Ken Takata"でお願いします。

[2012-05-01 00:33] mattn commented on #194
あ...その前に。ご自分でポストされます？

[2012-05-01 00:35] k-takata commented on #194
今回は代理でお願いします。

[2012-05-01 00:37] mattn commented on #194
了解です。
下手な英語になりますがご了承下さい。

[2012-05-01 00:44] mattn commented on #193
ちょっといやらしいですね。こまった。

[2012-05-01 03:07] mattn commented on #193
http://code.google.com/p/vim/source/detail?r=3ecf9e91d88acdb5eaaf93cc15a18914b60e0eb3

これも貼っておきます

[2012-05-01 03:08] mattn commented on #193
https://bugs.launchpad.net/ubuntu/+source/vim/+bug/776499

[2012-05-01 07:27] h-east commented on #82
todoリスト入り。

[2012-05-01 07:27] #82 closed, assigned to h-east

[2012-05-01 07:39] h-east commented on #185
todoリスト入り。

[2012-05-01 07:39] #185 closed, assigned to mattn

[2012-05-01 12:02] uakms commented on #194
本家の Documentation → Vimdoc site のようにたどると http://vimdoc.sourceforge.net に到達します。
ここでの Vim Help File Translations → Japanese Vim documentation のリンク先が www.kaoriya.net になっていますが、リダイレクト処理などはしないのですか？

[2012-05-01 14:04] koron commented on #194
Ploneの設定がめんどいのでとりあえずはリンクだけ貼りました。

vimdoc.sourceforge.comのほうに連絡とってみましょう。

[2012-05-01 14:18] koron commented on #194
[Requested](https://sourceforge.net/tracker/?func=detail&aid=3522782&group_id=36298&atid=416529)

[2012-05-01 23:41] Shougo commented on #193
ちなみに、これは私の環境(Ubuntu 12.04)でもベータ版の時から再現していて、Ubuntuの人の話では「UbuntuのGlobal MenuとGVimの機能が干渉しているのではないか？」という話でした。

おそらく、以前修正した時と同様にVim本体側で対応する必要があります。
ただ、それで修正されたとして、またUbuntuのパッケージ側でのGVimのバージョンは変更されないおそれがあるので、そのあたりの対処は難しいですね。

[2012-05-01 23:44] Shougo commented on #193
ここでタイムアウト待っているんですかね……。ちなみに、この現象は自分でコンパイルした最新版だろうが、@ynkdirさんのようにUbuntuのパッケージで用意されるバイナリを使用しようが再現します。

Ubuntu 12.04はLTSなので、今後使用者が増える前に対処したいところではあります。

[2012-05-01 23:58] mattn commented on #193
僕はubuntuオリジナル提供のgvimだと再現しません。
昨日virtualboxに入れたやつでも同じでした。
なんとなくiBusが犯人な気がするのでvimではどうしようもないかもしれない。

ただ昨日試した限りだとグローバルメニューの構築がタイムアウトしたというメッセージが表示されてました。

[2012-05-02 00:03] Shougo commented on #193
私の環境でも同じです。

私が試したのは、Beta2のときでしたので、それから正式版になるまでにUbuntu側のGVimに何らかの修正が入った可能性があります。こちらの環境でも試してみたいと思います。Ubuntu側で修正した内容がわかれば、それをVim本体に取り込むことができるかもしれません。

[2012-05-02 07:27] mattn commented on #193
おそらく、iBusが関連してか何かで fork する前に gtk_init もしくは gtk_init_check すると問題が発生するので以下の様にしてみました。

[code]

`-gf` された場合(gui.dofork==FALSEの場合)、はフォアグラウンド確定なので親プロセス側で `gtk_init_check()` を呼び出し、そうで無い、つまりは個プロセスを起動するのが確定している場合は `gtk_init_check()` は呼び出さず、`fork()` された後で呼ぶはずだった `gtk_init_check()` を呼び出しています。

一応、簡単な動作確認をやった限りだと動いてそうです。
人柱希望。

[2012-05-02 07:43] mattn commented on #193
これは今後の為にも `NOTE:` コメントがいるなー。
あと他のGUI向けのコードを変えちゃってるのを戻さなきゃ。

[2012-05-02 07:54] mattn commented on #193
コメント入れて修正しました。

[2012-05-02 08:20] Shougo commented on #193
mattn++;

[2012-05-02 11:25] uakms commented on #194
(前回のコメントは言葉使いがラフ過ぎたので訂正しました)
vimdoc.sourceforge.net は休止状態のようなのでリンクの更新は望み薄な感じですね。
リダイレクトではなくリンクの提示だけで十分だと思います。

[2012-05-02 12:45] ynkdir commented on #193
ありがとうございます。試しました。問題なく動いてます。

https://bugs.launchpad.net/ubuntu/+source/vim/+bug/987707
ここで詳しそうな人が解説してますが
gtk_init() で dbus 通信用のスレッドを作っていて
fork() (とおそらくexit()) するとそのスレッドが死んでしまうということらしいです。
固まるかどうかの違いは待ち処理の違いかなんかでしょうかね。

[2012-05-02 13:15] mattn commented on #193
ふむ。じゃぁこのままpatch送っちゃいますか。

[2012-05-02 13:31] mattn commented on #193
post https://groups.google.com/d/msg/vim_dev/bUU8X0pJnWk/p1GGzMggYOEJ

[2012-05-02 15:42] teramako opened #195 "同一ディクショナリをextendするとsegmentation faultで落ちる"
以下のコードで再現します。（Cygwin vim 7.2 で確認）

[code]

[2012-05-02 15:43] thinca commented on #195
最新版 Vim 7.3.515 でも再現を確認しました。

[2012-05-02 15:57] thinca commented on #195
パッチ書いてみた。こんなんで大丈夫?

[code]

[2012-05-02 16:12] mattn commented on #195
あとで提出しときます。

[code]

[2012-05-02 16:17] mattn commented on #195
oh, かぶった。

[2012-05-02 16:30] mattn commented on #195
thincaさんのやつの方が正しいな。

[2012-05-02 16:32] mattn commented on #195
あ、嘘。パッチあたってない奴でテストしてた。もうちょっと時間ください。

[2012-05-02 17:48] mattn commented on #195
うむ。両方入れた方がいいな。ってことで @thinca さん、パッチ混ぜて ok？

[2012-05-02 17:55] thinca commented on #195
OKです。

[2012-05-02 23:10] koron commented on #195
別件なのかもしれませんが
いま素の状態でこんなん試したらこうなったんですけど

[code]

'1'の値が空文字列になるのは変だなぁ、と思っています。
ふたりのパッチで結果はどう変わりますかね?
`{'1': 'foo'}` になることを期待しています。

[2012-05-03 06:08] thinca commented on #195
とりあえず私のパッチだけ当てた状態で試したところ、`{'1': 'foo'}` になりました。

[2012-05-03 07:29] thinca commented on #195
テスト書いてって言われてますね。
https://groups.google.com/d/msg/vim_dev/DdE3j2SuyNE/yfboal2N8PsJ

[2012-05-03 08:56] h-east commented on #195
`:help extend()` に

[code]

と書いてあるので、mattnさんのLISTの方のpatch(10113行目)はいらないんじゃないかと思います。
(LISTの場合は、patch当てる前の動作 == ヘルプに記述の動作 )

あと、mattnさんのDICTの方のpatch(10152行目)ありだとthincaさんのpatch部分まで処理が来ないんじゃないかと思うんですがいかがでしょう？
たぶんthincaさんのpatchだけで良い気がしマッスル。

[2012-05-03 13:07] Shougo commented on #97
https://github.com/Shougo/neocomplcache/issues/185

これ、私の環境で見た限りではまだ治っていないように見えます。
再現条件など、詳しい調査はしていませんけど……。

[2012-05-03 13:08] Shougo commented on #151
このまま放置していても仕方がないので、そろそろvim_devにパッチを投稿したいと思っています。
ここで問題になるのが、パッチの文面です。
どういう文章にすればいいのでしょうか。

[2012-05-03 15:28] h-east commented on #195
thincaさんのpatchにtest追加したpatch
patch前のeval.cで`test55 FAIL`を確認。patch後でALL DONEを確認。

extend()の第3引数に"error"が指定されてdict1とdict2に共通キーがある場合はE737にすべきなので、やっぱりthincaさんの修正だけで良いと判断しました。

[code]

[2012-05-04 07:29] h-east commented on #162
スギちゃんのブログ風
・<C-W><CR> のキーストロークを追いかけるぜぇ(^-^)
・ノーマルモードとビジュアルモードのキーテーブルは nv_cmds[] だぜぇ(^-^)
`:tj nv_cmds`
・<C-W>は内部では Ctrl_W だぜぇ(^-^)
`/Ctrl_W`
・nv_window() が処理関数だぜぇ(^-^)
`:tj nv_window`
・<C-W>以後のキーが確定したら do_window() を呼んでいるぜぇ(^-^)
`:tj do_window`
・<CR>は内部では CAR だぜぇ(^-^)
`/CAR`
・カレントバッファがquickfix windowだったら do_cmdline_cmd("split +1cc") を呼んでいるぜぇ(^-^)
`:tj do_cmdline_cmd`
・do_cmdline_cmd()はdo_cmdline()を

[2012-05-04 17:52] h-east commented on #162
`set switchbuf=useopen`設定でqfで`<C-W><CR>`した時に無名バッファが開く原因

#### 解説
- キー入力`<C-W><CR>`は内部でコマンドライン "split +1cc" に置き換えられる。
- コマンドライン "split +1cc" の処理は再帰で "split" と "1cc" で分けて処理される。
- "split"<br>
  "new" に置き換えられ、新規ウィンドウ(無名バッファ)を開く。
- "1cc" <br>
  quickfix windowの1行目の情報をさっき開いたウィンドウに表示しようと思ったら、既存ウィンドウで開かれていたのでカレントウィンドウをそっちに移動。**え？新規ウィンドウ？(´・ω・`)知らんがな**

#### 補足 (先頭括弧内の数値はgdbトレースバックの番号)
- (# 12) `<C-W><CR>`

[2012-05-05 14:04] mattn commented on #195
提出しといてくださーい。

[2012-05-05 15:01] h-east commented on #195
提出しました。
https://groups.google.com/d/msg/vim_dev/DdE3j2SuyNE/vcRayxHsMAkJ

[2012-05-05 15:25] mattn commented on #195
ありがとうだぜぇ？

[2012-05-05 15:28] h-east commented on #195
マイルドだろ～↑

[2012-05-06 10:59] h-east commented on #162
patch書いた。 # 11でdo_cmdline_cmd()を呼ぶ直前に`switchbuff`から`useopen`を抜いて後で戻すパターンのやつです。

[code]

[2012-05-07 00:08] mattn commented on #162
@h-east ++

[2012-05-07 00:35] mattn commented on #151
放っておいても誰もレス付かないと思いますよ。

[2012-05-07 01:57] h-east commented on #162
ううむ、`usetab`も抜いた方が良いですね。(別タブに対象バッファがない時だけ)
あと

[code]

みたいにautocmdで`+=` されたら。。微妙だなー。

[2012-05-07 03:55] mattn commented on #97
候補選択が表示された状態で何か文字を追加した時の処理にレジスタへの追加処理が必要っぽい。
もう少し要調査。

[code]

[2012-05-07 13:53] ynkdir commented on #151
まあやりたいことをストレートに伝えるしかないっす

[2012-05-07 23:20] Shougo commented on #97
ありがとうございます。

[2012-05-07 23:20] Shougo commented on #151
了解しました。ちょっと今提出するのは無理なんですが、時間を見つけてやります。

[2012-05-08 10:09] ynkdir commented on #193
手パッチで自動補正されてました。失礼しました。

[2012-05-08 10:37] mattn commented on #193
実は僕も、virtualpc 上で動作確認して、gistに貼れる術がなくて（設定がめんどくさくて)、手元のwindowsでパッチ当てた際に失敗してました。

[2012-05-08 14:27] koron opened #196 "MacVimを起動したターミナルでbackend用Vimが起動する"
**またMacVimか** とか言われても仕方ないかもw

https://twitter.com/#!/splhack/status/199859937650810880

ポイントは [コレ(7.3.499)](ftp://ftp.vim.org/pub/vim/patches/7.3/7.3.499) とのこと。
とりあえず499は当てないで、MacVim側での修正を待つ方針。

村岡の推測: MacVim側のプロセス待ちロジックを崩してしまってるっぽい。

影響評価としては思ってるよりは深刻化するケースがあるかも。というのはこれ戻しちゃうと if_\* の挙動が変わるので、それを期待しているスクリプトが動かなくなっちゃう。いやそもそもそんなスクリプト自体、少ないのかもだけど…

てなところで備忘録的にissue立てておきます。

[2012-05-08 14:30] koron commented on #196
[ワークアラウンド](https://github.com/splhack/macvim/commit/e367f4b575d31442f7dde51704c468c85a6597d0) なかはちゃんと読んでない。

[2012-05-08 14:31] koron commented on #196
あ、読んだ。499の効果をMacVimの時だけ打ち消すワークアラウンドだった。

[2012-05-08 14:31] thinca commented on #196
![](http://cdn-ak.f.st-hatena.com/images/fotolife/u/ujihisa/20101012/20101012130234.png)

[2012-05-09 12:50] mattn opened #197 "ヘルプのタグでマルチバイト文字を使いたい"
いろいろ考えなきゃいけない事があるのは分かってるんですが

[code]

とか

[code]

とかハイライトされて欲しい。例えばファイルタイプがhelpで、かつ拡張子が`x`で終ってたら多言語ヘルプファイルなので、それを見て `syntax/help.vim` が動作を変えるとかどうだろう。

[2012-05-09 12:54] mattn commented on #197
もしくは vim-jp/vimdoc-ja に syntax/help.vim を足してオリジナルにマルチバイト分を足すようにしても良いかもしれない。

[2012-05-09 23:27] koron commented on #197
まずはsyntax/help.vimを足す案に賛成。

一般的な仕組みとしてはどう考えるのが良いんだろうか? いまので十分かな?

[2012-05-10 00:21] mattn commented on #197
ひとまず ftdetect/jax.vim で

[code]

として現状ある syntax/help_ja.vim をこうしたら出来た。

[code]

[2012-05-10 11:01] ynkdir commented on #197
ftplugin と違って syntax は foo_hoge.vim, foo/hoge.vim は読まれないのかー
てっきりロードされると思ってました。

[2012-05-10 11:06] mattn commented on #197
足しますか？

[2012-05-10 11:15] ynkdir commented on #197
あれ、help.vim は自前で help_xx.vim を読み込んでました。
ので help_ja.vim に足すだけで大丈夫ですね。

[2012-05-10 11:16] mattn commented on #197
まじですか？うちとこ読まれてないす。 pathogen 管理してます。

[2012-05-10 11:18] ynkdir commented on #197
まさに多言語用に用意されてます。

help.vim:

[code]

[2012-05-10 11:22] mattn commented on #197
すんません！うちとこ大昔に ~/vimfiles/syntax においたのが残ってました＞＜

[2012-05-10 11:23] mattn commented on #197
ちゅうかこれ :runtime! じゃなくて良いの？

[2012-05-10 11:29] ynkdir commented on #197
まーあったほうが安心ですかね

[2012-05-10 11:29] mattn commented on #197
って事で、あとはどれ追加するかを議論しましょう。

[2012-05-10 11:36] mattn commented on #197
こんなのでどうでしょ。

[code]

タグジャンプ出来ないけど。

[2012-05-10 11:51] mattn commented on #197
なんでマルチバイト文字のタグでないんだろ。

[2012-05-10 12:14] ynkdir commented on #197
`*漢字*` とか `|漢字|` とか :helptags も CTRL-] もいちおう動くみたいです。

これは行末していらなくないですか

[code]

[2012-05-10 12:21] mattn commented on #197
あーわかった。

[code]

utf-8で処理せずにmb_xxxで処理してるからcp932だとケツの*が見つからないんすわ。

[2012-05-10 12:22] mattn commented on #197
issueに出しときます。

[2012-05-10 12:23] mattn opened #198 "encoding=cp932だとマルチバイト文字を含むヘルプタグが正しく認識出来ない"
#197 関連

[code]

少し寝かせてから出します。

[2012-05-10 12:24] mattn commented on #198
ちゅうか寝かせる必要ない。
出します。

[2012-05-10 12:24] mattn commented on #198
あーでも一応、誰かレビュープリーズ

[2012-05-10 12:27] ynkdir commented on #197
&enc に変換しないでパースしてんすね。おそろしい。

[2012-05-10 12:33] mattn commented on #198
おまけにファイル名が日本語で、タグ名がutf-8だとtags-jaに混在するからいろいろ酷い。
まぁ、そっちは別でやるか。

[2012-05-10 12:36] mattn commented on #197
だんだんカオスになってきた

![](http://go-gyazo.appspot.com/5685f59fa919a8f3.png)

[2012-05-10 12:55] ynkdir commented on #198
んー、なかなか苦渋の修正といったとこでしょうか…。

ここは latin1 or utf-8 固定なので vim_strbyte() でどうですか。
あとなにか危険なコメントが欲しいようなきがしますがまーこれはべつにどうでもいいですが。

[code]

[2012-05-10 23:40] Shougo commented on #151
https://groups.google.com/group/vim_dev/browse_thread/thread/ccc84884a02bff21?hl=ja

パッチ出しました。私のつたない英語でどれだけ意図が伝わるかが不安です。

[2012-05-10 23:53] mattn commented on #151
問題ないと思います。

[2012-05-10 23:58] mattn commented on #198
あー確かに。
このパッチにしますね。コメント閉じ、たしときます :)

[2012-05-11 00:12] mattn commented on #198
https://groups.google.com/d/topic/vim_dev/0Z8r1vZc2tE/discussion

[2012-05-11 00:26] h-east commented on #151
@Shougo ++

[2012-05-11 00:39] Shougo commented on #151
チェックありがとうございます。今後の議論の行方を見守ります。

[2012-05-11 06:35] comuttun opened #199 "矩形選択モードでWindowsのクリップボードにyank すると、必ず改行コードが含まれる"
Windows 7 64bit にて、
Ctrl-V で矩形選択し、改行コードが含まれない部分を "*y で yank すると、
必ずクリップボードに改行コードが含まれます。
- 正常に動作しない環境
  - Windows 7 64bit
    - VIM 7.3, 1-434 patched, MS-Windows 32 bit GUI
  - Windows 7 64bit
    - VIM 7.3, 1-515 patched, MS-Windows 64bit GUI
- 正常動作している環境
  - Windows XP 32bit
    - VIM 7.3, 1-434 patched, MS-Windows 32 bit GUI

なお、Windows のクリップボードを経由した yank にだけ問題があり、
vim 内部のレジスタを使う分には問題が発生していません。

[2012-05-11 06:51] comuttun commented on #199
いくつか試してみてわかったことがありますので、追記いたします。
- Ctrl-V で範囲選択後、 Ctrl-Insert で yank
  - 改行コードが含まれる
- マウスで範囲選択後、"*y で yank
  - 改行コードが含まれない
- マウスで範囲選択後、 Ctrl-Insert で yank
  - 改行コードが含まれない