[2013-10-03 12:13] koron commented on #461
実際にやってみてやはり選択肢はキャッシュ方式しかありえなさそう。
キャッシュされて困るのはプラグイン作者くらいだろうし、このまま進めるのが良さそう。

[2013-10-03 15:19] ichizok commented on #461
私のvim環境に近い設定を加えて測定しました

[code]

@koron

「ユーザが明示的に指定できれば `autoload` 以下をマッピングする手間が省ける」と思ったんですが
この速さなら必要なさそうですね。

[2013-10-03 16:19] ichizok commented on #461
Macの結果
OS X 10.8.5 / 2.5GHz Core i5 / 16GB mem

[code]

[2013-10-03 22:44] Shougo commented on #473
syntaxファイルでも問題は同じですからね……。

C++でいうと、C++11に対応するのは大変そうですね。個人的にはD言語への対応が欲しいですし、@mattnさんならGoへの対応が欲しいといいそう。

https://github.com/lyosha/ctags-go

Go対応しているのはfork版があるみたいです。D言語は昔にパッチがあったかな。

[2013-10-03 22:49] Shougo commented on #461
最初のキャッシュのコストが気になるのですが、どのくらいでしょうか。

[2013-10-03 23:41] osyo-manga commented on #473
関係あるかどうかわかりませんが、LLVM/Clang で実装された ctags がありますね。
使ったことがないのでどの程度使えるのか未知数ですが…。

https://github.com/drothlis/clang-ctags

[2013-10-04 01:36] koron commented on #461
厳密な回答ではないですが `globpath(&rtp, "autoload/**/*.vim")` とほぼ同じです。
気になるなら測定してみてください。
ちなみにキャッシュ構築は最初のautoload関数呼び出し時に行われるので
計測時間にはそれも含まれているはず。

[2013-10-04 01:43] mattn commented on #473
LLVM/Clang で実装された、のではなく、clang のパース機能を使って tags を生成する python スクリプトといったところ？

[2013-10-04 01:59] Shougo commented on #461
了解です。私の環境だと0.166262でした。

確かに、計測結果がrtpの数に依存していないみたいなのでこのキャッシュ生成のコストが支配的なのでしょうね。

[2013-10-04 02:28] h-east commented on #473
@Shougo @osyo-manga @mattn 情報thanksです。

コンパイラやスクリプト言語のパースを使って本気解析してtags作るのはありだと思うし、コンパイラやスクリプト言語は標準でそういう機能を持って欲しい。(もうそういう流れになりつつある？)

ctagsの位置付けとしては...
- 自前で構文解析するので完璧じゃないけどある程度いい感じにtags作成するよ。だからコンパイラ等の環境がなくってもソースコード解析気軽にできまーす。

なのかなと思ってます。
ということで`完璧未満のいい感じ`をキープすればいいんちゃいますかね。
人によって`いい感じ`の定義が大分違うと思いますがｗ

[2013-10-04 02:54] DeaR commented on #473
D言語パッチは
http://www.prowiki.org/wiki4d/wiki.cgi?ReferenceForTools/ExuberantCtags
にあったりはします

しかしながら問題は
- D言語自体のverに追いついて無さそう(な気がする)
- License等々の連絡つけにくそう

[2013-10-04 03:03] Shougo commented on #473
はい。そういう問題があると思います。昔見た感じだとC++？かなんかのパーサをベースに簡易的に実装した程度だったので
別にこれをfork版にマージする必要はなく、参考にする程度でよいかと思います。

clangが持っている機能（補完、定義元ジャンプ）はおそらく内部でctags的なことをしているのでそれはトレンドだと思います。Goにも似たようなツールがあるようですし。言語ごとで独自ツールを作成する流れにはなってきていますね。

分かります。汎用性とメンテナンス性を重視するとそうなるかと。
ただ、要望としてはいろんな物が来ると思いますので、それらをどう取捨選択するかが今後の課題となりそうですね。

そういう意味では、C++, Javaとかのctags実装は頑張り過ぎなんですが、そうでもしないと解析できないんでしょうかね。

[2013-10-04 05:45] ynkdir commented on #466
メモ

clear_cmdline が TRUE になって

[code]

コマンドラインがクリアされる

[code]

ここで分岐

[code]

[2013-10-04 05:53] ynkdir commented on #466
あなるほどそれでNOT_VALIDか

[2013-10-04 06:11] h-east commented on #473
@DeaR 情報Thanks.

---

@Shougo

DeaRさんが教えてくれたところのpatch見ましたが内部の構文解析部分にがっつり手を加えています。すごいです。
簡易的には見えなかったよー。

ある程度はまともにパースしないと無理だと思います。
余談ですが、C/C++の場合はプリプロセッサ(#if, #ifdef)があるので余計に面倒くさい。
ctagsは#if 0だけを特別視してあとは全部「真」として処理してます。

---

プログラム言語のEBNFとどれをタグ出力して欲しいかの指定を食わせると自前で取り込んで自己進化するプログラム下さい！

[2013-10-04 06:27] Shougo commented on #473
そうだったのですか。私も昔読んだだけなので曖昧で、ctagsの内部構造もよくわかっていないので、勘違いしていたようです。すみません。だとすると、どうにかコンタクトを取ってパッチを取り込めると良いかもしれません。

そうですね。ほとんどコンパイラみたいなことしないとダメですもんね。

私も欲しいです。Boost.Spiritあたりがそれに近いんですかね？

[2013-10-04 06:29] Shougo commented on #473
D言語のパッチに関しては、オリジナルのパッチ製作者であるるびきちさんにはコンタクトが取れそうな感じはします。
その後のパッチはコンタクトを取るのは大変でしょうね……。

[2013-10-04 06:57] DeaR commented on #473
- 予約語の追加
- D特有のkindを追加
- C/C++/C#/VeraのC系言語用パーサーにDの判定を追加

パッチを分類分けすると少ないですが同じように言語追加を自作する気は起きないです。凄いです。

また、5.6と5.8のパッチを比べるとDのVerUpで追加された予約語が増えてるくらいで根本は変わってないですね。
結局コンタクトを取りたい事には変わりませんが…

[2013-10-04 08:26] heavenshell commented on #473
Objective-C は @splhack さんが手を加えられてたはず…。
https://github.com/splhack/ctags-objc-ja
MacVim Kaoriya 版に組み込まれていたと思います。

[2013-10-04 08:30] Shougo commented on #473
それはうまいこと統合しておきたいですね。

[2013-10-04 08:36] h-east commented on #473
@heavenshell 実は本家のリポジトリにもObjective-C対応のコミットはされているんだけど、リリースされていないのであります(苦笑)

[2013-10-04 08:45] h-east opened #474 "'equalalways'オプションがonなのにウィンドウ分割時にウィンドウサイズが均等にならない事がある"
バグかどうか微妙なところだけど登録しとく。

GVim 7.4.16 (Win64 +kaoriya) on Win7 64

[code]

手順

[code]

'equalalways'オプションのhelpの最後の2行に該当してそう(内部的に)

[code]

[2013-10-04 08:47] Shougo commented on #473
それは……。Objective-Cプログラマは現在多いようなので、こっちでforkしたバージョンで対応できるなら喜ばれそうですね。

[2013-10-04 09:18] koron commented on #473
ちょっと方向性について決めてしまいましょう。私は以下のように考えていますがいかがでしょうか?
1.  ctags の fork を vim-jp でメンテする
2.  fork した版は最新の言語をガンガンフォローアップしていく
3.  設定ファイルとか書かなくても多くの言語に対応できるようにプリセットする

[2013-10-04 09:19] koron commented on #473
この最低限の3つに異論がある人は意見をお願いします。

[2013-10-04 09:21] koron commented on #474
`noequalalways` 運用なのでパス!

[2013-10-04 09:54] Shougo commented on #474
ウインドウ分割はプラグイン側で対応するときも苦労させられるので、実装が難しいとわかっている以上、対応は非常に難しいのではないでしょうか……。

[2013-10-04 09:56] Shougo commented on #473
異論ありません。ただ、このforkしたバージョンが完成したら、vim_devでも宣伝するのかは気になっています。

[2013-10-04 10:11] ichizok commented on #461
`foo#bar#run()` のようなサブディレクトリ以下にある関数が探せないようです。

[2013-10-04 10:46] crazymaster opened #475 "ツールバーのアイコンを新しくしてはどうか"
[Big Sky :: GVim のツールバーをカッコよくしてくれるプラグイン「vim-toolbar-icons-silk」](http://mattn.kaoriya.net/software/vim/20130909212224.htm)

Windowsの人は喜びそう。

[2013-10-04 11:24] ynkdir commented on #474
意図的みたいです。

patch 7.1.068
https://groups.google.com/d/topic/vim_dev/aVi1xE4Hr7E/discussion

[2013-10-04 11:28] ynkdir commented on #474
`:split` のバグ修正のつもりで直したので `:split` のヘルプの方に書いたらしいです。

[2013-10-04 15:28] ynkdir commented on #466
すいませんマクロかなんかで複数のコマンドを実行したときにまずかったみたいです。

[code]

[2013-10-04 16:14] koron commented on #461
@ichizok Thanks! それら修正し、同時に幾つか制御関数も追加。ほぼ完成。

https://gist.github.com/koron/6803567

ちょっとテストしてみてください。

[2013-10-04 18:10] k-takata opened #476 "日本語をスペルチェックから除外する"
`:set spell` でスペルチェックを行うと、日本語が間違いとして検出されてしまいます。
todo.txt にも以下の記載がありますが、これを何とかしたいです。

---

とりあえずオプション化せず、東アジアの文字をスペルチェックから除外するだけのパッチ。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/f77ba41c22c8f1f132c6a75936db3d85c72f4c0e/exclude-east-asian-chars-from-spell-checking.patch

[2013-10-04 18:14] k-takata commented on #466
うっ、何かいい案あります？

[2013-10-05 01:39] Shougo commented on #475
良いと思います。あとは配布条件ですが、プラグインで同梱しているものがあるという事は配布可能なのかな。

[2013-10-05 01:40] Shougo commented on #476
はい。私はオプション追加に反対なので、それで良いと思います。

[2013-10-05 03:02] h-east commented on #473
@koron
1 賛成
2 私は必要最低限の対応で済ませたい。
3 私はある程度メジャーになった言語を追加する感じでいいかなと考えている。

こんにちは。ラガード東です。

[2013-10-05 03:06] koron commented on #473
これの客観的な指標、なにか考えられます?
主観でやるならグループで管理する以上、早晩無制限になりますよ。

[2013-10-05 03:07] koron commented on #473
あ、私の「最低限の方針」は技術的な実現可能性は度外視してるね。申し訳ない。

[2013-10-05 03:26] h-east commented on #474
@ynkdir 情報ありがとうございます！
リンク先を粗く読んだけど理解出来なかった。汗。
あとでも一回読みます。

[2013-10-05 03:32] h-east commented on #473
ノープランでした。
Githubの統計のTop 30 プログラム言語に入ったら...とかどうです？

[2013-10-05 04:36] koron commented on #473
緩くするならパッチや設定とテストが提供されたら、というのでも良いかも。

[2013-10-05 07:55] Shougo commented on #473
需要があるかどうか、というところですね。少なくとも複数人が欲しい、と思う必要があります。

[2013-10-05 08:29] tyru commented on #471
問題になるケースなんてあるんですか？
一応vim-users.jpで過去に書いた記事を載せておきます。
http://vim-users.jp/2010/10/hack179/

[2013-10-05 08:39] thinca commented on #471
`:set nocompatible` すると、`'history'` が Vim の規定値である 20 に設定されるため、設定した瞬間にコマンドラインの履歴が 20 まで削られます。

[2013-10-05 08:56] tyru commented on #471
なるほど。
compatibleは色んなオプションが変更されるので他にもあるかもしれないですね。

[2013-10-05 10:43] k-takata commented on #114
投げました。
https://groups.google.com/d/topic/vim_dev/SML3mtGd50s/discussion
(投げる直前に、 https://retracile.net/blog/2013/09/12/23.00 で 7.4.016 向けのパッチが出ていたことに気づきましたが…ま、いっか)

[2013-10-05 11:40] koron commented on #473
反対って人がいないので作りました。 https://github.com/vim-jp/ctags

以後は向こうで相談ってことで。

[2013-10-05 11:45] h-east commented on #473
@koron ++

[2013-10-05 12:11] #473 closed, assigned to nobody

[2013-10-05 16:25] ynkdir commented on #466
メッセージを適当なタイミングで消すのがうまくいってないので
フラグかカウンタかで表示済みのメッセージかどうかをみるとか
タイミングを変えるとか (例えばCursorHold) ですか
表示系は難しいですね…

[2013-10-06 05:13] ichizok commented on #461
パス名に '/autoload/' を含む rtp 下にある autoload スクリプトが読めなくなってます。
(`set rtp=/hoge/autoload/vim` のとき `/hoge/autoload/vim/autoload/script.vim` が読めない)

ユーザ名が 'autoload' だったりすると悲惨なことに...

[2013-10-06 05:13] koron commented on #461
既知の問題として書いてあります。

[2013-10-06 05:14] ichizok commented on #461
すみません、https://gist.github.com/koron/6803567 に書いてありましたね

[2013-10-06 05:14] koron commented on #461
https://gist.github.com/koron/6803567#file-00readme-mkd ＜ここね。

[2013-10-06 08:53] thinca opened #477 "<SNR> のマッチの仕方が 'regexpengine' の値によって違う"
バグかどうかわかりませんが、`'regexpengine'` オプションの値によって動作が変わる現象に遭遇したので報告しておきます。

[code]

このコマンドを実行した時、`:set re=1`(旧エンジン) の場合には何にもヒットしませんが、`:set=2`(新エンジン) の場合には s: な関数にヒットします。

関係あるかどうかわかりませんが、`:set encoding=utf-8` な環境で確認しています。(別の場合は未検証)

[2013-10-06 09:01] thinca commented on #477
[code]

これが、`:set re=1` だと 0 で、`:set re=2` だと 1 になるのを確認しました。

[2013-10-06 09:03] thinca commented on #477
環境書き忘れていたので追記。

Gentoo Linux: Vim 7.4.50 64bit
Windows: Vim 7.4.41 64bit

[2013-10-06 09:58] ynkdir commented on #466
フラグは msg_didout があるっぽいです
がなんにしろ厳しそうな感じです。

けっきょく NOT_VALID が安定なんですかねえ
でもこれもよくわからないので確実とはいいがたい

[2013-10-06 10:16] ynkdir commented on #477
https://github.com/vim-jp/issues/issues/390#issuecomment-19025512
これと同じっぽいですね

[2013-10-06 14:06] thinca commented on #477
ログ読んでみたんですが、結論がよくわからず…仕様でしょうか?

[2013-10-06 15:36] ynkdir commented on #477
そんな感じだと思います。

ただまあバグっぽい動作ではあるのでなんとも言えませんが。

`<SNR> == <80><fd>R`

これをコンパイルするときに不正なバイトを 1 バイトずつ utf8 に変換してしまっていて `\x80\xfd\x52` が内部では `\xc2\x80\xc3\xbd\x52` になってます。

[code]

[2013-10-06 15:47] thinca commented on #477
ふーむ。どういう挙動をするにしても、`'regexpengine'` の値で動作が変わるのは問題がありそうなので、どちらかを修正するのが良さそうな気がしますが…。
それとも両エンジンの動作互換性って重視されていないんでしょうか?

[2013-10-06 16:45] k-takata commented on #477
正規表現のテスト (test64, 95) は、re=0, 1, 2 で同じ結果になることを確認しているので、それなりに重視はしているはずですが、不正なバイトの扱いは実装が違うために放置といったところですかね。

https://groups.google.com/d/msg/vim_dev/t74p9B0oxsA/ecC5CTtFkOkJ

[2013-10-06 16:49] thinca commented on #477
と言うことは、直す必要がないのではなく、直すのが困難であるため手を付けられていない感じですね。理解しました。
私の理解が間違っていなければこの Issue 自体は有効かな?

[2013-10-06 16:56] k-takata commented on #114
todo.txt が更新されました。

[2013-10-06 23:22] Shougo commented on #114
ついにtodo入りですね。ここはcloseはしないのでしょうか。

[2013-10-07 00:17] k-takata commented on #114
ついにというか、このissueが立てられたときには既に入っていて、それが更新されただけですから…どうしましょうか。
他に何かやるべきことがあるかというと、上に書いたように、screen.c の FIXME を直すとか、テストを追加するとか、バグがないか徹底的に叩きまくるとか…

[2013-10-07 00:37] Shougo commented on #114
たしかにそういうことはできそうですね。

[2013-10-07 07:37] mattn commented on #476
これは取り入れられそうなので早速送った方がよさそう。

[2013-10-07 11:56] alpaca-tc commented on #476
+1

[2013-10-07 12:04] k-takata commented on #476
Warningが出ていたので、直して投げました。
https://groups.google.com/d/topic/vim_dev/svbOqepFBFE/discussion

[2013-10-07 13:01] k-takata opened #478 "strikethroughパッチを改良する"
Christian Brabandt 氏による [strikethrough パッチ](https://groups.google.com/d/topic/vim_dev/yUyvmKIG8-Q/discussion)というものがあり、これを使うと、打ち消し線を表示できるようになります。

とのことですが、Windows でも試してみたところ、問題なく動作しているようでした。

[code]

次に気になるのがこれ。

term.c, term.h については私も全く分かっていませんが、undercurl と同じようにするのであれば `t_Cs`, `t_Ce` に相当するオプションの追加が必要ではないかと思います。ただ、何という名前にすべきか分かりません。

最後に、`highlight` オプションにも strikethrough モードの追加が必要ではないかと思います。とりあえずフラ

[2013-10-07 13:05] h-east commented on #478
Nice aggressive! 素晴しす！

[2013-10-07 22:26] k-takata commented on #476
Hmm, これはオプションにすべきという流れか。

[2013-10-08 15:07] msmhrt commented on #477
亀レスですみませんが、「不正なバイトシーケンスを含む正規表現は、正規表現エンジンの種類次第で結果が変わることがある」のは仕方ないと思いますが、正規表現で`<SNR>`を不正なバイトシーケンスを含む文字列として扱うべきかどうかは別問題なのでは？

`<SNR>`を正規表現で特殊文字として特別扱いするのが面倒等の理由で、不正なバイトシーケンスとして扱われてしまう制限が存在するのであれば、それはヘルプで特記すべき事項だと思います。

[2013-10-08 15:55] k-takata commented on #476
`'spelllang'` に "nocjk" を追加すると、CJK の文字をスペルチェックから除外するようにしてみました。
https://groups.google.com/d/msg/vim_dev/svbOqepFBFE/3JGfeFJy0jgJ

[2013-10-08 22:51] k-takata commented on #476
"nocjk" ではなく "cjk" にすべきだと言われたので修正しました。
https://groups.google.com/d/msg/vim_dev/svbOqepFBFE/HhNqpO6H1zwJ

[2013-10-08 23:21] tyru commented on #477
前のエンジンも "<Plug>" =~# "<Plug>" が0を返したような。
それでvim_devに報告したら Masami HIRATA さんと同じような事(正規表現に "<Plug>"
を含むのはパターンとしておかしい、サポート外だ)を言われました。
まぁ確か返信してきたのはBramじゃなかったですけど。

2013/10/09 0:07 "Masami HIRATA" notifications@github.com:

[2013-10-09 00:50] rhysd opened #479 "新正規表現エンジンで後方参照を使っていると正しくマッチしない場合がある"
### 問題点

[code]

は `set re=1` のとき `\1` が `a` にマッチしますが，`set re=0` または `set re=2` のときはマッチしないようです．

[code]

は問題なくマッチするので，グループ化部分と後方参照部分の間に何か文字が挟まるとマッチしなくなる気がしています（推測）
### 再現環境
- Ubuntu 12.04
- Vim 7.4-45

[2013-10-09 02:46] koron commented on #479
パターンから考えるにバックトラックからNFAに変わったせいだよね。
ただ本当はそういう正規表現は書くべきではないんだけどね…
(そもそも厳密には正規表現とは言えないし)

とりあえず問題を避けるだけなら `/\%#=1` を足すのオススメ。

[2013-10-09 09:16] k-takata commented on #19
あれっ、todo.txtに入っていたはずが、消されてました…

[code]

そういえば、aync パッチは long long 型を使っていたと思うのですが、Vim では 64bit 型は定義していないのでしたっけ？ long long をそのまま使ってしまうと VC6 でコンパイルできなくなってしまいます。
（そろそろ VC6 は捨ててもいいのではないかと思いますが、つい最近も VC6 対応のためのパッチが入ったので、まだ VC6 はサポートする方針のように思われます。）

[2013-10-09 09:27] Shougo commented on #19
Bram氏はたまにtodo.txtから消すのですが、せめてその理由の説明くらい欲しいですね……。

[2013-10-09 09:31] h-east commented on #19
ここは正確無比な突っ込みに定評のあるあの方にアクションを起こして頂きたい。

[2013-10-09 13:08] rhysd commented on #479
正規表現エンジン周りについて知識が無いのですが，`re=0` と `re=1` で挙動が違うのはバグと見て良いんでしょうか？

確かにそれはおっしゃる通りですね…

とりあえずはそれで対処しようと思います．
ちなみに，`'re'` や `/\%#=` が実装されているかどうかってどうやってチェックできますでしょうか？ `:help 're'` や `:help /\%#=` 見た限りでは載っていないようなのですが…

[2013-10-09 13:15] osyo-manga commented on #479
`'re'` は `exists('+regexpengine')` で判定すればよいと思います。

[2013-10-09 13:17] rhysd commented on #479
おお，ありがとうございます．とりあえずのほうはそれでいきます．

ちなみに，この件はバグ報告したほうが良いでしょうか？

[2013-10-09 13:18] osyo-manga commented on #479
`re=0` の場合は自動的にエンジンが選択されるので（re=1 の場合もあれば re=2 の場合もある）挙動を比較するのであれば `re=1` と `re=2` の場合の挙動を比較するのが正しいような気がします。

[2013-10-09 13:31] k-takata commented on #479
した方が良いと思います。

7.4.029 で re=0 と re=2 は同じになってしまったのではないかと思います。

[2013-10-09 13:31] rhysd commented on #479
うーむ，NFA  エンジンは未実装の機能とかもあるらしいので，`re=1` と `re=2` で結果に差異があるのは問題ない気も…
`re=0` が，"使える時のみ NFA エンジンを使う"設定なのなら，`re=0` と `re=1` の挙動が一致していないといけないと思ったのですが，どうなんでしょう．

[2013-10-09 13:31] rhysd commented on #479
承知しました．
時間あるときに文面考えてみるので，どなたかざっとレビューしていただけると嬉しいです．

[2013-10-09 13:38] osyo-manga commented on #479
oh! そうなのですか…。

なるほど。そういう事であれば @rhysd さんの比較が正しいですね。
失礼しました。

[2013-10-09 13:44] k-takata commented on #479
https://groups.google.com/d/msg/vim_dev/HcZVZT7fQno/ID_SndJv6CcJ

[2013-10-09 13:46] rhysd commented on #479
いえ，ありがとうございます．
vim_dev 漁り中…
いくつかの issue みた感じ，ここのトピックをそのまま訳せば済む感じでしょうか

[2013-10-09 13:48] rhysd commented on #479
@k-takata おお，ありがとうございます．確かに `re=0` と `re=2` は同じ意味になっているっぽいですね…

[2013-10-09 14:03] rhysd commented on #479
[code]

こんな感じでどうでしょう．

[2013-10-09 14:22] k-takata commented on #479
ここは違うと思います。
削除された機能は、NFAエンジンで正規表現のコンパイルに失敗したときに、BTエンジンでコンパイルし直すというものです。今回のパターンはNFAエンジンでのコンパイルは通っています。

[2013-10-09 14:59] rhysd commented on #479
レビューありがとうございます．
なるほど．思い違いをしていました．
ではその行と URL を削って，

[code]

な感じでしょうか．
原因についてまったく考察できていないのが若干気になりますが…

[2013-10-09 15:13] saitoha commented on #478
現在手に入る端末でも、ECMA-48/ISO-6429標準で定義されている打ち消し線を実装しているものがいくつかありますので、端末用に t_?? 形式のオプションを定義してやる意義は十分にあると思います。

??の部分はtermcapのcap名が入るようですので
X/Open cursesやman terminfoで名前を調べてみようと試みましたが、
どうやら打ち消し線に相当するアトリビュートは無いようでした。
http://pubs.opengroup.org/onlinepubs/9693989999/toc.pdf
https://groups.google.com/forum/#!topic/comp.terminals/KWn-OGUzjd4

したがって、既存のcap名と衝突しないような独自の名前を選ぶとして、
t_SS / t_SEとするのが適当ではないかと考えています。

[2013-10-09 15:34] saitoha commented on #478
パッチを見たところ、option.cの方もいじってt_??を追加した方がよいと思います。

[2013-10-10 00:09] k-takata commented on #479
いいと思います。

[2013-10-10 03:32] k-takata commented on #478
undercurl を参考に、t_Ts, t_Te にでもしようかと考えていましたが、どうしようかな…。

option.c の修正は完全に見落としていました。
undercurl のコードを参考にしていたのですが、t_Cs / t_Ce がヘルプには載っているにも関わらず、option.c の修正が抜けています。

打ち消し線に対応する端末はあるが、termcap では対応する cap が無いということなので、term.c の set_termname() の修正は元に戻した方が良さそうですね。（undercurl も同様？）

[2013-10-10 15:41] rhysd commented on #479
バグレポート出しました．
レビューありがとうございました．

[2013-10-10 16:06] saitoha commented on #478
一応screenとtmuxの独自拡張の方も見てみましたが、t_Ts, t_Teでも衝突は無いようです。

 set_termname() の修正はユーザがtermcapをいじることを考えて、残した方がいいんじゃないかと思います。

[2013-10-10 17:04] h-east commented on #479
@rhysd :+1: 乙です。

vim_devにレポートを出した場合はその反応をみてからクローズする運用になっています。
https://github.com/vim-jp/issues/wiki/Member

vim_devに投稿が出てきたらリンクをここにコメントしてもらえると助かります。

(なので再オープンさせてもらいますね:smile:)

[2013-10-10 17:21] k-takata commented on #478
確認ありがとうございます。

t_Ts, t_Te な版。highlight オプションの strikethrough 用フラグ名は t。
(t_SS, t_SE にするなら、highlight オプションのフラグ名は S ですかね。)
option.c を修正し、strikethrough とあわせて undercurl の t_Cs, t_Ce も追加。
(undercurl が使える端末なんてあるんでしょうか。)
https://bitbucket.org/k_takata/vim-ktakata-mq/src/580abbf0fd160eb92e4f185b3cad6e20181c108f/update-strikethrough.patch

[2013-10-10 20:49] k-takata commented on #479
リンク
https://groups.google.com/d/topic/vim_dev/-XGEZeAcmFY/discussion

[2013-10-11 01:26] k-takata commented on #19
https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/vOudUjDwgUkJ

何らかの形でtodoに追加しておくということなので、ひとまず安心。
:timer コマンドについては、todoに以下のような記述があります。

[2013-10-11 01:29] k-takata commented on #19
コーディングスタイルがぐちゃぐちゃだったので、修正したものを投げておきました。
https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/ZN3DlTYd2BkJ

[2013-10-11 01:29] mattn commented on #19
複数のプラグインが別々のタイマーを発行したいというニーズが伝わってない気がする。

[2013-10-11 03:34] Shougo commented on #19
Bram氏はよほどコマンドが好きなんですかね。Bram氏はVim scriptあまり書いたことなさそうなので、関数にする必要性がよく理解できていないのだと思います。

[2013-10-11 03:38] Shougo commented on #19
@k-takata GJ!

timerコマンドの場合、おそらく現在のupdatetimeによる擬似タイマーと同じ問題が発生すると思いますね。
そっちのほうが実装が簡単なので、Bram氏的にはそうしたいのだと予想。
しかしこれを受け入れるとプラグイン開発者側に悪夢が……。

[2013-10-11 03:40] Shougo commented on #19
参考として、Emacs Lispのタイマーの仕様を紹介しておきます。

http://www.geocities.co.jp/SiliconValley-Bay/9285/ELISP-JA/elisp_610.html

当然タイマーの生成は関数になっており、タイマーIDを返します。そのIDを他の関数で利用することでタイマーの識別が行えます。

[2013-10-11 13:23] rhysd commented on #479
おお，よくルール分かっていなくて申し訳ないです．
ご対応ありがとうございます．

[2013-10-11 15:36] saitoha commented on #478
当ててみました。これを足せば端末で動くと思います。

[code]

[2013-10-11 15:37] saitoha commented on #478
あと

を

に変えた方がいいと思います。

[2013-10-11 15:41] saitoha commented on #478
とり急ぎ端末側でもアトリビュートを実装して動作確認しました。

![2013-10-12 0 39 29](https://f.cloud.github.com/assets/1162739/1315767/646f6c36-328b-11e3-82d8-da5bbf2b6c1d.png)

[2013-10-11 16:38] k-takata commented on #478
マージしました。念のため確認をお願いします。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/9e0053bbcd95b89b0673a57af143c88118f2a2ea/update-strikethrough.patch

[2013-10-11 17:52] saitoha commented on #478
確認しました。動いてます。
あとドキュメントのterm.txtで気になったんですが、
t_Ce / t_Cs は 「Added by Vim」の項にもってきちゃっていいんじゃないでしょうか
標準のcapabilityではないし、実際の端末で見たこともないですし。

[2013-10-12 13:47] k-takata commented on #478
やはり t_Cs, t_Ce を追加するのはやめることにしました。そこだけ追加しても端末でundercurlが使えるわけではないので。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/afa7600d9d7135ed0115f7bb1c8e456771b223cd/update-strikethrough.patch

[2013-10-12 13:55] k-takata commented on #478
移動しました。 が、t_Te, t_Ts も移動した方が良さそうと思ったり思わなかったり…。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/44d856ae2dc81b5982bb63d52a45026371e0239a/update-strikethrough.patch

[2013-10-12 14:25] k-takata commented on #478
t_Te, t_Ts も移動して、元のパッチとマージした上で投げました。
https://groups.google.com/d/msg/vim_dev/yUyvmKIG8-Q/Fe-TQzal_EMJ
何かあれば補足をお願いします。

[2013-10-14 15:40] crazymaster commented on #473
これ、新しい言語に対応するときに参考にできそう
https://github.com/majutsushi/tagbar/wiki

[2013-10-15 01:56] Shougo commented on #473
いいですね。確か私もVim scriptの関数名に対応させるためにプラグイン側でctagsに引数を渡して対応してたりします。
できればそれも取り込んでもらおうかな。

[2013-10-15 02:52] h-east commented on #473
ctagsの事はctags/issuesで議論しましょ。必要ならissue立てちゃってください。
https://github.com/vim-jp/ctags/issues

よろしくお願いします。

[2013-10-15 02:54] koron commented on #473
:+1:

[2013-10-15 02:58] Shougo commented on #473
了解です。

[2013-10-16 23:54] mattn opened #480 "ja.po の scratch の訳について"
completeopt=preview で scratch に候補が出る様に、「下書き」という言葉がしっくりこない。
何か他の言葉に変えませんか？

[2013-10-17 00:20] koron commented on #480
良い語があれば。

個人的には **スクラッチ** は画面上で長すぎておさまりが悪かった記憶が。

[2013-10-17 00:28] koron commented on #480
あ～ preview で表示されるウィンドウに表示される **下書き** のほうか。
普段使わないから気が付かなかった。

だとしたら単に翻訳を直すんじゃなくて、
もとのメッセージを追加 or 修正した上で新たな訳語を当てたほうがよいかも。

[2013-10-17 01:53] Shougo commented on #480
私的には「プレビュー」で良いと思います。日本語として定着していますし。
私もウインドウ名が「下書き」なのには違和感がありました。

[2013-10-20 05:32] supermomonga commented on #349
http://vimcard.herokuapp.com/

とりあえずリアルタイムプレビューまで作りました。

TODOとしては
- 複数デザイン対応
- Canvas化
- Canvasのbase64化でクライアント側のみで画像生成

があります。
VimConfまでには間に合わせたいです。

デザイン用のPSDは
https://dl.dropboxusercontent.com/u/330501/resource/vim/vimcard-sample.psd
です。ガイド引いてあります。

[2013-10-20 22:37] k-takata commented on #349
ロゴのアスペクト比が…

[2013-10-21 02:45] supermomonga commented on #349
@raa0121 さんさんからもらったPSDを元にしてるので、
らぁさんがアスペクト比正しいの投下してくれると直りそう

[2013-10-21 03:40] raa0121 commented on #349
@supermomonga こちらから差し替えましょう

[2013-10-21 04:03] supermomonga commented on #349
アッハイ

[2013-10-21 12:09] k-takata commented on #19
追加修正版
https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/M8GAeCP_jI0J

[2013-11-03 23:04] k-takata commented on #476
todo入りしました。

[2013-11-03 23:04] #476 closed, assigned to nobody

[2013-11-03 23:11] k-takata commented on #466
todo入りしましたが、"Doesn't work properly" なのでどうしたものか…

[2013-11-03 23:13] k-takata commented on #478
todo.txtが更新されました。

[2013-11-03 23:13] #478 closed, assigned to nobody

[2013-11-03 23:19] k-takata commented on #479
todo入りしました。

[2013-11-03 23:19] #479 closed, assigned to nobody

[2013-11-03 23:29] k-takata commented on #479
todo.txtの上から3番目に入ったので、重要度は高いと認識されたようです。（すぐ直るとは限りませんが。）

[2013-11-03 23:29] rhysd commented on #479
おお，チェックありがとうございます．

[2013-11-03 23:30] k-takata commented on #476
課題はこれですね。

[2013-11-03 23:39] k-takata commented on #19
todo.txtが修正されました。

[2013-11-04 01:34] Shougo commented on #19
これでとりあえずは一安心ですね。

[2013-11-04 02:56] k-takata commented on #44
7.4.066
https://groups.google.com/d/topic/vim_dev/FWdftOhBcZ8/discussion

[2013-11-05 00:38] mattn commented on #476
便利なので早く入ってほしい

[2013-11-05 12:26] k-takata commented on #476
便利なので早く入ってほしい（自画自賛）

[2013-11-05 13:39] k-takata commented on #401
ずいぶん前にtodo入りしてました。

closeable?

[2013-11-05 15:26] #401 closed, assigned to mattn

[2013-11-05 15:26] Shougo commented on #401
私が立てたのでcloseしておきました。報告ありがとうございます。

[2013-11-09 08:29] thinca commented on #7
`7.4.083` で `:keeppatterns` が追加され、私自身はまだ未確認ですが、多分これで解決できる気がするので閉じます。(なんか問題あったらまた開きます)

[2013-11-09 08:29] #7 closed, assigned to nobody

[2013-11-11 07:14] Shougo opened #481 "autocmd.txtのautocmd一覧にTextChangedがない"
日本語helpの方に報告しようと思いましたが、まず原文に存在しないためこちらに報告します。

`:help autocommand-events` で確認できるautocmdの一覧に最近追加されたと思われるTextChangedが存在しません。他のautocmdは一覧にあるため、おそらく追加し忘れているのだと思います。ちなみに、`:help TextChanged`自体は存在します。

Vim 7.4.66で確認。

[2013-11-11 16:26] k-takata commented on #481
TextChangedが追加されたのは7.3.867、autocmd.txtが更新されたのはその少し後のruntimeファイルの更新時で、確かに一覧は更新されてないですね。
（ところで、ドキュメントがパッチと一緒に更新される場合と、runtimeファイルとして更新される場合があるのは何なんだろう。）

[2013-11-12 02:26] Shougo commented on #481
おそらく、パッチ製作者がドキュメントを変更している場合と、変更していない場合があるのだと思います。

[2013-11-12 03:58] Shougo commented on #476
Vim 7.4.88でマージされたようです。

https://groups.google.com/forum/?hl=ja&fromgroups#!topic/vim_dev/z6D1x9jKSgg

[2013-11-12 04:38] mattn commented on #476
やったー

[2013-11-12 04:45] koron commented on #476
:+1:

[2013-11-14 09:52] k-takata commented on #476
Vim 7.4.092で追加修正です。FEAT_MBYTEがoffの場合に不備がありましたorz
https://groups.google.com/d/topic/vim_dev/5Ee4Iw4QU_s/discussion

[2013-11-14 09:58] k-takata commented on #476
todo.txtが更新されて、

も含めて削除されました。ま、いっか。

[2013-11-18 15:15] koron opened #482 "行末が揃ってないバッファで矩形選択で$Aして挿入すると余計な文字が挿入される"
報告元 https://twitter.com/ATA911/status/402424739601215488

7.4.92 (+kaoriyaパッチ) で確認。
生Vimで発生するかは試してないので分からない。
# 今の +kaoriya パッチが以下の様な悪さをするとは考えにくいが…

テキストが以下のような時、カーソルが `2` にあるとする。

[code]

`C-V` で矩形選択モードに入り `j$A` として行末挿入モードに入る。
この時、選択されているテキストは

[code]

となる。ここまでは問題ない。

ここで `ab` の2文字を挿入 `<ESC>` するとテキストは以下の様な状態になった。

[code]

2行目に挿入された`23`は明らかにユーザが望んでない編集操作。

なお `ab` ではなく `a` の1文字だけを挿入した場合

[code]

とな

[2013-11-18 15:26] thinca commented on #482
7.4.83 では再現せず、7.4.94 に上げたところ再現しました。この間で入ったエンバグっぽいですね。

[2013-11-18 15:28] thinca commented on #482
[code]

これがすごく怪しいですね。

[2013-11-18 15:29] koron commented on #482
ああ、ほんまや。

テストでひっかかってないのも気になりますなぁ。

[2013-11-18 18:18] h-east commented on #482
patch送った。
ビジュアルモードの選択で '$' が使われた場合は patch 7.4.085 の処理をスルーするようにした。
https://groups.google.com/d/msg/vim_dev/r9R9x_20DF4/b6_rZewVLIIJ

後はよしなにしてくれるでしょう。

[2013-11-19 00:04] mattn commented on #482
h-east++

[2013-11-19 00:40] k-takata commented on #482
正しい結果は、

[code]

です。(`:help v_b_A` 参照)

スルーさせるべきブロックが間違っているようです。修正パッチ送付済み。
https://groups.google.com/d/msg/vim_dev/r9R9x_20DF4/Ejm_s5K6RvkJ

[2013-11-19 01:00] h-east commented on #482
h-east--
k-takata++

@k-takata フォローありがとうございます。

[2013-11-19 01:33] koron commented on #482
thank you all!

ところでこれって自動テスト作れますかね?

[2013-11-19 01:44] h-east commented on #482
お昼に書きます。

[2013-11-19 01:45] koron commented on #482
@h-east :+1: Thank you very **macho**!

[2013-11-19 04:11] h-east commented on #482
テスト追加patchをvim_devへ投稿DONE. マッチョ！

[2013-11-19 04:12] koron commented on #482
@h-east ありがとまっちょ!

[2013-11-19 07:51] iyuuya commented on #152
CSVを吐くView(erb)を書くときに改行が入るとrowの数が1つ増えるという問題が出ました

[code]

でなんとかしましたが、まさかこの日が来るとは思ってなかった

[2013-11-19 08:11] Shougo commented on #152
それはこれに相当するでしょう。

[2013-11-19 10:13] iyuuya commented on #152
oh, そうですね

[2013-11-20 01:31] h-east commented on #159
Patch to utilize undefined text-objects
https://groups.google.com/forum/?hl=ja&fromgroups#!topic/vim_dev/pZxLAAXxk0M

`am{char}` と `im{char}` を追加するpatch
patchのコード部分は実質5行。

[2013-11-20 11:07] k-takata opened #483 "zG で作成された一時ファイルが終了時に削除されない"
スペルチェックを使い、[zG](http://vim-jp.org/vimdoc-ja/spell.html#zG) で、単語を[内部単語リスト](http://vim-jp.org/vimdoc-ja/spell.html#internal-wordlist)に追加すると、WindowsではVimを終了しても一時ファイルが削除されず、残ったままになってしまいます。

Linux等では、`/tmp/(somedir)/(num){,(enc).spl}` というファイルが作成されますが、Vim終了時には`memline.c` の `ml_close_all()` で `/tmp/(somedir)/` ディレクトリごと削除されます。
一方Windowsでは、TEMPディレクトリの直下に `VIs(hex).tmp{,(enc).spl}` というファイルが作成されて、それがそのまま残ってし

[2013-11-20 16:19] nocd5 opened #484 "GUIタブページのD&Dによる並び変え機能追加の提案"
K.Takataさんにこちらで相談してみてはどうか
と助言をいただき、初投稿させていただきます。

提案する追加機能は以下の2点
1. D&Dでのタブの並び替え
2. マウスミドルクリックでタブクローズ

叩き台として以下のパッチを作ってみました。
https://gist.github.com/nocd5/7565874

[2013-11-20 19:43] Shougo commented on #484
この機能ですが、Windowsだけ対応だとなんだかもったいないですね。
どうせ実装するなら、他のGUI版Vimでも機能を使えるようにしたいところです。

[2013-11-20 22:29] nocd5 commented on #484
やはり、全GUIで対応が望ましいですよね。
全GUIでとなると、まずは挙動の仕様決めが先ですね。

K.TakataさんがLinuxでは出来るようなことを呟いてましたが、
gtk側の機能でしょうか？後ほど確認してみたいと思います。

[2013-11-20 23:52] koron commented on #484
内容は :+1: です。

コーディングスタイルを、 twitter で k-takata さんもつぶやいていましたが、Vimのスタイルにキッチリ合わせるべきです。

[2013-11-21 00:23] k-takata commented on #484
ごめんなさい。Linuxのgvimでできるというのは勘違いだったかもしれません。
ただ、CUI版であればD&Dできます。また、GUI版(Win/Linux)でも`:set guioptions-=e`とすれば、テキスト表示のタブになり、D&Dできます。
なので、それをWindows GUI版でも使えるようにしたという点を強調すれば採用される可能性は高いと思います。

CUI版だと、ミドルクリックで閉じるようにはなっていないので、ミドルクリックは別パッチにした方が良いかもしれません。

[2013-11-21 00:29] k-takata commented on #484
あと、ウィンドウプロシージャ (MyTabControlProc) を追加していますが、既に tabline_wndproc があるので、その中に入れてしまえばよいと思います。

[2013-11-21 00:38] k-takata commented on #484
lParamから座標を取り出すのは、GET_X_LPARAM(), GET_Y_LPARAM() を使うべきです。
case WM_LBUTTONUP: でブロックの途中で tp 変数を宣言していますが、ブロックの最初で宣言しないとVC++でコンパイルが通りません。

とりあえず、こんなところでしょうか。

[2013-11-21 01:05] mattn commented on #484
gtk版はGtkNotebookだと思うのでたぶん出来ますよ。

[2013-11-21 01:05] mattn commented on #484
gtk_notebook_set_tab_reorderable 呼び出すだけかと。

[2013-11-21 03:03] nocd5 commented on #484
koronさん
ありがとうございます。
ちょっと :help coding-style してきます。

[2013-11-21 03:08] nocd5 commented on #484
k-takataさん
色々とチェックして頂きありがとうございます。
MyTabControlProcんを追加したのは、
既存の関数にこんなにコードを追加することに不安が合ったためです。
しかし、確かに無駄なことをしているので
tabline_procに処理追加するようにしてみます。

[2013-11-21 03:12] nocd5 commented on #484
:set guioptions-=e 知りませんでした…
上記オプションの挙動と同じになるよう、見直してみます。

[2013-11-21 03:14] nocd5 commented on #484
gtk_notebook_set _reorderableの動作も確認したいですね

[2013-11-21 03:21] Shougo commented on #484
Linux環境は手元にありますか？
手元にないなら、他の人に確認してもらうという手はあります。

[2013-11-21 03:34] k-takata commented on #484
ドラッグ開始のスレッショルドは [GetSystemMetrics()](http://msdn.microsoft.com/en-us/library/windows/desktop/ms724385.aspx) に、SM_CXDRAG, SM_CYDRAG を指定して取得するのがよいでしょう。（横方向なので、SM_CXDRAG だけで十分かな？）
ドラッグ開始して、マウスカーソルを変更した場合だけ、ドロップ時にタブ順を入れ替えるようにした方が良いでしょう。

[2013-11-21 10:45] k-takata commented on #483
パッチ
https://bitbucket.org/k_takata/vim-ktakata-mq/src/0767096c68f0ab5e02819ed0ea0f8e7ee94d0819/spell-delete-wordlist.patch
(diffのアルゴリズムの問題なのか、何だか見にくい差分になってしまっていますが…)

[2013-11-21 10:59] nocd5 commented on #484
Shougoさん
手元にあるのはWindowsXPのみなので、
どなたかにヘルプをお願いしたいです。
最悪、会社ならGTK環境はありますが・・・
motifとmacに関しては全くです。

[2013-11-21 11:09] nocd5 commented on #484
1. コーディングスタイル
   :help coding-style
   を参考にコーディングスタイルを合わせました。
2. パッチの分割
   タブの並び変えと、ミドルクリックでタブを閉じるコードを分割。
3. 記述等の修正
   k-takataさんに頂いた助言を元に記述の修正
4. 並び変え動作の変更
   :set guioptions-=eで表示されるテキストベースのタブの挙動に合わせました。

https://gist.github.com/nocd5/7579548

[2013-11-21 11:22] nocd5 commented on #484
並び変え動作の変更内容は、
マウスドラッグ中もカーソル位置に合わせて随時タブを移動させるようにしました。

ただ、テキストベースのタブの場合
移動するタブ:Aの幅が移動先のタブ:Bの幅より小さい時
タブ:B上でカーソルを動かす度にタブ:Aとタブ:Bがガチャガチャ入れ替わる
という動作をしていました。
これは期待される動作ではないだろうと思い、これを回避するようにしています。
具体的にはタブ:Bの中心でタブ:Aの移動先を切り替えています。

ご意見・ご指摘いただければ幸いです。

[2013-11-21 11:38] nocd5 commented on #484
GTKはこれでいけちゃったりするんでしょうか？
https://gist.github.com/nocd5/7580100

[2013-11-21 11:58] crazymaster commented on #186
過去にFAQをdocに含めてはどうかという提案があったけど、
スルーされてますね。
https://groups.google.com/d/topic/vim_dev/Q798W2ti8LU/discussion

[2013-11-21 12:25] crazymaster opened #485 "clang 3.3でvimがビルドできない？"
https://travis-ci.org/vim-jp/vim-ci/jobs/14306926

[2013-11-21 12:53] k-takata commented on #484
試してみました。なかなかいい感じですね。
主にコーディングスタイルに関して、いくつか直した方が良さそうな点がありました。
- tabline_wndproc() 内の HandleMouseHide() の呼び出しは switch の前の方が、他のウィンドウプロシージャと統一が取れて良いと思います。（動作には影響ないはずですが。）
- GetSystemMetrics() の呼び出しは、case WM_MOUSEMOVE: の中に持ってきた方が良くないでしょうか。
- 1行は80文字を越えないようにしましょう。（コメントの書き方が難しいですが。）
- LoadCursor() の第1引数は 0 より NULL の方が良さそう。（他のコードに合わせる意味で）
- 変数宣言と、実行行の間は1行空けた方がよいでしょう。変数宣言は、変数名の位置を揃えた方が良いです。

ミドルクリックに関しては、取

[2013-11-21 13:08] k-takata commented on #484
残念ながらそれだとダメですね。
代わりに、以下のようにするとタブはD&Dできるようになるのですが、表示されている順序と、Vimが管理している順序に食い違いが出るのか、タブをクリックすると元の順序に戻ってしまいます。

[code]

[2013-11-21 13:10] k-takata commented on #485
[code]

って、一体どういうことなんでしょう？

[2013-11-21 13:50] k-takata commented on #482
7.4.099
https://groups.google.com/d/msg/vim_dev/6DucMvnHDM0/R1hsWr2W0SEJ

[2013-11-21 13:50] #482 closed, assigned to nobody

[2013-11-21 13:54] h-east commented on #482
お疲れ様でした> 各位
k-takataさんと初めての連名だ :cat2:

[2013-11-21 14:20] nocd5 commented on #484
k-takataさん
ありがとうございます。

確かにご指摘頂いたとおりです。
自分の方でももう少し確認してみます。

こちらの方は今回はやめようかと思いはじめました。
この動作は一般的ではないので、本家に送るのは如何なものか？というのが理由です。

[2013-11-21 14:34] Shougo commented on #484
ミドルクリックに関しては、効果も限定的なのでパッチを分割したほうが良いと思いますね。

[2013-11-21 14:36] nocd5 commented on #484
やっぱりGTKはそんな簡単には行きませんか
tabpage_Tは連結リストで繋がってるようなので
windowsと同じように、並び変える必要がありそうですね。
確認していただき有難うございます。

ゴールをタイトル通りWindows版だけにするか
GTKくらいは対応にするか考えなければいけませんね。

[2013-11-21 14:48] nocd5 commented on #484
そうですね。この動作は個人的な趣味だと、今は感じてます。

たとえばタブブラウザの設定で、ミドルクリックをタブのロックに割り当ててる人がいたら
混乱を招くだけになってしまいますし、やるとしたら、
マウスアクションへのタブ動作割り当て設定(割り当てるほど動作の種類ありませんが)
の追加でしょうか？ちょっとVimっぽくないですね。

[2013-11-21 21:28] k-takata commented on #479
7.4.100で直ったようです。
https://groups.google.com/d/topic/vim_dev/Dox10yhk58A/discussion

[2013-11-21 21:57] crazymaster commented on #485
clangの場合でもCFLAGS=-coverage LDFLAGS=-coverageをしてしまっていました。
おそらくこれが原因なようです。
（3.2では問題なかったのですが...）

[2013-11-21 21:57] #485 closed, assigned to nobody

[2013-11-22 02:13] rhysd commented on #479
こちらでも確認しました。
ありがとうございました。

[2013-11-22 02:25] k-takata commented on #484
[page-reordered](https://developer.gnome.org/gtk2/2.24/GtkNotebook.html#GtkNotebook-page-reordered)シグナルで並べ替え処理すれば良さそう？

[2013-11-22 02:44] rhysd commented on #479
todo.txt からは削除されていないようなのですが，これは問題ないのでしょうか？

[2013-11-22 03:18] k-takata commented on #484
何かできたっぽい？
https://bitbucket.org/k_takata/vim-ktakata-mq/src/a278a9e28417c4acb4d29cf5f2782ba6500ec0e3/tabline-dnd-linux.patch

[2013-11-22 03:20] k-takata commented on #479
todo.txtの更新はruntimeファイルの更新時に行われますので、タイムラグがあります。
（たまに間違えてそのまま残っている場合もありますが。）

[2013-11-22 03:43] k-takata commented on #484
最初のタブがD&Dできなかったので、修正。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/5484feb5587129a91c58a904584ffcf2918b1b0c/tabline-dnd-linux.patch

[2013-11-22 04:00] k-takata commented on #484
インデックスが間違っていました。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/d47f233848dc7660dc97288545f8d45ef5b7bd4e/tabline-dnd-linux.patch

[2013-11-22 04:18] rhysd commented on #479
なるほど，分かりました．ありがとうございます．

[2013-11-22 08:12] nocd5 commented on #484
おお！ばっちり動いてますね。
想像以上にハンドラの中シンプルでした。

gtkでタブドラッグ中もマウスカーソルの表示は変わっていないので
windowsの方も変更しないようにしようと思います。

1点だけ、コメント部分で"tags"となってるところはtypoでしょうか。

[2013-11-22 08:38] k-takata commented on #484
残しておいてよいのではないでしょうか。
GTKの方は、ドラッグ中にタブがアニメーションするのでドラッグできることが一目で分かるのですが、Windowsではそうはなっていないのでカーソルを変えるなどしないと分かりにくいと思います。

がーん。修正しました。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/d4fb9debb8cd30778d64b4375497f659e9e81660/tabline-dnd-linux.patch

[2013-11-22 14:48] nocd5 commented on #484
k-takataさんにご指摘いただいた点を修正しました。
ドラッグ中のマウスカーソル変更残しました。

https://gist.github.com/nocd5/7600961

[2013-11-22 14:54] nocd5 commented on #484
k-takataさんにGTKでのタブ並び替えのコードを書いていただいたので、
タイトルをwindows限定ではなく
**GUIタブページのD&Dによる並び変え機能追加の提案**
等に変更した方がよいでしょうか？

[2013-11-22 17:28] k-takata commented on #484
タイトル変更しました。

パッチをマージしました。MSVCでコンパイルが通らない点と、若干のスタイルの修正も行いました。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/fe4c0f123f3de674f5f79bac29e7f9da14b0beef/tabline-dnd.patch

私がまとめてvim_devに投げようかと思うのですが、お名前はどうしましょうか。（できれば本名が望ましいです。中にはハンドルで通している人もいますが。）

[2013-11-22 17:54] k-takata commented on #484
コメントを修正しました。コードの意図を明確にした方がよいですので。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/c181fd2b63d02dcacf371e7ac1e617e5dfe24999/tabline-dnd.patch
ついでにもう一カ所コーディングスタイルを修正しました。（条件文で定数を左辺に書くのは好まれないようなので。）

[2013-11-22 22:20] nocd5 commented on #484
タイトル変更、パッチのマージと修正ありがとうございます。

申し訳ありませんがよろしくお願いいたします。
名前は
Masamichi Abe
です。

[2013-11-23 00:13] k-takata commented on #484
投げました。
https://groups.google.com/d/topic/vim_dev/LnZVZYls1yk/discussion

[2013-11-23 01:08] nocd5 commented on #484
ありがとうございます！

今回は大変勉強になりました。
k-takataさんをはじめ、コメントを下さった皆様
ありがとうございました。

[2013-11-23 02:09] Shougo commented on #484
:+1:

[2013-11-23 04:30] nocd5 commented on #484
大変申し訳ありません
SetCursorの位置を間違えていました。
マウスの移動量がドラッグ判定の閾値を超えたあとに
実行するのが正しいと思います。
https://gist.github.com/nocd5/7610771

まずはvim_devの方に
私の方から一言報告しておくべきでしょうか？

[2013-11-23 05:36] k-takata commented on #484
修正版を投げておきました。
https://groups.google.com/d/msg/vim_dev/LnZVZYls1yk/fj_Gz0vhnrsJ

[2013-11-23 05:40] nocd5 commented on #484
ありがとうございます。
すいませんでした。

[2013-11-23 05:45] k-takata commented on #483
投げました。
https://groups.google.com/d/topic/vim_dev/8Ew5HbF-8lM/discussion

[2013-11-23 11:18] Shougo commented on #150
https://github.com/vim-jp/issues/issues/19

こちらがあるので、ここは重複としてcloseします。

[2013-11-23 11:18] #150 closed, assigned to nobody

[2013-11-23 11:20] Shougo commented on #19
https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/0om4fb9KY2sJ

Bram氏としては、仕様が固まっていないのとテストが不十分なので、この機能の取り込みの優先度が低そうです。
vim-jpでパッチを試すなりしてみて、早めに取り込まれるように応援したほうが良いのではないでしょうか。

[2013-11-23 11:24] Shougo commented on #19
https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/M8GAeCP_jI0J

スレッドを見たところ、@k-takataさんが作成したパッチが最新版のようです。

https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/LSFNhqs2mokJ

これはここで言われているのと同じ話でしょうか。
確かに、今のAPIだと任意のタイマーを止めるのは大変ですね。
ただ個人的には、`<C-c>`でタイマーを止めるというのには反対ですね。
プラグインでタイマーを使うときに挙動が予想できなくなります。

[2013-11-23 11:36] Shougo commented on #19
一つの手として、`ticktime`オプションの値をバッファローカルにするという手があります。
これを-1にするとタイマーを無効化できるので影響を軽減できるかも知れないです。

あとは、タイマーをバッファローカルに定義できないのも気になります。
autocmdはバッファローカルにできるため。使いづらくならないだろうかと思いました。

[code]

Exampleにある二番目の引数は関数ではなく定期的に実行するコマンドを指定するのでしょうか？
※：`echo(2)`とやっても動作するんですね。初めて知りました。

パッチをチェックしましたが、このパッチにテストがないのは大変に問題ですね。非同期処理はただでさえバグの原因となりやすいため。

[2013-11-23 11:50] k-takata commented on #19
分かりません（ぉぃ

# setinterval と settimeout のドキュメントでタイマーの精度が 20ms と 100ms で異なってるなあ。なんでだろう。

[2013-11-23 12:16] Shougo commented on #19
えっ……？（困惑）
とりあえず、ドキュメントのdiffを見て仕様を把握しました。

コードを見たところ、デフォルトが20なので20msが正しいです。ドキュメントは修正したほうが良いですね。

[2013-11-23 12:22] k-takata commented on #19
あまりにもコーディングスタイルがめちゃくちゃだったのが気になって直しただけですから。

お任せしました。

[2013-11-23 12:51] Shougo commented on #19
お任せされてしまった…。そこだけ直すのもアレだし、どうせならテストを追加したいけど、うーん。

[2013-11-24 10:36] msmhrt opened #486 "複数の *.py ファイルを開くと2番目以降のファイルで expandtab が効かない"
【発生環境】
Vim: KaoriYa版 7.4.051 (2013/11/17版)
OS: Windows XP SP3 32bit版

【概要】
複数の *.py ファイルを開くと2番目以降のファイルで expandtab が効かない

【再現手順】
1. `vim -o a.py b.py` を実行
2. `a.py`のウィンドウで`if a:`と入力してから改行するとインデントがスペース4個になる
3. `b.py`のウィンドウで`if a:`と入力してから改行するとインデントがタブ1個になる

【その他】
2番目以降のファイルでは、[$VIMRUNTIME/ftplugin/python.vim](https://code.google.com/p/vim/source/browse/runtime/ftplugin/python.vim#29)の

[code]

の行で停止し

[2013-11-24 10:47] koron commented on #486
それが原因ならタブじゃなくても、2枚目のウィンドウで *.py を開いた時点で発生しそうなもんですが、どうでしょ?

[2013-11-24 11:12] msmhrt commented on #486
はい、おっしゃる通り`vim -o a.py b.py`でも発生します。
単に私が、PCの画面が狭いという理由でタブページを使っていただけで、タブページが発生条件ではないです。
誤解を招く書き方でしたね、すみません。

[2013-11-24 11:17] msmhrt commented on #486
タイトルを「複数の *.py ファイルを開くと2番目以降のファイルで expandtab が効かない」にしても誤解される余地がないのであれば、修正したいと思いますが大丈夫でしょうか？

[2013-11-24 11:18] koron commented on #486
お願いします。
2013/11/24 20:17 "Masami HIRATA" notifications@github.com:

[2013-11-24 11:34] msmhrt commented on #486
修正しました。

[2013-11-24 14:11] crazymaster commented on #475
元々のアイコンセットを配布しているところによると [Creative Commons 表示 2.5](http://creativecommons.org/licenses/by/2.5/deed.ja) または [Creative Commons 表示 3.0](http://creativecommons.org/licenses/by/3.0/deed.ja) だそうです

[2013-11-24 19:41] k-takata commented on #450
以下のパッチでtodo.txtの問題は解消するかもしれません。
[PATCH] Subpixel rendering artifacts in GUI mode
https://groups.google.com/d/topic/vim_dev/_a13OUtm4fE/discussion

ただし、斜体で行の最後尾の半角文字が切れる問題は直らない模様。

[2013-11-24 22:43] msmhrt commented on #486
$VIMRUNTIME/ftplugin/ 以下のファイルで`finish`をチェックしてみましたが、
- ocaml.vim にも python.vim と同様に2番目のファイルで`nnoremap`と`xnoremap`が実行されない問題（？）がある
- 関数が定義済みなら`cpo`の値を復元せずに`finish`しているプラグインがあちこちにある

という結果になりました。

Vim のプラグインで`finish`が多用されているのは、write-pluginが`if ... endif`で括るよりも速いという理由で推奨しているのが最大の原因のようですが、`finish`の間違った使い方についても記載することでユーザーに注意を促すべきと提案した方が良いのかもしれませんね。

[2013-11-24 23:21] k-takata commented on #484
todoリストに追加されることになりました。気長に待ちましょう。
https://groups.google.com/d/msg/vim_dev/LnZVZYls1yk/dTBxTUNa45MJ

[2013-11-25 00:29] nocd5 commented on #484
本当だ！ありがとうございます。

[2013-11-25 05:48] h-east commented on #486
整理するとこんな感じでしょうか？
1. 以下の行はpython.vim登録時(r7)から存在している。

[code]

`<SID>`があるのでこの行以降はスクリプトローカルな処理のみに限定される。
1. `&cpo`退避のコードは r3496 で追加された。
   この時上記if文への対処を忘れてしまった。
2. r5400 で以下の行などが追加されたが、`1.`のスクリプトローカルな部分に追加されたので初回のロード時しか実行されない。

[code]

---

修正内容
- `3.`を`1.`のif文より前に移動。
- `1.`をfinishをやめて `if !exist() ～ endif` にした。

[code]

[2013-11-25 06:20] thinca commented on #486
本筋と全然関係ないですが、移動したいだけなら `search()` を使った方が良さそう…。

[2013-11-25 08:04] koron commented on #486
kwsk

[2013-11-25 08:11] thinca commented on #486
これ渡される `a:motion` は `'/^\(class\\|def\)'` こんなので、検索で移動しているんですが、そのためにパターンの復元とか検索履歴の削除とかやっていて、`search()` で移動すればそういうのが必要なさそうです。

[2013-11-25 10:52] k-takata commented on #486
本筋と全然関係ないですが、Mercurialでは10進のリビジョン番号はローカルでしか意味を持たないものなので、16進のハッシュ値を書くべきです。（最新のリポジトリをまっさらな状態でcloneすればその番号になるようですが。）

[2013-11-25 16:37] nocd5 commented on #450
メインのテキストエリア(?正式名称が分かりません)の方は解消されるようですが、
補完のポップアップメニューと、コマンドライン入力部分は、直ってないみたいです。

[2013-11-26 02:21] Shougo commented on #14
選択された候補のword情報だけでなく、abbrなどの情報も得られると嬉しいと思いました。
これが実現できると、選択した候補の情報をエコーエリアなどに表示させることができます。
今はこういう機能はjediやYCM等で独自に実装されていますが、実装が共通化できるのは利点として挙げられると思います。

https://groups.google.com/d/msg/vim_dev/XDFDQ8rkBII/80JSOIVbnQgJ

dictが得られると良いと、ここにも挙げられてますね。パッチを書けないか検討してみようかな……。

[2013-11-26 02:28] Shougo opened #487 "選択された補完候補のdictを得られるようにする"
https://github.com/vim-jp/issues/issues/14

これの続きです。Vim 7.3.598にて、CompleteDoneイベントが追加されました。
しかし、これでは選択された補完候補を知ることができません。

https://groups.google.com/d/msg/vim_dev/XDFDQ8rkBII/80JSOIVbnQgJ
http://stackoverflow.com/questions/14053720/get-selected-item-from-the-completion-popup-menu

ここに挙げられているように、選択された候補のdictを得ることができれば引数の表示を行うプラグインを簡単に実装できます。現在はjedi, YCMなどの一部のプラグインが独自に実装している機能ですが、本体側でサポートできれば実装の共通化に

[2013-11-26 02:29] Shougo commented on #14
新しいIssueをオープンしました。パッチの改良は上記のIssueでやりましょう。

[2013-11-26 02:47] h-east commented on #486
@k-takata 知らなかった！:sweat_smile: ありがとうございます。

[2013-11-26 07:50] Shougo commented on #19
上記のパッチを取り込んだfork版が以下で配布されているようです。
https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/skO2ee5kFAYJ
https://groups.google.com/d/msg/vim_dev/-4pqDJfHCsM/J4yjSrNcBHUJ

https://github.com/Floobits/vim

[2013-11-26 08:54] h-east commented on #474
仕様です。閉じます。

[2013-11-26 08:54] #474 closed, assigned to nobody

[2013-11-26 08:57] h-east commented on #96
昔ながらの仕様です。そういうものです。閉じます。

[2013-11-26 08:57] #96 closed, assigned to nobody

[2013-11-26 09:00] h-east commented on #398
誰も食いつかないし、必要性もないので閉じます。
興味がある人が出てきたら再オープンお願いします。

[2013-11-26 09:00] #398 closed, assigned to h-east

[2013-11-26 09:08] Shougo commented on #305
最近、自動補完と絡めずにこの機能がほしいと感じました。
補完時にコマンドラインが上書きされますが、この機能により補完時に上書きされないようにできれば
コマンドラインに関数の引数を表示したり、コマンドライン部分の応用範囲が広がるように感じます。

[2013-11-26 09:27] Shougo commented on #487
ソースコードを解析しました。edit.c内の`ins_compl_insert`内で候補の挿入処理を行っています。
このタイミングで`v:completed_item`変数への代入を行えばよいでしょう。
候補の変数の型は`compl_T`型のようです。これをVimのdict形式に変換すればよいはずです。

[2013-11-26 13:38] h-east commented on #486
特にいちゃもん付かなければ私のpatchをvim_devに投げますよ。
30分待つ。

[2013-11-26 13:40] koron commented on #486
パッチ見てたらお腹減った!

[2013-11-26 13:46] h-east commented on #486
@koron にいちゃん もんじゃ焼き？

[2013-11-26 13:55] ynkdir commented on #486
おつかれさまです。

このブロックは

この if の外に出したほうがいいと思います。

[2013-11-26 13:57] h-east commented on #486
@ynkdir そうか！そのブロックもバッファローカル前提の処理ですもんね！ご指摘ありがとうございます。

[2013-11-26 14:04] h-east commented on #486
これでよかですか！？

[code]

[2013-11-26 14:14] ynkdir commented on #486
ありがとうございます。いいと思います。

[2013-11-26 15:05] h-east commented on #486
vim_devに投稿しました。
https://groups.google.com/d/msg/vim_dev/vDn7nUDMjd0/L7u8Z_kHxBQJ

crazyなenglishだけど通じるじゃろ？ｗ
なんかあったらフォローよろしくです。

[2013-11-27 01:06] #388 closed, assigned to nobody

[2013-11-27 01:06] koron commented on #388
NFAエンジンのデバッグログが悪さしてたっぽいので。

Windows GUIでmenuの登録が遅いって問題は別途あるけど、
このIssueはそれが主題ではないってことです。

[2013-11-27 01:07] koron commented on #246
アクションのしようが無いので閉じます。

[2013-11-27 01:07] #246 closed, assigned to koron

[2013-11-27 01:49] mattn commented on #449
@osyo-manga ping

[2013-11-27 01:57] osyo-manga commented on #449
pong

[2013-11-27 05:43] koron commented on #449
ching

[2013-11-27 08:22] Shougo commented on #487
悲報：Vim変数は辞書変数を設定できません。リストにするか文字列にするしかない。
辞書変数をセットできるようにするには変更が大きすぎる。
文字列変数だと、abbrやinfoがほしい時に辛い。うーむ。リストにする？

[2013-11-27 08:41] mattn commented on #487
set_vim_var_dict 書けばいいやん。そんなにコード量ないよ。

[2013-11-27 08:44] mattn commented on #487
[code]

[2013-11-27 09:05] Shougo commented on #385
Vim7.4.103でこのパッチを使用しているとSEGVします。
Vimのソースなど、巨大なファイルを編集していると起こりやすいようです。
パッチを適用解除したところ安定しました。最近補完関連のパッチが入ったので競合しているかも知れません。
Vim7.4.66では問題ありませんでした。
@DeaR さん、確認してもらえないでしょうか。

[2013-11-27 09:06] Shougo commented on #487
ありがとうございます。それを採用します。

[2013-11-27 09:21] mattn commented on #487
パッチ、書きましょうか？

[2013-11-27 09:22] Shougo commented on #487
私が今作っていますので大丈夫です。パッチのレビューはおねがいします。

[2013-11-27 09:26] h-east commented on #487
パンツ、はきましょうか？

[2013-11-27 09:31] Shougo commented on #487
パンツは履いてください。おねがいします。

[2013-11-27 09:33] Shougo commented on #487
https://gist.github.com/Shougo/7673023

このようなパッチを書いたのですが、コンパイル時に謎のエラーが起こります。

[code]

原因は分かりますでしょうか。

[2013-11-27 09:39] h-east commented on #487
gist(patch)の35,36行目、44,45行目の修正は意図したものですか？
なんか変な気がします。

[2013-11-27 09:41] Shougo commented on #487
指摘ありがとうございます。どうやらVimが強制終了した時に一部の内容が壊れてしまっていたようです。別のエラーもあったので現在修正中です。

[2013-11-27 09:46] Shougo commented on #487
https://gist.github.com/Shougo/7673023

パッチを更新し、コンパイルできるようになりました。現在動作確認中です。
OH……補完候補の選択後に`v:completed_item`へアクセスするとSEGVしてしまった。

[2013-11-27 09:48] mattn commented on #487
lv_refcount じゃなく dv_refcount です。

[2013-11-27 09:52] Shougo commented on #487
すみません、あげたパッチが不完全でした。今あげたパッチではそこを修正してあります。

[2013-11-27 09:55] Shougo commented on #487
今のパッチで`v:completed_item`変数にアクセスすると、高確率で"smallbin double linked list corrupted" というエラーを吐くみたいです。
変数の参照カウントがおかしくなっているように見えますが、原因は分かりますでしょうか。

Edit: 原因が分かりました。パッチを修正します。（参照カウントの扱い難しい……）

[2013-11-27 10:00] Shougo commented on #487
パッチの修正 Done.
一応動いているみたいです。ただし、menu,abbr,kind等がセットされていない候補を選択した場合、値が0になってしまうという問題があります。

[2013-11-27 10:01] mattn commented on #487
なんで dict_unref してるの？

[2013-11-27 10:09] Shougo commented on #487
`dict_alloc()`したDictはすでに参照が1になっているかと思っていたんですが、そういうことはないようでした。今は修正してあります。

[2013-11-27 10:16] Shougo commented on #487
https://gist.github.com/Shougo/7673023

動作することを確認しました。まだドキュメントはないですが、とりあえずの完成です。

[2013-11-27 10:22] Shougo commented on #487
`ctrl_x_mode`変数の値を保存すれば、多分選択された補完候補の補完の種類は分かるような気はしますが、この機能はどうしようかな……。

[2013-11-27 10:26] mattn commented on #487
dict_add_nr_str は NULL だと数値になるので空文字列渡さないとダメす。

[2013-11-27 10:27] mattn commented on #487
[code]

[2013-11-27 10:29] mattn commented on #487
あとマッチしなかった時にクリアする処理が無いと蹴られると思うよ。

[2013-11-27 10:47] mattn commented on #487
これ、ちなみに補完が終わった後もメモリに残るタイプですよね。受け入れられない可能性あるかも。

[2013-11-27 10:58] Shougo commented on #487
ありがとうございます。@mattnさんの変更をもとに追加しました。

`ins_compl_delete()`の時にクリアするようにしました。これでどうでしょうか。

[2013-11-27 11:00] mattn commented on #487
ins_compl_delete の時に delete すると残らない可能性あるんでは？

[2013-11-27 11:01] mattn commented on #487
あ、最後の1個は残るか

[2013-11-27 11:05] Shougo commented on #487
`ins_compl_del_pum()`の時にもクリアするようにしました。これで補完が実行されていない時はメモリを余計に消費しません。CompleteDoneイベント時にちゃんと動くかはこちらで確認してみます。

[2013-11-27 11:08] mattn commented on #487
[code]

あとv:completed_itemは候補があるときだけ設定して、無いときは空辞書の方が良いかも。

[2013-11-27 11:08] mattn commented on #487
CompleteDone は場合によって呼ばれないので残すしかないかも。

[2013-11-27 11:09] Shougo commented on #487
うーん、ポップアップが閉じている時にCompleteDoneが呼ばれるので、ポップアップがないときにクリアすると使い物になりません。

[2013-11-27 11:10] mattn commented on #487
あと、ドキュメントもお願いしますね

[2013-11-27 11:20] Shougo commented on #487
https://gist.github.com/Shougo/7673023

パッチを更新しました。
1: CompleteDone時に動作することを確認
2: 候補がないときはクリアするようにした

ドキュメントはこれからやります……

[2013-11-27 11:22] mattn commented on #487
CompleteDone は呼ばれない事があるけどいいの？

[2013-11-27 11:28] Shougo commented on #487
現在のCompleteDoneはどういう時に呼ばれないんでしたっけ。もしかすると、そこを修正する必要もあるかも知れません。

[2013-11-27 11:30] mattn commented on #487
あれ、呼ばれてるっぽいな。イベントの貼り方間違ったみたい。すんません。

[2013-11-27 11:31] Shougo commented on #487
質問があるのですが、

この上記のコード、中身が空文字列になるっぽいのです。できれば空のリストにしたいのですが、どうすればよいのでしょう。

[2013-11-27 11:42] mattn commented on #487
こんな感じかな？

[code]

[2013-11-27 11:43] mattn commented on #487
main.c で空を設定する様に修正してます。あと VV_VERSION が変な場所で初期化されてるのでそれも一緒に。

[2013-11-27 11:49] Shougo commented on #487
この修正を一緒に入れるのはまずくないですか？

[2013-11-27 11:58] Shougo commented on #487
初期化の話に関しては、別のパッチにするべきだと思います。

https://gist.github.com/Shougo/7673023

とりあえず、`VV_VERSIONS`のところを除きこちらで修正したもの。

[2013-11-27 12:15] mattn commented on #487
一度もインサートモードに入らない時に空文字列になってると思いますよ。

[2013-11-27 12:22] mattn commented on #487
VV_VERSIONだけ戻したのはっときます。

https://gist.github.com/mattn/7674808

[2013-11-27 12:23] mattn opened #488 "VV_VERSIONの初期化位置がおかしい。"
Related issue #487

上記issueで直そうとしたけど、別のパッチにすべき。
ソースがバッティングするのでちょっと様子見。

[2013-11-27 12:24] Shougo commented on #487
ドキュメント追加しました。どなたかチェックをお願いできますか？

https://gist.github.com/Shougo/7673023

こちらで確認しましたが、空リストでした。@mattnさんのコードを参考にして`VV_COMPLETED_ITEM`はmain.cで初期化するようにしています。

[2013-11-28 00:14] mattn commented on #487
[code]

[2013-11-28 03:29] k-takata commented on #487
@Shougo

mattnさんが既に直していますが、カッコと前(後)の単語の間にはスペースを入れます。

@mattn

become -> becomes ですね。

[2013-11-28 03:35] mattn commented on #487
yep

[2013-11-28 03:47] Shougo commented on #487
ありがとうございます。
お二人からの指摘を受けて、ドキュメントを修正しました。これでどうでしょうか。

https://gist.github.com/Shougo/7673023

問題なければパッチを提出しようと思います。

[2013-11-28 09:48] mattn opened #489 "netrwで全角ではじまるディレクトリ名が扱えない"
http://vim-jp.org/release/2013/11/27/vim74mac-7.4.103.html#comment-1142712857

[2013-11-28 09:54] Shougo commented on #489
これはおそらく、UTF-8-macに起因する問題です。
Macでは日本語ファイルの一部が独自形式UTF-8-Macでエンコーディングされていて、そのままではVimで扱えないようです。
vimfiler(unite.vim)でも同様の問題があり、Macを使っている人に修正してもらいました。
修正部分のコードを抜き出すと、以下になります。netrwでも同様の処理を入れなければならないと思います。

[code]

[2013-11-28 10:40] syngan commented on #487
isn't matched?

[2013-11-28 10:52] Shougo commented on #305
色々検討したのですが、補完関数にオプションをつけるよりも 'showpummode' というオプションを追加したほうが良いのではないかと思いました。任意の補完時にメッセージを表示してほしい人としてほしくない人がいると考えたためです。ソースコード上でもそちらのほうが修正が少なくて済みます。モード情報を表示しない'showmode'の派生オプションと考えれば問題はないのではないでしょうか。

当然補完状態の判別は見た目付きづらくなりますが、showmodeもそれは同じですし自己責任でしょう。

[2013-11-28 10:54] mattn commented on #305
shortmess に別の値追加する方が楽じゃないかな。

[2013-11-28 11:03] Shougo commented on #305
あ、たしかにそのとおりですね。ありがとうございます。
早速実装をやってみようと思います。

[code]

こんなかんじで。

[2013-11-28 11:05] Shougo commented on #487
確かに、isn't matchedの方が良さそうですね……

[2013-11-28 14:21] h-east commented on #486
Bram氏から返事あったんだけど、これはなんて聞かれてるのでしょう？

君はPython_jump()を下に移動させる何か理由があるのか？
"finish" を実行しないことは必要とされる位置に見えます。

2行目がよく分からん。教えて。

[2013-11-28 14:23] h-east commented on #486
ようはこのpatchでOK？
`if exists('*<SID>Python_jump') | finish | endif` のfinishをやめて !exist() にして関数を if ～ endif で括りました。
あと `has("browsefilter")` への修正。

[code]

[2013-11-28 14:34] h-east commented on #486
つーか、もうBram氏が rev.5510:d7d7bac1a163 で修正してくれてる。ｗｗ

[2013-11-28 14:41] h-east commented on #486
ということで閉じます。
@msmhrt さん報告ありがとうございました。

[2013-11-28 14:41] #486 closed, assigned to h-east

[2013-11-28 14:59] k-takata commented on #484
todo.txtに入りましたので閉じます。

便利なので、私はこれを当てたものを常用することにしました。

[2013-11-28 15:06] k-takata commented on #483
todo入りしました。

[2013-11-28 15:06] #483 closed, assigned to k-takata

[2013-11-28 15:25] todashuta commented on #489
手元にある限りのいろんな環境で試してみました。どうやら新しいnetrwだと起こるようです。
Windowsでも起こることを確認しました。

[code]

[2013-11-28 15:51] k-takata commented on #489
テスト版の v150j が公開されているのですが、これもなんか変ですね。
http://www.drchip.org/astronaut/vim/vbafiles/netrw.vba.gz
（`:let g:netrw_liststyle=1` するとWindowsでの色の付き方が変なのですが、とりあえずそれは置いておくとして…）
![netrw-hoge](https://f.cloud.github.com/assets/840186/1640836/7e0ee8d2-5843-11e3-8a6a-97477ed4e0bc.png)

[2013-11-28 16:14] k-takata commented on #450
上記のパッチについてはtodo入りしました。

---

報告した方がよいかもしれませんね。

[2013-11-28 16:50] k-takata commented on #483
7.4.108で取り込まれました。
https://groups.google.com/d/topic/vim_dev/VS3d4oQfRZQ/discussion

[2013-11-28 21:42] nocd5 commented on #450
WindowsXPでの確認ということで報告しておきました。
現在コメントの承認待ちです。

[2013-11-29 00:36] mattn commented on #483
GJ

[2013-11-29 00:41] mattn commented on #489
encoding=utf-8 だと発生するっぽい感じがする

[2013-11-29 00:52] mattn commented on #489
バグつかんだ。パッチ書きます。

[2013-11-29 00:53] mattn commented on #489
[code]

[2013-11-29 05:22] Shougo commented on #487
修正しました。

[2013-11-29 08:48] Shougo commented on #305
https://gist.github.com/Shougo/7703062

実装しました。shortmessにcを追加すると有効になります。
一応動作することを確認していますが、なぜか`set noshowmode`されている場合には効果がありません。
できればそちらにも対応したいですが、どう修正すればよいかが分からず……。

[2013-11-29 09:05] Shougo commented on #305
https://gist.github.com/Shougo/7703062

shortmessの問題を解決しました。更に、コマンドラインウインドウのクリア処理はshortmessの値をチェックするようにしました。これで無駄な再描画を抑制できます。
ほぼ完成です。できれば、他の方にも動作確認をおねがいします。

[2013-11-29 09:48] msmhrt commented on #486
お、修正されたんですね。
皆様、ありがとうございました。m(__)m

[2013-11-29 17:44] splhack opened #490 "mbyte.c utf_char2cells doublewidthに絵文字"
[code]

範囲が広すぎるかもしれませんが

[2013-11-29 17:47] splhack opened #491 "mbyte.c utf_char2cells ambiguousが不完全(?)"
たとえばU+21B2 "↲" が含まれていない。OS X Osakaでは少なくとも2倍幅文字。
https://twitter.com/splhack/status/406477483727257601

パッチ: https://gist.github.com/mattn/78477753124fb4eb84a3

[2013-11-29 21:54] nocd5 commented on #484
issueが閉じててもコメントできたんですね。

k-takataさん、みなさん、ありがとうございました。

[2013-11-29 23:09] k-takata commented on #484
いえいえ、こちらこそ有用なパッチをありがとうございました。

ちなみに、[こんなパッチ](https://bitbucket.org/k_takata/vim-ktakata-mq/src/18a195752382d07dcb92d005972fb7c40c44e7e8/tabline-dnd-mark.diff)を当てておくと、`:ver`を実行した際に`追加拡張パッチ:`というものが表示され、何のパッチを当てているかが分かりやすくなります。
![vim-extpatches](https://f.cloud.github.com/assets/840186/1647622/e6dbf5d2-594a-11e3-8078-57af876d38c5.png)

[2013-11-30 00:49] Shougo commented on #484
タイマーがしれっと有効になっている……

[2013-11-30 01:20] k-takata commented on #484
あ、外すの忘れてた。外そう。

[2013-11-30 01:47] Shougo commented on #484
Oh...

[2013-11-30 02:25] Shougo commented on #487
https://groups.google.com/forum/#!topic/vim_dev/fhGAStSCAMg

パッチの投稿が終わりました。あとは返信待ちです。
レビューしてくださった皆様、ありがとうございました。

[2013-11-30 02:37] nocd5 commented on #484
なるほど、僕もやってみます！

[2013-11-30 15:29] mattn commented on #491
不完全ではないです。
wcwidthのambiguousの実装がそうだからです。

https://www.opensource.apple.com/source/gdb/gdb-1705/src/readline/support/wcwidth.c

また unicode の仕様上でも ambiguous ではありません。

※ http://www.unicode.org/Public/UCD/latest/ucd/EastAsianWidth.txt (21B2)

[2013-11-30 15:30] mattn commented on #490
#491 と同じ理由ですが、一般的な実装がそうなので、この修正は取り込まれにくいでしょうね。
テーブルをカスタマイズ出来る様にするしかないかもですが、いかんせんテーブルがデカイ。

[2013-12-01 07:44] rbtnn opened #492 "`:h mode()@en`内にtypo。（表記が統一されていない。）"
`:h mode()@en`内の「mode([expr])」は「mode([{expr}])」です。

[2013-12-02 10:40] k-takata commented on #54
improving Vim - Kickstarter - brainstorming - goals - who wants to join?
vim_use: https://groups.google.com/d/topic/vim_use/IKha1xx6V8Y/discussion
vim_dev: https://groups.google.com/d/topic/vim_dev/IKha1xx6V8Y/discussion

[2013-12-02 11:28] ynkdir commented on #481
報告しました
https://groups.google.com/d/msg/vim_dev/fxHdlW1BHTw/mAeNuvtpMUkJ

[2013-12-02 11:29] ynkdir commented on #492
報告しました
https://groups.google.com/d/msg/vim_dev/fxHdlW1BHTw/mAeNuvtpMUkJ

[2013-12-02 11:31] koron commented on #54
( ´Д｀)=3

[2013-12-02 12:37] k-takata commented on #254
ActivePerl 5.16まではVC6でビルドされていましたが、ActivePerl 5.18はMinGWでビルドされていることが分かりました。
https://groups.google.com/d/topic/vim_dev/YWnfI9wFFoA/discussion
今後、VCで if_perl を有効にしてビルドするのは面倒になるかもしれません。

[2013-12-02 12:38] koron commented on #254
まじか…めんどいなぁ。

[2013-12-02 12:51] k-takata commented on #254
上記スレに書いたように、if_perl.xs の修正以外に、`C:\Perl\lib\CORE\config.h` に1カ所パッチを当てる必要がありました。

[2013-12-02 13:04] rbtnn commented on #492
ありがとうございます。
このパッチが出たらクローズします。

[2013-12-02 14:00] Shougo commented on #481
ありがとうございます

[2013-12-02 14:01] Shougo commented on #54
https://groups.google.com/d/msg/vim_dev/IKha1xx6V8Y/tfHDcVcU0Y8J

Bram氏がいまだにVimをZimbuで書きなおす気満々の件について

[2013-12-02 19:53] ichizok commented on #467
https://gist.github.com/ichizok/7755887
結果を格納するリストを渡すようにしてみました。

[code]

[2013-12-04 13:04] ichizok commented on #461
https://gist.github.com/ichizok/7778227
`do_in_runtimepath()` の callback に rtp 部分の長さを渡す。

[2013-12-05 02:53] mattn commented on #489
https://groups.google.com/forum/#!topic/vim_dev/-ZcHXmZcRlM

[2013-12-05 03:19] k-takata commented on #489
GJ!

[2013-12-05 05:22] todashuta commented on #489
:+1:

[2013-12-05 11:51] Shougo commented on #487
https://groups.google.com/d/msg/vim_dev/fhGAStSCAMg/-qGTLVa_bCMJ

todo list入り宣言きました！
実際にtodo listに入ったことを確認した後にclose予定です。

[2013-12-06 03:39] k-takata commented on #489
v150kが公開されたけど、直ってない気がする。

[2013-12-06 03:51] mattn commented on #489
直ってないすね

[2013-12-06 12:43] k-takata commented on #314
お試し版扱いで、パッチを紹介。
https://groups.google.com/d/msg/vim_dev/YWnfI9wFFoA/BDlXPHiAdmYJ

[2013-12-06 12:54] k-takata commented on #489
本題からずれてしまいますが、原因が判明したのでこれも報告しておきました。
https://groups.google.com/d/topic/vim_dev/3sOPYV6l8cY/discussion

[2013-12-08 15:50] tyru opened #493 "maparg()が実際に返すDictionaryとhelpに違いがある"
7.3.1261で`:map-nowait`が追加され、`maparg()`の返すDictionaryにも追加されましたが、helpの方にはまだ追加されていないようです(今パッチ書こうとvim-jp/vimをcloneしてる所です)。
またvimdoc-jaの方にも追加する必要がありますね。
#### maparg()

[code]
#### help

[code]
#### 蛇足

そういえばhelpの修正って本家リポジトリのコミット毎に逐一チェックされてるんでしょうか…？
もしそうでないとしたら結構漏れがありそうなので自動化案件でしょうか…

[2013-12-08 16:50] tyru commented on #493
パッチできました。

[code]

[2013-12-08 17:00] tyru commented on #493
パッチおくりました。
https://groups.google.com/forum/#!topic/vim_dev/TUOY-CK823M

[2013-12-09 09:50] ynkdir commented on #493
おつかれさまです。ありがとうございます。

ソースは追ってるのでチェックはしてますが更新は停滞中です。

[2013-12-09 13:45] tyru commented on #493
@ynkdir なるほどー。

[2013-12-10 09:49] mattn opened #494 "Windowsコンソール版でCTRL-^が効かない。"
キーハンドリングが間違ってるんじゃないか

おかげで alternate-file へスイッチ出来ない。

[2013-12-10 09:54] mattn commented on #494
なんとなくわかった。スイッチも出来るし、i_CTRL-@ で previous-insert-text も入るし、langmap の切り替えもできた。

[code]

[2013-12-10 10:00] koron commented on #494
なんがGUIで、日本語キーボード用に特別な処理が入ってた記憶があったけど…似たようなことしなくて大丈夫かな。

いやそもそも記憶違い=そんな特別な処理はないかも。

[2013-12-10 10:01] mattn commented on #494
https://groups.google.com/forum/#!topic/vim_dev/5nf3sLpAAF4

[2013-12-11 02:56] itchyny opened #495 "pastetoggleした時にstatuslineが評価されない"
再現方法

[code]

問題
statuslineが「0」のまま

期待する挙動
statuslineが「1」になる

補足
pjと押すと, statuslineは「1」になる
expected behavior かもしれないが, いずれにせよ undocumented.

vimのバージョン
7.4 patch 1-113

[2013-12-11 03:32] k-takata commented on #494
http://vim-jp.org/vimdoc-ja/editing.html#CTRL-6
JPキーボードで`CTRL-^`が効かないのはバグと言っていいのでしょうが、`CTRL-6`は意図的に`CTRL-^`と同じ動作にしてあるような感じがします。（ヘルプの表現が微妙ですが。）
Windows/Linux, gvim/vimいずれもJPキーボードで`CTRL-6`でバッファが切り替わりました。

[2013-12-11 03:35] mattn commented on #494
はい。だたそれって、もともとVirtualKeyから値が取れないから CTRL-6 に割り当てた、というワークアラウンドであって本来 ToAscii から返った物を判定すれば取れるはずだと思ってます。

[2013-12-11 03:43] koron commented on #494
英語キーボードでは `Ctrl-^` = `Ctrl+Shift+6` よりも `Ctrl+6` のほうが押しやすいから、であって欲しい。
仮にそうならJPキーボードで `Ctrl-^` は `Shift` 要らないから、対応してなくても良いということになっちゃうのかな?

[2013-12-11 06:12] mattn commented on #494
workaroundの為にmap可能なキーが1個減るのは悲しいなー

[2013-12-11 16:45] k-takata commented on #254
既に本題からずれてしまっていますが、ActivePerl 5.18対応のパッチが 7.4.117, 7.4.120 でマージされました。
https://groups.google.com/d/topic/vim_dev/9jQN82LU-9k/discussion
https://groups.google.com/d/topic/vim_dev/wCHEgf8E9DQ/discussion
VCでビルドする際、ActivePerlのヘッダにパッチを当てる必要がある点は変わっていません。

[code]

[2013-12-11 17:01] k-takata commented on #453
7.4.122でマージされました。
https://groups.google.com/d/topic/vim_dev/KXzoTZz3-MY/discussion

[2013-12-11 22:35] k-takata commented on #455
全て取り込まれました。

7.4.123
https://groups.google.com/d/topic/vim_dev/S97f4QMLBRk/discussion
7.4.124
https://groups.google.com/d/topic/vim_dev/xaEamQRW6l0/discussion
7.4.125
https://groups.google.com/d/topic/vim_dev/zxDYpWvXhn8/discussion

[2013-12-12 00:44] koron commented on #254
これってVim側でそのヘッダを include するまえに諸々の条件判断した上で

[code]

するんじゃダメなんですが?

[2013-12-12 00:44] koron commented on #254
もしくはincludeした直後に

[code]

[2013-12-12 00:54] koron opened #496 "removing bevel (inset) borders. (Windows)"
こんなメールを受け取った。

![annoying borders in vim](https://f.cloud.github.com/assets/468368/1729760/be9644fc-62c7-11e3-9307-eeebb91cbc82.png)

たぶんウィンドウ内側(inset)の3Dボーダーのことだとおもう。
これを消したいとのこと。

[2013-12-12 00:56] koron commented on #496
1. guioptionsに追加して
2. ウィンドウスタイル変えて
3. ウィンドウサイズ計算を修正
4. ドキュメント書く

すれば良いはず。誰かたのむ。

[2013-12-12 03:14] k-takata commented on #254
soreda!

[2013-12-12 03:29] k-takata commented on #496
静的に変えるだけならこうですね。

[code]

動的に変える場合は、`GetWindowLong()`, `SetWindowLong()`, `SetWindowPos()`辺りを使うことになるのでしょう。
誰か頼む。

[2013-12-12 03:54] mattn commented on #496
静的に変えた場合のキャプチャプリーズ

[2013-12-12 04:01] sgur commented on #496
![image](https://f.cloud.github.com/assets/255021/1730484/bc456fd8-62e1-11e3-8aee-fc25984fdd44.png)

いま作ってみました。左がinsetアリ、右がナシです。
なんか、これWindowsだけならなくてもナシ版がデフォルトでもいい気がします。

[2013-12-12 04:06] k-takata commented on #496
これ、省略できるのではと思ったのですが、ちゃんと直さないとダメそうですね。
マウスでウィンドウサイズを変更すると、ゴミが残ってしまいました。

[2013-12-12 09:09] ynkdir commented on #492
Bram は [expr] の方が好みとのことでした。

[2013-12-12 09:47] Shougo commented on #487
本日、todoリストに入っていることを確認しました。closeします。

[2013-12-12 09:47] #487 closed, assigned to Shougo

[2013-12-12 09:49] Shougo commented on #385
本日、このパッチがtodoリストに入っていることを確認しました。
Bram氏は一応チェックしているようです。
ただ、今のバージョンのVimで問題が起きないか私が確認できていないので、このissueはまだオープンしておきます。
問題がないことを確認できたらcloseします。

[2013-12-12 09:56] k-takata commented on #487
todoリストの該当部分をコピペしておいてください。

[2013-12-12 09:56] h-east commented on #487
@Shougo :+1: ナイス行動力！

[2013-12-12 10:24] Shougo commented on #487
該当行は

[code]

です。

@h-east 今回はどうしても本体に追加したかったので頑張りました。レビューや実装を手伝ってくれた皆さんありがとうございます。

[2013-12-12 10:33] Shougo commented on #385
現在、自分のVimを最新版にし、このパッチを利用しながら様子を見ています。
何事もなければよいのですが……。

[2013-12-12 10:34] Shougo commented on #385
ちなみに、todo.txt の該当行は以下です。

[code]

[2013-12-12 14:00] koron commented on #496
https://bitbucket.org/koron/vim-kaoriya-patches/src/6658116d59073a4471a83fea41a0791718773a96/2004-caption_switch.diff

このパッチが参考になるはずです。

[2013-12-12 14:09] koron commented on #496
Aeroスタイルなら、ってところでしょうね。

[2013-12-12 14:21] k-takata commented on #496
あるいは、もう少しさかのぼってXPのビジュアルスタイルなら良さそう。

[2013-12-12 14:23] k-takata commented on #481
7.4.125直後のコミットで取り込まれました。
http://code.google.com/p/vim/source/detail?r=7818ca6de3d07439571bc1fe788a3efff6979531

[2013-12-12 14:23] #481 closed, assigned to nobody

[2013-12-12 14:24] k-takata commented on #493
7.4.125直後のコミットで取り込まれました。
http://code.google.com/p/vim/source/detail?r=7818ca6de3d07439571bc1fe788a3efff6979531
指摘されていた英語の表現は、指摘前のものがほぼそのまま入ってしまったようですね。

[2013-12-12 14:24] #493 closed, assigned to nobody

[2013-12-12 14:26] k-takata commented on #492
[expr] の形で7.4.125直後のコミットで取り込まれました。
http://code.google.com/p/vim/source/detail?r=7818ca6de3d07439571bc1fe788a3efff6979531

[2013-12-12 14:26] #492 closed, assigned to nobody

[2013-12-12 14:26] Shougo commented on #481
ありがとうございました

[2013-12-12 14:31] sgur commented on #496
あー、なるほど。
ウィンドウのデコレーションの具合によりますね…

[2013-12-12 14:37] k-takata commented on #453
VCでビルドしたらwarningが出ました。

修正パッチ送付済み。
https://groups.google.com/d/msg/vim_dev/KXzoTZz3-MY/f6bGV2tA7e4J

[2013-12-12 15:00] ynkdir commented on #495
todo にありました。だいぶ放置ですが・・・

[code]

[2013-12-12 15:02] koron opened #497 "test100 is failed on Windows"
Windows はテストを基本的に ff=dos で実行する。
しかし test100 に含まれる redir & echo は
ff の値に関係なく LF (ff=unix相当) なファイルを吐くらしい。

[code]

test100 ではこれ以外にも ff=dos として test.out に出力するので改行コードが混在してしまい、
いまのままテスト用のMakefileをいじるだけではどうにもできない。

---

いまのところ考えられる対応方法は
-   test100 の該当部分の出力方法を変える。
-   `redir >> {ファイル}` 時に ff を見て出力改行コードを決定するようにvimを修正する

ほかに良い手はあるだろうか?

[2013-12-12 15:05] ynkdir commented on #495
[bugreport] pastetoggle does not update statusline
https://groups.google.com/d/msg/vim_dev/LASACTz4mgs/CsHs6cdKupIJ

[2013-12-12 15:29] koron commented on #497
2 でやるなら message.c の redir_write() で putc() しているところ(3166行目付近)、
そこで判断&変換を噛ませる必要がありそう。

[2013-12-12 15:51] koron commented on #497
適当なパッチ作ったら、こんどは test17 でコケたw

あ～そういうことか…

[2013-12-12 15:56] koron commented on #497
test100 の :w してるところの前全部に :set ff=unix 足せば良さそう。

[2013-12-12 16:02] koron commented on #497
Sent https://groups.google.com/d/msg/vim_dev/3oUotJXDhqU/gZhbHf6LeuAJ

[2013-12-12 17:41] koron commented on #496
これに簡易的に対応したパッチ

[code]

[2013-12-12 21:35] k-takata commented on #453
7.4.126で取り込まれました。
https://groups.google.com/d/topic/vim_dev/NDZKiIOR47U/discussion

[2013-12-13 02:32] itchyny commented on #495
見つけていただき有難うございます

[2013-12-13 14:48] rbtnn commented on #492
なるほど。

[2013-12-13 14:51] thinca commented on #492
それだと `spellbadword([{sentence}])` や `tabpagebuflist([{arg}])` や `tabpagenr([{arg}])` など、他の部分と統一されなくなってしまいますね。

[2013-12-13 14:53] thinca commented on #492
改めて見てみると、`getchar([expr])` や `mode([expr])` などがあり、そもそも統一されていない。

[2013-12-13 16:11] rbtnn opened #498 "v:oldfilesの状態がおかしい。"
http://lingr.com/room/vim/archives/2013/12/13#message-17817414

v:oldfilesの状態がどうもおかしいみたいなのでとりあえずissuesに登録しておきます。

よろしくお願いします。

[2013-12-13 20:42] ichizok commented on #498
コードを見るに、`v:oldfiles` は `let` で変更できない設計なので、エラーになること自体は問題ない (仕様) と思います。
実際、普通に起動しても `:let v:oldfiles += ['foo']` はエラーになります。

ただ、`-i NONE` や読み込むべきviminfoがない状態で起動すると `v:oldfiles` には配列領域がアロケートされません。
(確保しても変更不可で無駄なので、これ自体は妥当かと思います)

このため、`v:oldfiles` に対してforループを回そうとすると `E714: List required` のエラーになりますが、
このエラーが導出される他の箇所と比べると、配列領域がない場合に上記エラーになるのはちょっと厳しすぎるし、
不親切なエラーメッセージであると思います。

エラー出さないようにしました。
https://gi

[2013-12-14 01:27] itchyny commented on #498
[code]

[2013-12-14 13:48] ichizok commented on #498
ということは、配列領域はアロケートしておかないとだめですね..

[2013-12-14 14:32] mattn commented on #498
あまり難しく考えずに

[code]

でいいんじゃないかな。

[2013-12-14 18:02] k-takata commented on #254
7.4.128で取り込まれました。
https://groups.google.com/d/topic/vim_dev/tIkBllCXSVk/discussion
これでVCでもそのままビルドが通るようになりました。

[2013-12-15 14:10] rbtnn opened #499 "quickfixウィンドウだけになったときにbwipeout!する設定すると、Vimが死んでしまう。"
以下の.vimrcと手順で行うとVimが死んでします。

**.vimrc**

[code]

**手順**
1. vim -i NONE で起動。
2. copen
3. Ctrl-w Ctrl-k
4. bwipeout

**環境**

[code]

[2013-12-15 14:13] Shougo commented on #385
パッチを有効にしてしばらく使っていましたが、問題ないようです。
todoリストにも入っていますし、一度closeします

[2013-12-15 14:13] #385 closed, assigned to Shougo

[2013-12-15 15:05] h-east commented on #499
@rbtnn 報告ありがとうございます。
2点修正させてもらいました。
- `autocmd vimrc WinEnter * ～` の行の余分な空白を削除しました。
- 手順の`3. Ctrl-k` を `3. Ctrl-w Ctrl-k` に修正しました。

Fedora 19の自前ビルドVim 7.4.131でも再現しました。

[code]

[2013-12-16 01:53] mattn commented on #499
消された後で元のバッファに戻ろうとしているみたい。

[code]

[2013-12-16 02:12] mattn commented on #498
内部エラーは別として、いったん初期化されないって件で送ろうかと思いますが、どうでしょう？＞all

[2013-12-16 02:22] ichizok commented on #498
＜異議なし

[2013-12-16 02:42] itchyny commented on #498
お願いします

[2013-12-16 08:45] thinca commented on #498
すでに投げられていたのでリンク貼っておきます。
https://groups.google.com/d/topic/vim_dev/QamxovCtF-g/discussion
なんかレス付いていますね。もう少し説明した方が良さそう。(後は任せた)

[2013-12-16 08:47] thinca opened #500 ":keeppatterns で @/ も変更しないようにして欲しい"
`:keeppatterns` は履歴にパターンを追加しないようにしますが、`@/` も変更しないようになると副作用を気にせずに `:substitute` や `:global` などがスクリプトから使えるようになるので、便利になると思います。
現状はこれらのコマンドを実行すると `:keeppatterns` が付いていても `@/` が更新されてしまうため、これを避けるためには手動で保存/復元する必要があります。

[2013-12-16 08:49] thinca commented on #500
何気に記念すべき 500 ゲットだった。

[2013-12-16 10:43] Shougo commented on #401
このパッチを最新のVimで有効にすると補完時にクラッシュするように見えます。
誰か他の方も確認してもらえないでしょうか。

[2013-12-16 15:04] k-takata commented on #450
斜体のオーバーハング部分が正しく描画されない問題はパッチを投げました。
https://groups.google.com/d/msg/vim_dev/T7q5KYMvyRk/EtYbC6FSyLIJ
結局どちらもWindowsだけの問題ではなかったようで…

[2013-12-16 15:14] k-takata commented on #450
おや、直ったつもりが直っていなかった？

[2013-12-16 15:32] k-takata commented on #450
イタリックは、背景を透過させて隣の文字を消さないようにするか、単語単位で書くかしないとダメかもしれないです。

[2013-12-17 00:29] nocd5 commented on #450
日本語のようにいつまでもスペースなく続く文章を考えると、
単語単位というより行単位になってしまいますかね？

[2013-12-17 05:35] mattn commented on #500
[code]

[2013-12-17 05:36] mattn commented on #500
あ、間違った。

[2013-12-17 05:42] mattn commented on #500
[code]

[2013-12-17 05:42] mattn commented on #499
誰か試して貰えると助かります。

[2013-12-17 06:07] mattn commented on #500
こっちの方が綺麗か

[code]

[2013-12-17 06:07] ichizok commented on #498
vimの起動オプションが `-i NONE` でなく `-u NONE` になってます

[2013-12-17 06:11] ichizok commented on #498
あ、`-u NONE` でも同じか..

[2013-12-17 08:21] mattn commented on #500
https://groups.google.com/d/msg/vim_dev/JtsdEKHA0Dw/Py6xZ8gRNrYJ

[2013-12-17 08:23] ynkdir commented on #499
おつかれさまです。

[code]

quickfix 限定ではなさそうです。
mattn さんのパッチで落ちなくなりました。
make test も通ります。

この動作順序でいいのかは気になりました。

[code]

[2013-12-17 08:42] mattn commented on #499
ありがとうございます。
確かに変ですね。

[2013-12-17 09:22] Shougo commented on #500
@mattn++

[2013-12-17 10:31] thinca commented on #500
:+1:

[2013-12-17 14:09] k-takata commented on #450
イタリックの動作に関して、いろいろ勘違いしていたことが分かりました。
まず、`:set guifont=lucida_console:h12:i`のようにguifontに直接イタリックを指定した場合と、syntaxでイタリックを指定した場合は動作が異なることが分かりました。
gfnにイタリックを指定した場合は、vimの内部処理がイタリックを意識した処理にならず、オーバーハングが欠けます。欠けたかどうかはlucida consoleの場合、`W`などが見やすいです。
一方、syntaxでイタリックを使っている場合は、単語単位で書き直す処理を行っているようで、たいていの場合はきれいに表示されます。
例:

[code]

ただし、この後、カーソルを何文字か左に戻してから挿入モードで半角スペースを入れると、その左の`W`が欠けてしまいます。（前述のThomas Tuegel氏のパッチを当てている

[2013-12-17 14:31] k-takata commented on #337
https://github.com/vim-jp/issues/issues/262#issuecomment-12990370 で指摘されていた問題ですが、GDIでも発生するものだと思っていたのですが、 https://github.com/vim-jp/issues/issues/450#issuecomment-30753235 に書いたとおり、DirectWrite版の不具合だと分かりました。

修正パッチです。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/c916bbbdd6dcb31c44ac9d63146229a24bdd9c26/fix-dwrite-italic-overhang.patch
常に、右側1文字分余計に描画するようにしています。サブピクセルレンダリングを考えると、イタリック以外でも本来の文字の幅をはみ

[2013-12-17 15:35] k-takata opened #501 "enc=utf-8にするとフォント名にマルチバイト文字が使えない"
todo.txtに以下の記載があります。

確認方法:

[code]

修正案:
https://bitbucket.org/k_takata/vim-ktakata-mq/src/905bb2bb494a517d26316133b03ff340f760b067/fix-utf8-fontname.patch
Unicode APIを使うと修正範囲が大幅に増えるので、ANSI APIを使っています。
カレントコードページでは扱えないフォント名が扱えなくなってしまいますが、大した問題ではないでしょう。

[2013-12-17 15:48] koron commented on #501
基本的には :+1:

ただ将来を考えたら、フォント選択のところUnicode APIにすべきなんじゃないの?
あれ… なんか似たようなことDirectWriteパッチでやってなかったっけ?

[2013-12-17 16:36] k-takata commented on #501
将来的にはそうなんでしょうけど、LOGFONT構造体、CreateFont()、CreateFontIndirect()といったものを使っている部分を総書き換えしないといけません。（フォント選択の部分だけを変えても意味はないでしょう。）

#259 とか #294 の件ですかね？

[2013-12-18 11:25] k-takata commented on #501
Unicode APIの件をTODOコメントとして追加。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/8e5c0a50f4c1bed79726e5d221d6060651ccc559/fix-utf8-fontname.patch

[2013-12-19 14:33] k-takata commented on #450
前の空白まで戻って文字列の再描画をしている部分があるので、こんな感じで空白が2文字（Thomasパッチを当てている場合は3文字）連続しているところまで戻って再描画すれば良さそうです。

[code]

[2013-12-19 16:17] 0xBADDCAFE opened #502 "virtualedit=block で矩形選択中に表示行移動がおかしい場合がある"
再現バージョン
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Dec 14 2013 23:04:18)
MS-Windows 32/64 ビット GUI/CUI 版
適用済パッチ: 1-131

再現方法
1. vim -u NONE で起動
2. `set virtualedit=block` を設定
3. 以下のようなテキストを用意する。

[code]

1行で矩形選択を開始し、`$`で行末に移動。`gj`を押すと、カーソルが 2 行目の表示末尾に飛んでしまう。

![vimissue](https://f.cloud.github.com/assets/599164/1783809/911615aa-68c8-11e3-8bd1-1ea5eac82507.gif)

[2013-12-19 16:27] h-east commented on #502
@0xBADDCAFE 報告ありがとうございます！

Fedora 19のVim 7.4.131(自前ビルド) でも再現しました。

[2013-12-19 16:35] 0xBADDCAFE commented on #502
こちらこそ、ご協力助かります。あとタグ付け気付いていませんでした、ありがとうございます。
個人的にこの issue では、gj が流行ると思っています。

[2013-12-20 09:23] k-takata commented on #489
いつの間にか v150l が出ていて、指摘事項は直っているように見えます。

なお、`gvim -u NORC -U NORC -N .` で起動すると以下のエラーが出ました。

[code]

[2013-12-20 11:11] mattn commented on #489
がんばれnetrw!

[2013-12-20 11:29] k-takata commented on #450
GTK版の場合、1文字余計に書いているのか、(Thomasパッチを当てている場合) 4文字戻らないと欠けて表示されてしまいました。
描画処理、複雑すぎて何をやってるのか分かりません。

[2013-12-20 17:15] h-east commented on #502
矩形ビジュアルモード(ctrl-v) かつ 'wrap' かつ '$' 入力後に左右カーソル移動がない場合の gj および gk の挙動を修正しました。
それ以外の動作には影響を与えていないはず。
試してもらえると助かります。

[code]

TODO:
test追加！

[2013-12-20 17:19] h-east commented on #502
現状のtestはALL DONEなのを確認してます。

[2013-12-20 18:26] 0xBADDCAFE commented on #502
GJ :+1:
自分で書いた以上 GJ やらねばならない使命感にかられ、恥ずかしさで後悔している次第です。

それはそれとして、パッチ試してみました。
右端に飛んでしまう挙動がなくなったことを確認しました。

`gj`後の移動先ですが、この修正では次の行の行末に移動しています。
この操作を行う際は`:set virtualedit=block`が設定されているので、移動先は
カーソル位置の真下とならないでしょうか。
あらかじめ期待される挙動として明記しておくべきでした、すいません。

[2013-12-20 18:55] 0xBADDCAFE commented on #502
すいません、上記の挙動について勘違いしていました。
行末に移動しているのでこの修正後の挙動であっていました。
確認した範囲ですべて問題なしでした。

[2013-12-20 19:19] h-east commented on #502
@0xBADDCAFE 確認ありがとうです。
何もなければ20時間後くらいにvim_devにpatchを送る予定です。

[2013-12-21 01:58] mattn commented on #502
++

[2013-12-21 11:37] k-takata commented on #453
https://groups.google.com/d/msg/vim_dev/KXzoTZz3-MY/aBCzYETlBQIJ
flags と inherit_handles が逆だとの指摘。

[2013-12-21 19:19] h-east commented on #502
testも追加してvim_devに送りました。
https://groups.google.com/d/msg/vim_dev/F2KoCT1ZXpQ/aRNmuZufoe4J

[2013-12-22 14:56] k-takata commented on #501
投げました。
https://groups.google.com/d/topic/vim_dev/LNxAA9b4u3M/discussion

[2013-12-22 16:38] 0xBADDCAFE commented on #401
どういう形で確認すればいいか分かりませんが、
https://gist.github.com/mattn/6240679
このパッチのみを以下のバージョン

[code]

へ適用し、vim_dev に投稿されていた操作を実行しました。

[code]

ひとまず上記の操作ではクラッシュしませんでした。

[2013-12-23 03:43] k-takata commented on #337
ドキュメントにミスを2カ所発見。
https://bitbucket.org/koron/vim-kaoriya-patches/src/44ecfe340d3038c2532b806408fd16e084cf0a58/X001-direct_write-r3.diff?at=default#cl-11
https://bitbucket.org/koron/vim-kaoriya-patches/src/44ecfe340d3038c2532b806408fd16e084cf0a58/X001-direct_write-r3.diff?at=default#cl-103
`'directx'` オプションは `'rop=type:directx'` に変更になりましたが、古い名前が残ったままになっています。

[2013-12-23 06:33] osyo-manga opened #503 "substitute('string', '.\zs', 'a', 'g') の結果が 7.4.045 以前と以降で異なる"
Lingr の Vim部屋で発覚したのでこちらにも報告しておきます。
`substitute('string', '.\zs', 'a', 'g')` が 7.4.044 と 7.4.045 で異なる結果となりました。
- 7.4.044 => `sataraianaga`
- 7.4.045 => `satrainag`
- 該当するパッチ
  - https://code.google.com/p/vim/source/detail?r=8ced827b2e8ba49f9ae0da2033670fee83e7b55b
- Lingr のログ
  - http://lingr.com/room/vim/archives/2013/12/22#message-17894253

[2013-12-23 07:19] raa0121 commented on #503
`:%s/.\zs/a/g` では7.4.131でも`sataraianaga` になりました

[2013-12-23 11:14] Shougo commented on #401
これだけでは再現しないと思います。
自動補完のプラグインを使うなどして、補完機能を何度も呼ばないと再現しませんでした。

しばらく使ってみてもらえませんか。

[2013-12-23 12:17] ynkdir commented on #503
ありがとうございます。報告しました。
https://groups.google.com/d/msg/vim_dev/mQN4_ei5kFM/Myqp7cByX-wJ

[2013-12-23 12:18] osyo-manga commented on #503
@ynkdir++

[2013-12-23 13:03] h-east commented on #401
俺達はエスパーじゃないYO:alien::zap:
12/16の時点でクラッシュした時の状況や手順を情報として書いといてくれないと。
再現性100%じゃない場合でも「これこれこういう設定でこういう操作をN回くらいやったら落ちた」とかでいいので。

[2013-12-23 13:15] Shougo commented on #401
個人的な環境でしか試していないので（最小構成を作っていない）、その情報を出してよいのか分からなかったので
報告していませんでした。すみません。

私が落ちた時の状況は、
1. eskk.vim + neocomplete.vimで自動補完をさせていた
2. J6uil.vimでLingrにチャットをしていた

時に発生しました。SEGVなのでタイミングはランダムなのですが、数十回ほどeskk+neocompleteによる自動補完をやっていた時に落ちました。

自動補完を使わなくても再現できるとは思いますが、すぐにSEGVするわけではないので自動補完を連続で行ったほうが再現させやすいとは思います。

[2013-12-23 13:25] Shougo commented on #401
私の方でももう一度このパッチを有効化して試してみます。それで落ちるようならもうちょっと詳しい手順を調べます。

このパッチを外した状態なら安定していることは確認済みです。

[2013-12-23 13:29] h-east commented on #401
@Shougo 了解です。お手数ですがよろしくお願いします:thumbsup:

[2013-12-23 13:32] Shougo commented on #401
了解です。現在使用中ですが、少し使っただけではSEGVする気配がないので、もうちょっとガッツリ使用した上でSEGVするかどうか確認する必要がありそうです。

Edit: パッチはこれを使用しています。

https://gist.github.com/mattn/6240679

[2013-12-23 13:41] Shougo commented on #401
自動補完を何度も入力していて、その後eskkでの日本語入力中にクラッシュしたので報告します。
パッチを有効化していない状態ではこういうクラッシュは起こっていませんでした。

やはりこのパッチはクラッシュするようです。もうちょっと調べます。

Edit: プラグインと設定なし、手動補完で延々と入力していましたが、クラッシュしません。ちょっとneocomplete+eskkの最小構成を作ってみます。

[2013-12-23 13:50] Shougo commented on #401
[code]

この上記.vimrcで40〜50回ほどeskkの補完とひらがなの入力を繰り返したところ落ちることを確認しました。
落ちるまではそれなりの時間がかかるようです。

edit: 標準の補完でも再現できないかやってみましたが、全然再現せずかなり厳しいです。メモリを大量に消費する必要がある？

[2013-12-23 14:10] Shougo commented on #401
eskkを使わず、neocompleteだけならどうなのか見てみましたがこちらも全然クラッシュの気配がないです。
前はコード編集中にクラッシュしていたので、こちらも時間をかければクラッシュするはずとは思います。

私が試した限りだと、eskk+neocompleteが一番手間なくクラッシュさせる方法のようです。

[2013-12-23 15:01] Shougo commented on #401
すみません、私のパッチリストにここの古いパッチが混じっていたようです。

パッチリストが 別のパッチ1 -> 別のパッチ2 -> top -> ここのパッチ（旧） -> ここのパッチ（新）
という順番になっており、私がSEGV入りのパッチをリストから削除していなかったのが原因です。

12/16のときは、
別のパッチ1 -> 別のパッチ2 -> ここのパッチ（旧） -> top とパッチを当てた時にSEGVしていて、
常用する際はパッチを当てる順番を変えて 別のパッチ1 -> 別のパッチ2 -> top  -> ここのパッチ（旧） としていたのですが
今回試すときに 別のパッチ1 -> 別のパッチ2 -> ここのパッチ（旧） -> ここのパッチ（新） -> topとなってしまっていて SEGVしたのが真相みたいです。

旧パッチを除外して試しているんですが、安定しているように見えます。
と

[2013-12-23 15:19] h-east commented on #401
よく分かってないけど:sweat_smile:、解決したのならよかったです。

[2013-12-23 16:04] h-east commented on #499
これ、期待する動作は何でしょうか？
window1つでバッファ1つ(無名バッファ)になるでOK？

[2013-12-24 01:13] ynkdir commented on #499
そんな感じだと思います

[2013-12-24 04:48] ujihisa commented on #503
@ynkdir++

[2013-12-24 12:26] osyo-manga commented on #93
+1

[2013-12-24 12:32] Shougo commented on #93
ここの定数値を変えるだけなら、さっさとパッチを書いてしまってvim_devに提案してみれば良いと思うのですが、そうしない理由はなんでしょうか。

[2013-12-24 13:43] thinca commented on #93
定数値をどう変えるべきか、と言う結論が出ていません。が、多分ここで話してても結論なんて出ないので一回出してしまうのが良いのでしょうね。

[2013-12-24 13:58] Shougo commented on #93
はい。とりあえず提案して、議論がどうなるか見るのが良いと思われます。ここで止まっていても放置されるだけ。

[2013-12-24 16:07] nocd5 opened #504 "runtime/menu.vim内のtypo. Se&T Compiler"
[code]

じゃないでしょうか？
他には特にショートカットだからといって大文字にしている箇所はありません。

尚合わせてlangファイルを全て修正する必要があります。

[2013-12-24 16:14] nocd5 commented on #504
runtime/menu.vimとruntime/lang/menu*.vimの修正パッチ
https://gist.github.com/nocd5/8115153

何箇所か&Set\ Compilerとか&SeT\ Compilerとなっている箇所も修正しています

[2013-12-25 02:04] ynkdir commented on #504
意図的みたいです。

[Menu Misspelling]
http://thread.gmane.org/gmane.editors.vim.devel/12324/

[2013-12-25 15:29] k-takata commented on #466
元の `redraw_later(NOT_VALID);` を追加するパッチの方は、`:normal ukkk3dd` の動作には影響なさそうですね。（ようやく試した）
ただ、一度却下されているだけに、やはり何か別の方法を考えないといけないのか…

[2013-12-25 16:58] nocd5 commented on #504
ありがとうございます。その情報みつけられませんでした。
ちょっと違和感はありますが、意図的だったんですね。

解決ということで閉じさせていただきます。
ynkdirさんありがとうございました。

[2013-12-25 16:58] #504 closed, assigned to nobody

[2013-12-25 19:09] rhysd commented on #114
折り返しが発生している行の一番下の行で g$ すると挙動がおかしいです．

[code]

上記のテキストが1行を折り返したものだとして，4行目で `g$` を使うとインデント分だけカーソルが余分に右に来てしまいます．

[2013-12-26 06:01] LeafCage opened #505 "getregtype()の挙動がヘルプファイルに書かれているものと違う"
ドキュメントでは、「空、または未知のレジスタ」の場合、`0`が返されることになっていますが、
実際には、
- レジスタが空の場合→空文字が返る
- 未知のレジスタの場合→無名レジスタ（または`v:register`？）のtypeが返る

という挙動になっているようです。

レジスタが空の場合は空文字が返るというのを仕様とするべきでしょうか。
また、未知のレジスタの場合に無名レジスタのtypeが返るのは修正するべきでしょうか。

[2013-12-26 12:53] nocd5 opened #506 "mingw4.6.1でビルドしたlua5x.dllとneocomplete"
Vim本体やneocompleteの不具合ではありませんが、一応報告しておきます。

mingw4.6.1(小生使用は正確にはTDM-GCCです)でビルドしたlua5x.dllを使用し、
「表示」や「表現」などの`表＋マルチバイト文字`の単語を含むファイルで
neocompleteが動作するとVimが落ちます。
mingw4.8.1ビルドのlua5x.dllではこの症状は現れません。

luaとmingw4.6.1の組み合わせでの不具合は以前他のソフトでも起こったことがありました。

環境としては稀なので不要かとも思いましたが、
もしかしたら今後luaを使用するプラグインでも同様の現象が起こるかもしれないので情報として残しておきます。

[2013-12-26 12:53] ynkdir commented on #505
ありがとうございます。報告しました。
https://groups.google.com/d/msg/vim_dev/-N5uY0t9IxE/z6LzIllpG_8J

[2013-12-26 12:53] nocd5 commented on #506
特にアクションはありませんので閉じます。

[2013-12-26 12:53] #506 closed, assigned to nobody

[2013-12-26 14:41] k-takata commented on #114
うーん、再現しないです。

[2013-12-26 18:35] rhysd commented on #114
あれ，再現しないですか… MacVim だからなのかな…

[2013-12-27 03:57] koron commented on #506
スタックトレース取れます?
あとluaの詳細なバージョンも。

直感的にはエスケープシーケンスが突き抜けているんだとはおもいますが…

[2013-12-27 19:58] nocd5 commented on #506
Luaのバージョンは5.2.0、5.2.2、5.2.3で落ちます。
件名で`lua5x.dll`としてしまいましたが5.1.4は大丈夫のようです。

すいませんスタックトレースはほとんどやったことがなく、
gdbでやってみようと思ったのですがうまくいかず見れませんでした。
lua52.dllもvimも`gcc -d`でコンパイルしたのですが
肝心の落ちるところのデバッグシンボルが取得できず

[code]

と関数名など見えず、断念しました。

[2013-12-30 18:10] h-east commented on #499
追記情報
`:bwipeout`しようとしているバッファの`bufhidden`が　unload or delete or wipe の場合はSEGVしないようです。
つまりデフォルトの "" もしくは 'hide' の時にSEGVする。

[2013-12-30 18:17] h-east commented on #499
unload or delete or wipe の共通点は close_buffer() [buffer.c : 339]の冒頭で unload_buf が TRUE にセットされる事。

[2013-12-30 20:32] osyo-manga opened #507 "autoload 変数に関数参照が設定されている場合に autoload 関数を呼ぶと内部エラーが発生する"
内部エラーが発生したので報告します。
autoload 変数に関数参照が設定されている場合にそのスクリプトの autoload 関数を呼ぶと内部エラーが発生しました。
あと最初に書いておくと再現するスクリプトは Vim script 的に間違った記述方法になっているかもしれません（autoload 変数名とファイル名が完全に一致していないので。
#### 再現用スクリプト
- [vim-bug20131231](https://github.com/osyo-manga/vim-bug20131231)

再現を行う場合は予めローカルにコピーして置いて下さい。
#### エラー内容

[code]
#### 再現手順
- 1.`$ vim -u NONE -N -c "set rtp+=D:/vim-bug20131231"` で Vim を起動
  - `'runtimepath'` に

[2013-12-31 12:03] Shougo commented on #305
https://groups.google.com/forum/#!topic/vim_dev/WeBBjkXE8H8

パッチを投稿しました。

[2013-12-31 12:48] h-east commented on #499
issueに書いてある手順での流れ
登場物
- buffer
  buf1: 無名バッファ (current buffer)
  buf2: quickfixバッファ
- window
  win1: 上段の無名buffer表示してるwindow (current window)
  win2: 下段のquickfixを表示してるwindow

~~1. win1に対して`:bw`~~
~~2. win1が閉じられてwin2がcurrent windowになる~~
~~3. autocmd EVENT_WINENTER が走って buf2 がwipe!される~~
~~4. buf1がwipeされる。(バッファがひとつも無い状態になってしまう)~~
~~5. win2にバッファをアサインしようとするがバッファがひとつも無いので変なメモリアクセスをしてSEGV~~

~~バッファがひとつも無い

[2013-12-31 15:28] ynkdir commented on #507
報告ありがとうございます。
うちでも再現できます。

メモ

[code]

[code]

[2014-01-01 05:48] ynkdir commented on #507
バグレポートだしました
https://groups.google.com/d/msg/vim_dev/IGl-wwr7vHY/bJdDExX6NSoJ

とりあえず internal error だけ

[2014-01-01 05:49] osyo-manga commented on #507
@ynkdir++

[2014-01-02 01:51] ynkdir commented on #499
変更ありのときバッファが消えてないです。

[code]

[2014-01-02 08:45] h-east commented on #499
@ynkdir 指摘ありがとうございます。

処理の流れの説明が間違っていたので修正。
1. win1に対して`:bw`
2. win1が閉じられてwin2がcurrent windowになる
3. autocmd EVENT_WINENTER が走って buf2 がwipe!される
4. buf1(==current buffer)をwipe!するための前準備としてwipe!後のcurrent buffer候補を探すがバッファはbuf1しかないので見つからない。(buffer.c:1362の段階で buf が　NULL)
5. buffer.c:1362のset_curbuf()が引数buf←NULL、action←DOBUF_WIPEで呼ばれる。
   current buffer(buf1)をwipeして新current bufferをNULLにして無理やり処理が進む。
6. NUL

[2014-01-02 09:32] ynkdir commented on #499
ありがとうございます。
別件かもしれませんがbwipeoutの後 new or split できないです。

[code]

[2014-01-02 09:36] h-east commented on #499
@ynkdir うぅ:tired_face:...後で調べます。

[2014-01-02 15:23] h-east commented on #499
`:autocmd WinEnter * bwipeout` 設定以降の `:new` や `:split` はWinEnterイベントが発生して古いバッファがwipeされるのでこの動きで正しいと思います。どうでしょうか？

[2014-01-02 15:30] ynkdir commented on #499
あーすみません。それですね。:au! したら大丈夫でした。

[2014-01-02 15:43] h-east commented on #499
了解です。Thanks.
あとは `--No lines in buffer--` を出なくすれば完成!?。

[2014-01-03 05:46] h-east commented on #161
twitterでちょっと話が出たのでリンクしときます。
https://twitter.com/k_takata/status/418782470947885056

ダイジェスト
h_east

k_takata

mattn_jp

kaoriya

[2014-01-03 05:48] koron commented on #161
2014年、か…

[2014-01-03 06:12] h-east opened #508 "Vim 64bit完全対応"
BIG ISSUE:muscle:
- 各プラットホームのAPI呼び出しは現状で大丈夫？
- Vim scriptのNumberの64bit化
- etc...

関連issue
#161

[2014-01-03 07:03] h-east commented on #508
私が懸念していたのはWinAPI GetFileSize()のように戻り値で下位4バイト、引数で上位4バイトを受け取るようなAPIや、GetFileSizeEx()のような引数でPLARGE_INTEGERで受け取るものを使用していた場合プリプロセッサで切り替えたりいろいろ大変だなぁと思ったんですが、Vimではそんな変なAPI使ってなさそうですね。
http://msdn.microsoft.com/ja-jp/library/cc429319.aspx
http://msdn.microsoft.com/ja-jp/library/cc429321.aspx

`off_t`型のサイズは64bit環境でビルドしたら64bitになるっぽい。
(ex. struct statのメンバst_sizeの型)

ということは純粋に↓これだけ？
`Vim scriptのNumberの64bit化`

[2014-01-03 07:14] koron commented on #508
私は、行数とかの扱いのほうがキツい、って考えてた。

[2014-01-03 08:15] k-takata commented on #508
Windowsだと、todo.txtに書いてある以下の問題があります。Win64と書いてありますが、32bitにも当てはまります。

[2014-01-03 08:59] k-takata commented on #508
これについても、Windowsだと、_stat64などの64bit系の関数を使う必要がありますね。
http://msdn.microsoft.com/ja-jp/library/14h5k7ff.aspx

[2014-01-03 10:30] k-takata commented on #508
修正パッチ(仮):
https://bitbucket.org/k_takata/vim-ktakata-mq/src/165d33bd4cf1072c2a29bb75b8fcec3663bda448/support-largefiles-on-windows.patch
`off_t`はWindowsでは常に32bitなので、`off_T`という新しい型を定義してみました。
`_stat64` 系を使っていないのでもう少し修正が必要かも。

[2014-01-03 10:55] h-east commented on #508
@k-takata ++
うぅ、Windowsはいろいろ手を加えないとダメなのですね。

[2014-01-03 16:15] k-takata commented on #508
VC10の`stat()` (32bit ファイルサイズ版)は、ファイルサイズが4GBを超えていたらエラーを返すようです。
64bit ファイルサイズ版を使うとなると `struct stat` を `struct __stat64` に修正しないといけなくなるのでかなり大変。

[2014-01-05 13:08] k-takata commented on #453
7.4.132で直りました。
https://groups.google.com/d/topic/vim_dev/o2zz22kRb58/discussion

[2014-01-05 16:44] h-east commented on #499
patch更新。
基本的に buffer.c: 1159 ~ 1180 と同等の事をしてるだけなのでなるべく処理内容をそちらに合わせました。

`need_fileinfo` をFALSEにすれば表示されなくなる。
けど buffer.c: 1159 ~ 1180 では特に設定されていない。
どこでTRUEになっているか調べたら autocmd EVENT_WINENTER 内のbwipeout! 処理中にセットされていました。
なので再度FALSEにする処理をpatchに追加してます。
特に問題なければ数日中にvim_devに投げます。
よろしくどうぞ。

[code]

[2014-01-06 00:42] mattn commented on #499
++

[2014-01-06 05:55] mattn commented on #508
ひとまず64bitで四則演算(かなりラフ)

https://gist.github.com/8278843

[2014-01-06 10:31] Shougo commented on #305
https://groups.google.com/d/msg/vim_dev/WeBBjkXE8H8/s0CRGNAQKMQJ

返信がきました。

とあるので、ドキュメントに追記しようと思います。
例には自動補完をあげてよいのだろうか？

[2014-01-06 11:40] ynkdir commented on #499
GJ!

[2014-01-06 12:16] Shougo commented on #305
ドキュメントのdiffのみ更新しました。もう一度提出します。

[2014-01-06 12:31] Shougo commented on #305
再提出Done

https://groups.google.com/d/msg/vim_dev/WeBBjkXE8H8/bXm3dvpMQvcJ

[2014-01-06 13:15] k-takata commented on #508
関数名と構造体名は同じ名前が使われており、defineで置き換えるだけで済むことが分かりました。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/024dc0e37e76a9bb3206ab6bcc4f19303d6b0608/support-largefiles-on-windows.patch
これで、Windowsでも4GiB以上の巨大なファイルも（メモリさえあれば）開けるようになったはずです。
# 実用的な速度で動くかどうかは別ですが。

[2014-01-06 13:18] Shougo commented on #508
おお、それはすごそう。

[2014-01-06 13:22] h-east commented on #508
@k-takata :+1: patchの452行目以降がカッコ良すぎる。

[2014-01-06 14:05] koron commented on #499
https://twitter.com/h_east/status/420192599064866816

報告メールのtitle案: **crush when using :bwipeout in autocmd**

[2014-01-06 14:07] h-east commented on #499
@koron Thank youです！
本文はいつものいい感じで書きます。

[2014-01-06 15:26] koron commented on #508
stat とかのマクロによる置き換えは、メンテを考えるとちょっと怖い。
「僕たちならわかるけど、未来の人たちが見たらどうハマるか」的なところで。

[2014-01-06 15:29] koron commented on #508
vim_lseek みたいに定義するのはすごく良いと思う。
同様に vim_stat 系列を定義して、それを使うのが将来的には良いかも。

[2014-01-06 15:33] h-east commented on #499
送りました。
Thanks for reading my crazy english.
https://groups.google.com/d/msg/vim_dev/WlDpL1cAIT4/-wvS3Zqx6zUJ

[2014-01-06 16:04] k-takata commented on #508
確かにそれはあります。

関数は既に mch_stat がありますが、問題は構造体です。使っている場所があまりに多いので…まあ、将来的には。

[2014-01-07 03:44] k-takata commented on #508
uint64_t を使っていますが、VCだとstdint.hが使えるようになったのはVC10からですし、64bit型に何を使うかは課題ですね。
vim_devでは、速度の問題から32bit型と切り替えられるようにすべきとのコメントが付いていますが、それほど気にすべきものなのかどうか…。

[2014-01-07 11:47] Shougo commented on #508
64bitマシンならば、レジスタも64bit長なので速度の問題はないはずです。
そもそも、Vim scriptの実装自体が効率的とは呼べないのに、速度の問題を気にするべきかどうか……。

[2014-01-07 11:51] Shougo commented on #305
Bram氏のレビューは終わりました。近々、todoリストに入るのではないかと思います。
todoリストに入り次第、こちらはクローズします。

[2014-01-07 16:10] k-takata commented on #508
stat構造体をtypedefする追加パッチ。マクロによる置き換えはos_mswin.c内に押し込みました。

https://bitbucket.org/k_takata/vim-ktakata-mq/src/fcb4e00a76a5eb0590a9a336def0ce564b299a76/use-stat_T.patch

[2014-01-07 16:30] k-takata opened #509 "enc=utf-8で間違ったファイルが開かれる場合がある"
再現手順:

[code]

`ä.txt`というファイルは無いのですが、`ﾃ､.txt`が`ä.txt`というファイル名で開かれてしまいます。（ただし読み込み専用モード。）

`ä` (U+00E4) は UTF-8 では \<C3>\<A4> であり、`ﾃ､` は cp932 では同じく \<C3>\<A4> です。
Wide APIで処理が失敗したときに、ANSI APIでやり直す処理が入っていますが、NT系ではやり直しは不要なはずです。

[2014-01-07 16:37] k-takata commented on #509
この現象に関してはこんなパッチで直るようです。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/62cd983d7ff9c351957fb10c33990fb9256901bf/fix-utf8-wrong-fallback.patch
他にも直した方が良さそうなところがいくつかありますが。

[2014-01-08 11:30] nocd5 opened #510 "UNCパス上のファイルを上書き保存するとReadOnly属性になる"
7.4.96以降で症状あり。

os_win32.c

[code]

上記の①と②で異なる表現の属性値を返しているので
~~(この条件分岐が必要であれば)~~UNCパスにcdできない不具合に対するパッチでした
win32_getattrs()の戻り値を
st_modeに合わせるて返す必要があると思います。

[2014-01-08 12:39] k-takata commented on #510
こんな感じでどうでしょう。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/a31d403c9f2c0e62845e83de9e08dd07aef537ea/fix-unc-perm.patch
VCのstat()は、通常のディレクトリの末尾には`\`を付けてはいけないが、ルートディレクトリには（ローカル、UNCともに）末尾に`\`を付けなければならないようです。

[2014-01-08 13:15] k-takata commented on #509
追加パッチ。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/a31d403c9f2c0e62845e83de9e08dd07aef537ea/fix-utf8-wrong-fallback-addition.patch

[2014-01-08 14:00] nocd5 commented on #510
自宅なのでローカルの共有フォルダでの確認ですが、
上記パッチで
- ReadOnly属性に変更されなくなった
- UNCのルートパスに`:cd`できる

確認できました:+1:
ありがとうございます！

[2014-01-08 15:37] k-takata commented on #510
投げました。
https://groups.google.com/d/topic/vim_dev/wpSp7PXvgD4/discussion

[2014-01-08 22:44] nocd5 commented on #510
おつかれさまです。

[2014-01-09 12:16] h-east commented on #499
TODOリストに入りました。

[2014-01-09 12:16] #499 closed, assigned to h-east

[2014-01-09 12:19] h-east commented on #502
TODOリストに入りました。

[2014-01-09 12:19] #502 closed, assigned to h-east

[2014-01-09 12:21] h-east commented on #305
TODOリストに入りました。

[2014-01-09 12:21] #305 closed, assigned to Shougo

[2014-01-09 12:24] h-east commented on #503
TODOリストに入りました。

patchはwelcomeです。

[2014-01-09 12:24] #503 closed, assigned to nobody

[2014-01-09 12:26] 0xBADDCAFE commented on #502
確認しました、ありがとうございました。

[2014-01-09 12:27] h-east commented on #507
TODOリストに入りました。

[2014-01-09 12:27] #507 closed, assigned to ynkdir

[2014-01-09 12:31] h-east commented on #500
TODOリストに入りました。

[2014-01-09 12:31] #500 closed, assigned to mattn

[2014-01-09 12:32] h-east commented on #505
TODOリストに入りました。

[2014-01-09 12:32] #505 closed, assigned to ynkdir

[2014-01-09 12:35] h-east commented on #498
TODOリストに入りました。

[2014-01-09 12:35] #498 closed, assigned to mattn

[2014-01-09 12:49] Shougo commented on #305
確認ありがとうございます。

[2014-01-09 12:57] k-takata commented on #501
TODOが更新されました。

[2014-01-09 12:57] #501 closed, assigned to nobody

[2014-01-09 15:47] k-takata commented on #337
ドキュメント修正案。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/e15545bd4f4a6cb7734728bb2ed8955016356de2/directwrite-update-docs.patch

[2014-01-10 14:06] k-takata commented on #510
7.4.136
https://groups.google.com/d/topic/vim_dev/iXsSjxQFHSk/discussion

[2014-01-10 14:06] #510 closed, assigned to nobody

[2014-01-10 15:02] k-takata commented on #449
@mattn さんのパッチですが、

[code]

ここ、最初の`;`は不要な気がするのですがどうでしょう？

[2014-01-10 15:21] nocd5 commented on #510
ありがとうございました

[2014-01-10 15:29] k-takata commented on #449
とりあえず報告done。
https://groups.google.com/d/topic/vim_dev/shn22nGcOVo/discussion
上記のセミコロンについては今回は報告していません。

[2014-01-10 16:14] h-east commented on #499
Patch 7.4.140
https://groups.google.com/d/msg/vim_dev/Q8JQ6aWXis4/EOBlrzqmZYQJ

Bram氏が重複処理を関数化してくれた。この辺りがVimが長生きの1つの要因かも。
お疲れ様でした。＞各位

[2014-01-10 16:42] osyo-manga commented on #449
@k-takata ++

[2014-01-11 03:41] k-takata commented on #449
@mattn さんからの反応がありませんでしたが、余計なセミコロンを削除したパッチを投げました。
https://groups.google.com/d/msg/vim_dev/shn22nGcOVo/WjsijA2h148J

[2014-01-11 15:23] mattn commented on #449
あー、おくれました。すみません。

[2014-01-11 23:56] Shougo opened #511 "Vim7.4 以降で位置にマッチするハイライト（正規表現？）が非常に遅い"
Vim 7.4から（おそらくVim7.3後半の正規表現エンジンに対する変更が入ってから）、カーソル位置や行位置、桁位置に対するハイライトマッチが非常に遅くなっています。ちゃんと調べていませんが、位置に関するマッチがバッファ中に10個程度あるとVimの画面スクロールが異常に遅くなります。

Vimのハイライトが遅い、という不満をVim7.4以降で顕著に聞くようになりましたが、その原因はここにあるかも知れません。

この影響により、indent_guidesやindentLineといったプラグインが使い物にならなくなっています。このプラグインは大量の桁位置に関するハイライトマッチパターンを生成するからです。

http://www.reddit.com/r/vim/comments/1uzbw1/indent_guide_plugins_are_slowing_down_vim/

できればサ

[2014-01-12 00:19] Shougo commented on #511
とりあえず、テスト用 .vimrc(test.vimrc) を作成。

[code]

[code]

でスクロール速度を比較してもらえませんか？

私が試した限りでは、foldされた時の行に対するスクロール速度が非常に遅くなっていました。

regexengineを変更しても特に変化なし。マッチ位置に対するハイライトをなくすと引っ掛かりが改善することを確認。

[2014-01-12 00:51] Shougo commented on #511
https://gist.github.com/Shougo/8379060

ファイルのスクロール後にプロファイルをとってみた結果がこれになります。
明らかに`\%c`のマッチが遅いのが分かるかと。

[2014-01-12 03:35] koron commented on #511
`regexpengine=1` とで比較してもらえますか?

変われば new engine だと言えますし、変わらないなら別の部分である可能性を考えなきゃいけません。

[2014-01-12 03:49] Shougo commented on #511
`regexpengine=1`でデータを取りました。試している時にはあまり気づきませんでしたが、
こうしてチェックすると明らかにregexpengine=2の方が遅くなっています。1.5倍くらい違う。

https://gist.github.com/Shougo/8380533

[code]

[code]

[2014-01-12 03:55] Shougo commented on #511
マッチしない時、かかる時間がNFAは0.000004ですが、バックトラックエンジンだと0.000002です。
これは地味にパフォーマンスに効いてくると思います。

そもそも位置に対するマッチハイライトが遅いですね。
それがNFAエンジンにより1.5倍〜2.0倍パフォーマンスが悪化することにより、ユーザーが認識できるくらいの速度の悪化につながったのだと思います。

[2014-01-12 04:02] Shougo commented on #511
ちょっと試してみたのですが、シンタックスのパターンを

[code]

とするだけでパフォーマンスはかなり改善します。これはTipsとしてドキュメントに書いておくべきかも知れません。

[2014-01-14 00:00] mattn commented on #511
新NFAの仕組みを知ってる人だと「あーなるほどね、そうなるかも」って感じがする結果だな。

[2014-01-14 02:04] UncleBill opened #512 "set visualbell is slow in big screen (gvim)"
Firstly

[code]

Then

[code]

**enlarge** the client window and press `u` to undo.
You can see screen refreshing is very slow.

[2014-01-14 02:05] UncleBill commented on #512
version info:

[code]

[2014-01-14 03:33] mattn commented on #512
Please show the value of `width`, `height` and your CPU / MEM information.

[2014-01-14 03:40] UncleBill commented on #512
@mattn the client is maximization, `width` and `height` are, close to the resolution, **1366x768**.

CPU: 2.6GHZ

MEM: 4G

[2014-01-14 03:42] UncleBill commented on #512
4-core CPU, BTW

[2014-01-14 05:07] mattn commented on #503
これですが、revertする様に仕向けたいです。
ここ数日、色々調べてみたんですが、そもそも `\zs` と `\ze` のどちらにマッチしたのか分からない状態なので zero_width でかつ tail をスキップすべきかどうかの判定が出来ません(不可能という意味で)。なのでせめてこの 7.4.045 を revert してほしいと思っています。

[2014-01-14 08:19] ynkdir commented on #503
たぶんこんな感じでどうですか
自身がないので丸投げしちゃいましたが

[code]

[2014-01-14 09:12] mattn commented on #503
おお、すばらしい。無理だと思ってた。

[2014-01-14 09:14] mattn commented on #503
テストケース

[code]

[2014-01-14 09:20] mattn commented on #503
@ynkdir パッチ投げるの、お願いしていいですか？

[2014-01-14 10:18] Shougo commented on #511
ちなみに、indent_guidesはハイライトに上記の方法を使っているみたいなんですがそれでもVim7.4だと遅いですね。
正確にはこれらのプラグインだけで重くなるのではなく、これらのプラグイン＋複数の「位置にマッチする正規表現パターン設定」によりスクロールが遅くなります。

[2014-01-14 11:32] Shougo opened #513 "補完関数のrefresh=alwaysの挙動が不自然"
Vim 7.3より追加されたrefresh=alwaysの挙動が不自然です。

例をあげます。

[code]

上記の .vimrc で補完させたとします。
この補完関数はどんなテキストでも 'foobar' を返します。refresh=alwaysを指定しているので、入力テキストが変化しても補完関数が呼び出され続けるはずです。

しかし、以下のような挙動となります。
1. `<C-h>`を用いた時に補完関数が呼び出される。これは意図通りの挙動。
2. 'foo'を入力した時に補完し、その後絞り込んで'foob'と入力しても補完関数は呼び出されない。Vimによって自動的に絞りこまれ、「Pattern Not found」となる。

絞り込みを補完関数にやらせるためにrefresh=alwaysを指定しているはずなので、この挙動は不自然だと思います。

[2014-01-14 11:32] ynkdir commented on #503
明日あたりだしてみます。

[2014-01-14 12:48] h-east commented on #505
Patch 7.4.145 で入りました！
https://groups.google.com/d/msg/vim_dev/HaLrXFQfV-g/kkcu2Zg06qUJ

[2014-01-14 12:50] h-east commented on #498
Patch 7.4.146 で入りました！
https://groups.google.com/d/msg/vim_dev/lKRKAHNPpOg/wzAoSiugj7oJ

[2014-01-14 12:51] h-east commented on #502
Patch 7.4.147 で入りました！
https://groups.google.com/d/msg/vim_dev/VBgk05544HE/mznMc18Z05oJ

[2014-01-14 14:07] h-east commented on #503
@ynkdir :+1: こんなpatchがさらりと出てくるのコワいw

[2014-01-14 15:32] h-east commented on #500
Patch 7.4.150
https://groups.google.com/d/msg/vim_dev/EPY34D_mScQ/-LRZ4AMbKp0J

[2014-01-14 18:05] ynkdir opened #514 ":echo 0 && foo#bar() で autoload スクリプトが読み込まれる"
[code]

[code]

`0 ? foo#bar() : 1` など同様

[2014-01-15 00:09] mattn commented on #514
`foo#bar()` が文字列か dict か調べて続く `.` が文字列連結かどうかを確認する為に、仮で eval してたと思うのでそこで autoload しちゃってるのかな。

[2014-01-15 01:45] h-east commented on #500
追加。 Patch 7.4.155
https://groups.google.com/d/msg/vim_dev/gaNtS-a645Q/6cxNzyKAiLQJ

[2014-01-15 02:33] h-east commented on #514
Patch 7.4.154
https://groups.google.com/d/msg/vim_dev/q6lKeGP8_EQ/2g3pVCiJT04J

[2014-01-15 02:37] mattn commented on #514
++

[2014-01-15 02:39] h-east commented on #507
Patch 7.4.149
https://groups.google.com/d/msg/vim_dev/IhVRhvCnJKs/Rn8tFDZLHLMJ

PS
514は別件でした。ごめんなさい。

[2014-01-15 02:58] ynkdir commented on #514
すいませんこれ別件です

[2014-01-15 03:03] h-east commented on #514
あれ？そうなのですか。
Vim 7.4.155 (on Fedora 19)でautoload スクリプトが読み込まれない事を確認出来ましたよ？

[2014-01-15 03:20] mattn commented on #514
これ再現しますよ？

[2014-01-15 03:23] k-takata commented on #19
[PATCH] Proof of concept: thread-safe message queue
https://groups.google.com/d/topic/vim_dev/65jjGqS1_VQ/discussion
別アプローチ？ （pthread前提なのはどうだろうという気もしますが。）

[2014-01-15 03:27] h-east commented on #514
すいませんすいません。直ってませんでした。

[2014-01-15 03:28] h-east commented on #507
追加。Patch 7.4.154
https://groups.google.com/d/msg/vim_dev/q6lKeGP8_EQ/2g3pVCiJT04J

[2014-01-15 03:28] mattn commented on #514
これでどうでっしゃろ？

[code]

[2014-01-15 03:35] mattn commented on #514
コメントしときました。

ちなみにこれ、無駄なロードしてたのが直るのでスクリプトがちょっとキビキビ動く様になるかもね。

[2014-01-15 03:37] h-east commented on #514
@mattn 直ってます！testもALL DONEでした。

[2014-01-15 03:38] ghost commented on #512
I look at the other sites, it seems to be a problem of the video driver.
In the source code level, the program is conducted twice a XOR drawing of the entire window.
I think it not a matter of gvim.

[2014-01-15 03:44] ynkdir commented on #514
ありがとうございます。

[2014-01-15 06:03] UncleBill commented on #512
@ntak you are right. You remind me that I just installed a new driver days ago. Now I have removed it, and issue solved.
Thanks @ntak @mattn !

[2014-01-15 06:03] #512 closed, assigned to nobody

[2014-01-15 13:06] ynkdir commented on #503
`:s` と動作が違くていろいろだめな気が

[code]

[2014-01-15 14:10] ynkdir commented on #503
とりあえず投げました。

[2014-01-16 00:11] mattn commented on #503
あざます

[2014-01-17 07:49] InoueReo0406 opened #515 "vimの起動時に「マッピングが見つかりませんでした。」というエラーがでる。"
タイトル通りにvimの起動時に「マッピングが見つかりませんでした。」というエラーがでます。この原因として_vimicが原因であるということはわかるのですが、まだ初心者であるのでコードの読み方が完璧でなくエラー箇所がわかりません。どなたかご教授お願いします。
自分の_vimicのリンクを貼ります
https://www.dropbox.com/s/3dxhhnjhk4q012p/_vimrc

[2014-01-17 08:07] h-east commented on #515
ようこそ。vim-jpへ。
~~おそらく原因は 550行目の~~
~~`map! <C-j><plug>(skk-toggle-im)`~~
~~だと思います。~~
~~SKKをNeoBundle等のプラグインマネージャで読み込んでいないのにSKK関連の関数を指定しているからでしょう。~~

[code]

~~と先頭に `"` を書いてコメントにすれば直ると思います。~~

すいません。説明間違ってました。下のynkdirさんの説明が正しいです。
https://github.com/vim-jp/issues/issues/515#issuecomment-32589185

[2014-01-17 08:16] h-east commented on #515
うーん、この _vimrc は有志の方が毎週開催しているvimrc読書会に参加して読んで貰ったほうがいいかもです。
理解が進みますよ:smile:
http://vim-jp.org/reading-vimrc/

[2014-01-17 08:28] rhysd commented on #515
こんにちは．
このリポジトリの issue は Vim 本体のバグ報告や要望を議論する場所ですので，質問等は Lingr の vim 部屋でするのが良いと思います．

http://lingr.com/room/vim

[2014-01-17 08:34] koron commented on #515
いやべつに何書いてもええですよ。
より適切な場所があるならそちらをその都度紹介すれば良いですから。
今回のように。

[2014-01-17 08:35] h-east commented on #515
ラーメン画像貼ってもいいですよ～

[2014-01-17 08:36] rhysd commented on #515
@koron
そうだったんですか．失礼しました．
リポジトリの説明文に

とあったので勘違いしていました．指摘ありがとうございます．

[2014-01-17 08:40] koron commented on #515
でもvimclip の話題はかんべんな! ＞＜

[2014-01-17 08:48] h-east commented on #515
そいえば現状のVimで`マッピングは見つかりませんでした (No mapping found)`がどのファイルのどの行で起きたか表示させる方法ってあるんだろうか？

ない場合、エラー表示にファイル名＆行番号を追加するpatchを書くのは簡単なんだろうか？
(`E492: Not an editor command: ～` の場合はファイル名＆行番号してますね)

あと`Exxx:`の表示がないのはええのん？

[2014-01-17 08:53] InoueReo0406 commented on #515
皆さん、解答ありがとうございます。

[code]

をコメントアウトさせることによりエラーが解消されました。
ただ最終的な目標、easymotionの起動がいまだ出来ないです。こちらについても教えていただけますか。プラグインのキーの混同とかでは無そうであったので、マッピングが原因かと思いましたが違うようでこまりました。

[2014-01-17 08:59] ynkdir commented on #515
`map! <C-j><plug>(skk-toggle-im)`

:help :map_l

{rhs} が指定されてないので、{lhs} で始まるマッピングを表示、しようとしてメッセージがでてます。

[2014-01-17 09:03] h-east commented on #515
@ynkdir すんません。それが正解ですね。ありがとうございます。

[2014-01-17 10:57] InoueReo0406 commented on #515
とのことであすがその場合、どうすれば良いのでしょうか。正直な話、何をどうすればよいか呼んでも理解することができません。

[2014-01-17 11:02] thinca commented on #515
[code]

こうすればよいです。`<C-j>` と `<plug>(skk-toggle-im)` の間にスペースがなかったので、全部まとめてキーマッピング元(`{lhs}`) と解釈されていました。

[2014-01-17 11:02] Shougo commented on #515
こんにちは。おそらく、

[code]

とするのが正解です。

マッピングは `:map {lhs} {rhs}` のように指定します。
が、@inouReoさんの.vimrcではスペースがないので `:map {lhs}` の構文と解釈されます。
これは `{lhs}` のマッピングの内容を確認するためのコマンドです。
Vimは `{lhs}` のマッピングを確認しようとしましたが、そのようなマッピングは当然存在しないため、
「マッピングが見つかりませんでした」というメッセージが出たのが真相です。
（かぶった……）

[2014-01-17 14:16] ynkdir opened #516 ":s/\n\zs// E315: ml_get: invalid lnum: 2"
[code]

あとエラー番号の衝突

[code]

[2014-01-18 09:00] ynkdir commented on #516
E834 報告
https://groups.google.com/d/msg/vim_dev/NAk90KlM3FM/YUESOv0YlPkJ

[2014-01-18 09:35] k-takata commented on #509
投げました。
https://groups.google.com/d/topic/vim_dev/4lJt884Bj9g/discussion

[2014-01-18 14:18] InoueReo0406 commented on #515
なるほど、そういうことですか、一瞬違いがわかりませんでしたが理解することができました。ありがとうございます。

[2014-01-18 21:29] Shougo commented on #515
@InouReo 解決したらcloseしてください。

[2014-01-21 22:59] k-takata commented on #19
[PATCH] Non-blocking job control for vimscript
https://groups.google.com/d/topic/vim_dev/QF7Bzh1YABU/discussion

[2014-01-21 23:24] Shougo commented on #19
第三の刺客……！

[2014-01-23 08:00] ne-sachirou opened #517 "Win8でvimrcが非ASCII文字pathにある場合、Vimの内部encodingをUTF-8にすると$MYVIMRCが文字化けする"
https://github.com/vim-jp/issues/issues/509 も関連するのかもしれませんが。

Kaoriya版VimをWindows8で使っています。Windows8のhomeディレクトリは、Live.comとの連動で非ASCII文字になっています。Vimを、`~/vim`に置いています。

内部encodingをutf-8にすると、以下の事象が発生します。
- `:e $MYVIMRC` で.vimrcを開けません。$MYVIMRCや$MYGVIMRCが文字化けします。
- 正確にはVimの話ではありませんが、EditorConfigのpythonがエラーを出します。これは自分で解決した方が早い気もします。

Windowsアカウントを作りなおしてhomeディレクトリをASCII文字にすればいい、という話もありますが、悔しいです。

どうしたらよいでしょう。

[2014-01-23 08:06] thinca commented on #517
Vim で内部的に保持している文字列は全てバイト列で、`'encoding'` はこれをどう解釈するかを指定するものです。`'encoding'` を変更してもバイト列は変化しないので、必要ならば手動で変換する必要があります。

[code]

[2014-01-23 08:44] k-takata commented on #517
関連: #229

[2014-01-23 09:14] mattn commented on #517
scriptencoding は設定してますか？

[2014-01-23 11:36] koron commented on #517
あー確かに Windows 8 そうはなりますなぁ…

[2014-01-23 11:37] koron commented on #517
# あれ、まずは live.com と関連付けないでユーザ作ってから関連付ければセーフだったりするのですが
# 私はすぐにユーザ作りなおした口ですw

[2014-01-23 12:14] ne-sachirou commented on #517
@mattn Kaoriyaさんのswitchesに入ってる、`scriptencoding utf-8` を設定すると、ってところです。

[2014-01-23 12:16] ne-sachirou commented on #517
@thinca ふむ、なるほど、それですね……。

[2014-01-23 13:03] ne-sachirou commented on #517
それと、vimprocからもたっぷりエラーがでますね……。messagesをコピーするにはどうしたらいいんでしょうか。

[2014-01-23 13:05] thinca commented on #517
gVimの場合はマウスで選択してから `<C-y>` です。

[2014-01-23 13:14] ne-sachirou commented on #517
此れです。

[code]

[2014-01-23 14:34] k-takata commented on #489
7.4.156直前のコミットで netrw v150 が入りました。おそらく直っているはず。

[2014-01-23 14:37] k-takata commented on #509
todo入りしました。

[2014-01-23 14:37] #509 closed, assigned to nobody

[2014-01-23 14:39] k-takata commented on #449
todo入りしました。

[2014-01-23 14:39] #449 closed, assigned to nobody

[2014-01-23 21:50] Shougo commented on #517
ふむ。これもpathの影響がありそうです。@tyruさんも前 vimproc の呼び出しに失敗すると言っていましたが、それはこれかもしれません。

[2014-01-23 22:03] tyru commented on #517
E364: "vp_pipe_open"() のライブラリ呼出に失敗しました

とか確かに自分のもそんなだった気がします。
2014/01/24 6:50 "Shougo" notifications@github.com:

[2014-01-23 22:15] Shougo commented on #517
@tyruさんの環境もWindows8で日本語がユーザー名になっていましたか？

[2014-01-23 22:55] tyru commented on #517
いや、Windows7でユーザ名はASCII文字です。
もしかしたら自分のは単にビルドミスってるだけかもしれないです。

[2014-01-23 23:26] Shougo commented on #517
だとすると、この問題とは違いますね

[2014-01-24 00:27] mattn commented on #489
直ってるっぽい

[2014-01-24 00:29] #489 closed, assigned to nobody

[2014-01-24 03:18] ynkdir commented on #503
7.4.158 で修正されました。

[2014-01-24 03:38] mattn opened #518 "vim.exe で !start すると以後入力出来なくなる"
どのタイミングか分からないけど

[code]

ってやると以後何も入力出来なくなる。

[2014-01-24 03:39] mattn commented on #518
`/min` や `/b` を指定すると発生せず。

[2014-01-24 03:39] k-takata commented on #503
リンク
https://groups.google.com/d/topic/vim_dev/FM8O2QDHi_A/discussion

[2014-01-24 03:40] mattn commented on #518
分かった。

[code]

[2014-01-24 03:44] mattn commented on #518
https://groups.google.com/d/msg/vim_dev/-QdDHo46_Lc/NTwBNKGTUxkJ

[2014-01-24 06:05] k-takata commented on #518
si構造体を全部クリアしておいた方が良さそう？

[2014-01-24 09:48] osyo-manga commented on #503
ありがとうございました。

[2014-01-24 19:35] h-east commented on #518
Patch 7.4.160
https://groups.google.com/d/msg/vim_dev/usTsNJVtExk/hWQBg-UeMXMJ

1個目のpatchと2個目のpatch(ZeroMemory())の `Or` 提案だったけどどっちも入った:relaxed:

@mattn ++

[2014-01-24 19:35] #518 closed, assigned to mattn

[2014-01-25 09:03] itchyny opened #519 "コンパイル時 if_py_both.h でwarning"
次のようなwarningが出ます

[code]

gccのバージョン

[code]

[2014-01-25 10:28] ynkdir commented on #519
Thanks!
たぶんこれと同じだと思います。
https://groups.google.com/d/msg/vim_dev/P5t2Hm_yNj8/ljyL-cImr-kJ

[2014-01-25 10:32] itchyny commented on #519
あらら､既に報告されていましたか｡
ありがとうございます｡

[2014-01-25 10:47] #519 closed, assigned to nobody

[2014-01-27 08:49] mattn opened #520 "7.4あたりから起動直後に1回だけフリックするようになった。"
ここ最近(?)のバージョンから、起動時(ファイル先頭)で j (カーソル移動を伴うモーション)をタイプすると1回だけフリック(画面再描画)する様になった。Windowsで発生。

[code]

でもフリックするのでプラグインのせいではないかと思います。
gvim.exe だと発生していない様にも見えます。

[2014-01-27 08:53] mattn commented on #520
CTRL-L を一度実行すると発生しなくなる。

[2014-01-27 08:58] mattn commented on #520
なんか Patch 7.4.142 くさい。

[2014-01-27 11:12] mattn commented on #520
参考URL: http://nyaos.org/d/index.cgi?p=(2013.03.25)+1823

[2014-01-27 12:01] k-takata commented on #520
なるへそうだったのか。やはり、コンソール入力もUnicode対応した方が良いのか…。

問題のちらつきは私の環境では確認できていません。(Win7)

[2014-01-28 00:40] mattn commented on #520
[code]

こんな感じに直してみたけど、日本語入力がおかしい。どうやらPeekConsoleInputでなんちゃってを返すとうまくいかないらしい。
なんかOSで切り分けた方がいい気がしてきた。

[2014-01-28 00:59] mattn commented on #520
とりあえずこれでなおったけどしゃくぜんとせず

[code]

[2014-01-28 01:18] mattn opened #521 "set foldopen+=hor で fold が開かない"
閉じなしの fold、例えば以下の様な場合に l をタイプしても開かない。

[code]

[2014-01-28 09:46] mattn commented on #520
https://groups.google.com/d/msg/vim_dev/RQ8M129lN20/EybkK8wW9rMJ

[2014-01-28 09:47] mattn commented on #521
fold-openしないファイルの例

[code]

[2014-01-28 10:31] ynkdir commented on #521
再現できないです。
`l` で開けないときに `zo` で開くとカーソルはどこにありますか。

[2014-01-28 10:37] mattn commented on #521
最下行です

[2014-01-28 10:42] ynkdir commented on #521
すみません列はどこですか。
たぶん行末にいてそれ以上移動できないからかなと思いまして。

[2014-01-28 10:44] k-takata commented on #520
バージョン判定が間違っています。 (例: dwMajorVersion = 7, dwMinorVersion = 0)

個人的には、PeekConsoleInput() は peek_console_input() から呼んだ方が分かりやすいと思います。
(Win8 では現象は起きないのだろうか。)

[2014-01-28 11:09] mattn commented on #520
Windows8 以降のバージョンだけ今回(7.4.142)の変更を行いたいので 6 であってるかと思いますが。

http://msdn.microsoft.com/en-us/library/windows/desktop/ms724833(v=vs.85).aspx

[2014-01-28 11:11] mattn commented on #520
私が変更する前から read_console_input 内で PeekConsoleInput を呼んでいるので、そのままとしています。

[2014-01-28 11:12] mattn commented on #521
あーそれですかね

[2014-01-28 11:12] mattn commented on #521
ビンゴでした。

[2014-01-28 11:12] #521 closed, assigned to nobody

[2014-01-28 11:14] mattn commented on #520
あ、&& じゃないわ。

[2014-01-28 11:16] k-takata commented on #520
今後を考えて、

[code]

にすべきではないかという話です。（もちろん、今後もWin8と同じ挙動となる保証はありませんが。）

[2014-01-28 11:16] mattn commented on #520
あざます。直しました。

[2014-01-29 04:59] ghost commented on #520
元パッチの提出者です。
Win8 がどうもいかんのは ReadConsoleInput のキーボードイベントで２バイト文字つまり２イベントを１イベントずつ取ろうとすると１バイト目が入ったイベントが２個取れるのですね、イベントは２個しかポストされてこないので手詰まりなわけです。ここで２バイト目は虚空に消えています。
しかしながら２イベント以上を関数ワンコールでバッファに取ると２バイト目が入ったイベントが２イベント目に入っているのでして、そのへんを解決しようとしたパッチでした。
フリッカーは現状謎ですので追及します。WIn7 で発生してないとなると Win8 がウィンドウ系の変なイベントを投げてるんではないかと思ったりはしますが、根拠はありません。

[2014-01-29 05:30] mattn commented on #520
いえ、Win7でフリックしてます。

[2014-01-29 07:38] ghost commented on #520
DOS窓のサイズの変更を伴う起動シーケンスを使っていると、起動直後、DOS窓に対してウィンドウリサイズ系のイベントがOS内部のバッファに６回分スタックされます(回数はうちのケース固有値の可能性大)。
これを「イベント取得一回毎のタイムラグ」なしでベタに連発更新してしまうようになったのが直接の原因のようです。
今までも連発更新はしていたはずですが、バッファリングしてしまったために取得タイミングが高速になってしまい、処理の高速なマシン上で垂直帰線信号の発行タイミングと干渉したものと思われます。
ReadConsoleInput はOS内部のバッファが空だと制御を戻しませんが、バッファを更新するタイミングが垂直帰線信号と一致しているのかもしれません。
対策は os_win32.c の外に出てしまう感じになると思うので(未追試)、現状気が進んでいません…。

[2014-01-29 07:45] ghost commented on #520
対策済みですね、すみません。
元のパッチはバージョンを見てもよかったのですが、同じOS上でコードの切り分けをしてしまうといつまでもメンテナンスが終わらないことになるのでバージョンに依存しないコードで通したかったのです。

[2014-01-29 08:24] ynkdir commented on #520
うちでは再現できないのであれですが
read_console_input() にキャッシュがあるときでも WaitForSingleObject() でのイベント待ちが起こりそうなのが気になりました。

[2014-01-29 10:13] ghost commented on #520
実質的には Vim における ReadConsoleInput はほとんどがイベント数１のマウスメッセージであり(ボタンを連打しても２や３にしかならない)、おそらくは垂直帰線周期でキャッシュスタック分を含めて駆動することになると思いますが (ReadConsoleInputのブロックロジック予想に基づく)、まれに処理がスタックする可能性は残されています。
しかしながら、スタックといっても次に (peek|read)_console_input が呼ばれれば解消しますし、WaitForSingleObject も INFINITE ではないようなので、問題が出る環境が報告されるまでは現状ママでいいのかなとは考えています。

[2014-01-29 10:20] ghost commented on #520
これからは叩くときはこうしろという託宣かもしれません。
http://msdn.microsoft.com/en-us/library/windows/desktop/ms685035(v=vs.85).aspx

[2014-01-29 12:07] ghost opened #522 "セッションの保存と復帰のどちらかが間違っている"
こういうパッチを作ったけれど出していいものかどうかという相談です。

:mksession! で保存したセッションを vim -S で読み込むと別のファイルが開くのを改善しようという意図があります。

たとえば vim a.h a.c a_.c -O として開くと画面左から a.h, a.c, a_.c と並んで表示されますが、ここで mksession! としてセッションを保存し、vim -S でロードすると左から a.c, a_.c, a.h の順だったかに並んでしまいます。そういった動作をするのが現状です。

原因としては、vim -O で開くと :ls で表示されるリストが 1 から始まるのに対し、vim -S で開くと 2 から始まることになるにもかかわらず番号つき argu で開く際の番号がズレている Session.vim を生成することか、もしくは Session.vim

[2014-01-29 14:51] ynkdir commented on #522
`:args a.h, a.c, a_.c` が 'suffixes' オプションでソートされて順番が変わってます。
Vim 的には引数リストも元の順番どおりに戻したいぽいのでこっちを直したほうがいい気がします。
`:args` をソートしないように変えるのはたぶん無理なので、`:argadd` で一個ずつ追加するようにするか'suffixes' オプションを一時的に無効化するかあたりでしょうか。

[2014-01-29 16:13] ghost commented on #522
ありがとうございます。相談してよかった…また微妙なパッチを投げるところでした。
`:args` を `:argadd` で置き換えたのがこれです。

[code]

めでたく append 系パッチになりました！

[2014-01-29 20:33] Shougo commented on #522
:-)

[2014-01-30 00:42] ghost commented on #520
WINDOW_ イベントの連打を最後のもの以外キャンセルしてフリッカーを解消しました。
今日中を目途にパッチを投げます。
もう少しいじるかもしれませんが、取り急ぎ。

[code]

[2014-01-30 00:48] mattn commented on #520
ウィンドウのリサイズは行わずちらついてるので、原因は他にあると思います。
おそらく中平さんの言うとおりで、イベントが無い(しかしキャッシュにはたまっている)状態でWaitForSingleObjectを呼び出しているのが原因かと。
ただそこまで手をいれるくらいならバージョン確認した方がマシかなーと思ってます。

[2014-01-30 01:26] ghost commented on #520
あら…。
当方が把握しているフリッカーとそちらで観測されているフリッカーとは別物なんですね、当方のウィンドウサイズにタッチすることによる(リサイズにかかわらない)フリッカーとWaitFor～で起こるであろうフリッカー、ともに上記パッチで遠回しですが解決しているはずです。
これからAPIの差異をMicrosoftに突っ込みますので、WindowsUpdateにより同バージョン間でAPIの動作が違ってくる可能性がうっすらとないでもないのです(Microsoftの方針に依ります)。そこはご承知おきください。

[2014-01-30 02:26] mattn commented on #520
https://bitbucket.org/zetamatta/nyaos3000/issue/16/windows-8-ime

ここを見て貰えると分かりますが一筋縄では行かないのは見えているので、最終的な決定はBramに任せますが、僕はアドホックでいいと思っています。

[2014-01-30 02:53] ghost commented on #520
そのページは昔すでに通過しています。間違った結論に達しており、参考にしてはならないと判断しました。
Microsoft の前述託宣を信頼した上でのパッチが、最初に提出したあのとっちらかったパッチです(修正を入れなければいけなかったのは私のミスです)。
アドホックとのことですが、Windows8で発生するフリッカーについてはどうしましょうか…。

[2014-01-30 12:20] ynkdir commented on #522
ありがとうございます。
argadd のみだと引数リストがクリアされないので最初に引数リストを削除するなりなんなりしたほうがいいと思いました。
同じく ses_arglist() で arglocal を設定してるところがあるのでそれも直してもらえるとありがたいです。

あとこれも同じところだと思うのでできそうならついでに…。

[code]

[2014-01-30 12:22] ghost commented on #522
あっタイミングがちょうカブった(;´Д`)再オープンします。今から見ます。

[2014-01-30 13:10] ghost commented on #522
視点を変えてみました。ついでの修正も含んでいます。

[code]

前のパッチは捨ててください。

[2014-01-30 14:07] ynkdir commented on #522
なるほど。引数リストの順番が変わるのは気になりますが、それでもいいかもしれないですね。
ついでのほうは手順後 `:args` で見ると分かりますが引数リストが消えちゃってます。

[2014-01-30 14:10] ynkdir commented on #522
グローバルの引数リストが、です。他の b c のウィンドウで `:args`。

[2014-01-30 14:16] ynkdir commented on #522
ただまあこっちのほうは別に分けてもなしでも構わないとは思います。
特殊ケースなので。

[2014-01-30 14:55] ghost commented on #520
ああ、20回に一回くらい画面下半分程度にフリッカーが一瞬出ますね、うちでは…。追試します。

[2014-01-30 23:57] mattn commented on #520
Bram から僕のパッチの置き換えか？と聞かれてますね。

[2014-01-31 02:00] ghost commented on #520
意図して共存できる形にしてましたので、置き換えではなく両方の適用をお願いしてみます。

[2014-01-31 03:32] ghost commented on #522
arg 系は使ったことがなかったので気づきませんでした。きっちりやった結果：

[code]

[2014-01-31 06:51] Shougo commented on #344
Vimでの画像表示について最近考えていたのですが、conceal icon機能というのはどうでしょうか。
つまり、cchar(conceal char)の代わりにアイコン画像を表示するという機能です。

この画像表示は一種のハイライトと同じと考えることができます。
Vimでは`:help`でTodoやNoteをハイライトしていますが、それを画像で置き換えるとハイライトよりわかりやすい場面もあるのではないでしょうか。githubでもそうですが、Markdownの一部を画像で置き換えることはよくやられるようになってきました。
画像ならフォントだと表現できない（しにくい）ものも表現できるかも知れません。

この方式の利点を挙げておきます。
- concealとsignという既存の実装を最大限に利用することができる
- concealの内部状態は文字なので、内部状態の不整合は起きにくく、テキストと

[2014-01-31 09:08] Shougo commented on #513
OmniSharpプラグインで、この挙動に困っているようです。さて、どうしたものか……。

[2014-01-31 09:11] ynkdir commented on #522
ありがとうございます。よさげですね。

[2014-01-31 11:58] ghost commented on #522
vim_dev に持ち出しました。

[2014-01-31 21:31] k-takata commented on #522
リンク
https://groups.google.com/d/topic/vim_dev/0_bxnyuJUB8/discussion

[2014-02-01 14:33] ghost commented on #522
ああ、リンクすみません…
しかしTodo(;´Д`)うーん入っただけでもいい傾向なのかな

[2014-02-05 13:03] k-takata commented on #497
ずいぶん前に todo.txt に入っていました。

[2014-02-05 13:03] #497 closed, assigned to koron

[2014-02-05 13:08] k-takata commented on #520
両方入りました。

7.4.163
https://groups.google.com/d/topic/vim_dev/WZeb-h0v37I/discussion
7.4.164
https://groups.google.com/d/topic/vim_dev/suzbMNSzb-s/discussion

[2014-02-05 13:08] #520 closed, assigned to nobody

[2014-02-05 13:13] mattn commented on #520
yay

[2014-02-05 14:39] ynkdir commented on #520
うちでも msys の端末だと再現できました。そしてパッチで直りました。

[2014-02-05 14:41] ynkdir commented on #520
あ、msys じゃなくて MinGW Shell でした。

[2014-02-06 03:44] InoueReo0406 opened #523 "vim-latexについて"
vim-latexのコマンドCtrl-jが行えません。どのように解決すればよいですか。
こちらのサイトを参照してください。http://oku.edu.mie-u.ac.jp/~okumura/texwiki/?Vim-LaTeX

[2014-02-06 03:48] mattn commented on #523
他の物は使えていて、CTRL-J だけ使えないという状況ですか？

[2014-02-06 04:29] InoueReo0406 commented on #523
はい、そういうことです。他のコマンドは使えます

[2014-02-06 04:32] syngan commented on #523
CTRL_J してるとき、どのモードですか？

[2014-02-06 04:32] mattn commented on #523
[code]

を実行するとどうなりますか？

[2014-02-06 07:15] thinca commented on #168
https://groups.google.com/d/topic/vim_dev/IIrDqVvdpOo/discussion

ZyXさんから報告が上がっていました。
Bramさんによると、unsetenv() がない環境だと挙動が変わってしまうし、`empty()` で判断しろ、との見解のようです。
ただ、ZyXさんによると、環境変数が空かどうかではなく存在するかをチェックするプログラムがあり、それをVimから使用する際に都合が悪いとのこと。
望み薄そうだけどどうなるかなー。

[2014-02-06 10:22] Shougo commented on #523
@InouReo  （できれば最小の）`.vimrc` をアップロードしてもらえないでしょうか。vim-latexはとても巨大なプラグインです。おそらく他のプラグインか.vimrcと競合しているのではないかと思います。

[code]

のほうが上書きしたプラグイン名が出てくるので、有用ではないかと思います。

[2014-02-06 10:41] InoueReo0406 commented on #523
以下が自分のvimicです。
`:verbose map <C-j>`の実行結果はマッピングはないとの返答がきました。vim-latexのプラグインが上手にインストールされていないのでしょうか。

[code]

[2014-02-06 10:51] Shougo commented on #523
チェックしました。

[code]

neobundleの設定がコメントアウトされています。これでは vim-latex が読み込まれていません。
neobundleを使用しているのなら、`:set runtimepath?`を実行してみると良いです。
vim-latexが読み込まれているなら、`vim-latex`をインストールしたディレクトリが出力に含まれています。

[2014-02-06 11:01] mattn commented on #523
[code]

これですか？

[2014-02-06 11:19] Shougo commented on #523
確かに、それは競合していますね。

チェックするモードを間違えました。これはインサートモードのマッピングですね。`:verbose imap <C-j>`を試してください。

[2014-02-06 13:45] ghost commented on #495
pastetoggle の存在はさっき知ったというレベルですが、これでどうでしょう？

[code]

[2014-02-06 15:26] ghost commented on #495
ああ…

[code]

[2014-02-07 00:05] mattn commented on #495
`s/update_screen(0)/redraw_statuslines()/` でもいいかも。

[2014-02-07 07:00] ghost commented on #495
ショートカット的に…でも最短がベストでもないのは前例があるし、どうしようかなと…

[code]

[2014-02-07 07:17] InoueReo0406 commented on #523
またneobundleの設定のコメントアウトは一時的にしていただけなので本来はコメントアウトしていませんでした。ごめんなさい。
`:verbose imap <C-j>` を行うと`<plug>(skk-toggle-im)`が出力されました。
これと競合しているみたいですね。これを解決するには`<plug>(skk-toggle-im)`のマッピングを例えば`<C-a>`みたいに変更すればよいのでしょうか？

[2014-02-07 09:49] InoueReo0406 opened #524 "、や。のマッピング"
挿入モード時に、や。を, . に置き換えたいのですが以下のようだと上図に置き換わりません。なにが原因なのでしょうか。
inoremap 、 ,
inoremap 。 .

[2014-02-07 13:34] ghost commented on #466
コメントの意味を考えるとこれではBram氏の意図とは違う動作になるのかという気も…

[code]

[2014-02-07 14:12] k-takata commented on #524
#217 と同件ですかね？

[2014-02-08 05:32] InoueReo0406 commented on #524
ありがとうございます。
一緒みたいですね。UTF-８の出力の場合は出来ないみたいですね。ありがとうございます。

[2014-02-08 05:37] #515 closed, assigned to nobody

[2014-02-08 14:50] ynkdir commented on #466
それもありますが、
それだと再現手順で行数を増やすと一定以上でやっぱりメッセージが消えちゃうみたいです。

[2014-02-09 06:16] #524 closed, assigned to nobody

[2014-02-09 07:57] InoueReo0406 commented on #523
`map! <C-j> <plug>(skk-toggle-im)`を`<C-x>`にマッピングを変更して
`:verbose imap <C-j>` を行うと
`i <NL> <Plug>IMAP_jumpForward`
            Last set from ~/.vim/bundle/vim-latex/plugin/imaps.vim
と出てきました。
競合していないみたいなので*.texファイルにて`<C-j>`を行ったのですが
既に一番新しい変更です
と表示されました。まだ何かと競合しているのでしょうか。

[2014-02-09 16:54] ghost commented on #466
ではこんな感じで…

[code]

[2014-02-09 17:03] ghost commented on #217
これでいいのかな…

[code]

[2014-02-10 06:01] ghost commented on #466
上記パッチは失敗しています。
画面全体を T_CL で消しているのが遠因ですが、素因ではありませんでした。追及しています。

[2014-02-10 06:58] Shougo commented on #523
その状態だと動いているように見えますが、私は vim-latex を使ったことが無いためこれ以上はわからないですね……。

[2014-02-10 07:59] ghost commented on #466
特殊処理で失敗してるパターンかな…

[code]

[2014-02-10 08:23] syngan commented on #523
どういう状態で `<C-j>` していますか。

[2014-02-10 08:35] Shougo commented on #523
確かに、現段階の.vimrcとVimを起動してからの手順がほしいところですね。他の人が試すことができます。

[2014-02-10 11:27] ghost commented on #344
その機能は私の何を改善しますか。

[2014-02-10 12:07] ghost commented on #331
fork で落ちない Cygwin64 が来たのでその上で vim を始めた初心者です。kaoriya版は使ったことがありません。初触は Gentoo の起動CDに入ってたやつです。[esc]:q![ret] が一番先に覚えたコマンドでした。そういう流れで hg clone したら DOS 版があるじゃん→IME効かねえ→パッチ書いた→投げた→ギッハブで招待？→今。

ポテチの袋を開けて食うように気楽に使えるエディタなのにね、というのが感想です。うすしお最高。

[2014-02-10 14:09] ynkdir commented on #217
:inoremap 、 xxx としたとき、
U+3001 = E3 80 81 これの 2 番目のバイト 80 がエスケープされて
mp->m_keys = E3 80 FE 58 81
という形で保存される。
それが utf-8 的に不正なバイト列なので mb_ptr2len(mp->m_keys) が 1 を返す。
ということなので、一時的に 80 FE 58 を 80 に元に戻すのがいい気がします。

個人的にはそこの ifdef 自体いらないと思いますが、まあ通らないでしょうねえ…。

あとなにかあったかな。あんまり覚えてません…。

[2014-02-10 14:23] k-takata commented on #496
起動時に IsThemeActive() で Visual Style が有効か確認して、ウィンドウスタイルを設定するようにしてみました。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/3464dd23125447d86e80199413001ad712e5eba2/remove-client-edge.patch
…が、WM_THEMECHANGED を受けて動的にスタイルを変えた方がいいのだろうかと思ったり。
あとは、やはり手動で設定できるようにオプションを付けるべきかと思ったり。

[2014-02-10 14:27] koron commented on #496
:+1:

テーマにしたがって自動で決めるなら
WM_THEMECHANGED はあると良いでしょうね。 (nice to have程度)
ただVim的ではない気もする。

Vim的という意味では
`go` で設定できるようにして、初期値は現在のテーマで決まる
という選択肢もあるとは思います。

[2014-02-10 15:54] ghost commented on #217
ありものは使おうの方針で…

[code]

[2014-02-11 01:33] ynkdir commented on #217
ありがとうございます。よさそうですね。

[2014-02-11 06:39] haya14busa opened #525 "guicursorの内部の情報を正しく得ることができない"
[:h guicursor](http://vim-jp.org/vimdoc-ja/options.html#%27guicursor%27)

[code]

モード 'a' の仕様で上記のように `=` で設定してもVim内部では
他の指定されていない引数に影響を与えずにGUIカーソルの情報が設定
されているようなのですが、この仕様のせいで `&guicursor` の値
を見ても正しく内部の情報を得ることが出来ません。

問題に気づいたissue: https://github.com/osyo-manga/vital-over/issues/25
Lingrのログ: http://lingr.com/room/vim/archives/2014/02/11#message-18321252

[2014-02-11 10:42] ghost commented on #495
vim_dev に持ち出しました。

https://groups.google.com/forum/#!topic/vim_dev/NEzpXgj2YFQ

[2014-02-11 11:32] Shougo commented on #344
この機能は見た目の話なので、他の機能と異なり「改善」という定義は難しいと思います。
既に入っているconcealも編集作業の改善なのかは私にはよく分かりません。応用が面白い機能とは思っています。
あえていうなら、マークアップ系の言語(Markdown, reStructuredText等）の表示が見やすくなります。
これまでのconcealとは異なり、フォントには依存しません。

[2014-02-11 11:32] ynkdir commented on #466
Bramしだいですけど、メッセージがずっと残るのは厳しい気がします。わかりませんが。

[2014-02-11 12:06] ghost commented on #466
多少核心には近くなったんですが、パッチ後半の clear_cmdline = TRUE は根本的解決ではないのでさらに追及します。
完動品をポンと出したい気持ちはあるんですけども、いまいち追いついておりません…。

[2014-02-11 12:36] ghost commented on #344
その機能はあなたの何を改善しますか。

[2014-02-11 12:48] Shougo commented on #344
私はプラグインのバッファの中で、現在sign機能で行えるようなちょっとしたアイコン画像を表示したいのです。

もちろん、フォントに依存しない文字としての画像の可能性についても応用はあるかと思います。
例えばテキストの見栄えを良くするために罫線文字がよく使われたりしますが、フォントによって幅が異なったり文字が存在しなかったりして意図した見た目にならないことがあります。

[2014-02-11 13:38] saitoha commented on #344
powerlineのフォントパッチ当てのような筋の悪い(と個人的に思う)無茶を見てしまったのが私の問題意識の発端。
あれは本来プラットフォーム側(gvimや端末)がやるべきことだろうと思いました。

なので実装方法についても@Shougoさんとは多少意見が異なります。
1. オプションにて特定コードポイントを動的に予約
2. 予約した範囲に画像を割り当てる
3. 予約された範囲の文字を普通に出す

[2014-02-11 14:40] ghost commented on #495
Bram氏から返事を頂いたけれど、えー…

TODO を通読する必要があったりなかったりするのかもわからんです。
実は ruler という機能をこれでさっき知りまして、アイヤー…(;´Д`)

[2014-02-11 14:46] ghost commented on #344
その機能はVimmerの何を改善しますか。

[2014-02-11 15:01] ghost commented on #217
vim_dev に持ち出しました。また別の TODO がある気がしないでもなく…。

https://groups.google.com/forum/#!topic/vim_dev/NRxhBh_t8mc

[2014-02-11 15:19] k-takata commented on #495
上で @ynkdir さんが挙げているtodoアイテムとは別なんですかね？

通読の必要はないと思いますが、todoに該当するものを見つけたのであれば書いておく方がよいでしょう。

[2014-02-11 15:39] k-takata commented on #217
[上で](https://github.com/vim-jp/issues/issues/217#issuecomment-6757185) @ynkdir さんが書いています…。これに対する修正だと書いておいた方がよいでしょう。

[2014-02-11 16:09] ghost commented on #344
ハートマン軍曹も言っていました。
「俺によし、お前によし、皆によし、そうでないならそれはクソだ」

[2014-02-11 16:10] k-takata commented on #509
7.4.175 で追加パッチも含めて取り込まれました。
https://groups.google.com/d/topic/vim_dev/6HbdUqzV1j4/discussion

[2014-02-11 21:44] Kocha commented on #456
Vim7.4.177と7.4.178のパッチ間に追加されたみたいです。
色々とありがとうございました。
closeします。

[2014-02-11 21:44] #456 closed, assigned to nobody

[2014-02-12 00:11] mattn commented on #456
@Kocha ++

[2014-02-12 06:04] ghost commented on #495
少し混濁しています、すみません、お手数をおかけしました…。

[2014-02-12 06:32] ghost commented on #217
これのテスト書けますか？的な話になってる気がすごくするのです。
書く技術を今は持っていないし、学んだとしても素人の域は出ようがないので、詰んだ？かな…

[2014-02-12 07:58] crazymaster commented on #519
修正されました
7.4.174
https://groups.google.com/d/topic/vim_dev/9TiQQkqJHe8/discussion
7.4.176
https://groups.google.com/d/topic/vim_dev/io5yyw15PVs/discussion

[2014-02-12 08:09] crazymaster commented on #516
エラー番号の衝突は7.4.157で修正
https://groups.google.com/d/msg/vim_dev/P-DNfB0z7d0/0L9bwnnOfwEJ

[2014-02-12 08:18] crazymaster commented on #514
7.4.166 で入りました
https://groups.google.com/d/topic/vim_dev/4sF8zcLbXHQ/discussion

[2014-02-12 08:18] #514 closed, assigned to ynkdir

[2014-02-12 08:23] crazymaster commented on #507
7.4.167 でテストが追加されました
https://groups.google.com/d/topic/vim_dev/dimRBX3R1hI/discussion

[2014-02-12 08:47] itchyny commented on #519
ありがとうございます。

[2014-02-12 10:11] ynkdir commented on #217
テストは vim/src/testdir を見ればなんとなくわかると思います。

[2014-02-12 10:59] k-takata commented on #217
テストの書き方のページはまだ作りかけでしたっけ？
https://github.com/vim-jp/vim-jp.github.com/issues/16
http://vim-jp.org/docs/how_to_write_tests.html

[2014-02-12 11:20] h-east commented on #217
@k-takata あぅ、結局書いてないですね。

[2014-02-12 11:40] ghost commented on #217
20年前にコードを書く仕事をしていた時に発症した統合失調症が一気に悪化しまして、やはり無理だったかと思っているところです。結構治ってきたと判断してパッチに手を出しましたが、間違いでした。平たく言えば頭がおかしいので、ぶつかる前に引っ込みます。そういう思考が出る程度にはおかしくなっているということです。申し訳ありません。

[2014-02-12 12:00] mattn commented on #217
今見たら map や abbr のテストって無いすね。

[2014-02-12 12:11] ynkdir commented on #217
@ntak
いえいえ助かりました。

[2014-02-12 12:13] mattn commented on #217
@ntak ちなみに、vim-jp ではパッチ書いたら書きっぱなし、投げっぱなしでもokです。誰か暇が出来たらテスト書いてくれたりしますんでテキトーにやって下さい。

[2014-02-12 23:51] InoueReo0406 commented on #523
起動してからの手順です
vimの起動
test.texを新規作成
挿入モードにて

[code]

と入力、すると以下の分が出てくるので

[code]

挿入モードにて<++>といプレースホルダーがある場所より前で`<c-j>`と押す
「既に一番新しい変更です」という表示がでる

という感じです。このような説明でよろしいですか。
また現段階のvimicです

[code]

[2014-02-12 23:57] Shougo commented on #523
コードはこちらで整形させてもらいました。

手順はそれで問題ないです。

.vimrc見せてもらいましたが、量が多すぎるので他人が試すには適しません。
この現象はもっと.vimrcを減らしても発現するはずです。できれば、問題が発生する.vimrcを100行以下に圧縮してここにアップロードしてもらえますか。
あとはこちらで試してみます。

[2014-02-13 19:30] todashuta commented on #523
vimrcの

[code]

これが怪しそう。

---

http://sourceforge.net/p/vim-latex/vim-latex/ci/master/tree/plugin/imaps.vim

vim-latex の plugin/imaps.vim で`<C-j>`に関係ありそうなやつを見てみたんですが，inoremap でいいのに imap が使われているものがあります。(以下の一つ目)

[code]

そのため，`<c-r>`で vimrc に書いた`<C-r>`が意図せず利用されて，ノーマルモードの`<C-r>`を押したことになり，「既に一番新しい変更です」が表示されているのではないかと。。

[2014-02-13 20:43] Shougo commented on #523
あ、確かに。これはvim-latexのマッピングが悪いですね。
imapを修正して、Pull requestｓを送ったほうが良いと思います。

@todashuta ナイス！

[2014-02-14 08:38] InoueReo0406 commented on #523
皆様、ありがとうございます。おかげさまで治すことができました。
非常にありがとうございます

[2014-02-14 08:38] #523 closed, assigned to nobody

[2014-02-14 11:46] machakann opened #526 "match('foo', '$', 0, count)の count が 2 以上の時の挙動がおかしい"
そもそも count が2以上の時はパターンとして間違ってはいるのですが、

match('foo', '$', 0, count)

の返す値が windows 上の vim では次のようになります。

count - 戻り値
1 - 3
2 - 5
3 - 7
4 - 13
5 - 14
6 - 13
7 - 21

...といった感じで、どういう値なのかわからない値が返ります。パッチ番号を 7.4.141 ぐらいまでさかのぼっても改善されず、 64bit と 32bit 版の両方で起きるようです。不思議なことに linux 上で同じことを試した時には常に3が返されました。

使用したのは以下の環境です。
windows : Windows7 64bit Ultimate, kaoriya版gvim 7.4.161 64bit版
linux       : Archlinux 64bi

[2014-02-14 12:47] osyo-manga commented on #526
わたしの環境では全て `3` か返ってきました。

#### テスト環境
- WindowsXP SP3
- kaoriya 版 gvim 7.4.161 32bit版

#### テストコード

[code]

[2014-02-14 12:49] mattn commented on #526
regexpengineの値にも依存する様です。

[2014-02-14 12:55] osyo-manga commented on #526
ちなみにわたしは `set re=1` で動作確認しました。

[2014-02-14 13:32] machakann commented on #526
テストコードありがとうございます。
今手元で見てみたんですけど set re=1 でも set re=2 でもおかしな値になりました。あと、 count が6,7付近の値はやるたびに変化するみたいです。

[2014-02-14 14:07] sgur commented on #526
`set enc=utf-8`だと @osyo-manga さんのテストコードで全て`3`が返ってきます。

`set enc=cp932`だとおかしな値になりました。
実行する度に変化している模様

`regexpengine` が `1` でも `2` でも上記の結果です。

[2014-02-14 14:24] machakann commented on #526
@sgur さんのおっしゃる通りのようです。私が試したのも Windows では set enc=cp932、 linux では set enc=utf-8 でした。

[2014-02-14 19:22] ghost opened #527 "vim 突然落ちる現象"
---

:set encoding=cp932

:echo match('foo', '$', 0, 111111111111111111111111111)

---

Vim: Caught deadly signal SEGV

Vim: Finished.

Segmentation fault

---

7.2 セグフォ落ち。

7.3 セグフォ落ち

7.4 [179] セグフォ落ち

※[パッチ数]

---

 (cygwin ssh)

 centOS release 6.5 (Final) x86_64 x
./configure --prefix /root/vim74/vim74/src/bin/
make install です

同じ現象の方いらっしゃいましたら。お願いします。

[2014-02-14 22:52] Shougo commented on #527
https://github.com/vim-jp/issues/issues/526

おそらくこちらと同じ現象です。さすがに、クラッシュはまずいですね。メモリ破壊が起きているのだと思います。

[2014-02-15 04:47] h-east commented on #526
これでいかがでしょう？
(test is ALL DONE)

[code]

[2014-02-15 04:50] h-east commented on #527
#526 と同根バグです。#526 のpatchで直ることを確認しました。

[2014-02-15 04:53] h-east commented on #527
ということでこちらのissueはduplicatedとしてクローズします。
以後は #526 へコメントお願いします。

[2014-02-15 04:53] #527 closed, assigned to h-east

[2014-02-15 05:22] Shougo commented on #526
@h-east ++;

[2014-02-15 06:29] ynkdir commented on #526
これもできればお願いします。

[code]

[2014-02-15 06:59] h-east commented on #526
@ynkdir あっ、演算子 `>` じゃなくて `>=` でした。ありがとうございます。
ということで上のコメントのpatch修正しました。
最後ら辺の `if` のところ
X if (startcol > (colnr_T)len)
O if (startcol >= (colnr_T)len)

~~1点確認です。~~

[code]

~~も `should be -1` ですよね？~~

[2014-02-15 07:13] h-east commented on #526
~~あれ？元ソースの13971行目の~~

[code]

~~も `>` じゃなくて `>=` じゃないのかな？？~~
~~(ここを参考にしたから間違えたんですはい)~~

[2014-02-15 08:49] h-east commented on #526
この認識であってますよね？
(第1引数が文字列の時のパターン)

[code]

なんかややこしいと思ったら第2引数が `$` 等のゼロ幅マッチの場合の扱いがスペシャルなんですね。
例えば、通常は第1引数の文字列長が3文字の場合は関数は 0 ~ 2 または -1 を返す。
でも第2引数が `$` の場合は 3 または -1 を、`\zs`, `\ze`の場合は 0 ~ 3 または -1 返すのね。

[2014-02-15 09:13] h-east commented on #526
テストパターンその2

[code]

[2014-02-15 09:28] ynkdir commented on #526
`$` はあってると思います。
`match('x', '\zs', 0, 2)` は微妙なとこで私もよくわからないです。

[2014-02-15 12:49] machakann commented on #526
パッチありがとうございます。@h-east さんのパッチでテストコードが期待通りの値を返すのを `set enc=utf-8` と `set enc=cp932` の両方で確認しました。

私見ですが、 `match('x', '\zs', 0, 2)` を使うとしたら1が返るのを期待する気がします。

[2014-02-15 15:30] k-takata commented on #495
7.4.181で取り込まれました。少し修正が入ったようです。
https://groups.google.com/d/topic/vim_dev/1KCJkAf3E_I/discussion

[2014-02-15 15:30] #495 closed, assigned to nobody

[2014-02-16 02:12] ghost commented on #217
急性症状(幻聴)がおおむね回復した後によくよく考えたのですけれども、自分潰してもパッチ潰すな、という自己反省に至ったので、このパッチとテストは書き上げます。自分のケツは持たないといかんですね。飛ばしすぎたのが原因なように今は思います。
とここまで書いてまた幻聴出てきてますな(;´Д`)テキトー精神を獲得せねば…

しかしながら文字のテストって全文字噛ますわけにもいかないし…(今はまだ他のテストは未見)

[2014-02-16 07:49] h-east commented on #526
patch更新しました。(テストも追加)
これで皆さんが思っている結果になったんじゃないでしょうか？
特に問題なければ明日の晩以降にvim_devに投稿します。

[code]

補足:
第3引数`start` に `111111111111` 等の大きい値を指定すると内部で負値になり結果的に`0`を指定したことと同じになります。
第4引数`count` に `111111111111` 等の大きい値を指定すると内部で負値になり結果的に`1`を指定したことと同じになります。
大きい値を指定して内部的に負の値になるか正の値になるかは実行環境に依存しますしどちらにもなりえます。
なので現状の私感としては「32bitで表現できない大きい値を指定した場合は結果はSEGVしないような判定ロジックが入っていればOK」と思ってます。
(64bit linuxの場合、Vimの内部は64bitなのですがVi

[2014-02-16 08:27] h-east commented on #526
あっ、あかん。前のpatchの`if (startcol >= (colnr_T)len)`必要だ。

[2014-02-16 08:35] h-east commented on #526
すんません、これが投稿候補です。

[code]

[2014-02-16 13:56] ynkdir commented on #526
ありがとうございます。問題なしです。

[2014-02-16 14:12] machakann commented on #526
話題に上がったすべてのケースで期待通りの値が返ることを確認しました。
第3、第4引数に大きな値が指定された場合も、 SEGV せずに説明通りの値が返りました。
ふと思い出してmatchend()も試しましたが期待通りの値でした。
ありがとうございます。

[2014-02-17 02:30] h-east commented on #526
vim_devに投げました。
https://groups.google.com/d/msg/vim_dev/5Z3PyGMwnhA/TQb29wGb1pMJ

[2014-02-18 15:26] haya14busa opened #528 "改行コードCR/LFが条件によって変換されてしまう(?)"
### 再現手順
1. `let @" = "\n"`
2. `echo strtrans(@")` => "^@"
3. コマンドラインで`<C-r>"` => "^M"
4. `echom getreg('"')` => "^@"

3で何故か結果が変わってしまいます。なにか分かる方いらっしゃったらよろしくお願いします。

(追記: 2,3,4は順不同です。)

[2014-02-19 00:12] mattn commented on #528
https://github.com/vim-jp/vim/blob/master/src/ops.c#L1593

変わっているというよりも、コマンドライン上だと改行が表現出来ないという理由で `\r` で強制している、というところでしょうか。

[2014-02-19 00:21] mattn commented on #528
あ、意味を取り違えてるな僕

[2014-02-19 13:23] ynkdir commented on #528
この説明であってるのかわかりませんが…

実際にレジスタに入ってるのは ^@ でもなく ^M でもなく改行です。

[code]

^J と表示されてますが 0x0A バイトという意味ではなくもっと抽象的なものです。レジスタの内部表現は行の配列なので ["line1", "line2"] これのカンマみたいなもの。

文字列とレジスタは内部表現が違います。文字列は NUL 終端文字列です。レジスタを文字列に変換すると改行は NL に変換されます。そして、strtrans() は NL を ^@ として表示します。

コマンドラインで `<C-r>"` すると、レジスタの中身は改行なので ^M が入力されます。`<C-V><CR>` と同じです。

[2014-02-19 14:20] haya14busa commented on #528
@mattn さん、 @ynkdir さん、解説ありがとうございます

なるほど

##### レジスタの改行:
- CRやLFといった改行コードではなく『改行』というもっと抽象的な物が入っている
- 内部表現: 行の配列

##### 文字列の改行:
- CR(0x0D),LF(0x0A)などを表現できるが、レジスタから文字列に変換された場合は`NL`に変換され、これは`^@`というふうに表示される(`strtrans()`や`echom`など)
- 内部表現: NULL 終端文字列

##### コマンドラインの改行:
- これは`strtrans()`などと違って文字列に変換して出力されているわけではないので(?)、そのまま改行(`^M`)が表示される
- コマンドライン上だと改行が表現出来ないという理由で \r で強制している

という感じですかね...?
ややこしいけどぼんやりわ

[2014-02-19 23:44] InoueReo0406 opened #529 "vim-latexの表示について"
こんにちわ、いつもお世話になっています。以前はvim-latexの質問で本当に助かりました。ありがとうございます。
恥ずかしながらvim-latexについて質問です。自分のvim-latexの表示についてです。数式eqnarrayについての表示なのですが例えば以下の文を打ち込んだとします。

\begin{eqnarray}
    F(f)=\int^{\infty}_{-\infty} f(t)exp(-j2{\pi}t)dt
\end{eqnarray}

すると二文目　\int　や　{\pi} という表示が白く変換して表示されます。これは仕様なのでしょうか。もし仕様であればこの表示方法を治したく(変換させないでただの文字としてvim上で表示)syntaxなどをいじってみたのですがわかりませんでした。
よろしくお願いします。

![snapcrab_noname_2014-2-20_

[2014-02-19 23:54] thinca commented on #529
filetypeが `tex` なら、`~/.vim/after/ftplugin/tex.vim` (Windows なら `~/vimfiles/after/ftplugin/tex.vim`)というファイルを作って、

[code]

としてみてください。

[2014-02-20 00:02] InoueReo0406 commented on #529
ありがとうございます。おかげさまで治すことが出来ました。
このような簡単な設定があることを知りませんでした。1ヶ月ほどこの機能の改善で悩んでいたので本当に助かりました。

[2014-02-20 00:02] #529 closed, assigned to nobody

[2014-02-20 00:55] haya14busa commented on #528
閉じ忘れed。改めてありがとうございました

[2014-02-20 00:55] #528 closed, assigned to nobody

[2014-02-20 09:35] todashuta commented on #529
これは，vim-latex ではなく vim に付属している tex 用構文ハイライトファイルが原因です。

conceallevel を変えずに

`let g:tex_conceal = ''`

と書いておくことで無効化することもできます。

参考: http://vim-jp.org/vimdoc-ja/syntax.html#g:tex_conceal

[2014-02-23 03:52] h-east commented on #526
Patch 7.4.184 で入りました。
https://groups.google.com/d/msg/vim_dev/N9MopkbpES8/D26NMekuJyAJ

lenの型がintからlongに修正入った。
gnコマンドのtestが追加された。(これええんかな？ま、ええっか)

報告してくれた @machakann さん、 @ikunikun さん、サポートしてくれた @ynkdir さん、その他の方々ありがとうございました。

[2014-02-23 03:52] #526 closed, assigned to h-east

[2014-02-23 05:08] machakann commented on #526
パッチ入ったみたいですね、感無量です。皆さんありがとうございました。

[2014-02-23 14:50] ghost commented on #526
１８４にて　:echo match('foo', '$', 0, 111111111111111111111111111)
で-1が出ることが確認、
落ちなくなりました。

よかったぁーお疲れ様でした。

[2014-02-24 03:51] thinca opened #530 "--enable-perlinterp=dynamic かつ非 USE_ITHREAD で if_perl がビルド出来ない(was: Perl 5.19 で if_perl がビルドできない)"
確認した環境
OS: Gentoo Linux 3.8.13
Vim: 7.4.192
Perl: 5.19.8

[code]

関係あるかわかりませんが、直前で警告も出ています。

[code]

[2014-02-24 04:39] mattn commented on #530
windows で 5.16 で動かしてるんですが、5.16 でも perl_key (dll_perl_key) をインポートしなくても動きますね。どの環境が perl_key のシンボル解決しないと動かない環境なんだろ。

[2014-02-24 06:21] mattn commented on #530
[code]

64bit linux でビルドしてみましたが、ビルドエラーにはなりませんでした。

[2014-02-24 06:23] thinca commented on #530
plenv がまずいのかも。何か気を付けないといけないポイントとかってあったりしますか?

[2014-02-24 06:23] mattn commented on #530
ローカルインストールなので

[code]

しました。

[2014-02-24 07:00] thinca commented on #530
書いてませんでしたが、 `--enable-perlinterp=dynamic` でビルドしていました。そして色々 mattn さんに試してもらったところ、どうやらこれがビルドコケる条件の模様。

[2014-02-24 07:12] mattn commented on #530
https://gist.github.com/mattn/9183235

時間あったら試して下さい。

[2014-02-24 07:26] mattn commented on #530
あと、plenv を使ってるのでたぶん perl が libperl.so.5.19.XXXX 形式で出力されないビルド形式になっているかも。`Configure -Duseshrplib`して共有ライブラリ吐いて下さい。

[2014-02-24 09:19] mattn commented on #530
https://gist.github.com/9201108
- linux perl 5.14 の --enable-perlinterp=yes (確認済み)
- linux perl 5.14 の --enable-perlinterp=dynamic (確認済み)
- linux perl 5.16 の --enable-perlinterp=yes (確認済み)
- linux perl 5.16 の --enable-perlinterp=dynamic (確認済み)
- linux perl 5.18 の --enable-perlinterp=yes (確認済み)
- linux perl 5.18 の --enable-perlinterp=dynamic (確認済み)
- linux perl 5.19 の --enable-perlinterp=yes (確認済み)

[2014-02-24 10:16] mattn commented on #530
ステータス更新ed

[2014-02-24 10:29] mattn opened #531 "perl5.19.9 の signatures でプロトタイプのsyntaxがエラー色になる"
http://blog.64p.org/entry/2014/02/24/141557

[code]

これが通るので、もはや `$` や `@` だけではパースは不可能。って事で無効にする変数追加。

https://gist.github.com/mattn/9185175

[2014-02-24 10:58] k-takata commented on #530
CygwinとLinuxのPerl 5.14では、`dll_PL_thr_key`が無いとdynamicを指定してもスタティックリンクされてしまっていました。余計なシンボルがリンクされていないか、objdump -pで確認しておくと良いでしょう。
https://groups.google.com/d/topic/vim_dev/JEPdD-EMAp4/discussion
それ以降のバージョンは未確認。

[2014-02-25 00:01] mattn commented on #530
5.18、5.19 は確認出来たので 5.14、5.16 が確認出来ればいいですかね？

[2014-02-25 00:56] mattn commented on #530
ステータス更新 5.16 追加

[2014-02-25 01:14] mattn commented on #530
あとは 5.14 か

[2014-02-25 01:34] k-takata commented on #530
お疲れ様です。ところでこの2箇所の #ifndef って合ってます？
どちらも DYNAMIC_PERL 用のファンクションテーブルなので、 #ifndef で囲むということは、そもそも要らなかったということになってしまいます。(少なくとも dll_PL_thr_key の方は Perl 5.14では必須なはず。)

[code]

[code]

あと気になるのは、Perl 5.19は開発版のはずなので、正式版の5.20が出るまでにどうなるのかという点ですね。

※コメント一部修正。

[2014-02-25 01:50] mattn commented on #530
　あれ？ Perl_croak_nocontext と PL_thr_key、5.14 から 5.19 まで試したけどどれも必要無かった。これいらんのとちゃう？

[2014-02-25 01:50] mattn commented on #530
5.14 も確認終わり。

[2014-02-25 01:51] mattn commented on #530
最終的なパッチはこちら

https://gist.github.com/9201108

[2014-02-25 01:55] k-takata commented on #530
dynamicリンク時、objdumpでlibperl.soへのリンクが含まれていないことも確認済みでしょうか。

[code]

7.3.668以降の if_perl.xs の修正でいつの間にか必要なくなった？

[2014-02-25 02:00] k-takata commented on #530
本当に、PL_thr_key が不要なら 7.3.668 を revert しても問題ないはずですね。

[2014-02-25 02:00] mattn commented on #530
はい。

どうなんでしょ。

[2014-02-25 02:01] mattn commented on #530
cygwin はちょっと環境そろえれないなー。

[2014-02-25 02:03] ynkdir commented on #530
perl が -Dusethreads -Dusemultiplicity 付きだと動かない気がします。

[code]

ubuntu ですが vim のリンカオプションに -lperl が付いてるのでビルドが通ってますが-lperl を外すとビルド通らないです。

[2014-02-25 02:08] mattn commented on #530
って事は https://github.com/vim-jp/issues/issues/530#issuecomment-35965240 を USE_ITHREADS の ifdef に返ればokかな？

[2014-02-25 02:19] mattn commented on #530
こうなってくるともうパズルだな。

[2014-02-25 02:44] ynkdir commented on #530
そうですね。Perl_croak_nocontext は PERL_IMPLICIT_CONTEXT で。
完璧にするのは無理そうなのであるていどでいいと思いますが。
dynamic は windows + activeperl が動けば。
if_perl 厳しいですね…。

[2014-02-25 03:21] mattn commented on #530
最終パッチ

https://gist.github.com/mattn/9202034

[2014-02-25 03:38] k-takata commented on #530
結局、Perlのバージョンではなく、configurationに依存した問題だったということでしょうか。それともバージョンも関係あり？

[2014-02-25 03:42] mattn commented on #530
バージョン関係なしです。USE_ITHREADS の時におかしくなるという事でした。

[2014-02-25 03:43] mattn commented on #530
タイトル修正done

[2014-02-25 03:47] mattn commented on #530
https://groups.google.com/forum/#!topic/vim_dev/230v4INmTwI

[2014-02-25 03:53] mattn commented on #531
https://groups.google.com/forum/#!topic/vim_dev/IK2YGgYzoco

[2014-02-25 04:19] k-takata commented on #530
:+1:

逆ですか？ パッチ前は -Dusethreads 無し(かつUnix系)だとコンパイルが通らなかったのですよね。

[2014-02-25 04:22] mattn commented on #530
あー、逆です。英文直してきます。

[2014-02-25 04:28] ynkdir commented on #530
Perl_croak_nocontext は USE_ITHREADS じゃなくて PERL_IMPLICIT_CONTEXT じゃないですか

[2014-02-25 04:49] mattn commented on #530
あざます。

[2014-02-25 04:53] ynkdir commented on #530
GJ!

[2014-02-26 07:45] ghost commented on #217
ちょっと時間を食いましたがテスト方法とVim scriptは把握しました。
そこまではよかった…
script に書いた "string" が latin-1 かなんかで変解釈されるのが現在の動作ですが(例:"call feedkeys("、") が通らない)、これは変えてしまったら影響が半端ない気がかなりするんで、どうしたもんかと思ってるところで今日に至っております。
テストに feedkeys() を使ってる時典でいかんのかもわからんですけれど、うーん…

[2014-02-26 07:57] mattn commented on #217
`scriptencoding utf-8` というのをテストスクリプトの先頭に入れて貰えますか？

[2014-02-26 08:29] ghost commented on #217
まずもって最小限で再現するのはこうです。

[code]

謎でもなんでもないのかもしれない(evalの付近でmb_系処理が見つけられなかった)。

[2014-02-26 10:18] k-takata commented on #217
`:scriptencoding utf-8` は `:set encoding=utf-8` より後にすべきではないでしょうか。（ただ、他のテストは scriptencoding を設定していないですね。例: test95）
`STARTTEST`の前と、`ENDTEST`の後には空行が必要だったような気がします。
で、以上の変更を行った上で試してみたのですが、なぜかうまくいかないですね。
vimを立ち上げて、手で`:inoremap`と`feedkeys()`を実行した場合や、

[code]

に変えた場合はうまくいくのですが。

[2014-02-26 15:43] ghost commented on #217
原因である `K_SPECIAL` 系を escape/unescape する処理をこことあそこに入れてやろうか`Hehehehe.`という状況まで持っていきましたが副作用が心配であること山の如し、`eval[0-7]()` に渡っている `arg` のバイト列からしてなんらかの encode がかかっているのでそこを見て latin-? かなと思った次第です。
よくわかりませんが私もどう説明していいやらまとまってません。追って一報します。

[2014-02-26 16:08] ynkdir commented on #217
入力は `:so!` で読み込まれるので 0x80 バイトはエスケープしないといけなかった気がします。
なので `i^Vu3001` (^V は `<C-V><C-V>` で入力した生 CTRL-V) で入力するのがよさげと思います。

[2014-02-26 16:30] ghost commented on #217
`:so!` は変えたらいかんですね…
どうも見当が外れていたようでつらみ(;´Д`)皆様いろいろすみません。
数日中に持ち出せる形を作ります。

[2014-02-27 09:48] k-takata commented on #217
`i^Vu3001` を試してみましたが、`，`にはなりませんでした。inoremapのマッピング適用対象外ということでしょうか。

[2014-02-27 10:02] ynkdir commented on #217
あーほんとですね。すいません。勘違いでした。

[2014-02-28 08:52] k-takata commented on #217
これでどうでしょう。

[code]

マッピング関連のテストを充実させていくのは、今後の課題となりますかね。
しかし、

ヘルプを見てみましたが、書いてなさそう…

[2014-02-28 09:45] ynkdir commented on #217
よさげですね。

[2014-02-28 10:23] k-takata commented on #217
なお、`:call feedkeys("i\u3001\<Esc>")` の代わりに、

[code]

というのも考えましたが、分かりにくいのでボツ。

あと、念のため既存のマッピング関連のテストを検索したところ、test 15, 34, 75, 88, 94 辺りが見つかりました。しかし、今回の件は enc=utf-8 が必須なので、既存のテストファイルに追加するよりは新規のテストファイルを作った方が良さそうですね。

[2014-02-28 10:30] ynkdir commented on #217
コメントがあったほうがいいかもですね。

[2014-02-28 11:18] ghost commented on #217
script の場合だけエスケープしないようにわざわざ条件切りしてあったのが実態でした。

[code]

これでテストファイルが動きます。貼れないですね(;´Д`)コードが化ける。
http://ntak.net/vim/test106.zip (test106.in, test106.ok)
で通ります。がテストのためにコードを変えるというのが許されるのか否か…。

[2014-02-28 11:53] k-takata commented on #217
無しに1票。上に書いたとおり、`<Char-0xXXXX>`と`"\uXXXX"`を使えば動くわけですから。
本当に必要であれば、別パッチにした方が良いのではないでしょうか。

[2014-02-28 12:12] ynkdir commented on #217
`:so!` の件はバグというわけではなくて、起動引数の `-w {scriptout}` で記録したスクリプトを `:so!` で実行するんですが、ファンクションキーなんかもそれで記録&再生できるようにそんな感じになってます。

[2014-02-28 12:42] k-takata commented on #217
なるほど、そういう目的でしたか。

[2014-02-28 14:32] ghost commented on #217
`nocompatible` と `<Char-0xXXXX>` を知らなかったという部分が弱いのでやはりマニュアルには一度目を通した方がいいですねこれは。今後のために…。
`!script` の方は出すにしても別パッチにします。出さない気はしてます。
テストはこちらで仕上げてここで突っ込み入れて頂いた後 vim_dev に持ち出す形でいいでしょうか？

[2014-03-01 00:53] ynkdir commented on #217
はい

[2014-03-01 05:20] InoueReo0406 opened #532 "vimのlatexの書き方　、や。の扱い"
こんにちわ、いつもお世話になっています。texを使っている皆さんに質問です。自分は論文などをかくとき「、」や「。」（句読点）について「, 」「. 」と書くようにしています。しかし毎回全てを書き終えてから:%sで置換を行っていて非常に不便です。だからinoremapにて「、」や「。」を置換させようと思いましたが過去の質問から、また自分で試した結果無理だとわかりました。皆さんはどのようにしているかお教え下さい。また置換を行える方法やプラグインなどがありましたら教えて下さい。お願いします。

[2014-03-01 09:15] h-east commented on #532
私ならIMEの方の設定を変更すると思います。

どうしてもVimでやるなら `InsertCharPre`イベントを使うことになるのかな？

とりあえずサンプル
これ↓を .vimrc (Winなら _vimrc)に書けば、拡張子が .tex の時にお望みの動作になります。

[code]

プラギン兄さん達＞
間違ってるとこあったら指摘して下さい。

[2014-03-01 11:17] osyo-manga commented on #532
tex は使っていないので『わたしならこうするかなー』という提案ですが。
わたしなら置換するコマンドを定義したり保存時に置換するようなスクリプトを書いちゃうかな。

[code]

いちいちこういうコマンドを呼び出すのが手間であれば @h-east さんみたいに `InsertCharPre` でゴニョゴニョするのもよいと思います。

[2014-03-01 11:27] InoueReo0406 commented on #532
お二方、回答ありがとうございます。二人の回答により無事置換を行うことが出来ました。
自分も暇が出来ればvimのプログラミングを勉強していきたいです。

[2014-03-01 11:27] #532 closed, assigned to nobody

[2014-03-01 13:28] ghost commented on #217
こうなりました。

[code]

値域の縁を内外四点分見ています。test*.ok は

[code]

になります。

[2014-03-01 19:22] ynkdir commented on #217
ありがとうございます。いいと思います。

[2014-03-01 19:28] ynkdir commented on #217
あ、これいらないですね。マルチバイトなしなら `:so mbyte.vim` が同じことするはずです。

[code]

[2014-03-02 04:09] ghost commented on #217
了解しました。その部分を削って提出します。ヽ(´ー`)ノ

[2014-03-02 05:24] k-takata commented on #217
コメント部分ですが、

Tests の方が良いかと。

the range というのが何の範囲か説明があった方が良いかも。

[2014-03-02 11:53] ghost commented on #217
はい(;´Д`)英語～…以前の問題なので変更します。

[2014-03-03 08:44] InoueReo0406 opened #533 "vim-surroundについて"
vim-surroundが上手く機能せず、なにかのプラグインと混同しているみたいです。このような場合、みなさんはどのように原因を調べていますか。
また自分のvimrcを記しておきます。整形？の仕方なども教えていただくと幸いです。

[code]

[2014-03-03 08:51] mattn commented on #533
文章の一部を修正しました。
- 「上図に」→「上手く」
- vimrcをコード記法に修正
- 「vimic」→「vimrc」

[2014-03-03 08:52] mattn commented on #533
例えばどのモーションで上手く動かないのか説明を書くと、surroundファンが答えてくれます。
※僕はsurround使ってません。

[2014-03-03 10:18] k-takata commented on #533
大きなファイルを貼るときは [Gist](https://gist.github.com/) などを使うのがよいでしょう。
ここに貼るときに整形する方法は https://help.github.com/articles/github-flavored-markdown#syntax-highlighting を見てください。言語名は、`VimL`または`vim`を指定してください。

前回も指摘されていましたが、.vimrcを少しずつ削っていって、現象が再現する最低限の.vimrcを見つけることが解決の近道でしょう。

[2014-03-03 10:26] DeaR commented on #533
2分探索
まずvim-surroundのみの最低限で他をコメントアウト
↓
大丈夫なら半分くらいのコメントアウトした個所を戻す
↓
大丈夫なら(略)

具体的に何が動かないのかがわかりません。
- `cs`や`ds`といったマッピングが反応しない → `verbose nmap cs`とか調べてみる
- ちゃんと`<Plug>Dsurround`とかに設定されている → 2分探査して競合してるプラグイン探していく

[2014-03-03 10:35] k-takata commented on #522
3週間ほど前に todo.txt に入っていました。

[2014-03-03 10:35] #522 closed, assigned to nobody

[2014-03-03 10:35] mattn commented on #533
コメントアウト使うのも良いですが、`finish` を入れると楽出来ます。

[2014-03-03 10:56] k-takata commented on #54
おかしいな、誰も貼ってないなんて。
Neovim
https://groups.google.com/d/topic/vim_dev/x0BF9Y0Uby8/discussion

そして、日本語で言うところの縁起でもない…
Bram, if you got hit by a bus tomorrow..
https://groups.google.com/d/topic/vim_dev/h8AL-n8rWIQ/discussion

[2014-03-03 11:09] mattn commented on #54
まず病院に行きますね

[2014-03-03 12:01] Shougo commented on #54
貼ろうかと思ったんですが、そういえば忘れてました。

[2014-03-03 12:04] Shougo commented on #533
.vimrcについては、できるだけ短い状態（できれば 50行以下、20行程度がベスト）で再現させることをやるのが良いです。
そうすることで他の人が再現しやすくなるし、その過程で問題が見つかることも多いです。

はい。これはVimを起動してからの再現手順が示されていないのでよく分からないのですね。
他の人が再現しやすいように、最小構成の.vimrcだけでなく手順（できればVim起動後から）があるとよいです。

[2014-03-05 07:43] mattn opened #534 "Windows の gf/gF で grep 結果が開けない"
[code]

として

[code]

こういう状態で gf/gF をタイプすると Windows だと isfname に `:` が含まれているので`E447: Can't find file "c:/vim/src/gui_w48.c:1228" in path` と怒られるのですがこれを直そうじゃないかという話です。

[code]

人によっては `path_is_url` と別に `path_is_valid` みたいなのを作ってそっちでやれという話かもしれないので意見が欲しいです。

[2014-03-05 08:07] mattn commented on #534
パッチ更新。無駄なコメント削除。

[2014-03-05 08:09] h-east commented on #534
quickfixの機能を使えば一応現状でも対応可能ですけど、そのpatch(・∀・)ｲｲ!!

[code]

[2014-03-05 08:13] mattn commented on #534
一応確認した物。
- `c:/foo/bar.c:60:` は `c:/foo/bar.c` を開こうとする(直した部分)
- `:::foo:::` は `:::foo:::` として開こうとする(オリジナル通り)
- `../foo/bar.c:60:` は `../foo/bar.c` を開こうとする(直した部分)

[2014-03-05 09:26] ynkdir commented on #534
`http://www.yahoo.com/` url が gf できなくなりますね

[2014-03-05 09:30] mattn commented on #534
あー、おまちを

[2014-03-05 09:34] mattn commented on #534
[code]

これでどうでしょう？
- `c:/foo/bar.c:60:` は `c:/foo/bar.c` を開こうとする(直した部分)
- `:::foo:::` は `:::foo:::` として開こうとする(オリジナル通り)
- `../foo/bar.c:60:` は `../foo/bar.c` を開こうとする(直した部分)
- `http://www.google.com/` ok
- `http://www.google.com:80/` ok

[2014-03-05 09:35] mattn commented on #534
あ、_WIN32

[2014-03-05 09:37] mattn commented on #534
[code]

確認内容

[code]

[2014-03-05 10:01] ynkdir commented on #534
ありがとうございます

[2014-03-05 10:19] mattn commented on #534
ちょっとナイーブな代物っぽいので明日までランニングしてきます。

[2014-03-06 12:09] mattn commented on #534
https://groups.google.com/d/msg/vim_dev/ocXS8S3iE9w/1tnP__a6HokJ

[2014-03-08 11:12] deton opened #535 "BufAdd で :e すると SEGV"
作成中の自作Vim scriptでVimがSEGVしたのでひとまず報告。
(script中のBufAddをBufEnterにしたら落ちないので特に困ってはいないです)

Vim script(closediropenfile.vim)は以下。
(`set wildmode=longest:full`している時に、
`:e`でディレクトリまでしか補完しないまま開こうとした時に、
ディレクトリのかわりにファイルを開くためのスクリプト。)

[code]

再現手順:

[code]

期待する動作: $VIMRUNTIME/autoload/xmlcomplete.vimが開かれること。

実際の動作: SEGV。

[code]

かわりに開かれるファイルが小さければ落ちない(`:e $VIMRUNTIME/indent`)。
500行程度以上あると落ちる模様。
- 落ちる:
  - deb

[2014-03-08 11:23] koron commented on #535
タイトルを 「自作Vim scriptでVimがSEGV」 から
「BufAdd で :e すると SEGV」に変更しました。

せっかくの詳細な報告なのですから、
ひと目で内容のわかるタイトルにしたほうが良いでしょう。

[2014-03-08 11:50] mattn commented on #535
https://gist.github.com/mattn/9429300

[code]

[2014-03-08 14:46] ynkdir commented on #535
(void)buf_check_timestamp(buf, FALSE);   <- この中でautocmdを発行してて
if (!buf_valid(buf)     <- その後でバッファを調べてるので順番を変えるのはまずいです

[2014-03-08 15:05] mattn commented on #535
buf_check_timestampに入ってきた時には既に !buf_valid(buf) なバッファなのでこうしました。

[2014-03-08 16:19] ynkdir commented on #535
buf_valid()でチェックするならこのへんがいいと思うんですが、BufAdd イベントの中で bwipeout で buf が解放されてから edit かなんかで同じアドレスが割り当てられたりすると対処できないですね。

[code]

ただどっちみちこれもだめっぽくて他の手順では落ちます
別のところでのクラッシュ

[code]

個人的にはヘルプに注意書きで逃げたいなあと思いました。

[2014-03-08 16:26] mattn commented on #535
エラーにして処理を中断するのがいいかも

On 3/9/14, Yukihiro Nakadaira notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2014-03-08 23:20] k-takata commented on #530
todo入りしました。

[2014-03-08 23:20] #530 closed, assigned to nobody

[2014-03-10 11:55] koron opened #536 "Test 86 and 87 failed with 7.4.193"
https://travis-ci.org/vim-jp/vim-ci/builds/20349732

7.4.193 以降、travis-ci上でテスト86と87が失敗してました。

[該当パッチ](https://groups.google.com/d/msg/vim_dev/b2TiuZbqwUU/HiZpa1TfYBMJ) を見る限り、Python関連かな?

[2014-03-10 11:56] koron commented on #536
コード中のエラーメッセージの文言のtypoが治って
テストのほうでは治ってないってことかしらね?

[2014-03-10 12:09] koron commented on #536
直して投げた。

https://groups.google.com/d/msg/vim_dev/b2TiuZbqwUU/AOFwYvJyXkQJ

[2014-03-10 12:10] koron commented on #536
あとはヨロ

[2014-03-12 14:36] k-takata commented on #536
7.4.195
https://groups.google.com/d/topic/vim_dev/0J1mZqPOPWY/discussion

[2014-03-12 14:36] #536 closed, assigned to koron

[2014-03-12 14:45] koron commented on #536
パッチ公開から閉じるまでが素早いw

[2014-03-12 15:02] k-takata commented on #536
高速クローズ！

[2014-03-12 22:02] k-takata commented on #501
7.4.202
https://groups.google.com/d/topic/vim_dev/CbAmRWz9DbU/discussion

[2014-03-12 22:05] k-takata commented on #522
7.4.205
https://groups.google.com/d/topic/vim_dev/JX91m4lSQfc/discussion

[2014-03-12 22:10] k-takata commented on #217
7.4.204
https://groups.google.com/d/topic/vim_dev/MiQ7PfCcVy8/discussion
テストは、test75への追加という形になりました。

[2014-03-12 22:10] #217 closed, assigned to nobody

[2014-03-12 22:13] k-takata commented on #530
7.4.198
https://groups.google.com/d/topic/vim_dev/Ud7oZNZGc5I/discussion

[2014-03-13 00:12] mattn commented on #217
@ntak congrats

[2014-03-13 06:12] ghost commented on #217
ヽ(´ー｀)ノ

[2014-03-13 06:13] ghost commented on #522
ヽ(´ー｀)人(´ー｀)ノ

[2014-03-13 07:42] ghost commented on #466
私はVimを使いこんでいないので(単にPCの前にあまりいない)、いつメッセージが消えるのが望ましいか、また残すべきタイミングを把握できていない、という問題を持っていることに気づかされました。もうしばらく使い込んでみて、きっちり把握できたら再挑戦します。

[2014-03-14 03:26] k-takata commented on #524
#217 にも書きましたが、7.4.204で直りました。

[2014-03-14 10:51] InoueReo0406 commented on #533
皆様、返信有難うございます。ようやく暇ができて返信をしている状況です。ごめんなさい。
vimircの削除ですが、全く５０行以下にするのが難しいです。コツなどはありますか。
毎回、vimrcを読み込むためにvimを再起動は時間がかかります。

自分が私用とした行動は以下のとおりです
1 vim起動
2 以下の文章が書かれていファイルの起動
This is a selected text
3 a selected textをヴィジュアルモードにて選択
4 S'を押す
5 おそらくbuffer?のものが貼付けされる。

参考http://vimblog.hatenablog.com/entry/vim_plugin_surround_vim

[2014-03-14 11:34] raa0121 commented on #533
いろいろ削ってテストしてみましたが、これ
`<C-S-s>'` じゃないですかね？
ヴィジュアルモードで`S`を押した時点で

見当違いだったらごめんなさい。

[2014-03-14 11:36] raa0121 commented on #533
ちなみに、削ったのはこんなかんじです
https://gist.github.com/raa0121/9546135

[2014-03-15 13:52] InoueReo0406 commented on #533
<C-S-s>'　なのですかね。自分もこのコマンドで実行できました。
だから他のものも参考を見ながら試すと以下のとおりになりました。
1以下の文章が書かれていファイルの起動
This is a selected text
2 a selected textをヴィジュアルモードにて選択して<C-S-s>"を押す
3^v" a selected text ^v"

[2014-03-15 14:15] InoueReo0406 opened #537 "vim-over"
vim-overを使うと以下の現象が起きます。どのように直したらよいでしょうか。
1. vim起動
2. ある文字列に対してsを押す。
3. カーソル上の文字を削除して挿入モードにならない。
4. なにかキーを押す(例えばleft)を押すとsと4で押したキーが同時に実行される。

_vimrc
https://gist.github.com/InouReo/9567961

[2014-03-15 14:18] mattn commented on #537
https://github.com/osyo-manga/vim-over/issues

こちらに聞くと良いと思います。

[2014-03-15 14:19] haya14busa commented on #537
https://gist.github.com/InouReo/9567961#file-gistfile1-vim-L239

`nnoremap sub :OverCommandLine<CR>%s/<C-r><C-w>//g<Left><Left>`

でsキーが潰されているのが原因だとおもいます

[2014-03-15 14:36] crazymaster commented on #161
magnum.vim - Pure Vim script big integer library
https://github.com/glts/vim-magnum

[2014-03-16 01:26] InoueReo0406 commented on #537
お二人かだ、回答ありがとうございます。
このような場合はどのように対処すれば良いのでしょうか。
またnnormapでマップしたspaceでも同じ現象が出ます

[2014-03-16 01:51] haya14busa commented on #537
`nnoremap sub {hoge}`などのマップをしてしまうと、`s`を押した時点ではVimデフォルトの`s`をおそうとしているのか`sub`を押す途中なのかわからず、Vimは次の入力を一定時間待ちます。(同様に`subp`というマップも`sub`と干渉してしまいます)

なのでマップなら`<Leader>sub`などといったprefixをつけてコンフリクトしないようにするのが１つの対処方です。

[2014-03-16 01:55] InoueReo0406 commented on #537
なるほど、そういうことが起こっていたのですね。
親切にありがとうございます。predixをつけることで混同を避けようと思います。

[2014-03-16 22:15] Shougo commented on #533
まずは、余計なプラグインの設定を削ることです。この場合はvim-surround以外のプラグイン設定は必要ないはず。さらに、編集用の設定以外のVimの設定もいらないでしょう。
vimrcの実行はこのようにするとよいです。Vimを再起動するのはコマンドラインからのほうが良いでしょう。

[code]

[2014-03-16 22:18] Shougo commented on #537
@InouReo 問題が解決したなら、ここを閉じてください。

とありますように、プラグイン側にIssuesの報告窓口がある場合はまずそこに報告してください。

[2014-03-17 03:54] #537 closed, assigned to nobody

[2014-03-19 05:05] h-east opened #538 ".cファイルで#ifdef AA ～ #endifを#if 1 ～ #endifで囲むとAAのSyntax highlightが変化する"
[code]

の場合、`AA`のSyntax Highlightグループは`PreProc`

[code]

の場合、`AA`のSyntax Highlightグループが`cCppInSkip`になるので色が変わる。
これはそういうものでしたっけ？

[2014-03-19 05:08] h-east commented on #538
ハイライトグループを調べるのに以下のサイトを参考にさせていただきました。Thanks!

Vimでカーソル下のハイライト・グループ名を知る
http://hail2u.net/blog/software/vim-show-highlight-group-name-under-cursor.html

[2014-03-22 09:31] k-takata commented on #538
`#if 0`でコメントアウト、`#if 1`で有効化の処理はかなり複雑なことになっていますし、意図的なものではないと思いますが、どうしたら直るのかさっぱりです。

[2014-03-23 08:52] h-east commented on #538
@k-takata 1時間ほどsyntax/c.vimを眺めましたが正直ドン引きです:satisfied:
高難易度なパズルじゃないですかｗ よくこんなのメンテ出来てるなぁ。凄いわ。

あともうちょっとだけ眺めてみます。

[2014-03-23 12:10] k-takata commented on #538
以前、`#if 0/1`周りでスペルチェックの動作がおかしかったので直してパッチを送りましたが、結局どう動いているのかは理解できませんでしたｗ

[2014-03-23 23:01] Shougo commented on #538
@h-east そもそも、正規表現だけであの複雑なシンタックスハイライトを実現するのは無理があるのかも知れません。本来はちゃんとした構文解析パーサを書かないといけません。syntax/vim.vimもわけがわからないですし、自分で書いたものすらわけがわからなくなりがちです。せめて正規表現の各要素に名前やコメントを付けられるようにしないとカオスな状況は改善できないと思います……。

[2014-03-25 11:25] k-takata commented on #280
この問題がこれで直るはず。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/04bd428f32f0f32ac68c65afe1adf01a5253ce2c/fix-make-clean.patch
効果があるのは GNU make を使った場合のみだと思いますが、他の make への悪影響はないはず。

[2014-03-25 11:49] k-takata commented on #280
投げました。
https://groups.google.com/d/topic/vim_dev/AfB7WtiF9Z0/discussion

[2014-03-25 14:41] k-takata commented on #280
7.4.217
https://groups.google.com/d/topic/vim_dev/itQ1f5SfSWo/discussion

[2014-03-25 14:41] #280 closed, assigned to nobody

[2014-03-26 10:40] uakms opened #539 "if_python3 コンパイル時の警告について"
上記の環境で `--enable-python3interp=yes --with-python3-config-dir=/usr/local/lib/python3.4/config-3.4m` 他オプションにてビルドをすると、下記の警告が(6個)出ます。

[code]

警告にあるように、`/usr/local/include/python3.4m/sliceobject.h` では

[code]

となっていて、引数の型が(似ているけど)違っているようです。

vim-jp にある vim リポジトリの log を追っていくと 7.4.153 での変更が原因のようで、試しに 7.4.152 にしてビルドをすると警告は出ませんでした。しかしここで、コミットログを見ると Compiler warning for pointer type. となっていて、他の人のコンパイラでは警告が出

[2014-03-26 10:58] k-takata commented on #539
PySlice_GetIndicesEx でググってみたところ、この関数の第1引数の型は Python 3.1 までは (PySliceObject *) で、3.2 から (PyObject *) になったようですね。

[2014-03-26 11:03] mattn commented on #539
また if_perl と同じ道をたどるのか...

[2014-03-26 11:16] uakms commented on #539
Mac 関係なかったんですね！
これは ZyX さんに任せよう...

[2014-03-26 11:16] #539 closed, assigned to nobody

[2014-03-26 13:22] uakms commented on #539
プリプロセッサの機能？を使って泥縄式に場合分けしてみましたが、もっとスマートな方法はないでしょうか？

[2014-03-26 13:37] k-takata commented on #539
ググってたまたま見つかったプロジェクトの中には (void *) でキャストしているものがありました。
https://gitorious.org/blenderprojects/blender/commit/4a2efef
どっちがいいかというと…どっちでしょうね？

[2014-03-26 13:43] k-takata commented on #539
あるいは、こんな感じにして `PySliceObject_T` を使うようにするか。

[code]

[2014-03-26 15:28] uakms commented on #539
typedef を使うと変更が少なくて済みますし、読みやすくなりました。
でも...別名が増えてしまうのが微妙です。

[2014-03-27 11:30] mattn opened #540 "jsx のファイルを開くと ft=javascript になる"
runtime/filetype.vim で

[code]

ってやっちゃってるけど、あれは javascript とは言わないので直すべきかと思います。

[2014-03-27 11:35] mattn commented on #540
vim-json と同じく jsx.vim で上書きする方向にします。

https://github.com/jsx/jsx.vim/pull/6

[2014-03-27 11:35] #540 closed, assigned to nobody

[2014-03-27 15:25] k-takata commented on #539
まあ、しょうがないんじゃないでしょうか。これが最良だと思います。

[2014-03-28 11:51] uakms commented on #539
あとは同じ症状の人が現れたら、もしくは Python の各種バージョンをインストールしていて MBA(clang) を持っている人に動作確認をしてもらうのを待つだけですね...。

[2014-03-28 17:08] jdewit commented on #348
Here's what ended up working for me on Ubuntu 12.04.

https://gist.github.com/jdewit/9818870

[2014-03-29 02:05] k-takata commented on #539
もう投げちゃっていいんじゃないですか？

[2014-03-29 02:55] thinca opened #541 "help に *String* タグがない"
`*Number*` `*Float*` `*Funcref*` `*List*` `*Dictionary*` はあるんですが、`*String*` がないです。あった方が良い気がします。

[2014-03-29 02:56] thinca commented on #541
取り急ぎ備忘のために登録。

[2014-03-29 11:26] uakms commented on #539
ずっと奈幾乃でやってきちゃってますので...
typedef のアイデアや引数の型が 3.2 で変更になったという情報は k-takata さんですし、代わりに投稿してもらえませんでしょうか？

[2014-03-29 20:56] k-takata commented on #539
https://groups.google.com/d/msg/vim_dev/P5t2Hm_yNj8/2CeY9NyeFU4J
gistへのリンクの形で投げてしまいました。

[2014-03-30 03:18] koron commented on #497
これ、まだマージされてへんのか… (´・ω・｀)

[2014-03-30 03:24] h-east commented on #535
まだ目処たってないですが私の方で引き取ります。(自分にアサインしました)

[2014-03-30 04:05] InoueReo0406 opened #542 "cwについて"
ノーマルモードのcwはカーソル位置の単語を削除して挿入モードを開始とあるサイトでは書いてありました。しかし、自分のvimでは以下のような操作になります。これは自分のvimrcがおかしいのでしょうか。
1. vim起動
2. 以下の文字がかいてあるファイルを開く

   above
3. カーソルをノーマルモードにてoに置く
4. cwを入力
5. 以下のようになる

   ab

自分はカーソルが単語上のどこにいてもそのカーソル上の単語を削除して挿入モードに入るという機能だと思っているのですがどうなのでしょうか。またそのような機能はありますか？

[2014-03-30 04:45] koron commented on #542
@InouReo さんの認識が間違ってます。

cw は c+w です。
c は「現在のカーソル位置から、次に移動した場所までの文字を削除し、挿入モードを開始する」機能です。
そして「w は次の単語の先頭へ移動する」です。
なので cw は「カーソルから単語の末尾までを削除し、挿入モードを開始する」になります。

これをやりたいなら ciw もしくは caw を使ってください。
これは c+aw で、awによりcの意味が先に上げたのと少し変わって
望みどうりの動作ができるでしょう。

[2014-03-30 04:58] k-takata commented on #542
`cw` はカーソル位置から現在の単語の末尾までを削除して挿入モードを開始しますのでその動作で正しいです。

[テキストオブジェクト](http://vim-jp.org/vimdoc-ja/motion.html#text-objects)というものがあります。`ciw` で現在の単語を削除して挿入モードに入ります。`caw` で前後の空白も含んで単語を削除して挿入モードに入ります。

---

ぜひ `:help` の読み方をマスターしましょう。今回まず見るべきなのは [`:help c`](http://vim-jp.org/vimdoc-ja/change.html#c) です。

[`{motion}`](http://vim-jp.org/vimdoc-ja/intro.html#{motion}) について知りたければ、カーソルをそこに持って行き、`Ctrl+]` を押すとそ

[2014-03-30 06:41] InoueReo0406 commented on #542
回答ありがとうございます。
vimの使い方についてまだまだ至らぬ点が多いみたいです。helpを参照しながら理解を深めていきたいです。

[2014-03-30 06:41] #542 closed, assigned to nobody

[2014-03-30 06:52] #533 closed, assigned to nobody

[2014-03-30 14:19] k-takata commented on #539
7.4.228
https://groups.google.com/d/topic/vim_dev/u6cLvkCE-U0/discussion
Bram氏により一部修正が入りました。

[2014-03-30 14:41] uakms commented on #539
警告がなくなったのを確認しました。
手続きありがとうございました。
(ところで、Python2 系は関係ないのに if_python.c にも修正が入っているのはなぜなのでしょう？)

[2014-03-30 15:11] k-takata commented on #539
https://groups.google.com/d/msg/vim_dev/P5t2Hm_yNj8/MYzYO8W5h04J

ということなので、if_python.cの方にもtypedefが必要になったようです。

[2014-03-30 15:18] uakms commented on #539
なるほど！
複数のファイルを読み込みながらビルドするにはいろいろと調整が必要なのですね。
ありがとうございます。

[2014-03-30 16:56] h-east commented on #535
私の環境(fedora19 64bit)
@ynkdir さんの手順で再現出来たので調査してpatch書きました。
@deton さんの手順は報告されている通り64bitだと再現できなかったので、以下のpatchを検証して貰えると有難いです。

[code]

[2014-03-31 10:56] ynkdir commented on #535
ありがとうございます。
試してみましたが落ちました。
落ちたり落ちなかったりしますがも64bitで再現できると思います。

[code]

BufAdd 内の bwipeout をできないようにするなら textlock とかどうかなーと思いつつ考えがまとめられなかったです。

[2014-03-31 15:03] fantaro opened #543 "7.4.227 「options」コマンド実行後エラー発生"
7.4.227にアップデートしたところ、コマンドモードで「options」を実行後エラーが発生してしまいます。

エラー情報：
E118：関数の引数が多過ぎます：<SNR>47_OptionL

エラー発生するファイル：
optwin.vim

[2014-03-31 15:22] crazymaster commented on #543
7.4.201での変更が原因ですね
https://github.com/vim-jp/vim/commit/2817291f942ff7a44a3b9ec868782b31ffb8a8b6#diff-1

[2014-03-31 23:46] crazymaster commented on #543
[code]

[2014-03-31 23:55] crazymaster commented on #541
[code]

[2014-03-31 23:59] mattn commented on #543
Post it to vim-dev please

[2014-04-01 00:00] mattn commented on #541
Post it to vim-dev please

[2014-04-01 00:22] crazymaster commented on #543
Posted
https://groups.google.com/d/msg/vim_dev/AXWalJt-RNQ/QV0y-Rg9m44J

[2014-04-01 00:32] crazymaster commented on #541
Posted
https://groups.google.com/d/msg/vim_dev/kz4-pbCiURs/0hgLMp35AOUJ

[2014-04-01 01:27] h-east commented on #535
@ynkdir ありがとうございます。再現しました。(再現率100%)
えーと、 deton さんの報告の件はynkdirさんのpatchで直る(要検討？)、
ynkdirさん報告の以下の手順は私のpatchで直るということで合わせ技で一本ってことでOKです？

[code]

vim_devには別々に報告したほうがいいですかね？

2人のpatchを合わせたpatch

[code]

[2014-04-01 02:47] ynkdir commented on #535
私のパッチはこういうときにまずいです

[code]

[2014-04-01 07:18] h-east commented on #535
バッファ情報(buf_T)にシーケンス番号を持たせてみました。

[code]

[2014-04-01 09:46] ynkdir commented on #535
なるほど。それなら buf->b_fnum が使えないですか。
あとだぶん他の BufAdd とか BufNew とかの後もチェックが必要かと思います。

[2014-04-01 10:13] h-east commented on #535
buf->b_fnum 使えますね！Nice!

面倒だーｗ
もう、bufの同一性チェックを`apply_autocmds()`の中でやって判定結果を`did_throw`のような感じでグローバル変数にセットして、`aborting()`(または同等の関数)でそれを踏まえた戻り値を返すようにしてしまったほうがスッキリする気がします。

[2014-04-01 10:15] h-east commented on #535
いや、やっぱ使えない。wipe_buffer()で大本の変数`top_file_num`が条件によってはデクリメントされるので被る可能性がある。

[2014-04-01 10:19] mattn commented on #535
buf のポインタで代用しちゃダメ？

[2014-04-01 10:20] h-east commented on #535
@mattn つ https://github.com/vim-jp/issues/issues/535#issuecomment-39165785

[2014-04-01 10:31] mattn commented on #535
代用できそうなメンバないすな

[2014-04-01 10:31] crazymaster commented on #543
7.4.230で入りました
https://groups.google.com/d/topic/vim_dev/wJlVtKq3FpA/discussion

[2014-04-01 10:31] #543 closed, assigned to nobody

[2014-04-01 10:48] mattn commented on #535
メンバに持たず

[code]

ではダメ？

[2014-04-01 12:14] crazymaster commented on #543
7.4.231でテストが追加
https://groups.google.com/d/topic/vim_dev/p2P71KYGgug/discussion

[2014-04-01 13:29] ynkdir commented on #535
bwipeout しないでたんにバッファ作成したときにそれだと区別できなさそうです

[2014-04-01 15:57] fantaro commented on #543
@crazymaster
ありがとうございました。

[2014-04-02 12:12] k-takata commented on #41
7.4.235でX004_01-rmdir_support_symlinks.diffとコンフリクトが発生したため、要修正です。
https://bitbucket.org/k_takata/vim-ktakata-mq/commits/172ca38165a5320a7e678e9e666d17df40203c6e

[2014-04-02 16:21] h-east commented on #535
buflist_new()の中の
`apply_autocmds(EVENT_BUFADD, ～)` 2箇所 [buffer.c: 1685行目, 1865行目]
`apply_autocmds(EVENT_BUFNEW,  ～)` 1箇所 [buffer.c: 1863行目]
だけ対策を入れればいい？

あー、`buf_freeall()`内も対策が必要そう。。
んー、`if (!buf_valid(～)`のあるところ全部対策せんとダメっぽい。

[2014-04-03 13:01] k-takata commented on #449
7.4.235以降でコンパイルエラーになるので、修正版を投げました。
https://groups.google.com/d/msg/vim_dev/shn22nGcOVo/G3I2Gx_iOnwJ

[2014-04-03 13:07] ynkdir commented on #535
こまかいこといえばautocmd実行後にポインタ見てるところは全部だめそうですけど
しんどいですねえ・・・

[2014-04-05 04:29] h-east commented on #535
autocommand実行中はbufをfreeしないぜ案
1. autocommand実行中(autocmd_busyが1)の時はfree_buffer()の最後の
   vim_free(buf);
   を保留して、「後でfreeするよlist」に入れる。
2. apply_autocmds_group()の`if (!autocmd_busy)` [fileio.c: 9553] の中で「後でfree
   するよlist」のbufをfree()する。

こうすればbufのアドレスが被ることはないので`if (!buf_valid(buf))`だけでチェックできる。

どうでしょう？

[2014-04-05 10:33] h-east commented on #535
autocommand実行中はbufをfreeしないぜ案を実装してみた。

[code]

[2014-04-06 00:09] crazymaster commented on #541
修正は入りましたが、7.4.250の後のコミットでタグが追加されました。
https://code.google.com/p/vim/source/detail?r=755931e042e41a3331380adc74a8a912c234c354

[2014-04-06 01:44] ynkdir commented on #535
ありがとうございます。いいと思います。

[2014-04-06 10:19] h-east commented on #535
vim_devに投げました。
https://groups.google.com/d/msg/vim_dev/SAWlK0_-lPw/woHgRJ2XX2wJ

不自由なEnglishなのでフォローしてもらえると助かります。

[2014-04-06 22:58] k-takata commented on #535
7.4.251
https://groups.google.com/d/topic/vim_dev/x_MBwt9YZU0/discussion
早かったですね。

[2014-04-06 22:58] #535 closed, assigned to h-east

[2014-04-07 00:43] mattn commented on #535
++

[2014-04-07 03:04] h-east commented on #535
@deton 詳細なバグ報告ありがとうございました。
@ynkdir 64bit環境での再現手順100%の確立ありがとうございました。

どもです。

[2014-04-07 03:09] mopp opened #544 "os_unix.c:2818にて型修飾子が間違っている。"
のようになっており

だと思われます。
パッチ 7.4.238
https://groups.google.com/forum/?hl=ja&fromgroups#!searchin/vim_dev/const%7Csort:date/vim_dev/hFEBIaGFq9E/negM6YrluqMJ
で追加されたようです。

些細なことかもしれませんが
ここに投稿してみたかったので報告です。

[2014-04-07 03:13] raa0121 commented on #544
https://github.com/vim-jp/vim/commit/f677ba718ddf454fd2c1284a3a4d6d234e68bc6a#diff-b68adb4fa34020d8d7f0ab40a2704335R2818
git 的にはここですね
というか、Cはよくわかってないんですが、const って2回出てきていいんですかね？

[2014-04-07 03:16] thinca commented on #544
文脈読んでないので型修飾子が間違っているかはわからないですが、const が2回出てくるのは問題ないです。ポインタ自体に対する const と、ポインタが指している先に対する const ですね。

[2014-04-07 03:16] mopp commented on #544
ポインタの指す型に対するconstとポインタ変数自体のconstがあるので
ポインタを使うときは2つ出てきて大丈夫です。

[2014-04-07 03:20] mattn commented on #544
VC?

[2014-04-07 03:27] mattn commented on #544
よくわかりませんが、issue closeしてよい話です？

[2014-04-07 03:59] mopp commented on #544
環境はarch linuxでclangです。

[2014-04-07 04:34] rhysd commented on #544
そこに const を2つ付けるのは本来は駄目で，おそらく警告は出ますがコンパイルエラーにはならなかった気がします．多分実害は出ていないのだと思いますが，`smack_copied_attributes` は今は意図せず書き換え可能な状態になっています．

[2014-04-08 04:31] koron opened #545 "日本語を入力するとドットレジスタの中身がヒドイことになってる"
現象を確認した環境 Xubuntu 13.10 + Vim 7.4.131 (GUI版)

preeditの内容を自前で描画している関係か、
その状態の変遷をバックスペースを含むキーシーケンスとして記録している。
そのため `cw` (日本語入力) を `.` で繰り返すと、意図しない箇所が消えてしまうことがある。

さらに悪いことに、
これはIM 依存かもしれないがUIM+Mozcの組み合わせでは、
文字列を確定すると確定した文字列が二重で入力されるようなシーケンスになってしまっている。
1.  挿入モードで「むらおか」と入力し、「村岡」へ変換して確定する。
2.  挿入モードを抜ける。
3.  `.` で繰り返す → 「村岡村岡」が入力される。

[2014-04-08 04:35] mattn commented on #545
im_is_active == TRUE の時はレジスタに入れない仕組みがいりますね。
実はこれ、だいぶ昔からあるバグです。

[2014-04-08 08:00] koron commented on #545
preedit 外すのと、どっちがええかなぁ。
なんか `im_is_active == TRUE` だけ入れないってすると別のエンバグしそう。

[2014-04-08 09:23] koron opened #546 "gvim on Linux で f の後に日本語を指定できない"
どうやら IM から来る未確定文字の入力 を1文字として認識し
それを検索してしまってる。

f だけでなく t など、1文字の入力を受け取る系は全部そうなってるハズ。

[2014-04-08 09:23] koron commented on #546
既出な気がしたけど、とりあえず入れておきます。
そうなら閉じてください。

[2014-04-08 09:38] mattn commented on #545
preedit 外すのは @ynkdir さんがパッチ持ってたと記憶。

[2014-04-08 14:45] ynkdir commented on #545
簡単に済ますならこれで

[code]

これは自前でpreeditウィンドウ表示するやつです
https://gist.github.com/ynkdir/10135117
あんまりちゃんと管理できてなくてひさびさに最新ソースとマージしたのでミスってるかもですが

[2014-04-08 15:12] ynkdir commented on #544
報告しました
https://groups.google.com/d/msg/vim_dev/L8hxDNVFfC0/Hn1_9KsWEkYJ

[2014-04-08 15:20] mopp commented on #544
ありがとうございます！

[2014-04-08 20:40] jdewit opened #547 "Stop adding me to the org!"
@ynkdir

Please stop adding me to the vim-jp organization. This is the third time. I don't even speak japanese.

[2014-04-08 22:42] ynkdir commented on #547
I'm sorry.

[2014-04-08 22:42] #547 closed, assigned to nobody

[2014-04-09 02:42] presuku commented on #545
初めまして、こんにちは。

以前より、@ynkdirさんの http://code.google.com/r/yukihironakadaira-vim などからパッチ使わせてもらってました。
この場を借りてありがとうございます :)

それで、本題なのですが、
https://gist.github.com/ynkdir/10135117 のパッチでは
http://ftp.vim.org/vim/patches/7.3/7.3.467 の変更が取り消されているみたいです。
意図したものなら気にしないでください。

[2014-04-09 10:06] mattn opened #548 "systemlist() の戻り値を参照するとSEGVする"
[code]

[2014-04-09 10:09] mattn commented on #548
https://groups.google.com/d/msg/vim_dev/KFfZhNDSXxk/xa5Dtf9ad6UJ

[2014-04-09 10:21] mattn commented on #548
そもそも systemlist() がバグっているという話。

[code]

[2014-04-09 10:29] thinca commented on #548
改行区切りで結果返すのは仕様だと思います。

[2014-04-09 10:29] mattn commented on #548
逆すな。

[2014-04-09 10:53] mattn commented on #548
[code]

[2014-04-09 10:54] mattn commented on #548
あれ1バイトたらんな。いやあってた。(反語)

[2014-04-09 11:57] ynkdir commented on #545
すみませんマージミスです。直しました。

ちなみにこれはプッシュするのは手に負えなさそうなので自分使用になってますです。
これでいいのかどうかというのもありますが。

[2014-04-10 03:53] ryo7000 opened #549 "set nocompatibleしてある環境で:sだけ実行するとSEGV"
[code]

vim -u .vimrc.testで起動して、:sするとSEGVします。

gdbで見たところ、ex_cmds.c:4428

[code]

で止まっており、patがNULLのようでした。
この部分が入ったのが、7.4.232のようです。

追う余裕がないので、とりあえずここで報告だけさせて頂きます。

[2014-04-10 03:57] mattn commented on #549
ex_cmds.c:4428 にその様なコードが無いのですが、どのバージョンのコードでしょうか？

[2014-04-10 04:14] ryo7000 commented on #549
vim-7.4.244で試したのですが、245ですでに修正入っていました。
先に最新をチェックすべきでした、すみません。
修正されているので、Closeさせて頂きます。

[2014-04-10 04:14] #549 closed, assigned to nobody

[2014-04-11 04:09] presuku commented on #545
いえいえ、どうもです。むしろ、自分で更新してきたパッチと
答え合わせができてよかったです。

たしかにプッシュして採用されるかはわからないですね…
(既にToDoリストには入ってるんでしたっけ？)
なので、こちらも自分の野良ビルド用に使わせてもらってます。
ただ、Linux系で日本入力周りをWindows版と同じ様に便利にするには、
これが必要なのかなと思ってます。

ちなみに、どのパッチがどれに有効なのかまでは確認してないんですが、
@ynkdirさんの下記の3つのパッチ
- ynkdir-imoverthespot
- ynkdir-imactivatekey
- ynkdir-imcursorhold

を当てた状態のvimとuim+mozcで、このドットレジスタの問題もそうですし、
#546 の問題も解決されますし、IMEがOnの状態でi_CTRL-Rの後にレジスタ名を
半角で確定

[2014-04-11 04:27] koron commented on #545
@presuku

もうしわけないですが、それに必要なパッチの一覧(URLだとベスト)をあげてもらえますか?
+kaoriya にいれるか、vim-jpに記事書いたほうが良いかなと考えた次第です。

[2014-04-11 05:06] mattn commented on #545
https://code.google.com/r/yukihironakadaira-vim/source/browse

ここのbranches

[2014-04-11 07:46] presuku commented on #545
@koronさん
+kaoriyaにはWindows版時代からお世話になってます。
ありがとうございます :)

むむ、この部分だけ見ると少し大げさになってますが、
「Windows版でできていたことがほとんど違和感なくできる」のは
あくまでも自分の観測範囲内の日本語入力周りという事です。

また、大部分の人にとっては、`imactivatefunc`を使用した
IMEのステータス制御の方が重要な気もします…
(IME OnでInsertモード抜けて、Normalになると自動的にIME Offになる。
その後、再度Insertモードになると自動的にIME Onになるとかできるので)

それで、パッチなのですが@koronさんのbitbucketにある[+kaoriya](https://bitbucket.org/koron/vim-kaoriya-patches)と、
@mattnさんの

[2014-04-11 07:48] koron commented on #545
@presuku ありがとうございます (｀･ω･´)ゞ

[2014-04-11 11:09] ynkdir commented on #545
これよりは gtk_im_context_set_use_preedit を使うほうがいいんではと思います。
数年前ためしたときにpreeditウィンドウの実装がIMエンジンごとみたいで見た目が違ったり対応してないIMがあったりで一応自前表示バージョンを書いてみたという感じです。
9割はonthespot表示のコードを削除してるだけです。

[2014-04-11 11:37] k-takata commented on #548
7.4.256
https://groups.google.com/d/msg/vim_dev/txsELrQcF3A/b6K7rxA0u0wJ
キリ番getおめでとうございます。

[2014-04-11 11:37] #548 closed, assigned to nobody

[2014-04-11 11:39] h-east commented on #548
@mattn GJ!

[2014-04-11 11:41] k-takata commented on #280
make autoconf と make reconfig も対応しておいた方が良さそう。
https://groups.google.com/d/msg/vim_dev/itQ1f5SfSWo/1rW7w2oX7x4J

[2014-04-13 07:01] InoueReo0406 opened #550 "neobundleのインストール"
こんにちわ、いつもお世話になっています。
今回、Neobundleをインストールを行おうとしたところ、以下のエラーが出ました。
"git" command is not installed,
このような場合、どのように解決すればよいでしょうか。

自分がやったこととしては
Gitのインストール
.vimフォルダ以下にbundleフォルダを作成
git bushにて以下のコマンドの実行
　$ mkdir -p ~/.vim/bundle
　$ git clone git://github.com/Shougo/neobundle.vim ~/.vim/bundle/neobundle.vim

です。よろしくお願いします。
https://gist.github.com/InouReo/10572436

[2014-04-13 07:08] raa0121 commented on #550
PATH に git の場所を通すか、git bash から vim を起動してください
エラーはその名の通り、PATH の中に git コマンドが無いということです

[2014-04-13 07:59] InoueReo0406 commented on #550
git bash から vim を起動で解決することが出来ました。
ありがとうございます。

[2014-04-13 08:44] InoueReo0406 commented on #550
gitよりvimを実行、:NeoBudneInstallでインストールをしようとしたのですが以下のエラーのためインストール出来ません。これはプロキシのエラーですかね。
^@fatal: unable to connect to github.:^@github.com[0: 192.30.252.131]: errno=No error

[2014-04-14 10:33] Shougo commented on #550
neobundleの作者です。このIssueに関しては、ここではなく neobundle のほうに立ててください。

そもそも git cloneが正常に実行できるかを試してください。
その git が https に対応していない可能性はあります。httpsに対応していない場合、gitプロトコルを用いる必要があります（デフォルトはhttpsプロトコル）。

[code]

[2014-04-14 10:41] #550 closed, assigned to nobody

[2014-04-15 16:44] ghost opened #551 "tabedit での :mksession! が不正"
tabedit をしている状態から :mksession! で出力される不正な Session.vim の内容を最小限にしたコードです。

[code]

Makefile を開き、行番号 10 に飛び、その行を画面最上部に移動、行番号 20 までカーソルを移動、タブを開き、元の画面に戻る

という動作ですが、tabnew があると Makefile のスクロール位置が狂います。なければ期待通りの位置になります。

[2014-04-15 16:46] ghost commented on #551
上記症状の修正パッチです。

[code]

こうなりました。

[2014-04-15 16:49] ghost commented on #551
一週間程度、運用して様子を見ます。

[2014-04-16 06:39] presuku commented on #545
ynkdir-imoverthespot から自前表示を削って、
`gtk_im_context_set_use_preedit(xic, FALSE);` を追加した patch を作ってみたんですが、
https://gist.github.com/presuku/10816060
うちの Ubuntu 12.04 やXubuntu 13.10 の uim-mozc の環境では、
preedit 中のフォントサイズが gvim 側と(大きく)異なる場合に、
preedit 中と、 commit 後でサイズが変わるのが見た目にうるさく、
相当違和感があるので、常用するには厳しい感じです。

細かいこと把握しないで、機械的に作ってたので、 patch の問題かもしれませんのが…

[2014-04-16 14:04] ynkdir commented on #551
簡単にですが動作確認しました。
GJ!

[2014-04-16 14:04] ynkdir commented on #545
あーなるほど。そういうのもありますか。

[2014-04-16 20:29] tobynet commented on #534
![:+1:](https://github.global.ssl.fastly.net/images/icons/emoji/+1.png?v5)

[2014-04-17 12:00] k-takata commented on #508
vim_use で関連する話題があったので、パッチの存在を公表しておきました。

Opening large files?
https://groups.google.com/d/msg/vim_use/RLM8Vqa_aME/rgZImy3FMxAJ

[2014-04-19 16:40] 0xBADDCAFE opened #552 "Chrome からのファイル D&D で内部エラー E341"
google chrome でファイルをダウンロードすると以下の画像のような、ダウンロード一覧の枠がウィンドウ下部に表示されます。
![chromefile](http://i.imgur.com/2RtNYX4.png)
ここからファイルをドラッグするなどして操作できますが、このファイルを Vim にドラッグして開こうとすると `E341: 内部エラー: lalloc(0,)` となります。
`chrome://downloads/` で開けるダウンロード一覧からのドラッグでも同様でした。

環境：
Windows8
Vim 7.4 253 64bit GUI 版 Huge 版 With GUI.
Google Chrome バージョン 34.0.1847.116 m

以下のバージョンを確認 (Google Chrome バージョン 35.0.1916.69 beta-m に更新)
#

[2014-04-19 16:53] raa0121 commented on #552
Windows8 Kaoriya Vim 7.4 227 GUI 版 Huge 版 With GUI.
では `chrome://downloads/` からのDnDで開けました…
Google Chrome バージョン 35.0.1916.47 beta-m

[2014-04-19 17:06] 0xBADDCAFE commented on #552
うちでも Kaoriya Vim 7.4 227 で試したところ開けました。
ちょっと原因がわからない為、また何か分かれば報告します。

[2014-04-23 11:15] k-takata commented on #544
7.4.259で直りました。
https://groups.google.com/d/topic/vim_dev/G3NwcISmQ40/discussion

[2014-04-23 11:15] #544 closed, assigned to nobody

[2014-04-25 11:44] ghost commented on #551
どうも遅れました。

このパッチは二つの同様な不具合をパッチする用を成しています。今思えば分割すべきでした。

ex_docmd 部は巨大なファイルの場合計算式の端数が出る関係で画面上端に来る行が一行下にずれる症状を改善し、
window 部は tabnew を利用した際にカーソル行の数値が入った変数が加工されずに画面上端として適用されてしまう間違いを修正します。

今回、「一行下に必ずずれる」条件を明確にできず説得力が発生しなかったので ex_docmd 部のパッチ提出は条件が確定できるまで見送ります。

window 部の方を先に提案してきます。

[2014-04-25 12:35] ghost commented on #551
https://groups.google.com/forum/#!topic/vim_dev/xSwp1kRbb9Q

[2014-04-25 13:05] InoueReo0406 opened #553 "コマンドラインのマッピングについて"
コマンドモードでのマッピングを行おうとして:eを押すと:e ++enc=cp932　を実行するマップを行おうとしました。以下のようにしたのですが上手に出来ません。どうしたらよろしいですか。
cnoremap :e :e ++enc=cp932

[2014-04-25 13:16] rbtnn commented on #553
先頭のコロンがいらないですね。
cnoremap e     e ++enc=utf-8

[2014-04-25 13:16] koron commented on #553
eを含むファイル名をタイプできなくなりそうな予感w

[2014-04-25 13:17] rbtnn commented on #553
あ、utf-8のところは任意でお願いします。

[2014-04-25 13:19] rbtnn commented on #553
<C-e>などCtrlキーなどの修飾キーのマッピングにしたほうがいいかもしれないですね。

[2014-04-25 13:27] torakichi-jp commented on #553
マップするよりも、cnoreabbrev で展開させるようにした方がいい気がします。
cnoreabbrev @e e ++enc=cp932
とかどうでしょう。

[2014-04-25 13:28] osyo-manga commented on #553
`:e` で変換したいといということなので

[code]

が、正しいのではないでしょうか。

[2014-04-26 06:50] InoueReo0406 commented on #553
皆様、回答ありがとうございます。
koron様が仰ってくれたように、また自分がeをノーマルモードにて使用しているためマップするキーを変えようと思います。
そのため以下のようにコードを書いてみたのですが1,2,3と名前のついた新しいファイルが生成されました。何が間違ってますでしょうか。

cnoremap :e1 set fenc=utf-8<CR>
cnoremap :e2 set fenc=cp932<CR>
cnoremap :e3 set fenc=shifjis<CR>

[2014-04-26 08:50] thinca commented on #553
コマンドラインモードのキーマッピング `:cnoremap` は、コマンドラインモードでのみ適用されます。つまり上記のキーマッピングを発動させるには、
1. `:` を押してコマンドラインモードに入る
2. `:e1` と入力する

とすることで初めて `set func=utf-8` に展開されます。つまりノーマルモードの状態からは `:` を 2 回押す必要があります。

改めて、具体的にやりたいことは何でしょうか? 途中までは `:e ++enc=utf-8` だったのに、今のだと `:set fenc=utf-8` になっており、やろうとしていることが変わっているように見えます。
表題どおりコマンドラインモードでのキーマッピングの挙動について知りたいのか(そしてここで挙げているのはただの例なのか)、具体的にやりたいことがあるのか、によって教えられることが変わってくると思います。

[2014-04-26 10:55] InoueReo0406 commented on #553
すみません、説明不足でした。
やりたいこととしては文字のエンコーディングの方法をutf-8やshiftjisに変更するショートカットを行いたいと考えています。その過程でset関数を使用と考えました。
thinca様が仰ってくれたようなマッピングで行いたいと思います。
ありがとうございます。

[2014-04-26 10:55] #553 closed, assigned to nobody

[2014-04-26 11:48] InoueReo0406 opened #554 "Startifyの使い方"
vim-startifyの使い方で質問があります。
startifyのスタート画面がありますよね。(https://raw.githubusercontent.com/mhinz/vim-startify/master/startify.png)
vimを開始したあとでもこの画面に移れるようなマッピングを考えました。
例　innoremap a g:startify_session_dir
https://github.com/mhinz/vim-startify/blob/master/doc/startify.txt の関数を参照しても
どれがそれに当たるかがわかりませんでした。
どの関数を割り振れば良いのでしょうか。

参考サイト
https://github.com/mhinz/vim-startify

[2014-04-26 12:49] thinca commented on #554
https://github.com/mhinz/vim-startify/blob/master/doc/startify.txt#L431

[2014-04-26 13:57] InoueReo0406 commented on #554
ありがとうございます。

[2014-04-26 13:57] #554 closed, assigned to nobody

[2014-04-26 15:29] 0xBADDCAFE commented on #554
close している案件にレスポンスする形で申し訳ないですが、失礼します。

#550 #537 等で提案いただいているよう、プラグインの報告・質問は該当のリポジトリが Issues を開いているのであればそちらにされてはいかがでしょうか。
また #515 で、質問により適切な場所として、Lingr の Vim 部屋や読書会を紹介頂いているかと思います。是非一度ご覧になられてください。

質問に対する直接の答えではないかもしれませんが、これらも回答された方の貴重な意見に思えます。こういった意見に反応がないと極論、自分に必要な意見にしか耳を貸さないように、人によっては見えてしまうかもしれません。
もちろんこの Issues に何を書いても構わないですので、ここを選ぶ理由があるのであれば明記されると答える側としても提案する必要がなくなります。

以上、ご一考ください。

[2014-04-28 10:08] 0xBADDCAFE commented on #552
https://bintray.com/veegee/generic/vim_x64/view/files

こちらのバイナリをお借りして 7.4.265 64bit  でテストしたところ再現しました。
Chrome のバージョンも raa さんに試していただいた環境に寄せてベータアップデートし、バージョン 35.0.1916.69 beta-m を使用しましたが再現しました。
また、バージョンの差異も考慮し、7.4.227 64bit をビルドし試してみましたが、再現しました。
複雑になるのでまとめると、以下のようになっています。

## 32bit 版

いずれのバージョンでも問題なし (再現せず)。
- 7.4.227、7.4.265 (VS2013 ビルド)
- 7.4.264 ([VS2010](http://tuxproject.de/projects/vim/))
- 7.4

[2014-05-01 00:57] h-east commented on #552
@0xBADDCAFE 切り分けお疲れ様です。
再現する環境でVisual Studioでデバッグ実行させた場合でも再現しますか？
再現する場合、`E341`を出力している箇所(*1)にブレークポイントをセットしデバッグ実行して再現させてブレークした時のバックトレース(関数コールスタック)の情報を教えて下さい。

*1 src/misc2.c : 894行目辺り

[code]

[2014-05-01 09:12] 0xBADDCAFE commented on #552
確認したところ、デバッグ実行でも再現しました。
これで情報が足りているかわかりませんが、とってみました。

https://gist.github.com/0xBADDCAFE/920ced41cb439696af1d#file-callstack-txt

[2014-05-01 10:58] k-takata commented on #552
`_OnDropFiles()` のこの部分ですが、

[code]

ドロップされたファイル数を`cFiles`に取得しているのですが、なぜか0になっているということでしょうかね？
enc=utf-8 と cp932 の場合で動作が変わったりしますか？（あまり関係なさそう）

[2014-05-01 11:00] h-east commented on #552
ありがとうございます！

ファイルをドロップされたのでWindowsメッセージが発生して
`_OnDropFiles()` [src/gui_w48.c] が呼ばれたのに、
3699行目でドロップされたファイル数を調べたら `0` ！？なぜ？

[code]

その `0` を使ってメモリ確保しようとして件のメッセージが出力されています。

[code]

スーパーWindowsプログラマ＞
ファイルドロップイベント発生しといてドロップファイル数 `0` ってあり得るんです？
ドロップファイル数取得時の`DragQueryFile`は`DragQueryFileW`にしなくて良い？

[2014-05-01 11:01] h-east commented on #552
あっ、かぶった:smile:

[2014-05-01 11:12] h-east commented on #552
@0xBADDCAFE src/gui_w48.c : 3699行目の`DragQueryFile`を`DragQueryFileW`に変更して動作確認をお願いします。

[code]

[2014-05-01 11:34] mattn commented on #552
http://msdn.microsoft.com/ja-jp/library/cc422048.aspx

[code]

L3690

[code]

これ64bit UINTで-1なんだっけ

[2014-05-01 11:34] mattn commented on #552
[code]

の方が安全な気がする。

[2014-05-01 12:11] k-takata commented on #552
64bit環境でもUINTは32bitなので大丈夫なはず。

[2014-05-01 13:55] k-takata commented on #508
todo.txtが更新されました。

[2014-05-01 19:37] 0xBADDCAFE commented on #552
試してみましたが変わらずでした。

https://gist.github.com/0xBADDCAFE/588bcd264f3be9203b58#file-callstack2-txt

こちらも試しましたが変化なしでした。ちなみにこれまでの環境は全て Windows 上デフォルトで試しているので、`enc=cp932` の環境での結果です。

あとこの Chrome から D&D しているファイルは、エクスプローラなどから Vim に投げ込むとエラーせずに普通に開けるというもの (数ファイル試験済) で、Chrome 側の渡し方が不正なのかというのもあるかもしれません。
ファイルのパスはいずれも 256 字以下、スペースを含まないアルファベット・アンダースコアのみの文字です。

[2014-05-03 03:53] k-takata commented on #552
少し試したのですが、OSも違うためか再現しませんでした。
Windows 7
Google Chrome 34.0.1847.131 m
Vim 7.4.273 (VS2010, 独自パッチ無し)
https://bintray.com/veegee/generic/vim_x64/view/files の 7.4.265 でも再現せず。
ファイルのURLなどは関係ありますか？

[2014-05-03 05:59] mattn commented on #552
いちど -1 を直値で渡してみてもらえますか

On 5/2/14, 0xBADDCAFE notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2014-05-03 13:30] 0xBADDCAFE commented on #552
今のところ試した範囲では関係無いようです。以下のファイルで試しました。

[code]

保存ファイルの保存場所をドライブごと変えてみたりしましたが変わらず。

試し次第また結果を書きます。

[2014-05-03 16:51] machakann opened #555 "E416番の日本語エラーメッセージのtypo"
Windows 7 上にて kaoriya 版 gvim を使わせていただいています。
`:highlight String link` のような間違った `highlight` コマンドを使ったときにE416エラーを見たのですが、エラーメッセージが「等号ががありません」となっており「が」が重なっているようです。一応画像をお付けします。
![typo](https://cloud.githubusercontent.com/assets/480049/2870835/34e7841e-d2e3-11e3-9bcb-abf3ffa94b6b.png)

[2014-05-03 16:58] koron commented on #555
ありがとうございます。

[2014-05-04 12:19] koron commented on #555
最新版で直しました。

![fixed](https://cloud.githubusercontent.com/assets/468368/2872969/210cbe84-d386-11e3-8b27-e05f73347e41.png)

パッチは [ココ](https://bitbucket.org/koron/vim-kaoriya-patches/src/1c4498bb3737eb455692460f59101c7ba497400f/5001-update-translations-ja.diff?at=default) に置いてありますが
vim-dev への投稿はまだ予定してません。
そろそろpotとかも更新したいので。

[2014-05-04 12:32] koron commented on #555
とりあえず閉じときます。

[2014-05-04 12:58] #555 closed, assigned to koron

[2014-05-04 13:43] machakann commented on #555
ありがとうございます。
lang-ja レポジトリがあったんですね。こっちに建てるのが適切でした、覚えておきます。

[2014-05-04 13:57] k-takata commented on #555
いえ、先ほどできたばかりです。

[2014-05-04 14:10] machakann commented on #555
なるほど。

[2014-05-04 16:09] ghost commented on #552
Chrome からの D&D に限り、Vim 内の pGetMessage() の直後で HDROP の上位32bit が 0xFFFFFFFF になっています。その場合の下位32bit は不定です。その値がクラッカーを通過して件の場所に到達しています。DragQueryFile は無効ハンドルエラーでゼロを返しているようです。

explorer からの D&D は cmd.exe と notepad.exe で期待通りに動きますが、
Chrome からの D&D は cmd.exe でも notepad.exe でもアクションが起こりません。

Chrome からの D&D は explorer.exe にはアクションが起こるので権限かと思ったのですが、どちらにせよ Undocumented なふるまいですね、DragQueryFile 呼び出しの返値がゼロという状況つまりエラーでゼロ

[2014-05-04 16:19] ghost commented on #552
DragQueryFile について (言い換えると -1) という記述は MSDN.en-us にはありません。また、Return value が A nonzero value indicates a successful call. ときっちり書いてあるので、ゼロならエラーです。MSDN.ja-jp はどうなっているのでしょうか…。

[2014-05-04 23:19] k-takata commented on #552
OLEでドロップを受け取れば動くんですかね？

[2014-05-05 03:05] koron opened #556 "NFAエンジンの [X-Y] のYに composing 文字だけを指定すると別の文字にマッチする"
### 再現手順
1.  enc=utf-8 な環境で適当なファイルを開く。ここでは `:he pattern.txt` とする
2.  comoposing char だけを検索する `execute "/[\u2de0]/"` → なにもマッチしない(正常)
3.  同じことを範囲指定 `execute "/[\u2de0-\u2de1]/"`でやる  → `-` にマッチしてしまう (異常)
### 補足情報

composing characters とは、前の文字の上に重ね打ちをする文字のことで
twitterでは複雑な顔文字を作るのに使われたりしてるやつ。

こういうの。この例では眉毛の部分がcomposing characters (のハズ)
Vimも一部対応しているっぽい。
### 変更履歴
-  2014/05/05 15:15  再現手順を修正

[2014-05-05 03:26] thinca commented on #556
文字クラスの中で `\%u` は使えないので、単に `\` `%` `u` `2` `d` `e` `0` のいずれかの文字にマッチしているだけのように見えます。

[2014-05-05 04:20] k-takata commented on #556
[] の中に Ctrl-V u2de0 で入力した場合は、何にもマッチせず問題なさそうです。

[2014-05-05 05:31] koron commented on #556
ctrl-vで2de0-2de1でやってみてください

[2014-05-05 05:34] thinca commented on #556
あー `-` にマッチしちゃいますね。

[2014-05-05 05:42] koron commented on #556
これから帰るので、帰ったら更新します。

[2014-05-05 05:49] k-takata commented on #556
合成文字ということで、 `-` + U+2de1 が一つの文字として扱われているんですかね？
`-` + U+2de1 が `-` にマッチしているのだとしたら、それはそれで変な気がしますが。

[2014-05-05 06:18] koron commented on #556
単に U+2de1 が無視されて [X-]の形で X と - だけマッチしている感じですね。
`execute "/[\u2de0-\u2de1A]/"` ってすると `E16: 無効な範囲です` に落ちることからの推測です。

[2014-05-05 06:20] koron commented on #556
あーやっぱそうかも

`execute "/[A-\u2de1]/"` だと `A` と `-` にマッチしますが、
`execute "/[A-\u2de1A]/"` だと `A` だけに、
`execute "/[A-\u2de1B]/"` だと `A` と `B` だけにマッチしますね。

[2014-05-05 13:15] mattn commented on #556
これ compousing string `\u2de1` `\x2d` と `\xe1` に分割されてしまってるんだと思う。つまり

`A` から `\x2d`(-) と `\xe1` と `A`。

[2014-05-05 15:24] koron commented on #556
`execute "/[A-\u0300C]/"`

だと `A`, `B`, `C` にマッチするので違います。

[2014-05-05 15:27] koron commented on #556
ただ、composing characters に対して正規表現
特に `[]` がどう振る舞うのが正しいのか、には自信がない。

[2014-05-05 15:31] thinca commented on #556
他言語ではどうなっているか確認するといいかもですね。
私が今回これを発見するきっかけになったのが以下の Ruby のコードです。これを Vim script に移植しようとしていた。

https://github.com/twitter/twitter-text-rb/blob/master/lib/twitter-text/regex.rb#L93-L140

[2014-05-06 06:59] haya14busa opened #557 "正規表現: \v,\V と パターンの先頭,末尾の対応が一貫してない"
### 再現スクリプト

[code]

`$` はヘルプの記載によると

と書かれており、`^` は

と書かれています。

この`"\|"`や`"\)"`に`\v`といったマジックフラグを前置してもOKだとすれば、`echo 'hoge' =~# '\(hoge$\v)'` の結果が`0`なのは不自然かと思います。 また、`\m`を使えば期待した結果通りになります

NFAは1でも2でも再現しました。

一応Lingrのログ: http://lingr.com/room/vim/archives/2014/05/06#message-18949545

[2014-05-06 12:16] koron commented on #545
uim-ctl.so の判定が甘くて、制御がいい感じにならないなぁ…

[2014-05-06 12:32] koron commented on #545
`im_set_active` の時に `im_get_status` (imsf) を現在の状態と違う場合にのみ imaf を呼び出している。

しかしuim-ctl.soを使っていると
タイミングによっては imsf が間違った(期待とは異る)ステータスを返す場合があり、
それにより imaf が呼ばれず、結果として制御ができてないように見えてしまっている。

具体的には
1.  インサートモードに入る
2.  IMEをONにしてなにか入力しESC
3.  `.` で貼付け
4. ノーマルモードにも関わらずIMEがオンになってしまう

手順3で瞬間的に挿入モードへ入って出るので、imafが引数1と0で呼ばれる。
この後者の引数0での呼び出し時に imsf が1ではなく0を返しているため
変更が無いとご判定され imaf が呼ばれず、結果的にIMEがONのままになっていた。

[2014-05-06 12:56] koron commented on #545
https://github.com/koron/imcsc-vim/tree/master/uim-ctlso ＜だいたいこいつのせい。

uimwatch() が別スレッドでget側とは非同期に状態を取得してる。
その更新がなんらかの理由で間に合ってないのだろう…こまったね。

[2014-05-06 13:01] koron commented on #545
@presuku UIMの制御に使ってるスクリプト、教えていただけますか?

[2014-05-07 03:20] mattn commented on #557
[code]

`\)` でないのは意図的ですか？

[2014-05-07 03:21] thinca commented on #557
`\v` なので `)` ですね。

[2014-05-07 03:22] mattn commented on #557
あーそういう issue なのか

[2014-05-07 09:27] h-east commented on #552
仕事用に充てがわれてるPC(Windows 7 64bit)にVS2010入ってたのでWindows SDK入れてVimビルドしてみたけど再現しなかった。

Windows 8 か 8.1でビルドしないと発生しない？
Windows SDKのバージョンとかかぁ？

お手数ですがみなさんの環境(Win ver., VS ver., 現象再現有無, SDK ver.)教えてください。
(SDK ver.はnmake実行前に `set WindowsSdkDir` で確認お願いします)

私の環境(Windows 7 64bit, VS2010, 現象再現せず)
WindowsSdkDir=C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\

[2014-05-07 10:11] mattn commented on #552
Windows7, mingw32, vc10 どれも再現せず。

[2014-05-07 13:27] 0xBADDCAFE commented on #552
試したところ変化なし (再現する) でした。

自前でビルドしたものに関しては
WindowsSdkDir=C:\Program Files (x86)\Windows Kits\8.1\
です。

あとさきにあげていた点で訂正したいのですが、
https://bintray.com/veegee/generic/vim_x64/view/files
こちらで配布されているバイナリは VS2010 ではなく VS2013 でビルドされていたようです。別の配布と混同していたようでした、すいません。

私のところで再現している状況としては、
- Windows8 64bit 上 (Windows7 上では k-takata さんのところで再現せず)
- VS2013 でビルドした 64bit バイナリ (VS2013 32bit では再現せず)

となっています。もしくは別の、環境依存の問題で

[2014-05-07 16:31] presuku commented on #545
@koron さん
現在は @ynkdir さんの uim-ctl ベースの自作の plugin 使っています。
この plugin で、私の環境ではそれなりに安定して使用できています。
https://github.com/presuku/vim-uim-ctl-imaf
(github今まで使ってなかったので、色々時間かかって申し訳ない…）

元々は、 uim-ctlso と同様に、uim-ctl を使用していましたが、
imaf/imsf 対応の折に、自分でしか使わないと割り切って汎用性を捨て、
大部分のコードを vim script から、 C へ移した自作の改造（改悪？）版を使用してます。
この変更を行ったのは、 @koron さんが書いてあるとおり、
元々の uim-ctl 由来の不安定さを何とかしたいという試行錯誤の結果です。

ynkdir-imoverthespot を使

[2014-05-08 01:23] ghost commented on #552
Windows8.1 の VS2013 Express、
WindowsSdkDir=C:\Program Files (x86)\Windows Kits\8.1\ で再現。
コンパイラは
Microsoft(R) C/C++ Optimizing Compiler Version 18.00.30324 for x64
です。Make_mvc.mak CPU=AMD64 で仕上げています。

-1、0xFFFF、0xFFFFFFFF、~0ul と試していますがどれも WM_DROPFILES の wParam に無効な HDROP が入ってきます。DragQueryFile() で 0 が返ってきても構うことなしにパスの取得手順を試みましたが失敗しました。

[2014-05-08 01:29] mattn commented on #552
これ Chrome のバグじゃないすかね

[2014-05-08 01:47] mattn commented on #551
Merged on 7.4.280 https://groups.google.com/forum/#!topic/vim_dev/SSh39M2sRos

[2014-05-08 02:11] h-east commented on #552
今のところWindows 8(.1)でしか起きないのでWindows SDK 8.1がバグっていると思ってます。
Win7でWindows SDK 8.1を使ってビルドする方法が分からんです。

[2014-05-08 04:11] ghost commented on #552
仕様に暗に記されている「DragQueryFile() の返値 0 はエラー」を処理していない Vim の仕様漏れがここになって出てきたという解釈をしています。

Chromeが変なHDROPを出していて→WinSDK8.1が生値をそのまま通すように変更されていて→Vimで内部エラー、みたいな三段オチだとわかりやすいんですが、そんな気がするという程度の根拠しか持ち合わせていないのでアレです。妄想の域を出ません。

Chrome のソースを小一時間ほど眺めてみます。

[2014-05-08 08:03] ghost commented on #552
眺めましたが、ドラッグが発生した時点の座標値とクライアント/非クライアントのフラグを Chrome はセットしていません。
これから検証しますが、position 値とフラグの格納されるメモリが GlobalAlloc() の Moveable でゼロクリアしてない(意図的にしていない？)アドレスにあるので、これらを WinSDK8.1 で正常な値域かどうか見るようになったのであれば、変態的な値が入っているので FAILED(HDROP) の意味で 0xFFFFFFFF???????? にしているのかもしれないという流れです。
外れていることを祈ります。
GetLastError() には「無効なハンドルです。」が返っています。

[2014-05-08 08:15] h-east commented on #552
@ntak お疲れ様です。
https://github.com/vim-jp/issues/issues/552#issuecomment-41947772 の場合だと正常そうな値(上位が0xFFFFFFFFでない)でもエラーになっているようです。
(まぁ、DragQueryFileをDragQueryFileWに変更して実行した結果なので微妙ですが)

[2014-05-08 08:56] h-east commented on #552
備忘録
Using the Windows 8 SDK with Visual Studio 2010 – configuring multiple projects
http://blogs.msdn.com/b/vcblog/archive/2012/11/23/using-the-windows-8-sdk-with-visual-studio-2010-configuring-multiple-projects.aspx

[2014-05-08 10:29] ghost commented on #552
いま長々と書いてたんですが、結局予想でしかないので割愛して現実のコードに戻ります。

Chrome で WM_DROPFILES に対してセットするファイル名は wchar_t で固定でした(struct DROPFILES.fWide に TRUE を代入している)。
20時ごろから試しに gVim に対して壊れたパラメータを含んだ HDROP を投げかけてみます。

[2014-05-08 16:24] ghost commented on #552
失礼しました。勘違いをしていた書き込みを一つ消して明日に持ち越します。コード量についてのOLE畏れ…。

[2014-05-09 03:25] mattn commented on #152
この件、進捗出さないとなー

[2014-05-09 04:43] ghost commented on #552
今書きあがった最低限のコードを 64bit でコンパイルすると gVim.64bit にドロップできますが
同じコードを 32bit でコンパイルすると gVim.64bit にはドロップできず例の内部エラーになります。
Windows コードのフルアクセス権が欲しい…

えー…(;´Д`)

ワーオ(;´Д`)

[2014-05-09 05:03] mattn commented on #552
詰みフラグ

[2014-05-09 10:32] ghost commented on #552
一つ詰んでは皆のため～(´Д`)ハァ～ドッコイショ～

[2014-05-09 11:32] k-takata commented on #552
Win8 の問題なんですかね？ しかし、Kaoriya版で発生しないのはなぜだろう。

[2014-05-09 15:27] 0xBADDCAFE commented on #552
何分知識がないので判断できないのですが、D&D についてはランタイムライブラリは関係するでしょうか。

http://msdn.microsoft.com/ja-jp/library/2kzt1wy3.aspx

私がビルドしたものや、上記の配布バイナリは /MT スイッチでビルドされていますが、kaoriya 版は /MD スイッチでビルドされています。
/MD スイッチでビルドを試そうと思ったのですが、src に同梱されている xpmlib がリンクできず現在後回しにしています。

[2014-05-09 15:41] 0xBADDCAFE commented on #552
詰みフラグが出ていたので、今更ながら本件についての私のスタンスを明示しておきます。

この件について、chrome 起因の動作のような気はしていたのですが、少なくとも内部エラーという状況は Vim 的にも好ましくなく、報告する必要があるかとひとまず検討する意味で Issue を立てました。

現状厳しい実害があるわけではないので、どういう形まで持って行きたい、という方針はあまり考えていませんでした。
ですので、修正が難しく負担を負っている方はすいません。こういった事象があるということを周知できたことでひとまずはと考えています。

[2014-05-09 17:45] mattn commented on #552
コケない方向のパッチでお茶を濁すのがいいかな。この説明、vim-devにするのめちゃくちゃ面倒そう。

[2014-05-09 19:15] koron commented on #552
@h-east さんが既に書いてるとおり、Windows SDKのバージョンじゃないですか?
うちは VS2010 + WinSDK 7.0Aでコンパイルしてますゆえ。

[2014-05-09 19:18] koron commented on #552
私が使っているプリコンパイルバイナリは
https://bitbucket.org/koron/vim-kaoriya/src/1b4115f260f7cc504179914c324e4b19478d736c/contrib/xpm/?at=default
にあります。

そのソースは https://github.com/koron/libXpm-win32 です。

[2014-05-09 19:20] koron commented on #552
手元にはVS2010と2012はインストールしてあるけど、2013はしてないな…

[2014-05-09 19:34] koron commented on #552
DragQueryFile() が 0 を返すような、もっと簡単な手順を作れないかしら。
ファイルではないものをD&Dして 0 を返させるイメージ。
そうすれば cFiles のチェックは納得してもらえそう。

[2014-05-09 19:42] koron commented on #552
Spy++ を使ってD&Dした時にVimが受け取ってるメッセージを
-  問題の発生しないVimと
-   問題が発生しているVimで

比べたりしましたか?

 特に問題の発生しないVimが
WM_DROPFILES時にどのような wParam (=HDROP)を受け取ってるか
が気になります。

[2014-05-10 02:33] koron commented on #552
VS2013を使って +kaoriya 版を作ってみました。
@0xBADDCAFE & @ntak 再現できるか試してみてもらえますか?

http://files.kaoriya.net/var/gvim-vc12-amd64-20130510T1119.zip

VS2013を使う関係で幾つか異なっている箇所があります:
-   if_ruby の無効化
-   INCLUDE に Windows SDK v7.1Aを足している (win32.makのため)

[2014-05-10 02:37] koron commented on #552
WINDOWSSDKDIR は `C:\Program Files (x86)\Windows Kits\8.1\` でした。

[2014-05-10 02:46] k-takata commented on #114
Christian Brabandt氏による新スレッドが立ちました。
[patch] updated breakindent patch
https://groups.google.com/d/topic/vim_dev/ZGIQQPtVhkI/discussion

[2014-05-10 02:56] koron commented on #552
-   +kaoriya パッチあたってなかった(単に同じビルドスクリプトを使っただけ)

[2014-05-10 02:59] koron commented on #552
Surface PRO の8.1 + gvim-vc12-amd64 で再現した。

[2014-05-10 03:01] koron commented on #552
うーん +kaoriya パッチの有無が効くとは思えない…が試したほうが良いかなぁ?

[2014-05-10 03:03] koron commented on #552
MSVCRT同梱版、置いときます: http://files.kaoriya.net/var/gvim-vc12-amd64-20130510T1201.zip

[2014-05-10 03:10] koron commented on #552
ノーマル、+kaoriya、MSVCRT を同梱したもの、置いときます
http://files.kaoriya.net/var/gvim-vc12-amd64-20130510T1208.zip

[2014-05-10 03:14] koron commented on #552
おっけー。ぼくの手元では +kaoriya でも発生した。
ほぼ Win 8.1 + 8.1 SDK のせいっぽい。

[2014-05-10 03:16] koron commented on #552
Spy++の導入、めんどいなぁw

[2014-05-10 03:27] itchyny opened #558 "nnoremap <silent>で呼ぶ関数の中でechoを使うと文字が途切れ途切れになることがある"
### `vimrc`

[code]
### `test`ファイル

[code]
### 手順

[code]

「aaaaaaaaaa」と表示されることを期待します。
マルチバイトの文字をechoした後に、英数字をechoすると起こる現象です。
### スクリーンショット

![bc9xszfihpt](https://cloud.githubusercontent.com/assets/375258/2935134/f0a9b3ee-d7f1-11e3-8477-0a19f3c95648.gif)
### 環境
- Mac OS X
- Vim 7.4
- iTerm 2、Terminal.app 共に再現します
### 再現性

いつも再現できるわけではないのです。何度もやっていると1/3くらいの確率でこの問題が生じます。私も混乱しています。
## 追記
### `redraw`

[2014-05-10 03:41] h-east commented on #552
@koron おつです！Windows 7SP1 64bitだとノーマル、+kaoriyaどちらも発生しませんでした。

っぽい++

[2014-05-10 03:51] mattn commented on #558
問題の切り分けをしたいので `redraw!` で試して貰えますか。

On 5/10/14, itchyny notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2014-05-10 03:58] itchyny commented on #558
`redraw!`にすると、問題は生じませんでした。
`redraw`がない場合は問題が生じます。

[2014-05-10 08:23] k-takata commented on #191
less.vim で気になる挙動があったので、パッチ送付。
https://groups.google.com/d/topic/vim_dev/bgVylP0j2y0/discussion

[2014-05-10 14:33] ghost commented on #552
こちらでもノーマル、+kaoriya ともに再現しました。
検証に使っていた最低限のソースは
http://ntak.net/vim/c.cpp
に置きました。
cl.exe /MT c.cpp か cl.exe /MD c.cpp どちらでもコンパイルできます。

[2014-05-11 04:01] ghost commented on #558
:echo "０１２３４５６７８９" がうまくいかないのもこの流れですかね…

[2014-05-11 04:16] k-takata commented on #558
他のターミナルソフトやgvimを使った場合にどうなるのかも気になります。

[2014-05-11 04:35] itchyny commented on #558
端末について書くのを忘れていました。
使ったのはiTerm 2です。
VimはCUI版です。
また、Mac標準のTerminalを用いても、同じ現象が起こりました。

[2014-05-11 09:54] ghost commented on #558
とりあえず前述の０１２３…がうまくいってない部分と同じコードを通っていないかと思って修正をかけたら自分のそれだけ治ってタイトルの問題が治ってないという…今夜追及します。
ヒントになるかもしれないので一応そのパッチ：

[code]

環境は mintty と Cygwin のコンソール版です。

[2014-05-11 10:17] ghost commented on #558
治っていないと思ったら治っていて make test も通った、何を言っているのか(略

[2014-05-11 10:37] h-east commented on #558
@ntak

これだけだと再現手順、実際の結果が分からないです。
再現方法が本Issueのものに近いのであればここで補足をお願いします。
そうでない場合は別Issueを立てて貰えますか？

#

このIssueの現象、私の環境(Vim 7.4.283 on fedora19 via PuTTY 0.63)では再現出来てないです。

[2014-05-11 11:09] ghost commented on #558
Cygwin で Vim の Console 版を立ち上げて :echo "０１２３４５６７８９" と入力すると最下行に
０１２
だけしか表示されてこないという現象ですね。根を同じくした表示属性の設定ミスだろうと思って最小手順を記しただけですが、お気に障ったようですね。謝罪いたします。申し訳ありませんでした。

[2014-05-11 11:21] itchyny commented on #558
現象を再現できる人を探しています。
特にMacのCUI版Vimを用意できる人は試して欲しいです。
MacVimでは再現できませんでした。

[2014-05-11 11:22] ghost opened #559 "画面最下行での utf8 文字列の表示結果が不正確"
コンソール版 Vim を立ち上げて
`:echo "ああああ"`
と入力した場合、結果として画面最下行に
`あああ`
と表示され、情報が欠落します。
正確性は、以前最下行に表示されていた文字列の内容に左右されるようです。
Cygwin64 + コンソール版 Vim + mintty で 100% 再現。

[2014-05-11 11:24] ghost commented on #558
当方では Cygwin64 + Vim コンソール版 7.4.283 + mintty で再現できています。
前述のパッチにより、当方では現象が発生しなくなりました。

[2014-05-11 11:27] ghost commented on #558
別Issueに分けてきました。

[2014-05-11 11:29] ghost commented on #559
修正パッチ：

[code]

[2014-05-11 11:49] h-east commented on #558
@ntak

いえ、私の環境では本Issueのもntakさんのも再現出来なかったのでもう少し情報が欲しかったのであのような言い回しになりました。

ありがとうございます。

私としては、まず再現する環境、条件を確立させたいと思っています。

[2014-05-11 12:16] mattn commented on #559
ntak++

On 5/11/14, ntak notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2014-05-11 12:49] ynkdir commented on #559
screen.c のファイル先頭のコメント

とあるので、そこを変えるのはまずい気がします。

[2014-05-11 13:05] mattn commented on #559
画面を書き換える時に、オリジナルの値と比べる方式を取っているので、2セル文字の先頭に `a` を書き、後続セルに次の `a` を書く際に何かしら問題があるのでしょう。おそらくその際に、1セル飛ばしてしまってるのかと。

[2014-05-11 21:42] Shougo commented on #558
unite.vim でも redraw で問題が起こっているらしく、この問題と関連しているのではないかと思っているのですが私の環境で再現しません。そこの .vimrc で指定されているマッピングではやはり `nnoremap <silent>` を利用しています。

[2014-05-11 23:48] itchyny commented on #558
どう関連すると判断したのか分かりません。
このissueは「文字が途切れ途切れになる現象」です。

[2014-05-12 00:08] Shougo commented on #558
私は「途切れ途切れになる -> 改行される -> echo で意図しない Hit Enter が発生する」
と判断しました。

[2014-05-12 01:24] mattn commented on #558
んー。関係ない気がするなー。改行に値する文字含んでないし。。。

[2014-05-12 01:26] mattn commented on #558
- mintty で ssh 経由でつないだ linux の 7.4.193 では再現しなかった。
- putty で ssh 経由でつないだ linux の 7.4.193 では再現しなかった。

[2014-05-12 01:31] itchyny commented on #558
友人のUbuntuでも再現できませんでした。

再現できた環境
- Mac OS X, Vim 7.4 CUI, iTerm2 / Terminal.app (itchyny)
- Cygwin64 + Vim コンソール版 7.4.283 + mintty (ntak様)

再現できなかった環境
- Vim 7.4.283 on fedora19 via PuTTY 0.63 (h-east様)
- mintty/putty で ssh 経由でつないだ linux の 7.4.193 (mattn様)
- Ubuntu 12.04, Vim 7.4.227, 標準端末 / terminator (itchyny)

[2014-05-12 01:37] mattn commented on #558
@ntak さんは再現してるのかな？

[2014-05-12 01:37] mattn commented on #558
あ、押してもうた。ごめんなさい。

[2014-05-12 01:39] itchyny commented on #558
@ntak 「当方では Cygwin64...再現できています」というのは別のissue(echo "０１２３")のことですか。それともこのissueが再現出来たということですか？

[2014-05-12 02:33] higemaniya commented on #558
Mac OS X 10.9 で
- MacVim 7.4 のコンソール版(適用済パッチ 1-258)
  `VIM - Vi IMproved 7.4 (2013 Aug 10, compiled May  1 2014 13:37:27)`
- macportsで入れたバイナリ(適用済パッチ 1-258)
  `VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Apr 22 2014 17:58:09)`
- OSのVim 7.3
  `VIM - Vi IMproved 7.3 (2010 Aug 15, compiled Aug 24 2013 18:58:47)`

で試してみたところ、全てで現象が起きました。
再現性も同じで必ず起きるわけではないようです。

ちなみに、ターミナルアプリ上ではなくて、sshでログインしています。
参考になれば

[2014-05-12 02:35] ghost commented on #559
コードを追ってる最中に全く別の箇所で「半角空白でフラッシュしている」という意図のコメントがあったのでここもその通りにしてみたら表面の動作は正常に見て取れるようになった、のが今回の流れです。
その記述がある箇所がどこだったか、もう一度見ます。周辺に何か書いてありそう…。

[2014-05-12 02:47] ghost commented on #558
この Issue が動画のとおりに再現できています。

文字の表示属性が端末に届いてないと判断したので(入力履歴は途切れないから)、そういえばこの問題もそうだなと最短手順(:echo "０１…")を出した経過です。

[2014-05-12 02:50] itchyny commented on #558
higemaniyaさん、確認をとって頂き大変ありがとうございます。

情報がバラバラになると見にくいので、再現できた環境とできなかった環境を、一番上のコメントに追記していきます。

[2014-05-12 02:51] itchyny commented on #558
ntakさん、ありがとうございます。再現できている環境として、一番上のコメントに環境を書かせて頂きました。

[2014-05-12 04:16] h-east commented on #558
うーん、再現しない。端末の設定なのかなぁ。。
@itchyny さん、端末(iTerm2)で以下のコマンドの実行結果を教えて貰えますか？

[code]

[2014-05-12 04:28] ghost commented on #559
ならばこちらから…

[code]

前のパッチは撤回します。

[2014-05-12 04:31] itchyny commented on #558
以下のようになります。

[code]

[code]

[2014-05-12 05:13] saitoha commented on #558
今macbookを変えたばかりで、最新のvimを入れてないんですが、
OSXにデフォルトインストールされているvimで再現しました。

VIM - Vi IMproved 7.3 (2010 Aug 15, compiled Dec 19 2013 15:19:49)
Compiled by root@apple.com
Normal version without GUI.  Features included (+) or not (-):
-arabic +autocmd -balloon_eval -browse +builtin_terms +byte_offset +cindent
-clientserver -clipboard +cmdline_compl +cmdline_hist +cmdline_info +comments
-conceal +cryptv +csc

[2014-05-12 05:17] itchyny commented on #558
saitohaさん、確認をとって頂き大変ありがとうございます。

[2014-05-12 05:23] saitoha commented on #558
すこし状況が見えてきたので、ご報告します。
ステータスラインに何も書かれていない時は、このように素直にaaaa...が出力されます。

![2014-05-12 14 04 22](https://cloud.githubusercontent.com/assets/1162739/2940983/da49153c-d994-11e3-9ab3-8f23eb6bbe73.png)

しかし、「あああああ...」のような全角文字がすでにステータスラインにあると、
スペースで前の文字を消しながら出力します。

![2014-05-12 14 03 38](https://cloud.githubusercontent.com/assets/1162739/2940991/18e11254-d995-11e3-80c6-b79b6c5632a8.png)

今回の問題が起きるときは、このようにB

[2014-05-12 05:48] itchyny commented on #558
オフトピですが、そのかっこいいソフトは何なんですか

[2014-05-12 05:54] saitoha commented on #558
@itchyny trachetといいます。
http://saitoha.github.io/trachet/

[2014-05-12 05:55] itchyny commented on #558
@saitoha ありがとうございます！

[2014-05-12 11:09] Shougo commented on #558
https://github.com/Shougo/unite.vim/issues/546

原因が別だったので、こちらとは無関係であることが分かりました。すみません。

[2014-05-12 13:19] 0xBADDCAFE commented on #552
遅くなってしまいすいません。休日留守にしていました。

@koron バイナリありがとうございます。当方でもノーマル、+kaoriya 再現しました。

[2014-05-12 14:30] ynkdir commented on #559
気づいたんですが、そのへんのコードは text <= ptr < text + len を想定してるので、そこの if (clear_next_cell) を通った後は
これとか
 6979             && (len < 0 || (int)(ptr - text) < len)
これとか
 6988                 mbyte_blen = utfc_ptr2len_len(ptr, (int)((text + len) - ptr));
その他全部だめですね

[2014-05-12 14:46] ghost commented on #559
えー…と
本当に駄目なんですかね…
そのロジックは通ってないと思うんですが…

[2014-05-12 14:52] ynkdir commented on #559
あーなるほど、それで len = -1 で ok ってことですか。失礼しました。

[2014-05-12 15:35] mattn commented on #558
linux の gnome-terminal でも再現せず。ubuntu 14.04

[2014-05-12 15:48] saitoha commented on #558
元々再現性が無い不具合なので自信が無いんですが

[code]

で直ったような気がしています。

[2014-05-12 15:57] h-east commented on #558
もしかして端末の通常文字がボールド(太字)になってます？

[2014-05-12 16:00] saitoha commented on #558
@h-east なってなかったです

[2014-05-12 16:01] saitoha commented on #558
あ、やっぱりさっきの"stty bs0"は関係なかったです。
何度もやっていたらまた再現してきました。

[2014-05-12 16:06] koron commented on #552
私はSpy++でメッセージ眺めるつもりでしたが、まだ手付かずです。
なお、コンパイルにつかったVS2013はPremiumの無updateでした。

[2014-05-12 16:07] koron commented on #552
でもなー8.1SDKが原因だとしても、どうしてそうなるのかまったく理由が説明できませんね。
なんなんこれ?

[2014-05-12 16:15] h-east commented on #558
再現していない私の環境の端末情報を貼り付けます。

[code]

[code]

---

※私(PuTTY)のだけに存在するパラメータ
-xcase
-iuclc
-ocrnl
-ofill
-ofdel
nl0 cr0 tab0 bs0 vt0 ff0
swtch = <undef>;
rprnt = ^R;
flush = ^O;

※itchynyさん(iTerm2)のだけに存在するパラメータ
-altwerase
-flusho
pendin
-nokerninfo
-oxtabs
-dsrflow
-dtrflow
-mdmbuf
discard = ^O;
reprint = ^R;
status = ^T;

※両者に共通するパラメータだが設定が異なるもの
h_east:    ixon, -ixany, -imaxbel, -iutf8, -brkint, -hupcl

[2014-05-12 16:26] saitoha commented on #558
hgでvimの最新版のとってきてビルドして、やっぱり再現しました。
再現しないときとするとき、まったく同じ動きをさせてログとって読んでみたら、
再現しないときは、^[[24;1H という移動シーケンスを出し、
再現するときは、^[[24;2H という移動シーケンスを出すような部分がありました。
vimの内部の状態に違いがあることを示唆していると思います。

[2014-05-12 16:29] ichizok commented on #558
OS X 10.9.2 / Vim 7.4.282 で調べてみました。

[code]

[2014-05-12 17:00] saitoha commented on #558
@ichizok おそらく直りました。すごい！

[2014-05-12 17:01] ichizok commented on #558
`ptr`、`text` が64bitポインタであるため、`ptr < text` の場合でも両者の値によっては
int キャストで `(int)(ptr - text) > 0` となり、意図しないタイミングでループを抜けてしまうのが原因のようです。

Ubuntu, CentOS (64bit) で確認した限りでは、 `ptr`, `text` ともに32bitアドレスの範囲に配置されるため、問題が出ないのだと思います。

[2014-05-12 17:14] mattn commented on #558
@ichizok パッチ提出お願い出来ますか。

[2014-05-12 17:19] k-takata commented on #558
Windowsだとlongも32bitなのでその直し方でいいのかが気になります。

[2014-05-12 17:35] k-takata commented on #558
`&& (len < 0 || ptr < text + len)` がよい？

[2014-05-12 18:19] ichizok commented on #558
見直すと、`screen_puts_len()` の中で他にも `(int)((text + len) - ptr)` とかあって、

screen.c:7171

[code]

`clear_next_cell==TRUE` でここを通った後に `ptr` と `text` を比較計算しているのが危うい。
#559 の修正方法のほうが良いでしょうか。

[2014-05-12 22:23] k-takata commented on #558
`ptr - text` が int の範囲を超えるのが不思議だったのですが、そういうことでしたか。

[2014-05-13 00:12] itchyny commented on #558
ichizokさん、大変ありがとうございます。
`ptr = (char_u *)" "` で `text` と別の文字列のポインターになってしまったのに `ptr - text`を使っているのがまずいんですね…

[2014-05-13 00:17] mattn commented on #558
これそもそも `" "` にしてるけど以降の文字全部スペースにするつもりの処理だろか。それもと1文字だけつもりだろか。後者だとしたらバグ？

[2014-05-13 00:18] mattn commented on #558
んー、long に直すだけだとまずそう。

[2014-05-13 00:20] mattn commented on #559
この修正でよさげ。

[2014-05-13 00:21] mattn commented on #559
@ntak パッチ送る時にコメント入れておいた方がよさげです。

[2014-05-13 00:21] k-takata commented on #558
[code]

文字列の最後が1セルの文字で、2セルの文字の前半を上書きする場合、後半を半角スペースで上書きするという処理ですね。なので、最後の1文字の後のスペース1つだけ処理すればよいということになります。
#559 の修正方法で良さそう。

[2014-05-13 02:24] ghost commented on #558
おーポインタサイズ…これは気づかなかった…
もう少し書き込みを緩募してから今夜まとめます。

[2014-05-13 02:26] ghost commented on #559
了解しました。

[2014-05-13 02:35] mattn commented on #558
ntak さんの `len = -1` はこれを回避してるつもりだと思ってました。

[2014-05-13 03:09] ghost commented on #558
ポインタサイズの回避のつもりは実はまったくなくて、パッチした関数 screen_puts_len() の

を利用してみて動作して make test も通ったのでどうかな、と思った次第です。

[2014-05-13 03:46] h-east commented on #558
@saitoha Nice tool!
@ichizok Nice investigation!
@ntak Nice patch!

[2014-05-13 06:11] saihoooooooo opened #560 "ターミナル上のvimでgetchar(0)またはgetchar(1)の<ESC>がすぐに取得できない"
[code]

上記の関数を実行後にjやkを押せば106/107が表示されます。
しかし、<ESC>を押した場合はすぐに取得できず、その後に何か別のキーを押した段階ではじめて27が表示されます。

http://vim.1045645.n5.nabble.com/BUG-getchar-0-and-getchar-1-do-not-detect-lt-ESC-gt-td1155199.html
上記のURLを見るにそういう仕様なのでしょうか。

またこの問題はgvimだと発生しませんでした。

[2014-05-13 08:01] mattn commented on #560
[code]

誰かレビューplease

[2014-05-13 08:18] mattn commented on #560
あ、`getchar(1)`も対応が要りますね。

[2014-05-13 08:19] mattn commented on #560
いや、間違ってたw すみません。出直してきます。

[2014-05-13 08:28] mattn commented on #560
[code]

[2014-05-13 08:40] mattn commented on #560
あー、さらにミスってた。

[2014-05-13 08:42] mattn commented on #560
[code]

[2014-05-13 13:25] ynkdir commented on #560
LGTM

[2014-05-13 14:25] ghost commented on #559
掲出しました：
https://groups.google.com/forum/?hl=ja&fromgroups#!topic/vim_dev/goIcj5RSY-8

[2014-05-13 14:27] ghost commented on #558
まとめて掲出しました：
https://groups.google.com/d/msg/vim_dev/goIcj5RSY-8/9JTz8aAnvlsJ

マルチポスト的になるのは板の仕様としては避けようがあったりなかったりしますか？(;´Д`)

[2014-05-13 14:29] ynkdir commented on #559
おつです！

[2014-05-13 14:30] h-east commented on #94
ちょっと関係ありそうなので貼っときます。
Patch 7.4.285
Problem:    When 'relativenumber' is set and deleting lines or undoing that,
            line numbers are not always updated. (Robert Arkwright)
https://groups.google.com/d/msg/vim_dev/GaudU36xp9E/oBORRYXFnOgJ

[2014-05-13 14:35] h-east commented on #559
#558 と同根

[2014-05-13 14:40] h-east commented on #559
おつです。
vim_dev投稿のリンクはPermalink(って呼び方でいいの?)にした方がいいです。
![permlink](https://cloud.githubusercontent.com/assets/518808/2958749/424540f8-daac-11e3-9e82-bd475a511924.png)

ということでペタリ
https://groups.google.com/d/msg/vim_dev/goIcj5RSY-8/9JTz8aAnvlsJ

[2014-05-13 14:45] h-east commented on #559
重複ということでこちらのIssueは閉じます。
(別でIssue立てろといったのは私ですが、、すんません。)

[2014-05-13 14:45] #559 closed, assigned to nobody

[2014-05-14 01:34] itchyny commented on #558
この問題は32bit環境では再現できないという理解でいいのでしょうか。

[2014-05-14 01:46] mattn commented on #560
https://groups.google.com/forum/#!topic/vim_dev/2klLr5s3jgI

[2014-05-14 02:05] saihoooooooo commented on #560
すげぇ、ちょっぱやっすね、、
ありがとうございます。

[2014-05-14 02:12] h-east commented on #558
@itchyny 処理系依存です。ほとんどの処理系では大丈夫だと思いますけど。
ptr(" ")はデータセクション内のアドレスが格納されて、text(引数)はスタックエリアのアドレスが格納されます。
普通の処理系では `データセクションアドレス < スタックエリアアドレス` の関係になるはずです。
その場合は `(int)(ptr - text) < len` が真になるので正しい処理がされます。
`データセクションアドレス < スタックエリアアドレス` の関係じゃない処理系だとアウトですね。

間違ってたら突っ込みPlease。

[2014-05-14 04:43] itchyny commented on #558
@h-east ありがとうございます。私には難しいですが何となく分かりました。

[2014-05-14 13:07] mattn opened #561 "「プログラムから開く」に登録できない(らしい)"
ref: https://groups.google.com/forum/#!topic/vim_jp/lhk8KtJiV-g

[2014-05-14 13:13] koron commented on #561
gvimext は関係無いんじゃないか?

ちなみに私はgvimextコンパイルしなくなって久しい。

[2014-05-14 13:17] mattn commented on #561
あー、「プログラムから開く」か。じゃぁパスか。

[2014-05-14 13:17] mattn commented on #561
タイトル修正ed

[2014-05-14 13:17] koron commented on #561
かも。

いま手元(7-64bits)で試したらできた。

[2014-05-14 13:32] koron commented on #561
MuiCacheとか関係してるかも? ちょっとわかんない。

[2014-05-14 23:06] k-takata commented on #561
https://groups.google.com/d/msg/vim_jp/lhk8KtJiV-g/SRSYb9JIkg4J

解決したとのことですので閉じます。

[2014-05-14 23:06] #561 closed, assigned to nobody

[2014-05-15 05:12] h-east commented on #559
@ntak ちょっと教えて下さい。Vim起動直後に

[code]

として100%再現するのでしょうか？

Issue本文に

と書かれているように、ソースの`screen_puts_len()`内のフラグ`clear_next_cell`がTRUEになる条件は以前表示されていた文字の情報 `ScreenLines[]` に関係すると思うのです。
もしかして `:echo "ああああ"`を2回実行すれば確実に再現する感じですか？
もしくは他に手順が必要だったりしません？

[2014-05-15 06:04] h-east commented on #559
あー、自己解決。
`:echo "ああああ"`が以前表示されていた文字の情報になるんですね。

[code]

今回の4つ目の`あ`が以前の文字の最初の`あ`と重なるからなんだかんだで`clear_next_cell`がTRUEになって現象発生ってことですね。

このバグ今まで残ってたのスゴイ:cat2:

[2014-05-15 08:03] syngan opened #562 "t:+ 小文字な関数参照型変数を作成できない"
[code]

ということですが、

[code]

とすると `E704` エラーになります。

ついでに、

[code]

とすると, `t:hoge` だけ `hoge` が `Identifier` にならないようです。

[2014-05-15 15:12] ynkdir commented on #562
ありがとうございます。報告しました。
https://groups.google.com/d/msg/vim_dev/_oLmenf-CHU/fbJtvo2m1AAJ

[2014-05-15 17:21] ynkdir commented on #545
すいませんなんかちょうど話題が出てたのでoverthespotのやつ投げてみました
https://groups.google.com/d/msg/vim_dev/SK3t_RsWMqM/K5Quc2PQftkJ

[2014-05-15 20:28] syngan commented on #562
対応ありがとうございました。

[2014-05-16 02:14] syngan opened #563 "configure を 2 回実行すると if_python が有効にならない"
私の手順が間違っているのかもしれませんが、はまったので報告します。

`--enable-pythoninterp` をつけて `./configure` を 2 回実行すると、 `config.cache` の情報をつかってしまうため、`configure.in` の以下の部分、`python_INSTSONAME` をとってくる処理が動きません。
そのため、`make` 時に `-DDYNAMIC_PYTHON_DLL=\"\"` となって `has('python')=0` となってしまいます。

[code]

[2014-05-16 11:45] k-takata commented on #563
こんな感じでどうでしょう。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/e7a4d5e7cfe9b61afff04739b9f1ab9b1475ab6b/fix-configure-python-soname.patch
パッチを当ててから、`make autoconf && ./configure && make` でビルドできます。
(これの調査中に #280 にバグが発覚…)

[2014-05-16 11:46] k-takata commented on #280
7.4.273
https://groups.google.com/d/topic/vim_dev/4pkR0aT3cIo/discussion

[2014-05-16 11:49] k-takata commented on #280
`make config` を実行すると、毎回 `src/auto/config.cache` が削除されてキャッシュが効いていなかったことが発覚。
https://bitbucket.org/k_takata/vim-ktakata-mq/src/a985784dccf66689f092e8bb3d2d33a9d3dea00e/fix-config_cache-removal.patch
最初からこうだったのか、autoconf のバージョンアップの影響なのか…。

[2014-05-16 11:58] mattn commented on #280
www