[2012-05-11 07:06] mattn commented on #199
[code]

でテストして貰えますか。もしくは

[code]

[2012-05-11 07:23] comuttun commented on #199
ためしてみました。

gvim.exe/vim.exe ともに、結果変わらず、でした。
下記 vim 両方で確認しました。
- VIM 7.3, 1-434 patched, MS-Windows 32 bit GUI
- VIM 7.3, 1-515 patched, MS-Windows 64 bit GUI

[2012-05-11 07:28] mattn commented on #199
プログラムの作りから見ると仕様ぽいです。(仕様っぽい感じがするというだけですが)
まずチャラクタワイズ選択の場合は、意図的に最後の改行を強制で取り除いています。これはコピーする行が複数行の場合、計算を楽にする為に

[code]

としている為です。ブロックワイズ選択の場合、複数行選択した場合には最後の改行が欲しいので

[code]

この計算になります。1行の場合だけ特例...という事はしていないので、現状は「ブロックワイズ選択は最後の改行を含む」という動きになります。
もし気になる様でしたら(他の方と議論した上で)、vim_devに提出しようと思います。

[code]

[2012-05-11 07:35] comuttun commented on #199
ご丁寧な回答ありがとうございます。

なるほど、Windows XP 上では1行選択時には改行が含まれていないので、
その点だけちょっと謎いのですが、よくわかりました。

気になるかというと、ちょっと気になります。

といいますのは、自分の場合、 Windows 上でvim でコマンドなどのテキストを記述して、
Terminal に貼り付ける、というようなことをよくやるんです。
（運用環境のサーバに対して作業する場合など）

その場合、改行が入ってると「おっと」となってしまいます。

XP 上では問題なくできてたので、ちょっと戸惑っております。。

[2012-05-11 07:43] mattn commented on #199
ご存知だと思いますが、ビジュアル選択には3つの <del>袋があり、コブクロ、胃袋、Yahoo知恵袋</del> 選択モードがあります。
- キャラクタワイズ選択
- ラインワイズ選択
- ブロックワイズ選択

矩形選択(ブロックワイズ選択)をする場合というのは、だいたい図形とか、右側、左側に余計な物がある場合で複数行を選択します。選択したい物が1行と分かっている場合、vimを使う人は v (キャラクタワイズ選択)を使うと思っています。(私は)
また行としてコピーしたいという人は V (ラインワイズ選択)を使います。

僕は使い分けている派ですが、もしかしたら comutt さんの様に選択時に分けておられる方もいるのかもしれないですね。

ただ既存の動きを変えるとなると
- 現状の動きに問題がある
- もしくはBramを納得させるだけの利点がある

のどちらかになるので取り込まれる可能性は

[2012-05-11 07:44] mattn opened #200 "200get"
イェーイ！

[2012-05-11 07:47] comuttun commented on #199
恥ずかしながら、

を知りませんでした！

Ctrl-V/Shift-V の使い分けをしていたんです。

勉強になりました。 ひとまず、 v を使うようにいたします。

[2012-05-11 07:48] mattn commented on #199
あ、なるほど。
また新たな問題があれば提案下さい。

[2012-05-11 07:48] #199 closed, assigned to nobody

[2012-05-11 07:57] koron commented on #199
矩形選択で1行しかない場合に改行が含まれることは自然に見えますねぇ。1行とはいえ矩形です。仮にこの改行を削除するとなると、矩形選択領域の最終行に改行は含まない、という仕様になるんですかね…Vimとしてはちょっと変かな。

ところでちょっと気になったんですが、なんでそのあたりOSの違いが原因で発生したりしなかったりするんでしょうか。もしかして @comutt さんが矩形選択って言っているものが、実はVimのものではなく **OSのコンソール** のものになっちゃってるんじゃないですかね?

[2012-05-11 08:01] koron commented on #200
￣￣￣￣￣∨￣￣￣　　　　　　　(´´
　　　　 ∧∧　　　）　　　　　　(´⌒(´
　　⊂（ﾟДﾟ⊂⌒｀つ≡≡≡(´⌒;;;≡≡≡
　　　　　　 ￣￣　 (´⌒(´⌒;;
　　　　　　ｽﾞｻﾞｰｰｰｰｰｯ

　　　　　　　　 ∧∧
　　　　　　　 (ДT ；)　ちんちん擦っちゃった
　　　　　　　　 U　 ヽ
　　　　　　　　 .　〉 ﾉﾉ~
　　　 　　　　　　∪∪

[2012-05-11 11:46] h-east commented on #199
0vg_

[2012-05-11 13:05] koron commented on #197
関連: https://github.com/vim-jp/vimdoc-ja/issues/40
将来の管理のために相互リンク。最初の記事に差し込んどいたほうが良いかな?

[2012-05-11 14:35] Shougo commented on #151
Todo listに入ったようです。とりあえず一安心。

[2012-05-11 22:02] thinca commented on #197
これでリンクはれます。 vim-jp/vimdoc-ja#40

[2012-05-12 03:28] koron commented on #197
@thinca thanks!

[2012-05-12 13:26] k-takata commented on #191
https://groups.google.com/forum/?hl=ja#!topic/vim_dev/Zqx6yTRKl_U
パッチを投げてみました。（リンクはこれで合ってるのかな？）

[2012-05-12 13:52] ynkdir commented on #191
おつです！
いい反応きてますねー。

[2012-05-12 14:15] mattn commented on #151
todoに入ったので閉じます。

[2012-05-12 14:32] h-east commented on #151
@mattn
こんばんは運用厨です。
閉じるタイミングがちょびっと早いです。

Issueを閉じる手順
https://github.com/vim-jp/issues/wiki/Member

「Todo listに入った」の定義

[2012-05-12 14:40] mattn commented on #151
うん、よう言うてくれた。(運用厨だけに)

[2012-05-12 16:29] k-takata commented on #191
どうもです。
どなたか、`status/sent patch`に変更しておいていただければ。

[2012-05-13 10:30] h-east commented on #140
@thinca @mattn , C++er&&Vimmer
下のコードを（`set cino=`設定で） `gg=G` したときの期待インデントはこれで合ってます？
(「関数」の中でのみ継続行インデント(`:help cino-+` 参照)が効く)

[code]

[2012-05-14 07:34] mattn commented on #140
すんません。どういう意味か良く分かりませんが。とりあえずcppのftに↑を貼り付けて`set cino=`して`gg=G`したらこうなりました。

[code]

[2012-05-14 07:56] h-east commented on #140
インデント決定ロジックに「後方↑最寄に `{` があれば関数の中と判断する」というのがあります。(`:help cino-+`)
これを「後方↑最寄に `{` があれば関数の中（※但し、namespaceの`{`は除く）」というロジックに変更すればこのissueは解決しますよね？
という確認で、ロジック変更した場合の想定インデントとして
https://github.com/vim-jp/issues/issues/140#issuecomment-5675348
を提示しました。

「No！」の場合は仕様を提示して頂戴（ @thinca さん、C++er&&Vimmer）
仮に、「Yes！」と言われてもムズいので年金生活に入るまで対応できないすけどねｗ

[2012-05-14 08:26] thinca commented on #140
これは、「期待値はこれでいいのか」って確認ですよね。
改めて動作を見てみたんですが、

[code]

これに関しては現在トップレベルでもこのようにインデントされますね。ただ、

[code]

とすると前の行に合わせてインデントされたりして、この仕様がどこから来てるかまだちょっと把握しきれてません…(設定多い!)。
ちゃんと把握してない段階でこんなこと言うのもアレですが、もしかしたら前者の挙動自体がバグかもしれませんね。`:hlep cino-+` でも、関数の外側ではインデントされない、とは書いてませんし。
で、肝心の期待値はどうなのかって話ですが、namespace 内はトップレベルと同じ扱いって意味ではそれでいいと思います。
ところで現状の動作私も試しめしたが @mattn さんと結果が違う件。

[code]

[2012-05-14 09:08] h-east commented on #140
はい。

[code]

前行が `,` で終わっている場合は `cino-+` とは別の（cinoで制御できない）処理がなされます。
src/misc1.c : 8212 ~ 8256
(8252行のcin_first_id_amount())
ですから今回のissueとは無関係です。

「関数の内側では～インデントする。」と書いてあるのにそんなこと言ったら「秩序とは何か」って話になって通常の生活出来なくなりますよ。

どこが違うかワカラナイ（｀ェ´）ﾋﾟｬｰ

[2012-05-14 09:12] thinca commented on #140
あれ。ああ、本当だ。github.vim で見たせいで Tab のインデントが狂ってたんですね…さーせん。

[2012-05-14 09:13] mattn commented on #140
むー...

![](http://go-gyazo.appspot.com/319d5b187d1b26e5.png)

[2012-05-14 09:19] thinca commented on #140
英語版見て把握。

`:help cino-+@en`

[code]

`:help cino-+@ja`

[code]

日本語の意味変わっちゃってますね…。これだと、まず無条件でインデントは行って、さらに関数の内側では…と言う意味に取れる。

[2012-05-14 09:24] thinca commented on #140
訳修正しました。
https://github.com/vim-jp/vimdoc-ja/commit/ac94994dcc148ff06bde57f171a61715d0690222

[2012-05-14 09:29] h-east commented on #140
@thinca [speedy wonder!](http://ja.wikipedia.org/wiki/%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%B4%E3%82%A3%E3%83%BC%E3%83%BB%E3%83%AF%E3%83%B3%E3%83%80%E3%83%BC)

[2012-05-14 09:31] mattn commented on #140
母：「学校の宿題もこれくらい頑張ってくれたらいいんだけどね」

[2012-05-14 09:33] thinca commented on #140
宿題やってなくてごめんなさい！(なんとなく謝っておく)

[2012-05-14 09:53] h-east commented on #140
母:「期待値はこれでいいのかい？3文字以内で答えるんだよ」
https://github.com/vim-jp/issues/issues/140#issuecomment-5675348

[2012-05-14 10:10] mattn commented on #140
期待値を知るにはオプションのデフォルト値がどう動作すべきか知る必要があるので、即答出来ないかと思います。
どっちかっていうと、現状namespace下のインデントをnamespace外のインデントと同じにする術がないので欲しいってところです。(僕は)

[2012-05-15 06:15] h-east commented on #140
@mattn

うーん、別に意地悪な問題出して「間違ってやんのﾌﾟﾌﾟﾌﾟ」とかするつもりはないんですよ。

(私がコメントの順番をミスってますけど、言いたかったのはこれ↓)
https://github.com/vim-jp/issues/issues/140#issuecomment-5684391

`cino-+`をロジックをこう変えたら良いですよね？んで、変えた場合のインデントはこれであってますよね？
ということなんですけど伝わりません？
例が悪かったかなぁ。

これは`cino-+` のロジックを変えずに別にオプションを新設した方が良いということですか？

[2012-05-15 06:19] mattn commented on #140
いえ、fixでもなんでも良いです。namespaceと関数との区別に必要なら新設もありだと思いますが。

[2012-05-15 06:25] thinca commented on #140
私も最終的に欲しい挙動は @mattn さんと同じで「namespace下のインデントをnamespace外のインデントと同じにする」なんですが、
どちらにしてもこの `cino-+` が namespace を関数内と認識してしまう問題はバグで直さないとどうしようもないと思います。
これを直せば最終的に欲しい挙動が手に入るかはわからないですが、それはやるならまた別 issue かな、と。

[2012-05-15 06:41] h-east commented on #140
了解です。
この件って明確にbugと呼ぶべきではない気がしてきたのでラベルをdiscusに変更しました。
あとちょっと疲れたのでassignを外しました。
真夏に逢いましょう。

[2012-05-15 06:44] thinca commented on #63
特にないようならダメ元でこのパッチ送ってみようと思います。
ダメならダメでちゃんと直してもらえるかもしれないし。
(今ちょっと忙しいのでそのうち…)

[2012-05-15 06:51] mattn commented on #140
書きかけのパッチとかあります？

[2012-05-15 15:56] thinca opened #201 "キーマッピングの2番目以降に来る <C-c> の挙動が変わる"
例 (プレフィックズの z は何でも良い)
[code]
この状態で `z<C-c>` を押すと、`<C-c>` の動作("Vimを終了するには :quit<Enter> と入力してください" と表示される)になる。
続けて、
[code]
のように `<C-c>` に適当に何かを割り当てて(`<NOP>` である必要はない) `z<C-c>` を押すと、
[code]
と表示される。
更に、
[code]
としてキーマッピングを削除してから `z<C-c>` を押すと、
[code]
と表示される。
最初の動作がおかしいように思う。

[2012-05-15 15:57] thinca commented on #201
挿入モードでも同じ感じの挙動になってます。他は試してない。

[2012-05-17 17:30] h-east commented on #140
@mattn すんません返事遅くなりました。パッチないです。

[2012-05-18 00:02] mattn commented on #140
了解す。
時間あったら僕もみます。

[2012-05-18 12:13] mattn commented on #195
fixed in 7.3.516

https://groups.google.com/d/topic/vim_dev/qitRXbkwdjI/discussion

[2012-05-18 12:13] #195 closed, assigned to nobody

[2012-05-18 14:41] thinca commented on #198
7.3.518 で取り込まれました。

https://groups.google.com/d/topic/vim_dev/yjARuWDGX-k/discussion

[2012-05-18 14:41] #198 closed, assigned to nobody

[2012-05-18 14:51] thinca commented on #151
7.3.519で取り込まれました。

https://groups.google.com/d/topic/vim_dev/FIoZcm3KMnM/discussion

[2012-05-18 14:51] #151 closed, assigned to nobody

[2012-05-18 15:10] thinca commented on #193
7.3.520で+αされて取り込まれました。

https://groups.google.com/d/topic/vim_dev/BniVlM5XaZU/discussion

[2012-05-18 15:10] #193 closed, assigned to nobody

[2012-05-18 15:14] k-takata commented on #194
helphelp.txtの更新は、7.3.518に入ったようですね。

[2012-05-18 15:57] thinca commented on #191
取り込まれました。

http://code.google.com/p/vim/source/detail?r=1b584a6f446ccd933002c91b9c3f07cfdf65d886

[2012-05-18 15:57] #191 closed, assigned to nobody

[2012-05-18 16:02] thinca commented on #194
[Webサイト](http://www.vim.org/translations.php) と [:help help-translated](http://code.google.com/p/vim/source/diff?spec=svn1b584a6f446ccd933002c91b9c3f07cfdf65d886&old=e8a482a7fa6c0bf25f009b096202795400c9681a&r=1b584a6f446ccd933002c91b9c3f07cfdf65d886&format=unidiff&path=%2Fruntime%2Fdoc%2Fhelphelp.txt) どちらも取り込まれたようなので閉じます。

[2012-05-18 16:02] #194 closed, assigned to nobody

[2012-05-18 16:50] thinca commented on #171
Bramさんこれ見逃してないですかね…。

[2012-05-19 01:24] Shougo commented on #193
連絡ありがとうございます。

[2012-05-19 01:24] Shougo commented on #151
連絡ありがとうございます。neocomplcacheを対応させることにします。

[2012-05-19 06:08] Shougo commented on #151
neocomplcacheを対応させました。

[2012-05-19 16:32] mattn commented on #200
fixed in 7.3.777 http://bit.ly/mRBndW

[2012-05-19 16:32] #200 closed, assigned to nobody

[2012-05-21 01:55] mattn commented on #193
guioptionsにfがある状態で-gするとgtk_init_checkが走らないという問題があったのでパッチ追加。

[2012-05-22 12:35] h-east commented on #193
@mattn Great. お疲れ様でした。

[2012-05-23 09:19] mattn opened #202 "pirntf"
vim.po に typo。

これは @koron さんにお願いした方がいいかな？

[code]

[2012-05-23 09:45] koron commented on #202
ですね。

[2012-05-25 13:26] mattn commented on #193
guioptionsにfがある時の修正も完了。

いまから思えば #85 もそれだったんじゃないかと思った。

[2012-05-28 15:41] k-takata commented on #202
https://gist.github.com/2819669
ja.poを7.3.524と比較すると、いくつか未訳の部分があったようなので、更新版を作ってみました。（Gistに貼っているため、文字コードがUTF-8になってしまっている点はご注意ください。）
- 未訳部分の翻訳
- pirntf -> printf
- 浮動**少**数 -> 浮動**小**数点数
- ～すぎる -> ～過ぎる に統一
- etc.

問題なければ一緒にマージをお願いします。

[2012-05-28 23:56] mattn commented on #202
@k-takata ++

[2012-05-30 17:12] wiredool opened #203 "listcharsのprecedesを設定すると全角文字でカーソルがずれる"
横にスクロールしprecedesが表示されるとカーソルが半分ずれるようです。
precedesの文字を変えてみても再現しました。

 gvim.exe -u NONE -N
 set nowrap
 set listchars=precedes:<
 i で インサートモードへ
 あああ…あ (横幅以上の全角文字を入力)
 横にスクロールするとカーソルがずれる

確認環境とは別のものですがこのような感じになります。
![](https://p.twimg.com/AuKJrocCIAEK4Kc.png)

確認した環境
WinXp 32bit
Win8CP 64bit
 kaoriya-20120519 GVim(7.3.524)

CentOS 6.2 Vim 7.2.411

[2012-05-31 00:38] mattn commented on #203
デグってるw

[2012-06-01 00:52] mattn commented on #15
リテラル内は patch 7.3.527 で直ったみたい。

https://groups.google.com/d/topic/vim_dev/NHM3t5DKHes/discussion

digraph.c はコメント内なので影響も無いだろうという事で、いったんクローズしますね。

[2012-06-01 00:52] #15 closed, assigned to nobody

[2012-06-02 06:23] k-takata opened #204 "コマンドラインで日本語が化ける"
Cygwin 1.7.15, mintty 1.0.3, Vim 7.3.447
LANG=ja_JP.UTF-8

vim -N -u NONE でVimを起動し、`/スタート` と入力し、矢印キーでカーソルを以下のように動かすと文字化けします。

← を1回。`/スタート` と表示。文字化け無し。カーソルは`ト`の位置。
← をもう1回。`/スター<e3>` と文字化け。カーソルは`ー`の位置。
← をもう1回。`/スタ<e3>3>` と文字化け。カーソルは`タ`の位置。

UTF-8で片仮名の最初のバイトがe3なので、それが表示されているようですが。
何か文字を入力すれば文字化けから回復します。

[2012-06-04 13:45] koron commented on #204
`:set enc? tenc?` の結果を書いてください。

[2012-06-04 13:47] koron commented on #204
あとは…minttyのバグ、という考え方もありか。

[2012-06-04 17:27] k-takata commented on #204
[code]

です。
minttyの代わりに、Tera Term 4.74を入れて、cyglaunchから起動しても同じでした。

[2012-06-04 23:31] koron opened #205 "MSVCなvimで入力した日本語が化ける"
kaoriya版のvimで `set enc=utf-8 tenc=cp932` の環境で確認。
Google IME

メッセージなど表示する文字は正しいが、IMEで入力した文字は化ける。
tencでコンバートするタイミングがないのかな?

[2012-06-05 00:33] mattn commented on #205
vim.exe ?

[2012-06-05 05:14] koron commented on #205
Yes. vim.exe

[2012-06-05 05:14] koron commented on #205
ちなみにOSはWindows7とWindows Server 2008R2ってもうここまでくるとまず関係ないよね。

[2012-06-05 12:34] ynkdir commented on #204
再現方法

[code]

cygwin 以外でもでます。
マップされた文字を入力しているときに Vim は入力途中の文字を表示してくれますが (getchar.c:2741あたり)、
それを元に戻す処理がマルチバイトってませんでした。
cygwin + mintty だと `<Left>` やその他ファンクションキーのキーシーケンス入力で小さい待ちが発生してました。
cygwin環境てきななにかでたまたまカーソルキーで症状がでたんですかね。

[code]

投げます。

[2012-06-05 22:13] k-takata commented on #204
7.3.538に上記のパッチを当てて直るのが確認できました。

[2012-06-05 23:58] ujihisa commented on #49
age

[2012-06-06 00:05] mattn commented on #49
sage

[2012-06-06 00:44] koron commented on #49
hage

[2012-06-06 03:11] mattn commented on #204
ynkdir++

[2012-06-06 03:14] mattn commented on #203
https://groups.google.com/d/topic/vim_dev/3NmIRP5Qc1w/discussion

screen.c のコードを読むのがめんどくさくて投げたつもりでしたがマルチバイトでしか発生せず、結局自分でパッチを書くハメになってしまいました。

[code]

しばらく検証して大丈夫そうなら提出します。

[2012-06-06 10:09] mattn commented on #204
7.3.539で入りました。

https://groups.google.com/d/topic/vim_dev/W36gV8pNqzI/discussion

[2012-06-06 10:09] #204 closed, assigned to nobody

[2012-06-06 11:05] LeafCage opened #206 ":write >>でファイルを追記するとき追記元と追記先のエンコーディングが異なると日本語(2バイト文字)が文字化けする"
:edit ++enc=utf-8 file1
適当にバッファに入力
:w
:edit ++enc=cp932 file2
何か日本語(2バイト文字)をバッファに入力
:w >> file1

結果→文字化け

[2012-06-06 11:14] mattn commented on #206
`>>` で出力されるファイルがバイナリって事も考えられるのであえてやらないのかも。
バグというよりfeature requestな感じがします。

[2012-06-06 13:45] wiredool commented on #203
パッチ作成＆ご報告ありがとうございます。

CentOS上で試してたところ、まだズレてしまうことがありました。

vimrc適用時は改善しています。
set listchars=precedes:#
![](https://p.twimg.com/AutWE6xCAAA4k60.png)

こちらはズレてしまいます……
vim -u NONE -N
set nowrap
set list
set listchars=precedes:#
(set ruler)
![](https://p.twimg.com/AutXSZ-CEAEXa-1.png)

CentOS6.2
vim 7.3.540 / bash / gnome

テキストファイル
https://gist.github.com/2881794

[2012-06-06 13:57] mattn commented on #203
うむ...再現しない...

[2012-06-06 14:34] wiredool commented on #203
もう一度試そうとして、再現に失敗してしまいました…
 # と < が表示されているのでパッチ後のはずなのです。
もう少し調べてみます。

VIM - Vi IMproved 7.3 (2010 Aug 15, compiled Jun  6 2012 21:21:48)
Included patches: 1-540
Compiled by line@localhost.localdomain
Huge version without GUI.  Features included (+) or not (-):
+arabic +autocmd -balloon_eval -browse ++builtin_terms +byte_offset +cindent
-clientserver -clipboard +cmdline_compl +cmdline_hist +cmdline_

[2012-06-06 14:45] ynkdir commented on #203
おつかれさまです。

同じ症状を見てるかわかりませんが...

[code]

で、zl でスクロールしていくと、3 行目の全角 A が左端に差し掛かったところでずれます。
"#<" と表示されるはずが "#" と表示されます。
その状態で 3 行目に挿入するとカーソルの表示位置とはずれた位置に挿入されます。

[2012-06-06 14:49] ynkdir commented on #203
2 行目の半角 B が端にいったときも、"#" と表示されるはずが "#<" と表示されます。

[2012-06-06 22:13] koron commented on #206
`>>` の追記先を一旦読み込んでエンコード判定する、ってことならできるけど、それだとなんだか `>>` のメリットが失われますよねぇ。速度とか意味合いとか。

使い勝手としては `>>` 出力時のエンコードをカレントバッファの `fenc` に依存しないようにするだけでも良いのかなぁ

[2012-06-06 23:59] mattn commented on #206
モダンな書き方ならば

[code]

で行けるかなーと思います。カレントバッファを追記したいなら

[code]

でしょうか。試してないので分かりませんが。

[2012-06-07 01:53] mattn commented on #203
これでどうでしょ？

 https://gist.github.com/2886056

[code]

[2012-06-07 02:19] h-east commented on #204
ynkdir△!

[2012-06-07 02:36] mattn commented on #205
化けるというか入力出来ないっす。 #MSIME

[2012-06-07 02:37] mattn commented on #189
あー、こっちだ。
MSIMEですが、まず入力出来ないっす。

[2012-06-07 02:37] mattn commented on #205
#189 とは違う？

[2012-06-07 11:35] mattn commented on #203
あまり遅らせてもまずそうなのでそろそろ↑出しますね。

[2012-06-07 12:34] wiredool commented on #203
おつかれさまです。

vim 7.3.547 + 新しいパッチ にて表示の改善を確認しました。

[2012-06-07 12:39] mattn commented on #203
あざます！

[2012-06-07 12:45] mattn commented on #197
この件、vimdoc-jaの問題だけになってしまったし、いったん閉じた方がいいかしら。
あと日本語対応するために syntax/help_ja.vim をいじるかどうかの決議も欲しい。

[2012-06-07 12:46] mattn commented on #172
これ一回蹴られてるので閉じますね。

[2012-06-07 12:46] #172 closed, assigned to nobody

[2012-06-07 15:37] ynkdir commented on #203
遅くなりましたが確認しましたokです。
ありがとうございます!

[2012-06-07 18:28] thinca commented on #206
これってつまりエンコーディングが混ざったファイルができるってことですよね。
`:w` が現在のバッファの内容をファイルに追記するにあたって、現在のバッファのエンコーディングで書きだすのは自然かと思います。
書き込み先のファイルのエンコーディングがわかっているならば、`:w ++enc=utf-8 >>file1` で良い気がします。

[2012-06-08 00:15] mattn commented on #206
たぶんこれはfeature requestにしたところで取り込まれません。
@LeafCage 閉じて良いですか？

[2012-06-08 00:20] mattn commented on #203
あざます！

[2012-06-08 01:36] koron commented on #197
Vim本体でやるべき残件がなければ閉じるのに賛成。

help_ja.vim をいじるのも賛成、って vim-jp/vimdoc-ja#40 とかでやるべきことか。

[2012-06-08 01:39] koron commented on #197
とりあえずこっち閉じておきます。やることあったら開いてください。

[2012-06-08 01:39] #197 closed, assigned to nobody

[2012-06-08 01:39] koron commented on #205
@mattn さーせんwww まったく同じ事、自分で2回報告するってどういうことだよw

[2012-06-08 01:40] #205 closed, assigned to nobody

[2012-06-08 14:01] thinca opened #207 "`=...` が 'wildignore' を参照する"
参考: https://github.com/thinca/vim-localrc/pull/2/files#r950389

`:e `=file`` などとする場合、`file` が `'wildignore'` のパターンに一致すると `file` が無視されてファイルが開けない。
ここで `'wildignore'` を参照する道理はないので、バグだと思われる。

[2012-06-09 13:17] mattn commented on #207
来週着手します。

[2012-06-11 02:06] mattn opened #208 "補完時にfindstart=0の場合にfindstart=1で返した位置からカーソル位置までがgetline(".")から消える。"
tyru/eskk.vim#150 から転載。

最近の補完の修正で挙動が変わったっぽい。

https://gist.github.com/2908040

[code]

このソースを実行して、カレントディレクトリに「vimtest」というファイルだけ置く。その後

[code]

の`|`で`<c-x><c-o>`をタイプすると、`findstart=1`時に`getline('.')`が`a  b`になっている。つまり、初回補完(findstart=1)時に返した位置からカーソル位置までが削除された状態で補完が開始している。動きとしては正しいが、互換性がなくなってる。

これが問題かどうかを議論したい。

[2012-06-11 02:20] Shougo commented on #208
a:findstart=1のときのgetline()は消えていませんので、私のプラグインの場合はそのときのgetline()を内部的に保存して対応していますね。

ドキュメントを見なおして見ましたが、この動作はドキュメントに書いてありませんでした。
ドキュメントには明示的に書いたほうが良いのではないでしょうか。

[2012-06-11 02:26] mattn commented on #208
まずはこの動作をどうするかを議論してからですね。
- 元に戻す(現状の修正済み動作を維持しつつ元に戻す)
- 現状を仕様としてdocまわりで固める

[2012-06-11 02:29] Shougo commented on #208
わかりました。私としては、この動作もそれなりの合理性があるため無理に戻す必要はないと思っています。
プラグインへの影響が大きければrevertするべきなのでしょうが、今のところeskk, neocomplcache以外で問題が起こったという話を聞きません。neocomplcacheは内部的に対処しています。

[2012-06-11 03:59] koron commented on #208
ユーザにわかりやすい理想の動作:
- <C-x><C-o>を押した後に、候補一覧が表示され、第一候補が選択された(補完入力された)状態になる
- 候補がない場合は、その旨がメッセージ領域に表示され元の文字列が表示される

たぶんこうなるとわかりやすくて良い。

[2012-06-12 00:24] mattn opened #209 "vim-cpp を提案する上での配布形態について"
vim-jp/issues#69 を vim_dev に push したい。

https://groups.google.com/d/topic/vim_dev/ug_wmWQqyGU/discussion

そこで github.com/vim-jp でホストしたいのだけど、どの様に配布するか。
1. vim のリポジトリごとホストしてブランチとして提供する。
2. 必要なファイルを単体で runtime 形式で提供する。

2の場合、リポジトリ名案も希望。

[2012-06-12 00:29] koron commented on #209
私は案2。名称は cpp-vim か c-vim で良いんじゃなかろうか。

[code]

[2012-06-12 00:38] mattn commented on #209
[code]

にするか

[code]

にするかというのもあるかな。上書きする syntax ではないし...

[2012-06-12 00:39] koron commented on #209
仮に本体に取り込まれなくてもプラグインとして成立するようにする、
には後者のほうが正しくないかな?
docとかもろもろあると良いだろうし。

[2012-06-12 00:59] mattn commented on #209
いれた

https://github.com/vim-jp/cpp-vim

[2012-06-12 01:09] mattn commented on #209
だした

https://groups.google.com/d/msg/vim_dev/ug_wmWQqyGU/XfdJHt5d26IJ

[2012-06-12 01:11] koron commented on #209
@mattn ++

[2012-06-14 14:36] wiredool commented on #203
おつかれさまです。

https://groups.google.com/d/msg/vim_dev/OfwnFPEISis/p4wKJTvvC0AJ
vim7.3.553にて
precedesと全角文字が重なった際のカーソルのずれ
が改善されたことを確認しました。

ありがとうございます!

[2012-06-14 23:57] #203 closed, assigned to mattn

[2012-06-15 00:42] koron commented on #202
今、その他とあわせてvim-devへ送るため準備中。

[2012-06-15 00:46] mattn commented on #202
koron++

[2012-06-15 00:51] koron commented on #202
ライセンスの件も合わせてやってしまおうと思うんだけど、僕が提供してたのってja.poとmenuファイル群だけで良いんだっけ?

# 人に聞くなって話ですがw

[2012-06-15 01:19] koron commented on #202
送った。

パッチじゃなくてファイル丸々だけど。

[2012-06-15 01:20] koron commented on #138
あ～sourceしているだけのファイルもライセンスつけたほうが良いか。

[2012-06-15 01:30] koron commented on #138
とりあえず送信終わった。

[2012-06-15 12:43] mattn commented on #207
https://gist.github.com/2936278

でかいけど

[code]

実質足したのは

[code]

この部分で、引数1個に対して展開するexpand_wildcards_evalが、backtickという事は展開後の引数はさらにwildignoreと検証する必要が無い。よってKEEPALLフラグを足した。

[2012-06-15 12:57] mattn commented on #207
でっかいブロックの移動は嫌がるだろうから関数宣言だけ移すか。

[2012-06-15 12:58] mattn commented on #207
いや、expand_wildcards_eval 自体、引数１に対して期待するファイル数は１だ。

[2012-06-15 12:59] mattn commented on #207
あーでも backtick かどうかは見ないとまずいか

[2012-06-15 13:01] mattn commented on #207
あ、うそ

[code]

[2012-06-15 13:10] mattn commented on #207
おくった

https://groups.google.com/d/topic/vim_dev/FHa96EaUBOo/discussion

[2012-06-15 13:10] thinca commented on #207
速い。乙です！

[2012-06-15 13:15] mattn commented on #207
メールで逆書いた＞＜

[2012-06-16 15:05] h-east commented on #174
↓これで追加されていますね。
チェンジセット:   3410:94601b379f38
ユーザ:           Bram Moolenaar bram@vim.org
日付:             Sun Mar 11 15:57:40 2012 +0100
要約:             Updated runtime files.  Add Dutch translations.

[2012-06-16 15:05] #174 closed, assigned to tyru

[2012-06-16 15:10] h-east commented on #94
追加情報が寄せられる気配がないので一旦閉じます。
情報来たら再オープンして対応します。

[2012-06-16 15:10] #94 closed, assigned to nobody

[2012-06-16 15:15] tyru commented on #174
@h-east ありがとうございます！

[2012-06-17 13:59] tyru opened #210 "マップされたキーのみでコマンドを実行すると履歴に残らない"
was: コマンドラインでeskkを有効にして入力すると履歴に残らない
## 再現手順

eskkというより、言語マップを有効にしてる時限定のバグのように見えます。
1. `:`でコマンドラインに入って、`<C-p>`で過去のコマンドを挿入する
2. `<C-j>`でeskkを有効にして入力、エンター
3. 再び`:`でコマンドラインに入って、`<C-p>`を押すと2で実行したはずの履歴が出てこない

https://twitter.com/thinca/status/214352678212476928

@thincaさんはambicmd.vim絡んでるかもと言ってましたが、ambicmd.vim入れてない自分の環境でも再現できたので、vim-jp/issuesに登録することにしました。(eskkはコマンドライン履歴はいじってないし...)

[2012-06-17 14:19] tyru commented on #210
@thincaさんに再現させる最小スクリプトがあるといいと言われたので、keymapで試して見ましたが、keymapだと再現しませんでした... (ちゃんと履歴に残った)

## 試した手順
1. `:set keymap=kana`
2. `:`でコマンドラインに入って、`<C-p>`で過去のコマンドを挿入する
3. `<C-^>`でkeymapを有効にして入力、エンター
4. 再び`:`でコマンドラインに入って、`<C-p>`を押すと2で実行したはずの履歴が**出てくる**

今度はeskkみたいにlmap使った場合を調べてみます。

[2012-06-17 14:23] tyru commented on #210
あれ？:lmap使った場合でもちゃんと履歴に残った...orz

## 試した手順
1. `:lmap a あ`
2. `:`でコマンドラインに入って、`<C-p>`で過去のコマンドを挿入する
3. `<C-^>`で言語モードを有効にして`a`を入力(`あ`が入力される)、エンター
4. 再び`:`でコマンドラインに入って、`<C-p>`を押すと2で実行したはずの履歴が**出てくる**

eskkが何かまずいことやってるんでしょうか...
誰か他の環境でも試してくれるとうれしいです...orz

[2012-06-17 14:40] tyru commented on #210
3つの方法を試した直後の`&iminsert`, `&imsearch`の値を調べてみました。

## 調査方法

挿入モードなのでインサートモードで`<C-r>=string([&iminsert, &imsearch])<CR>`を入力してそれぞれの値を調べます。
(eskkなんかは`g:eskk#keep_state`が1でないと勝手にoffになったりするし)

## Vimを起動した直後

`[0, 0]`

## keymap

`:set keymap=kana`する前の値: `[0, 0]`
`:set keymap=kana`した直後の値: `[1, 1]`

`:help 'keymap'`にあるように、正しいkeymapの値を設定すると`&iminsert`と`&imsearch`の値も勝手に設定される仕組みっぽいですね。(あんまり使わないので知らなかった)

## :

[2012-06-17 14:46] tyru commented on #210
あ、今回コマンドラインで問題が起きてるんだからコマンドラインで調べた方がよかったですね...

[2012-06-17 14:50] tyru commented on #210
自分の環境でしか試してないですが、`&imsearch`が-1の時が怪しかったのでeskkで1を使うようにしたら履歴に残るようになりました。
`&imsearch`が-1の時限定のバグ...?

[2012-06-17 15:00] ynkdir commented on #210
そのコミットなしで試して見ましたが再現できませんでした。

[code]

[2012-06-17 15:03] thinca commented on #210
`<C-h>` がユーザの入力だからでは?

[2012-06-17 15:03] tyru commented on #210
eskkも`:lmap`使ってるし、`:lmap`の手順に`:set imsearch=-1`をするようにして、eskkと同じように再現しなくなるか、というのを試そうとしてますが、`&imsearch`の値がコマンドラインモードを抜けた時に変わるのか、なんかうまくいかない...

あ、そういえばコマンドラインモードでもインサートモードでも`<C-^>`した瞬間に`&iminsert`と`&imsearch`が変わる訳ではなくて、一旦`<Esc>`して(コマンドライン|インサート)モードに入り直さないとオプション値が変わらなかった気がする。

[2012-06-17 15:08] tyru commented on #210
@ynkdir 多分@thincaさんの言う通りで、自分の所でも@ynkdirさんのケースだとちゃんと履歴に残ってました。
履歴に残らないケースは以下のようなケースですね。

[code]

[2012-06-17 15:09] ynkdir commented on #210
`<C-h>` なしでも変わらないです。

[2012-06-17 15:10] ynkdir commented on #210
そのhogeの手順も大丈夫です。

[2012-06-17 15:15] tyru commented on #210
あれ...あ、すいません。
そういえば[↑のコミット](https://github.com/tyru/eskk.vim/commit/4e640eec163b4e4a16598cca740293f666493ee6)でeskkに修正いれたので最新版だと再現しないですね。

...と思って今試したら再現する...
すいません、混乱してきましたorz

[2012-06-17 17:22] koron commented on #210
入力した内容にも依存しているということはありませんか?履歴の上の方にあるのと同じ内容を入力した場合に、特定の条件下ではその履歴が一番下に来ないみたいなことはありがちなバグです。

あとはヒストリ操作系のプラグインが入っているとか。

[2012-06-18 00:23] mattn commented on #210
そもそもwindowsでは何故かコマンドラインでのskk onが出来ないのであった。

[2012-06-18 00:46] mattn commented on #210
あ、僕のミスだった＞skk on

[2012-06-18 00:47] mattn commented on #210
再現しないなー

[2012-06-18 03:48] ynkdir commented on #210
eskk + `:cnoremap <C-p> <C-p>` で再現できました。

[2012-06-18 03:50] mattn commented on #210
なんだそれw

[2012-06-18 03:52] ynkdir commented on #210
最小手順

[code]

で `:e x` が履歴に入らない

[2012-06-18 03:53] mattn commented on #210
KeyTyped を見てるのかな。

[2012-06-18 03:56] mattn commented on #210
キーを見てる気がする。

http://code.google.com/p/vim/source/browse/src/ex_getln.c#1903

[2012-06-18 04:01] thinca commented on #210
念のため補足しておくと、完全にキーマッピングから入力されたコマンドが履歴に残らないのは仕様です。
これは`<Plug>`なんかで提供されたキーマッピングがコマンドを実行した場合を考えれば当然の仕様です。
ただ、このように細切れで入力された場合は残ってくれた方が嬉しいですね。

[2012-06-18 04:27] mattn commented on #210
typeahead の仕組みからすると難しいんじゃないかな。

[2012-06-18 13:24] tyru commented on #210
@ynkdir あ、すいません...
横着して`vim -u NONE -i NONE`試してませんでした...orz
自分は`:cnoremap <C-p> <Up>`してます...orz
`<CR>`もeskk使ってればマッピングされるので、さっきの手順の入力は全てマッピングですね。

マッピングの仕様なんですね。
<del>対話的かどうかで履歴に残すようにするとかできないんですかね...
そもそも対話的かどうかを見分ける方法がない...？</del>
typeaheadの仕組みからすると難しいんですね。

[2012-06-19 12:21] heavenshell opened #211 "set tags でワイルドカードを設定しPHP のオムニ補完を実行すると QuickFix ウインドウが開く"
PHP でオムニ補完を実行すると補完のポップアップが実行されずに、QuickFix のウインドウが開きます。
## 再現手順

[code]
1. vim -u .vimrc_simple sample.php で Vim を起動
2. <?php for と入力
3. 入力モードのまま <C-x><C-o> でオムニ補完を実行
4. QuickFix のウインドウが開く
## 再現環境
- Scientific Linux 6.1 Vim7.3 (最新版ソースを vim.org からダウンロードしコンパイル)をターミナルから使用
- MacVim Kaoriya Vim7.3(最新版のバイナリをダウンロードし使用)をターミナルから使用

Linux の Vim と MacVim では挙動が少し異なり、
- Linux の Vim では エラーメッセージが表示後 QuickFix が開き

[2012-06-20 00:45] mattn commented on #211
`tagfiles()` がバグってそげ。

[2012-06-20 00:54] mattn commented on #211
vim が内部で行う findfile は `;` があった場合に上方検索を行うので、どんどん検索してメモリが足らなくなったのだと思います。この場合、`;` はどうしても必要ですか？

[2012-06-20 00:56] mattn commented on #211
ちなみに、`;` を上方検索として使う場合

`/usr/include/sys;/usr` の様に `;` の後に上方リミットとなるディレクトリを指定します。これが無い所を見ると、おそらく設定間違い？

[2012-06-20 00:56] mattn commented on #211
まぁ、`;` が空の時に無限回に検索にいく vim も vim ですが。

[2012-06-20 01:00] mattn commented on #211
あ、ちなみに僕が解析したのは

[code]

の件です。これは本来 vimscript を使っている限りでないエラーなのです。これはメモリ不足になったのが原因だと思います。
quickfix が出る件は別途調べます。

[2012-06-20 01:02] mattn commented on #211
すごい簡単でした。tags ファイルが見つからない場合に vimgrep してます。その結果 quickfix が出てますね。
tags ファイルは中身も見て、function があるかを確認しているので、python の def な tags は無視されて、結果 vimgrep が行われた...という事です。

[2012-06-20 01:05] heavenshell commented on #211
ありがとうございます。
手元の MacVim で `set tags+=$HOME/.vim/tags/**3/tags;$HOME` とした所、現象が発生しました。
(Linux でも発生するかは帰宅してから確認します)

[2012-06-20 01:09] mattn commented on #211
ml_get のエラーは出ますか？どっちかっていうとそっちが気になります。
ちなみに quickfix の件は

[code]

で直りませんか？

[2012-06-20 01:15] mattn commented on #211
良く見たら結構おうちゃくだなこの処理w

a:base に正規表現が混じってたらアウトだ。

[2012-06-20 01:27] heavenshell commented on #211
MacVim では元々 ml_get の方エラーは出ないです。
SL でやった時に発生しました。
ちょっと手元に環境がないので、しばらくお待ち下さいませ。

QuickFix の件はご提示のパッチで行けました！

[2012-06-20 01:33] mattn commented on #211
こっちは vim_dev に投げておきます。あざす。

[2012-06-20 01:48] mattn commented on #211
報告ed

https://groups.google.com/d/topic/vim_dev/BCc5aOG_RT0/discussion

[2012-06-20 02:20] mattn commented on #209
ひとまず問題では無くなったので閉じます。

[2012-06-20 02:20] #209 closed, assigned to mattn

[2012-06-20 02:22] mattn commented on #210
タイトル変えました。

[2012-06-20 02:23] mattn commented on #190
これってその後...

[2012-06-20 02:25] mattn commented on #181
@ynkdir ↑のパッチだと問題ありましたか？もしくはそっちの方がスマート？

[2012-06-20 03:07] ynkdir commented on #181
より分かりやすいかなというつもりで投稿しましたがよく考えると上のパッチはうまくいかない気がしてきました。
例えばモニターを左右に並べて左（プライマリ）が50x50で右（セカンダリ）が100x100というサイズで、ウィンドウがセカンダリにあるとき、xoffが50になると思います（タスクバーが無いので0にならないといけない）。
今ちょっと試せませんが。

[2012-06-20 03:13] mattn commented on #181
SetWindowPlacement はモニタ内座標だったかと思います。

[2012-06-20 03:41] ynkdir commented on #181
left=0,top=0 で常にプライマリに移動してしまうということで以前あの辺直したはずなのでモニター相対でなかった気がします。
後で確認します。

[2012-06-20 03:43] mattn commented on #181
お願いします

[2012-06-20 08:00] ynkdir commented on #181
確認しました。
モニター相対座標ではなかったです。
タスクバーの無いワークエリアでは GetWindowPlacement() と GetWindowRect() は同じ RECT が返ってきます。
で、上のパッチ確認しましたが、ウィンドウがセカンドモニターにあるときにうまく動いてませんでした。
`:set lines=xxx` でリサイズするとウィンドウが二つのモニタの間に移動します。
たぶん解像度が違うとうまく動かないはずです。

[2012-06-20 08:04] mattn commented on #181
お手数ですが、もしつっこまれたらその辺を英語(汗)で説明してあげて下さい。

[2012-06-20 08:32] ynkdir commented on #181
了解です。一応メール出しときます。

[2012-06-20 12:11] mattn commented on #185
入った。

7.3.559

https://groups.google.com/d/topic/vim_dev/plGpUcylLBs/discussion

[2012-06-20 12:13] mattn commented on #185
@koron 今回の修正は `_WIN32_WINNT >= 0x0500` が必須なのでビルドの際、気を付けて。ちゅうか Windows 98 で vim 使う人もうおらんのちゃう？

[2012-06-20 12:15] koron commented on #185
@mattn VC10でコンパイルしてるんだけど、2000とかもうとっくに動かないらしいよ。

[2012-06-20 12:21] heavenshell commented on #211
Linux でも再現しました。
`set tags+=$HOME/.vim/tags/**3/tags;$HOME` でエラーメッセージが表示されました。
因に VM 環境でメモリが 512MB しか割り当ててないのも要因かもしれません。

ご提示のパッチを適応した場合、再現しませんでした。

[2012-06-20 12:21] koron commented on #190
完全にひっかかってますな。

[2012-06-20 12:22] koron commented on #190
対策するのもめんどそうだが…

[2012-06-20 12:25] mattn opened #212 "tags に /path/to/**/tags; を使うとメモリ枯渇になる件の検討"
#211 より部分転載。

[code]

の様に設定すると

[code]

が発生したらしい。

tags に ; を使うと上方検索になるので、/ まで検索に行ったのかと思う。ただし heavenshell さんが言うには

[code]

でも発生したとの事。

OSはLinux、メモリは512M
基本、検索だけならメモリを溜め込む必要無いのでエラーでなさそうなんですが...

[2012-06-20 12:26] mattn commented on #211
本件は `autoload/*.vim` だけにして、エラー部分は #212 でやります。

[2012-06-20 12:29] heavenshell commented on #211
承知しました。
お手伝いできる事があればしますので、お声がけ下さい。

[2012-06-20 12:31] mattn commented on #97
この件の追加パッチが 7.3.561 で入った。
これでようやく終止符？

[2012-06-20 12:38] mattn commented on #211
phpcomplete.vim の author にコンタクト取れとなw
重い作業だw

[2012-06-20 22:16] Shougo commented on #97
対応有り難うございました。

[2012-06-21 14:02] wiredool opened #213 "Windowsで$TMPにスペースが含まれているとsystem()が一時ファイルを開けない"
$TMP に半角スペースが含まれると system() の実行がうまくいかないようです。

スペースを含まない場合は動きます。

[code]

スペースを含んでいると一時ファイルが開けないようです。

[code]

また、 C:\Temp 内に with というファイルが生成されていました。

確認した環境は
WinXp, Win8CP
gVim 7.3.524
です。

[2012-06-21 14:41] h-east opened #214 "linuxでのmake testがパスしない"
7.3.530以降のどこかで、fedora15でのmake testがパスしなくなっています。

PuTTYからremote login

[code]

[code]

※test16はGUIのテストです。CUIのconfigureなのになぜ実行される？？

補足情報

[code]

7.3.529 でmake testがALL DONEになるのは確認しています。
特に調査とかしてません。
とりあえず報告。

[2012-06-21 17:22] wiredool commented on #214
PuTTY で入った AzureのCent62 と
ローカルVMのXのGNOME Terminalではtestパスを確認しました。

[code]

どちらもuname同じでした…

[2012-06-22 00:44] mattn commented on #214
@wiredool

[code]

してもらえますか？puttyでX転送してそうな気がします。

[2012-06-22 00:59] mattn commented on #213
緊急度は高いですか？

https://groups.google.com/d/topic/vim_dev/GLc8hiwHHog/discussion

実はこの件と絡んでいて、これがどう動くかで直し方が変わってきそうなのです。

[2012-06-22 03:54] wiredool commented on #214
了解です。
後ほど確認してお知らせします。

[2012-06-22 04:02] wiredool commented on #213
優先度は低いです。

以前に悩んでいたことがあり、今回は故意に引き起こしました。
また、原因が$TMP内のスペースの有無と分かり、
一応回避もできるので問題になることは少ないと思います。

[2012-06-22 06:39] koron commented on #213
今手元のWin7で `echo $TMP` したら `C:\Users\koron\AppData\Local\Temp` になった。
もしかしたらXPだと `C:\Document and Settings\...` みたいになってアウト?
それとも `C:\Document~1\...` とかになってセーフかな?

[2012-06-22 06:41] mattn commented on #213
セーフ。

[2012-06-22 13:03] wiredool commented on #214
Azureの方は $DISPLAY が空でした。

[code]

(以下はおかしなことをしているかもしれません)
また、ローカルの方で

[code]

を行ったところ、最初のテストで通りませんでした。
https://gist.github.com/2972577

その後にXをうごかしてテストすると全て通りました。

[code]

[2012-06-23 15:06] h-east commented on #214
あれ？？
`--disable-gui` を付けて ./configure したらmake testをPASSしました。(7.3.566でもOK)
今まで `--disable-gui` 指定したことないんだけどなぁ。
時間のある時に変化点探してみます。

[2012-06-23 15:13] h-east commented on #214
うーん。wiredool さんのはよくわかんない。仮想環境とはいえ shutdown now したらshutdownしちゃうんじゃないのかな(_´ω｀_)

[2012-06-23 16:41] wiredool commented on #214
`shutdown`後にtestがうまくいかない原因は分かりました。
$HOME がみつからず、.viminfo の書き込みに失敗していたようです。

CentOSでは `-p` などを付けずに `shutdown` を実行するとシングルユーザモードに、
`init 5` を実行するとran level 5 になり、Xやその他いろいろが止まったり走ったりします(するつもりでいます)。

シングルユーザに移行した際に $HOME が消えているのが問題で、存在すれば空でも良いらしく、

[code]

で、テストがすべて通りました。

---

$HOME が無い状態で vim でファイルを開いたときのエラー

[code]

[2012-06-30 17:16] h-east commented on #214
変化点は7.3.530。この修正が入るとtest16の挙動が変わる。

チェンジセット:   3539:81d5f3a3e27f
タグ:             v7-3-530

[code]

もともと ./configure には `--with-gnome` を指定してた。(指定しなくってもenable GUI になる)
なので GUIテストのtest16が実行されるのは問題じゃない。
enable GUIでconfigureしたものをCUI環境(PuTTY)でmake testした場合の挙動が7.3.530で変わった。
(厳密には `:gui -f` した場合の挙動が変わった)

7.3.529でtest実施した場合。(test16でE233出るけどそれは無視してALL DONE)

[code]

7.3.530でtest実施した場合。(test16でE233出てそれをfail

[2012-07-01 01:30] h-east commented on #214
その前に、`:gui -f` してディスプレイを開けないからといって
E233出して突然死するのはよろしくないですね。

[2012-07-02 02:15] koron opened #215 "ATOKとの組み合わせで未確定文字が不可視色になる"
私はATOKもってないので未確認。IMEの設定とカラースキームがバッティングしている可能性あり。

懸念事項は「最近の変更でIME側の設定(色設定など)を使うようになったのではなかろうか? その際、使い方を間違っているのではないだろうか?」という点。

直感的にはユーザ個別の事例になると推測されるので、だれか試してみて問題ないとわかった時点でworksformeで閉じて、記録に残すことになると考えています。

[2012-07-02 02:31] Shougo commented on #215
ATOKは体験版があったと思います。できれば、ATOKのバージョンや設定も知りたいところですが……。

http://www.atok.com/try/

私は一応ATOKを持っていますので（ただし ATOK 2008）、私の環境で試すことは可能です。

[2012-07-02 23:54] mattn opened #216 "pythonのerrorformatがうまく機能しない？"
http://d.hatena.ne.jp/osyo-manga/20120703/1341272911

[2012-07-03 05:12] koron commented on #216
簡単に言えば通常script系は `:make` からは実行しないからではないか。
ニーズがなかったので定義されていない、というだけのこと。

おっと。
`:compiler pyunit`
したらそれっぽいのが定義されてんぞw

その記事は…タイヤの再発明ってところか。

[2012-07-04 07:20] mattn opened #217 "inoremap 、 , が効かない"
https://twitter.com/sifikinoko/statuses/220414870544330752

この辺りから in-reply-to でさかのぼってもらえればストーリーは見えます。

[code]

を書いた vimrc (scriptencoding utf8) でタイプしてもダメ。

[code]

でもダメ。

vimのversionは7.3でpatchが1-429まで適応済み
(ubuntuのpackageのもの)
ubuntu 12.04 uim-skk

[2012-07-04 10:22] ynkdir commented on #217
ちょっと調べてお手上げだった記憶が…

[code]

[2012-07-04 10:24] mattn commented on #217
windowsなら動くのに...

[2012-07-04 10:33] ynkdir commented on #217
windowsでもenc=utf-8だと動かないです

[2012-07-04 10:35] mattn commented on #217
oh...

[2012-07-04 10:36] mattn commented on #217
K_SPECIAL あたりとかぶるんかな...

[2012-07-04 10:37] mattn commented on #217
なんかビンゴっぽいな。

[2012-07-08 19:19] thinca opened #218 "-complete=customlist の関数の ArgLead が数値になる"
検証用に以下のようなコマンドを用意する。

[code]

[code]

[code]

ちなみに `-complete=custom` でも同様です。

[2012-07-09 00:42] mattn commented on #218
https://gist.github.com/3073580

[code]

[2012-07-09 00:43] mattn commented on #207
残念ながら負けたっぽい。

https://groups.google.com/d/msg/vim_dev/FHa96EaUBOo/t3W2kU6XCb4J

[2012-07-09 00:56] mattn opened #219 "complete=customlist で空白を含んだ補完が出来ない"
[code]

で

[code]

とすると、`a b`と`a`で補完して欲しいが、空白で区切っているせいか`b`だけ扱われてしまう。
`C:\Program Fil`から`C:\Program Files`等が補完出来ない。

[2012-07-09 03:35] thinca commented on #207
すでに言われていることの繰り返しになってる部分もあるけど、反論してみた。
まずい点があったらフォローしてもらえると助かります。

[2012-07-09 03:45] mattn commented on #207
[code]

は素晴らしい案だな。

[2012-07-09 04:44] koron commented on #219
`isk` が効いている感じ?

[2012-07-09 06:52] mattn commented on #219
`isf` かもしれない。ソース見てないけど。

[2012-07-09 06:53] mattn commented on #219
でもどちらにしろ、コマンドライン行は`\`でエスケープするという仕様だと思うのでそうあるべきだと思ったり。

[2012-07-09 13:28] ynkdir commented on #219
関係ないですが
`:Test a\b<Tab>`
で候補の表示が `a` と `ab` と表示されます。
補完結果は `a\b` がちゃんとでます。

[2012-07-09 13:47] ynkdir commented on #219
あーなるほど表示はファイル名補完と同じか
失礼しました。

[2012-07-10 09:12] mattn commented on #219
誰か試して貰えませんか

[code]

https://gist.github.com/3082231

[2012-07-10 09:27] mattn commented on #219
一応このパッチで

[code]

使って `C:\Program Files\` 以下のフォルダも補完出来てます。

[2012-07-10 09:31] mattn commented on #219
あ、このパッチTOMBの問題があるな。

[2012-07-10 11:34] ynkdir commented on #219
あとバックスラッシュのエスケープも必要そうな気がします。
`:help <f-args>` の例のような。

[2012-07-10 11:43] mattn commented on #219
前から回さんと無理ですなこりゃ。

[2012-07-10 11:44] mattn commented on #219
誰かやりませんか続き

[2012-07-10 12:21] ynkdir commented on #219
文字化け発見

[code]

ex_docmd.c:uc_split_args()

[2012-07-10 12:22] mattn commented on #219
いわゆるTOMBすね

[2012-07-10 13:18] ynkdir commented on #219
とりあえずuc_split_args()の件は投げてみました。

[2012-07-10 15:47] saitoha opened #220 "提案：SGR形式のマウストラッキングサポート"
パッチ：https://gist.github.com/2857753
- 概要
  このパッチは、改良された拡張マウスレポーティング SGR(1006)形式のサポートと、その安全な自動認識サポートを追加するものです。
- 変更点
  - このパッチを適用し、bigフューチャーセットでビルドすると、あたらしいマウスレポーティングオプション ttymouse=sgr がサポートされるようになります。
  - この設定では、xterm標準やX10互換形式のマウスレポーティング(ttymouse=xterm/xterm2相当)をうけとったときも、安全にデコードされます。
  - +termresponseでコンパイルされたvimが、起動時に端末をxtermのパッチレベル277以上と認識したとき、このオプションは自動で設定されます。
- メリット
  - ttymouse=urxvtは、ノーマルト

[2012-07-10 16:26] h-east commented on #220
@saitoha すばらしい。Good Job.

[2012-07-10 17:02] thinca commented on #37
todo.txt 3782行目にこんなの見つけました。

[2012-07-10 20:01] thinca commented on #218
`call_vim_function` の引数増やしたら、引数の宣言も増やす必要がないでしょうか?

[2012-07-10 22:55] koron commented on #220
Nice work!

ところで、このパッチを投稿した意図はどの辺ですか?
- パッチ自身をさらに改良するため
- vim-devにvim-jpとしてpushするため

[2012-07-10 23:54] Shougo commented on #37
やはりtodoにあったんですね。最近ソースコードを追っていたんですが、これの実装は楽じゃないですね。
補完のコードはコマンドラインモードに過度に依存しています。
だから今までパッチを書く人がいなかったんだろうなぁ。

[2012-07-11 00:13] mattn commented on #218
thank you.

[code]

https://gist.github.com/3087076

[2012-07-11 00:15] mattn commented on #218
このまま出します。

[2012-07-11 00:16] saitoha commented on #220
その両方になります。
以前Google Group/メール経由で投稿したのですが承認されず、あきらめたくなかったので代理で投稿していただける方を探していたところ、@mattnさんにこちらを紹介していただきました。
また、パッチ自体の問題や改良点をご指摘いただけたらと思います。

[2012-07-11 00:19] mattn commented on #37
COMPLETEDONE イベント入ったけど、イベントのエキストラ情報として足りない物があったら言ってほしい

って言ってるので関連する人は今の内に確かめないと互換性がなくなる説。

https://groups.google.com/d/msg/vim_dev/XDFDQ8rkBII/7uHUjwuLghIJ

[2012-07-11 00:25] mattn commented on #218
https://groups.google.com/d/topic/vim_dev/a34uSW04wQ4/discussion

[2012-07-11 00:31] mattn commented on #220
good job!

@koron

私が薦めたからです。MLにメアドが登録されないらしくて投稿代理をお願いされておられたので、レビューもかねてこちらで引き受けるつもりでvim-jpを薦めました。

@saitoha vim_devにpushはしますが、contribute author は @saitoha さんの名前になります。お名前教えて頂けますか(若干ハンドル気味でもok：前例 thinca)。

パッチの内容も目検ですがokだと思います。

[2012-07-11 00:33] mattn commented on #219
@ynkdir++

さて、のこるは私の仕事か。
互換性くずれるので蹴られる可能性あるけど。

[2012-07-11 00:33] koron commented on #220
vimdevに登録できない件も聞くために
メアドも教えてもらったらどうでしょう?

[2012-07-11 00:45] mattn commented on #219
こんなかんじか

[code]

[2012-07-11 00:45] saitoha commented on #220
Hayaki Saito user@zuse.jp
で投稿しました。アカウント名がuserっていうのがスパムっぽくてだめだったかもしれません。

[2012-07-11 00:46] mattn commented on #220
後でlinuxで確認します。

[2012-07-11 00:50] mattn commented on #219
暫く使ってみて問題ないなら今日中に出します。

[2012-07-11 00:54] koron commented on #37
あれは #14 の方かも。

[2012-07-11 00:54] saitoha commented on #220
よろしくおねがいします＞＜

[2012-07-11 01:02] mattn commented on #14
メンバには通知されてるはずだけど #37 から転載

COMPLETEDONE イベント入ったけど、イベントのエキストラ情報として足りない物があったら言ってほしい

って言ってるので関連する人は今の内に確かめないと互換性がなくなる説。

https://groups.google.com/d/msg/vim_dev/XDFDQ8rkBII/7uHUjwuLghIJ

[2012-07-11 01:31] Shougo commented on #14
報告ありがとうございます。私も確認しておきます。

[2012-07-11 01:33] Shougo commented on #14
もう最新版に入っているのなら、neocomplcacheに学習機能を実装して確かめたほうが良さそうですね。

[2012-07-11 01:34] Shougo commented on #14
あ、でもこれは補完した通知しか無いので、KoRoNさんのパッチのように「補完した候補」と「補完した時のbase」の情報はぜひともほしいです。

[2012-07-11 01:44] mattn commented on #14
あれ？動いてる？

[code]

[2012-07-11 01:53] Shougo commented on #14
`:autocmd CompleteDone`で確認するとわかるのですが、autocmdの登録がおかしなことになっています。

[2012-07-11 01:55] mattn commented on #14
あー、グループ名と同じはまずいか

[code]

[2012-07-11 01:56] Shougo commented on #14
今度は動きました！

[2012-07-11 02:20] mattn commented on #14
エキストラ情報についてですが、辞書登録する場合って変換元に対して複数ある候補の内、ある候補を選んだという結果を登録する訳で、つまりは辞書登録に必要なのは
- a:base
- 最後に選んだ候補

になります。CompleteDone イベントは補完関数とは別の関数になるので a:base を参照しようと思えばスクリプトスコープに格納しておく必要があります。
その際、a:findstart も保持しておけば取れるかな。つまり、a:base を外に保持しないといけないという制約がある時点でエキストラ情報を貰う意味って無くなってくる。

[code]

[2012-07-11 02:26] Shougo commented on #14
はい。たしかにそれを使ってくればいいですね。
ただし、一つ問題になりそうなのは、どの補完の候補が選択されてイベントが呼ばれたのか
autocmd側でわからないのです。例えば組み込み補完の選択でautocmd関数が呼ばれると、学習機能が誤作動する可能性があります。KoRoNさんの実装では補完関数に紐づいているため、そのような問題はありませんでした。

[2012-07-11 02:42] koron commented on #14
https://groups.google.com/d/msg/vim_dev/XDFDQ8rkBII/k8IHseuA8ecJ

とりあえずこんな感じで
1. (必須)ユーザがどの単語を選択したか
2. (オプション)a:base の情報

が欲しいと申告しておきました。

[2012-07-11 02:48] Shougo commented on #14
ちょっと試してみたのですが、このイベントはやはりオムニ補完やユーザ定義補完以外でも発動しています。
例：ファイル名補完
どの補完が選択されたかがわからないとまずそうです。

[2012-07-11 02:51] koron commented on #14
それはスクリプト側で大変だけどなんとかできませんか?
最終候補一覧を覚えておいて照合するようにすれば弾けるし、
逆に言うと通常補完時の選択も学習データとできる、みたいな。

[2012-07-11 03:05] mattn commented on #14
単純な `<c-p>` だと補完関数が呼ばれもせずに done だけ走るのか。↑のサンプルだと s:complete_pos とか s:complete_base をクリアしないとまずいな。

[2012-07-11 03:14] Shougo commented on #14
それでもいいと思います。neocomplcacheでいえば、通常補完で選択された候補をキャッシュに反映することも可能です。
autocmd方式にはそういう利点があるから採用されたのでしょうかね。

[2012-07-11 03:16] koron commented on #14
実装が楽&他に影響がないのが明らか、かもw

[2012-07-11 03:16] mattn commented on #14
実装の容易さでしょ

[2012-07-11 03:17] koron commented on #14
かぶったw

それに私の版はパッチで入ったらマズイレベルの内容なので。

[2012-07-11 03:25] mattn commented on #14
あとgcが必要ってのもあるね。

[2012-07-11 03:38] Shougo commented on #14
確かに、KoRoNさんのパッチだと変更点が多かったですね。

[2012-07-11 04:06] mattn commented on #219
良く考えたら、補完開始位置が決定出来ないので、完全に -complete=file を擬似出来ないんですよね。これ。
`-complete=omnicunc,MyOmniFunc` 入れるってのもアリ？

[2012-07-11 09:18] ynkdir commented on #219
むずかしい...
omni補完のときみたいに返り値=辞書型で拡張して区切りと補完候補を返すのが簡単そうですがどっちにしろごちゃごちゃしますかね...

良いのか悪いのかわかりませんがそのパッチだと -complete=custom(list)? 以外も影響ありますね。

例えば `~/.vim/colors/a b.vim` というファイルを用意して

[code]

としたときの動作。

[2012-07-11 09:23] mattn commented on #219
ちゃんと動いてます↑

[code]

は補完できないけど

[code]

では

[code]

に補完できてます。

[2012-07-11 09:37] ynkdir commented on #219
マッチするファイルがあるときの動作が少し変です。

[code]

まあこの場合はパッチとは関係なくどっちにしろ空白入りの名前はだめみたいですが (:colorscheme コマンドの補完では大丈夫)。

custom以外の補完メソッドへの影響が意図的かどうかが心配だったので意図的であればいいと思います。

[2012-07-11 09:41] mattn commented on #219
あー、colorがエスケープして出してないから次回から空白扱いされるのか

[2012-07-11 09:44] mattn commented on #219
ちゅうか、エスケープすんのスクリプトの仕事じゃない気がする。↑のもしないべきだ。

[2012-07-11 10:04] mattn commented on #219
あれ？

[code]

の時は `a b` にならないですよね。

[2012-07-11 10:04] mattn commented on #219
あ、すんません。候補があったときの話か。

[2012-07-11 10:06] mattn commented on #219
colorに関してはこれで直ります。

[code]

[2012-07-11 10:08] mattn commented on #219
今回EXPAND_COLORを足しましたが、なんかコンテキストによってエスケープしたりしてなかったりするので、直さない方が良い気がしてきた。

[2012-07-11 10:11] mattn commented on #219
@ynkdir 他にもこんだけあって、どれがエスケープ必要かは別の議論でやるべきかと思うので、一旦外してよいですか？

[code]

[2012-07-11 10:21] mattn commented on #219
んー。でも迷うな。これ解決しないと根本の問題が直ってない。

[2012-07-11 10:31] ynkdir commented on #219
外して構わないですすいません。

[2012-07-11 10:40] mattn commented on #219
それか EXPAND_USER_LIST だけつけるのもありかも。そうすると一貫性は出来る。

↑のスクリプトも fnameescape() ははずせる。

[2012-07-11 10:43] mattn commented on #219
あー、でもなー。もともと

[code]

となってるからファイル名に絞ってるんだよなー。↑のパッチだけ投げて、この件はおまけにします。
なんどもすみません。

[2012-07-11 10:50] koron commented on #219
ソース見ず&変更量が多くなりそうな提案で申し訳ないけど、先にスペースでsplitして、その後の各要素でカーソル位置考慮して補完するんじゃダメなのかな?

今はコマンドラインのパースを迂回して、文字列から直接補完対象を決めようとしている、から大変になっているように見える。なのでコマンドラインのパースして各要素に分解した上で補完対象文字列を確定したほうが簡単そうに見えるけど…

的外れだったらゴメン&無視してください。

[2012-07-11 10:50] mattn commented on #219
https://groups.google.com/d/msg/vim_dev/OH7dCKpHAbo/t6JW_JrlZLAJ

[2012-07-11 10:52] ynkdir commented on #219
ユーザーコマンドで <args> とか <f-args> で引数を取るときはどの補完メソッドでもエスケープ解釈されるので
ユーザーコマンドならエスケープする、というのがよさそうな気がしますが
xp にはそういう情報ついてないんですね...

[2012-07-11 10:53] mattn commented on #219
@koron 補完開始位置がcustomlistでは決めれなくてvimが決めるんです。それを解決するのがコマンドライン版の omni かなと思ってます。
@ynkdir そうなんす。

[2012-07-11 11:01] koron commented on #219
@mattn 2個以上引数があっても、指定できる補完方法は一個だけ? それだと厄介かもw

ところでcustom2とかいうキーワードを新設すれば、動作をドラスティックに変更しても問題がないかも。

[2012-07-11 11:06] mattn commented on #219
@koron そのcustom2がomnifuncになれば、、、と思ったところ。既存コードも使えるし(cmdlineだからモード見る必要あるけど)スクリプト開発者も慣れてるだろうし。

[2012-07-11 11:14] koron commented on #219
印象としてはuniteの一部がネイティブになる感じ
uniteが何してるか知らないんだけどw

[2012-07-11 11:23] mattn commented on #219
インサートモードの補完って

[code]

の _ の位置で補完する場合 `/path/to/` の位置が findstart で返す位置にしますよね。なので候補は `/path/to` の中のファイル一覧なんですよ。でもコマンドライン補完の場合 vim 側が補完開始位置を決めてしまうので、候補が

[code]

という `/path/to` も含んだ物になっちゃうんです。インサートモードの場合は file1 と file2 だけです。これを同じにしたいなーという思いです。

[2012-07-11 11:30] koron commented on #219
@mattn 基本方針は了解&賛成。欲を言うと、いっそのことVimの中で補完フレームワークを共通化しちゃいたいですね。もちろんこのissueではないですが。

[code]

こんな関数で。

[2012-07-11 13:58] Shougo commented on #219
uniteと聞いて来ました。

私も、コマンドライン補完を共通のフレームワーク化するのに賛成です。オムニ補完が後付だから仕方ないですけど、
コマンドライン補完とオムニ補完のインタフェースが全く異なるのはあまり良いことではないと思っています。

ちなみに、uniteの補完でもコマンドライン補完を使用している関係上、空白で補完できないという同じ問題があります。
確か、unite側で無理やり対応していたと思います。どこまで対応できていたかは覚えていませんが……

[2012-07-13 01:46] mattn commented on #220
試してみました。
パッチを当て、gnome-terminal のフォントを monospace 1 に設定。`:set ttymouse=sgr` `set mouse=a` して、`1000ax<esc>` で横いっぱいに文字を並べたあと、300文字目くらいをクリックしてみましたが、カーソルが移動出来ませんでした。
すこしずつクリックする位置を左に寄せていったら、222文字目でクリック出来ました。
何か手順が間違ってますでしょうか？

[2012-07-13 03:50] heavenshell opened #221 "矩形選択を使用して複数の行に文字を入力した場合のインデントと入力される文字の挙動について"
仕様なのか、不具合なのか分からなかったので質問します。
## 現象

矩形選択で文字列の前に複数行に文字を入力した際に、意図しない所に文字が入力される

以下の vimrc で発生しました。

[code]
## 再現方法
- 上記の vimrc を利用して vim を起動する
  vim -u ~/.vimrc_simple samle.py
- 以下を入力する

[code]
- `}` のインデントの位置を変更する

[code]
- `}`の位置で `<S-o>` を入力して `{}` の間に移動し入力モードに

[code]
- `foo` の位置が気に入らないので、`foo` の前にカーソルを持ってきて入力モードで `<BS>` を入力しインデントを戻す

[code]
- `<o>` を入力して `foo` の次の行に移動し入力モードになり、`'bar': 'barr'` を

[2012-07-13 03:57] mattn commented on #221
最初に編集を開始したファイルはft=pythonですか？

[2012-07-13 03:58] mattn commented on #221
あー書いてました...すみません。

[2012-07-13 03:58] heavenshell commented on #221
はいそうです。他の ft で再現するかまでは見てません…。

[2012-07-13 04:11] heavenshell commented on #221
ft = javascript や ruby だと再現しないっぽい。
となると Python の問題っぽいですね…。

[2012-07-13 04:14] mattn commented on #221
`:` でインデントされるのが起因してますね。`<s-i>` の時点では挿入位置しか知らないので、`<esc>` 時に同じカラム位置の行に対して変更が適用されます。

[2012-07-13 04:30] koron commented on #221
- `:` を押すとindent調整が実行される → `indentkeys` による
- 前後の行までインデント修正される → `indentexpr` による

なのでft毎にこれらが設定される場合は、設定した奴の責任なので…
python用のpluginの問題ですね。

[2012-07-13 04:37] mattn commented on #221
↑のvimrcで

[code]

するとシフト量は1個なので、ブラケット時のインデントが直れば解決するかな。
ブラケット時は2個になってる。

[2012-07-13 04:49] h-east commented on #221
(ランタイムdir)/indent/python.vim : 74

[code]

(,{,[の次の行以降のインデント量が2なのは仕様みたいです。

[2012-07-13 05:02] mattn commented on #221
仕様じゃ`しよう`がないな。

[2012-07-13 05:03] koron commented on #221
で **しょう** ね

[2012-07-13 05:08] h-east commented on #221
@heavenshell if (納得) クローズ
`し`らべてみて
`よ`うやく分かった事実
`う`ぉー←感動中

[2012-07-13 05:33] koron commented on #221
@heavenshell $VIMRUNTIME/indent/python.vim を治してくれても良いのぜ? インデント量とかconfigurableに **しよう** ぜ!

[2012-07-13 06:56] mattn opened #222 "キーワード補完で不正な文字が補完される"
新規に開いたバッファで

[code]

と入力し、`<c-p>` をタイプするとマルチバイト文字の一部が表示される。

![](http://go-gyazo.appspot.com/ee6ab651c4bb46db.png)

[2012-07-13 06:57] mattn commented on #222
https://gist.github.com/3103237

[code]

[2012-07-13 06:58] mattn commented on #222
i 使わずに ifdef だけでやった方がいいかしら... この辺、意見希望

[2012-07-13 06:59] koron commented on #222
`今日` とだけ入力しても問題は発生しますね。

見た目的に `i` じゃなくて別の変数を新しく用意したほうが良いかも。
ifdefはひどいことになりそうだ…

[2012-07-13 07:00] mattn commented on #222
ただし少し上で i を使って文字列幅格納してる場所もあったのであった。

search.c:4747

[code]

[2012-07-13 07:02] koron commented on #222
だからこそですよ。

diffだけ見ると「ここで別の目的で書き潰して良いの?」って疑問に思うから。

[2012-07-13 07:06] mattn commented on #222
ここ len とかにするなら上も直そうよって思われるに１票

[2012-07-13 08:01] heavenshell commented on #221
仕様なら`し よ う`が無いですね。
困ったら自分でなんとか `し よ う`と考えてみます。

関係ないですけど、今日は`し ょ う`が焼きが食べたい気分になりました!

[2012-07-13 08:01] #221 closed, assigned to nobody

[2012-07-13 08:19] ttdoda commented on #220
gnome-terminalはSGR形式の拡張マウストラッキングに対応していません。
222桁というのは通常のマウストラッキングでの制限です。
非対応の端末エミュレータへの悪影響はなさそうですね。

SGR形式の拡張マウストラッキングに対応した端末エミュレータはUnix用だと以下の二つがあります。
・xterm (Patch #277以降)
・mlterm (3.1.2以降)

[2012-07-13 09:35] mattn commented on #222
とりあえずこのまま出しますー。

[2012-07-13 09:38] mattn commented on #222
https://groups.google.com/d/topic/vim_dev/FA2koEKWD7I/discussion

[2012-07-13 09:47] mattn commented on #220
了解です。試してみます。

[2012-07-13 10:44] mattn commented on #220
mlterm 3.1.2 を入れて試してみましたが、やはり 222 カラム以降が選択出来ませんでした。

[2012-07-13 10:49] mattn commented on #220
xtermで試してみます。

[2012-07-13 10:53] mattn commented on #220
xterm でもダメでした。起動直後に set ttymouse? として sgr と表示されているのでパッチも当たっていて、認識もされているかと思います。

[2012-07-13 11:01] saitoha commented on #220
@mattn
検証ありがとうございます。
- mlterm version 3.1.3 pre/2012-07-07で実験してみました。
  おっしゃるとおり222カラム以降の座標がとれません。
  vttestというツールで調べたところ、フォーマットとしてのSGRには対応しているものの、制限が回避できていないように見えます。
  作者に連絡してみます。
- xtermのバージョン(xterm -v)はいくつになっていますか。

[2012-07-13 11:05] mattn commented on #220
すみません。xtermはいけました。mouse=a してなかったです＞＜
mlterm も再度試しましたが、xterm2 で認識されていました。

[2012-07-13 11:11] saitoha commented on #220
あれ、mlterm、今度はとれた。リサイズが影響したのかな。勘違いっぽいです。

[2012-07-13 11:16] mattn commented on #220
こんなので良いでしょうか。

Hi list.

I've received a patch to support SGR mouse tracking on terminal.

http://invisible-island.net/xterm/ctlseqs/ctlseqs.html#Mouse%20Tracking
https://groups.google.com/forum/#!topic/vim_use/lo6PLRUu2Gg

This works well on xterm patch 277 or later.

Currently, vim can't recognize column number of mouse event which is greater than 222. This SGR's patch make it possible.
If appli

[2012-07-13 11:17] mattn commented on #220
そもそもmlterm-3.1.2上だと、ttymouse=xterm2 になってしまってます。

[2012-07-13 11:36] saitoha commented on #220
@mattn
英文ありがとうございます。
あと、未対応の端末でも正常に動作することを強調したいので、

With this mouse mode, vim will accept both "Normal (xterm2)" and "SGR 1006" styled mouse reporting.

に相当する文章をつけくわえていただければと思います。

mltermはDA2というクエリによって、あなたは誰ですか、と訊かれたときに、xtermのパッチレベル96を返します。なのでパッチ適用済みでも自動設定ではxterm2となるのは想定される動作です。ただしもしmlterm3.1.2以降で明示的にttymouse=sgrとしてもうまく動作しないとしたらちょっと問題なので、こちらで確認してみます。

[2012-07-13 11:38] mattn commented on #220
この部分確認します。

[2012-07-13 11:40] mattn commented on #220
あ、いけましたw すみません。。。

[2012-07-13 11:44] mattn commented on #220
https://groups.google.com/d/topic/vim_dev/Knkk-NtBayw/discussion

[2012-07-13 11:47] saitoha commented on #220
ありがとうございます！

[2012-07-15 01:14] saitoha commented on #220
と返信がきたようですが、

以下のスクリーンショットを示して、
http://zuse.jp/vimdev.png

I started subscribing to vim_dev on 25 May, but my account (user@zuse.jp) seems to be banned on 27 May.

と、伝えていただければと思います。
よろしくおねがいします。

[2012-07-15 03:11] saitoha commented on #220
やはりリストの件は直メールで個人的に処理すればよさそうな気がしてきました。
アドレスをみつけたので送っておきます。

[2012-07-16 02:08] saitoha commented on #220
MLでの反応のとおりBram氏も身に覚えのないbanだったようで、無事解決しました。ご協力ありがとうございました。現在ではメールサーバがSPF/DKIMに対応していないとGoogleがspamと判断するようです。

[2012-07-16 14:19] koron opened #223 "GTKのIM関連のコード削除が妥当か検討する"
https://groups.google.com/d/topic/vim_dev/J0E0JL8QYAs/discussion

このスレでGTK+IM関連のhacking codeの削除が(おそらく中国人から)提案された。fcitx(中国語のIMらしい)にとっては不要な(もしくは誤動作を起こす)コードだとのこと。Bram氏は他の言語のGTK+IMユーザを聞きたいと言っている。該当するコードはコメントから推測すると韓国語用IMのAimらしいが…日本語向けにも副作用がありそうで怖い。

一般論としてIM設定によって動作を変えられるようにしたほうが良い。単に消すだけというのは禍根を残すことになる。一方UbuntuやFedoraみたいなメジャーどころと整合性が取れればそれで良い気もする。

だれかレビューして反応してくれると助かります。

[2012-07-17 00:09] mattn commented on #220
反応遅れました。すみません。
解決した様で良かったです。

[2012-07-17 00:17] mattn commented on #223
このコードは、IMが強制オフ出来ないXIMの為に、一度IMContextを壊す事で実現していたコードです。
僕の記憶では、kinput2はこれがなくても問題なく動作していて、skkinputはこのコードがあったとしてもなかったとしても、動きが変(RomaモードでIMオン状態)なので、このコードが消されたところで何も変わらないと思います。

もう少し思い出してみて、コメント付けてみます。

[2012-07-17 00:18] mattn commented on #223
そもそも起動時にIMがonになっている理由(Windowsでもこの動作)も、もとはと言えばkoreanのIMが原因だった気がする。

[2012-07-17 01:26] koron commented on #223
koreanめwww

[2012-07-17 03:23] h-east commented on #223
アントニオ猪木が叫ぶぜ
![](https://lh4.googleusercontent.com/-SCBXhPFtiwU/UATaaVp6h4I/AAAAAAAACKA/n__pvX8IfM8/s352/%E3%82%B3%E3%83%AA%E3%82%A2%E3%83%B3%E3%83%80%E3%83%BC.JPG)
コリアンダーッ!
ちなみに、コリアンダー == パクチー == シャンツァイ な

[2012-07-17 04:23] koron commented on #223
坦々刀削麺 + パクチー大盛り
![](https://lh4.googleusercontent.com/-GfL6XnvZdGo/T6dGegYZ8gI/AAAAAAAACOk/9xPuV67A1Ro/s685/12+-+1)

# 腹減った

[2012-07-17 09:04] mattn commented on #223
関連リンク: http://sourceforge.jp/projects/anthy/lists/archive/dev/2005-December/002737.html

[2012-07-17 09:18] koron commented on #223
ﾔﾍﾞｪ…そこはかとなくXIMの悪夢が甦るw

[2012-07-17 09:38] mattn commented on #223
いろいろ試してる内に、少しだけ改善出来る方法を見つけた。
`gtk_im_multicontext_set_context_id()` という関数のcontext名称にNULLを入れるとIMなし、つまり直接入力に出来る事が変わった。これを使えば、とりあえず現状、IMオンのままESCが押されてグチャグチャのノーマルモードになるという不具合は解消出来る。あとはこれが他のIMで問題なければいいが。

https://gist.github.com/3128350

[code]

[2012-07-17 11:29] mattn commented on #223
@ynkdir タイミング的に↑投げるなら今だろうか...誰か検証してーーーー

[2012-07-17 11:54] ynkdir commented on #223
うちのUbuntuでは期待通りオフになります。

しかし、imactivatekeyでオフるのが機能している環境(があるのかわかりませんが)ではimactivatekeyの代わりに入れるというわけにはいかないような…。
あー、`im_activatekey_keyval == GDK_VoidSymbol` ならオフにするだけしてみるというのでもいいのかな。
ただ件のメールの人はプラグインで自前でon/offするといってるのでそれだと邪魔になりますかね。

[2012-07-17 12:22] ynkdir commented on #223
すみません勘違いしてましたimactivatekeyのコードはオンにしてるコードでした…。

[2012-07-17 12:30] ynkdir commented on #223
なるほど、現状でも勝手にオフになるのか。自家製パッチのせいで気づきませんでした。
それならよさそうに思います。

[2012-07-17 12:35] mattn commented on #223
タイミング的にはこの話とは別にした方がよさそうですね。

[2012-07-17 12:38] mattn commented on #223
そもそもこのon-the-spotやめてしまいたい

[2012-07-17 12:42] ynkdir commented on #223
`gtk_im_multicontext_set_context_id(GTK_IM_MULTICONTEXT(xic), gtk_im_multicontext_get_context_id(GTK_IM_MULTICONTEXT(xic)))`
でもオフになりますね。

ibus以外だとどうなるかも気になりますねー。

[2012-07-17 12:47] mattn commented on #223
uimでも動いた。

[2012-07-17 12:50] mattn commented on #223
こっちの方が説得しやすいな

[2012-07-17 12:59] mattn commented on #223
パッチ修正

https://gist.github.com/3129261

[code]

[2012-07-17 13:16] ynkdir commented on #223
ただこれundocumentedなのが心配です。

あとこの場所は

1) IMを無効化する (p_imdisable)
2) IMを活性化する (im_activatekey)
3) IMを非活性化する (xic再初期化)

の三つをやってるのでブロック全部置き換えるのはまずい気がします。

[2012-07-17 13:21] ynkdir commented on #223
しかし今のハックを消して新しいハックを入れようというのはBramがいい顔しないような気ががが…

[2012-07-17 14:10] ynkdir commented on #223
あーそうか、自分でon/offコントロールするからvimのon/off機能を削除しよーぜという提案なのか
なんかいろいろ勘違いしててへんなこといってるわーすみません

[2012-07-17 14:49] k-takata opened #224 "hgコミットメッセージ用syntaxファイル"
hgのコミットメッセージ用のsyntaxファイルを作ってみました。
syntaxファイルの書き方もhgもよく分かっていないので、もっとこうした方がいいなど指摘がありましたらお願いします。

https://gist.github.com/3129572

しかし、vimはバージョン管理にhgを使っているのに、hgのsyntaxファイルがないのは何ででしょう。（実は既にある？）

[2012-07-17 15:13] ynkdir commented on #223
gtk_im_multicontext_set_context_id()はgtkのソースざっと見た感じだとim moduleを破棄->再初期化してるので
効果的にはたぶんim contextの再初期化と同じみたいですね。
んで NULL だとシステムのデフォルト値で再初期化になる...と。

[2012-07-17 16:41] ynkdir commented on #224
hg commit syntax file
https://groups.google.com/d/msg/vim_dev/wyGRE90I3-Y/aJonJcikTl4J
提出方法が悪くてほったらかしになってしまったみたいです

[2012-07-17 16:44] ynkdir commented on #224
知らん顔して出してしまうのがいいと思います。

[2012-07-17 23:30] koron commented on #224
メンテナとライセンスは明記したほうが良いですね。 @ynkdir さんが貼ってくれたやつはまさにそれを指摘されてそのあと音沙汰なしな感じですからw

syntaxの中身は良いですね。GJです。…ところで今は\zsとか\zeとかこの中で使えるのね…楽になったなぁ。

[2012-07-17 23:58] mattn commented on #223
素で xic 作り直すのがいいって事かな

[2012-07-18 01:17] ynkdir commented on #223
右クリックメニューでインプットメソッドを切り替えるのと同じなので再初期化よりはよさげですが
今あるコードを置き換えるメリットはあんまりないような気がします。

ふと思ったんですが (1)focusをin/outする (2)キーイベントをIMに通す/通さない で制御できそうな。
まぁこれもIMによって動いたり動かなかったりしそうですが...

Table-base Input Method みたいなのはモードの切り替えとかなさそうなのでノーマルモードではIM自体を無効化しないと使い物にならなそうなんですが、その辺の言語ユーザーの人はどうしてるんだろう...

(_xic の部分は適当)

[code]

[2012-07-18 01:28] ynkdir commented on #223
あーでも大抵はアルファベット併用するだろうしどうにかなってるのかな。

ノーマルモードでIMを殺してしまうのはあんまり美しくないか。。。

im context 二個持ちで切り替えるとかもあり…ないか。

[2012-07-18 01:33] mattn commented on #223
ちょっと今試せないんですが、もしかして

[code]

で実はIMがアクティブになったりしませんか？

[2012-07-18 01:40] ynkdir commented on #223
ibus は Table-base Input Method でもモードの切り替えあるな
im module の実装次第か...

[2012-07-18 01:43] ynkdir commented on #223
アクティブにならないです

[2012-07-18 01:48] mattn commented on #223
うむ...

あと、`cfあ`みたいなのは動かないって件もあるんですよね...

[2012-07-18 01:55] ynkdir commented on #223
ですね。`ik` で `k` がマップされるとかもありますね...textwidthの自動整形の問題も...
on-the-spot やめたいですね...

[2012-07-18 01:57] mattn commented on #223
その辺bramは認識無いと思う。

[2012-07-18 02:15] ynkdir commented on #223
そうですね

[2012-07-18 02:21] mattn commented on #223
中平さんのパッチ、.vimrcにiminsert=0って書くと動かないっぽい

[2012-07-18 02:31] ynkdir commented on #223
試していただいてすみません。たぶんいろいろダメだと思います。
ノーマルモードでIMを殺してしまうのもよろしくないですね。

[2012-07-18 02:33] mattn commented on #223
xicを作り直すだけでいいかもしれませんね。

[2012-07-18 02:48] ynkdir commented on #223
個人的にはそれ用のAPIがないなら無理やり実現しなくてもいいかなーと思うのでvim_devの全削除パッチはわりと賛成です。

[2012-07-18 02:52] mattn commented on #223
でも gtk_im_context_reset はプリエディットをキャンセルする動作しかしないので、xic 再生成とは違うと思うんですよね。

[2012-07-18 03:13] ynkdir commented on #223
IMコントロール機能自体を削除したいということなのであのパッチの目的としてはそれでokです。

[2012-07-18 03:22] koron commented on #223
それならIMコントロール機能を無効化するようconfigureすれば良いだけなの?

[2012-07-18 03:24] mattn commented on #223
IMコントロールできると思う。imak使わずに。

[2012-07-18 06:33] ynkdir commented on #223
@koron configureで変えるのはあんまりうれしくない気がします。それだと自分でパッチ当てて使うのとそんなに変わらないです。メールの人がどう思うかはわかりませんが...

@mattn まじですか。

[2012-07-18 07:20] mattn commented on #223
せっしゃ、嘘を付いたでござる

[2012-07-18 08:00] ynkdir commented on #223
oh...

[2012-07-18 12:02] k-takata commented on #224
メンテナ、ライセンス、URLを入れました。

[2012-07-18 12:26] k-takata commented on #224
投げました。
https://groups.google.com/d/topic/vim_dev/vwRhy-112aE/discussion

今まで何回かvim_devに書き込んだうち、2,3回ほど自分の書き込みが見えなかったことがあるのですが何なんでしょう。
もしかして今回も、と思ってそのことを書いておいたのですが、今回は問題なかったようで…。

[2012-07-18 15:44] ynkdir commented on #224
k-takata++

[2012-07-18 22:26] koron commented on #224
@k-takata ++

私は vim_dev に送るときはCcにBram入れちゃってますw

[2012-07-19 01:56] mattn commented on #223
chromiumなんかは、html input要素にあるime属性に対してどうやってアクティブにしてるんだろう...と思ってコード見たら、直接ibus使ってた...
vimもそうすべきなんだろうか...

[2012-07-19 06:17] koron commented on #223
直接ibus使うのに一票。で、configureでximにするかibusにするか選べるようにしとく、となお良い感じ。

[2012-07-19 09:34] ynkdir commented on #223
[これ](https://bugzilla.gnome.org/show_bug.cgi?id=346780) が入ってれば...

本体で全部のIMに対応するのは無理なのでやるならoptionかautocmdじゃないですか？ imactivateexpr的な何か。
Cのハンドルとか必要なやつはこれだと無理ですが。
あー、制御するなら現在のモードの取得(または通知)機能も無いとダメですね。

たいていは Insert{Enter|Leave} での対処でなんとか我慢できるとレベルだと思うので、その場合はIMモードの管理はユーザースクリプトで勝手にやる感じになるので、それはそれでおそらく妥協できるところだとは思います。
でもまーきっちり対応してたほうがうれしいですよねー。

[2012-07-19 10:00] koron commented on #223
私はだいたいこのポリシーw

で基本的に実現方法は問いませんが…
将来のメンテでの苦労はなるべく詰んでおきたい感じ。
mch_im_\* (名前はややうろ覚え)の関数群に必要な機能を閉じ込めたのも、
各種IM毎の実装を提供しやすくするため。

[2012-07-19 10:56] mattn commented on #223
真の vimmer なら libcall でやれる!

[2012-07-19 10:58] mattn commented on #223
問題は、IMオンのままノーマルモードに戻るのはまずいというのが僕の意見で、vim_devで話してる人の意見はそれでもいいという事。その人は、自分でステータスは戻すから...と言ってるけど、基本の動きとしては良くない。
imactivateexpr が設定されてれば xic 作り直さないってのなら賛成。

[2012-07-19 10:59] mattn commented on #223
せめて gtk_im_context_set_im_mode  の中身がシグナルだったら良かったのに...

[2012-07-19 11:01] mattn commented on #223
それか、xim_reset で、iminsert=3 だったら戻さないとか... (アドホックすぎる！)

[2012-07-19 12:04] ynkdir commented on #223
#ifdef でいいのか…

[2012-07-20 00:52] ynkdir commented on #223
関係ないですが ibus に "詳細/グローバルインプットメソッドの設定/すべてのアプリケーション間で同じインプットメソッドを共有する" というのがあってこれ設定してるとコンテキスト再初期化でもオフにならない。
いろいろありますねー。

[2012-07-20 00:57] koron commented on #223
Macと同じ動作にできるのかw

[2012-07-20 01:03] mattn commented on #223
むむー。いちど中平さんの xic_ のパッチを出してもいいかもね。

[2012-07-20 01:13] ynkdir commented on #223
いやーあれはまだ完成度がいまいちなのもありますがノーマルモードでIMを殺すというのが自分的にはあれかなーと…。

[2012-07-20 01:16] mattn commented on #223
vimにとってベストなのはibus直叩きだと思う。

[2012-07-20 01:18] ynkdir commented on #223
それにIMモードの取得ができないので結局は制御不能ですし

[2012-07-20 01:30] ynkdir commented on #223
でもメールの人はfcitx使いなわけで...

[2012-07-20 04:46] mattn commented on #223
imactivateexprいいねって返事来た。

誰か実装しない？

[2012-07-20 04:58] ynkdir commented on #223
https://gist.github.com/3148767
お試し用にざっくりハードコードで書いてみました。
オプションにすると最低でもactivate/inactivate用とstatus用の二ついるのでどうしたものかなーと。
関数一つで引数で分けるのもかっこ悪いきがするし。

[2012-07-20 12:35] thinca opened #225 "複数行の 'statusline' を扱いたい"
※画像はイメージです。

![](http://go-gyazo.appspot.com/7e7c437bb1df7a2d.png)

[2012-07-20 12:36] mattn commented on #225
速いw

[2012-07-20 12:38] thinca commented on #225
難しいのはわかってますが欲しいものは欲しいのでとりあえず要望だけだしておく作戦。

合わせて読みたい: #76

[2012-07-20 12:39] koron commented on #225
便利なのかねぇ?w

[2012-07-20 12:40] thinca commented on #225
ファイル名長い時とか分割しすぎた時とか横幅省略されることがあるので可能ならできると嬉しいですね。
あ、`'tabline'` も複数行したいです！複数行タブ。

[2012-07-20 13:52] h-east commented on #225
人は制限があった方が工夫してエクスタシー。

複数行＝＝2行ですか？それとも指定データが全て収まるまでビローンですか？

[2012-07-20 13:53] thinca commented on #225
任意行の方が自由度高くて嬉しいですね。

[2012-07-21 13:55] k-takata commented on #224
hg は、'HG: ' ではなく、'HG:' で始まる行をコメントと見なすようなので、パッチを修正しました。
前回の書き込みに対してBramから返事が来ていないのが…気になります。

[2012-07-22 05:24] h-east commented on #225
ネタとしてやってみました。
https://gist.github.com/3158492
- 3行固定です。(vim.hのSTATUS_HEIGHTの値を変更して再コンパイルすれば変更可能。。)
- オプション 'statusline' に @ アイテムを追加しました。(%@ を指定すると表示対象が次行になります)
- オプション 'statuslineheight' を追加していますが使っていません。

<br>
サンプル

.vimrc に以下のように書いて

[code]

このpatchの当たったVimを起動するとステータスラインが以下のようになります。
![](https://lh5.googleusercontent.com/-Vn69Gz0gy1U/UAuJtcw32gI/AAAAAAAACL8/vJP9jusuzHI/s595/vim_statuslines.png)

[2012-07-22 05:26] thinca commented on #225
カッコイイ！

[2012-07-22 05:36] koron commented on #225
ワザマエ!

[2012-07-23 15:47] h-east commented on #225
リアクションいただいた皆さんありがとうございます。
ちゃんと仕上げてみマッスル！
当面は週末しか時間割けないのでまったりになりますけどやりマッスル。

仕様的に要望、提案あったらここにコメント下さい。

[2012-07-23 16:01] thinca commented on #225
個人的な理想としては、
- 高さはウィンドウ毎に動的に変更可能
- 単純に `\n` が入っていたらそこで改行される
-  `%=` は行毎に使えると嬉しい

とかでしょうか。2番目は難しければ `%@` とかでも良いかとは思います。

[2012-07-23 16:28] h-east commented on #225
オプション 'statuslineheight' でウィンドウ毎に設定可能にする予定です。
'statusline’ の中身で行数を決定しない理由は↓。
https://gist.github.com/3158492#gistcomment-378007

現patchは既存の形式に沿って `%ほにゃ` のitem形式で改行を表そうとしています。今は`%@`です。
itemとして登録すべきと思います。

現patchでも可能ですよ。

<br>
そういえば 'tabline' も 'statusline' と同じ関数で内容表示処理してますから画面描画のtablineの高さ情報を上手く変更してあげれば、比較的簡単にtabline複数行対応出来そうですよ。

[2012-07-23 16:32] thinca commented on #225
`'tabline'` も欲しいですね！
無理に一度に出す必要はないかと思いますが。
タブの複数行は他のタブUIを採用しているアプリ(ブラウザとか)でも普通に見られるので、需要は結構ありそうです。

[2012-07-25 01:56] Shougo opened #226 "indent/vim.vimがignorecaseオプションを考慮していない"
標準で使用されているインデントプラグインであるindent/vim.vimですが、ignorecaseオプションがセットされている環境を考慮していません。

具体的には、次のようなコードになっています。

[code]

マッチに`=~#`, `!~#`ではなく、`=~`, `!~`を使用しているため、`set ignorecase`されている場合、大文字のコマンドでもインデントされてしまいます。
Vim scriptは大文字小文字を区別するため、この挙動は好ましくないのではないかと思います。
他のインデントプラグインも同様の問題があるかもしれませんが、調べていません。

[2012-07-25 04:57] koron commented on #226
たしかに変なことになりそうですね。とりあえず @Shougo さんにアサインしておきました。

[2012-07-25 08:58] Shougo commented on #226
了解です。パッチ書くのを目標にします。

[2012-07-25 15:26] thinca commented on #218
7.3.614 で取り込まれました！

https://groups.google.com/d/topic/vim_dev/XaQtqw-W614/discussion

[2012-07-25 15:26] #218 closed, assigned to mattn

[2012-07-25 16:53] h-east commented on #220
TODOリストに入りました。

[2012-07-25 16:54] #220 closed, assigned to mattn

[2012-07-25 17:02] h-east commented on #219
Patch 7.3.615 で入った。
https://groups.google.com/d/topic/vim_dev/7EH7mIS8N6U/discussion

[2012-07-26 00:33] mattn opened #227 "コマンドライン補完で omnifunc を使いたい"
#219 から派生。

インサートモードの補完は

[code]

の _ の位置で補完する場合 `/path/to/` の位置が findstart で返す位置となる。なので候補は `/path/to` の中のファイル一覧となる。しかしコマンドライン補完の場合 vim 側が補完開始位置を決めてしまうので、候補が

[code]

という `/path/to` も含んだ物になってしまう。インサートモードの場合は file1 と file2 だけになる。インタフェースを統一する為に、-complete に omnifunc を指定出来る様にしたい。

[2012-07-26 00:33] #219 closed, assigned to nobody

[2012-07-26 00:33] mattn commented on #219
閉じて #227 へ

[2012-07-26 00:42] koron commented on #227
I/Fを統一するのは賛成。ただしその場合omnifunc内ではバッファ上からの補完なのか、コマンドライン上からの補完なのか知る方法があるほうが良いかもしれない。引数を増やすのは好ましくないので `v:...` な変数とか使うのが良いかもしれない。

[2012-07-26 00:44] mattn commented on #227
`mode()` があるのでいまさら `v:` が採用される可能性は低いんじゃないかな。

[2012-07-26 00:45] koron commented on #227
`mode()` でちゃんと取れるならOK。タイミング的に間違った値が出てくるようなら、`mode()` を要修正ってことで。

[2012-07-26 01:05] mattn commented on #215
WindowsのIME APIには色を設定出来るAPIはありません。
IMEがやれるとすれば、ウィンドウの現在のデバイスコンテキストから情報を得るだけです。
情報を得るには

GetObject
http://msdn.microsoft.com/ja-jp/library/cc410355

を使い、最終で SelectObject したペンもしくはブラシを得ます。この値を使って、IMEの候補ウィンドウの色を設定しているはずです。この辺の挙動について最近(数年) vim 側で修正した事はないし、昔ATOK使ってた時にもこんな事になった事は無かった。
あるとすればATOKのバグかなーとは思いますが。

可能性があるとすれば

https://groups.google.com/d/topic/vim_dev/2I-2UaknBW4/discussion

これかもしれない。

[2012-07-26 01:08] mattn commented on #215
特に DefWindowProc に渡さず return 1L してるあたりは非常に怪しい。

[2012-07-26 12:01] ynkdir commented on #215
同じかわかりませんが

Microsoft Office 2003 SP3を導入すると、入力した文字が見えなくなったり、黒く反転して表示される
http://support.justsystems.com/faq/1032/app/servlet/qadoc?QID=035938

[2012-07-28 08:33] ynkdir commented on #207
r3682

[code]

[2012-07-28 14:48] thinca commented on #207
Bram 議論スルーして強行突破か…。

[2012-07-29 12:06] koron commented on #13
これは変わらないが、そこで変えたいという要求は今のところないので本issueは won't fix として閉じます。

[2012-07-29 12:06] #13 closed, assigned to tyru

[2012-07-29 12:13] koron opened #228 "iminsertが直ちには反映されない"
#64 からの分割&継続。

問題点: 編集モード中にautocmd CursorMoveIなどで
- iminsertを変更してもIMEに反映されない
- iminsertの値がIMEの状態を反映しない

これを即時反映したほうが良いのではなかろうか、という話。実装難易度は高くないが、要望がなければやらなくて良い内容。

[2012-07-29 12:13] koron commented on #64
継続issueを立てたのでコチラは imdisable に関して終わったということで閉じます。

[2012-07-29 12:13] #64 closed, assigned to koron

[2012-07-29 12:16] koron commented on #99
時間が経って何が問題かすらよくわからなくなったのでとりあえず won't fix で閉じますw

[2012-07-29 12:16] #99 closed, assigned to koron

[2012-07-29 12:17] koron commented on #138
翻訳ファイルの変更はtodo listに入ったはずなので閉じます。

[2012-07-29 12:17] #138 closed, assigned to koron

[2012-07-29 12:30] koron commented on #120
最新版ではもう修正されていた。

[2012-07-29 12:30] #120 closed, assigned to koron

[2012-07-29 12:47] koron opened #229 "Win: native以外のencを指定した場合に動作がおかしくなる"
#103 からの継続issue

基本的に要議論な内容。
### 状況

日本版WindowsではVimは enc=cp932 で起動される。幾つかのオプション( `rtp` など)はenc=cp932な生バイトで採取&保存されてしまう。そののちvimrcなどでenc=utf-8に変更した場合、それらのオプションの値はcp932のままとなり利用時にはutf-8解釈されるのでいわゆる文字化け状態となり、誤動作を引き起こす。
### 対策

解決方法はいくつか考えられる。
1. enc変更時には全ての文字列オプション及び変数をiconvで変換する
2. 内部エンコーディングをUTF-8に統一&固定する
### 検討

1はいかにもVim的な対策。まぁ…そんなに難しくないけどencの変更コストが大きくなり、パフォーマンスissueになるかも。暫定案としてはクリティカルな `rtp` とかだけスク

[2012-07-29 12:53] koron commented on #229
省力という意味では1でも充分という気がしなくもない。でも私はいつか2をやるべきだと考えている。そのためには根回しも必要かもしれない。2にはVimから文字化け問題を根絶できる可能性がある、もしくはその一歩となるはず。

ただ2には、UTF-8への変換機能(iconv)が利用できない環境での、native multibyte encodingの利用ができなくなってしまう、というデメリットもある。これは古いWindowsとかDOSとかAmigaとかVMSあたりに影響があるので、そこら辺を説得するのに骨が折れそう。(個人的にはそれらは切ってしまって良いと思うが、それをしないのがVimの特徴でもあるので)

なかなかに頭が痛い。

[2012-07-29 12:54] koron commented on #229
まちがえて一度閉じちゃったw

[2012-07-29 12:55] koron commented on #202
todoには入ってるはずなので閉じます。

[2012-07-29 12:55] #202 closed, assigned to koron

[2012-07-29 12:55] koron commented on #103
本質的な問題は #229 にて継続ってことでこっちは閉じます。

[2012-07-29 12:55] #103 closed, assigned to koron

[2012-07-29 12:57] koron commented on #119
試してないけど多分できるようになっているはず。なので閉じちゃおう。

[2012-07-29 12:57] #119 closed, assigned to koron

[2012-07-29 13:01] koron commented on #108
これ、そろそろパッチを送るべきかなぁ。

[2012-07-29 13:09] koron commented on #55
こういう機能はその機能によって「どういうユースケースがあるのか(それがどれだけ嬉しいのか)」をセットで提示できないと意味がない&取り込まれない。それ(有効なユースケースの提案)ができるまでは塩漬けなんじゃなかろうか。

[2012-07-29 13:17] koron commented on #215
現在 [確認中](https://twitter.com/kaoriya/status/229565980119011329)

これで解決するなら won't fix で閉じちゃおう。

[2012-07-29 17:37] h-east commented on #225
進行状況報告(7/30)。
基本機能はこの前のpatchで対応できているので、残りの2つの対応中。
1. 'statuslineheight'オプション(省略形 stlh)のglobal/window-local化対応と各処理でこの値を参照するようにする。<br>→ ほぼ完了。
2. 'statuslineheight'オプションによるwindowの高さ制御処理。<br>→ いろんなケースを考慮しないといけなくて結構たいへんT_T。<br>'laststatus`オプションや`winminheight'オプションとの関係性とかとか。。少し時間掛かります。

今んとこ起動して`set stlh=3`とかして`<W-S>`はOKだけど次に`<W-=>`すると上のwindowが狭くなるというｗｗ

[2012-07-30 00:15] mattn commented on #215
# まさかの長期休暇

[2012-07-30 00:23] mattn commented on #229
英語圏の人達に伝えるなら systemencoding が必要だと思う。これは termencoding とは異なる、パスのエンコーディングを示す値。

[2012-07-30 00:24] mattn commented on #207
まけた。

[2012-07-30 00:25] mattn commented on #207
一回リポジトリの修正として入った物なので方針変えないとムリげ。
例えば

[code]

など既存のbacktickを壊さない仕組みで。

[2012-07-30 00:32] koron commented on #229
オプションである必要はあるのかなぁ? WindowsだとたぶんAかW系で固定だし、UNIXならLANGとかLC_TYPEの値で決まるのが普通でしょ? ならば環境ごとに固定で、スクリプトとのインターフェースはVimで吸収してやれば良い。となるとオプションとして可変である必要性がなくなってしまうのだけれど。

[2012-07-30 00:34] koron commented on #229
これは語弊がありますね。言いたいのはユーザにそれを設定させる必要があるか否かで、systemencodingはその性質上Vimがしっかり面倒みてあげれば充分なんじゃないか、ってことです。

[2012-07-30 00:36] mattn commented on #229
unixでも同じネタが出てきた事があってその時にもbramに有益性を説明しきれなかった記憶がある。

[2012-07-30 00:37] mattn commented on #229
https://groups.google.com/d/topic/vim_dev/a9m3uBsyhHc/discussion

[2012-07-30 00:38] mattn commented on #229
unixの場合、$LANGからエンコーディングを判定するのはしんどいので、`systemencoding`などでユーザに頼るのが良いのではと思います。

[2012-07-30 00:40] koron commented on #229
あーつまり現状のUNIXではLANGとかみないでencの値をそのままFSのI/Fへ使ってるのか。

[2012-07-30 00:41] mattn commented on #229
でつ

[2012-07-30 00:46] koron opened #230 "UNIX: systemencodingの導入検討"
#229 から派生

https://groups.google.com/d/topic/vim_dev/a9m3uBsyhHc/discussion

### 解説

ファイルシステムのパス名のエンコーディングを指定したいというもの。

WindowsではACPかUTF-16 (UCS2-LE) しかないので関係ないだろう。一方UNIXでもLANGなどを解釈できれば、ユーザが選択できる必要はないが、上記にもあるようにその解釈がメンドイ。

[2012-07-30 00:48] koron commented on #229
systemencodingについては #230 でやりましょう。これはWinにおいて起動時にencを変えた時に発生する問題と限定しているので。

ただ 2 の方法はこれと #230 両方を根本的に解決しうるので要注意ってことで。

[2012-07-30 00:50] koron commented on #230
実装自体は容易。ただし修正箇所が多くなるので注意。mch_\* でファイル名を扱っているところを注意深くトレースすればOKか。

[2012-07-30 00:55] koron commented on #230
#229 の案2 「内部エンコーディングをUTF-8に統一&固定する」 を実施する場合に、UNIXにおいておそらく必須になる。ということか。ただその場合はencが不要になる。

オプションの1増1減…どこの国会の議席だw

[2012-07-30 07:19] h-east commented on #119
Patch 7.3.494 これかな？
https://groups.google.com/d/topic/vim_dev/A6-ovWAcw8k/discussion

なるべく後で追跡できるようにpatchのリンクやtodoのコピペを張ってcloseしませう。

[2012-07-30 08:07] koron commented on #119
@h-east thanks.  今後それらを補う役目をお任せします ( ｰ`дｰ´)ｷﾘｯ

[2012-07-30 08:36] h-east commented on #119
@koron ポイント溜まったらお寿司と交換ですし

[2012-07-30 08:37] koron commented on #119
@h-east 焼肉とどっちがよかね? http://www.tankiyo.com/top.html

[2012-07-30 08:39] thinca commented on #119
迷うなぁ。 ←関係ない人

[2012-07-30 08:39] koron commented on #119
では @thinca さんもリンクとか補う係に任命します!

[2012-07-30 08:40] mattn commented on #119
ありがとうございます。

[2012-07-30 08:41] thinca commented on #119
お任せあれ！ (寿司に1票)

[2012-07-30 08:42] koron commented on #119
@mattn さんはパッチとか書く係でお願いします!

[2012-07-30 08:50] h-east commented on #119
いつの間にｗｗ

[2012-07-31 02:08] mattn opened #231 "windowsでalt-tabでのフォーカス切り替えがモタつく"
https://gist.github.com/3212747

[code]

UIの処理を優先しないとメッセージ量が多い場合にもたつく。

[2012-07-31 02:09] koron commented on #231
コーディングスタイルがー

[2012-07-31 02:12] mattn commented on #231
https://groups.google.com/d/topic/vim_dev/ELnDs9Jka4s/discussion

@koron 他のところを見るとこのスタイル使ってる箇所もー

[2012-07-31 02:13] koron commented on #231
あ、ごめん。Javaと勘違いしてた。

[2012-07-31 02:14] koron commented on #231
あ、いいんだよ。vimは {} は行変えるんだから…なんか疲れてるなぁ。モルダーなのかなぁ。

[2012-07-31 02:18] mattn commented on #231
モルダーあなた疲れてるわ！

![](http://blogimg.goo.ne.jp/user_image/72/09/8b8319a609850b45df906b1ffb6eadc3.jpg)

[2012-08-02 02:59] Shougo commented on #226
https://gist.github.com/3232800

パッチを書きました。diffが多いですが、確実にignorecaseを無効化するため、try~finallyで囲んでいるためです。
動作確認済み。

[2012-08-02 03:02] Shougo commented on #226
`=~`は量が多かったのと、match()もignorecaseを見るため、簡単な修正が出来なかったためです。
ignorecaseを直接変更したほうが問題が起きにくいだろうと判断しました。

[2012-08-02 03:30] koron commented on #226
try finallyで囲むのにインデント修正するのは見苦しい&本質を見失わせるので
新たな関数を定義したほうが良いんじゃないですか?
一例としてはこんな感じ。

[code]

こうしておくだけでGetVimIndentの中の本質的な修正がはっきりしますよ。

[2012-08-02 03:41] Shougo commented on #226
https://gist.github.com/3232800

修正して見ました。これでどうでしょう。

[2012-08-02 03:47] koron commented on #226
あ… GetIndentVim の中身は変わってないんですね。なるほど。

@Shougo さんは最初のやつと新しいやつ、どっちのほうが良いと思います?
具体的には、どちらのパッチのほうが受け取った時に
「あ、取り込んで良いな&問題ないな」
って感じますかね。

私は、新しい方ならば議論や検証なしでacceptします。

[2012-08-02 03:55] Shougo commented on #226
はい。私も新しいパッチのほうが望ましいと思います。

[2012-08-02 03:57] koron commented on #226
二人がそう思うのだから高確率でBramも支持してくれるでしょう。

ぜひvim-devへ投稿すべきです。

[2012-08-02 05:31] Shougo commented on #226
分かりました。ちょっと今は無理ですが、今度やっておきます。

[2012-08-02 05:37] mattn commented on #226
wrap する意味あるのですか？ GetVimIndent を直接触ると問題があるんでしょうか？

[2012-08-02 05:39] koron commented on #226
問題はtry finallyで括るためにインデントが変わるので、diffがわかりづらいっていうだけです。
だったらwrapしたほうがわかりやすいよね、と。

[2012-08-02 12:09] Shougo commented on #226
https://groups.google.com/forum/?hl=ja&fromgroups#!topic/vim_dev/FaXHOtRsoFA

パッチを投稿しました。

[2012-08-02 13:25] h-east commented on #231
Patch 7.3.619 で入りました。(patch内容がちょっと変わりました)
https://groups.google.com/d/topic/vim_dev/oSdGbe3A2_k/discussion

[2012-08-03 01:44] Shougo commented on #226
返信を見たところ、Bramさんも問題点を分かってくれたようです。
案の定、他のインデントプラグインも同様の問題があるらしく、なにか解決策を取ると言っています。

[2012-08-03 02:01] h-east commented on #146
Patch 7.3.620 でｷﾀ━(ﾟ∀ﾟ)━! (Half year later)
https://groups.google.com/d/topic/vim_dev/Sc4UKcy6gC0/discussion

[2012-08-03 02:59] #146 closed, assigned to mattn

[2012-08-03 02:59] #231 closed, assigned to mattn

[2012-08-03 03:23] mattn commented on #210
こんなのだとどうだろう

[code]

[2012-08-03 07:20] koron commented on #152
この issue を整理しましょう。選択肢は2つ
1. スクリプト&ユーザに任せる(実際できる)
2. Vim本体でサポートするよう働きかける

前者ならもう閉じて良いし、後者ならもう少し議論が必要です。

私の意見としては後者で、その根拠は以下のとおり。
- BOMや`'ff'` などファイルのフォーマットに近いものと解釈できる
- Windowsでメモ帳を使った場合に容易に作成される
- Windowsのテキストとしては標準的なフォーマットだといえる
- 標準的なフォーマットである以上、それを本体でサポートしないのは利用者に不便を強いるので良くない

これらを盾にまずはWindows版専用のオプションという形で突っ込むと良いかなぁ、と思いました。
ただなんだか実装はいまはやりたくないw

[2012-08-03 07:37] thinca commented on #152
私ももちろん後者で。
やるならWindows専用にはしたくないですね。マルチプラットフォームでの開発が増えてきてる昨今、
Linux でも最後に改行がないファイルがプロジェクト内に紛れてたりします。てかさっきあった。

[2012-08-03 07:38] koron commented on #152
あーWindows専用っていったのは、何が何でも取り込ませるための妥協点。

「Windowsで標準(相当)ならWindows版にはないのはおかしいだろ」って強弁するのです。

[2012-08-03 07:39] thinca commented on #152
そこから全体適用に持っていく流れ…!

[2012-08-03 07:40] koron commented on #152
そそ。コードが入っちゃえばこっちのものw

[2012-08-03 07:42] Shougo commented on #152
確信犯……!

[2012-08-03 08:40] h-east commented on #152
呼びました？(笑)

[2012-08-03 08:47] h-east commented on #152
https://twitter.com/thinca/status/231281608311853056
https://twitter.com/thinca/status/231284953558700032
@thinca さんは何故「まじ困る。」「つらい…。」のかを客観的に説明すべきじゃないでしょうか？

[2012-08-03 08:52] thinca commented on #152
個人的なことだから Twitter でツイートしたんだけど…。
一応説明すると、言うまでもなく今触ってるファイルに末尾に改行がないものがあるからです。
ちょっとデバッグコード仕込んで、元に戻すだけで変更マークが付く…。

[2012-08-03 08:53] koron commented on #152
そこは容易に想像がついて、もともとLast EOLが無いファイルがあり、そうすることが仕事などで規定されているケースとか。

問題はVim本体に元のフォーマット(ほぼWindowsで標準)を維持する手段がないこと。bomやffやencは維持するのにも関わらず。

[2012-08-03 09:53] h-east commented on #152
ソースコードでlast noeolが規定されることはないですよね？(あったら怖い)
ソースコードのようにlast eolの有無が仕事等で規定されていないものはどうでも良いと思っています。
（他のエディタがlast eolなファイルをlast noeolに変更しようが、Vimがlast noeolなファイルをlast eolに変更しようが気にしない）

ということで、私は前者の「スクリプト&ユーザに任せる」に1票。
Vim本体がサポートすることに反対はしませんが、困り度/つらい度がどんなものなのかは説明欲しい。

※ここからはオフトピ気味
ありえるのはデータファイルとかでしょうか。
JSON形式のファイルやINIファイルでlast eolの有無で挙動が変わるAPIやライブラリはあるのかな？

シリアルやLAN経由でファイルの中身をデータとして送信する用のデータファイルはありえますね。(実際経

[2012-08-03 09:57] thinca commented on #152
チームで仕事をしたことがある人ならばわかると思うのですが、他の人が書いたコードが last noeol になっている場合があります。
チームの規定ではないですが、本質的な変更でない以上最後にわざわざ改行を付けてコミットするといったことはしたくありません。

[2012-08-03 09:59] koron commented on #152
そうか。以後このissueは2をすすめるためのモノとしましょう。もしくは立てなおしても良いですが。

1に関して、または絡めてココで議論する意味はもう無いです。

[2012-08-03 10:05] h-east commented on #152
２？どれのことでしょう。。？

[2012-08-03 10:06] koron commented on #152
「Vim本体でサポートするよう働きかける」です。

[2012-08-03 10:09] h-east commented on #152
@koron 了解です。

[2012-08-03 15:17] mattn commented on #152
I'm thinking it's not easy to support auto managing lasteol. AFAIK,
also you know, vi/vim is a line editor. And currently, vim is
manipulating buffer as array of lines. And the lines are including
just only characters. i.e. vim does not know that last line is
finished with \n. And also, vim don't check whether the lasteol is put
on there from original file or inserted by editing. For example,
thin

[2012-08-05 00:53] koron opened #232 "Winでのマルチスレッドバグの可能性を検証する"
os_win32.c:3564 の mch_system_piped() 内の、3665行目 CreateThread() 呼び出しをみて、ふと気がついた問題。system()をPIPEで実装し、そこへのバッファの書き出しを別スレッドでやっている、ように見える。

問題点の可能性

  * 書き出し中にバッファが書き換わる可能性はないか?
  * CreateThread() ではなく _beginthreadex() を使わなくて大丈夫か? (ランタイムの適切な初期化)

以上を検証したほうが良い。

現時点で問題が生じていなければさほど気にしなくても良いのですが、可能なら将来の問題の芽は摘みとっておきたいです。

[2012-08-05 01:30] koron commented on #152
結構適当に作ってみた。 https://gist.github.com/3260998
ほとんどテストしてない&ドキュメントも適当なので要レビュー&テスト。

読み込み時に`lasteol` を(必要なら)セットして、書き込み時に `lasteol` がoffなら最終行のEOLを書かないようにしただけ。

編集時には `lasteol` を一切ケアしないという割り切りなので、fileformatやfileencodingに近い。だから名前も `fileeol` とかにしたほうが良いかも。

[2012-08-05 01:31] koron commented on #152
あとはまかせた。

[2012-08-05 01:47] ynkdir commented on #232
フィルタ実行中に外部から `:call remote_expr('GVIM', 'setline("$", "x")')` で書き換えできます。

[2012-08-05 06:50] koron commented on #232
まじか…どうすんだコレ…行数を変える系の操作がヤバ気。

[2012-08-05 13:44] Shougo opened #233 "Vim 7.3.604からinput()のキャンセルの挙動がおかしい"
Vim 7.3.604より、input()のキャンセル時の動作がおかしくなっています。

再現コード：

[code]

input()をキャンセルするとhogeにdirが代入されてしまいます。
これまでは空文字列の代入でした。第三引数が省略時の文字列になってしまっています。
今までと互換性がない挙動ですし、ドキュメントにも記述がありません。

Vim 7.3.604の変更を見てみたところ、
https://groups.google.com/forum/?fromgroups#!topic/vim_dev/zO8uvpafgSU
「inputdialog()における省略時の文字列をうまく動くようにした」らしいです。
おそらく、input()とinputdialog()が同じ関数で実装されていて、input()の挙動を壊して実装してしまったのだと思います。

[2012-08-05 14:27] h-east commented on #233
脊髄反射的に作成してみたpatchです。
`input()`の挙動は前の動作になりました。
`inputdialog()`の動作確認はしてないです。

[code]

[2012-08-05 16:01] h-east commented on #233
vim_devに投げました。
https://groups.google.com/d/topic/vim_dev/3VNATm1Css8/discussion

[2012-08-05 16:20] h-east commented on #233
あ、CUIでの`inputdialog()`のキャンセル動作が7.3.604のままであることは確認済みです。

[2012-08-06 00:41] mattn commented on #233
ぼんみすか

[2012-08-06 00:51] mattn commented on #152
まず現状の lasteol の存在価値が問われますねー。なんでいるんやろ。bin と併用じゃないと機能しないなら必要ない気がする。

[2012-08-06 00:58] mattn commented on #232
すぐその下にループがあってPeekMessage(PM_REMOVE)して捨ててるから大丈夫そうな気がするんだが。

[2012-08-06 00:59] koron commented on #152
たぶん `bin` → `eol` な順番だったんじゃない。バイナリファイルを直接編集したい→あれ最後のEOL付いちゃうんじゃね?→消せば良いんじゃね?→EOLあったときはどうするよ?→

　　　 　　　　 |
　　　 　＼ 　__　／
　　　 　＿　（ｍ） ＿ ﾋﾟｺｰﾝ
　　　 　　　　|ミ|
　　　 　 ／ 　｀´  ＼

　　　　　　　　ノ´⌒ヽ, 　　
　　　　γ⌒´　　　 　 ヽ,　　
　　　／／ ⌒""⌒＼　　） 　
　 　 ｉ /　 (･ ）｀ ´( ･） ｉ/　　
　 　 !ﾞ　   （__人_）　　|　　　
　 　 |　　 　　|┬{　　　 | 　　バイナリファイルの時はEOL があったかどうか覚えておこう!
　　　＼　 　　`ｰ' 　 ／
　　　　/　　　　　　　| 　

こんな流れ。

[2012-08-06 00:59] thinca commented on #152
`'endofline'` '`eol`' ですね。重箱ですが一応。

[2012-08-06 01:02] mattn commented on #152
上に英語でも書いた(githubがメールからだと日本語化けるので)通りなんだけど、ちゃんとしたlasteolサポートするなら編集操作によるlasteolの変更を見ないと意味がないす。

lasteol付きのファイルを読んで、最終位置でASCIIを1文字タイプしたらlasteolは出力されるべきではない。

[2012-08-06 01:03] koron commented on #152
わたしはコレ不要だと思う。

[2012-08-06 01:09] koron commented on #152
やりたいことは、ファイルの最後にEOLを付けない選択肢が欲しいってことで、そこを自動でケアして欲しいというものではない。その意味では、読み込み時にlast EOLの有無を見て `lasteol` を自動設定する機能のほうが、比較として蛇足といえる。

なので、ファイルフォーマットの一種と解釈してlasteolを付けるかどうかを選べる、という解釈であれば納得できるハズ

あーだったら ff=dos+nolasteol みたいにしたほうが良いのか。

[2012-08-06 01:10] mattn commented on #152
あとでやっぱり欲しいなって話になった時を考えるとここは慎重に議論したい。

[2012-08-06 01:11] koron commented on #152
思ったんだけど、最終行を変更したかどうかなんてそれこそスクリプトでもわかるし、容易なんじゃないの?

[2012-08-06 01:12] koron commented on #152
…関係ないけどgithubのclose issueボタンの位置悪すぎるわw

[2012-08-06 01:15] mattn commented on #152
そもそも最終位置にeolが付いてたかどうかを知りえない。

[2012-08-06 01:24] mattn commented on #152
あと最終位置を更新したかどうかの判定、スクリプトでは案外むずかしいと思う。
行直撃で `:5,5!filter` とか

[2012-08-06 01:32] Shougo commented on #233
h-east: ありがとうございます。
パッチが入ったら閉じますね。

[2012-08-06 01:38] koron commented on #152
読み込み時にlasteolがあったかはわたしのパッチでとれる。

最終行の変更検出がスクリプトで難しいなら専用のautocmdイベント作れば良いのでは?

私のスタンスは、Vimは最低限必要な機能を提供すべきで、それ以上はスクリプトで頑張れば良い、というもの。でlasteolがついたかどうかは最低限〜に含まれ(ここ重要)、最終行の扱い如何でそれを制御するのは含めない。という感じ。

[2012-08-06 01:49] mattn commented on #152
コード弄らないと実現出来ないのなら、本当にそれが将来的にも正しいのかを判断しないと不必要なオプションが出来てしまう可能性がある。

[2012-08-06 02:03] koron commented on #152
そういう時に「今、必要なら増やす」ってのが Vim way じゃないかなぁ。現時点では `lasteol` は良くないと思うけど、 `fileformat` にdos+nolasteol もしくは dos-lasteol っていう値を増やすのはかなりreasonableだと思っている。

なお unix+nolasteol はそもそもサポートしない。

[2012-08-06 02:10] mattn opened #234 "windows 2000 をサポートすべきか"
https://twitter.com/kazken3/status/232287042049028096

ここからのスレッド。kaoriya 版は Visual Studio 2010 を使っているので`現状`は windows 2000 で使えるバイナリは吐けない。
Visual Studio 2010 で windows 2000 対応バイナリを吐ける方法もある。

http://blog.livedoor.jp/blackwingcat/archives/1453055.html

しかし
- 1個のバイナリを配布するのであれば、XP以降で最適化がなくなるはず
- 2個のバイナリを配布するのは koron さんのタスクが増える
- 動作確認出来る環境がない
- mingw を使えば対応バイナリは吐けるはず

この辺を議論したい。

個人的な意見では、Visual Studio 2

[2012-08-06 02:11] thinca commented on #152
そういうファイル普通にあるのでサポートされないと困る...

[2012-08-06 02:12] koron commented on #152
それはひどいw

まぁ、unix+nolasteol については本家との交渉次第というところ。

[2012-08-06 02:13] thinca commented on #152
一般的なテキストエディタだと作れちゃうんですよね。
で、そういうエディタを使ってる人はファイル末尾に改行があるかなんて気にもしないのです。
(そもそもなんでVimだと気にしなきゃいかんのか…)

[2012-08-06 02:15] koron commented on #152
POSIXだから!w

[2012-08-06 02:17] koron commented on #234
win32.mak使ってるなら、コンパイル時にWIN_VERの定義下げれば行けそうな気もするけど、使っているWindows SDKのバージョン次第ではそもそも下げられなさそうねw

あとタスクが増えること自体は自動化すれば解決だよねって話なのかな。

ただ個人的には、2000はもういいだろ、って言いたい。

[2012-08-06 02:21] h-east commented on #152
今さらですがタイトル「最後に改行がないファイルが作れない」が良くないんじゃなかろうか。
(「作れない」と来ると「作れるだろボケ がぁ」となってしまう人がいるのでw)
(最初のタイトルはまた別だったと思うけど忘れた)

「編集ファイルのlast EOL有無を保持したまま保存したい」とかに変えたらどうでしょう？

[2012-08-06 02:24] mattn commented on #234
いろいろ面倒みたいよ

http://blog.livedoor.jp/blackwingcat/archives/1453055.html

[2012-08-06 02:27] koron commented on #234
うん。いま見てた。

そもそもmsvcr100.dllってWindows 2000で動くのかしらねぇ…あとiconvとかも全部やらなきゃダメなんだよね。

[2012-08-06 02:29] mattn commented on #152
「テキストファイルは最終行が改行付いてるのが正式(POSIX)だから君のコミットは間違ってる。直しなさい。」と万人に言って回れはしないだろうし、これについては諦めるほかないんだけど、この事実によって vimmer が困る事象が出ているのも確か。
僕は
- fileencodings や fileformats とは気色が違う物だと思ってる。
- しかしながら現在の lasteol など気にせず編集したい

ここは皆、認識が同じだと思ってる。で、僕は vi/vim の動作としてふさわしいのは、現在の lasteol が取れる仕組みを提供する必要はないと思ってる。
しかしながらこの問題を解決したいので ``

[code]

みたいなのがあればなーと思ってる。

[2012-08-06 02:31] mattn commented on #152
あと

[code]

ってのもあっていいかも

[2012-08-06 02:33] mattn commented on #152
自動で最終行の改行を入れる(一般的なテキストエディタの様に動く)

[code]

常に最終行の改行を入れる(現状の動作)

[code]

ファイルを開いた時の状態と同じになる様に最終行の改行を入れる(新規の場合は always 相当)

[code]

[2012-08-06 02:37] mattn commented on #152
あ、言いたかった事を書いてない
言いたかったのは

[code]

ということ。

[2012-08-06 02:42] koron commented on #152
@mattn さんの整理に乗るならば never - 決して入れない、が要るかも。

それと名前が endofifle だと EOF なCtrl-Zとかぶるので要検討。いやそもそもEOFはどうしてんだ?w

あと auto の実装が面倒なのは @mattn さん自身が認めているところ。実装が後回しで良いのも了解。ただしautoはユースケースが複雑になりそうなので、ユーザは使いドコロがよくわからないんじゃないか。

で、ここまででをまとめると、何らかの対策が必要ってことは合意していて、その実現方式については2通り提案されている。
- fileformat と同等と捉え、読み込み時に付いていた、書き込み時に付けるかどうかだけを制御する。実際にffに入れるか別オプションに入れるかはあまりこだわらない ( @koron 案/パッチ作成済み)
- もうちょっとリッチにendoffile のようなオプ

[2012-08-06 02:46] koron commented on #152
私の案の問題点は、デフォルトで現行のVimの動作を変えてしまうこと。いまのままだと @mattn さんがいうところの always な動作にならない。常に keep 。これはあかんので読み込み時にsensitiveにするかどうかは制御できたほうが良い。

[2012-08-06 02:51] koron commented on #152
要求の整理。
- 最終EOLの有無を手軽に制御したい
- 読み込み時の最終EOLの有無で書き込み時のそれの有無を制御したい
- EOLの有無を(ほぼ)自動で制御させたい
- (マニュアルでも制御できたら尚良し)
- (デフォルトでは)既存のVimの動作を変えたくない

こんなところか。

[2012-08-06 02:58] Shougo commented on #234
Windows 2000はそもそも、マイクロソフト社のサポートも切れて危険なので、サポート出来なくてもしょうがないと個人的には思います。どうしても必要なら古いバージョンを使ってもらう、とか。

[2012-08-06 03:00] koron commented on #152
全然違う見方として、現状の `bin` と `eol` の関係がクソ、ってのはあるw ただし上記の要求をこの2つが満たしているとも言えなくはない。

しかしながら `bin` は副作用が大きすぎる。twを0にしたりnoetしたりとか ff を無視したりとか… なので手元で単に set bin noeol してからwriteする方法はあまりオススメできない。

[2012-08-06 03:01] mattn commented on #152
@thinca @h-east 認識・方向okす？

[2012-08-06 03:02] mattn commented on #234
僕個人の意見はmingwでビルドしてね。
でいいと思う。

[2012-08-06 03:40] thinca commented on #152
問題ないです。
1つだけ確認。@mattn さんの案は、バッファローカルなオプションってことでいいですかね?

[2012-08-06 03:42] mattn commented on #152
yep

[2012-08-06 03:53] koron commented on #152
こうしてまとめて考えなおしてみたら、書き込み時に既存の eol が動作するための **bin ではない別のオプション** を用意すれば良い気がしてきた。

bin もしくはその新オプションが立っていたら eol を維持して書き込みまっせ、っていう風にする。 bin は副作用が大きすぎるのであくまでも使いたくない。

[2012-08-06 04:14] mattn commented on #152
`boin` に +1

[2012-08-06 05:10] thinca commented on #152
+1

[2012-08-06 05:52] mattn commented on #152
でももし bin じゃないオプションにするとしたら、auto の実装が出来なくなる。

[2012-08-06 05:57] koron commented on #152
その bin じゃないオプション (`'boin'`) をenum選択なのに拡張すればなんとかなるんでは?

[2012-08-06 05:59] mattn commented on #152
[code]

iminsert 系か

[2012-08-06 06:01] koron commented on #152
[code]

?!

[2012-08-06 06:01] mattn commented on #152
# 完全に一致

[2012-08-06 10:04] ynkdir commented on #232
そのメッセージループでclient/server通信のメッセージを受信・処理してるので
バッファを読み込んでパイプへ書き込む処理(別スレッド)とremote_expr()で渡された式の実行処理(メインスレッド)が平行して走ります。
ただまあぶっちゃけ誰も困らないと思いますがいまのところ。

[2012-08-06 23:56] mattn commented on #211
作者からメールが返ってこないのでbramがじきじきにメールだした←ｲﾏｺｺ

[2012-08-06 23:58] mattn commented on #208
いまのところ、これに起因した不具合報告があがってないので閉じようかと思いますがどうでしょう。

[2012-08-06 23:58] mattn commented on #206
@LeafCage 閉じますね。問題あったら新規にissue立てて下さい。

[2012-08-06 23:58] #206 closed, assigned to nobody

[2012-08-07 05:37] koron commented on #208
++ @mattn

[2012-08-07 14:13] k-takata commented on #232
スレッドの中で初期化・終了処理が必要なCRT関数を使っていなければ大丈夫でしょうし、CRTにダイナミックリンクしていれば、終了処理は行われるので大丈夫なはずですが、大丈夫か気にするくらいなら _beginthreadex() にしてしまった方がよいのではという気もしますね。
ついでに _beginthread で grep すると if_sniff.c で、_beginthreadex() ではなく _beginthread() を使っているところがありました。戻り値のハンドルを使わないのであれば _beginthread() でも問題ないのですが、使っているようなので _beginthreadex() の方が良いでしょうね。

[2012-08-08 02:20] spurzz opened #235 ":mksession で落ちる"
[code]
- `'sessionoptions'` に `options` が含まれていると、ものすごく長いオプション値があった場合にバッファが足りずに Segmentation falt で落ちる。
- 実際のバッファサイズは環境にもよるが 1024 程度の模様。
- `'runtimepath'` で試したが、それ以外でも起きそう。

[2012-08-08 02:44] thinca opened #236 "rtpにMAXPATHL以上の文字列をセットすると set rtp の表示が途切れる"
[code]
- `'sessionoptions'` に `options` が含まれているとき、長いオプション値があると segmentation fault で落ちる。
- バッファをオーバーしている模様。バッファサイズは環境にもよるが 1024 くらい。
- `'runtimepath'` で確認したが、恐らく他のオプションでも起きる(未確認)。

[2012-08-08 02:46] #235 closed, assigned to nobody

[2012-08-08 02:47] thinca commented on #235
しまったテスト用のアカウントで…＞＜
見なかったことにしてください。

[2012-08-08 03:18] koron commented on #215
なんにせよ解決してよかった。

[2012-08-08 03:18] #215 closed, assigned to koron

[2012-08-08 12:55] h-east commented on #233
Patch 7.3.624 で入りました。
https://groups.google.com/d/topic/vim_dev/ERl2wmfIbWU/discussion

@Shougo 模範的な不具合報告ありがとうございました。おかげでpatch作成時間が1分で済みました。Thanks!

[2012-08-08 12:55] #233 closed, assigned to h-east

[2012-08-08 15:15] LeafCage opened #237 "'errorbells'がおかしい？"
set noerrorbells
にしても、ビープ音が鳴る。
つまり 'noerrorbells' は無効なオプションではないだろうか。
環境はWindows XP sp3

VIM - Vi IMproved 7.3 (2010 Aug 15, compiled Jul 30 2012 08:25:08)
MS-Windows 32 ビット GUI 版
適用済パッチ: 1-618

今まで
set visualbell
set t_vb=
で凌いでいたが、
そもそもset noerrorbellsでビープ音を鳴らさないように出来るならそれで良かったのではないだろうか。

[2012-08-08 15:44] h-east commented on #237
'errorbells' のヘルプを見ると

と書かれているので全てのビープ音を制御するものではないようです。
このオプションで制御出来るのは例えば

[code]

と入力したときに

[code]

とエラーメッセージが表示されますが、この時に 'errorbells' だとビープ音が鳴って、 'noerrorbells' の時には鳴らないということだと思います。

[2012-08-08 16:42] LeafCage commented on #237
すいません。私の認識違いでした。
ありがとうございます。

[2012-08-08 16:42] #237 closed, assigned to nobody

[2012-08-08 23:35] Shougo commented on #233
こちらこそ、ありがとうございます。
自分でもパッチを書こうかと思っていたくらいなので、パッチを書いてもらってありがたかったです。

[2012-08-12 07:58] rbtnn opened #238 "Windows環境下にて「sign unplace * file=C:\...\hoge.vim」が動かない。"
Windows環境下にて

を実行すると
 ![](https://p.twimg.com/A0FD9N7CYAEWuD0.png)
とエラーになってしまいます。
同じく、

と*の後に空白を入れて実行すると同じエラーを返します。（空白を入れなければ正常に動作します。）

---

OK:　sign unplace 1 file=C:\Users\naru\Desktop\hoge.vim
OK:   sign unplace 1 file=C:/Users/naru/Desktop/hoge.vim
NG:　sign unplace \* file=C:\Users\naru\Desktop\hoge.vim
NG:　sign unplace \* file=C:\\Users\\naru\\Desktop\\hoge.vim
NG:　sign unplace \* file=C:/Us

[2012-08-13 01:11] ynkdir commented on #238
ご報告ありがとうございます。

7.3.629 で試してみましたがエラー出ませんでした。

`:sign unplace * file={fname}` という書式は 7.3.596 で導入されたので、もしかしてそれ以前のバージョンをお使いではないですか。

[code]

最後のこれは私のとこでもエラー出ます。 `E158: Invalid Buffer name: ...`

[2012-08-13 01:18] thinca commented on #238
あ、そんな最近だったんですね。
実は私も事前に確認したんですが、もしかしたら私の Windows の Vim も古かったかもしれません。(今ちょっと確認できないですが)

[2012-08-13 05:09] koron opened #239 "rで日本語に書き換えができない"
[ココ](https://twitter.com/_atton/status/234876271153266688) とか [ココ](https://twitter.com/supermomonga/status/232550927628902401) に報告があった。

過去に同様の問題があったと記憶しているが確か直していたはず。それが再発したか?

「Windowsはそんなことないだろ」と思って試してみたら、 **一回だけ** 発生した。IMEはGoogleのβ版のほう。「号」という文字の上で r してIME ONにして「合」にするため「gou」とタイプしたら、

[code]

ってなった。ただ一回だけ。再現しない。

要追試。

[2012-08-13 12:26] ynkdir commented on #239
CursorHold イベントが定義してあると発生します。

[2012-08-13 12:30] ynkdir commented on #239
とおもったけど違ったみたいです。。。

[2012-08-13 13:02] ynkdir commented on #239
しばらく試して再現せず。ただの入力ミスだったようです。失礼しました。

[2012-08-13 22:39] koron commented on #239
私のWindowsのほうも操作ミスってことで良いとして(ほんとか?w)

LinuxはIMとの組み合わせによっては起きないか、気になります。

[2012-08-14 00:00] ynkdir commented on #239
CUIは端末しだいですがまあ大丈夫だと思います。
GUI(のon-the-spot)はどのIMでもrでは日本語入力できないです。Vimの実装的に。

[2012-08-14 14:17] rbtnn commented on #238
確かに、自分のVimは7.3.596より前のバージョンでした。 : [gvim73_46.exe](ftp://ftp.vim.org/pub/vim/pc/gvim73_46.exe)

[2012-08-15 02:54] thinca commented on #238
私のところではバージョンを上げたら Windows でも問題ありませんでした。

@rbtnn 問題ないようならば `worksforme` で閉じてしまってください。

[2012-08-15 13:41] rbtnn commented on #238
ご回答ありがとうございました。

[2012-08-15 13:41] #238 closed, assigned to nobody

[2012-08-15 15:37] h-east commented on #220
Patch 7.3.632 で入りました！
https://groups.google.com/d/topic/vim_dev/9VzDNmdd-7I/discussion

@saitoha おめでとうございます。
@mattn お疲れ様でした。

[2012-08-15 16:06] k-takata commented on #224
7.3.633直後のruntime filesの更新でマージされました。

[2012-08-15 16:06] #224 closed, assigned to k-takata

[2012-08-15 16:10] k-takata commented on #224
ラベルの編集権限がないようなので、どなたか `xlose/fixed` の設定をお願いします。

[2012-08-15 16:38] h-east commented on #224
@k-takata おめでとうございます。ラベル設定しました。

[2012-08-15 17:12] saitoha commented on #220
皆様ありがとうございました。以後、端末側でも普及するよう、働きかけていきます。

[2012-08-15 23:58] mattn commented on #224
@k-takata added you to owners.

[2012-08-16 00:34] mattn opened #240 "windowsでユーザー名補完が出来ない"
ユーザー名補完が入ったけどwindowsで動かない。

[2012-08-16 00:34] mattn commented on #240
https://gist.github.com/3365005

[code]

[2012-08-16 00:43] koron commented on #240
はよい。はよいよ。

[2012-08-21 15:58] k-takata opened #241 "Windowsのシンボリックリンクを正しく扱えるようにしたい"
WindowsでもVista以降ではシンボリックリンクが扱えるようになりました。
しかし、`:set backupcopy=auto` の時、シンボリックリンクを認識せず、リンクを切ってしまいます。
修正案(仮)を以下に置きました。
https://gist.github.com/3415752

ただ、このパッチだといくつか課題があります。
1. シンボリックリンクは切れなくなったが、ファイルを保存するとリンク先ファイルの属性がリードオンリーになってしまう。
2. シンボリックリンクかどうかの判定が簡易的。`FILE_ATTRIBUTE_REPARSE_POINT` フラグが立つのは、シンボリックリンクだけでなくジャンクションの場合もある。（ディレクトリは除外するようにしたので問題はないはずですが。）
3. `backupcopy` が `breaksymlink` の場合に対応していな

[2012-08-22 00:06] koron opened #242 "e_noroomの翻訳を修正する"
私的なメモに近い: 翻訳がわかりにくいので直そう、という話。

原文は

で、globals.hにおいてe_noroomとして定義され、window.c内で6箇所利用されている。

`room` を `容量` と訳しているが window.c で使われていることから、スペース=ウィンドウの幅や高さの意味だと推測される。よってメッセージから原因が推測しにくい翻訳となってしまっているので要修正。

[2012-08-22 00:10] koron commented on #242
案1: 具体的にしてみた。具体的な分、使われている場所のコンテキストとはズレる可能性があるので、念のため確認したほうが良いかも。

[code]

案2: 抽象的なまま、訳語だけ変えてみた。訳してもカタカナのままだと結局わかりにくいかもしれないが、領域とか余白とか場所とか言ってもやっぱりイマイチ感は拭えない。

[code]

[2012-08-22 00:22] koron commented on #241
パッチを見る限り、

という風に見えますね。autoのケースでの書き込み時、特にmch_is_linkを使った後の流れを追えば何か分かりそうです。

ただ… @mattn さんが得意そうな領域な予感w

[2012-08-22 02:03] h-east commented on #242
あー、ステータスライン複数行対応でソースいじってるとよく目にします。e_noroom

[code]

[2012-08-22 02:33] mattn commented on #241
実は @k-takata さんも windows hacker なのであった。

[2012-08-22 04:07] osyo-manga commented on #242
エラーメッセージから勝手にメモリ周りのエラーかと思ってたら全然違ってた…。
客観的に見ると

[code]

ぐらい具体的な方が分かりやすくていいですね。

[2012-08-22 07:52] h-east commented on #242
あっ、そういえば指定されたステータスラインの高さがwindowに収まらないときも `e_noroom` にするんですが、この場合でも

[code]

で意味が通じるので↑に +1 です。

[2012-08-22 12:35] koron commented on #242
了解。では

[code]

にします。とはいっても…ja.poは更新しても本家になかなか反映されないからなぁw とりあえず+kaoriyaでは次回分から直します。

[2012-08-22 12:43] koron commented on #242
gistにパッチ貼ろうとしたが、エンコード混在でひどい目にあうなこりゃ。

[2012-08-22 18:19] k-takata commented on #241
buf_write()を見ていますが難しい… vim hackerではありませぬゆえ。

めも
- [Symbolic Links (Windows)](http://msdn.microsoft.com/ja-jp/library/aa365680.aspx)
- [Symbolic Link Effects on File Systems Functions (Windows)](http://msdn.microsoft.com/ja-jp/library/aa365682.aspx)
- [ReplaceFile function (Windows)](http://msdn.microsoft.com/ja-jp/library/aa365512.aspx) -- いっそバックアップの作成処理をWindowsにまかせてしまうのもあり？

[2012-08-22 23:49] ynkdir commented on #241
[Patch] Re: 'backupcopy' and Windows Vista symbolic links
https://groups.google.com/d/msg/vim_dev/qF8Y3xtUP-w/W1x7mZ4FrnkJ

これはどうですか

[2012-08-23 09:49] ynkdir commented on #241
↑vim_devのパッチ動作確認してみました。属性の問題も大丈夫みたいです。

[2012-08-23 13:22] k-takata commented on #241
ちょうどいいタイミングで本家で同じ話題が上がるとは。

パッチの投稿者がGoogle Code上で新しいコードを公開していたので、それを適用して動作確認しました。
1カ所メモリリークを起こしていると思われる場所があったのでそれも修正しました。問題なく動いているようです。
https://gist.github.com/3436380

[2012-08-23 14:32] k-takata commented on #241
IO_REPARSE_TAG_SYMLINK の値を直に書いてあったのが気になったので修正しました。

あとは、mch_getperm() の先頭部分で、パス末尾の '\' を切り落としている処理がちょっと気になったり。
実はこのための関数が用意されていたりしませんか？

[2012-08-23 15:16] h-east commented on #241
@k-takata `vim_ispathsep()` は使ったほうが良さげですね。

[2012-08-23 15:55] k-takata commented on #241
なるほど。
それもありますけど、char_u という型は UTF-8 なのでしょうか。もし、Shift_JIS が入るような場合があるとこのコードではダメだと思いますが。

[2012-08-23 16:02] h-east commented on #241
vim_ispathsep()の上に `gettail()`、`gettail_dir()`、`gettail_sep()` 等があり、マルチバイト対応してるようですよ。

[2012-08-23 16:20] ynkdir commented on #241
mch_stat() (=vim_stat()) で同じことしてます。

[2012-08-23 16:25] k-takata commented on #241
そうだと、mch_getperm() から mch_stat() を呼んじゃうのが良さそうですね。

[2012-08-23 17:01] k-takata commented on #241
パッチ更新しました。
https://gist.github.com/3436380/70e3e808ba65a2d3eba6c20b9ee2717223e6d2ab

mch_is_linked() でディレクトリへのsymlinkは除外していないが大丈夫なんだろうか。上位で除外されてるのかな。

[2012-08-25 02:11] k-takata commented on #241
パッチ更新しました。`breaksymlink`, `breakhardlink` に対応しました。
https://gist.github.com/3436380/927920a415c0a33bfc0555df04005ee3c30cdba0

ところで mch_ って何を意味するプレフィックスなのでしょう？

[2012-08-25 02:13] koron commented on #241
@k-takata

マシン(OSとかCPU)とか、そういう環境の違いを吸収する関数に付けられます。

[2012-08-25 02:55] k-takata commented on #241
なるほど。
さて、vim_devにパッチ投げてみたいと思います。

[2012-08-25 04:16] k-takata commented on #241
投げました。
https://groups.google.com/d/msg/vim_dev/qF8Y3xtUP-w/opEIDRL94qoJ

[2012-08-25 14:37] ynkdir commented on #241
グッジョブ！

[2012-08-26 08:31] k-takata commented on #241
今更ながら todo.txt を見ると、載っていました。ちゃんと見ないとダメですね。

[2012-08-27 02:43] h-east commented on #225
毎週末ちびちびやってます。完成度は95%くらい(ドキュメントを除く)。
PC爆発したりしないと思うので安心して人柱れます。
https://gist.github.com/3158492

#### 変更内容
- 'statuslineheight'オプションの追加および 'statusline'オプションに '@'アイテム追加。

[code]
- has('multi_statusline') 追加。+multi_statusline でビルドした場合に1を返す。<br>--with-features=normal 以上でデフォルトでオン

[2012-08-27 03:18] mattn commented on #225
パッチをあてたらPCが爆発しました。どう責任とってくれますか？

[2012-08-27 03:29] h-east commented on #225
※本patchをあててビルドしたVimでPCが爆発した場合の責任は負いかねます。自己責任でお願いします。
また、初回起動時は安全確認の為、PuTTY等でリモート接続した状態でお楽しみ下さい。

[2012-08-27 05:52] Shougo opened #243 "input()の complete引数="command" で、コマンドの引数を補完できない"
最新版である、Vim 7.3.638で確認。
コマンドライン補完で、input()のcomplete引数="command"とするとコマンド名は補完できますが、コマンドの引数は補完できません。

再現例：

[code]

もしかすると仕様なのかもしれませんが、`:help command-completion`を参照すると

[code]

とあり、コマンドの引数を補完できるように見えます。

さらに、次のコマンドを実行し

[code]

`:Hoge`の引数を補完すると、コマンド名だけでなくコマンドの引数もきちんと補完できます。

[2012-08-27 05:53] koron commented on #243
**_638**_ の間違いかな?

[2012-08-27 05:54] Shougo commented on #243
あ、すみません。どうやら`hg update`し忘れていたようです。もう一度ビルドして確認しておきます。

[2012-08-27 05:57] Shougo commented on #243
Vim 7.3.638でも動作が同じ事を確認しました。訂正しました。

[2012-08-27 15:58] k-takata opened #244 "ACLが保存・復帰されない (Cygwinの属性の保存)"
os_win32.c には、mch_get_acl(), mch_set_acl() という関数がありますが、これらが機能していないことに気づきました。
問題点は以下の通り。
1. mch_get_acl() で Owner, Group, DACL, SACL を取得しようとしているが、SACL を取得するには、SE_SECURITY_NAME 権限が有効になっていなければならない。（admin権限でプログラムを起動した上に、プログラム自身で SE_SECURITY_NAME 権限を有効化しなければならない。）
2. Owner, Group は通常権限で取得・設定が可能とは限らない。
3. そもそもマルチバイトファイル名に全く対応していない。

修正パッチを作ってみました。
https://gist.github.com/3489193

処理の概要は次の通り。
1. 初期化時に SE

[2012-08-27 16:15] h-east commented on #244
GJ!
コーディングスタイルについてのみのチェックです。patchの57行目と236行目、開始ブロック(`{`)が行末になってます。
(次行のインデント先頭が正しいですよね)

[2012-08-27 17:11] k-takata commented on #244
修正しました。ついでに win32_enable_privilege() を #ifdef で囲みました。

[2012-08-29 11:34] k-takata commented on #244
投げました。
https://groups.google.com/d/topic/vim_dev/OOs94wJKFPc/discussion

[2012-08-30 07:04] Shougo opened #245 "getbufvar(), getwinvar(), gettabvar()にデフォルト値を指定できるようにしたい"
lingrでmanga_osyoさんが要望していたので。
実は、私も欲しいと思っていました。

Vimソースコードの勉強を兼ね、自分でやってみようと思っています。
おそらく、get()の実装が参考になると思います。

メモ：eval.c の f_getbufvar(), f_getwinvar(), f_gettabvar()を変更する。
f_get()のように、copy_tv()を使えば良いはず。

[2012-08-30 07:14] Shougo commented on #245
実装後はドキュメントの追加が必要ですね。

とりあえず、getwinvar(), gettabvar(), gettabwinvar(), getbufvar()に機能を追加してみることが出来ました。テストしてみる予定です。

[2012-08-30 07:19] Shougo commented on #245
テスト予定のスクリプト：

[code]

[2012-08-30 07:20] Shougo commented on #245
暫定のパッチ。

[code]

[2012-08-30 07:24] Shougo commented on #245
Oh....

引数チェックテーブルを変更するのを忘れていました。ただ今変更中。パッチのアップデートは動作確認してからでいいや。

[2012-08-30 07:25] Shougo commented on #245
全部動作することを確認しました。やったーーー！

[code]

他の人にもぜひ試して欲しいのですが……

[2012-08-30 07:27] Shougo commented on #245
gist化しておきました。自由にお使いください。

https://gist.github.com/3523744

さて、後はドキュメントの修正ですね……

[2012-08-30 07:30] h-east commented on #245
@Shougo `{varname}`が空文字列の場合の動作は考慮してます？
あと、diffは以下のようにするとカラー表示になって楽しいです。

<pre>
[code]
</pre>

[2012-08-30 07:51] Shougo commented on #245
[code]

[2012-08-30 07:52] Shougo commented on #245
ドキュメントも修正して見ました。

カラー表示はなかなか良いですね。

おそらく動作すると思いますが、手元で試してみます。

[2012-08-30 07:54] Shougo commented on #245
[code]

で、'var'ではなく変数名の一覧が表示されることを確認しました。既存の動作は壊していないはずです。

[2012-08-30 07:55] h-east commented on #245
@Shougo 了解です。

[2012-08-30 07:56] Shougo commented on #245
上記のパッチでは、エンコーディング変換時に壊れた文字もdiffとして入っていますが、gistに上げた方では削除しておきました。
該当部分は無視してください。

[2012-08-30 09:30] h-east commented on #245
さっき気付いたのでメモ。
元から`f_getbufvar()`にあるコードでhelpでも言及されていないものがあります。
eval.c : 11105

[code]

第2引数が "changedtick" の場合に指定バッファの管理情報`b_changedtick` を返すみたいなんですけど、
これ要らないと思うんです。(デバッグ時の消し忘れ？)

どなたか練習がてら別issue立ててpatch作ってvim_devに投げてみません？
さぁ君もCONTRIBUTE AUTHORになろう！

[2012-08-30 09:41] thinca commented on #245
`b:changedtick` は通常バッファからアクセスできる変数なので、その処理は必要だと思います。
http://vim-jp.org/vimdoc-ja/eval.html#b:changedtick-variable

[2012-08-30 11:36] h-east commented on #245
@thinca おぉなるほど。thanks.ありがとう。
「さぁ君もCONTRIBUTE AUTHORになろう！」ツイートも削除しときます(苦笑)。

[2012-08-30 15:38] h-east commented on #245
@Shougo タイトルを変更しました。
「～にデフォルト値を設定できない」だと、現状の動作が不具合であるかのように受け取られ易いため。

[2012-08-30 22:52] Shougo commented on #245
わかりました。ありがとうございます。

タイトルはVimのコミットログ風(Problem)にしたんですが、確かに不具合報告と紛らわしいですね。

[2012-08-31 00:13] mattn commented on #235
!

[2012-08-31 00:15] koron commented on #235
![spur](http://www.tatsuzine.com/wp-content/uploads/2011/05/g6BeahxLxqzr2maugDGxTmQao1_500.jpg)

[2012-08-31 00:20] mattn commented on #235
![](http://data.tumblr.com/ZvHWLiZ7k5yhf16sngAdagbn_400.jpg)

[2012-08-31 02:08] thinca commented on #235
おいやめろ

[2012-08-31 02:15] h-east commented on #235
![](http://stat.ameba.jp/user_images/20120225/10/fukko-yatai/05/7d/j/o0480048011814953456.jpg)

[2012-08-31 07:46] koron commented on #244
GJ

[2012-08-31 08:32] k-takata commented on #244
todoリスト入りということは、取り込まれるまで時間が掛かりそうな感じがしますね。

[2012-08-31 08:34] koron commented on #244
TODOに入った、それだけでは判断できません。数日後に出てきたこともありますし、数ヶ月経っても出てこないこともあるのでw

[2012-08-31 08:35] koron commented on #244
おっと。TODOに入ったので todolisted で閉じます。

[2012-08-31 08:51] h-east commented on #244
close＆タグ付けは実際に runtime/doc/todo.txt が更新されてからという運用にしております。

Issueを閉じる手順
https://github.com/vim-jp/issues/wiki/Member

そういえば上記ページの「タグの付け方」は「あとで @koron さんが書く」状態のままだ(´・ω・｀)

[2012-08-31 08:57] koron commented on #244
それは失礼&了解。

書くのは気力が出ない _(：3 」∠ )_

[2012-08-31 11:36] k-takata commented on #244
親ディレクトリのDACLを継承しているファイルについては、継承している状態を維持するようにパッチを更新しました。

[2012-09-01 10:06] Shougo commented on #150
こんにちは。ヤル気が出たので、まずは仕様を考えてみることにしました。

[code]

タイマーグループはaugroupで代用することにしましょう。
CursorHoldIを参考にすれば実装できると思います。タイマーが呼ばれる時間は`<time=N>`で指定します。
省略されると 'updatetime' の値を使用します。
autocmdのデータ構造に変数を追加する必要があります。

[2012-09-01 10:07] Shougo commented on #150
パッチは自分で実装する予定ですが、なにかアドバイスがあればよろしくおねがいします。

[2012-09-03 00:15] koron opened #246 "iconv.dllがノートンにウィルスと誤認&削除された"
[出典](http://lingr.com/room/vim/archives/2012/09/02#message-11737348)

[code]

後日調査するために、こっちへ転載しました。

[2012-09-03 00:15] koron commented on #246
現時点では方針立たず。

[2012-09-03 00:25] koron commented on #246
#190 はvim本体。やはりあちらもノートンだった。

[2012-09-03 05:11] ynkdir commented on #246
http://www.symantec.com/index.jsp

Security Response / CONTACT / Report a Suspected Erroneous Detection (False Positivfe)

誤検知報告フォームはいちおうあるようです

[2012-09-04 08:12] mattn opened #247 "ヘルプ補完でE64が発生する"
`\{-}` のヘルプを出そうと

[code]

の後でタブをタイプしたら

[code]

が発生し、コマンドラインが

[code]

に置き換わった。そのままエンター押したら何も出なかった。

[2012-09-04 08:41] koron commented on #247
マジだwww

[2012-09-04 08:42] koron commented on #247
でも

[code]

したときはちゃんと出る。たぶん不可視文字でもあるんじゃ?

[2012-09-04 08:57] koron commented on #246
ユーザさん本人に報告してもらうのが良いのかな?

[2012-09-04 08:59] koron commented on #246
とりあえずMicrosoft Security Essentialsをかけた限りではiconv.dllに問題はありませんでした。

[2012-09-04 09:02] koron commented on #246
https://submit.symantec.com/false_positive/ ここからSymantecへ報告して、と報告者に伝える方向で。

[2012-09-04 09:03] koron commented on #246
ちなみにこのURLに行くには http://www.symantec.com/ja/jp/ から **セキュリティレスポンス** → **セキュリティレスポンス
問い合わせ** → **誤検知の疑いを報告(英語)** という手順。

[2012-09-04 09:21] ynkdir commented on #246
それがいいと思います。

[2012-09-04 09:33] koron commented on #246
とりあえずオンラインスキャンサービスかけてみた。以下はその結果へのURL
- virustotal
  - [Win 32bits](https://www.virustotal.com/file/d519c485f898e8e72c7a2d389bbb22ba9f91df0fbf51f9d0f31314e521bf1c06/analysis/1346750674/)
  - [Win 64bits](https://www.virustotal.com/file/d9f3c37e7bcc68098f5a732cafe51a63b01a058a13ecb47ff1060ab1acad410d/analysis/)
- Metascan online
  - [Win 32bits](http://www.metascan-online.com/results/twumumvuyyv45bt

[2012-09-04 11:25] mattn commented on #247
`:help` は `\` で始まると正規表現検索になるが、それがエラーになっているにもかかわらず処理が続行しているのが問題。エラー出したら処理は中断すべき。

[code]

[2012-09-04 11:28] mattn commented on #247
いや、まずいな。このパッチ。

[2012-09-04 11:29] h-east commented on #247
mattn_jp ++;
mattn_jp --;

[2012-09-04 11:32] mattn commented on #247
根本の問題は直るんだけど、他で落ちてる。

[2012-09-04 11:34] h-east commented on #247
浅くしか見てませんけど `goto findtag_end;` じゃないとleakしません？

[2012-09-04 11:34] mattn commented on #247
あ、わかった。

[code]

[2012-09-04 11:35] h-east commented on #247
You COOL!

[2012-09-04 11:35] mattn commented on #247
h_east そうっす。それと別に、did_emsg で見る必要があった。

[2012-09-04 11:45] mattn commented on #247
ちょっと挙動が変だなー。

[code]

でエラー出した後で、エンター押したら E149 が出ない。

[2012-09-04 12:02] mattn commented on #247
んー...一番まともな動きするのはこれかな。

[code]

[2012-09-04 12:33] mattn commented on #247
https://groups.google.com/d/topic/vim_dev/AFqCMNalPTU/discussion

[2012-09-04 16:01] h-east commented on #247
@mattn おつです。

この操作手順の場合の関数コールをソースonlyでは追い切れなかったので、備忘録としてバックトレース貼っときます。
`nv_colon()` 経由やったんかー

[code]

[2012-09-05 00:13] mattn commented on #247
僕が↑で「一番まともな動き」と言った部分について

[code]

でタブを押した場合、まずE64が発生する。これは仕様で helpgrep 的な事(タグだけ)が出来る。例えば

[code]

でタブを押すと spoon が検索出来る。で、ちょっと変かなと思ったのは

[code]

でエンターを押した時に E64 と E149 の2つが出るところ。1個は↑の仕様通り正規表現パターンをプリペアしてる箇所で、もう1箇所はヘルプタグが見付からなかった所で。
これでいいと言われればこれで言いし、これは変だと言われればこれは変だ。

[2012-09-05 13:33] h-east commented on #247
Patch 7.3.650 で取り込まれた。(ifの条件がちょっと変わった)(Patch 7.3.651も関連)
https://groups.google.com/d/topic/vim_dev/PJUgMWa6Cqg/discussion

[2012-09-05 13:33] #247 closed, assigned to mattn

[2012-09-05 13:39] mattn commented on #247
あー補完時に E64 出すのやめちゃったのか。

[2012-09-05 13:57] h-east commented on #247
ちょっと変かも。
`:h \{-` って入力して `-` の後ろで<Tab>押しても何にも起きないのはpatchの意図したことなのでOKなんだけど、
カーソルを `\` や `{` に持って行って<Tab>押すと変な補完されてしまう。

[2012-09-05 14:01] h-east commented on #247
あー、7.3.530でもほぼ同じ挙動だから本issueとは関係ないですね。失礼。

[2012-09-06 11:59] deton opened #248 "JIS第3水準(JIS X 0213)の一部の漢字を、iconv()でISO-2022-JP-3に変換しようとするとkaoriya版gvimが落ちる"
Windows用kaoriya版gvimで、JIS第3水準・第4水準(JIS X 0213)の一部の漢字を、iconv()でISO-2022-JP-3に変換しようとするとgvimが落ちます。
(Linuxでは問題ないので、kaoriya版に含まれるiconv.dll側の問題のような気がします。)
# 環境
- vim73-kaoriya-win32-20120902
- Windows 7 (32bit)
# 再現手順1

[code]

('iso-2022-jp'でも落ちる。)
# 再現手順2

「鷗」(U+9DD7)を含むファイルtest.utf-8を開く、もしくは`<C-v>u9dd7`と入力して、iso-2022-jp-3で保存。

[code]
# 備考

カーソル位置の漢字のcharset(jisx0208,jisx0213等)を(iso-2022-jp-3やiso-2022

[2012-09-06 12:15] koron commented on #248
KaoriYa版に付属のiconvはかなり古くて1.10。それ以降のは版はWindowsでコンパイルできなかったりしたので。加えてUNICODEにMSな独自パッチがあたっている。あれ?CP932とEUC_JPの間の変換だったか? ちょっと覚えてない。

[2012-09-06 12:16] koron commented on #248
わお。コレで落ちた。

[code]

[2012-09-06 12:20] koron commented on #248
手元にiconv.dllのデバッグ版がなくて死亡w…メンドイ

[2012-09-06 13:18] koron commented on #248
独自のeuc-jpの変換が悪さしてたっぽい。気を利かせてJISX0212の変換をやっていた箇所を消したら、落ちなくなった。

[2012-09-06 13:27] koron commented on #248
@deton gvim.exe に付属のiconv.dll を http://files.kaoriya.net/var/iconv-20120906_01.zip このバージョンに差し替えて試してもらえますか? 良さそうなら次の版から差し替えます。zipの中には iconv-20120906_01.dll というファイルが入っているので iconv.dll に変更して使ってください。

[2012-09-06 23:49] deton commented on #248
落ちなくなりました。ありがとうございます。
が、一部の漢字がiso-2022-jp-3に変換すると壊れるようです。
例:仡(U+4EE1)をiso-2022-jp-3で保存するとjisx0208に変換しようとしている模様。

以下のデータを使って動作確認しています。(網羅的に作ったものではないですが)
https://github.com/deton/getjpcharset.vim/tree/master/test

[2012-09-07 00:45] koron commented on #248
libiconvが古い&へんなパッチがあたってるので、現状では&暫くの間は改善の見込みがありません。

対策として最新のlibiconvをMSVCに対応させる(+kaoriyaなVimで使う)ためのプロジェクトを作りましたので、以降はそっちでやりましょう。

https://github.com/koron/libiconv

[2012-09-07 00:45] koron commented on #248
落ちなくなったことを持ってこっちは閉じます。

[2012-09-07 00:45] #248 closed, assigned to koron

[2012-09-07 00:49] koron commented on #248
koron/libiconv#2 に対象文字が含まれているか確認する

[2012-09-07 06:04] koron opened #249 ":cfileしたときにfencsが効かない"
MSVCのコンパイルログ(cp932)をenc=utf-8なVimで`:cfile`したら文字化けして悲しかった。

fencs みてちゃんとしてほしい。

[2012-09-07 13:58] mattn commented on #114
ここが最新っぽい

https://retracile.net/wiki/VimBreakIndent

[2012-09-08 16:04] koron opened #250 "CP932とMS932、どっちにしよう。"
KaoriYa版に同梱されているlibiconvの仕様を変更するか否か、意見を聞かせてください。個人的には楽するために変更してしまいたいが、それによって引き起こされるユーザの混乱や不便が未知数ゆえ。
# 背景

参考: [CP932//JISとMS932との差異](http://suika.fam.cx/~wakaba/wiki/sw/n/CP932++JIS%E3%81%A8MS932%E3%81%A8%E3%81%AE%E5%B7%AE%E7%95%B0)

Windows版Vimではデフォルトの文字コードがCP932になります。KaoriYa版ではこのCP932を独自パッチ(該当箇所をほぼ書き直し)で実質MS932にしていました。これはユーザの利便性を考えてのことです。ただVimやlibiconvのメンテ状況を考えると、MS932を正しい形で押し込むのはほぼ無理だし、今の形で維持する

[2012-09-08 16:12] thinca commented on #250
素人なのでよくわかってないのですが、MS932とCP932ってどこがどれくらい違うものなんでしょうか。

[2012-09-08 16:13] koron commented on #250
@thinca 詳しくは、参考のリンクをみてください。致命的なのは「～」あたりかな。

[2012-09-08 16:21] thinca commented on #250
おっと、リンク見落としてました…見てみます！

[2012-09-08 16:54] koron commented on #250
とりあえずCP932(の中身)を無理矢理MS932にしちゃう方法はできた。今回はなるべく簡単な方法で。

ただEUC-JPとかとの対応は良くないかも。ま、そうそう使わないし良いかな。

[2012-09-09 02:11] ynkdir commented on #250
enc=utf-8 で扱うファイルがユニコードと cp932 くらいなら素の libiconv でもあんまり困らないと思います。
utf-8 <-> cp932 の変換は Win32 API で変換してるし
enc=cp932 のときみたいに euc-jp のファイルを開こうとして変換エラーということもない。
とはいえ http://www2d.biglobe.ne.jp/~msyk/software/libiconv-patch.html が無難かなあと思います。

[2012-09-09 02:59] ynkdir commented on #250
今はcp932でff5eが通ったりちょっとよくなってるんですね。
1.11からとか…ずいぶん前だ…。

[2012-09-09 03:24] k-takata commented on #250
リンク先は、単に CP932 というと Microsoft CP932 と IBM CP932 などがあって紛らわしいので、Microsoft CP932 のことを MS932 と書くといっているわけですが、この Issue では CP932 とは何を指していますか。
リンク先は、JIS (=Shift_JIS) と MS932 (=Microsoft CP932) の差異について述べているのであって、CP932 と MS932 ではないです。

[2012-09-09 04:12] koron commented on #250
@ynkdir:

これマジ? 私もそんな記憶があったけど自身が持てなかった&調べるの面倒だったので。だとすれば

Vimでの利用に限って言えば、コレすら要らないですよね。

@k-takata:
CP932 = 素の libiconv が規定するCP932です。

[2012-09-09 05:50] k-takata commented on #250
あ、libiconv の CP932 って独自仕様なんですね。

libiconv-1.14 のソースを MultiByteToWideChar で grep してみましたが、見つかりませんでした。
lib/cp932.h を見ると次のように書かれています。

[code]

試してませんが、Unicode → CP932 → Unicode と変換すると、U+FF5E → 0x8160 → U+301C となるんじゃないかと予想。
enc=cp932 で UTF-8 のファイルを編集すると、中身が変わってしまいませんか？

[2012-09-09 07:18] ynkdir commented on #250
これは Vim の中の話です。

@koron

まあ拡張入っててもじゃまになるもんでもなし
あればいざというときわざわざ入れ替える必要もなくて楽なのかなていどの考えです。

[2012-09-09 10:51] koron commented on #250
@k-takata

変わりますよ。ただWindowsならそれで良いんですよ、メモ帳でもANSI経由させちゃえば変わりますから。逆に変わってくれないと困ることのほうが多い(過去には多かったというほうが良いかも)。

@ynkdir

Vimユーザはあっても困らないかも。でもlibiconvのメンテ的には邪魔になるんですよね。

[2012-09-09 12:18] k-takata commented on #250
そうでしたか。これは失礼しました。

U+FF5E が euc=cp932(iconv) なVimを通して U+301C に変わってしまうと、他の内部 cp932(MS) なアプリで開いたときに ? に化けてしまいますが。

[2012-09-09 13:33] koron commented on #250
@k-takata

あ～ enc=cp932 の時に、CP932とUTF-8との変換はWin32 APIではやらないのか…やっぱミニマムでもMS932を維持するしか無いか。

enc=cp932 をとっとと捨て去りたいけど、そういうわけにもいかないと。

[2012-09-09 13:43] koron commented on #250
ここまでの情報、議論をすり合わせると以下の結論となります。
- enc=utf-8 運用ならば MS932 を導入するメリットはほぼ無い
  - (前提)enc=utf-8の時はiconvではなくWin32 APIで変換されるため
- enc=cp932 運用ならば MS932 を導入せざるを得ない
  - (主たる動機)Vimで作られたUNICODE系ファイルが他のツールで利用者の意図通りに表示できない可能性があるため

なんか間違ってるとか情報たらなそうなところはありますか?

[2012-09-09 13:45] k-takata commented on #250
ごめんなさい。ここの部分の動作は実際には確認できていません。
あくまで、@koron さんの「変わりますよ。ただWindowsならそれで良いんですよ」に対して、変わってしまっていたらまずいのでは？ということです。

[2012-09-09 13:49] koron commented on #250
私のコレは

私が幾つか誤解していて、特に **enc=cp932 でも** 「UTF-8とCP932との変換にWin32 APIが使われるなら」ってつもりで書いてました。でもこれは誤りで、実際は **enc=utf-8 なら** でしたから、素のCP932だと変わってしまって、だいたい困るハズです。まぁVista移行にはU+301CもU+FF5Eも同じように見えるとか、なんかいろいろありそうですが…まぁその辺は忘れましょう。

[2012-09-09 13:52] ynkdir commented on #250
enc=cp932 でも utf-8 <-> cp932 の変換は Win32 API です。
ただ utf-16 は iconv で変換されるのでやっぱり困るとは思います。

[2012-09-09 13:59] koron commented on #250
thanks! これが知りたかった&そうであって欲しいと願ってたw

あ～MSでUNICODEといえばUCS-2LE相当でしたね。いまはUTF-16って言わなきゃだめなのかな…ってこれは本題ではないですね。

この数日でMS932化パッチは以前のものより格段に簡単になった&iconvのテストの仕組みを完全掌握したので、このissueを起こした時の想定よりもパッチ維持コストは大幅に下がっています。なのでなんかもうそのままで良いかな、という気持ちも無くはない。

逆にMS932を維持した場合の懸念点はないかが気になります。あるかどうかわかりませんが「UNIX版と動作が違うからスクリプトが…」とかなんとか。

[2012-09-12 02:52] ledyba opened #251 "i(nore)?mapが発動するとIMEが勝手にOFFになってしまう"
はじめまして。
Windows Vista32bit版とWindows7 64bit版で、公式のバイナリとKaoriya 32/64ビット版のgvimで確認したのですが、

&#105;&#110;&#111;&#114;&#101;&#109;&#97;&#112;&#32;&#60;&#85;&#80;&#62;&#32;&#60;&#99;&#45;&#92;&#62;&#60;&#67;&#45;&#79;&#62;&#103;&#107;&#10;
&#105;&#110;&#111;&#114;&#101;&#109;&#97;&#112;&#32;&#60;&#68;&#79;&#87;&#78;&#62;&#32;&#60;&#99;&#45;&#92;&#62;&#60;&#67;&#45;&#79;&#62;&#103;&#106;&#10;

と設定すると、IMEオン

[2012-09-12 03:03] Shougo commented on #251
InsertLeave時に、IMEをオフにする設定があるのではないでしょうか。
まだ詳しい確認はしていませんが、`<C-o>`を実行した時に一度Insertmodeを抜けるのでInsertLeaveが呼ばれるのではないかと思います。

[2012-09-12 03:05] Shougo commented on #251
`<C-o>`時に、InsertLeaveイベントが呼ばれるのを確認しました。

[code]

を実行しておくと確認できるはずです。おそらくバグではなく、仕様だと思います。

[2012-09-12 03:12] koron commented on #251
ちょっと遠回りな解決策ですが i_<C-Down> に「見た目行」での下移動(gj相当)が実装されてても良いかもですね。Vim本体に機能追加、という形で。

[2012-09-12 03:22] ledyba commented on #251
こんにちは。ありがとうございます。

vimrc/gvimrcを削除して素の状態にして確認してみました。
仰るとおり、手動の&#60;&#67;&#45;&#79;&#62;&#103;&#106;で移動した場合も、i(nore)?mapで移動した場合も、どちらも挿入モードから一旦抜けてまた入る扱いみたいです。
手動の<C-O>gjの場合はIMEがONの状態で挿入モードに戻るので、やはりmap特有の何かがあるように思うのですが…。

私もそう思います。

[2012-09-12 03:25] koron commented on #251
@ledyba

手で i_<C-o> した時はイベントが発生しないけど、マップ経由で行った時は発生するみたいなルールがあってもおかしくないですね。いずれにせよ現在のところ @ledyba さんの目的を達成する正当な手段はないでしょう。

[2012-09-12 03:30] koron commented on #251
あ～ちがう。わかったわかった。
- iminsertの値を更新するのは、ESCでinsertモードを抜けた時だけ
- iminsertの値を適用するのは、<C-O>後にinsertモードに戻った時にも

ってなってます。その証拠に、IME ONのままESCでinsertモードを抜けて、その後再度insertモードで<Down>すれば、こんどはIMEがOFFにならない。

なので、Vimの実装のバグですね。C-Oで抜けるときもiminsertを更新するようにする、ってのが簡単に思いつく解決策だが…なんか副作用有りそうw

[2012-09-12 03:32] koron commented on #251
@だれか: 過去にiminsertの更新タイミングについて議論していた場所があったと思ったんだけど見つけられません。知っていたら教えて下さい。

[2012-09-12 03:33] koron commented on #251
ついでに、この状態でIME OFFにしてから<Down>するとIMEがONになるはずw

[2012-09-12 03:39] ledyba commented on #251
@koronさん
なるほど…。

私の環境でも両方とも再現しました…。

[2012-09-12 03:43] h-east commented on #251
「 #64 iminsertとimdisableが直ちには反映されない」ですね。
Githubのsearch機能が腐ってるっぽいですｗ

[2012-09-12 03:50] koron commented on #251
@h-east Thanks! 検索で日本語が使えるようになった時にindexが飛んだのかしらね?w

[2012-09-12 03:51] koron commented on #251
iminsert の件は #228 へ続いていた。

[2012-09-12 03:53] koron commented on #228
#251

という問題があった。

[2012-09-12 03:54] koron commented on #251
duplicated #228 なのでこっちは閉じます。

[2012-09-12 03:54] #251 closed, assigned to nobody

[2012-09-13 13:36] ynkdir commented on #31
+ffi: Enhanced Native Call Propose
https://groups.google.com/d/msg/vim_dev/F2z5I9tayKY/UNGZ1-kSvq4J

[2012-09-13 16:19] Shougo commented on #31
それは私も期待しているんですが、他の誰からも反応がないんですよね……

[2012-09-15 13:19] k-takata opened #252 "Cygwinビルドで +perl/dyn, +python/dyn が動かない"
Cygwinで +perl/dyn, +python/dyn でビルドすると、これらが正常に動作しません。
configureは以下の通り。

[code]

まずはperlですが、perlのDLLが無い状態で起動しようとすると以下のようなエラーになります。

[code]

dynamicを指定しているにもかかわらず、cygperl5_14.dll の PL_thr_key 関数を参照してしまっています。対策を調べてみましたが、分かりませんでした。

次に、pythonの方ですが、`:python print "hello"` を実行すると次のようなエラーが出ます。

[code]

こちらは、libpython2.6.dllではなくlibpython2.6.dll.aをロードしようとしているのが原因です。src/configure.in の中に、

[code]

という部分があるので

[2012-09-15 14:09] h-east commented on #252
srcの下に `Make_cyg.mak` があるんですが、もしかして通常はこれを使うのではないすかね？

[2012-09-15 14:18] h-east commented on #252
あー、Make_cyg.makの冒頭にこれ書いてあるから、やっぱ configure 使うのが正解ですね。すまそ。

[2012-09-15 16:04] k-takata opened #253 "vimLoadLibの修正について検討する"
https://groups.google.com/d/topic/vim_dev/1g5QM5Cy-mA/discussion で、encの設定によっては、iconvをロードしようとした際に、vimLoadLibの中で呼んでいる関数がiconvを使おうとするために、スタックオーバーフローで落ちるという話が出ています。
そこに添付されているパッチを見ると、[GS]etCurrentDirectory() を使うように変更しているのですが、まず [GS]etCurrentDirectoryW() を試すべきではないかと思うのですが、どうでしょうか。

[code]

カレントディレクトリを exe_path に設定するところで、SetCurrentDirectoryW() を使っていないところがちょっと気になるところですが、get_exe_name() がW系APIを使っていないので、これは

[2012-09-15 16:15] koron commented on #252
まず大前提として*/dynはWindows向けの機能です。一方CygwinがUNIXなのかWindowsなのかは微妙なところで、configure使ったときはUNIX的にmakeされると考えるのが自然で、Make_cyg.makを使ったときはWindows的になるのでは。

なのでconfigure使った時には*/dynは正しく機能しないんじゃないでしょうか。

*/dynはMSVC用に作成されたので、たぶんMinGWくらいまでがサポートすべき境界でしょう。

[2012-09-15 16:16] koron commented on #252
これWindowsのバグとは言いがたいです。むしろUNIXのバグ。

[2012-09-15 16:32] koron commented on #253
まずポイントは以下の関数をWindowsネイティブのものに置き換えなければならないということ
- mch_dirname
- mch_chdir

そうしないとvimLoadLib("iconv.dll")な無限再起呼び出しができてしまう。

これを踏まえて元のパッチの本当の問題点は **exe_pathの中身の文字コードを考慮せずにSetCurrentDirectoryに渡している** という点に集約される。ただこれはexe_pathがTCHARで正しく実装されていれば問題ではない。単にUNICODEモードでコンパイルすればよいだけ。

@k-takata さん版は…上記の問題を解消していない。W系を使うということにメリットはない。Win98をサポートする意味は無いし、仮にサポートするとしてもW系が存在しない(はずだったよね?)から起動できない可能性がある。あと後半はA系を使わないと、U

[2012-09-15 17:01] k-takata commented on #252
./configure --help とすると、

[code]

と出ます。*/dyn は元々Windows向けに作られたのかもしれませんが、Windows専用というわけではないでしょう。
先ほど、Linuxでも動作を試してみましたが、+python では、pythonの.soが無いと起動できませんでしたが、+python/dyn であれば、.soが無くとも起動でき、期待通りの動作をしました。

少なくとも +ruby/dyn に関しては Cygwin でも期待通り動作しましたし、+python/dyn に関してもDLLの名前さえ（手で）修正すれば期待通り動作しました。

[2012-09-15 17:06] koron commented on #252
ということは内部的に*/dynには実装がWindows系とUNIX系があるのでしょうね。

それでCygwinのconfigureを使ったときはUNIX系が選択されているが、
その実装に不備がある、ただしくはCygwin(Windows)との相性がよろしくない形になっていると。

[2012-09-15 17:17] k-takata commented on #252
その通りだと思います。
で、+python/dyn に関しては、最初に書いたように configure.in 内の python_INSTSONAME (or python3_INSTSONAME) の設定の部分さえCygwinと他のUnix系で分岐できれば良いはずです。
（configure や GNU make の書き方がよく分かっていないのでどう書くべきか分かっていませんが。）
+perl/dyn の方は .xs の仕組みが全く分かっていないため、お手上げです。

[2012-09-15 17:18] koron commented on #250
MS932の維持とします。

数日考えたけど、許容範囲でしか無かった。その一方

これが最大の意思決定要因となりました。

[2012-09-15 17:19] #250 closed, assigned to nobody

[2012-09-15 17:41] koron commented on #234
VS2012もでていることだし、W2Kは切りましょう。

vim-jpとしての決定事項
- 古いWindowsに向けてのバイナリは基本的に用意しない
- そのような用途にはMinGWでのビルドを推奨し、できればその情報を拡充する

よってこのissueは閉じます。

[2012-09-15 17:41] #234 closed, assigned to nobody

[2012-09-15 17:43] koron commented on #232
wontfix とします。

誰も困った様子がないので…困ったときになんとかしましょう。

[2012-09-15 17:48] koron commented on #242
手元は修正済み。

本家に入れるのは別の問題として扱うべき。

[2012-09-15 17:48] #242 closed, assigned to koron

[2012-09-15 23:25] ynkdir commented on #253
[code]

こういう場合にWでないと元のディレクトリに復帰できないですね。

先にvim_devでコメントしてしまいましたがなんか余計なことしてすいません。

[2012-09-16 00:10] koron commented on #253
いいんじゃないですかw

ただあのコード自体、Win2K SP4以降であれば要らないんですよね。DLLの読み込み優先順位変わってますから。

[2012-09-16 01:06] k-takata commented on #253
@ynkdir いえ、お構いなくｗ このパッチの意図はその通りです。

現状の os_win32.c はそういう作りにはなっていないです。FEAT_MBYTEで切っている部分を見ると、A系APIで処理すべき部分にAはついていません。

exe_pathの文字コードは現在のコードページのもののようです。get_exec_name() の中で、GetModuleFileName() を使って取得した後、文字コードの変換はしていませんので。
少なくとも実行ファイルがUnicodeパス上に無ければちゃんと動くはずなので、Unicodeパス上に置いた場合も考慮すべきか？という話になります。（ちゃんと考慮する場合、直すべき場所はここだけではない気がしますが。）

Win9xも、W系のシンボルだけは用意されています。中身はエラーを返すだけになっていますが。

指定されたDLLがたまたまカレントディレクト

[2012-09-16 01:52] k-takata commented on #253
投げてみました。
https://groups.google.com/d/msg/vim_dev/1g5QM5Cy-mA/Yhls1C-wv_AJ

[2012-09-16 02:03] koron commented on #253
それはまた別の仕組みで防ぐべきでは? カレントに正しいDLLがある状況で読み込めないのも逆に困りますから。

[2012-09-16 02:07] koron commented on #253
それですよね。やるなら全部やらないと意味を成さない。このケースで言えばexe自体が現在のCPで表せない場所に置いてあった場合にはそもそも動かないんで、やるだけ無駄じゃないですか?

[2012-09-16 02:09] koron commented on #253
こういうのってvimに限らないですけど、将来へ引き継ぐべきではない負の遺産が、どんどん蓄積していきますよね…

[2012-09-16 02:23] koron commented on #253
今Vimのソース眺めてて思ったんだけど mch_chdir を SetCurrentDirectory で置き換えるのって大丈夫なのかしら? mch_chdir は crt の関数をいくつか叩いている。

とりあえずすぐに思いつく怪しいケースは、exeのある場所とカレントディレクトリが異なるドライブだった場合、くらい。逆にこのケースが動くなら、当面の問題はないと判断して良さげ。

[2012-09-16 02:36] koron commented on #253
論理的には、今回のケースでは問題無いと推定される。WIN32API側の操作がCRT側に副作用を及ぼすケースは見たことがない。逆に作用がCRT側に伝播しなくて困るケースはよく知られている(環境変数など)。パッチの内容は、WIN32API上の作用を利用後に即消している。つまりWIN32APIによる作用を残すケースではない。

[2012-09-16 02:51] k-takata commented on #253
Windowsはドライブごとにカレントディレクトリを持っているので、exeのあるドライブのカレントディレクトリがexeのあるディレクトリを指すようになってしまいますが、それはパッチを当てる前のコードでも同じですし、恐らく問題はないのではないかと。

mch_chdir では _chdrive を呼んでドライブを変更していますが、VC の _chdrive のソースを見ると、SetCurrentDirectory を呼んでいるだけだったりしますし。

[2012-09-16 02:57] koron commented on #253
純粋な興味から、確認だけ。

LoadLibrary が読み込む対象としている **カレントディレクトリ** って、正確には **カレントドライブのカレントディレクトリ** ってことですよね? 非カレントドライブのカレントディレクトリからも探すぜ、みたいな鬼畜仕様でないことを切に願うw

[2012-09-16 03:02] k-takata commented on #253
さすがにそんな鬼畜仕様ではなかったと思いますｗｗｗ

[2012-09-16 14:45] k-takata commented on #252
+python/dyn に関しては次のパッチでうまくいきそうです。autoconf で src/auto/configure を更新する必要があります。

[code]

（タブは4文字に展開されて表示されてしまう？）
（9/17 10:08 +python3/dynのパッチが間違っていたので修正。）

[2012-09-17 16:58] k-takata commented on #252
+perl/dyn は、Linux でも同じようです。
Ubuntu 12.04 で --enable-perlinterp=dynamic で configure して make し、objdump で確認すると、libperl.so.5.14 が必須な状態になっていました。

[code]

[2012-09-18 14:45] ynkdir commented on #252
-DOLD_PTHREADS_API で動くみたいですがなんかあやしいです。

関係ないですが vista + msvc10 + active perl 5.16 は :perl 実行で落ちました。

[2012-09-18 14:47] koron commented on #252
一応issue起こしてもらえます? 手元の5.14では問題なさそうです。

[2012-09-18 15:35] ynkdir commented on #252
了解です。

[2012-09-18 15:41] ynkdir opened #254 "Windows で ActivePerl 5.16 を使うと落ちる"
Vista + ActivePerl 5.16.1.1601 + msvc10 でコンパイルした vim で `:perl` コマンドを実行すると落ちます。
静的リンクと動的リンク両方。

perl 5.14 は大丈夫です。

Linux は perl 5.16 の環境を持ってないので試してません。

[2012-09-19 02:42] koron commented on #252
@ynkdir thanks!

[2012-09-19 14:17] koron opened #255 "NetrwSettingsを実行するとエラーが出る。"
https://twitter.com/sv_junic/status/248321662217498624

詳細なSSは上記。 `g:netrw_cursorline` が無いとかなんとか。

ソースを見てみたら `$VIMRUNTIME/autoload/netrw.vim` の最終更新は2012年なのに、 `$VIMRUNTIME/autoload/netrwSettings.vim` は2008年で、かつ `g:netrw_cursorline` はobsolete だとも。

つまりNetrwSettingsはメンテされてない、ということらしい。なんとかしたい。

[2012-09-19 14:19] ynkdir commented on #254
Ubuntu で perl 5.16 をビルドして試してみましたが大丈夫でした。
perlxxx.so をビルドする方法がわからなかったので静的リンクだけ。

Windows で mingw でビルドすると落ちませんでした。
mingw + msvcr100 でビルドすると落ちたので
msvcrt のバージョン不一致が原因ぽい気がします。
ので閉じます。

[2012-09-19 14:20] koron opened #256 "NetrwSettingsを実行するとエラーが出る。"
https://twitter.com/sv_junic/status/248321662217498624

詳細なSSは上記。 `g:netrw_cursorline` が無いとかなんとか。

ソースを見てみたら `$VIMRUNTIME/autoload/netrw.vim` の最終更新は2012年なのに、 `$VIMRUNTIME/autoload/netrwSettings.vim` は2008年で、かつ `g:netrw_cursorline` はobsolete だとも。

つまりNetrwSettingsはメンテされてない、ということらしい。なんとかしたい。

[2012-09-19 14:21] koron commented on #256
操作ミスって二重投稿 #255 のため。

[2012-09-19 14:21] #256 closed, assigned to nobody

[2012-09-19 14:23] h-east commented on #220
(@saitoha さん、後で流れが追えるようにこちらにもリンク貼らせてもらいました。)

先日のttymouse=sgrがtermresponseで無効化される件と、has('mouse_urxvt')、has('mouse_sgr')のサポートをvim_devに投稿しました。 [https://twitter.com/kefir_/status/248374269271232512](https://twitter.com/kefir_/status/248374269271232512)

https://groups.google.com/d/topic/vim_dev/sftJXK8mXvA/discussion

[2012-09-19 14:37] koron commented on #254
つまり ActiveState の Perl 5.16 が MinGW でコンパイルされているってことかしら?

あとその理由が正しいとして、どうして 5.14 までは大丈夫だったのか? 5.14 まではMSVC10でコンパイルされていたけど、5.16 からは MinGW に変わったってのはちょっと考えにくいんだけど…

[2012-09-19 14:38] koron commented on #254
とりあえず wontfix としておきます。

[2012-09-19 14:50] ynkdir commented on #254
ActiveState は msvcrt.dll を使ってるみたいですね。
mingw か msvc かはわかりませんが。
perl5.14 + msvcr100 がなんで大丈夫なのかはなぞですね…。
テストは単に :perl VIM::Msg(...) を実行してみただけなので、一見大丈夫なようで実際に使ってみると実は問題ありという可能性もあります。

[2012-09-19 16:46] ynkdir commented on #254
http://www.nntp.perl.org/group/perl.xs/2011/08/msg2644.html
たぶんこれと同じ。

-D_USE_32BIT_TIME_T を追加で動くようになりました。

msvc8 (visual studio 2005) から time_t はデフォルトで 64bit になったのでそのせいだったみたいです。
ほかにもなにかあるかもしれませんね。

[2012-09-19 16:52] ynkdir commented on #254
いやでもそれだと5.14でも動かないはず。
やっぱりたまたま動いてただけかなあ。

[2012-09-19 17:02] koron commented on #254
それぞれの世界で作った(特殊な)ものを反対側に持って行くことがなければ基本は動きますよね。5.16で落ちる瞬間をデバッガで捕まえれば良いのかしら?

[2012-09-19 19:45] k-takata commented on #252
Cygwin では、+perl/dyn は次のパッチでうまくいっているようです。
Linux での動作は未確認、Perl のバージョンチェックがこれで合っているかどうかも未確認です。

[code]

[2012-09-20 01:54] ynkdir commented on #254
if_perl.xs から生成された if_perl.c には以下のコードが含まれていて

[code]

5.14 だと call_list() が呼ばれなくて 5.16 だと呼ばれます。
5.14 でもこれを呼ぶようにすると落ちます。

PL_xxx はマクロで `((PerlInterpreter*)context)->Iunitcheckav` みたいなコードに展開される。
PerlInterpreter 型は time_t 型のメンバを持っている。
Iunitcheckav は time_t 型のメンバの後ろにある。
activeperl で使ってる time_t 型は 32bit。 msvc10 の time_t 型は (デフォルトでは) 64bit。
なので call_list にずれたポインタが渡される。
ということだと思いますたぶん。

といわけで time_t 型のメン

[2012-09-20 02:27] ynkdir commented on #254
いや 5.14 でも 5.16 でも context->Iunitcheckav は間違った場所を指してるから
call_list が呼ばれるかどうかはたまたま違いがでただけか

[2012-09-20 02:29] koron commented on #254
いずれにせよVimのコンパイル時に

これを付けるべきですね?

[2012-09-20 03:00] ynkdir commented on #252
おつかれさまです。
ubuntuで動作確認しました。okです。

[2012-09-20 03:14] ynkdir commented on #254
んーそうですね
他に影響がなければ…
なんとも言えませんね…

[2012-09-20 03:20] ynkdir commented on #254
64bit windows はどうなるんだろ

[2012-09-20 03:38] ynkdir commented on #254
vim-jp のバイナリ配布的には Strawberry Perl と ActiveState Perl が動かないととりあえずダメですよね

[2012-09-20 03:50] ynkdir commented on #254
まあ影響するとすれば if_xxx くらいですし
どっちみちバイナリ互換てきに全部は対応できないのでとりあえず `-D_USE_32BIT_TIME_T` をつけとくのがいい気がします。

[2012-09-20 04:02] koron commented on #254
どっちか一般的なほうだけにしたいなw

Python や Ruby あたりと喧嘩して涙目な展開が予想できますねw どこかで64bit化しとかんと2038年問題が… (´・ω・`)

[2012-09-20 04:33] ynkdir commented on #254
あーそっか python の公式バイナリは msvc ビルドか。
if_python と if_ruby は time_t のサイズが影響しそうなとこはぱっと見ないのでかろうじて大丈夫だとは思いますがまー心配ですね。
逆に言えばmingwでビルドしたvimでif_pythonやif_rubyが動かないということもあるはずですがそういう話は聞きませんね。

[2012-09-20 04:35] ynkdir commented on #254
Building on Windows 7 - Perl crashes
https://groups.google.com/d/topic/vim_dev/30UmOJhYY_M/discussion

これも同じ問題かなぁ

[2012-09-20 04:59] ynkdir commented on #254
ちがった。これは 7.3.623 だ。

[2012-09-20 05:11] ynkdir commented on #254
いややっぱりおんなじだ。
7.6.623 はworkaroundで対処してる。
構造体直アクセスから関数呼び出しでのアクセスに変更か。
これで全部書き換えるのは大変だなぁ。

[2012-09-20 13:31] koron commented on #254
でもやっといたほうが安全?

やってみた。コンパイルエラーになった。

**_USE_32BIT_TIME_T と _WIN64 の両方を定義することはできません。**

詳細はココ http://msdn.microsoft.com/ja-jp/library/bb763169(VS.90).aspx

[2012-09-20 13:37] koron commented on #254
64bit版はUSE_32BIT_TIME_T使わなくても問題なく動作した。設定できない以上、当然の結果だけど。

[2012-09-20 13:38] koron commented on #254
とりあえず次から32bit版は _USE_32BIT_TIME_T 付けます。そしてActivePerl 5.16.1にアップデート。

[2012-09-20 13:58] ynkdir commented on #254
[code]

7.3.623 ではこういう感じで置き換えてますが、
PL_errgv => perl_get_errgv() みたいな単純な変更ではないのでこの方法で直すのはもしかしたら無理かもしれないです。
自動生成される分もあるのでなかなか厳しいと思います。

64bit は大丈夫なんですね。よかった。

[2012-09-20 14:18] koron commented on #254
7 .3.666、PerlとLuaをバージョンアップして出しちゃったw

[2012-09-21 06:45] k-takata commented on #252
動作確認ありがとうございます。vim_devに投げました。

+python/dyn does not work on Cygwin
https://groups.google.com/d/topic/vim_dev/WsRO0sfHF8M/discussion

+perl/dyn does not work well on Cygwin and Linux
https://groups.google.com/d/topic/vim_dev/JEPdD-EMAp4/discussion

[2012-09-21 07:04] k-takata commented on #254
ActivePerl 5.14 32bit版は（おそらく）MSVC6でビルドされてます。PEヘッダのlinker versionが6.0になっているので。
MinGWだと2.22とかになっているはずです。(binutilsのバージョンかな?)

perl.h（あるいはif_perl.xs）だけ _USE_32BIT_TIME_T でコンパイルすることは可能なのかどうなのか…。

[2012-09-21 08:22] koron commented on #254
すでに32bit版については全部 `_USE_32BIT_TIME_T` しちゃってますw

[2012-09-21 11:48] k-takata commented on #252
7.3.668, 7.3.669で取り込まれました。早っ！

[2012-09-21 11:48] #252 closed, assigned to nobody

[2012-09-21 15:13] k-takata commented on #253
todo.txtに入りました。

[2012-09-21 15:13] #253 closed, assigned to nobody

[2012-09-21 15:16] k-takata commented on #241
todo.txt が更新されました。

[2012-09-21 15:16] #241 closed, assigned to nobody

[2012-09-21 15:18] k-takata commented on #244
todo.txt に入りました。

[2012-09-21 15:18] #244 closed, assigned to nobody

[2012-09-21 15:52] k-takata commented on #240
vim_devへのリンクがなかったので追加。
https://groups.google.com/d/msg/vim_dev/BTJOrsWh2xU/aF4mWmf_mPsJ

todo.txtに入りましたので閉じておきます。

[2012-09-21 15:52] #240 closed, assigned to mattn

[2012-09-23 05:10] saitoha commented on #220
TODOが更新されましたが、SGR 1006の自動認識の挙動を修正する件も入っています。

http://code.google.com/p/vim/source/diff?spec=svn04592728474a35794ae6397a0b90f2989864fb66&r=04592728474a35794ae6397a0b90f2989864fb66&format=side&path=/runtime/doc/todo.txt

[2012-09-24 09:58] sgur opened #257 "Windowsでenc=utf-8の時、ファイル名に日本語を含むファイルを編集すると、スワップファイルが削除されない"
Windows でしか検証していないため、他の環境で発生するかは未確認です。

デフォルトでは、なにかファイルを開くと同じディレクトリにスワップファイルが作成され、スワップファイルはVimの終了時に削除されます。

しかし、`set encoding=utf-8`の状態でファイル名に日本語を含むファイルを開いた場合、スワップファイルが Vim の終了時に削除されず残ってしまいます。

また、ファイル名に日本語を含むファイルを開いた状態で`:e`しただけで、スワップファイルが見つかった旨のメッセージが表示されてしまいます。

[2012-09-24 10:00] koron commented on #257
さしずめ、スワップファイルの取り扱い部分にエンコード変換が入ってない、っていうところかしらね。

私もenc=utf-8で常用しているけど、日本語を含むファイル名を取り扱わないので気が付かなかった。

[2012-09-24 10:04] koron commented on #257
いま、ざっくり手元でやってみたらちゃんと消えた。なんか消えないトリガーが別にあるかも。

@sgur: プラグインや設定を消した素の状態でなるか確認してもらえませんか。あとどのようなファイル名でやったのかも教えてください。

[2012-09-24 10:09] sgur commented on #257
kaoriya版を使ったところ、再現しませんでした。

手元でビルドするときにあてたパッチが影響しているようなので、もう少し調査します。

[2012-09-24 10:18] sgur commented on #257
手元での再現条件がわかりました。

#241 の [symlinkfix-update.diff](https://gist.github.com/3436380/) のパッチを適用していると再現するようです。パッチ詳しく読んでないのでどこが原因かはわかりませんが…

[2012-09-24 11:24] koron commented on #241
@k-takata: #257 の件、調査&必要ならば修正をお願いできますか?

[2012-09-24 11:37] ynkdir commented on #254
Windows Compilers for Perl Modules
http://community.activestate.com/faq/windows-compilers-perl-modules

x86=VC6
x64=Windows 2003 Platform SDK
のようです。

[2012-09-24 11:38] koron commented on #254
VC6…だと…?

[2012-09-24 11:45] osyo-manga opened #258 ":cwindow で quickfix ウィンドウが開かない"
quickfix にデータが出力されている場合に :cwindow で quickfix ウィンドウが開きません。
日本語の help には

[code]

と、記述されているのですが、認識されたエラーとは具体的にどこを参照しているのでしょうか。
- 再現コード

[code]

上記の場合ですと、`:copen` では quickfix ウィンドウが開き "homuhomu" が表記されます。
また `getqflist()` でもデータの取得が行えます。
- vim-version

[code]

[2012-09-24 12:19] k-takata commented on #257
まだ詳しくは調べていませんが、私が修正する前の symlinkfix.diff でもダメなようです。

[2012-09-24 12:21] k-takata commented on #254
ちゃんと公式に書いてあったんですね。

[2012-09-24 13:04] k-takata commented on #257
あああ、mch_remove() がマルチバイトに対応していませんｗ

[2012-09-24 13:06] koron commented on #257
www

[2012-09-24 13:35] ynkdir commented on #258
認識されたエラーは 'errorformat' にマッチしたものということだと思います。

例えば

[code]

で開きます。

[2012-09-24 13:47] koron commented on #258
@ynkdir: つまり **quickfix(が利用しているコンパイラや実行系)が吐くエラーがerrorformatにマッチしていなかった** ということ?

[2012-09-24 13:47] osyo-manga commented on #258
あーなるほどそういう事でしたか。
ありがとうございました。

[2012-09-24 13:48] koron commented on #258
xlose/invalid で閉じときます。

[2012-09-24 13:48] #258 closed, assigned to nobody

[2012-09-24 13:51] h-east commented on #258
`:help getqflist()` の真ん中あたり

[code]

とあります。では、「認識されていない状態」というのはどういう状態かというのは
`:help setqflist()` の真ん中あたりに書かれています。

[code]

このことから、「認識されている状態」というのは
QuickFixリスト中に1つでも以下の条件の要素が存在することになります。
- "filename" か "bufnr" がセットされている。かつ、"lnum" か "pattern" がセットされている。<p>
  （条件が合致すると "valid" が 1 になる）

<nr>
再現コードの直後に getqflist() を実行すると "valid" が 0 なので「認識されていない状態」というのが分かります。

[code]

ここでQuickFixリストに認識される要素に無理やり変更してみます

[2012-09-24 13:53] h-east commented on #258
わー、クローズされてたｗｗ

[2012-09-24 13:53] koron commented on #258
@h-east: ごめんwww

[2012-09-24 13:54] osyo-manga commented on #258
丁寧にありがとうございます＞＜

[2012-09-24 13:54] h-east commented on #258
しかもynkdirさんの回答が的確。

[2012-09-24 14:09] k-takata commented on #257
パッチを当てる前から mch_remove() がマルチバイトに対応していなかったのに、何で今まで問題が起きていなかったのかが分からないですね。別の方法で削除していたのでしょうか。

[2012-09-24 14:26] k-takata commented on #257
パッチを更新しました。mch_remove() のマルチバイト対応と win32_setattrs() の戻り値がおかしかったのを修正です。win32_setattrs() の戻り値は使われていませんが。

[2012-09-24 14:36] k-takata commented on #189
修正案です。
https://gist.github.com/3775677

convert_input() を使っていたために変換できなかった文字が捨てられてしまい、正しく機能していませんでした。
convert_input_safe() を使って書き直しましたが、ちょっと怪しいです。2バイト文字の1バイト目だけを与えて変換すると、戻り値 1 でバッファの中身が "\0" が返ってきてしまいましたがこれは正しい動作なのか？

[2012-09-24 14:43] ynkdir commented on #257
オリジナルの mch_remove() はもともと DeleteFileW() を使ってます。
新しいパッチは同じコードを書き直す感じになってます。

[2012-09-24 14:52] k-takata commented on #257
あ、確かにそうですね。見落としてました。
オリジナルのコードを生かす形で、再修正します。

[2012-09-24 15:47] k-takata commented on #257
修正パッチを投げました。
https://groups.google.com/d/msg/vim_dev/qF8Y3xtUP-w/bJ7hWYgakxUJ

[2012-09-25 02:06] sgur commented on #257
修正を確認しました。

[2012-09-25 02:06] #257 closed, assigned to nobody

[2012-09-25 06:14] koron opened #259 "IMEに設定するフォント"
Windowsにてguifontとguifontwideを指定した場合、IMEに設定されるフォントは前者のものになるらしい。そのため日本語が設定されてないフォントをguifontに指定した場合、入力中の未確定文字のサイズが崩れてとても悲しい気分になる。Windows的にはフォントリンクを正しく設定しろという話なのかもしれないが、Vimにguifontwideの設定がある以上それを有効活用する形の解法があっても良い気がした。

guifontwide指定時にはIMEに対してguifontより優先して設定する、というアイデアについて意見を聞かせてください。

[2012-09-25 06:14] koron commented on #259
ちなみに私自身は普段 guifontwide 使わないのでまず困らない。

[2012-09-25 07:16] Shougo commented on #259
guifontwideを使用していますが、この問題には気づきませんでした。

guifontwideはマルチバイト文字用のフォントなので、マルチバイトが表示されると思われるIME入力時に使用されるという仕様はとても自然だと思います。

[2012-09-25 07:17] koron commented on #259
参考までに普段使っているguifontとguifontwideの値を教えてもらえますか?

[2012-09-25 08:05] Shougo commented on #259
Linux 用：

[code]

Windows用：

[code]

Windowsではguifontwideをあまり活用できていないですね。

[2012-09-25 08:07] koron commented on #259
この設定を有効化すると、問題がよくわかる予感w

[2012-09-25 08:12] Shougo commented on #259
確かに、IMEのフォント問題があって無効化したのかもしれないです。

[2012-09-25 11:31] ynkdir commented on #189
パッチ試してみましたが変わらないです

[2012-09-25 11:56] k-takata commented on #189
がーん、上記パッチXPだと動いていたのですが、Win7だと動きませんでした。
不正な1バイトをMultiByteToWideCharだかに食わせたときの挙動が違う？

[2012-09-25 12:10] mattn commented on #189
http://msdn.microsoft.com/en-us/library/windows/desktop/ms684166(v=vs.85).aspx

これの AsciiChar を使ってますが、UnicodeChar を使えば治るとか。

[2012-09-25 12:38] k-takata commented on #189
入力をUnicode APIを使って、terminalencodingを無視してしまうのはそれはそれでありかもしれませんね。
結経修正量が多くなりそうな気がしますが。

[2012-09-25 12:58] k-takata commented on #189
とりあえず、ANSI APIのまま修正してみました。Win7とXPでの動作は確認できました。
https://gist.github.com/3775677/30ae5596627c0d165e04c325eec5fad353806841

string_convert_ext()の中をいじってしまったので、他に影響がないかが少し心配なところ。
unconvlenpが指定されているときだけ、不正なマルチバイト文字をエラーとするようにしたので、大丈夫だとは思うのですが。

[2012-09-25 14:52] ynkdir commented on #189
＝ (=0x8181)
ー (=0x8185)
などが入力できないです。

[2012-09-25 15:03] k-takata commented on #189
自分のところでは問題なく入力できています。何だろう？

[2012-09-25 15:17] ynkdir commented on #189
"＝" は勘違いでした。
"ー" が入力できなくて、"ー" 入力後はどの文字も入力できなくなります。

[2012-09-25 15:21] ynkdir commented on #189
入力できない状態でいろいろ入力してから
IMEをオフにしてキーをがちゃがちゃやってると入力できるように戻ります。
入力できない状態で入れた文字は?(gaで見ると変換エラー的なコード)で表示されます。

[2012-09-25 15:27] ynkdir commented on #189
すいません ー (0x815b) かもしれないです。
長音記号です。

[2012-09-25 15:29] ynkdir commented on #189
あ、これパッチなしのノーマルvimでもだめですね。

[2012-09-25 15:29] ynkdir commented on #189
5b=<esc> 関係かな

[2012-09-25 15:35] k-takata commented on #189
うーん、やはり自分のところでは問題ないです。
0x5b だと [ ですか？

[2012-09-25 15:50] ynkdir commented on #189
`<esc>` です。
ちなみに vista です。

[2012-09-25 15:55] ynkdir commented on #189
enc は cp932 でも utf-8 でもだめみたいです

[2012-09-25 16:08] ynkdir commented on #189
5bはescじゃないや勘違い。
じゃーなんでだろ。

[2012-09-25 16:33] ynkdir commented on #189
"。" とか "、" とかもだめですねー
ー 0x815b => `<c-[>`
、 0x8141  => `<c-a>`
。 0x8142 => `<c-b>`
と解釈されてるような感じです。

[2012-09-26 02:52] ynkdir commented on #189
コマンドプロンプトのプロパティでフォントの設定を "MS ゴシック" から "ラスタフォント" に変えたら直りました。

MS ゴシック のときに例えば "、" を入力すると、未確定文字は半角で表示され、
そのまま確定すると ReadConsoleInput() で 0x01 というキーが取れるという謎動作。

[2012-09-26 03:38] mattn commented on #189
なっ...! なんだってーーーーーーーーーー！

[2012-09-26 10:35] ynkdir commented on #189
UnicodeChar が 0x3001 (U+3001, "、") になっててそれで union の AsciiChar が 0x01 になっちゃった感じですね。

[2012-09-26 10:55] mattn commented on #189
あー、やっぱりUnicodeChar取らなきゃ駄目なのか

[2012-09-26 12:01] koron commented on #79
ちょっと関係ないかもだけど #166 に関連して、まっつんさんのこのパッチが必要な状態になっていますね。

shellxquote のデフォルト値が shell == cmd.exe の時に `(` になったので

[code]

が機能しなくなってしまったらしい。このパッチの

[code]

の部分だけでも入っていれば…

[2012-09-26 12:03] ynkdir commented on #189
それが確実だと思います。

上記の問題ですがフォントの大きさも関係あるみたいです。
MSゴシック 12 は OK で 14 は NG でした。

[2012-09-26 12:09] koron opened #260 "sxq のデフォルト値が変わって動かないスクリプトがある"
#166 で cmd.exe 利用時の `sxq` のデフォルト値が `(` に変わりました。

しかし伝統的に `sxq` が `'` であることを期待して書かれたスクリプトは数多くあり、それらは誤動作すると推測されます。

例: $VIMRUNTIME/ftplugin/ruby.vimの80行目

[code]

長丁場になるかもですが、これらを一つ一つ修正する必要があるでしょう。

加えて `system({list})` みたいなメソッドを新設して、引数の連結をVimに任せる方向も要検討かも。モデルとしては [Pythonのsubprocessモジュール](http://www.python.jp/doc/release/library/subprocess.html) みたいなのを引き合いに出すと、Python好きなBramとしては見過ごせないかもw

[2012-09-26 12:13] koron commented on #79
だれがVimのパッチは999までだと言った? 999の次は 1000 とか、4桁がダメなら a00 とかになるに決まってるじゃないですか!

[2012-09-26 12:26] k-takata commented on #189
そんなバナナ。と思って自分の環境（Vista含む）でいろいろ試してみましたが一切問題起きていないですね。
ANSI APIがUnicodeな動作をするなんて意味不明すぎるんですがｗ

と、ここまで書いてmanifestを使ってビジュアルスタイルを有効にすると、ANSI APIがUnicode APIのように動作する問題があったのを思い出しましたが、それが今回の問題と関係するのかどうなのか…

[2012-09-26 12:40] ynkdir commented on #189
ReadInputConsoleA()だとDBCS文字は二つのキーイベントで飛んできますが
例えば "あ" と入力すると
1: AsciiChar=0x82 UnicodeChar=0x0082
2: AsciiChar=0xa0 UnicodeChar=0x30a0
となり、二つ目のキーイベントでユニコードの上位バイトとDBCSの下位バイトがまざった値が取れます。
"、" を入力すると UnicodeChar にユニコードがセットされたキーイベントが一つだけ飛んできます。
U+30xx あたりの文字は全部だめみたいです。

[2012-09-26 12:45] ynkdir commented on #189
おぉうちだけですか…。なんか壊れてるのかな…。

[2012-09-26 13:10] mattn commented on #189
僕は k-tanaka さんのパッチだけでうまく動いてそうです。

[2012-09-26 13:11] h-east commented on #189
そんなバナナ++

[2012-09-26 13:16] mattn commented on #189
iconvの変換などで「森鷗外」が「森鴎外」とタイプされないかなーと少し期待しましたが「森?外」となりました。まぁ仕方ない。

[2012-09-26 18:41] k-takata commented on #189
k-tanakaだと思った？ 残念、k-takataでした。

それはさておき、「森鷗外」対応は、恐らく mch_inchar(), tgetch(), decode_key_event(), win32_kbd_patch_key() 辺りをごっそり書き換えないといけないので結構大変そうです。
ReadConsoleInputW() を使って UnicodeChar を参照して、ToAscii() の代わりに ToUnicode() を使うことになるのでしょう。

[2012-09-26 22:14] Shougo commented on #79
Vimのマイナーバージョン(7.X)は二桁までの対応ですが、パッチバージョンは四桁以降も余裕で対応される作りになっていますね……。つまり、Vim 7.99までは出る可能性があるし、パッチバージョンを合わせるとVim7.99.9999になるかもしれません。

[2012-09-26 22:16] Shougo commented on #260
`system({list})`はほしいですね。いつも、シェル引数のエスケープには苦労させられています。
`vimproc#system()`は`{list}`を解釈しますが、標準では無いですし。

[2012-09-27 07:57] h-east commented on #79
https://twitter.com/mattn_jp/status/210954166070284288

とまっつんさんが言ってたけど実際のところイケる？イケない？

[2012-09-27 08:10] Shougo commented on #79
Vim scriptのインタフェースだといけそうですが、内部の実装によっては問題があるのかもしれないです。

私が軽く実装を見たところ、問題なさそうでした。

[2012-09-27 09:08] h-east commented on #79
試しで7.3.6789作ってみましたｗ バージョン表示等問題無さそうでした。
まっつん( @mattn )さん、4桁になると破綻する理由を教えてくださいませ。(少し昔の話で恐縮です)

# スレ違い気味すまそ

[2012-09-27 09:29] mattn commented on #79
http://ftp.vim.org/pub/vim/patches/

既存のパッチを全て4桁にしないと

[code]

みたいな事やってる子達が死にますね。あと4桁にしたら3桁派で気付いてない子達が死にますね。vim配布システムとして破綻してしまうのでは。

[2012-09-27 09:35] h-east commented on #79
ありがとございます。
なるほど、運用面ですね。Bram氏は把握してますよね？しれーっと7.3.999→7.3.1000リリースしたらビビるｗ

[2012-09-28 23:46] LeafCage opened #261 "windowやtabpageを閉じた／開いたことを捕捉するautocmdがほしい"
バッファは残っている状態で、ウィンドウ／タブページだけ閉じた時、
あるいは、バッファが追加されることなくウィンドウ／タブページだけが新しく作られたときの
autocmdがほしいです。

TabEnter TabLeave WinEnter WinLeaveではウィンドウを移ったことは捕捉できても新しく作られたのか既存のものなのか認識できませんし、ウィンドウを削除して同じバッファを表示している別のウィンドウに移った時にはイベントが発生しませんので捕捉が出来ません。

[2012-09-29 06:45] k-takata commented on #131
20120926版kaoriyaパッチを、25個に解体しました。
何をやっているのかよく分かっていない部分もありますが。

https://gist.github.com/3803353

[2012-09-29 07:17] k-takata commented on #131
25個のパッチは以下のようになっています。「？」がついているのはよく理解していません。

0001 .hgignore にファイル追加
0002 .hgtags
0003 tutor.ja 間違い修正
0004 ja.po 修正
0005 mch_print_text_out() の改善？
0006 vim.ico の代わりに vim2.ico を使用（vim2.ico 自体は含まれていない）
0007 uim-fep 対応
0008 C/Migemo 対応
0009 'ambiwidth' オプションの auto 対応
0010 Win32 でキャプション非表示に対応
0011 ランタイムディレクトリをレジストリから取得？（何の目的？）
0012 モードラインの処理を改善し、ff, enc, bin の指定に対応
0013 日本語の自動判別 (guess_encode) 対応
0014

[2012-09-29 07:24] k-takata commented on #131
0003 の tutor.ja については、他にも誤字脱字、改行位置を修正したい点がありました。

[code]

[2012-09-29 15:28] sgur commented on #259
自分はWindowsでもguifont=Ubuntu_Mono, guifontwide=IPAゴシックを利用しているので、この問題は是非とも解決してもらいたいです。
確かに fontlink すれば済みますが、すべてのVimユーザがレジストリをいじれる権限をもっているとは限りませんし。

[2012-09-29 16:32] koron commented on #261
WinNew, WinDelete, TabNew, TabDelete こんな感じだろうか。

[2012-09-29 17:00] h-east commented on #261
あれ？WinLeaveとWinEnterイベント発生しましたよ。

[code]

[code]

したら

[code]

と表示されました。(linux とWin7で確認)
確認方法間違ってたら突っ込んでくださいね。

[2012-09-29 17:43] koron commented on #261
WinEnter や WinLeave をそれぞれ WinNew や WinDelete の意味で流用するのは、 **たとえ今できたとしても** 、あまり良くない/やるべきではないと思いますがいかが?

[2012-09-29 17:55] h-east commented on #261
@koron その部分まではまだ考えてないです。issue内容を検証したら現状の動作と違うことが書かれてあったので「あれ？」ということでまずは確認を取っちょります。

[2012-09-30 04:37] koron commented on #259
とりあえずパッチ作ってみた。

https://gist.github.com/3805843

[2012-09-30 04:54] k-takata commented on #189
vim_devに投げました。
https://groups.google.com/d/topic/vim_dev/fCCAHVurObg/discussion

[2012-09-30 05:14] koron commented on #259
もう送っちゃった。
https://groups.google.com/forum/?fromgroups=#!topic/vim_dev/wcfcPZg8M2k

[2012-09-30 05:19] k-takata commented on #131
tutor.jaの修正はvim_devに投げました。
https://groups.google.com/d/topic/vim_dev/v8VQ4PAFZjc/discussion

[2012-09-30 13:35] koron opened #262 "DirectWriteで描画したい"
GDIで描画している場合、最近の(ビットマップを含まない)TTFを小サイズで表示するとヒドイことになる。

DirectWriteならばそれを回避できるのではないか?
## 課題
- <del>enc=utf-8以外の対応</del> → ドロップ予定
- <del>featureでon/offできるように</del>
- <del>optionでon/offできるように</del>
- <del>XP等でも起動できるように動的ロード</del>
- <del>ドキュメント</del>
- <del>太字と斜体がでない</del>
- <del>guifontwide への対応</del>
### 追加課題
- <del>オプション名を変えたい。antialiasはちょっと不自然だし、分離したい。</del> → `directx` にした
- <del>Vim本体からみた発動条件を揃えた

[2012-09-30 13:41] koron commented on #262
https://gist.github.com/3806748

作ってみた。フォントはRictyの9pt固定でenc=utf-8の時しか動作しない。とりあえず描画をみる目的。いろいろオカシイところは多いがとりあえずの作。

結果できたのはこんなもの。

![sample](https://pbs.twimg.com/media/A4CzWYLCYAEHS0T.png)

上がパッチによるDirectDrawで、下は素のGDI。かなり良くなったと思うがどうだろう。

[2012-09-30 13:43] thinca commented on #262
おお、すごい。いいですね。

[2012-10-02 23:37] Shougo opened #263 "要望：候補を選択した時のautocmdがほしい"
本日ふと欲しい機能を思いついたのでここにメモしておきます。

最近、CompleteDoneという補完選択時のautocmdが追加されましたがこれと似たautocmdとして、ポップアップの候補選択時のautocmdもほしいです。autocmdのイベント名はCompleteSelectedとなるでしょうか。

活用方法としては、previewウインドウの代わりにエコーエリアなどにその候補の情報を表示することができるようになると思います。

CompleteDoneの実装が参考になると思うので時間のあるときに調べてみたいです。

この機能を実装する場合、CompleteDoneイベントでも要望されている、autocmd内で選択されている候補を取得する方法が必要になるかと思います。

[2012-10-03 22:45] k-takata commented on #189
todo.txt 入りになりました。

[2012-10-04 00:30] koron commented on #263
エコーエリアに表示したらその量によっては「続けるにはENTERを押すか～」が表示されてカオスになりそうw

[2012-10-04 01:10] Shougo commented on #263
その当たりは、プラグイン側でオーバーした分を切り捨てるしか無いですね。
echodocではそうなっていたはずです。

[2012-10-04 02:56] ynkdir commented on #189
あんまり影響ないとは思いますが、
特定のコードページで dwFlags を 0 以外にすると ERROR_INVALID_FLAGS で失敗するらしいです。

MultiByteToWideChar function
http://msdn.microsoft.com/en-us/library/windows/desktop/dd319072.aspx

[code]

[2012-10-04 03:53] k-takata commented on #189
"dwFlags must be set to either 0 or MB_ERR_INVALID_CHARS." なので、今回使った MB_ERR_INVALID_CHARS は問題ないと思います。

[2012-10-04 08:02] ynkdir commented on #189
それは UTF-8 と CP54936 の話です。

[2012-10-04 10:54] k-takata commented on #189
ああ、勘違いしていました。
CP50220はISO-2022-JPで、他の5022XもISO-2022系のようですね。570XXはインド系文字？
ISO-2022系をカレントコードページに指定して、直接キーボードから入力ということはまずないでしょうが、
570XXがよく分からないですね。

[2012-10-04 11:54] ynkdir opened #264 "if_python のおかしな挙動"
見つけたので。。。

[Vim] if_python のおかしな挙動 - ゆり日記
http://d.hatena.ne.jp/chikatoike/20120929/1348969103

[code]

[code]

[2012-10-05 11:07] ynkdir commented on #264
報告しました。

https://groups.google.com/d/topic/vim_dev/TjWvvFLYTgo/discussion

[2012-10-05 11:44] h-east commented on #264
おつかれさまです。

[2012-10-06 01:58] h-east commented on #264
早速 Patch 7.3.683 で入りました。
https://groups.google.com/d/topic/vim_dev/uqzR7vJFTuU/discussion

[2012-10-06 01:58] #264 closed, assigned to nobody

[2012-10-06 07:03] ynkdir commented on #264
ありがとうございます。

[2012-10-07 17:02] h-east commented on #225
大分落ち着いてきたので、誰か試してもらえると助かります。 |дﾟ)ﾁﾗｯ
仕様や動作に関する質問や不具合報告はこのissueにお願いします。
仕様は3つ上のコメントを参照下さい。
https://gist.github.com/3158492

[2012-10-08 01:01] ynkdir commented on #225
test37 がコケます。
ubuntu です。

[2012-10-08 07:31] h-east commented on #225
@ynkdir ありがとうございます。(make test するのをすっかり忘れてた 汗)
こちら(fedora15)でも再現しました。
`scrollbind` テストでNGとは。。しかもtest37はカオス過ぎて何が悪いのかピンポイントでは分からなさ過ぎるｗ。

[2012-10-09 02:52] wozozo commented on #114
ほしい

[2012-10-09 03:12] osyo-manga commented on #114
ほしい

[2012-10-11 23:40] h-east commented on #214
Patch 7.3.687 で改善された模様。
https://groups.google.com/d/topic/vim_dev/FZbJzH_9PgA/discussion

$DISPLAY が設定されていない時はtest16をしないようにするpatch。

[2012-10-14 11:04] h-east commented on #214
PuTTY上でテスト結果 `ALL DONE` が確認出来たので閉じます。

[2012-10-14 11:04] #214 closed, assigned to nobody

[2012-10-14 13:02] koron commented on #36
今作業中。期待して待て。

[2012-10-14 13:10] koron commented on #36
[code]

してから .hg/hgrc の [path]セクションに

[code]

コレを追加して、まずは

[code]

してみたら

[code]

こうなって

[code]

こうなっている真っ最中。

[2012-10-14 13:24] koron commented on #36
先に進んだ。

[code]

だってさ。 pull なのに upload ってのが解せない。あとマージどうなるんだろう…ちゃんと良きに計らってくれるかなぁ?

[2012-10-14 13:37] koron commented on #36
終わったので

[code]

している最中。 `-f` がないと abort する。

[2012-10-14 14:45] koron commented on #36
hg-git ではなく git-hg を試してみたが、mercurialのバージョンとの間で相性がありそう。

[code]

がコケていた。

[2012-10-14 14:47] koron commented on #36
githubの中身はヒドイ状態になってるw

[2012-10-14 14:50] koron commented on #36
もうちょっと実験したあとで正式運用前に、 vim-jp/vim はいったんリセットしたほうが良いかも。

[2012-10-14 14:54] koron commented on #36
ポイントは、更新作業を別のマシン or 環境に移す時。hg から取り出したものを git に1から変換しても、履歴をうまくマージしたい。

上記で行った私の作業のミス&問題は、hg-git でpushした際に履歴が2本になってしまったこと。しかも私の方はdeadheadになってる。しかもタグは私の履歴の方に移ってる。

ひとことで言うと超ヒドイ

[2012-10-14 14:56] koron commented on #36
あ、deadheadどころか根っこがズレてるなw あ～コイツは極悪だわ…ｻｰｾﾝ

[2012-10-14 17:21] koron commented on #36
https://github.com/vim-jp/vim で始めた。なので close

ミラーのcronも一応は動いてるっぽい。ただ実際に変更があった時にどうなるかはまだ見れていない。

[2012-10-14 17:21] #36 closed, assigned to koron

[2012-10-14 17:21] koron commented on #36
すったもんだして旧 vim-jp/vim が vim-jp/vim1 になったのは許してほしい。

[2012-10-14 17:29] koron commented on #36
一応、ミラーの方法を書いておいた。 https://github.com/vim-jp/vim/wiki/HowToMirror 今後、ミラー作業を移行する場合の参考に。

[2012-10-15 22:27] k-takata commented on #259
todo.txt入りしていますので、閉じておきます。

[2012-10-15 22:27] #259 closed, assigned to nobody

[2012-10-16 14:09] k-takata commented on #202
7.3.600直後のコミットで修正されていますので、タグを `fixed` に変えておきます。
http://code.google.com/p/vim/source/detail?r=11d40fc82f1154673baca2327796f5152b0df6f5

[2012-10-16 14:11] k-takata commented on #138
7.3.600直後のコミットで修正されていますので、タグを `fixed` に変えておきます。
http://code.google.com/p/vim/source/detail?r=11d40fc82f1154673baca2327796f5152b0df6f5

[2012-10-16 23:28] h-east commented on #69
#209 でfixしているのでこちらも閉じます。
以後、要望は以下へお願いします。
https://github.com/vim-jp/cpp-vim/issues

[2012-10-16 23:28] #69 closed, assigned to nobody

[2012-10-18 06:57] methane commented on #36
bitbucketに移行したらいいのに…

[2012-10-18 07:07] koron commented on #36
7.3.692 のミラーを確認。cronもちゃんと動作している。

[2012-10-18 13:41] mattn commented on #152
これなんとかしたい

[2012-10-20 15:01] ynkdir opened #265 "autofmt を vim-jp に置きたい"
というわけで置かせていただきます。
なにかありましたら勝手に変更してください。
よろしくお願いします。

[2012-10-20 15:04] koron commented on #265
License だけは追加で記載しとくと良いかも。

[2012-10-20 15:12] ynkdir commented on #265
了解です。readmeに書きました。とりあえずpublic domainです。

[2012-10-20 15:53] thinca commented on #265
これはもうcloseして良い?

[2012-10-20 23:37] ynkdir commented on #265
すみません。閉じます。

[2012-10-20 23:37] #265 closed, assigned to nobody

[2012-10-21 01:20] koron opened #266 "deb を配布したい"
主に Ubuntu 向けに最新版の deb を配布できないだろうか。

今、見えている課題は以下のとおり:
- <del>if_\* はどうしよう。できれば基本は不要で、インストールされたら有効化なdynにしたい。</del> →全部入り(feature big)で良い
- <del>32bitと64bitのビルドはクロスでイケるのか? (64なOSで32のバイナリを作れれば良い)</del> →launchpadでできるよ
- <del>ビルド用のマシンはどうする? EC2でできるならそれで良い気もする</del> →launchpadで(ry
- ブランチ名に kaoriya はやめたい。jpで良いか?
- ブランチの管理どうしよう。最新版になる度にrebaseしてpush --forceして良いか?

その他の課題や、課題に対する解法がないか検討する。

[2012-10-21 01:25] koron commented on #266
普通に vim 入れようとすると libruby が要求されるけど、じつは libperl と libpython も必要なんだけどもともと入ってるっていうオチなんだろうか。頑張って dyn にする意味がないのかなぁ。

[2012-10-26 05:57] saitoha commented on #220
SGR 1006のtermresponseのバグの件で修正が入りました(Patch 7.3.699)。
また、has('mouse_urxvt')とhas('mouse_sgr')がサポートされるようになりました(Patch 7.3.700)。
https://groups.google.com/forum/?fromgroups=#!topic/vim_dev/u7c-Ad4xKrU
https://groups.google.com/forum/?fromgroups=#!topic/vim_dev/idUbycj_4Bw

[2012-10-26 07:43] mattn commented on #220
閉じても... いいのよ...

[2012-10-26 07:59] h-east commented on #220
@saitoha 「BESTターミナルエミュレータ芸人Vimmer of the Year」にノミネートされました。
@mattn 「BESTおっさんギャグ芸人Vimmer of the Year」にぎりぎりノミネートされました。

[2012-10-26 12:26] saitoha commented on #220
ありがとうございます。

[2012-10-31 02:59] mattn opened #267 "rN が効かない？"
ノーマルモードで rN ってやっても効かない。誰か再現する人います？

[2012-10-31 03:05] h-east commented on #267
7.3.704から7.3.709で発生します。
7.3.710で治りました。

[2012-10-31 03:06] koron commented on #267
まっつんさん、仕事で忙しくて気が付かなったと見たw

[2012-10-31 03:17] h-east commented on #267
クローズしますね。
後で関連するvim_devの投稿のリンクを貼っときますわ。(今、移動中)

[2012-10-31 03:17] #267 closed, assigned to nobody

[2012-10-31 03:22] mattn commented on #267
うひ

[2012-10-31 03:58] h-east commented on #267
Problem by updating from 692 to 709
https://groups.google.com/d/topic/vim_dev/lk3haSrg8cY/discussion
Issue 88 in vim: fn; jumps to top of document
https://groups.google.com/d/topic/vim_dev/Jq7MqquyXX8/discussion
要は7.3.704で`gn`と`gN`時に特別な処理をさせるような条件を追加したけど、`cmdchar`のチェックをしてなかったのでノーマルコマンドで第一パラメータが n か N の場合(fn, fN, tn, TN, rn, rN 等)もその条件に当てはまってしまってoh...ってことでした。

Patch 7.3.710 でfixされました。
https://group

[2012-10-31 14:32] koron opened #268 "Concealがあると折り返し位置が変"
英語版のヘルプの `:diffpatch` を見ると変な場所で折り返されてしまう。
以下の例は columns=80 時

期待する見え方
[code]

実際の見え方
[code]

本来は折り返しが必要ないのに、実際よりも左側で折り返されてしまっている。
おそらく折り返し位置の計算にconcealされた文字数が換算されていない。

[2012-10-31 15:11] h-east commented on #268
#115 もconceal絡み。

[2012-11-02 04:02] koron commented on #246
「もしもノートンに削除されたら」とかそういう記事を書いておきたい。

[2012-11-03 08:21] koron opened #269 "コマンドが存在しなかった時に実行されるイベントが欲しい"
未定義の関数が呼ばれた時に実行されるイベントはある。 FunctionUndefined  それのコマンド版が欲しい。 at ujihisa.vim #3

[2012-11-03 09:32] tyru commented on #269
ujihisa.vim行ってなかったので分からないんですが、どんな場合に欲しいと思うんでしょうか？

[2012-11-03 09:35] koron commented on #269
ちゃんと聞いてなかったんだけど、
多分bashみたいに、インストールすべきパッケージを
サジェストできるんじゃないかな?
2012/11/03 18:32 "tyru" notifications@github.com:

[2012-11-03 10:05] h-east commented on #225
`:set splitbelow` 設定での `:split` の挙動がpatch有無で異なっている。(testdir/test37.in 9～11行目)
PuTTY(80x24)でpatch無しだと上windowの高さが10行、下が11行。patchありでは上11行、下10行。
`:set nosplitbelow`(デフォ)の場合はどっちも上11行、下10行。

この後にwindow内カーソル相対移動コマンド(H, M, L)を絡めた編集操作がおこなわれているのでtest結果がNGとなってるようだ。

[2012-11-03 10:14] tyru commented on #269
なるほど。
まぁ色々と使えそうだし用途は後から考えればいいですね…！(自分で聞いておいて)

[2012-11-03 15:52] h-east commented on #225
上の説明、4行目以外間違ってた。
`:split` や `:new` で奇数行の高さのwindowを分割する場合、patch無しだと新規作成分(デフォルトでは上側)のwindow高さが1つ大きいが、patchありでは下側が大きくなっていた。
(`equalalways` , `splitbelow` 関係なかった。)

patch修正済み(for 7.3.712 or later)。`make test`も ALL DONEになりました。
https://gist.github.com/3158492

[2012-11-04 06:16] ynkdir commented on #225
ALL DONE!

[2012-11-04 09:07] Shougo commented on #269
まぁ、neobundleで使う場合も、どうやってプラグイン名を検索するのか問題にはなりますが……。
検索するのはプレフィクスを部分マッチ書ければいいか。対応できないケースは手動で登録してもらうしか無い。

[2012-11-04 10:31] Shougo commented on #269
考えてみたのですが、コマンドのhookだけだとグローバルなキーマッピングを用意するプラグインに対応できません。
例えばvisual-starとかsmart-word。

プラグインキーマッピングもフックできると、夢が広がるのではないでしょうか。
ただ、優先度的にはコマンド `>>` キーマッピングだと思います。

[2012-11-04 10:43] Shougo commented on #269
キーマッピングの件は、本体だと終了判定ができないので厳しそう。neobundle側でマッピングを提議すれば現状のVimでも行けそうなのでちょっとやってみます。

[2012-11-04 19:18] osyo-manga opened #270 "Vim script の再帰回数について"
次のような Vim script を実行すると次のようなエラーが出力されます。
- ソース

[code]
- エラー

[code]

関数の再帰回数は `maxfuncdepth` で設定できるんですが、上記の場合はそれよりも少ない数でエラーになってしまいます。
エラーコードを見る限りではコマンドの再帰でエラーになっているぽいです。
これはこういう仕様なんでしょうか？
ちなみに `set maxfuncdepth=100` した場合は `E132` が発生します。

[2012-11-04 23:58] mattn commented on #225
!! @h-east ++

[2012-11-05 01:17] koron commented on #270
[ex_docmd.c:801](https://github.com/vim-jp/vim/blob/master/src/ex_docmd.c#L801) ですね。
execute や source などでコマンドラインコマンドが再起するのを防ぐため
200回(ハードコーディング) という制限がある模様。

ドキュメントに明示するか、オプション化しておいたほうが良いかも。

[2012-11-05 01:20] koron commented on #270
maxfuncdepth の適用範囲はevalであり、cmdlineではないってことなんだろうなぁ。

call そのものはcmdline であってeval ではないので maxfuncdepth の適用対象外。
ただその先で呼ばれる関数はmaxfuncdepth の対象となる。

が今の実装仕様ですね。

[2012-11-05 01:24] mattn commented on #266
ubuntuならpythonやrubyも依存にしてbig featureなvimでもいいんじゃないですかね
launchpadが便利です。

[2012-11-05 01:25] mattn commented on #266
launchpadならビルド含めて配布まで可能

[2012-11-05 01:29] koron commented on #266
ubuntuで apt-get install vim した時にでる大量の依存が、結構ハートに刺さるんですよねぇ…これなら自分でコンパイルしたほうが良いやみたいなw

[2012-11-05 01:38] mattn commented on #270
これそっちもmaxfuncdepthにした方がうれしいなー

[2012-11-05 01:39] mattn commented on #270
まぁ違うオプションでもいいけど200を変えれないのは痛い

[2012-11-05 01:42] thinca commented on #270
コマンドの再帰数が200に制限されているのは、`:help E169` に書いてありますね。
ただ、関数を呼び出すにはまずコマンドを実行しなくてはいけないので、
`'maxfuncdepth'` を 200 以上にしても先にコマンドの制限に引っ掛かってしまうのがアレですね。

[2012-11-05 04:40] mattn commented on #270
とりあえず、このままほっとくと沈みそうなので提案してみます？

[2012-11-05 05:21] koron commented on #270
evalの右辺で再帰すればいけそうw

提案するに +1
2012/11/05 13:40 "mattn" notifications@github.com:

[2012-11-05 14:22] h-east commented on #115
前提条件

[code]

#### ソース解析内容

conceal関連は以下の条件コンパイルで囲まれている。

[code]

関連変数

[code]

関連関数

[code]

src/screen.c : win_line()
4516～4528行でconceal属性のテキスト非表示の場合のカーソル位置を補正している。
4524行を以下のように修正すると`/`検索時のカーソル位置は正常になるが行内のカーソル移動がちょっとおかしくなる。
(修正前でも行内のカーソル移動はおかしいがそれとはまた別の動作になる)

[code]

ということから 変数`boguscols` を更新している部分を追いかければ色々分かってくると思われる。
(5004～5089行あたりが要注目か？)

#268の折り返し関連も同根かなぁ。少なくとも`win_line()`内の修正になるのは間違いない。

ど

[2012-11-05 14:31] tyru commented on #266
Linuxでも+kaoriyaなVim使いたいです！

@thincaさんは確か自前ビルドしてましたが、
ちょっと面倒そうだしパッチがコンフリクトした場合
うまく修正できるか不安なので...
公式で+kaoriyaなVimのdeb配布してくれれば(僕が)かなり幸せになります！

でも面倒なんですかね...やっぱり...

[2012-11-05 15:36] mattn commented on #266
I provide deb package of growl-for-linux. So I know the way to build
and publish product on launchpad.

On 11/5/12, tyru notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2012-11-05 15:40] mattn commented on #266
I'll add account for vim-jp on launchpad in few days.

On 11/5/12, tyru notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2012-11-05 15:41] mattn commented on #266
$B$3$l2=$1$F$k(B?

KORE BAKETERU?

On 11/5/12, tyru notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2012-11-05 15:42] koron commented on #266
JISに対応してないみたいねw
2012/11/06 0:41 "mattn" notifications@github.com:

[2012-11-06 01:41] mattn commented on #266
作った。管理者は僕。

https://launchpad.net/vim-jp

ところで @koron さん、kaoriya パッチって何ライセンス？

[2012-11-06 01:43] mattn commented on #266
githubかなんかでkaoriyaパッチ済みとして置いて貰えれば、数日中にはdeb配布しますよ。

[2012-11-06 01:48] koron commented on #266
もちVim Licenseで!
2012/11/06 10:43 "mattn" notifications@github.com:

[2012-11-06 01:55] mattn commented on #266
誰か launchpad のアカウント持ってれば追加しますよ。
ただ配布の際のキーは、すみませんが一人（僕？）にして下さい。
launchpad でキー間違えると数日配布権利失うので。

[2012-11-06 01:58] mattn commented on #266
これKoRoNさん？

https://launchpad.net/~koron

足すよ？

[2012-11-06 02:00] thinca commented on #266
私も一応アカウント持ってるけど、もう随分ログインしてない…(さっき久々にしてみた)
https://launchpad.net/~thinca

[2012-11-06 02:11] koron commented on #266
アカウント取ろうとしたらエラーで取れなかった orz

[2012-11-06 02:14] koron commented on #266
@mattn あーそれどうみても私だけど…

だってさw だからアカウント作成に失敗するのか?www

[2012-11-06 02:17] mattn commented on #266
@thinca 足しました

[2012-11-06 02:20] koron commented on #266
追加で課題。
- ブランチ名に kaoriya はやめたい。jpで良いか?
- ブランチの管理どうしよう。最新版になる度にrebaseしてpush --forceして良いか?

[2012-11-06 02:25] koron commented on #266
日本語で使いやすくという現行kaoriya版はjp版と名称を改め、vim-jp配下で管理する。
そして私は新たに(neo)kaoriya版で過激な実験実装を行う。日々の使用にも支障をきたすレベルにしたい。

そういう算段w

[2012-11-06 02:25] mattn commented on #266
vim-jp ?

rebaseに成功するならforceしなくて良いのでは。

[2012-11-06 02:26] mattn commented on #266
chromeみたいにバージョン分けすればよし。

[2012-11-06 02:26] koron commented on #266
@mattn masterが更新されたら、ブランチの方でrebase masterするでしょ? 私は、そうしたときブランチのpushは--forceなしでは成功したことがないんだけど…普通はできるものなの?

[2012-11-06 02:28] koron commented on #266
更新の度に別ブランチ作るイメージ?

[2012-11-06 02:28] mattn commented on #266
いや、chrome の dev チャネルみたいな？

[2012-11-06 02:29] mattn commented on #266
- 安定版
- 人柱版

みたいな

[2012-11-06 02:31] koron commented on #266
ああ。

これは

こっちに対する返答だったのかw 了解。実際配るかどうかは別として。

[2012-11-06 03:16] Shougo commented on #266
ここに非同期処理とか、何やらが実装されるわけですね。期待。

[2012-11-06 03:59] k-takata commented on #266
kaoriyaパッチについては https://github.com/vim-jp/issues/issues/131#issuecomment-9001376 も考慮をお願いします。
（せっかく機能別に分割したのに誰も反応してくれなくて寂しい）

できないと思います。
パッチを自分だけで管理するなら MQ (hg) とか stg (git) を使えばいいのですが、パッチを共有する場合はどういうやり方がいいんでしょうね？

[2012-11-06 04:13] koron commented on #266
@k-takata

わかっております。分解して行く予定。

gitのほうはわたしも知りたい。MQの場合は.hg/patches自体をhgで管理するって書いてありましたね。
そのための支援機能もあるみたい。

[2012-11-06 04:16] mattn commented on #266
patchを共有ってどういう意味ですか？パッチ1個ずつに1トピックブランチ作って、すべてをマージしてるブランチを作ればいいって話では

[2012-11-06 04:26] koron commented on #266
それやるとトピックブランチを更新した時に「すべてをマージしてるブランチを作」る作業が面倒じゃないですか?

MQとかはそのあたりが楽ですね。

[2012-11-06 04:44] koron commented on #266
http://stackoverflow.com/questions/952651/git-equivalent-to-hg-mq

なんかパッチ単位で管理するのはgit的にはナンセンスな気がしてきた。

[2012-11-06 09:37] h-east commented on #257
クローズされていたのですがxlose属性ラベルが付けられていなかったので、xlose/duplicatedラベルを付けました。(#241 と重複)
(#241 は2012/9にtodoリスト入り)

[2012-11-06 11:31] mattn commented on #266
![みさわ](http://jigokuno.img.jugem.jp/20090522_1213732.gif)

なんせんすー！

[2012-11-06 11:43] h-east commented on #266
![](https://lh5.googleusercontent.com/-fUETY1uaIZ0/UDd1roPG6FI/AAAAAAAACNw/0JC6rG5cyIE/s685/24+-+2)
ナン...

[2012-11-06 16:29] koron commented on #266
@mattn さん: https://launchpad.net/~koron これ、私のものになりました。
他になにか必要なことがあったら教えてください。

[2012-11-07 00:28] mattn commented on #266
てか、誰のだったのwww

[2012-11-07 00:36] koron commented on #266
取り込まれたパッケージの author (emailアドレス) が本人の承諾なしに登録されてる感じだったw
koron@tka....のほうで登録されていたよw

[2012-11-07 00:41] koron commented on #266
たったいまこれの問題点に気がついた。

まっつんさんが管理するということに異論はありません。むしろ賛成でありがとうございます。
しかし今、まっつんさんが別のプロダクト用に使っているキーを流用するのは避けたいのですが、できますか?
流用を避けたい理由は他と混ぜちゃうと分離(のプロセス)が大変だから。

既に別ならば取り越し苦労なので無視してください。

[2012-11-07 01:07] mattn commented on #266
いえ、ssh-keygen するだけなので簡単。

[2012-11-07 01:08] mattn commented on #266
既に３つキー持ってます。

[2012-11-07 01:22] koron commented on #266
@mattn さん: ですよね～ 釈迦に説法でしたw

[2012-11-07 10:31] koron commented on #41
ズバリな質問が vim_use にw パッチを出すなら今がチャンス!

https://groups.google.com/forum/?fromgroups=#!topic/vim_use/6sjI-7HzlGw

[2012-11-17 14:29] h-east commented on #115
※vim-jpの皆さんへ。このissueはお試しで @ramu (twitterではramusara)さんに調べてもらっています。いい感じにサポートお願いします。

@ramu さん
このissueに関する質問、調査結果等はココによろしくです。

現象再現しないとのことですが、こちらでは以下の手順で再現しました。(fedora16 64bit, vim ver:7.3.715 on PuTTY)

[code]

[code]

どうでっしゃろ？

[2012-11-19 18:52] h-east commented on #225
...がっつり人柱してる人いない？ (　；∀；)

上の方のコメントに'statuslineheight'オプションの説明でステータス行の行数はベストエフォート方式だと説明しています。

[code]

今のpatchでは説明通りの動作をするんですが、これをやめようと思います。

理由
- 現状では実際のステータス行の行数を確認出来ない。

[code]
- 指定値でステータス行の行数を設定出来ない場合はエラー(E36: Not enough room)にした方が親切な気がする。<br>
  また、その方が内部実装もシンプルになる。(特にウィンドウの行数が変化した場合の再試行処理)

<br>
備忘録
例えばwindow数1の時...
`set laststatus=2` のときは`set statuslineheight=99` 時にエラー出す。
`set laststatus=0` の

[2012-11-20 10:01] ynkdir commented on #225
私は正直使わないと思うので人柱として役に立つかわかりませんが…

少し試したところ

[code]

でステータスラインが表示されないです。

[2012-11-20 10:15] ynkdir commented on #225
あと

[code]

[2012-11-21 01:31] thinca commented on #225
Vim 更新する度にパッチ当て直すの面倒で最近サボってました…この機能欲しいので今からまた人柱します。
(こういうパッチを手軽に管理するようなの欲しい…)

[2012-11-21 01:32] koron commented on #225
hg mq便利。超便利

[2012-11-21 01:34] thinca commented on #225
なるほどこういう時のためのmq...ゆるふわな感じでしか把握してないのでちゃんと調べてみます…。

[2012-11-21 03:55] thinca commented on #225
とりあえず @ynkdir さんと同じ現象を確認しました。
また、vimrc ありで使ったところ、`:new` 2回で SEGV しました。原因は未調査です。

[2012-11-21 04:14] h-east commented on #225
みなさん確認ありがとうございます。
報告の件は 'laststatus=2' 以外だと起きるようです。調査中です。

人柱は「ベストエフォート方式」をやめる修正が入ってから本腰入れた方が良いかもしれません。
('statusline'の制御は現状でfixなので人柱歓迎です)
あとドキュメント(:help)もちゃんと書かないとあかんですね。英語助っ人募集中です。

[2012-11-21 14:39] h-east commented on #225
patch更新しました。
https://gist.github.com/3158492

ynkdirさん報告の2件はfixしました。
thincaさん報告のSEGVの件も同原因だと思うのでfixされてると思います。こちらでは再現できなかったのでお手数ですがfix確認お願いします。

これ↓、誤情報でした。因果関係無かった。スマソ（｀ェ´）

[2012-11-22 03:11] thinca commented on #225
[code]

ここから `<C-w>w<C-w>w` などして `statuslineheight=2` のウィンドウに入ると `tabline` の右上がおかしい感じになります。

![](http://gyazo.com/1408cf2c8f0fc47c5cb9baa4cc08b117.png)

`%#TabLine#` がないと右端だけでなくて2行目全体がこうなります。
はみ出す行は、 `statuslineheight` の値によって変わります。3 にしたら、2行はみ出して本来の `tabline` と合わせて3行になる感じです。

[2012-11-22 03:17] thinca commented on #225
バグ抜きで使ってみた感想。
とりあえず私は、ファイル名が長い場合にだけ2行にして、1行目はファイル名のみ、2行目にもろもろの情報を表示するようにしてみたんですが、こういうことがやりたい場合はファイル名に応じて `'statuslineheight'` と `'statusline'`(`%@`を入れる必要がある) の値を変える必要があるので、autocmd でいちいちチェックしなくてはならず、使えなくはないけど若干面倒かなーと感じました。
動的に変えるのはパフォーマンスとか `%=` の評価タイミングとの兼ね合いとかがあって難しかったのかと思いますが、なにかいい方法ないでしょうかねぇ。

[2012-11-24 05:31] k-takata commented on #131
#新しいIssueにするほどではないと思うのでとりあえずここで。

kaoriya版で `:Tutorial` コマンドを使うと、enc=cp932以外の場合は、tutor.ja.eucを読み込むようになっていますが、enc=utf-8の場合はtutor.ja.utf-8を読み込むようにした方が良くないでしょうか。

[code]

[2012-11-24 10:28] koron commented on #131
@k-takata : thanks! その修正反映します。ってかそれはissue起こしたほうが良かったかもw

[2012-11-24 10:58] koron commented on #131
とりあえず自宅サーバのhgに入ってたソースを https://bitbucket.org/koron/vim-kaoriya に移しました。
ちなみにコレは https://bitbucket.org/koron/vim-kaoriya-vim コッチを参照する形で、
コッチのほうがvimオフィシャルからのブランチになっています。

とりあえずローカルで使ってたそのまんまなんで
オカシイところとかセキュリティ的な問題があったら教えてください。

[2012-11-24 10:58] koron commented on #131
…ところでそろそろ k-takata さんにアイコンを設定して欲しいw

[2012-11-27 05:27] koron opened #271 "ファイル保存時によくSEGVでクラッシュする"
from https://twitter.com/yoshikaw/status/273291491588337664

[2012-11-27 06:07] h-east commented on #271
issue登録あざっす！

[2012-11-27 11:51] tyru commented on #271
「Patch 7.3.715」ってスレッドで同じ事象(syntasticが発動すると落ちる)が報告されてます。
Christianさんの作ったパッチで「直ったっぽい」って返事も返って来てるので、もうすぐ取り込まれるものと思われます。

[2012-11-27 12:38] yoshikaw commented on #271
そのような事象が報告されているんですね。

https://groups.google.com/forum/?fromgroups=#!topic/vim_dev/4C1CSHfJ_QI

今のところsyntasticのチェックに助けられる場面はそれほどないので、取り込まれるまでは無効にしておこうと思います。

[2012-11-28 14:47] tyru commented on #271
7.3.730で取り込まれたみたいです。

https://groups.google.com/forum/?fromgroups=#!topic/vim_dev/5c59UDnXNBw

[2012-11-28 14:53] yoshikaw commented on #271
おお！さっそく試してみます。

[2012-11-28 16:22] mattn commented on #271
seems to be left yet another problem.

On 11/28/12, Kazuhiro YOSHIKAWA notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2012-11-29 19:33] koron opened #272 "eval.txt に不正なシーケンス"
runtime/doc/eval.txt の 2300行目に不正なシーケンスを発見。

`"?"` の部分は 0xe1 になっていて、どっかで変換に失敗して情報が失われたっぽい。
とりあえず以下のように直せばよさそうだが…イマイチ自信がない。

コメントお願いします。

[2012-11-29 19:37] koron commented on #272
http://www.vim.org/sources.php の vim-7.3.tar.bz2 の中で既におかしくなっていた。

[2012-11-29 19:50] koron commented on #272
6.0までさかのぼって、ずっと変わってないことがわかった。

ということはここはlatin1で書かれているのね…

だから正しくはこう見えるべき。しかもUTF-8であるべき。

つまりこの例は、同じ文字列でもマルチバイトならばぶった切れば違う値がでてくるよ、ということが言いたいと。

latin1 から UTF-8 に変換して修正するのが良いと思うが、いかがか?

[2012-11-29 20:03] koron commented on #272
helphelp.txt に

って書いてあるなぁ… (´・ω・`)

UTF-8 にしたいなぁ。

[2012-11-30 03:06] mattn commented on #225
http://stackoverflow.com/questions/13636781/having-multiple-statuslines-in-vim/13638425

[2012-11-30 09:05] h-east commented on #225
@thinca
画面が崩れる件、報告ありがとうございます。調べます。

仕様要望の件、
`statusline`の`%@`の数で動的にステータス行の高さを変える対応は考えてません。

以下の中から選択して下さい。
1. 1行で我慢する。
2. 常に2行とする。(3行でも4行でも)
3. autocmd でいちいちチェックして変更する。

後はpatch公開しているので自分で対応するか、誰かを説得するかですねー。

@mattn
おぉー！。patch作っといてなんですが、この機能欲しい人ってそんなに居ないと思ってます。(オィ
私は使わないです。(ｵｨ

[2012-11-30 13:41] mattn commented on #225
「ぼく、これめっちゃ興味ありまんねん。英語はなせる？」

https://gist.github.com/3158492#gistcomment-610265

[2012-12-05 15:50] h-east commented on #115
以下のpatchでconceal関連のtestが追加された。
現在のカーソル位置の情報を返す関数が追加された。screencol() と screenrow()
だぶんbugはそのまま。
Patch 7.3.748
https://groups.google.com/d/topic/vim_dev/80Diqmk-S-o/discussion

[2012-12-05 16:41] mattn commented on #115
Patch 7.3.747 じゃなくて？

[2012-12-05 16:47] h-east commented on #115
ごめん。見逃してました。
Patch 7.3.747
https://groups.google.com/d/topic/vim_dev/5GADunZjHUc/discussion

[2012-12-05 16:55] h-east commented on #115
動作確認しました。patch 7.3.747で治ってる！！
そもそも３月にpatchは出てたのか、、誰か教えてくれよーー。
http://comments.gmane.org/gmane.editors.vim.devel/33830

@ramu さん。。。また別のissueを頑張って下さい。

[2012-12-05 16:57] #115 closed, assigned to nobody

[2012-12-05 17:00] h-east commented on #115
まず先にMLの過去の投稿を検索しなかった俺が悪かった。次から改善します。

[2012-12-05 17:30] k-takata commented on #115
mattnさんが出した https://groups.google.com/d/topic/vim_dev/fc0p8bfFo2Y/discussion は、URLは違うがよく見ると全く同じスレッド…
このパッチで直るのはTabの表示位置だけだと思っていたのですが、同根だったんですね。

まだ、#268 は直っていないのでそちらの方を…。

[2012-12-05 17:40] h-east commented on #115
あーっ、このissueの上の方に貼ってあったリンクすら見に行ってなかったｗ。。すんません。
@k-takata 情報ありがとうございます。

そうですね、 @ramu さんにはconcealスペシャリストになってもらいましょう。

[2012-12-05 17:40] mattn commented on #115
#268 再現しませんね。

[2012-12-05 17:42] mattn commented on #268
治ってると思う

![](http://go-gyazo.appspot.com/ff3393b8e042a037.png)

[2012-12-05 17:42] mattn commented on #115
あっちにキャプチャ貼っときました。

[2012-12-05 17:55] mattn commented on #115
治ったんじゃないの？ 今回ので

[2012-12-05 17:58] k-takata commented on #268
私のところだと直っていません。
7.3.751で以下のようになります。（←の部分で80桁）

:se cole=0

[code]

:se cole=2

[code]

[2012-12-05 18:06] h-east commented on #268
私のとこでも治ってないです。(fedora16 on PuTTY)
concealが使われている行は、まだ余裕あるのにconnceal非表示文字数分先に改行される感じです。

[2012-12-06 00:18] mattn commented on #268
あれ？確認ミスか？

[2012-12-06 22:09] koron opened #273 "remote_expr() で呼び出された関数で正規表現を使うと落ちる"
手前味噌なプロジェクトで申し訳ない。

minmap-vim の reverse_protocol ブランチ (koron/minimap-vim@5ce95fc0d9e937bad1fe9da6c26acceeef8b33d7) を使って eval.txt をスクロールさせていると、常に特定の箇所で gvim が落ちる。
## 方法

[code]

あとは `CTRL-F` を押しっぱなし(ゆっくり連打でも同じ)でスクロールさせていると 780行目 付近でminimapではなく、本体のほうのgvimが落ちる。
## 環境

確認環境は Windows の gvim 7.3.753 +kaoriya 64bit
今のところ再現率は脅威の100%
## minimap がやってることの簡単な説明

2つのgvimインスタンス間で remote_send, remote_expr を駆使(と

[2012-12-06 22:12] koron commented on #273
あ、位置はかなり違ったけど options.txt (4200行目付近)でも落ちた。

[2012-12-06 22:14] koron commented on #273
デバッグ版でひっかければ一発だろうか?

[2012-12-06 22:19] koron commented on #273
みたら正規表現関連でおちてた。static 変数 reginput に変なポインタが入ってる…めんどくさいことになりそうな予感。

[2012-12-06 22:27] koron commented on #273
ポインタ絡みなので 32bit 版では発生しない可能性を試してみる → gui_mch_update() から pPeekMessage() か vim_is_input_buf_full() を読んだ後で落ちているように見える。

[2012-12-06 22:35] koron commented on #273
MacVim 7.3.633 では発生せず。なのでそれ以降の修正か、Windows版に原因がある。

今のところの感触では Windows版 の `remote_*` の実装。

[2012-12-07 00:28] mattn commented on #273
落ちない...

[2012-12-07 00:53] koron commented on #273
@mattn: mjd? バイナリはvim-jp.org からダウンロードできるやつ? それともMinGWのコンパイル? あとOSは?

私はWin7の64bitに、vim-jp.orgからダウンロードできるやつです

[2012-12-07 01:25] mattn commented on #273
mingw32 build on windows xp.

[2012-12-07 06:59] koron commented on #273
7.3.744 (一つ前)でも落ちた。 (´；ω；｀)

[2012-12-07 07:01] koron commented on #273
それどころかファイルを変えても落ちた (´；ω；｀)

https://github.com/koron/java-helper-vim/blob/master/autoload/java_helper.vim

これをスクロールさせてるだけで。

[2012-12-07 07:05] koron commented on #273
とりあえず remote_expr() の呼び出しをやめたら落ちなくなった。これの呼び出し実行タイミングによって落ちてるのかも。

[2012-12-07 07:21] koron commented on #273
remote_expr() の呼び出し先の関数内で使ってた substitute() 消したら落ちなくなった。

つまりここまでをまとめると
**Windows (MSVC版) ではremote_expr() で呼び出された関数で正規表現を使うと落ちることがある**
となりますね。タイトル変えときます。

remote_expr() がまずいタイミングで実行されて
グローバル変数が書き換わっちゃってドボンということか。

[2012-12-07 07:25] thinca commented on #273
グローバル変数…

[2012-12-07 07:33] koron commented on #273
ちなみに向こうでは正規表現の実行結果を予めキャッシュしておいて、remote_expr()の時には実行されないようにしました。

[2012-12-07 08:32] mattn commented on #273
WindowsのWM_COPYDATAは非同期なので実は怖い

[2012-12-07 08:32] mattn commented on #273
たぶん、ウィンドウが出来てvimが準備出来るまでに受信しちゃってる

[2012-12-07 08:34] koron commented on #273
ん。どういうこと? 少なくとも両方のウィンドウが表示された状態でやってるけど…
なにか見えないウィンドウ作って通信に使ってる?

[2012-12-07 12:15] koron commented on #273
このさき問題を再現しやすいよう koron/minimap-vim@14c4770d7dc1050227d65899ba4ef3d57bfbfc91 に [vimjp_issues_273](https://github.com/koron/minimap-vim/archive/vimjp_issues_273.zip) というタグを付けておいた。

[2012-12-07 12:25] koron commented on #189
TODO リストに入ったらしいので閉じておきます。まずかったら開いてください。

[2012-12-07 12:25] #189 closed, assigned to nobody

[2012-12-08 16:09] h-east commented on #225
修正しました。
win_redr_custom()はtabline再描画時および各window再描画時に呼ばれるのですが、常にwindow再描画時と思い込んで処理させいたのでそこを改善しました。
https://gist.github.com/3158492

[2012-12-08 17:13] h-east commented on #271
7.3.730 で治ったけどMemory Leakが起きるようになってて、

Patch 7.3.746 でMemory Leakをfixした。
https://groups.google.com/d/topic/vim_dev/qN6azlJgtyY/discussion

...けど:vimgrepとの併用時になんかよろしくなさそうで そのpatchがTODOリストのtopにある状態。（ややこしいｗ）

@yoshikaw とりあえず落ちなくなっていたらクローズしちゃって下さい。(確認したVer報告よろしくです)

[2012-12-08 17:41] h-east commented on #189
todoリスト入り。

[2012-12-08 17:56] h-east commented on #236
これって私のとこではlinuxでもWin7でも再現しなかった。(issue登録時の話)
@thinca OS, Vim ver, 再現手順を提示して貰えませんか？

[2012-12-08 18:12] thinca commented on #236
今試したら、こちらでも落ちませんでしたね。どこかのバージョンで直ったかな? 要確認。
最近メモリリークを修正したのってありましたっけ。

[2012-12-08 18:14] h-east commented on #175
連載が2012/2/29を最後にストップしているので一端クローズします。
復活して相変わらずだったらその時に考えましょう。

[2012-12-08 18:14] #175 closed, assigned to nobody

[2012-12-08 19:04] tyru opened #274 ":!による外部コマンド実行結果が:redirで取得できない"
前は

[code]

で`output`に`ls`の結果が含まれていた気がしたんですが、今7.3.729で実行してみるとコマンド出力結果が含まれないようになっています。

自分は`:Capture`って単に引数のExコマンドを実行して結果をバッファに出力してるだけのコマンドを定義していて、これで`:Capture !ls`とかして外部コマンドの出力もバッファに取ってこれたような気がしてたのですが... (ちなみに主に@thincaさんが単一プラグイン化してほしいって言ってたのでつい最近[リポジトリ](https://github.com/tyru/capture.vim)作りました)

[2012-12-08 19:09] tyru commented on #274
出力結果書いてませんでした。
7.3.729で次のような結果になります。
`:!echo hello`とコマンド実行した出力はあるんですが、`hello`の出力がないです。

[code]

[2012-12-09 08:18] yoshikaw commented on #271
報告が滞り申し訳ありません。

7.3.730 を使い始めてから Syntastic を有効にしても保存時にクラッシュすることは無くなりました。

メモリリークや:vimgrepの件については気づいていませんが、現在使用している ７．３．754 でも落ちませんので安心して保存できるようになりました。

githubに不慣れですので、 https://github.com/vim-jp/issues/wiki/Member をみましたが「Close & Comment」のボタンが見つけられませんでした。お手数ですがクローズしてください。

[2012-12-09 08:18] #271 closed, assigned to nobody

[2012-12-09 08:19] koron commented on #271
works for me

[2012-12-09 10:49] ompugao opened #275 "let g:netrw_liststyle=3でディレクトリ移動ができない"
7.3.754にて .vimrcを

[code]

だけにして、:e .すると、適当なディレクトリの表示される行で[Enter]してもディレクトリ移動ができません。

どのpatchで動かなくなったか追っていませんが、修正をお願いしたいです。

よろしくお願いします。

[2012-12-09 19:28] h-east commented on #274
7.3.471 や 7.2.001 や 7.0aa で確認してみましたがすべて helloの出力なしでした。
うーむ。。。helloの出力がされるバージョンってあります？

# 勘違いだった、に1票

[2012-12-09 19:48] h-east commented on #275
私の環境では正しく動いているように見えます。(fedora16 on PuTTY. Vim7.3.754. netrw v145)
@ompugao さんの環境＆netrwのバージョンを教えて頂けますか？

[2012-12-10 00:16] koron commented on #275
うちでは報告通りディレクトリの選択ができません。
ファイルはできます。

+kaoriya 754 win64

[2012-12-10 00:17] mattn commented on #275
うちは動く。

windows xp mingw32 netrw-v146 野郎

[2012-12-10 00:41] koron commented on #275
+kaoriya バイナリか。原因調査までは私がやったほうがよさそうですね。

[2012-12-10 00:45] koron commented on #275
`|` で始まってるかどうかが悪さしてそう。

`|` で始まってない `../` は選択できるので実際にそれを選択すると、ディレクトリ内容を表示するのではなく NetrwTreeListing 1 とかいうROなバッファを開いてしまう。その後、ディレクトリを `:e` してもその内容は表示されなくなる。

[2012-12-10 01:27] koron commented on #275
…もう読みたくないお。このソース、読む気をくじくお。

[2012-12-10 01:39] ompugao commented on #275
ubuntu 12.04,vim7.3.754,netrw v146です

べたっと貼ります
VIM - Vi IMproved 7.3 (2010 Aug 15, compiled Dec  9 2012 19:48:10)
適用済パッチ: 1-754
Compiled by sifi@lycium
Huge 版 with GTK2 GUI.  機能の一覧 有効(+)/無効(-)
+arabic +autocmd +balloon_eval +browse ++builtin_terms +byte_offset +cindent
+clientserver +clipboard +cmdline_compl +cmdline_hist +cmdline_info +comments
+conceal +cryptv +cscope +cursorbind +cursorshape +d

[2012-12-10 02:22] koron commented on #275
なんだーkaoriya特有じゃなかったのか…

[2012-12-10 02:43] koron commented on #275
正しい動作がわかってないので、何が間違ってるのかすぐにはわからない。

[code]

こんな感じのif文はたくさんあるから、その中がおかしいかif文が期待通りに機能してないかのどちらかだとは推測している。

[2012-12-10 03:13] koron commented on #275
とりあえずここまでの調査結果を書いておきます。
- `<CR>` を叩くと以下の3つの関数が順次起動する
  - s:NetrwGetWord
  - s:NetrwBrowseChgDir
  - netrw#LocalBrowseCheck
- 最初の2つはちゃんと動いているっぽい。その内容はおおまかに言って以下のとおり:
  - カーソル下のディレクトリを抽出
  - 必要なデータの一部更新を行い(ここがやっかいかもしれない)、ディレクトリを確定する
- netrw#LocalBrowseCheck の引数としての入力はディレクトリパスだが、それ以外にもウィンドウ変数やバッファ変数も入力に相当しているため、やっかい

以上のことから、現時点での推測は
- s:NetrwBrowseChgDir で必要な変数の修正が適切に行われていない
- netrw#LocalBrowseCheck

[2012-12-10 03:13] thinca commented on #275
そもそも `i` で表示モード切り替えようとするとエラーが出る…。このクオリティで標準とはひどい。

[2012-12-10 03:16] koron opened #276 "netrw.vim をなんとかしたい"
#275 から派生

ソースも他人じゃメンテできないレベル。

リファクタリング&チームでメンテする体制を整えないとまずそう。

[2012-12-10 03:16] thinca commented on #275
`:help netrw-i` のサンプルコードも間違えてる。`let g:netrw_liststyle= 4` でツリーモードになると書いてある。`:help g:netrw_liststyle` を見ると、取りうる値は 0,1,2,3 のどれか。
色々ひどい。

[2012-12-10 03:17] thinca commented on #276
vimfiler 見たいに完全に replace の方が早いに一票。
もちろん vimfiler は unite 依存などがあってこれ自体は置き換えには使えないけれど。

[2012-12-10 03:18] mattn commented on #275
しかもツリーの動作いろいろ(おっと誰か来た

ってくらいひどい

[2012-12-10 03:18] koron commented on #276
まぁ、もともとはリモートのファイルが変更できるもの、でしたからねぇ…

[2012-12-10 03:18] mattn commented on #276
nerdでいいんじゃないかに+1

[2012-12-10 03:20] thinca commented on #276
nerd だとリモートファイルに対応してないですね。

[2012-12-10 03:21] koron commented on #276
リモートファイルを編集可能にする機能と、ツリーというかグラフィカルにファイルを選択する機能は分けるべきじゃないかな。
概念的にはunite-sourceだっけ? あれになるのかもしれませんが。

[2012-12-10 03:22] thinca commented on #276
その辺りをやろうとしているのが vimfiler だったはず。あれは将来的にはリモートファイルの編集も可能になるはず、というか ssh くらいはもうすでにできたはず。

[2012-12-10 03:23] mattn commented on #276
metarwライクとfilerを別個に出すのがいいのでは。

[2012-12-10 03:26] thinca commented on #276
完全に切り分けるのは難しいでしょうね。リモートのファイルリストを出す機能とリモートのファイルを読み書きする機能はセットになるでしょうから。

[2012-12-10 03:28] mattn commented on #276
metarw自身ファイルリストを取る機能あるので、要はUIとプロトコルを分けて、その内のひとつに `file://` ハンドラを提供する、これが理想なんでしょうな。

[2012-12-10 03:29] koron commented on #276
path → pathが指す先に応じてI/F取得 → 得られたI/Fに応じてリスティングか、編集か振り分け。
リスティングならfilerに渡し、編集ならmetarw的にってところか。

つまりここでは I/F がハンドラ相当ね。

[2012-12-10 03:32] mattn commented on #276
metarw は filer も提供しているのです。結果で `['browse', ...]` を返せばファイラになる。ファイラになるかどうかはプロトコル側が知ってて制御する。

[2012-12-10 03:34] koron commented on #276
@mattn つまり metarw なら私が書いた要件は、(プロトコル側を書けば)もう満たせる(=すぐにもreplace可能)と言ってる?

[2012-12-10 03:35] mattn commented on #276
metarw は逆に `file://` もしくは `/path/to/file` のハンドラが無いのでそっちがいりますが、リプレイスは可能かと。

[2012-12-10 03:36] mattn commented on #276
あと拡張できないのも痛いよね＞netrw

[2012-12-10 03:38] thinca commented on #276
ただ、metarw はブラウザ部分が本当に簡易なのでそこもなんとかしないといけないですね。

[2012-12-10 03:40] mattn commented on #276
@thinca そそ。プロトコルは書けるけど、ハンドラが書けない。例えばブラウザでcpみたいな動作をプロトコル側で何するか、みたいな。

[2012-12-10 03:40] mattn commented on #276
そう考えるとファイラって壮大になってしまう。

[2012-12-10 03:41] koron commented on #276
netrw のダメさは置いておくとして、metarwで不満なのは
- ブラウザ(filerのUIのこと?)が貧弱
- プロトコルを書かなきゃね
- ハンドラの定義がない

くらい?

[2012-12-10 03:41] thinca commented on #276
で、ぶっちゃけその辺りをやろうとすると vimfiler になるわけです。

[2012-12-10 03:43] koron commented on #276
ん～なんかそれは違う気がするなぁ。netrw を置き換えて標準なUIとするためにうまくまとめられないかしらねぇ。

[2012-12-10 03:44] koron commented on #276
# vimfilerがUniteに依存しているのって、UI方面ということか?

[2012-12-10 03:44] thinca commented on #276
これは vimfiler が何をやっているかを把握しての感想です?

[2012-12-10 03:45] koron commented on #276
no.

「Unite に依存した vimfiler を標準としてVimに添付する」のは違う気がする。

[2012-12-10 03:45] thinca commented on #276
vimfiler の copy や delete なんかは、unite-file の action として実装されています。Shougo さん的に実装の重複を回避したかった結果かと。

[2012-12-10 03:46] thinca commented on #276
これについては完全に同意。

[2012-12-10 03:46] koron commented on #276
センスとしては metarw の解はかなり良いと思う。単純なプロトコルの部分として。

私も Chalice でやろうとしてた。

[2012-12-10 03:47] thinca commented on #276
vimfiler 自体を入れようってことではなくて、その辺りの要件を満たそうとすると vimfiler がやっていることに近くなるよってのが私の言いたかった事です。

[2012-12-10 03:48] thinca commented on #276
(できれば @Shougo さんにご登場願いたいけど、忙しいっぽいからすぐには無理だろうなぁ)

[2012-12-10 03:48] koron commented on #276
vimfiler から良い所だけ metarw にガッチャンコしてパッケージングできないかしらね。

[2012-12-10 03:49] mattn commented on #276
Uniteでアクションは書かれた。
vimfilerでファイラは書かれた。

ただし、プロトコル定義は書いてない。本当はプロトコル定義を書いて、それをvimfiler、unite双方が参照するべきかと。
プロトコルをUniteプラグインに同根させたのはちょっと勿体無いな。

[2012-12-10 03:51] koron commented on #276
UI部分もプラグインで選べると良いのかな。ツリー表示はnerdtree、そうでないものはなんかのlist表示プラグイン、みたいな。

[2012-12-10 03:51] koron commented on #276
いや分けるとしてもワンパッケになってないと普通の人は使えないか。メンテのために分けるべきというだけで。

[2012-12-10 03:52] mattn commented on #276
Unite Sourceがそれ！汎用的なのよ！と言うかもしれないけど、「なぜUniteネームスペースにしたし...」という部分の方が強い。

[2012-12-10 03:53] thinca commented on #276
それは私も感じますね。
まあ、Vim の場合分ければ分けるほどユーザが不便になるわけで(現時点ですでに vimfiler は unite に依存してしまっているし)、その辺りを考慮した結果ですかねぇ。

[2012-12-10 03:55] koron commented on #276
vim_dev での netrw.vim の評価ってどんな位置なのだろう?

[2012-12-10 03:56] mattn commented on #276
「おまけ」じゃないかな ＞ vim_devでの評価

[2012-12-10 03:57] koron commented on #276
置き換えるにあたって、いきなり問題提起してガツンといくのか、
先にreplacementを作って「あ、こっちのほうがええやん」って誘導するのか。

[2012-12-10 03:59] mattn commented on #276
bramの性格からすると、問題提起な気がする。ただしあれ、他人が書いたやつなので義理もあるだろうし、本人もちょくちょくvim_devにくるから荒れる。

間違いなく荒れる。

[2012-12-10 03:59] thinca commented on #276
モノがないと説得力がない気がします。先に作った方が良いかと。

[2012-12-10 03:59] mattn commented on #276
あと結構メンテしてはるから「だったから問題点出せよ」となる気もする。

[2012-12-10 04:00] koron commented on #276
揉めるのはめんどいな。とりあえず vim-jp でホストして 配ってる奴にバンドルしちゃおうか。

[2012-12-10 04:00] thinca commented on #276
で、作るなら、最初から replace が目的であると明言してプロジェクトを開始するのがいい気がします。方向性がしっかりする。

[2012-12-10 04:00] mattn commented on #276
下位互換性を歌うvimなので、たぶんリプレイスは出来ないと思うな。ちょっとずつ侵食して書き換えさせるくらいかと。

[2012-12-10 04:01] thinca commented on #276
とりあえず #275 については誰かが vim_dev に報告してしまうのが手っ取り早いんですかね。

[2012-12-10 04:01] koron commented on #276
問題点をガンガン飛ばして押しつぶす?

[2012-12-10 04:02] koron commented on #275
by @thinca: https://github.com/vim-jp/issues/issues/276#issuecomment-11181227

[2012-12-10 04:05] mattn commented on #276
「KoRoN さんは戦争をやってみたくてしょうがないのよ！そんなKaoriYaがいいと思う人がいたら手を挙げてください」

http://blog.livedoor.jp/dqnplus/archives/1741725.html

Shougo「ハイ！」Shougo「ハイ！」

[2012-12-10 04:11] koron commented on #275
イマイチ、発生のトリガーがわかってないのが痛いかも。

[2012-12-10 04:23] koron commented on #276
とりあえず有りモノ組み合わせてみる? だったら名前決めようず。 `rw.vim` とか短すぎてダメっぽいけどw

[2012-12-10 04:23] koron commented on #276
ここはひとつ `rwx.vim` か。

[2012-12-10 04:29] thinca commented on #276
neorw.vimに0票。

[2012-12-10 04:30] koron commented on #276
枯れる日が来るのにneoはないでしょ

[2012-12-10 04:32] koron commented on #276
イメージ的には `光宙(78)` みたいなw

[2012-12-10 04:35] mattn commented on #276
都内在住 男性(78)

[2012-12-10 04:50] mattn commented on #276
# プロトコル、UI、アクションが分離した yet-another-netrw を作る

という方針？

[2012-12-10 04:51] koron commented on #276
++@mattn

[2012-12-10 04:55] mattn commented on #276
名前は neotokyo でいい？

[2012-12-10 04:56] koron commented on #276
なんでやねん ∠( ﾟдﾟ)／

[2012-12-10 05:16] thinca commented on #276
アクションの種類はある程度列挙できそう。
- list {dir}
- read {file}
- write {file} {content}
- copy {from} {to}
- move {from} {to}
- delete {path}

こんなところ?

[2012-12-10 05:24] koron commented on #276
必須なのはreadとwriteだけで、あとは省略可能という形でも良いかもしれない。

あとRESTを参考にすれば、種類の過不足は検証できそう。

[2012-12-10 05:34] thinca commented on #276
http を考えると write も省略可能。

[2012-12-10 05:49] h-east commented on #236
抜粋して再掲。

せめてOSくらいは教えて欲しいところ。

[2012-12-10 05:53] thinca commented on #236
すいませんでした。
再確認した際の環境は Gentoo Linux Vim 7.3.629 です。
最初に試した際はOSは同じですが、Vim のバージョンは覚えてません。すいません。
確認手順は最初に示してあるとおりです。

[2012-12-10 07:17] h-east commented on #236
ありがとうございます。

備忘録的に処理の流れを書いておきます。
- `:mksession` を実行すると ex_mkrc() が呼ばれる。
- makeset() でグローバルオプション値をファイルに書き込む。[ex_docmd.c:9113]
- 文字列オプションの書込みは put_setstring() [option.c:9221]
- P_EXPAND付きのオプションはoption.c:9284～9293 でalloc()して展開処理がおこなわれる。

落ちるとしたらここかなあ？
`runtimepath`オプションは P_EXPAND 付いてるし。
おや？その前に`runtimepath`オプションはフォルダを複数指定できるのに option.c:9284 で alloc(MAXPATHL) っておかしい！！
今のソースだと、Winは1024、linuxは4096でぶった切ら

[2012-12-10 07:25] thinca commented on #236
確かにぶった切られてますね！ >linuxで4096
実際には 4095 文字でした。NULL文字かな?
とりあえずクラッシュは最新版では直ってるようですね。最近クラッシュバグの修正があった気がしないでもないので(うろ覚え)、それで直ったんですかね。(確認めんどい)

[2012-12-10 10:19] ynkdir commented on #275
v145=ok v146=ng

autoload/netrw.vim:2991行目
- return 1
- return 0

でとりあえず動くみたいです。

https://groups.google.com/forum/#!topic/vim_dev/GzHRxSrJ4mI/discussion

別件ですが g:netrw_liststyle=3 のバグ報告出てるのでついでに直りそうなきもします。

ちなみに最新版の v147b だと上記の変更でも動かないです。というか壊れてます。

[2012-12-10 10:21] h-east commented on #275
@ynkdir :100:

[2012-12-10 10:27] koron commented on #275
@ynkdir :+1: Thanks!

[2012-12-10 10:35] koron commented on #275
アホすwww

[2012-12-10 10:41] h-east commented on #275
あれ？でもまっつんさんはnetrw-v146でちゃんと動いてるから辻褄が合わない。

そもそも vim をhg pull --updateして入るnetrwはv145ちゃいますのん？
v146ってどっから仕入れてはるんですか？

[2012-12-10 10:43] mattn commented on #275
闇市

[2012-12-10 10:49] ynkdir commented on #275
r3920 で v146 になりました。

v147b は g:netrw_xstrlen の設定がおかしくなってるみたいで自分で設定して let g:netrw_xstrlen=0 (0以外可) と上記の変更でいちおう動きます。
ただ上記の変更が正しいかはわかりません。

[2012-12-10 10:54] mattn commented on #275
なかなか、ひどそうね... ｺﾞｸﾘ...

[2012-12-10 10:57] ompugao commented on #275
おーっ 動きました
ありがとうございます

[2012-12-10 11:00] h-east commented on #275
あーっ、開発用のrtp設定がコメントになってた。 :stuck_out_tongue_winking_eye:

[code]

v146で動かないのを確認しました。そして2991行目の修正で動いたのを確認しました。 :clap:

[2012-12-10 12:08] h-east commented on #236
このissue登録時の最新Verが7.3.622ですから、落ちなくなった修正はそれ以前に入っているはず。
(私がissue登録時に最新Verで試して落ちなかった事実があるので)

[2012-12-10 12:37] tyru commented on #274
あれ...勘違いでしたか...すみません。
うーん7.0でも確認してくれたなら、きっと勘違いだったんだと思います...すみませんcloseします。

[2012-12-10 12:37] #274 closed, assigned to nobody

[2012-12-10 14:24] Shougo commented on #276
呼ばれていたみたいなので来ました。

[2012-12-10 15:12] Shougo commented on #276
軽く考えてみると、anyrw, stdrw, anytocol, ... みたいな感じですかね。
単体でnetrwを置き換えるものではないので、あまりnetrwの名前を引きづらないほうがいいかなぁ。

[2012-12-10 15:26] Shougo commented on #276
はい。できています。

はい。vimfilerは当初より壮大なものになりました。unite.vimの機能を使っているおかげで外からは単純そうに見えますが。

uniteに依存していることは関係なく、vimfilerを標準に添付するのはやめるべきでしょう。あれは大きすぎる。
個人的にはnetrwも巨大なので、標準で付いているのはなぁと思っていたり。もちろんプロトコルを処理する部分はVim本体に必要だと思っています。

はい。来ました。

そのあたりの事情は複雑で、「標準となるプロトコルとなるライブラリがない」「当時、依存関係をちゃんと解決できるプラグインマネージャが少なかった」ため、uniteの機能を使おうと思ったのです。netrwはソースコードが複雑で、外部から使える作りではないし、metarwはファイルブラウザがnetrw風なのがnetrw嫌いな私にはちょっと……でした。あと、metar

[2012-12-10 15:33] Shougo commented on #276
これではおそらく足りません。vimfilerのアクション定義を見てみたところ、

shell {dir}
シェル起動

shellcmd {cmd}
シェルコマンド起動

mkdir
ディレクトリ作成

newfile
ファイル作成

execute
ファイル関連付け実行

がありました。

あと、プロトコルを超えたファイルのコピーや移動というのがなかなか実装が大変だったりします。

[2012-12-15 10:37] k-takata opened #277 "msvcrt.dllのバージョンが違うiconv.dllが使えない"
現在のVimは、(lib)iconv.dllのエラーを見るために、msvcrXX.dllがエクスポートしている `_errno` のアドレスを取得して使用しています。
しかし、msvcrXX.dllのバージョンはコンパイル時に決まってしまうため、別のバージョンのmsvcrXX.dllにリンクされたiconv.dllを持ってきても使うことができません。

iconv.dllが実際に使っている `_errno` のアドレスを取得して使うパッチを作ってみました。
https://gist.github.com/4292446

API hookでよく使われる方法の流用です。
別のiconv.dllを使えるようにするためだけに、ここまでする必要があるのかという問題がありますが…。

[2012-12-15 10:49] koron commented on #277
gistのほうに書いちゃったw

:+1:

[2012-12-15 12:31] tyru opened #278 "BufLeaveなどでバッファを閉じるか閉じないか制御できる仕組みがほしい"
[code]

こんな風に制御できるといいのですが、現状こういった仕組みはないため、イベントが発火されてもバッファを閉じることは止められません。

[2012-12-15 13:29] koron commented on #278
やるとして BufLeavePre とかを追加する方向じゃないかしら。

[2012-12-15 14:30] tyru commented on #278
イベント名を追加する形でもいいです。
とりあえず制御できるようになるとうれしいです。

[2012-12-16 09:55] koron commented on #278
とりあえず BufLeave を出しているところを探してみた。5箇所あった。
- **set_curbuf()** : buffer.c バッファを切り返る関数。(今は)キャンセルするパスはない
- **do_ecmd()** : ex_cmds.c `:e` の実装。この関数内にキャンセルする機構を組み付けることになりそう。
- **window.c** :
  - **win_close()** : ウィンドウを閉じて別のバッファに移動するとき。キャンセルするパスは基本ない。
  - **leave_tabpage()** : タブのページを切り替えるときと推測。これもキャンセルするパスはやはりない。
  - **win_enter_ext()** : ウィンドウ間のフォーカスが切り替わる時と推測するが、extが謎。キャンセルパスはなし。

結局のところキャンセルするパスは一切なかった

[2012-12-16 15:11] thinca commented on #278
乗り遅れたけど機能としては私も欲しいです！(仕組みはまったく考えてない)

[2012-12-16 15:18] thinca opened #279 "年末大掃除したい (2012)"
Issues の大掃除がしたいです。
- なんとなく流れが止まっている Issues を掘り返して現状の確認したり可能なら話を進めたりとかそんな感じで
- 特に進められるのがなかったとしてもキニシナイ
- issues リポジトリに立てたけど、対象は vim-jp 内の全リポジトリ
- この issue 自体はメンバーの意識共有等が目的。特に他の issue と紐付けたりなどはしない
- よって、この issue は作業の進捗/作業自体の有無に関わらず年末ないし年始に閉じる

こんな感じでどうでしょ。

[2012-12-16 15:26] koron commented on #278
一旦、考察しておきます。

実装を見る限り BufLeave は On Buffer Changed だった。
ウィンドウやタブを移動した、開いた、閉じたなどで
結果的に生じたバッファ変更が BufLeave で拾われる感じ。
なので本要求のようにバッファの変更を未然に防ぐ BufLeavePre の実装はかなり難しいと推測される。
それは、

こういう処理をまるまる、バッファが変わる可能性のある操作全てにおいて実装する必要があるため。
さらにバッファが変わる可能性はスクリプトの実行中も含まれるため事態をややこしくする。
なのでまっとうな手段で **バッファの変更を未然に防ぐ** ことはまず難しい。

となればプランBとして
**バッファの変更後に、それが意図せぬ変更ならば意図したバッファに強制移動させる**
という手段を取れば良さそうだが、それがタイミング的には現在の BufLeave

[2012-12-16 15:27] koron commented on #279
:+1:

[2012-12-16 15:32] koron commented on #278
ちなみに私は、

ならばスクリプトだけでもできると考えています。
仮にコレで漏れるコーナーケースについては、
そのコーナーケースを個別に実現する機能だけを追加することで、
同じ目的を達成できるのではないか。
そうしたほうがトータルのコストは(BufLeavePre相当を実装するよりも)低くなるのではないか、
というのが私の今の立場です。

[2012-12-16 20:18] h-east commented on #225
'statuslineheight'オプションのステータス行の行数に関して以下のような仕様にすることに決めました。

[code]

旧仕様と何が違うか纏めるとこんな感じ。
- 旧仕様はstatuslineheight の指定値をそのまま保持して内部でなんとかしていたけど、現設定値が参照出来なかった。<br>
  新仕様では初回のステータス行の行数更新時に値が変化しえるし変化値を設定値とする。なお、一度設定した値から大きくなることはない。<br>
  (window1個でls=0か1からls=2変更時、またはwindow複数個でls=0からls=1か2に変更時も例外的にステータス行の行数更新処理をおこなう。(現状維持 or 縮小))
- 旧仕様はlaststatusが0や1の時の最下windowでの`set statuslineheight?`を考慮してなかった。<br>
  新仕様ではw

[2012-12-17 03:09] mattn commented on #279
+1

[2012-12-17 07:20] h-east commented on #279
±0

[2012-12-17 08:49] thinca commented on #6
これって今どういう方向になってましたっけ。
一旦まとめたい。

[2012-12-17 09:36] tyru commented on #279
+1

[2012-12-17 10:56] k-takata commented on #277
投げてみました。
https://groups.google.com/d/topic/vim_dev/GFIJhL5I0Js/discussion

[2012-12-17 12:08] k-takata opened #280 "make configがうまく動かない"
Unix系のソフトの場合、`./configure`して`make`するというのが一般的なビルド手順だと思いますが、Vimの場合は`src/Makefile`に書いてあるように、そのファイルを編集してから`make`または`make config && make`を実行し、その中で自動的に`./configure`が実行されるというのが、想定された手順のようです。

このmake機構には、`src/auto/configure`などが更新されて`./configure`の再実行が必要な場合、自動的にそれを実行するという機能があるのですが、どうもこれがうまく動かないようです。

たとえば、1回`make`した後で、最新のソースを取得して`src/auto/configure`が更新された場合、次に`make`を実行すると次のようなエラーが出てしまいます。

[code]

と表示されているの

[2012-12-17 12:09] k-takata commented on #280
この問題の修正パッチを作ってみました。
https://gist.github.com/4292458

まず、`make distclean`を実行しようとしてもその前にconfigureが走ってしまう問題ですが、`Makefile`が`auto/config.mk`をincludeしており、さらに依存関係に`auto/config.mk`が入っているために、最初にconfigureが走ってしまうようです。
とりあえず`auto/config.mk`を依存関係から外して、代わりに`auto/config.cache`を指定してみました。

次に、`CFLAGS`と`LDFLAGS`がconfigureのたびに長くなっていく問題ですが、前回実行時の値が`auto/config.mk`に入っており、その値に毎回オプションを足していくのでだんだん長くなっていました。
必要なオプションが既に含ま

[2012-12-17 12:12] mattn commented on #277
あーなんか思い出してきたぞ

[2012-12-17 12:12] thinca opened #281 "settabwinvar()/settabvar() でカーソル位置がずれる"
※正確な現象が掴めなかったので、タイトルは後で変えるかも

[code]

上記のスクリプトを `vim -u NONE -N -S bug.vim` こんな感じで実行すると、最後に `A` でカーソルは末尾に行かないといけないところが、1つ手前の `hog|e` の部分に来てしまいます。
`settabvar()` と `settabwinvar()` で確認。また、カレントタブへの操作(`settabvar(2, 'foo', 0)` など)の場合はこの現象は発生しませんでした。
恐らく、一瞬だけノーマルモードに戻ってその後挿入モードに復元された際にカーソル位置がずれているのかと推測。

[2012-12-17 12:12] mattn commented on #277
これたしかまずいんですよ。
この方法使っても。
E2BIG とか EILSEQ とかの値は、コンパイラによって違ったりするのです。

[2012-12-17 12:14] mattn commented on #277
6.1.216で関与してた。
http://mirror.dejanseo.com.au/pub/vim/patches/6.1.216

[2012-12-17 12:23] tyru commented on #281
おおー面白い(ぇ
自分の環境(7.3.729)でも再現できました。

[2012-12-17 12:28] k-takata commented on #277
うへぇぇ！
とりあえずMSVC互換でビルドされたDLLのみ対応ということで…

[2012-12-17 12:37] Shougo commented on #281
ソースコードを見てみました。

src/eval.c setwinvar()にて、タブが異なる場合にカーソル位置の保存・復元をしています。
おそらく、インサートモードでこの位置をそのまま使うとずれてしまうんでしょう。
特に、インサートモードでの行末の位置というのはVim script的にも特殊で苦労するところなので、
うまく対応できていなくても不思議ではありません。

[2012-12-17 12:39] Shougo commented on #281
正確には、カーソル位置の復元に失敗しているようです。インサートモードでの行末位置が考慮されていません。
ソースコードをみましたが、ノーマルモードにはなっていませんね。

それにしても、カーソル位置をグローバル変数でとってきているのが、いかにも(ry

[2012-12-17 12:51] tyru commented on #278
自分もできればソース改変なしで動けばいいと思います。

うーむそれはちょっと今回やりたいことと違いますね...
自分がなぜBufLeavePre相当の機能が欲しいと思ったかというと、
[hatena.vim](https://github.com/motemen/hatena-vim)というVimからはてなダイアリーにポストするVimプラグインに、
**`:q`したバッファがまだ公開済みでなかったら閉じるか閉じないか聞く**機能を付けたかったからです。

...とここまで書いて、それって **BufWritePostで公開してなかったら無理矢理`&modified = 1`にすればいいんじゃないか** と気付きました。
で、やってみたんですが、BufWritePostで`&modified = 1`になるような操作をしても、イベントが終わると`&modified = 0`になるようです。な

[2012-12-17 12:53] tyru commented on #281
おお。
これはShougoさんがパッチ書くフラグ...!

[2012-12-17 12:55] Shougo commented on #281
カーソル位置の復元はちゃんとやるの大変そうなので……。もう私は力尽きました。ぐふっ

[2012-12-17 13:00] thinca commented on #281
またまたー。

[2012-12-17 13:03] tyru commented on #281
またまたー。

[2012-12-17 14:09] mattn commented on #281
直すのは簡単だけど、横並びのチェックが必要っぽい感じ。

[code]

[2012-12-17 14:10] mattn commented on #281
他にも同じ動作をする物がありそう。

[2012-12-17 15:25] k-takata commented on #277
いくつか調べてみたところ、こんな感じでした。

<table>
    <tr>
        <th> </th><th>VC/MinGW</th><th>Cygwin</th><th>BCC</th>
    </tr>
    <tr>
        <td>E2BIG</td><td>7</td><td>7</td><td>20</td>
    </tr>
    <tr>
        <td>EINVAL</td><td>22</td><td>22</td><td>19</td>
    </tr>
    <tr>
        <td>EILSEQ</td><td>42</td><td>138</td><td>-</td>
    </tr>
</table>

MinGWはmsvcrt.dllを使っている以上、VCと同じでないと動かないですよね。

_追記_
2

[2012-12-17 15:53] mattn commented on #277
afaik, bcc has different values. but i wonder bcc is able to build
latest vim at least...

On 12/18/12, K.Takata notifications@github.com wrote:

##
- Yasuhiro Matsumoto

[2012-12-17 16:09] thinca commented on #281
Vim「DRY? なにそれおいしいの?」

[2012-12-17 16:46] k-takata commented on #277
あぁ、そんな予感もしていましたが、わざわざインストールする気も起きなかったので…

[2012-12-17 17:50] koron commented on #278
なんか似たようなことをChaliceでやったような気が…記憶違いかもだけど。

[2012-12-17 20:35] tyru commented on #278
お、chalice調べてみます。

[2012-12-18 08:57] koron commented on #280
気になっているのは本来 autotools がやるべき仕事をやろうとしてないか、という点。
Vim 自体が autotools に見えてかなり違ったりするのでアレですが。

[2012-12-18 12:04] mattn commented on #260
`system([])` は入れた方がいい気がする。配列で指定された引数を CreateProcess 向けの文字列に変えるルールはmicrosoft自身が提示してたと思う。

[2012-12-18 16:06] k-takata commented on #280
makeの中でconfigureまでやろうとしている時点で、そういう方向に行ってしまっているような気が。

`configure`の実体が`auto/`の下にあるとか、`configure.in`を編集したら、`autoconf`を実行するのではなく、`make autoconf`を実行するとかいろいろびっくりです。

[2012-12-18 22:47] k-takata commented on #280
config.cacheは毎回更新されないようなので、config.statusに変更しました。
また、2回目のmake configが必ず失敗するのを修正しました。(暫定的)

[2012-12-19 00:03] LeafCage opened #282 "<C-g>に<Esc>をcmapすると代わりに挙動が<CR>のものになる"
[code]

すると、`:cmap <C-g>`で確認する限りでは`<Esc>`にマップされていますが、挙動が`<CR>`になります。

[2012-12-19 00:21] osyo-manga commented on #282
わたしの環境でも再現しました。
`KaoriyaVim 7.3.761`

[2012-12-19 01:11] mattn commented on #281
他にこの処理やってる箇所として
- setwinvar
- ex_listdo

があった。`settabwinvar` でも発生するはず。

[2012-12-19 01:11] mattn commented on #281
あと `:list` でも再現するはず

[2012-12-19 01:18] mattn commented on #281
んー。listは直すかどうか微妙だなー。

[2012-12-19 01:20] mattn commented on #281
とりあえず `settabwinvar()/settabvar()` だけで。

[code]

https://gist.github.com/4333634

[2012-12-19 01:26] LeafCage opened #283 "<Esc>を他のキーにマップしている時に、r(文字置き換え)モードではそのキーでエスケープすることが出来ない"
`<C-c>`や`<C-g>`などを`<Esc>`にリマップしている状態で`r`の文字置き換えでそのキーを押すと、
文字が^Cや^Gと置き換えられてしまいます。

[2012-12-19 01:37] thinca commented on #282
`:help c_<ESC>`

[code]

キーマッピングがマクロと同じ扱いならば、仕様ということになりますが、どうなんだろう。
ちなみに `{lhs}` は `<C-g>` に限らず発生、また help の通り、マクロ実行中にもこの挙動になりました。

また、今回の目的であれば `<C-c>` を使うのも手です。

`:help c_CTRL-C`

[code]

[2012-12-19 01:41] thinca commented on #281
似たようなコードが量産されていくっ…!!!

[2012-12-19 01:48] mattn commented on #283
発生したvimのバージョン、OSを書いて下さい。

[2012-12-19 01:48] mattn commented on #281
これがvimクオリティ

[2012-12-19 01:48] koron commented on #281
それがVimクオリティ!

[2012-12-19 02:15] koron commented on #280
これは autoconf & configure で作成した Makefile でもやってくれませんでしたっけ?
configure.in とか書き換えると自動で再生してくれ(たまにコケる)たような。

たぶん…自動生成されるファイルをautoしたに閉じ込めたいんでしょうね。
だとすれば気持ちはわかりますw

[2012-12-19 02:16] koron commented on #283
map のコマンドも書いてくれると再現テストがしやすいかも。

[2012-12-19 13:13] osyo-manga opened #284 "gvim で tabline の表示が崩れる"
下記の手順で再現しました。

[code]

![tab](https://f.cloud.github.com/assets/214488/21929/74030ca8-49dd-11e2-984d-428fa9ab6aa2.PNG)

上記の画像のように1つ前のタブ表示が再描画されずに残っています。
再現環境は以下のとおりです。
- WindowsXP
- Kaoriya Vim 7.3.761

[2012-12-19 13:15] h-east commented on #284
Patch 7.3.762 で修正されました。(maybe)

[2012-12-19 17:16] h-east commented on #281
まっつんさんがpatchをvim_devに投げた。
https://groups.google.com/d/topic/vim_dev/QQwVrAvvgLc/discussion

[2012-12-21 08:13] thinca opened #285 "Windows のシンボリックリンクが上書きされる"
Vim が Windows のシンボリックリンクを認識しない関係で、シンボリックリンクされたファイルを開いて保存すると、`'backupcopy'` が `yes` でもリンクではなく実ファイルになってしまいます。
ちなみにここで言うシンボリックリンクは Windows Vista 以降に使用可能な mklink コマンドで作れるやつです。

[2012-12-21 08:15] koron commented on #285
「シンボリックリンクされたファイル」で良いですか?
パス指定の間に「シンボリックリンクされたディレクトリ」を含む場合は期待通りに動きますよね?

[2012-12-21 08:20] k-takata commented on #285
todo入りしています。 #241

[2012-12-21 08:21] thinca commented on #285
おっと。重複してましたか。失礼しました。

[2012-12-21 08:21] #285 closed, assigned to nobody

[2012-12-21 08:21] koron commented on #285
まだ入ってなかったのか…

[2012-12-21 09:37] rickhowe opened #286 "cursorline が効きません"
すいません教えてください。

hi NumBold gui=bold
match NumBold /\d+/
set cursorline

とした場合、数字 (\d+) の部分は
cursorline の背景色が変わらないのですが、
対策を教えてください。

[2012-12-21 09:38] thinca commented on #286
Vim の正規表現では `\+` と書く必要があります。

[code]

`:help /\+` も参照してみてください。

[2012-12-21 09:40] thinca commented on #286
おっと。ちゃんと質問を読んでませんでした。すいません。
`cursorline` については今のところ対策はちょっと無理かと思います。

[2012-12-21 09:42] rickhowe commented on #286
さっそくありがとうございます。
すいません、書き間違えていました。
\d\\+ でダメです。

[2012-12-21 09:48] mattn commented on #286
ctermbg か guibg を指定していないからでは？
cursorline の色を上書きしたいという事ですか？ちなみに hi で指定出来る背景色は、マッチ部分右端から画面右端までは塗れないのであしからず。

[2012-12-21 09:56] rickhowe commented on #286
この例の場合、数字の部分も cursorline の効果をそのまま維持したいのですが、無理でしょうか？

[2012-12-21 10:11] mattn commented on #286
試した感じだと無理そうですね。

[2012-12-25 02:12] thinca commented on #286
これは、そういうことができるようになって欲しい、と言う本体への「要望」ってことでいいんでしょうか?
もしそうであればIssueのタイトルをわかりやすいものに変更してもらえるといい感じです。

[2012-12-25 02:13] thinca commented on #279
(提案するだけしておいてほとんど自分は動けてない…)

[2012-12-25 02:14] thinca commented on #78
このパッチって今はどうなってるのでしょ?

[2012-12-25 02:16] thinca commented on #249
これは `:cfile` でいいんですよね?
`<cifle>` もあって紛らわしかったのでタイトルと本文直しておきました。違ったらすいませんが再修成してください。

[2012-12-25 02:17] mattn commented on #78
送りはしたけどどうなったんだろ

https://groups.google.com/d/topic/vim_dev/Dnb4OcDriJ0/discussion

原作者から返事がない...ってステータスだと思う。

[2012-12-25 02:21] mattn commented on #286
hsとかheみたいな感じでeolまで描くのが欲しい。

[2012-12-25 02:23] thinca commented on #78
ふむぅ。本気でやるなら突っついた方がいいかもしれないですねぇ。メンテナが連絡怠ってるならメンテな交代もあり得るでしょうし。
そして泥沼へ…。

[2012-12-25 02:25] thinca commented on #286
欲しいですね。
unite.vim とかは、行末までハイライトするためにわざわざ行末までスペースを埋めてます。涙ぐましい…。

[2012-12-25 02:26] mattn commented on #78
pythoncompleteには未来がない

[2012-12-25 02:28] thinca commented on #78
ちらっとコード見て、名前空間無視した作りになっていたのでその時点でもうないですね…。

[2012-12-25 02:29] thinca commented on #276
関連: #255

[2012-12-25 02:30] Shougo commented on #286
はい。私もそういう機能が欲しいです……。

[2012-12-25 02:30] thinca commented on #74
これはすでにTODOリストに入ってたってことで閉じます。

[2012-12-25 02:31] thinca commented on #284
@osyo-manga 確認して直っていたら閉じてもらえると。

[2012-12-25 02:35] mattn commented on #74
閉じますと言っておられるので閉じます。

[2012-12-25 02:35] #74 closed, assigned to nobody

[2012-12-25 02:37] thinca commented on #74
おりょ、閉じれてませんでしたか。さーせん&あざす。

[2012-12-25 02:41] thinca commented on #282
誰かこの辺り詳しい人いませんかっ！

[2012-12-25 02:53] thinca commented on #249
多分関連: #9

[2012-12-25 02:55] koron commented on #78
jediに入れ替える提案すべき?

[2012-12-25 02:58] koron commented on #249
修正箇所的には別の場所になりそうな悪寒w

[2012-12-25 03:01] mattn commented on #78
あれどういう経緯になってるんだろうね。
作者が取り込んでーってお願いするパターンだろうけど、そうするとjediの作者に許可もいるし前の作者にも気を使わないといけないし・・・
めんどいなー。

[2012-12-25 03:08] mattn commented on #249
fencs効かせる事になると`:cfile ++enc=xxx`もいるなー。

[2012-12-25 03:29] heavenshell commented on #78
jedi は素晴らしいんですが、Python モジュールをインストールする必要があるので、依存してる Python のモジュールも一緒に組み込んじゃうんでしょうか?

[2012-12-25 03:36] osyo-manga commented on #284
まだ Kaoriya Vim が更新されていないので、わたしの方で確認するにはもう少し時間がかかるかも知れません。
わたしの環境で動作確認でき次第閉じようと思っていますが、他の方の環境で動作確認が出来れば閉じていただいても構いませぬ。

[2012-12-25 03:43] thinca commented on #284
@koron 先生、出番です！

[2012-12-25 04:15] rickhowe commented on #286
syn match Num "\d\+"
hi def Num gui=bold
set cursorline

でできたようです。

[2012-12-25 04:16] mattn commented on #286
# 深読みしすぎ

[2012-12-25 04:17] thinca commented on #286
行末までハイライトの件は別途Issue立てた方が良さそうですね。

[2012-12-25 04:20] rickhowe commented on #286
間違って close を押してしまいました。すいません。

[2012-12-25 04:24] mattn commented on #286
@ZBryce 意図が違ってて、ZBryceさん個人のissueが解決したのならば閉じた方が良いです。

[2012-12-25 04:30] koron commented on #284
さーせん。ちかいうち更新します。

[2012-12-25 06:34] thinca commented on #276
そう言えば、zip や tar との連携もしたいんですよねぇ。`scp://example.com/foo.zip` とか。
今って `netrw` と `zipPlugin` は独立して動いてたのでこういうのは扱えなかったはず。

[2012-12-25 06:39] thinca commented on #272
うちの環境では `latin1` で開かれて、特に化けませんね。

[2012-12-25 06:40] thinca commented on #272
まあただ、私も個人的には全部 UTF-8 に統一したいですねw

[2012-12-25 11:36] ynkdir commented on #282
キーマッピングはマクロです

[2012-12-25 13:09] Shougo commented on #276
そうですね。そのあたりも中途半端なのは気になっていました。

[2012-12-25 15:47] koron commented on #284
@osyo-manga 更新しました。確認お願いします。

[2012-12-25 22:46] osyo-manga commented on #284
ありがとうございます！
問題なく動作することを確認しました。

[2012-12-25 22:46] #284 closed, assigned to nobody

[2012-12-26 06:53] thinca commented on #246
これは記事を書いたら close?

[2012-12-26 06:56] thinca commented on #18
ちょっとよくわかってないんですが、これはそもそも何が問題なんでしょうか?

[2012-12-26 07:00] mattn commented on #18
ぼくもあまり問題が分かってない

[2012-12-26 07:04] thinca commented on #21
これ、とりあえず日本語版だけでも訳注入れておきます?

[2012-12-26 07:06] thinca commented on #21
[code]

こんな感じ?

[2012-12-26 07:08] thinca commented on #18
誰も分かってない説…。
@koron さんもわかってなかったら閉じてしまっていい気がします。

[2012-12-26 07:08] mattn commented on #21
オフィシャルから変えるべきかと。

[2012-12-26 07:15] thinca commented on #21
むぅ。まあそうですよね…。

[2012-12-26 07:18] thinca commented on #27
これって何か進展あったでしょうか?
ちなみに今 7.3.761 で試したところ、まだ発生する模様。

[2012-12-26 07:25] mattn commented on #27
これみたいにカラムがずれますか？

https://github.com/vim-jp/issues/issues/27#issuecomment-2169526

Windows CUIだとならないっぽい。

[2012-12-26 07:25] mattn commented on #27
あ、うそ。
なった。

[2012-12-26 07:27] mattn commented on #27
難易度高そう。
投げた方が良い気がした。

[2012-12-26 07:29] thinca commented on #75
これ今ラベルが `status/patched` になってますけど、 @ynkdir さんの案を採用するとなるとまだパッチはない?

[2012-12-26 07:32] thinca commented on #73
TODOリストに入ってるってことで閉じることにします。

[2012-12-26 07:32] #73 closed, assigned to nobody

[2012-12-26 07:45] thinca commented on #96
`:help user-cmd-ambiguous`

[code]

[code]

help に書いてありますねぇ。
ちなみに `_` はそもそもコマンド名として使えないので、処理としては妥当な気がします。直感からは反しますがw

[2012-12-26 07:54] thinca commented on #149
これは後は投げるだけですか?

[2012-12-26 07:59] thinca commented on #161
せめて64bitになれば…。
`localtime()` も当然 32bit なので、2038年問題がもろに残ってるんですよね。

[2012-12-26 08:00] mattn commented on #149
うい

https://groups.google.com/d/topic/vim_dev/aSGYLTqX6_k/discussion

[2012-12-26 08:05] mattn commented on #86
どうせ出すなら md5 と一緒に出したい。

[2012-12-26 08:06] mattn commented on #161
これなんとかしたい。

[2012-12-26 08:07] thinca commented on #130
上記の4つのうち残っているのは #30 だけで、残りは閉じられてますね。

[2012-12-26 08:08] thinca commented on #279
関連? #130

[2012-12-26 08:08] thinca commented on #149
mattn++

[2012-12-26 08:10] thinca commented on #161
2038年問題は大きな訴求点として使えそうです。いずれ対応しないといけないわけなので。

[2012-12-26 09:09] mattn commented on #161
なげた

https://groups.google.com/d/topic/vim_dev/p8Fl_vJDGy8/discussion

[2012-12-26 12:33] koron commented on #246
may be.

[2012-12-26 12:36] koron commented on #18
ファイルを開くなどしたタイミングで、
**利用者が意図しないautoloadを発生させられるか否か**
だけにフォーカスすれば良いです。

可能なら対策を考えるし、不可能ならテロはできないってことで閉じましょう。

[2012-12-26 12:38] koron commented on #75
なさげ。

[2012-12-26 12:43] koron commented on #30
@h-east これステータスどうなってます? まだ再現しますか?

なんか直る見込みもクレームが付くことも少ないので
wontfix で閉じちゃっても良いんじゃないかと考えています。

[2012-12-26 12:51] thinca commented on #161
mattn++

[2012-12-26 12:52] thinca commented on #18
何を以って利用者が意図しない autoload なのかいまいちよくわからず。
`BufReadPost` などを使っているプラグインなどはファイル読み込み時に autoload が発生する可能性が当然あるわけですが、それが問題ってことはないですよね?

[2012-12-26 12:55] koron commented on #149
:+1: @mattn

[2012-12-26 12:56] thinca commented on #75
`status/patches welcome` にしておきました。

[2012-12-26 12:56] koron commented on #161
とか合いの手を入れる流れ?

[2012-12-26 12:56] k-takata commented on #253
7.3.707で取り込まれていますので、ラベルをfixedに変更しました。
https://groups.google.com/d/topic/vim_dev/bTJP7zVGBVI/discussion

[2012-12-26 13:00] koron commented on #18
ちがいます。たとえばmodelineに

[code]

と書いたファイルを開かせたら、その瞬間にautoload/foo.vim が読まれちゃう感じ。
本来動くべきではない autoload を modeline から実行できないだろうか、というあたりです。
パッと思いつくのはfoldexprとかか?

[2012-12-26 13:01] thinca commented on #18
基本的に式を含むオプションはセキュリティのために modeline からは設定できないはずです。

[2012-12-26 13:01] koron commented on #18
私が過去に書いた

これ、誰か回答できませんかね?

[2012-12-26 13:02] mattn commented on #18
つ foldexpr

[2012-12-26 13:02] thinca commented on #18
…と思ったけど、できるのもある?

[2012-12-26 13:02] mattn commented on #18
まぁただmodeline実行中はsandboxですが

[2012-12-26 13:03] thinca commented on #18
sandbox なだけで設定はできますね。勘違い。

[2012-12-26 13:04] h-east commented on #30
Windows 7 Home Premium(64bit) SP1でテーマを「Windowsクラシック」 + GVim 7.3.762 (64bit kaoriya)で再現しました。

では閉じちゃいます。

[2012-12-26 13:04] #30 closed, assigned to h-east

[2012-12-26 13:07] koron commented on #18
つまり可能性は0ではないってことで良い?

現時点で可能な対処法は sandbox でも設定可能な expr 系のオプションの動作を精査
修正していく、くらい。

そこまでわかればこの Issue は閉じて良いと考えてます。

[2012-12-26 13:07] koron commented on #253
:+1: @k-takata

[2012-12-26 13:07] thinca commented on #18
重くなるとしたら恐らく単にスクリプトが重いわけで、autoload は関係ない気がします。重い関数はどこに書こうが重い。

[2012-12-26 13:10] thinca commented on #149
投げた後でアレですが、今ふと思ったんですが、簡単に可能なら `nr2char({expr} [, {encoding}])` とかの方が汎用性高かったですね。
しかしパッチ見た感じだと簡単にできるって感じでもなさげ。(よくわからないけど)

[2012-12-26 13:13] mattn commented on #18
意図的にエラーを発生させてテロっぽくする事は出来ると思います。

[code]

このファイル開くと...

[2012-12-26 13:16] koron commented on #18
まぁ vimproc は例外としてw

modeline から autoload を発生させ、その autoload から次々に別の autoload を、
というのを他のプラグインに隠してできますよね。きっと嫌がらせにすぎないんでしょうが。

[2012-12-26 13:16] thinca commented on #18
そもそも、それは autoload 関係ないですよね。`vimproc#system` がたまたま autoload なだけで、`VimprocSystem` でも同じ事。

[2012-12-26 13:18] thinca commented on #18
autoload ってことはユーザが意図的に入れたプラグインであるはずなので、発生するとしたら嫌がらせではなくて不幸な事故かなぁ、と。

[2012-12-26 13:20] koron commented on #18
プラグインがトロイの木馬である可能性は?

[2012-12-26 13:22] thinca commented on #18
その可能性を疑ったら、Vim は基本ファイル操作からなんでもできるので、普通にウィルスですね。
Vimプラグインが安全であるかどうかはユーザが担保する必要があります。

[2012-12-26 13:24] koron commented on #18
つまり @thinca さんの主張は
**仮にそれが発生しうるとしてもユーザ責任だから Vim 側でそれについて考える/対策する必要はない**
ということでOK?

[2012-12-26 13:25] thinca commented on #18
そうなります。インストールしたプラグインが信頼できるかどうかはユーザが責任を負うしかない。Vimプラグインに限らずソフトウェア全般に言えることかと。

[2012-12-26 13:28] mattn commented on #18
↑のサンプル、sandboxでまずいの設定されたら設定クリアした方がいい気がする。実際↑の、カーソル移動を困難にさせる

[2012-12-26 13:41] thinca commented on #70
本日気まぐれで `status/patches welcome` を追加しました。名前の通り、仕様が大体決まってパッチ募集中な状態です。
名前気に入らなかったら自由に変えてください＞＜

[2012-12-26 13:58] koron commented on #18
私は @mattn さんの

これに賛成なんですよ。どうやるかは別ですがw
つまり  **考える/(可能なら)対策する必要がある** という立場。
autoload にからめてユーザの操作を困難にさせる(もしくはデータを壊す)ような抜け道がないか気になっており
仮にあるなら把握し、できることならば対策を打っておきたいのです。

特に autoload のようなポジティブ・フィードバックな仕組みに対しては
それを食い止めるなんらかのsafetyを
autoload を提供したVim自身が提供すべきという考え方です。
それは modeline の後から sandbox が提供されたようにです。

[2012-12-26 14:00] thinca commented on #18
上のサンプルがまずいのは autoload じゃなくて式がエラーを出していることですよね? autoload は関係ない気がしますが。

[2012-12-26 14:01] thinca commented on #18
設定クリアされた方が良い、という点には私も賛成です。ただしそれはこの Issue とは別件になるかと。

[2012-12-26 14:02] koron commented on #18
これが全てです。

[2012-12-26 14:04] koron opened #287 "エラーになった *expr オプションの取り扱い"
`*expr` 系オプションで、その実行がエラーになった(例外を返した)ものについては、
設定をクリアするか実行不可フラグを立てて再設定されるまで実行しないようにすると良さげ。

設定ミスったとかで操作困難になるのを防ぐため。

[2012-12-26 14:05] koron commented on #18
expr のエラーについては #287 立てました。

こっちは

検討する Issue としましょう。もしくはそのようなパスがないことを証明しましょう。

[2012-12-26 14:09] koron commented on #287
一例: https://github.com/vim-jp/issues/issues/18#issuecomment-11686187

[2012-12-26 14:09] thinca commented on #18
少なくとも私は今のところ思い付かないですね。

可能なんですかね?
検討するのはもちろんいいことですが、セキュリティホールって大体潰したと思っても後からまた見つかったりするものなので、見つかるたびに対応するしかないのかなぁと思ってます。

[2012-12-26 14:12] thinca commented on #287
ちなみに、`'statusline'` はエラー時に空になるみたいです。なので、他のも空でもよさそうな気がしますが、何かなってない理由があったりするんでしょうかね。単に検討されてないだけかな?

[2012-12-26 14:13] tyru commented on #161
ステマ...!

[2012-12-26 14:16] koron commented on #18
こういうのは、その時に持ってる情報でひととおり検討したよ、といえることが重要です。
その結果として「発生しないと判断した」なら良いんですよ。

[2012-12-26 14:24] tyru commented on #18
例えばファイルを読み込んだだけで、modelineでrtpの先頭にパスを追加でき、なおかつautoloadを発生させることができるとかだったら脆弱性と言えそう、とか思いました。実際できないでしょうが。
どこまでがユーザの「意図通り」なのかの線引きが難しいですね。

[2012-12-26 14:27] koron commented on #18
今持ってる情報を整理しましょう。
- 変数の読み取りで autoload が発生しうる (←これが発端であり結構問題を孕んでいる気がするが)
- 変数の読み取りを書ける(実行されうる)場所は把握できているか?
  - 仮にmodeline で発生する場合、sandbox で autoload が実行されないか? それとも sandbox 外なのか
  - その他、autoload 側で気を使わなきゃいけないもしくは、気を使ってもどうにもならないタイミングや条件はないか?

この辺が検討尽くせれば、現時点では充分でしょう。

[2012-12-26 14:30] koron commented on #18
ふと思いついたんだけど
**autoload の地の文では関数をcallできない**
ってだけでも、対策になるかもしれない。

[2012-12-26 14:38] tyru commented on #18
正直自分が言ったような仕様のセキュリティホールよりも、
- modeline中にnullバイト文字
- マルチバイトの上位バイトの次がnullバイト文字
- その他ユーザがVimに読み込ませるファイル、あるいはVimが読み込まざるをえないファイル中にある_不正バイト列によるSEGV_を利用した乗っ取り

の方がVimにとってはありそうかもと思いました。

[2012-12-26 14:42] thinca commented on #18
トップレベルで関数が呼べないと動かなくなるスクリプトが大量に出るので互換性の面から無理ですね。

[2012-12-26 15:15] tyru commented on #18
Windowsで`con#func()`とか`nul#func()`とかやったらフリーズさせられるかと思ってやってみたけどできませんでした...

[2012-12-26 15:21] koron commented on #18
アレをやろうと考えているわけではなく、
アレで解決されていることが問題の本質を捕まえる手がかりになる
と考えているのです。

[2012-12-26 15:32] koron commented on #18
そういえば、過去にはその互換性の面を捨てて sandbox 導入した経緯もあるから、無理とは言えない。
結局のところ影響とのトレードオフなんでしょう。

[2012-12-26 15:39] koron commented on #18
Vim がセキュリティについて sandbox アプローチを取っている以上
autoload と sandbox の関係に絞って考えるのが良さそう。

sandbox 環境下で autoload 発生させるようなケースにおいて
- autoload 実行時に sandbox が機能しているか検証する
  - sandbox で実行されて困る可能性はないか
  - sandobx から抜けてしまう(セキュリティホールになる)可能性はないか
- sandbox として追加で制限しなければならない操作はないか

という感じで考えるのが良いだろう。

[2012-12-26 15:44] koron commented on #18
なんか sandbox の定義をみていると「新しい関数は定義できない」とあったので、
sandbox 内で autoload が機能するならば、それはそれでおかしい気もするw

[2012-12-26 19:28] h-east commented on #6
方向もなにも、
ユーザへ情報をお伝えする表示のためにバッファ名に使用できない文字を無くしたい ＜＜＜＜＜＜＜(越えられない壁)＜＜＜＜＜＜＜＜＜＜＜＜＜＜＜＜＜＜＜ それを実現するためのコスト
が確定している状態なのでthincaさんがどこかで妥協しないと `wontfix` か `invalid` でcloseする流れでしょう。

だからみんな反応しないんだと思う。(maybe)

目的を「バッファ名に使用できない文字を無くしたい」ではなく、以下の引用部分をスマートに解決する事に注目すればいいんじゃないんでしょうか？

答が`No`だったら以下読まなくて結構です。

capture.vimはtyruさんのがmasterかな？
https://github.com/tyru/capture.vim/blob/master/plugin/capture.vim

### Vimのソースコード

[2012-12-26 22:17] k-takata commented on #280
あ、できましたね。

Gistで編集をミスって一部のTABがスペースに変換されてしまったり、2回目のmake configが必ず失敗するのを修正したつもりが全く直っていなかったのを（数日前に）修正しました。

[2012-12-27 01:59] thinca commented on #6
なんで私限定なんでしょう? もしかして私のワガママみたいな扱いになってますか? 私はVim自体が抱えている問題として取り上げたつもりでしたが…。

まだ議論され尽くしたとは思っていません。急いで閉じようとしなくても、場合によっては寝かせてみるもアリだと考えています。
問題を解決することが目的であって、Issue を閉じることが目的ではありません。

で、いくつかの提案ありがとうございます。私の意見を書いておきます。

根本の解決を図ろうとしたら非常に大掛かりで実質変更が難しい問題であることは理解しています。
とりあえずこの問題はそもそも、

この辺りが起源だと思っています。で、そもそもいったい何がまずくて、どういう方向で解決していけばいいのか、迷走した感があったので一旦まとめたいなーと思ったわけです。